[2017-03-29 21:38] jefferai commented on #2538
@FinalDes Those aren't products. Those are capabilities within Vault itself. Vault does a lot...

[2017-03-29 21:43] jefferai commented on #2532
Are you making those TCP connections to Vault from the standby server to the active server?

I don't have any specific ideas, however, usually when we've seen this it's ended up being a firewall or some kind of security product between the nodes that's causing issues -- in some cases only between the nodes, not between clients and each node (hence my earlier question).

[2017-03-29 22:06] raoofm opened #2543 "can tls be disabled if vault cluster is behind a kubernetes service"
The idea is to have a vault HA cluster deployed using kubernetes and expose it using an aws elb on ssl. It will use etcd v3 backend. etcd is using ssl, so vault will talk to etcd on ssl but i think it is safe to disable tls for vault when we are not exposing the actual containers. Apps will talk to vault via elb and HA will work based on forwarding (not redirection, and will not get into a loop)

[2017-03-30 04:19] FinalDes commented on #2538
I see @jefferai

[2017-03-30 10:25] PhillippOhlandt commented on #796
Any news on this?

[2017-03-30 14:25] sbatchu0108 commented on #2541
@jefferai In 0.7 version we have primary and secondary clusters defined, so what i was asking is in primary cluster lets assume we have 3 nodes, so how are these nodes defined like all these are in active mode or just one node is in active mode within the cluster.

[2017-03-30 15:26] broamski commented on #2520
Any explanation of why this is occurring on a non-HA cluster?

[2017-03-30 17:13] jefferai commented on #2543
@raoofm To be honest I'm not entirely sure what the question is. What you're proposing should be decided based on your organizational security policy (e.g. whether end-to-end encryption is required, including whether it's allowable for an ELB to decrypt sessions), which may in turn be based on industry requirements (PCI3, SOX, etc.).

[2017-03-30 21:07] briankassouf commented on #2520
Hi @broamski

Not off hand, how is your vault configured and what steps are you taking to upgrade? Would you be willing to share your operating logs, potentially using the same debugging branches @jefferai  mentioned above?

[2017-03-30 21:37] jefferai commented on #2541
Hi,

In the primary cluster there is one active node given a set of nodes participating in HA. The same can be true of secondaries. That's why you have a primary/secondary _cluster_ rather than _node_; we mean a given HA cluster.

[2017-03-30 21:40] jefferai commented on #796
It's being implemented in https://github.com/hashicorp/vault/issues/2021 -- in fact, I should just close this in favor of it.

[2017-03-30 21:40] #796 closed

[2017-03-30 21:41] jefferai commented on #2538
That's what the help pages are there for. They describe what the capability does and how to use it.

[2017-03-30 21:41] #2538 closed

[2017-03-30 21:46] jimmycuadra commented on #2092
Our team would really like first class support for multiple vaults in the Vault CLI. It'd be ideal to have something akin to the [aws cli's profiles](https://docs.aws.amazon.com/cli/latest/userguide/cli-chap-getting-started.html#cli-multiple-profiles). I imagine something like this:

[code]

Switching the active vault:

[code]

Adding a new vault to the config file:

[code]

Explicitly specify the

[2017-03-30 21:54] jefferai commented on #2092
@jimmycuadra It's not documented super well but the CLI can invoke an external token-helper to provide a token, which could potentially look at e.g. env vars to decide which token to return.

[2017-03-30 21:58] jimmycuadra commented on #2092
Another example of using a CLI like this to target multiple instances of a server-side tool that I think is done really well is Kubernetes's kubeconfig format, which is consumed by `kubectl` and managed through `kubectl config`. It lets you easily switch between different Kubernetes clusters.

* https://kubernetes.io/docs/concepts/cluster-administration/authenticate-across-clusters-kubeconfig/
* h

[2017-03-31 07:37] FinalDes commented on #2538
@jefferai in help page don't explain much about Transit and cubbyhole

[2017-03-31 08:05] PhillippOhlandt commented on #796
@jefferai cool. any ETA on the merge + release?

[2017-03-31 13:36] raoofm opened #2549 "support srv discovery of etcd cluster instead of address field to mention a list of endpoints"
etcd cluster is discovered based on srv records, can this be supported for etcd backend in vault.

[2017-03-31 13:36] raoofm commented on #2549
adding @xiang90

[2017-03-31 13:53] slingamn commented on #2511
I can see a couple options:

1. The most straightforward thing is to disallow revocation of certificates issued from `no_store` roles. This seems pretty easy to implement --- it's the behavior we'd get by simply omitting the store operation. Revocation would then fail [this check](https://github.com/hashicorp/vault/blob/790261277397502e1565cac64abaea3ab6cbec0a/builtin/logical/pki/crl_util.go#L63).

[2017-03-31 14:07] Wonder007 opened #2550 "Kubernetes"
Can anyone please provide a brief comparison between Vault vs kubernetes to store secrets?

Vault --> Genric solution to store any secret
Kubernetes  --> Specific to containerized applications

Thanks

[2017-03-31 14:18] mwitkow commented on #2550
Vault allows you to dynamically issue secrets for supported backends, **and** store secrets. Kubernetes only allows you to store secrets.

For example, you can dynamically issue TLS certificates if you configure a PKI Secrets Backend in vault:
https://www.vaultproject.io/docs/secrets/pki/

There are projects that allow you to automatically get a Vault Token (which can be exchanged for secrets) fro

[2017-03-31 14:48] mwitkow commented on #2525
@jefferai here's a proposal design doc for the OIDC auth backend for Vault:
https://docs.google.com/document/d/1saxtZMuh3OYilpa0BvP5_Ien_6U5bqdqOUj5AATdTtc/edit?usp=sharing

The one thing where I'm lacking context is how Vault AcceptanceTests work, but a straw-man proposal for using them is outlined in the document.

@ericchiang, CoreOS Dex maintainer and K8S OIDC contributor for context.

[2017-03-31 15:36] jefferai commented on #2525
@mwitkow Thanks for writing this up! I won't have time to get to it in depth until early next week, probably, but one thing I wanted to make you aware of up front: we do not allow the use of the PathMap/PolicyMap constructs in new backends, so you're not going to get an automatic API, and the proposal should sketch out what an API for the backend looks like.

[2017-03-31 17:01] ericchiang commented on #2525
@mwitkow hey yeah I'd be happy to provide code reviews and feedback on this! Overall content seems reasonable.

Please let us know if you need anything on the github.com/coreos/go-oidc side of things or if any explanations of OpenID Connect related things would be helpful.

[2017-03-31 17:14] jefferai commented on #2511
I think (1) is fine and not convinced (2) is ever necessary, so (1) is definitely fine by itself.

[2017-03-31 17:15] jefferai commented on #2538
@FinalDes If you have specific questions, please ask them on the mailing list.

[2017-03-31 18:35] rgruyters opened #2551 "SSH CA: key_cert_check_authority: invalid certificate"
I'm trying to setup SSH CA in my testenvironment. I have two servers both running Ubuntu latest LTS release, 16.04, and Vault 0.7 running on one of the servers.
ubuntu-01 in my is the remote server and ubuntu-02 is the client server.

I have generated with Vault the host CA key and added to both servers in the `/etc/ssh/ssh_known_hosts` with `@cert-authority *.local` in front of it. Then signed th

[2017-03-31 19:15] jefferai commented on #2551
Can you list the Vault API calls and/or command line calls you're making? Indeed the certificate has no principals but it should be getting them from args -- but possibly you're not supplying them and there's a check missing that should ensure that one or more have actually been supplied.

[2017-03-31 19:57] rgruyters commented on #2551
I have installed two clean testservers to make sure that nothing came from other installations.

[code]

Copied the `users_ca.pub` to remote host in `/etc/ssh/users_ca.pub`.

[code]

Copied the `ssh_host_rsa_key.pub` from the other host and:
[code]
Copied the output file back to remote host to `/etc/ssh/ssh_host_rsa_key-cert.pub` and added to entries to the `/etc/ssh/sshd_config` on the remote hos

[2017-03-31 20:10] mwitkow commented on #2525
Jeff, I understand why you guys don t want to support the path to policy
mapping. Do you have an example of an API I could follow? As long as it's a
mapping (JSON or path) from external names to Vault policy enamel we should
be fine here 🙂

On Fri, 31 Mar 2017, 18:01 Eric Chiang, <notifications@github.com> wrote:

@mwitkow <https://github.com/mwitkow> hey yeah I'd be happy to provide code
reviews

[2017-03-31 21:09] jefferai commented on #2525
Hi @mwitkow ,

Generally these days we use `config/` for config paths, `roles/` for roles, `users/` for users and `groups/` for groups. Pretty straightforward. In your doc you are using teams, which probably would slot into the "roles" vernacular. It's pretty easy to change later on (at least until it's publicly released) but one of the reasons we don't use those maps anymore is that they make cha

[2017-03-31 21:16] jefferai commented on #2551
@rgruyters Your output got truncated, probably due to mismatched formatting? ^

[2017-03-31 21:30] mwitkow commented on #2525
Cool, would you rather have a separate config variable that matches JWT
claims to Vault groups and roles then? (can you link me something that
defines them clearer in your vernacular?) That actually very much aligns
with what we want to do 🙂

On Fri, 31 Mar 2017, 22:09 Jeff Mitchell, <notifications@github.com> wrote:

[2017-03-31 21:43] jefferai commented on #2525
@mwitkow How familiar are you with Vault generally? Maybe it would be good to have a call at some point and discuss what you're trying to do, because who defines what, where, depends pretty strongly on what use cases you're trying to solve.

[2017-03-31 22:01] mwitkow commented on #2525
Sure happy to grab a chat 🙂 anything that somewhat overlaps with BST
timezone would work. If you're on Gapps just stick something in my
Michal(weird symbol)improbable.io calendar 🙂

On Fri, 31 Mar 2017, 22:43 Jeff Mitchell, <notifications@github.com> wrote:

[2017-04-01 08:56] rgruyters commented on #2551
@jefferai what do you mean? the above output looks fine to me. As in I can read all the commands and output perfectly.

[2017-04-01 09:44] rgruyters commented on #2551
@jefferai you said:

Which args do I need to supply to fill in the correct principals? The Vault documentation doesn't explain this:
https://www.vaultproject.io/docs/secrets/ssh/index.html#sign-the-client-key

[2017-04-01 09:47] rgruyters commented on #2551
There is the option `valid_principals` for signing, but then I get:
[code]

[2017-04-01 10:03] saikatguha opened #2552 "Non-portable cert file names for pki backend (colon characters in CIFS mount)"
I have the data folder mounted using CIFS.
unix filename translation is not supported in my environment.
The PKI backend attempts to write the cert to file: `logical/<guid>/certs/_33:d2:80:....`
Due to colon characters in the name, the file creation fails, and the PKI backend doesn't work.

It should be possible to use characters that are portable across platforms.

[2017-04-02 04:20] bhiggins opened #2553 "PKI: bug regarding "IP Subject Alternative Names are not allowed in this role, but was provided some via CSR""
The CSRs I send to Vault are minimal and do not contain IP SANs (or in fact any SANs). I hit the error in the subject after upgrading to 0.7.0 after being on 0.6.4. After looking at the code I see there's two places where this error is produced and I think I'm hitting this one:

https://github.com/hashicorp/vault/blob/v0.7.0/builtin/logical/pki/cert_util.go#L639

I'm hitting all the conditions: I

[2017-04-02 04:37] bhiggins opened #2555 "PKI: Preserve case of role's OrganizationalUnit and Organization"
Lowercasing is a bit unexpected for these fields. Both are put through strutil.ParseDedupAndSortStrings which lowercases.

[2017-04-02 13:28] jeroenjacobs1205 opened #2556 "vault healthchecks going haywire with consul backend"
I have a Consul cluster consisting of 3 servers: consul01, consul02, consul03. This cluster is working fine.

I decided to install Vault on the same machines, using the Consul backend. This is my config file:

[code]

However, the vault healthchecks are completely messed up after I unsealed the Vault for the first time:

[code]

Note how consul02 is suddenly listed twice, also it lists a healthche

[2017-04-02 13:32] jefferai commented on #2556
Health checks are local to an agent. By pointing Vault directly at the Consul servers if it transitions which service address it resolves to the new agent will get the same health check (note how the IP addresses are different). You should remove those checks and point Vault to the local agent, e.g. 127.0.0.1:8500, and that should fix it.

[2017-04-02 13:32] #2556 closed

[2017-04-02 13:34] jefferai commented on #2553
Can you provide the CSR? It would help with debugging/verification.

[2017-04-02 13:42] jeroenjacobs1205 commented on #2556
Pointing to the local agent worked. Thanks! :-)

[2017-04-02 18:17] rgruyters commented on #2551
Last but not least, I also tried to update the clientrole to allow a specific user.
[code]

Then add a `valid_principals=robin` when signing a public key from the user. This looks more promising, although still not able to login remotely without user password.
[code]

[2017-04-03 00:04] bhiggins commented on #2553
Certainly. My goal with the CSR is to keep it minimal and use it only convey the public key (I didn't see another way to do so). Everything else I want in the signed cert is sent outside the CSR (in my case, I only use common_name and alt_names, not yet had a need to anything else like ip_sans). As a result I'm able to generate CSRs very simply with Go like this: `csr, err := x509.CreateCertificat

[2017-04-03 07:06] schmitzhermes opened #2559 "bound_cidr_list does not work behind reverse proxy"
Hey folks,

(using the latest version of Vault, but not `master`)

I am experiencing an issue with `bound_cidr_list`. We set up Vault behind an Apache Reverse Proxy httpd). I enabled the app-role backend and set the `bound_cidr_list` to an IP-address range I'd like to connect from (e.g. 129.13.24.0/24).

When I try to connect to the vault server using the app role backend like this:
`vault write a

[2017-04-03 08:42] pkhamre commented on #824
+1

[2017-04-03 12:28] shantanudas37 opened #2560 "Token renew is not working with Periodic option."
Hi Team,

I'm Authenticating against AppRole configured with period as 6m. Please find the below steps.

Creating AppRole:
vault write auth/approle/role/testrole period=6m

testrole.hcl:
# Allow creating tokens under "nomad-cluster" token role. The token role name
# should be updated if "nomad-cluster" is not used.
path "auth/token/create/testrole" {
  capabilities = ["update"]
}

# Allow looking

[2017-04-03 12:44] vishalnayak commented on #2560
@shantanudas37 Renewal should be done *before* 6m and not after.

[2017-04-03 12:46] jefferai commented on #2559
Vault doesn't (currently) look at X-Forwarded-For, X-Real-IP, or its ilk, so this is expected behavior.

[2017-04-03 12:46] #2559 closed

[2017-04-03 13:12] jefferai commented on #2560
Working as designed; if the period runs out the token is revoked as expected. As @vishalnayak said, you must renew before then, not after.

[2017-04-03 13:12] #2560 closed

[2017-04-03 13:26] shantanudas37 commented on #2560
Thanks for the update.

By using period option whether the token renewed automatically or manually the renewal command "vault write -f /auth/token/renew-self" should be executed before 6m.

Please confirm once and let me know your commands.

[2017-04-03 13:43] vishalnayak commented on #2560
@shantanudas37 Tokens are not renewed automatically. Clients need to renew them. The command you are using should do it if you are authenticated with the token that needs renewal. If not, you could use this API `/auth/token/renew</token>`. Please see https://www.vaultproject.io/docs/auth/token.html for more details.

[2017-04-03 13:47] vishalnayak commented on #2560
Also, if you use the API `/auth/token/renew[/token]`, be sure to put the token in the request body and not the URL.

[2017-04-03 13:49] shantanudas37 commented on #2560
HI vishalnayak,
Thanks for the above information.
Could please give provide the information on below question.

Is any option to renew the token automatically before it expires?

Thanks,
Bala

[2017-04-03 13:56] vishalnayak commented on #2560
@shantanudas37 No and it is by design. Renewals should be done client side.

[2017-04-03 16:20] raoofm commented on #2549
Closing as there is a pull request to be reviewed by @xiang90  https://github.com/hashicorp/vault/pull/2521

[2017-04-03 16:20] #2549 closed

[2017-04-03 16:22] raoofm commented on #2263
@vishalnayak shouldn't this be a feature supported in all backends?

[2017-04-03 17:04] ptarpan opened #2563 "Vault and Nomad Integration with a Consul backend"
Hello,
I have read through the Vault Integration doc (https://www.nomadproject.io/docs/vault-integration/) but am still unclear on the required setup to integrate Vault with Nomad and a Consul backend.

FYI, we already have the following set up:
[code]
I am struggling to find where to go next. The end goal is to submit Nomad jobs that accepts Vault policies either at the Job, Group, or Task level

[2017-04-03 17:05] jefferai commented on #2563
Hi @ptarpan ,

Please contact the Nomad team for help with the integration -- we make Vault, but don't really have as deep understanding of the setup they're using on top.

[2017-04-03 17:05] #2563 closed

[2017-04-04 08:33] VinayMadyalkar opened #2564 "Provide upsert capabilities for key/value pairs"
`$ vault write secret/test x=1`
This puts the key-value pair x=1 in 'test' namespace.

Then I want to upsert(update if available , insert if missing)
`$ vault write secret/test y=2`
We will lose the x=1 key-value pair and it will be overwritten with y=2.
It would be great if it vault provided 'upsert' kind of capability.
As a workaround for this, we can read the value in the namespace and check if

[2017-04-04 10:44] SuperMatt commented on #2532
Yes, the connections are being made from the standby server to the active server. For now I will close the issue, but I will reopen it if I come across any more information.

[2017-04-04 10:44] #2532 closed

[2017-04-04 12:21] jefferai commented on #2564
This has been discussed a number of times over the years but for now we are not planning to implement this, sorry.

[2017-04-04 12:21] #2564 closed

[2017-04-04 15:54] #2555 closed

[2017-04-04 15:58] jefferai commented on #2520
@Luzifer I think the main problem at the moment is just understanding when the data model should bump, because everything is schema-less in the sense that each backend has its own data model and Vault's core and components have their own data models. Also, once you rely on this version to be up-to-date, forgetting to bump it becomes a real potential problem. So up to now we've stayed away from it.

[2017-04-04 16:29] #2528 closed

[2017-04-04 17:31] dwannamaker-onr commented on #2551
I know this is no help, but I can at least confirm the same problem with my setup.  By adding the default_user and allowed_users to my clientrole, I no longer get the Certificate lacks principal list error.  However, I still get prompted for a password.  Also I now additionally get prompted for the certificate passphrase.

- I have the /etc/ssh/ssh_known_hosts file on both the client and remote si

[2017-04-04 21:39] jefferai commented on #2551
I'm making some minor headway on this. I think there are two problems here:

1) The documentation for the CA bits is misleading in several places
2) There is a bug in OpenSSH 7.2-7.4 that makes it really hard to actually get valid things working properly, which was not in OpenSSH 7.1 and earlier, so whether this works is going to be partly dependent on the OS. See https://bugzilla.mindrot.org/show

[2017-04-05 12:36] timp87 commented on #2444
Behavior changed a bit in Vault 0.7.0:

1. sys/leader sometimes returns an empty _leader_address_
[code]

2. If trying to read a secret it can return _307 Temporary Redirect_ without any data, or _500 Internal Server Error_ with data like
[code]

[2017-04-05 13:05] jamestutton opened #2569 "SSH Map Fields"
Hopefully this is a simple lack of understanding but read every doc I can find and seem to be missing something fundamental or there is a bug so either way hopefully asking a stupid question will help someone else in future making the same mistake.

Im trying to ultimately create a ssh user signed key with the permit-pty extention.  But i'm failing to understand how you pass a map string.

The clo

[2017-04-05 14:41] sbatchu0108 opened #2570 "TLS mode setup for vault and consul"
I'm trying to setup Vault HA using consul with TLS mode enabled.

I have 3 ec2 instances(Node A,B,C) running consul client+vault and 3 other ec2 instances(Node D,E,F) which are running consul server cluster.

Vault Version:
[code]
Consul Client
[code]
Vault Config on Node A (Similar Config on Node B, C):
[code]
Consul Client Config on Node A (Similar Config on Node B, C):
[code]
Consul Client Stat

[2017-04-05 15:24] jefferai commented on #2570
You'll probably need to hit up the Consul team for any real details on question 1, but one easy way to check it is to look at Consul's open ports and try connecting with e.g. `openssl s_client` and ensure that TLS is happening.

As for question 2, I think that depends on the answer to question 1 :-)

[2017-04-05 15:27] jefferai commented on #2444
What you're describing isn't really a problem, but since you're not looking at your logs you're not seeing what's happening. What's happening is that the active node is bouncing around because in each case it takes leadership, tries to set up, can't set up, then gives up leadership. Then it bounces to the next node. That's why you're seeing the value change around.

[2017-04-05 15:28] jefferai commented on #2569
I don't understand what you're saying here?

No, there is not.

[2017-04-05 15:42] sbatchu0108 commented on #2570
@jefferai aahh ok 🗡 , I wish someone from consul team are as active as you guys. Consul issue page is dried up without comments lol. Anyways i was hoping you could have some suggestions over the setup. I will try to hit the consul team again hoping for some suggestions.

[2017-04-05 15:45] sbatchu0108 commented on #2570
@jefferai Apart from Consul Config, below the config for vault:
[code]
Does this config makes sense or any additional flags needs to used to secure it more ?

[2017-04-05 15:50] jamestutton commented on #2569
Thanks jefferai the main one was fighting to pass them via the CLI as assumed there must have been a way.

As for the  KEY :"" bit.  The ssh extensions as far as I could tell from ssh docs online for CA's  were all basic string values eg:

    permit-X11-forwarding
    permit-agent-forwarding
    permit-port-forwarding
    permit-pty
    permit-user-rc

rather than key value pairs. hence could see

[2017-04-05 20:26] jefferai commented on #2570
Seems reasonable to me!

[2017-04-06 09:39] timp87 commented on #2444
@jefferai, I understand I can look into logs.
But it seems me incorrect if application tells me it can became a leader, but actually can't.

[2017-04-06 14:12] jefferai commented on #2444
@timp87 it can't reasonably know if it's going to hit a post-leadership setup error until it acquires leadership.

[2017-04-06 14:45] pantocrator27 opened #2572 "Vault SIGHUP Configuration Changes"
The documentation here: https://www.vaultproject.io/docs/configuration/index.html seems to denote "Starting with 0.5.2, limited configuration options can be changed on-the-fly by sending a SIGHUP to the server process. These are denoted below."  However I am having trouble finding where these are denoted.

[2017-04-06 16:46] StyleT commented on #1298
@jefferai Hi! Do you have any updates regarding this issue?

Maybe someone know any guide that describes ECS & Vault integration?

[2017-04-06 20:02] raoofm commented on #2543
@jefferai thanks for your feedback.

Yes, we will be going e2e ssl, with certs at elb and self signed at pods.

[2017-04-06 20:04] jefferai commented on #2543
@raoofm You realize that's not e2e right?

[2017-04-06 20:07] jefferai commented on #1298
@StyleT This will end up being handled by the IAM support being merged into the aws (aws-ec2) auth backend.

[2017-04-06 20:07] raoofm commented on #2543
@jefferai why not? because elb is decrypting and re-encrypting

[2017-04-06 20:08] raoofm commented on #2543
is there a better option?

[2017-04-06 20:09] #2572 closed

[2017-04-06 20:10] StyleT commented on #1298
@jefferai Am I right that I can track #2441 PR?

[2017-04-06 20:17] jefferai commented on #2552
Related to https://github.com/hashicorp/vault/pull/2203

[2017-04-06 20:25] raoofm commented on #2543
@jefferai I did the way end-to-end explained here
http://docs.aws.amazon.com/elasticloadbalancing/latest/classic/using-elb-listenerconfig-quickref.html

[2017-04-06 20:27] jefferai commented on #2543
TCP proxying is the only way to have true E2E encryption if you are required to have that between client and service.

[2017-04-06 20:29] jefferai commented on #1298
Yes.

Closing since that's the right place to watch.

[2017-04-06 20:29] #1298 closed

[2017-04-06 20:30] raoofm commented on #2543
@jefferai agree, but to get a cert from a trusted ca at deployment time is difficult considering that we are deploying using kubernetes and the ip/hostname are unknown. So we are getting a cert for elb from a trusted ca and are having self signed for the instances.

[2017-04-06 20:47] cmcniel commented on #2569
I am also working on this as we are building an application and I would like to be able to pass in the extensions/critical options with a JSON payload during ssh key signing.  I can get a signed key but using ssh-keygen -L -f <mykey> I get the following in various forms depending on how I attempt to pass in the extension.

        Extensions:
                no-pty UNKNOWN OPTION (len 0)

[2017-04-06 21:17] jefferai commented on #2543
Just wanted you to be aware of it in case it's a regulation you need to comply with!

[2017-04-06 21:17] #2543 closed

[2017-04-06 21:19] raoofm commented on #2543
@jefferai agree :+1:

[2017-04-06 22:14] Kbooth-rms opened #2576 "Need to revoke all tokens but root token for cleanup..."
We have an issue where our vault clients were requesting tokens at a massive rate, and they have a long TTL.  Vault seems to be randomly crashing and we think that it's because of the large number of tokens.

Also, when the vault service restarts, it takes about 30 mins as it iterates through the tokens before it becomes responsive.

Is there any way to just blanket revoke all tokens *but* the roo

[2017-04-06 22:22] mzupan commented on #1815
@justenwalker did you ever come up with a way to revoke all tokens but the root token?

[2017-04-06 23:01] sprutner commented on #438
On Ubuntu 16.04

Assuming you have the certificate in your home directory:
[code]

[2017-04-06 23:31] pantocrator27 opened #2577 "tls_require_and_verify_client_cert documentation question"
In the TCP listener documentation, it appears as if `tls_require_and_verify_client_cert` is set to `false` by default.  However there is a caution that indicates:

[code]

The question is that since it is disabled by default, does the caution apply?

[2017-04-07 07:59] Toinews opened #2578 "Documentation about AES-GCM tag verification is possibly misleading"
Hi,

In the documentation (vault/website/source/docs/internals/security.html.md) I read something dealing with the verification of the GCM tag before decrypting :

From what I understand of the GCM mechanisms I can't see how this is possible. Isn't this a little mistake in the documentation ?

I also had a look at the crypto/aes import of Go (https://golang.org/src/crypto/aes/aes_gcm.go) just to d

[2017-04-07 08:07] jamestutton commented on #2569
Hi Cmcniel,

I dont think there is such a value in the ssh spec.  from the doc i linked previously:

so the default is in effect no pty and you have to explicitly allow it.

As for the json format the one below now works for me.  If still having issues and get time will do a full step by step have it working to a point now.

`cat role.json
{
        "allow_bare_domains": false,
        "allow_host

[2017-04-07 10:06] OursDesCavernes opened #2579 "PGP encrypted key shares stored by vault"
# Context
We are setting up a vault cluster (Consul backend) to be used by several different entities (let's say 5) and we are writing a foolproof procedure for a distributed and remote rekey ceremony using GnuPG.
Everybody agreed on 3 key shares to unseal the vault.
We have one operator team with a key share and root token, and 4 security officers from other entities with one key share each.

# F

[2017-04-07 15:18] mwitkow commented on #2525
@jefferai I've updated the proposal to follow the Okta Auth Backend, and remove the PolicyMap bit:
 * `auth/oidc/groups` - for mapping of a groups claim to policies - this is meant for teams of users
 * `auth/oidc/roles` - for mapping existing roles-based information from the token to vault policies
 * `auth/oidc/users` - for additional mapping of users to groups and roles

Please see:
https://doc

[2017-04-07 15:34] mikeokner commented on #2525
@mwitkow: I've been talking to @jefferai regarding #2571 and I think it may be possible to incorporate your proposed changes into mine. There are some concerns that mine won't be very widely-usable because most Oauth2 providers don't make the password flow available to 3rd parties, however I believe it wouldn't be too difficult to add the ability to use an auth code or OIDC token as well. Currentl

[2017-04-07 15:40] jefferai commented on #2525
@mwitkow For some more context around what @mikeokner said, Ping Identity doesn't return an OIDC token with their flow (just an OAuth2 bearer token), but it does implement the UserInfo endpoint that provides the same parameters. We've been backchanneling and I suggested that they take a look at this proposal and how it could be modified to fit this kind of workflow, where it can also perform the O

[2017-04-07 15:47] #2541 closed

[2017-04-07 15:47] #2570 closed

[2017-04-07 16:00] #2551 closed

[2017-04-07 16:00] #2569 closed

[2017-04-07 16:00] mwitkow commented on #2525
@jefferai @mikeokner OIDC is a superset of OAuth2. It basically adds:
 * an Identity Token that is returned alongside the Access Token
 * a discovery endpoint that is used to fetch what paths the necessary OAuth2 endpoints are available at

As far as I can see Ping does [support optional OpenID Connect 1.0](https://documentation.pingidentity.com/display/PF70/OpenID+Connect), and it does return Ide

[2017-04-07 16:00] jefferai commented on #2551
Hi, I've extensively updated the SSH CA docs; they will be live on the website in a few minutes. I think this should help quite a lot with the confusion here. Please respond back if there are still problems!

[2017-04-07 16:01] jefferai commented on #2569
Hi, I've extensively updated the SSH CA docs; they will be live on the website in a few minutes. I think this should help quite a lot with the confusion here. Please respond back if there are still problems!

[2017-04-07 16:04] jefferai commented on #2525
@mwitkow We fully realize it's a superset of OAuth2. And since Ping (sort of) supports OIDC that's a reason I'd like to see them merging.

However:

* Ping doesn't _always_ return an ID token depending on *how* you auth, even though in those cases it *does* support the UserInfo endpoint
* Not requiring users to fetch OIDC tokens ahead of time (for not just Ping but other providers that support OID

[2017-04-07 16:12] ericchiang commented on #2525
The id_token is mandatory in the response[0]. Is the concern that users will login to ping not using the `openid` scope? If Ping supports OpenID Connect, there surely must be a way to always get an ID token.

But they still need to fetch an access token which can hit the userinfo endpoint?

Are these concerns around Pings OpenID Connect implementation or general OpenID Connect?

[0] https://openid

[2017-04-07 16:23] mwitkow commented on #2525
@jefferai

In that case, the `vault` CLI client would need to implement the OAuth2 flow. The reason why I opted out of it in the proposal, is that it is:
 * complicated to ds: implementing an HTTP server in a CLI command with a browser AuthCode flow (e.g. popping out a browser)
  *  not really standard: different providers expect different scopes, different endpoint paths etc, requiring extensive

[2017-04-07 16:30] jefferai commented on #2525
_If_ what's coming back is an OIDC TokenResponse.

According to the people currently running a Ping identity server who have tried this out, it doesn't, because it depends which OAuth2 flow you've used to authenticate to Ping. Some flows return only OAuth2 bearer tokens, some also return OIDC tokens. Maybe @mikeokner can get in touch with Ping support and find out if there is a way to enable it fo

[2017-04-07 16:31] mikeokner commented on #2525
We haven't been able to get an ID token back when using the resource owner password flow. Other flows to return it. I don't know enough to say whether that's a failing on Ping's side or a config somewhere we're missing.

That's exactly what I did :)

Those two reasons are why we went the resource owner password flow in my PR, not auth code. It's an available flow with our IDP and makes things easy

[2017-04-07 16:33] jefferai commented on #2525
@mwitkow Honestly, I don't really see why passing in a bearer token and hitting up UserInfo vs. passing in OIDC only is really a problem.

[2017-04-07 16:38] ericchiang commented on #2525
Ah okay. I took a look at https://github.com/hashicorp/vault/pull/2571

A lot of providers don't implement this flow, and I think they're right in avoiding it. It steps around any 2 factor auth that the provider might implement, for example.

Because the id_token is signed and has things like the intended audience (client_id) so others can ensure that the user logged in through an authorized clien

[2017-04-07 16:42] jefferai commented on #2525
Depends, e.g. if the provider sends a push notification for 2nd factor before responding with authorization information (Ping supports this as do others).

And yet, in cases where this isn't possible, getting the info from UserInfo still allows for significant code reuse and serves the needs of other users.

[2017-04-07 16:46] mwitkow commented on #2525
I looked at #2571, it only implements part of the OAuth2 spec, namely the Client Credentials Grant (https://tools.ietf.org/html/rfc6749#section-4.4). This is the least secure form of OAuth2 authentication, and most providers do not provide it. It basically prevents strong security by passing credentials through a third party (in this case vault), and removes the possibility for using two-factor au

[2017-04-07 16:55] mikeokner commented on #2525
It's actually the [Resource Owner Password](https://tools.ietf.org/html/rfc6749#section-10.7) flow, but yes, most providers (especially public SaaS offerings like G-Suite) don't provide it. But as @jefferai mentioned, it doesn't totally preclude the use of MFA for providers like Ping that use a push notification and app before responding to the original request with an auth token.

For providers w

[2017-04-07 17:07] ericchiang commented on #2525
@jefferai when developing these plugins for Kubernetes, we found the more common case is that the server (Kubernetes, Vault) doesn't want to have to trust _every_ client that the provider issues. It eliminates the ability for using public providers (e.g. Google), and even in private provider deployments means that you have to have close control over who can be issued client credentials.

For this

[2017-04-07 17:16] jefferai commented on #2525
@ericchiang I'm not suggesting ignoring id_tokens, I'm suggesting that if what comes in *isn't* a JWT that it can fall back to a UserInfo lookup.

[2017-04-07 17:16] jefferai commented on #2525
(Recognizing that this puts more configuration requirements (or possible `.well-known` support) into the backend!)

[2017-04-07 17:17] bkrodgers commented on #2525
Despite the OIDC spec's claim that it's a superset of OAuth2, it really isn't.  It drops two flows (client credentials and resource owner) that are part of the OAuth2 spec from its own definition, which leaves ambiguity for how in what I'll call "OIDC" mode a provider should support them.  Ping has chosen not to.  The specs are a complete mess, but that doesn't mean we can't make this work.  For p

[2017-04-07 17:20] dwannamaker-onr commented on #2551
The updated docs did the trick!  I am able to authenticate into the host system now using the CA type.   Nice work.  Thanks!

[2017-04-07 18:12] jefferai commented on #2576
See https://www.vaultproject.io/docs/auth/token.html#auth-token-accessors -- iterating over those is how to do it.

You can also just revoke all tokens and then generate a new root token.

[2017-04-07 18:12] #2576 closed

[2017-04-07 18:20] jefferai commented on #2577
This is just a bit confusing wording -- it means, if you've turned it on, it can be turned off via the config file, which doesn't have any Vault-provided authn/authz checking.

I'll update the docs!

[2017-04-07 18:20] #2577 closed

[2017-04-07 18:22] mwitkow commented on #2525
Jeff, from a code reuse point of view, the only code shared between the two
implementations would be the users, groups and roles policy mappings.

OIDC flow doesn't require talking to an OAuth2 server at all, instead it
depends on JWT parsing, discover url parsing and cert fetching (on
initialization). All of this is done inside go-oidc.

I would love to see a full spec OAuth2 implementation with

[2017-04-07 18:31] jefferai commented on #2579
When you rekey (not init) you can have the PGP keys be backed up by Vault so that in case the keys are lost by the operator they can be retrieved.

Someone was going to implement this for init but dropped off radar. We don't consider this a big problem for initing though, since there's by definition nothing in Vault at that point. If the keys are lost right after init, simply wipe and start over.

[2017-04-07 18:31] #2579 closed

[2017-04-07 18:34] jefferai commented on #2578
@Toinews it should probably read "is verified as part of the decryption process". I'll update it.

[2017-04-07 18:34] #2578 closed

[2017-04-07 19:02] bkrodgers commented on #2525
As long as you don't foresee ever wanting to add anything to yours to obtain the OIDC token, then you are right that it wouldn't have a ton of code reuse.  They're still in somewhat overlapping subject areas though.  That said, we can keep them separate if Jeff's OK with that.

[2017-04-07 19:02] mikeokner commented on #2525
Maybe @ericchiang can chime back in with some additional suggestions, but [coreos/go-oidc](https://github.com/coreos/go-oidc) appears to heavily leverage the [golang/oauth2](https://github.com/golang/oauth2) library I'm already using.

So, you'd end up with a pretty substantial amount of shared code in my opinion:

- `backend.go`: Branching to make proper auth request and handle parsing/validation

[2017-04-07 19:06] ericchiang commented on #2525
From the code @mwitkow is proposing, the CLI wouldn't have OAuth2 login logic, it'd only accept a bearer token that happens to be an ID token. All the OIDC code is server side. It actually doesn't even need the OAuth2 package, but will import it because we reference it in the package API.

[2017-04-07 19:14] jefferai commented on #2551
No problem! Glad it helped.

[2017-04-07 19:44] mikeokner commented on #2525
Aha, so just to be sure I'm understanding this completely, when the user authenticates via Vault CLI by executing something like:

[code]

Then `<token>` would be an OIDC ID token already acquired somehow from a token response? I was thinking it would be an auth code but now that I think about it, I don't really think either is a great solution. I'm unclear on how the user is expected to actually

[2017-04-07 20:02] ericchiang commented on #2525
Yes, that's what we do in Kubernetes. Users build an oauth2 client, and return the id_token to the user. We actually prefer it because different companies have different needs for those portals. Branding, authz requirements (only people with this email domain can login), etc. Users login through these then are presented with commands to run which configure the command line tool (or download a conf

[2017-04-07 20:28] jefferai commented on #2525
From my perspective I don't particularly about where the token comes from; building the resource owner flow into a server-based backend is possible but seems like it's best as part of a larger oauth2/oidc effort to not duplicate work/code, and I've had too much experience with oauth2 to ever think a generic oauth2 backend can ever really work unless we add in a redirect_uri capability. Which is a

[2017-04-07 20:37] bkrodgers commented on #2525
Personally I'd like to see token fetching stay inside the Vault CLI, and not require distributing and having users configure an Oauth endpoint, client ID, and secret before being able to start using Vault.  That was the motivation for putting it in the backend.  I've got hundreds of developers who will be using Vault.  I'd like to just be able to say "download the vault binary, set VAULT_ADDR, run

[2017-04-07 20:39] jefferai commented on #2525
@bkrodgers How would you avoid that if the token fetching was in the Vault CLI?

[2017-04-07 20:39] jefferai commented on #2525
@bkrodgers Also do you consider the client ID/client secret to be secret from those users? Or just secret to your org, since they also are providing their own credentials?

[2017-04-07 20:43] bkrodgers commented on #2525
In our implementation on the PR, the user/pass the CLI collects get passed to the backend, which calls Ping for us.  So the backend config has that info.  To do it client side, yes, we'd need to distribute that one way or the other, which is what I'd ideally like to avoid.

I don't necessarily consider it particularly secret.  It wouldn't let them into Vault, though there's a (low) risk it can be

[2017-04-07 20:44] jefferai commented on #2525
This is *not* what your org has been saying on this issue, which is that the CLI fetches the tokens.

[2017-04-07 20:47] bkrodgers commented on #2525
I'm not sure where Mike or I have said that.  The code in https://github.com/hashicorp/vault/pull/2571 is pretty clear that it doesn't.  It works the same way Okta and LDAP backends work.  Ask the user for their creds, pass them to the backend, backend calls auth provider.

[2017-04-07 20:50] jefferai commented on #2525
https://github.com/hashicorp/vault/issues/2525#issuecomment-292585336 for example.

[2017-04-07 20:51] bkrodgers commented on #2525
OK, long thread.  Mike was mistaken saying that.  Regardless, no, it doesn't.  Code has been consistent.  :)

[2017-04-07 20:52] jefferai commented on #2525
@bkrodgers Haven't looked at any code, since this is sort of a pre-code discussion. As a result, details in the discussion are important :-)

[2017-04-07 20:54] mwitkow commented on #2525
Jeff, how about this as a proposal:

We implement a single OAuth2 backend. It accepts OIDC Identity tokens and
Access Tokens+UserInfo. The backend is simple because it doesn't do any
OAuth2 flows, the only call is a simple UserInfo fetch configured via a
URL.

We make the Client simple, without any OAuth2 logic (simple single field).
We document and rely on users to provide a separate bash script

[2017-04-07 20:56] bkrodgers commented on #2525
Rather than distribute a helper client just to get the token, I'll probably end up forking Vault and distributing an integrated CLI with that included.

[2017-04-07 20:56] jefferai commented on #2525
Sounds drastic. Give me some time to think, please.

[2017-04-07 20:58] ericchiang commented on #2525
Want to reiterate that accepting an access token means you can't use this with a public provider because you can't limit the client it was issued through. E.g. this feature won't work with Google.

That's fine but needs to be called out in documentation.

[2017-04-07 21:00] jefferai commented on #2525
@ericchiang What do you mean by "won't work with Google"? The main point of the original proposal is that you don't make calls to a third party because you're relying on the JWT signature and simply matching claims. That's not going to change if the claim information is being fetched a different way in some cases. If Google already gives you a JWT you're not going to be calling back to Google for

[2017-04-07 21:02] mwitkow commented on #2525
Brian, why fork vault as a whole, instead of just starting a separate
contrib project that does OAuth2 flows (including Res Owner) on the client
side and wraps the vault CLI (like as a single binary?)

On Fri, 7 Apr 2017, 21:57 Jeff Mitchell, <notifications@github.com> wrote:

[2017-04-07 21:03] jefferai commented on #2525
No need to fork at all. I have some ideas. Like I said, just give me some time to a) think on it and b) discuss with the team. But also trying to make sure I have all the context e.g. Eric's most recent comment.

[2017-04-07 21:05] ericchiang commented on #2525
@jefferai If you accept an access token to talk to the userinfo endpoint, you can't determine what client issued that access token. So as an attacker I could create an arbitrary client with Google, login to my own client, then send that access token to Vault and Vault will log me in.

Sorry, "won't work with Google" is maybe a bit strong. What I mean is anyone will be able to talk to Vault, and it

[2017-04-07 21:13] jefferai commented on #2525
Only if the claims from the userinfo endpoint match the claims configured on the role, and the info from the userinfo endpoint is dependent on your token.

This isn't to say that there aren't spoofing concerns on *both* sides, especially in cases where you're looking for user-defined information. e.g. if a user can set an arbitrary claim in their account that Google will sign when issuing an ID to

[2017-04-07 21:14] drakedevel opened #2580 "Documentation for `allow_token_displayname` in PKI secret backend documentation does not indicate feature is non-functional"
The documentation for the PKI secret backend makes reference to an `allow_token_displayname` option on roles which I attempted to make use of. After spending a while trying to figure out why my writes to that setting were being silently ignored, I discovered that `pathRoleCreate` didn't have the code to populate that field. Upon further digging the option and its documentation were removed in comm

[2017-04-07 21:18] ericchiang commented on #2525
Correct. If Vault enforces the ACLs correctly then it _should_ be okay. We've shied away from doing this in Kubernetes, but I'm not as familiar with the Vault's auth-Z layer. Just felt it was important to call out.

[2017-04-07 21:22] bkrodgers commented on #2525
With an access token, if that token is generated out of band (including directly from the CLI calling the IDP), Vault on the backend would need to validate the access token.  That would give it the opportunity to see the client ID that created it and ensure it is what it expected.  The problem is that validating reference access tokens is not currently in a finalized standard.  There is one in dra

[2017-04-07 21:24] jefferai commented on #2525
@ericchiang Sure, appreciate you making sure we're aware!

@bkrodgers A userinfo endpoint would validate the token implicitly. If the administrator configures the correct endpoint (and it's over TLS, of course) then if the endpoint returns correct data with correct claims for the token provided by the client it should be appropriately validated.

Just as a heads-up, we're also having some internal

[2017-04-07 21:28] bkrodgers commented on #2525
Cool, thanks.  I appreciate the thought and input from everyone.  Hopefully we'll come to a solution that will meet everyone's needs.

Userinfo endpoint would be validating the token, though it won't tell you what client ID created it, if you care to validate that.  To check the client it'd either need to be a JWT access token or send it to the IDPs token introspection endpoint.  Here's the draft

[2017-04-07 22:11] mikeokner commented on #2525
Sorry for the confusion. I misread that as the Vault server implementing the flow, not the CLI specifically. In my PR, the CLI just collects the credentials from the user and passes them to the server. The server performs all interactions with the oauth provider.

Personally, I don't think it would be a serious hurdle to handle several possible configurations within one backend that would hopefull

[2017-04-07 23:13] jefferai commented on #2525
In my mind this is outside of Vault's scope; the identity server introspects when you call the userinfo endpoint so it's really up to it to decide if the token came from a valid client. Of course, nothing stops you from having the identity server attach claims that indicate the client and use that for matching...

@mikeokner It's trickier than you might suspect given Vault's architecture and the w

[2017-04-08 09:07] acelaya commented on #2265
I have a similar problem.
We are using a dockerized development environment that includes a vault container and a consul container.
In our case, we can't loose data between sessions, that's why we are using consul and not inmem backend, and also, having to manually unseal and set a new token every day, is not a solution.

It would be good if the `-dev` mode was able to detect an already initialize

[2017-04-08 09:10] jefferai commented on #2265
How would the dev mode logic know the key to unseal it?

[2017-04-08 09:11] acelaya commented on #2265
That's a good point.

[2017-04-08 09:22] acelaya commented on #2265
What if it was possible to pass it using something like `-dev-unseal-key`? Something similar to `-dev-root-token-id`, which is only used in dev mode.

The logic would be.
* Try to initialize backend.
* If it works, print unseal key for later use, and unseal the backend with it.
* If it fails, check for the `-dev-unseal-key` option and try to unseal the backend with the value.
* If the `-dev-unseal

[2017-04-09 07:02] rgruyters commented on #2260
@tboussar, can't you use separate paths for each AD Domain?

[code]

[2017-04-09 08:03] ericchiang commented on #2525
Just realized another issue with using the access token I'd like to run
past everyone.

If I configure Vault with Google, and declare that "(my account)@gmail.com"
has access to certain secrets, then I can _never login to a non-trusted
OAuth2 client using that account_, because that client would be given an
access token it could use to talk to Vault on my behalf.

Any website that implements a "Lo

[2017-04-09 09:57] mwitkow commented on #2525
Interesting Eric. I kinda start thinking that it is better to separate OIDC
and OAuth2, with the former being the recommended one.

On Sun, 9 Apr 2017, 09:04 Eric Chiang, <notifications@github.com> wrote:

[2017-04-09 12:18] jefferai commented on #2525
accepts ID tokens with a specific audience claim, and not access tokens.

So you submit an oauth2 token, hit up the userinfo endpoint, and it returns claims including aud. You match the aud claim. What's the problem exactly?

[2017-04-09 15:33] ericchiang commented on #2525
Userinfo isn't required to include aud claim.

http://openid.net/specs/openid-connect-core-1_0.html#UserInfoResponse

On Apr 9, 2017 5:18 AM, "Jeff Mitchell" <notifications@github.com> wrote:

[2017-04-09 16:01] jefferai commented on #2525
It may, and if the response is signed, it (according to spec) SHOULD. And either way if you are requiring an aud match and it's not part of the userinfo, just reject because there's no match. Easy-peasy.

[2017-04-10 09:18] jamestutton commented on #2569
Updates look good only one I would suggest adding for completeness of all being in one place and for people new to ssh singed keys is the use of

`ssh-keygen -Lf id_rsa-cert.pub`

as it will show the extensions have works the time validity of the cert etc. Helps in debugging

[2017-04-10 10:46] rgruyters commented on #2551
Yes, it is working for me. Thanks!! It makes more sense now.

[2017-04-10 11:54] juliangamble commented on #2458
I'm seeing this issue as well.

[2017-04-10 17:52] jefferai commented on #2458
Reopening to track eventually adding more things to the tidy operation.

[2017-04-10 19:06] bkrodgers commented on #2525
At least with our current setup with Ping, the UserInfo endpoint doesn't send that data back signed, and thus doesn't include the `aud` claim.  I'd need to look further into whether it can be configured to include that.  However, a JWT access token will have `client_id` in it, or call the token introspection endpoint for a reference token.  The issue with the latter is that it isn't a finalized st

[2017-04-10 19:35] jefferai commented on #2525
@bkrodgers I thought Ping didn't give you JWT token after OAuth is complete? If so, what's in it?

[2017-04-10 19:55] bkrodgers commented on #2525
Ping won't give me a ID Token in resource owner password flow, but it can be configured to give me an access token in JWT format.  We can configure what we want to be in it, but here's an example:
[code]
So for such a token, Vault could check the client ID by validating the JWT and looking at the `client_id` field.  To make it work with reference tokens and still validate client ID, Vault would ne

[2017-04-10 20:04] jefferai commented on #2525
Wait, so Ping refuses to give a standard OIDC token in that flow but will give a signed JWT containing groups and a client id and a user id?

[2017-04-10 20:06] bkrodgers commented on #2525
If you tell it to, yes.  They support either JWTs or reference tokens for access tokens, and you can configure what data you want included.  But I haven't found a way to get it to tell you to give it an ID token.  I did put a question into Ping support to confirm that isn't possible, but I'm pretty sure you can't.

[2017-04-10 20:15] jefferai commented on #2525
Mumble mumble mumble PITA mumble mumble

OK, so I'm trying to scope out some work, so here are my next two questions, applicable to everyone:

1) Realistically, how many providers are out there that support only oauth2+userinfo (or some in-between bastardization like Ping)
2) How many providers are out there that support a) normal oauth2 flows (e.g. redirects), b) return OIDC tokens from these flo

[2017-04-10 20:45] bkrodgers commented on #2525
Just to clarify, Ping's in-between bastardization only applies to the resource owner password flow, since it isn't included in the OIDC spec and leaves ambiguity to the implementation as to what to do with the OAuth2 flows not specified by OIDC.  It handles OIDC according to the spec for the implicit, auth code, and hybrid flows, those just aren't CLI friendly.

I don't have much hands on experien

[2017-04-10 20:55] jefferai commented on #2525
@ericchiang @mwitkow just pinging you specifically in case you haven't been following the recent discussion

[2017-04-10 21:15] ericchiang commented on #2525
Ping is the first I've seen.

Including groups, off the top of my head:

* Azure active directory v2.
* Cloudfoundry's UAA
* Okta

I don''t know if keycloack supports groups.

Notable ones that support OpenID Connect but don't provide groups:

* Google
* Salesforce

Also, as mentioned above. Dex, which I work on, acts as an OpenID Connect proxy. Users login through upstream providers like GitHub,

[2017-04-11 02:07] slingamn opened #2581 "workflow for rotating generated intermediates without downtime?"
I'd like to use `pki/intermediate/generate` (with `type` set to `internal`) to generate intermediate private keys that are never extracted from Vault. The problem is that I can't see a way to rotate the private keys without downtime, since after each invocation of `pki/intermediate/generate`, the existing CA certificate is cleared and `pki/issue` is unavailable until the CSR has been signed and su

[2017-04-11 10:32] Rameshera opened #2582 "Vault HA issue"
I have 3 nodes and running vault and backend consul.

Below are the hcl file and vault status output.

Can you please help me to find out what is wrong here.  Appreciated for your quick response

Server 1

backend "consul" {
       address = "localhost:8500"
       path = "vault"
       check_timeout = "30s"
       max_parallel = 128
}
disable_cache = true
listener "tcp" {
       address = "localh

[2017-04-11 11:29] shubhamitc commented on #2582
storage "consul" {
  address = "<consulserver>:8500"
  path    = "vault"
  service = "vault"
  cluster_addr = "https://<vaultadverties address>:8200/"
  redirect_addr  = "https://<machineip>:8200"
}

#ha_storage "consul"

listener "tcp" {
  address     = "0.0.0.0:8200"
  tls_disable = 0
  tls_cert_file = "/opt/vault/selfsigned.crt",
  tls_key_file = "/opt/vault/selfsigned.key"
}

#telemetry {
#  s

[2017-04-11 11:36] shubhamitc opened #2583 "Vault address showing the first server only"
Hi i have vault server with consul HA setup and i can only see the first server IP while querying the consul server.

Diplomat::Service.get('vault')
 => #<OpenStruct Node="firstserver.example.com", Address="192.168.xxx.24", TaggedAddresses={"lan"=>"192.168.xxx.24", "wan"=>"192.168.xxx.24"}, ServiceID="vault:192.168.xxx.24:8200", ServiceName="vault", ServiceTags=["standby"], ServiceAddress="192.168

[2017-04-11 11:53] Rameshera commented on #2582
I have updated as below. I just want to know what is tls_disable = 0. Will it effect if i stop vault in one node and update as below

backend "consul" {
       address = "127.0.0.1:8500"
       path = "vault"
       service = "vault"
       cluster_addr = "https://127.0.0.1:8200"
       redirect_addr = "https://127.0.0.1:8200"
       check_timeout = "30s"
       max_parallel = 128
}
disable_cache

[2017-04-11 12:10] Rameshera commented on #2582
Getting connection refused error when i start with recommended configuration.

2017/04/11 12:08:43.457018 [WARN ] physical/consul: appending trailing forward slash to path
2017-04-11 12:08:48.457572 I | [ERR] Error connecting to statsite! Err: dial tcp 127.0.0.1:8125: getsockopt: connection refused

[2017-04-11 12:49] StyleT opened #2585 "MySQL secret backend: Ability to list generated credentials"
Hi!
Looks currently it's impossible to list all active credentials for MySQL secret backend. For example I can't review a list of creds that are currently in use. This feature is extremely useful to revoke all existing credentials for some role.

Please correct me if I missed something.

[2017-04-11 12:56] chrishoffman commented on #2582
It looks like you addressed your original issue.  The latest error is related to connecting to statsite.  If you are not running statsite, delete out the entire telemetry block and see if that resolves your issue.

[2017-04-11 13:07] chrishoffman commented on #2581
One way you could accomplish this is to run two separate intermediate CAs at different paths and rotate between them.  That way you can take as long as you need to sign your CSR and switch to the new one once it is ready.

[2017-04-11 13:39] StyleT commented on #2585
After some research I see that looks like the same issue exists for all dynamic backends.

[2017-04-11 14:01] chrishoffman commented on #2583
It isn't apparent to me from this information what may be causing your issue.  Can you please provide your configs and startup logs?

[2017-04-11 14:18] chrishoffman commented on #2585
You can use the `/sys/revoke-prefix` endpoint to revoke all credentials created for a given role or role prefix.  Since the CLI is just a wrapper around the API, you can also do the following:

[code]

See https://www.vaultproject.io/api/system/revoke-prefix.html.

[2017-04-11 14:18] #2585 closed

[2017-04-11 14:28] StyleT commented on #2585
@chrishoffman yep, it's a good workaround for bulk revocation but this doesn't help me to perform audit of credentials that are currently in use. I'm personally interesting in tokens that were issued a long time ago, have big lease time, etc..

[2017-04-11 15:24] Rameshera commented on #2582
yes. I deleted elemetry block and working.

[2017-04-11 15:26] Rameshera commented on #2582
i tested with my original configuration and it is working HA fail over without any issues. Thank you all your support :)

[2017-04-11 15:26] #2582 closed

[2017-04-11 16:39] mwitkow commented on #2525
Yeah, same here, I haven't seen anyone not support OIDC if they have userinfo, because it is a relatively trivial addition that makes it easy to "tick a box".

To that I'll add (with groups support):
 * auth0 - not with groups, but with [role](https://auth0.com/docs/protocols/oidc#claims) claims
 * Okta  - does support [groups](http://developer.okta.com/docs/api/resources/oidc.html#claims) claim,

[2017-04-11 17:19] rmharrison commented on #1364
NB: Lyft's Confidant supports versioned secrets, see ['history view' in docs](https://lyft.github.io/confidant/basics/using_confidant/#using-the-history-view). Vendor-locked to AWS by design + requires python [https://github.com/lyft/confidant/issues/17], so YMMV.

[2017-04-11 20:27] shubhamitc commented on #2583
![image](https://cloud.githubusercontent.com/assets/11421637/24929275/039e3c92-1f23-11e7-9bb8-87de5ede3aa1.png)
Hoping this might help.

Only 1 server is listed with 2 vault services. Vault seal status is showing 2 ips.

[2017-04-11 20:37] devth opened #2586 "Respect TTL in DNS ZK resolver"
This might be an issue for `go-zookeeper` but wanted to check here first. According to [the source](https://github.com/hashicorp/vault/blob/master/vendor/github.com/samuel/go-zookeeper/zk/dnshostprovider.go#L13) the DNS resolution is cached indefinitely. This doesn't work well in environments where the underlying IPs can change periodically (Kubernetes in my case). Should this respect TTL?

Origin

[2017-04-11 20:52] mattupstate opened #2587 "Add parameter for Object Identifier (OID) SANs to `/pki/issue/:role` API"
Probably a very specific use case here, but I happen to use an open source plugin for ElasticSearch that enables SSL over HTTP and transport protocols called [Search Guard](https://floragunn.com/searchguard/). One of the requirements for the plugin is that it requires certificates to include an "Object Identifier" (OID) SANs entry. More info [here](https://github.com/floragunncom/search-guard-docs

[2017-04-11 21:46] bkrodgers commented on #2525
Looking at the Okta docs, specifically [here](http://developer.okta.com/docs/api/resources/oidc.html#response-parameters-4
), it looks like Okta behaves the same way Ping does in regards to the password flow.  It doesn't return an ID token for the password flow either.  The key difference is that Okta has a ([proprietary](http://developer.okta.com/docs/api/resources/oidc.html#parameter-details)) e

[2017-04-12 15:52] irlevesque commented on #1713
@jefferai I just noticed that https://github.com/hashicorp/vault/pull/2261 resolves https://github.com/hashicorp/vault/issues/2239 which is basically the same issue as this one. Apparently this made it to the 0.6.5 release back in February.

[2017-04-12 16:39] jefferai commented on #1713
Cool, thanks for the reminder!

[2017-04-12 16:39] #1713 closed

[2017-04-12 18:08] leeavital opened #2589 "Vault client does not respect address's with path prefixes"
We have vault sitting behind nginx. We've put it under the location `/vault/` in order to avoid URL conflicts with other services.

we have code which talks to that URL, but the vault client seems to be dropping the `/vault` from the address I use to configure the client. I tried fixing this here: https://github.com/hashicorp/vault/pull/2588

[2017-04-12 21:46] Fitzsimmons commented on #2316
This is pretty awkward given that we use vault itself as the CA for rabbit. Is there a way for vault to add all the CA certs from its own PKI backends to the system store?

[2017-04-12 21:59] Fitzsimmons commented on #2316
Okay, kind of figured out our own workaround for this by making a root cert that's trusted by the system store and creating all of our vault PKI backends as intermediates of that root.

[2017-04-13 14:49] nocode99 opened #2590 "Vault not honoring TTL's in Github Auth"
Version `0.7.0`

[code]

I authenticate once by `vault auth -method-github token=$MY_TOKEN` and my token is stored in `~/.vault-token`.  However, the next subsequent days, I can continue running `vault` commands without having to reauthenticate and verified that my `~/.vault-token` has not been modified.

[2017-04-13 15:32] chrishoffman commented on #2590
I have not been able to recreate this locally.  I set this up with a very short ttl and the token expired correctly.  If the configuration changed after the lease was issued, it would still have the values when the token was created.

You could also run `vault token-lookup <token>` to see the values set for this token.

[2017-04-13 15:41] nocode99 commented on #2590
Ah - seems I did add it later.  I had written a script to initialize and configure vault on the initial deploy but must've added the lease later on.  Using the `token-lookup`, I can see it has set correctly.

Thanks!

[2017-04-13 15:41] #2590 closed

[2017-04-13 17:20] jefferai commented on #2587
Duplicate of #2289

[2017-04-13 17:20] #2587 closed

[2017-04-13 17:21] jefferai commented on #2586
Given that the source is in go-zookeeper I think you need to bring this up with the maintainers of that lib. Once they've made any changes feel free to comment back and we can update deps.

[2017-04-13 17:21] #2586 closed

[2017-04-13 17:27] jefferai commented on #2580
Interesting. All of the code to handle this is still in there *except* the actual code to populate that bool. This feels like a bug that nobody has run into rather than a documentation error.

So the question at this point is -- add that flag back in, or remove the rest of the code that handles this and the associated documentation.

What's the use-case you're running into?

[2017-04-13 17:34] devth commented on #2586
The lib doesn't appear to be maintained but I'll see what I can do.

[2017-04-13 17:39] jefferai commented on #2586
Hi @devth,

A number of patches have been put into go-zookeeper by interested Vault users so while I agree it appears to not be super active you may have luck.

@talbright and @kenbreeman may have more insight; I think one of them may have been working on a fork as well.

[2017-04-13 17:40] #2553 closed

[2017-04-13 18:02] jefferai commented on #2525
Just as an update, we had to push back an internal discussion on this due to travel schedules this week, so we should be discussing early next week. The main thing we need to talk about is whether we want to target a backend that can handle the redirect workflow, enabling it to work with many more providers. From a technical level, the way to do this in Vault could dovetail nicely with a couple of

[2017-04-13 19:09] jefferai commented on #2316
Or you can just add your Vault root CA to your system store.

[2017-04-13 19:24] jefferai commented on #2569
Added!

[2017-04-13 19:40] briankassouf commented on #2589
Fixed by #2588

[2017-04-13 19:40] #2589 closed

[2017-04-13 21:06] slingamn commented on #2581
This seems like an awkward extra moving part (clients have to be told to retry failures from one backend against the other, or alternately some mechanism must be added for clients to dynamically discover the currently working endpoint).

[2017-04-13 21:10] jefferai commented on #2581
Whether it's awkward depends entirely on your setup. If you use Consul, just pop the current valid path in a K/V entry and have clients use that value.

If you're using Vault for your root, the downtime should be on the order of seconds; if you're not, you can always generate an intermediate, get it signed, then use `pki/config/ca` to set both at once.

[2017-04-13 21:12] jefferai commented on #2581
BTW, the pending idea is fine, but another way to go would be to reuse the key and be able to pull out a new CSR to be signed, say if the `type` is `csronly` or so. That's probably more of the "correct" way to do it.

[2017-04-13 23:49] slingamn commented on #2581
Yeah, installation via `pki/config/ca` is what I'm doing now.

The main goal is to rotate the private key of the intermediate, so I'd like to generate a new private key, rather than generating a new CSR for the old one. I like `csronly` as a name, though.

[2017-04-14 03:58] talbright commented on #2586
I tried hard to help the author by triaging PRs, nudging him to merge fixes that were left dormant for months, etc. I also asked the original author for commit rights to help maintain it. I was ignored, and work very similar to what I did in my fork popped in upstream with no attributions. It was a bit frustrating.

To be fair, despite the multiple month gaps in activity, some things do eventually

[2017-04-14 07:40] piotrtrzcinski opened #2592 "Unable to use sign-verbatim endpoint in 0.7.0"
Hi,

I try to use sign-verbatin with Vault 0.7.0, but I receive following error: "{"errors":["1 error occurred:\n\n* generate lease in role is nil"]}". In 0.6.4 it works fine.

vault read pki/roles/role1 shows that generate_lease field exists and is not null.

[2017-04-14 10:40] mwitkow commented on #2525
@jefferai what's the ETA on a decision?

We actually need an OIDC backend in the next two weeks and are willing to contribute to building it. From our point of view, the redirect flow is superfluous, but if it makes a sense if there's wider adoption. Just to clarify, what do you mean by the redirect flow?
 * client-side callback URL for an AuthCode flow (where the client is a web browser and sees

[2017-04-14 12:05] devth commented on #2586
Maybe time to fork? There are many open issues and PRs with 0 responses going back to 2013, but mostly 2015 and 2016.

[2017-04-14 14:30] jefferai commented on #2525
@mwitkow Next week some time.

I'm confused by what you're proposing. Why would you internally fork it according to the design doc instead of just building it to the design doc in a normal public way with a PR and eventual merge upstream?

[2017-04-14 14:36] jefferai commented on #2525
Server side; generally outside of client applications the client-side callback isn't useful. Since Vault is a remote server it would need to implement that method.

[2017-04-14 14:42] jefferai commented on #2583
Note that in the status check your IPs are different but the node IPs are listed as the same. I'm not sure what is causing that -- maybe the issue is due to multiple Vault containers under a single host/single Consul agent?

[2017-04-14 14:52] mattupstate commented on #2289
@jefferai can you explain why the focus here has been on SearchGuard's implementation? What difference does it make to you what SearchGuard does? The main idea here is to afford end users additional SANs through the Vault APIs, is it not?

[2017-04-14 15:05] jefferai commented on #2289
@mattupstate Sure, affording end users additional SANs through the API is fine, but there is currently no support within Vault for working with OID SANs. That's not to say they couldn't be added, but they aren't supported right now.

The reason that I suggested asking SearchGuard to revise their implementation is that OID SANs (which really are just custom OID values) are very uncommon ways to che

[2017-04-14 15:13] jefferai commented on #2265
@acelaya Can you clarify the use-case for me? Why not just use a startup script that basically does that for you?

What you're describing is basically just using dev mode as a shortcut for a fairly simple startup script that checks Vault's status code to see if it's initialized or not and either runs vault init or unseals with the known key. While technically what you propose could be done, it sta

[2017-04-14 16:27] acelaya commented on #2265
Yes, I have to admit you are right.
That's what I've end up doing, a script that automatically ups all
containers and unseals vault.

I don't think it makes sense to implement what I initially requested.

Thanks for your time anyway :)

--
Alejandro Celaya Alastrué

El 14 abr. 2017 5:13 p. m., "Jeff Mitchell" <notifications@github.com>
escribió:

[2017-04-15 16:43] shubhamitc commented on #2583
No, there are 2 different server .24. and .25 . They both are running
consul server as well as i mentioned while raising the ticket.

Do let me know what shall i provide to help in this issue. I would also
like to contribute in solving or documenting this case, please guide me on
that as well.

Thanks,

On Fri, Apr 14, 2017 at 8:13 PM, Jeff Mitchell <notifications@github.com>
wrote:

--

Regards
S

[2017-04-15 18:47] jefferai commented on #2583
Look again at your screenshot. You have two Consul agents reporting the same IP.

[2017-04-15 18:51] michaelansel commented on #2493
Having `vault token-revoke` without an argument "do the right thing" like `vault token-lookup` would be awesome (albeit maybe a little risky). If you need a workaround, you can always `vault write -f token/revoke-self`.

[2017-04-15 18:56] michaelansel commented on #2550
In addition to useful features, at my last check, Kubernetes Secrets weren't actually encrypted at rest nor was access terribly restricted by default (All Kubelets + the Dashboard could automatically access all secrets). That may have changed and there may be ways to lock it down further.

On the flip side, Kube Secrets are considerably easier to use (no special init containers or separate system

[2017-04-15 18:57] jefferai commented on #2493
We specifically do not want `vault token-revoke` to "do the right thing" because it's too easy for that to be "oops, I hit Enter too early".

If someone wants to implement a `-self` flag I'd be fine with that. Send a PR if interested.

[2017-04-15 18:57] #2493 closed

[2017-04-15 18:58] jefferai commented on #2550
That's simply describing "things you get by owning the orchestration layer"  :-)

Vault + Nomad gives you the same nice semantics too.

[2017-04-15 22:36] saikatguha opened #2597 "vault read -field is somehow interpreting the value"
## Steps to reproduce
1. `$ vault write secret/foo bar='%2b'`
2. `$ vault read secret/foo`
[code]
3. `$ vault read -field=bar secret/foo`
[code]

## Actual results
`%!b(MISSING)`

## Expected results
`%2b`

##

[2017-04-17 00:39] vishalnayak commented on #2597
@saikatguha I am not able to reproduce this on master. Which version of Vault are you using?

[2017-04-17 00:44] mattupstate opened #2599 "Supplying only `bound_vpc_id` to ec2-auth doesn't fulfill binding requirements"
Documentation suggests you need only one `bound_*` parameter to fulfill the API request, but apparently `bound_vpc_id` isn't enough, as I still receive a `400` response:

[code]

This is with Vault 0.7.0.

[2017-04-17 01:06] vishalnayak commented on #2599
Note that changes in #2600 will be overridden by #2441 eventually.

[2017-04-17 03:33] haoruiqian opened #2601 "Any way to export secrets and restore them into another vault instance by http APIs?"
I'm trying to find APIs for exporting and restoring, I have some secrets stored in one vault instance, and I want to export them then import into another vault instance.

I know for file backend, we can just copy the files, but what if I cannot access the backend? For example, the vault is running as a CloudFoundry service. I only have the keys and token (or sometimes just have the token), how can

[2017-04-17 09:56] CSharpRU opened #2602 "Request forwarding port issue"
Greetings,

I'm experiencing issues with request forwarding:
`http/handleRequestForwarding: error forwarding request: error=dial tcp :443: getsockopt: connection refused`

Why it's trying to open connection to 443 port instead of 8201?

[2017-04-17 14:36] #2599 closed

[2017-04-17 15:56] jefferai commented on #2601
This is not currently possible, no; however, if it's just secrets that you have access to, you could iterate through the system using list/get on one and then store them in the other.

[2017-04-17 15:56] #2601 closed

[2017-04-17 15:58] jefferai commented on #2597
Duplicate of #2109, fixed in 0.6.3.

[2017-04-17 15:58] #2597 closed

[2017-04-17 16:02] jefferai commented on #2602
What's your config? What is the information in the lines your Vault servers print out when you start them?

[2017-04-17 16:58] CSharpRU commented on #2602
**Config:**
[code]

**Startup message:**
[code]

[2017-04-17 17:15] jefferai commented on #2525
We were able to have a meeting a bit earlier than planned, so I have some feedback.

Here's what we want to do. It helps to skim #2200 to understand what's being proposed.

1) Have an oidc backend that, at a high level, is able to look at claims and assign policies based on these claims.
2) Define an interface that is suitable for defining how to *get* the claims. This can take multiple forms, dis

[2017-04-17 17:17] jefferai commented on #2602
That's on both (or all) nodes? Assuming things like `https:8201` are just overzealous simplification, it looks like it should be fine.

You may want to try having your `cluster_addr` start with `https://hostname:8201`; it will always force https but I think it does require a full URL.

[2017-04-17 17:25] CSharpRU commented on #2602
Yep, that's on all nodes. And I've tried a full URL.

[2017-04-17 17:31] jefferai commented on #2602
Can you provide log output from the startup of each node until you get that error? If you need a private address to send it to let me know.

[2017-04-17 17:35] CSharpRU commented on #2602
Log of the error in the first post.

To reproduce, just setup HA config and exec `vault read secret/something`. Before that logs are empty.

[2017-04-17 17:53] jefferai commented on #2602
Did you mean to attach a log?

[2017-04-17 17:55] jefferai commented on #2602
Oh -- I need log level trace, not err. Err won't show you much of anything.

[2017-04-17 18:22] mwitkow commented on #2525
@jeffarai, as far as I understand #2220 is about providing a plugin system for auth. That's great!

The proposal you outlined was fairly clear until:

At this point it is unclear to me what is the input to this "GenericBackend". Is it a:
 * OIDC token
 * Token: Access Token or OIDC Token
 * "any challenge": OIDC Token, Access Token or Password

While I can see how "Token" is a defined-enough (you

[2017-04-17 18:30] jefferai commented on #2525
Only in the sense of database authentication credentials. It's about adding a way for there to be a common core of a database backend whose actual implementations that connect to the DBs and toggle users there are separated into plugins.

Plugin, not backend -- just want to be clear here that this is about having a plugin system for this backend. Forget what I said about a generic plugin, I think

[2017-04-17 18:39] mwitkow commented on #2525
This is exactly what the current design proposes: parsing JWS claims and allowing the administrator of a Vault to configure claim names fields. And this is what every **OIDC** (not OAuth2 + proprietary stuff) provider I know does:
 * Dex - see [docs](https://github.com/coreos/dex/blob/master/Documentation/custom-scopes-claims-clients.md)
 * Auth0 - see [docs](https://auth0.com/docs/protocols/oidc#

[2017-04-17 18:50] jefferai commented on #2525
Yes, but how do you get that OIDC token in the first place? In many machine cases it might be given to you, but for user cases you're very often going through a web-based flow; otherwise you may be providing credentials which are used on your behalf.

I did say that the scope of the original proposal was not going to have to change much! All that really needs to be done for your needs is for strai

[2017-04-17 19:56] raoofm opened #2605 "vault 0.7.0 is not forwarding in HA setup with etcd v3.1.5, it is redirecting"
When I checked the logs

Active
2017/04/17 19:51:08 http: TLS handshake error from 10.7.2.17:54098: remote error: tls: bad certificate

Standby
2017/04/17 19:51:08.587288 [ERROR] http/handleRequestForwarding: error forwarding request: error=x509: certificate is valid for 10.7.2.16, not fw-fe02ce25-74c7-4316-ce47-ec960212ad7c

[2017-04-17 19:57] jefferai commented on #2605
What are your configs and logs?

[2017-04-17 20:00] mwitkow commented on #2525
My question above was about the scope of the "plugins":
 * OIDC token
 * Token: Access Token or OIDC Token
 * "any challenge": OIDC Token, Access Token or Password

If it's the second, I agree.  If it is the latter, it feels like scope creep entering Generic Auth territory. If it is the second, I assume you're talking about an interface similar to:

[code]

But at this point, wouldn't it just be b

[2017-04-17 20:00] raoofm commented on #2605
For standby
storage "etcd" {
  address           = "https://node-01.example.com:2379,https://node-02.example.com:2379,https://node-03.example.com:2379"
  etcd_api          = "v3"
  ha_enabled        = "true"
  path              = "vault/dev/"
  sync              = "true"
  username          = "root"
  password          = "password"
  tls_ca_file       = "/home/rm/cfssl/ca.pem"
  cluster_addr

[2017-04-17 20:00] raoofm commented on #2605
similar with just vaultnode-01 instead of vaultnode-03

[2017-04-17 20:03] jefferai commented on #2605
Your cluster address is set to port 8200, but that's your API address.

[2017-04-17 20:03] jefferai commented on #2605
cluster_addr that is

[2017-04-17 20:04] raoofm commented on #2605
sorry, didn't get, what you mean

[2017-04-17 20:05] raoofm commented on #2605
i have cluster_address in both storage and listener

[2017-04-17 20:05] raoofm commented on #2605
oh the etcd one
should be 8201

[2017-04-17 20:07] raoofm commented on #2605
@jefferai is that what you mean that the cluster_addr in storage should be 8201?

[2017-04-17 20:25] drakedevel commented on #2580
My goal is for an EC2 instance named `fooserver100` to have access to a token associated with that name, and a SSL client certificate for `fooserver100.my.domain`.

My first instinct was to try to use EC2 auth -- unfortunately I couldn't find a way to restrict permitted SSL certificate hostnames based on the resulting token metadata. The best approximation I could come up with involved making a un

[2017-04-17 20:51] jefferai commented on #2605
Yes. 8200 is your API address, not your cluster address. Fix that and you should be set.

[2017-04-17 20:51] #2605 closed

[2017-04-17 21:08] jefferai commented on #2525
What is "Generic Auth territory"?

A plugin could certainly behave in this way, but it doesn't *require* them to, e.g. if the submitted login information (say, a fully formed JWT OIDC token) has enough information in it to avoid a call to a third party.

This assumes you already have an OIDC or OAuth2 token. But we've had plenty of requests (and some PRs that we have so far declined to merge becau

[2017-04-17 21:12] awells3 opened #2606 "MSSQL backend returning 500 error when retrieving credentials"
I recently updates my Vault set up to version 0.7.0 and I am now getting errors when trying to get credentials from my MSSQL backend:

Role configuration:
`"CREATE LOGIN [{{name}}] WITH PASSWORD= '{{password}}'; USE test; CREATE USER [{{name}}] FOR LOGIN [{{name}}]; GRANT SELECT ON SCHEMA::dbo TO [{{name}}]"`

Connection configuration:
[code]

The configuration comes directly from the walk through

[2017-04-17 21:21] jefferai commented on #2606
@calvn @chrishoffman Does this seem related to that issue you found when looking at the physical backend that was submitted for 0.7.1?

[2017-04-17 21:24] jefferai commented on #2580
Actually, that's exactly why the `allow_token_displayname` feature was dropped in the first place!

But the question remains the same. The stripped out code can trivially be added back in, or the remaining code can be stripped out. The question is which way to go.

[2017-04-17 21:24] jefferai commented on #2580
Probably I'll just remove it entirely.

[2017-04-17 21:26] jefferai commented on #2580
Fixed, site is being rebuilt now.

[2017-04-17 21:26] #2580 closed

[2017-04-17 22:10] mikeokner commented on #2525
I agree with this. While @bkrodgers and I certainly have the ability to stand up some obnoxious, one-off application that does nothing other than go through the browser flow so some poor user can copy/paste a long, encoded string onto the CLI, there are plenty of people who may want to use Vault + IDP and don't have the level of skill or resources required to do so in a reliable, secure manner.

@

[2017-04-18 03:42] CSharpRU commented on #2602
Okay, I'll try to make it today.

[2017-04-18 07:31] mwitkow commented on #2525
@jefferai

By this I mean: "an auth mechanism that takes a value from a client and returns a token back". I probably made my point badly. What I meant was: What do we define as inputs to this backends? Only Tokens (my preference, but would make the password auth not work)? Or general "credentials input" (passwords, tokens, authcodes)? Because if it is the latter, then it is unclear to how this "pl

[2017-04-18 10:52] c-bb commented on #1347
One year on, what's the status of this? Still very likely?

[2017-04-18 11:43] darkonaumoski commented on #371
Hi @armon,
We are evaluating the Vault for usage in a PCI-DSS environment.
Could you please update on the status for compliance?

Thank you in advance.

BR,
Darko

[2017-04-18 12:05] CSharpRU commented on #2602
Here is log with trace level:
[code]

[2017-04-18 13:36] chrishoffman commented on #2606
This is related to the same issue we found while working the the db backends.  The issue is with colons in the SQL which get parsed as parameters.  The workaround is to use a SQL statement in the role configuration that does not use colons which will not always be possible.  I will be working on a fix for this issue.

[2017-04-18 15:38] awells3 commented on #2606
Thanks!  I changed the role configuration to:

`CREATE LOGIN [{{name}}] WITH PASSWORD= '{{password}}'; USE test; CREATE USER [{{name}}] FOR LOGIN [{{name}}]; GRANT SELECT TO [{{name}}]`

and it now seems to work.

I have run into another problem though.  Even after the lease expires I am still able to use the login to connect to the database and retrieve information.  When I check the logins for t

[2017-04-18 15:46] grocid opened #2608 "Very minor Shamir split count leakage"
In Vault, a set of _n_ splits of a byte is generated as `X = {1, 2, 3, ..., n}` and `Y = {p(1), p(2), p(3), ... , p(n)}`, where the _x_ coordinate is appended to the end of each split. Observing a split `0xAB05` gives a lower bound on how many splits being generated (_n_ ≥ 5), which might leak some information about the infrastructure in which Vault is deployed, depending on the scenario. A very s

[2017-04-18 15:56] chrishoffman commented on #2606
Revoking is a little tricky on the sql server side due to process, database users, and logins.  I'll check if there is an issue there but are your server logs showing any errors when the lease expires?  That would be helpful for us to track down the issue.

[2017-04-18 17:15] mikeokner commented on #2525
Right now, Vault's CLI is a very thin client wrapper around Vault's HTTP API. Obviously I'll defer to @jefferai's judgement, but it would seem to be quite a substantial change to the design of the project to start serving HTTP requests from that same CLI. Also, it would then _only_ work when using the bundled CLI and not any other client integrating with Vault's HTTP API unless every client then t

[2017-04-18 17:36] jefferai commented on #2525
Hi @mwitkow ,

Thanks for detailing the flow. I'm kind of torn here, for exactly the reason that @mikeokner specified; putting logic in the CLI means that any other Vault API client can't take advantage of it.

In fact you can imagine that the CLI login helper for this backend could actually take care of the entire flow from the user perspective in just the way you described, except with the actua

[2017-04-18 17:58] jefferai commented on #2525
Rather than specific calls, here's an idea of the structs that might be in play:
[code]
In a situation where you already have an OIDC token, you simply pass it in to the plugin, it's validated/parsed, and the user/groups to use are returned.

In a situation where you need to redirect, the login function can instead return a RedirectURL in the reply, which can be returned to the user; when the redi

[2017-04-18 18:11] jefferai commented on #2602
I'm confused -- are you not actually putting a host name for your cluster address? Or are you just eliding it from the logs?

[2017-04-18 18:12] jefferai commented on #1347
We'd love to have it, but our original motivation for wanting to create it is not currently feasible. So if it was, it'd be very likely....

[2017-04-18 18:13] jefferai commented on #2520
Just to close out this issue, we followed up with @broamski offline and his situation is resolved. No code changes necessary. We do plan on putting some versioning information into the data store.

[2017-04-18 18:13] #2520 closed

[2017-04-18 18:14] StyleT commented on #1364
I would say that this feature is critical for Generic Secret Backend in terms of audit (audit backend can't show you history of some particular secret) & allows you to revert accidental changes.

[2017-04-18 19:31] awells3 commented on #2606
I did more testing and the error was on my part, the connection string I had was using my windows credentials instead of the user id and password I was passing in the connection string (had `Trusted_Connection=true` in my connection string).

The login is disabled which prevents the user from connecting to SQL.  So that is good!

The only thing is the login and user appearing in the user and login

[2017-04-18 19:37] awells3 commented on #2606
Sorry, just thought to check the vault logs and there is an error when trying to revoke the lease:
`error=failed to revoke entry: resp:(*logical.Response)(nil) err:mssql: Invalid object name 'dbo.syslogins'.`

[2017-04-18 19:52] #2387 closed

[2017-04-18 19:54] #2592 closed

[2017-04-18 20:14] chrishoffman commented on #2606
Thanks for the logs!  All traces of the users should be removed so this is not intended behavior.  It is odd that `dbo.syslogins` is referenced as it is not part of any queries we run.  From what I gather from the documentation is it may be coming from `sys.server_principals` https://docs.microsoft.com/en-us/sql/relational-databases/system-tables/mapping-system-tables-to-system-views-transact-sql.

[2017-04-18 20:16] chrishoffman commented on #2606
Here is the sql we run to drop the users https://github.com/hashicorp/vault/blob/master/builtin/logical/mssql/secret_creds.go#L165-L182.  We do a few other things will killing process and disabling logins but this is the bulk of the drop logic and likely where you are seeing a problem.

[2017-04-18 20:52] awells3 commented on #2606
I ran the SQL queries to drop the login and user and those executed just fine and neatly cleaned up the left over logins and users in the SQL server.

However, when I ran `EXEC sp_msloginmappings` (https://github.com/hashicorp/vault/blob/master/builtin/logical/mssql/secret_creds.go#L105)

I got the error from the logs in my SQL messages:
[code]
I will note that I had my test database selected when

[2017-04-18 20:56] awells3 commented on #2606
I was able to successfully run the SQL query while connected to my test database by doing the following:
[code]

[2017-04-18 21:34] armon commented on #371
@darkmars We have several customers using Vault in PCI compliant environments now. Particularly with the HSM integration in Vault Enterprise, we are now partners with SafeNet / Gemalto. Hope that helps!

[2017-04-18 21:38] chrishoffman commented on #2606
Thanks for you help here!  I have some change pending that will address both of these issue for 0.7.1 release.

[2017-04-18 21:49] #2606 closed

[2017-04-18 21:53] bkrodgers commented on #2525
I think the proposal makes sense.  In the short term we may need to deploy the code we submitted as a PR, as it sounds like this will be more involved and could be a month or two (or more) away from making it into a release.  We're really chomping at the bit to use our oauth2 submission.  But my intention would be to go back to the mainline code once you've got something that handles the resource

[2017-04-18 21:55] darkmars commented on #371
@armon Thank you for the prompt reply. We are looking into using it within AWS environment, potentially by implementing HashiCorp Vault environment on AWS.

[2017-04-18 22:54] mwitkow commented on #2525
@mikeokner @jefferai, thanks for clarifying. It wasn't clear from the code at first glance that there was an RPC boundary. May I suggest starting a `/docs/proposals` or `/docs/internal` with a file documenting the plugin system concepts? I think this will massively help in saving time to not have to explain the concepts in details to ignorant users such as myself :)

@jefferai regarding the propos

[2017-04-18 23:05] jefferai commented on #2525
@mwitkow You can see info at https://github.com/hashicorp/go-plugin and there's a good talk about it at https://www.youtube.com/watch?v=SRvm3zQQc1Q

@bkrodgers @mwitkow @mikeokner I think there are a couple of moving parts with different schedules here, which is tricky. I think the thing to do in the short term (e.g. ideally this week) is land a design doc that captures the plugin system and descr

[2017-04-18 23:39] chrishoffman commented on #2511
Fixed in #2565

[2017-04-18 23:39] #2511 closed

[2017-04-19 03:37] CSharpRU commented on #2602
Nope, I've just removed real hostname from `active_redirect_addr`. `active_cluster_addr` isn't touched.

[2017-04-19 03:46] jefferai commented on #2602
So your cluster address is literally 'https:8201'?

[2017-04-19 03:48] CSharpRU commented on #2602
Yep, as Vault says. But I was expecting that it'll be https://hostname:8201

[2017-04-19 03:52] jefferai commented on #2602
That's not what's in your config file though...

[2017-04-19 03:53] CSharpRU commented on #2602
Okay, anyway it should be something like hostname:8201, not https:8201

[2017-04-19 04:03] jefferai commented on #2602
As the documentation for the parameter states, "This is a full URL". You're not giving it a URL and it's getting confused.

[2017-04-19 04:04] CSharpRU commented on #2602
Okay, I'll try a full URL again.

[2017-04-19 04:22] gobins opened #2612 "Groups converted to lowercase"
Vault Version: 0.7.0

When writing group config to an ldap user, the group name gets converted into lower case.

vault write auth/ldap/users/john groups=TEST
Success! Data written to: auth/ldap/users/john

vault read auth/ldap/users/john

Key     	Value
---     	-----
groups  	test

In the output for vault read, the group name has been converted to lowercase. This is causing issues because there a

[2017-04-19 06:10] StyleT commented on #350
Really helpful feature when you want to manage ACLs for big organization (10+ teams).

[2017-04-19 07:21] bernielomax commented on #2140
If possible I would like to see Vault use its own concrete type for the error interface. That way we could assert the error interface back to its concrete type to access underlying struct fields. Possibly http error codes, messages, etc? That way we can wrap the responses in our own error handling?

[2017-04-19 07:22] bernielomax commented on #2140
Currently I get a long winded 403 string but without some pretty gross pattern matching I am unable to use the status code.

[2017-04-19 07:33] CSharpRU commented on #2602
Indeed, with a full URL it works :)

Thanks for helping.

[2017-04-19 07:33] #2602 closed

[2017-04-19 13:57] yakireliyahu87 opened #2615 "Feature Request - AWS Secret Backend: Add RoleSessionName support to STS"
Hey,
Looking at the documentation of ["Generating IAM with STS"](https://www.vaultproject.io/api/secret/aws/index.html#generate-iam-with-sts), which is intended to assume roles (whether local/cross-account), I noticed that there's no way to assign this assumed role a custom "Session Name".

This is possible when using the [AWS API directly](http://docs.aws.amazon.com/STS/latest/APIReference/API_As

[2017-04-19 14:36] #2612 closed

[2017-04-19 19:27] blarghmatey opened #2618 "MySQL Secret Backend Stuck In Limbo"
I have a MySQL secret backend mounted and have generated a list of role definitions for it, with a few credentials being issued. I am trying to remove and recreate the backend, but while trying to call `DELETE` on the mount I am receiving the following error message:
[code]
The revocation SQL looks like: `"DROP USER IF EXISTS '{{name}}'@'%';"`

Now if I try to perform any operation on the backend

[2017-04-19 21:38] ruhkopf opened #2620 "Feature request: Okta auth with MFA"
Currently the Okta authentication backend asks for a username and password. It would be nice if it would also consider MFA.

Here's an example (in Java) of how such a MFA challenge could look like
https://github.com/oktadeveloper/okta-aws-cli-assume-role/blob/master/src/main/java/com/okta/tools/awscli.java#L789

[2017-04-20 00:43] briankassouf commented on #2618
Hi @blarghmatey,

This appears to be behaving as expected. Vault tries to clean up any leases associated with a mount before removing it.

It looks like that revoke statement is invalid mysql syntax. The `IF EXISTS` clause was added in MySQL version 5.7.8. Perhaps you're running a lower version than this?

If you truly need to force revoke these leases take a look at: https://www.vaultproject.io/a

[2017-04-20 00:43] #2618 closed

[2017-04-20 09:08] dforsber-p opened #2622 "Vault v0.7.0 with Certs having multiple SANs fails to forward client request"
Vault v0.7.0 (compiled with Go v1.8.1) with Certs having multiple SANs fails to forward client request. 5 node Vault cluster with Consul backend.
[code]

API client gets `Connection refused (Connection refused)` error.

[2017-04-20 11:10] jefferai commented on #2622
Vault's forwarding doesn't use your certificates. You likely have a configuration issue. What is your configuration?

[2017-04-20 12:39] dforsber-p commented on #2622
It works fine with v0.6.5 and without changing any configuration. I think we wait for v0.7.1 and then test again and dig deeper if needed :).

[2017-04-20 12:40] dforsber-p commented on #2622
I was assuming Vault uses the TLS cert as client certificate when connecting to other Vaults. At least that is how we have set it up.

[2017-04-20 12:45] jefferai commented on #2622
No, this is not how it works. Please provide your configuration information if you want assistance.

[2017-04-20 20:51] stvdilln opened #2623 "With LDAP authenticator, unable to use local groups with Uppercase Characters"
Ran across this in our version upgrade.  Local Groups with upper case characters were lost when people logged in.

Vault writes to auth/domain/users/sd007 have the groups lower cased on the write.  When doing a login
vault fails to find the appropriate groups because the group names are stored in whatever case
is passed in.

[code]

Expected Result:  At Login both lower_policy and upper_policy wou

[2017-04-20 22:16] chrishoffman commented on #2623
Thanks for the report.  This is a duplicate of #2612 and addressed in #2613.  We are not going to do case-insensitive matching but will preserve case in the future when saving groups to users.

[2017-04-20 22:16] #2623 closed

[2017-04-21 08:48] lcgkm opened #2626 "Vault CLI doesn't work to read raw data"
[code]

[2017-04-21 09:28] amugit2013 opened #2627 "how to start vault server with https(verify client cert)?"
I've started a vault server with tls setting and it works ok with config below:
[code]

but when I want to set "verify client cert" on, an error occurs like this:
[code]

content of config.hcl:
[code]

did I do something wrong?

[2017-04-21 10:42] jefferai commented on #2627
What version of Vault? This is only supported in 0.7.

[2017-04-21 10:45] jefferai commented on #2626
From the docs:

Use curl, or use the pki/cert/ca path if you want to use the vault CLI.

[2017-04-21 10:45] #2626 closed

[2017-04-21 12:34] ror6ax opened #2628 "missing EOF at 'GRANT'"
When using this creation_cql - `CREATE USER '{{username}}' WITH PASSWORD '{{password}}' NOSUPERUSER; GRANT SELECT ON ALL KEYSPACES TO {{username}};`

with Cassnadra 3 I get error ` line 1:61 missing EOF at 'GRANT'`

Works fine if I remove grant cql.
Vault 0.6.5

[2017-04-21 13:01] stvdilln commented on #2623
Thanks, sorry I didn't search before submitting a new issue.

[2017-04-21 17:34] talbright commented on #2586
Easier said then done. I basically forked, but couldn't really get any outside momentum. Unless larger users like hashicorp or say for example the libkv project from the docker folks adopt it, its going to be hard to get traction. And they don't want to adopt it unless your fork has traction. It all makes sense from both sides, but in the end it means nothing is going to change.

[2017-04-21 19:03] jefferai commented on #2586
@talbright Wait, I said I wouldn't adopt it? :-)

[2017-04-21 19:14] jefferai commented on #2628
@ror6ax Probably Cassandra 3 wants a different line; if you figure out what the equivalent Cassandra 3 command is, please submit a PR against the docs! (Can just edit them directly from GitHub, it's pretty easy.)

[2017-04-21 19:14] #2628 closed

[2017-04-21 19:49] alertedsnake opened #2629 "DynamoDB backend documentation does not describe required AWS permissions"
I noticed that on the [DynamoDB backend docs page](https://www.vaultproject.io/docs/configuration/storage/dynamodb.html) there is no mention of what permissions in AWS are required.  Obviously creating a user with the `AmazonDynamoDBFullAccess` policy works, but that's not really a best practice.

Can we have the minimum required permissions/policies explained on the documentation page?

[2017-04-21 19:57] mp911de commented on #2039
It would make sense to use Vault as the tool for generating/revoking/managing credentials in a generic way. This type of backend could help creating users/tokens/credentials for services that are not integrated with Vault through their own secret backend.

From an ops perspective, Vault would the only component to interact with to create users or revoke leases and reduce the number of involved acc

[2017-04-21 19:58] talbright commented on #2586
@devth I'm not sure if this would help you (it might since you are already running etcd via your use of kubernetes), but it is interesting:

https://github.com/coreos/zetcd

I heard it mentioned in a talk by https://github.com/coreos today at my employer...

[2017-04-21 20:32] devth commented on #2586
@talbright I'm on GKE so the underlying etcd is not accessible to consumers. I'd have to run a separate etcd to take advantage. Interesting option though. Thanks!

[2017-04-21 21:10] aantono commented on #1830
Just tried it with version 0.7.0 and it is failing for me with the same error

[code]

I know I have tokens there, as I've just created a few prior to running this command.

[2017-04-21 23:23] jefferai commented on #1830
You're doing a read; you need to do a list. Use the LIST verb or append list=true query arg.

[2017-04-21 23:45] Knight1 opened #2630 "Make a pre-comiled arm64 build"
Problem:
There is only a pre-compiled arm version for Vault available the arm64/aarch64 versions is missing. I was able to build it with go 1.8.1 without any errors on a Thunder X.

Fix:
Please make a pre-compiled arm64 version from vault available unter the download section.

Thanks!

[2017-04-22 02:02] aantono commented on #1830
My bad... just realized I was using port 8500 (for consul) instead of 8200. Sorry for the confusion. :)

[2017-04-22 03:25] talbright commented on #2586
@jefferai I thought you said something to the affect of "fork it, and if they come...". But it has been awhile so maybe I misunderstood what you meant.

[2017-04-22 04:58] ColinHebert commented on #1738
@jefferai, is this something that Hashicorp is willing to reconsider?
I agree with you on the fact that it requires extra testing for corner cases and it can be a PITA, but yaml tends to be more flexible for different aspects.

Two examples that come to mind (on top of multiline content as @sushiandbeer said) are the support of comments within the format, the second one (which is more important I

[2017-04-22 12:00] asyd opened #2631 "Implement OCSP responder"
Can you please thinking to add an OSCP responder in vault pki backend?

Thanks

[2017-04-22 12:04] jefferai commented on #2631
Hi Bruno,

We currently have no plans to do so. Sorry!

[2017-04-22 12:04] #2631 closed

[2017-04-22 17:02] vishalnayak commented on #2629
@alertedsnake Sure, we could add it to the docs, although I don't know the permissions list off-hand. If you figure out the necessary permission sets, please let us know, or submit a PR for that.

[2017-04-22 20:44] jefferai commented on #2629
Since the Dyanmo backend is community supported and the Vault team doesn't have any state here I'm going to close this in favor of an interested community member submitting a PR.

[2017-04-22 20:44] #2629 closed

[2017-04-22 20:46] jefferai commented on #1738
@ColinHebert The two items you listed are characteristics of YAML; in and of themselves they are not use-cases relevant to why YAML should be supported for writing.

Most values in Vault that are human-crafted are in HCL which supports comments, and we have many places throughout Vault's API where base64-encoded binary data is consumed or returned.

[2017-04-22 20:48] jefferai commented on #2586
@talbright The ZK backend is community-supported; if there appears to be quorum in the community of ZK-backend-using Vault users that a particular fork should be used instead of the original library, I'm happy to switch it.

[2017-04-24 02:12] amugit2013 commented on #2627
It works after I upgrade vault to 0.7，Thanks jefferai

[2017-04-24 07:33] ror6ax opened #2633 "Conflicting behaviour on lease."
GET v1/sys/mounts/cassandra/tune gives me this:
[code]
My Cassandra users still expire in 4 hours.

Sample user:
[code]
Please advice how do I make Cassandra users expire in 8760 hours.

[2017-04-24 08:25] lcgkm opened #2634 "Vault will skip root CA check when -ca-cert is intermediate CA"
[code]
When -ca-cert is intermediate CA
Vault CLI is OK.
[code]
Curl will return error. **SSL certificate problem: unable to get issuer certificate**
[code]

[2017-04-24 11:30] Naktibalda commented on #276
I still see a reference to validation section in https://www.vaultproject.io/api/index.html

[2017-04-24 11:41] enudler opened #2635 "Cassandra backend failure when host name can't be resolved"
While configuring the cassandra backend connection via /v1/cassandra/config/connection
and at least one of the nodes can't be resolved an error occurs and vault won't try resolve other dns records.

Same behavior occurs also when the backend is configured and in use for getting cassandra credentials.

for example:

Request:

curl -X POST
http://localhost:8200/v1/cassandra/config/connection
-H 'con

[2017-04-24 11:45] jefferai commented on #2633
What is the conflicting behavior you are describing in the subject?

[2017-04-24 11:49] jefferai commented on #2635
Hi,

This behavior is from gocql; we simply pass it the list of hosts. If you want it to behave a different way please file an issue with them -- https://github.com/gocql/gocql . Thanks!

[2017-04-24 11:49] #2635 closed

[2017-04-24 11:52] jefferai commented on #2634
There's not enough context here to fully understand what is happening, however, the error message you are seeing from `curl` is from `curl`, not Vault. If you've put the appropriate root CA into Vault's cert auth backend and you are using the intermediate to auth *and* you have the intermediate's key, which you do, Vault will grant login because the root issued the intermediate.

What's likely hap

[2017-04-24 11:53] jefferai commented on #2627
NP!

[2017-04-24 11:53] #2627 closed

[2017-04-24 12:03] ror6ax commented on #2633
Well, I expect "lease_duration" to be set to max value, and decline over time. Am I expecting the wrong thing?

[2017-04-24 12:17] jefferai commented on #2633
The output you show isn't any user output, it's a read against your role data. There is no lease associated with that information.

[2017-04-24 13:18] shubhamitc commented on #2583
I think all of them are advertising different address,

![image](https://cloud.githubusercontent.com/assets/11421637/25338920/7fa692ee-291e-11e7-94a5-7c86599dc652.png)

[2017-04-24 13:36] #2630 closed

[2017-04-24 13:54] ebekker opened #2636 "Can the page titles for all the backends be normalized?"
Can the page title format for all the backends (Auth, Audit, Secrets and Storage) be normalized?  Some of this was already cleaned up for the Secret backends in https://github.com/hashicorp/vault/commit/0fe2e84e3a559e68a25bbe6f622a37ec0ae47209 and Storage backends already seem to follow this nicer convention, but it would be nice to clean this up for all the remaining backends.

When looking at a

[2017-04-24 13:54] calvn commented on #2583
This is only a hypothesis, but could it be that the 2 vault instances started on 192.168.239.24 and 192.168.239.25 respectively (where it performed unsealing), and due to some service restart/manifest update/etc. some time later, k8s reassigned one of the replicas to be on the same host as the other one?

[2017-04-24 21:18] ghazninattarshah opened #2639 "Add storage backend support for mongodb"

[2017-04-24 21:41] #2639 closed

[2017-04-24 22:49] ghazninattarshah commented on #2639
Any reason why this is closed?

[2017-04-24 22:58] jefferai commented on #2639
It's not clear what is being asked here, given that there is no issue content -- is it a request for one, a mistaken PR that was filed as an issue but will add one, what. Either way, such a storage backend would be community-provided, so having an open issue for it does not cause any meaningful action; only via a community member submitting a PR will this get fulfilled, so there is no reason to le

[2017-04-24 23:26] horsehay opened #2640 "Repeated query on non-HA backend"
Upgraded from 0.6.4 to 0.6.5 today and now the postgresql backend is getting hit hard with the following queries over and over again:

[code]

Also these errors when upgrading to 0.7.0 and then doing step-down from 0.6.5:

[code]

The vault cluster is running Zookeeper for HA backend, but Postgresql for storage backend. Looking at diffs, I can't see what is causing this to get queried over and ove

[2017-04-24 23:29] horsehay commented on #2640
Or maybe related to the cubbyhole issue?

[2017-04-24 23:37] jefferai commented on #2640
Downgrading is not supported generally and definitely not from 0.7. You can delete core/local-mounts if you step down but will lose any data you had in cubbyhole. Please see our upgrade guide at https://www.vaultproject.io/docs/guides/upgrading/index.html for general and version specific information.

[2017-04-24 23:53] horsehay commented on #2640
Unfortunately, I never successfully upgraded. I saw the upgrade procedure for HA Installations. Rather than stopping vault on the active node, I used the step-down command. Would that cause any issues over actually terminating the process?

[2017-04-25 00:31] ghazninattarshah commented on #2639
I was asking to add secret backend support for mongodb, but I understood it's something that you expect from the community. Thanks for the reply @jefferai

[2017-04-25 01:17] jefferai commented on #2639
You're issue subject says storage, not secret... There's already a mongo secret backend!

[2017-04-25 02:59] lcgkm commented on #2634
We try to enable the Vault Server TLS support.
The Vault Server TLS certificate like this:
TLS Root CA -> TLS Intermediate CA -> Vault Server TLS Certificate
And we use  -ca-cert to indicate the TLS intermediate CA only, not (Root CA + Intermediate CA):
[code]

We found that we can access our vault server via CLI:
[code]
Note: The client certificate issued by another Client Root CA, not TLS Root C

[2017-04-25 03:19] jefferai commented on #2634
It's still not clear to me what you think the issue is. Is it that authentication succeeds and you get a client token...in which case what CAs/certs are you putting into the cert auth backend? Or is it that the CLI command succeeds even though the given CA cert only contains the intermediate, which isn't a problem if the Vault server is providing a root that is trusted on your system?

[2017-04-25 06:06] lcgkm commented on #2634
Just forget auth backend...
Please compare following commands:
[code]
[code]
And please make sure:
* -ca-cert/--cacert indicate the TLS intermediate CA only, not "bundle" CAs (Root CA + Intermediate CA)
*  System don't contain the Root CA

[2017-04-25 06:44] eivbsmed opened #2641 "TSL whit Let's encrypt fail (bad certificate) 0.7"
Whit this config created from following this tutorial https://monterail.com/blog/2017/lets-encrypt-vault-free-ssl-tls-certificate
[code]
Starting vault give following error:
[code]

Then afther changing fullchain.pem to private.key vault starts but trying to connect the client whit ip or domain name fails in the following ways (Fist one is because i can't add the IP).

`Error checking seal status:

[2017-04-25 07:16] eivbsmed commented on #2641
Tutorial was wrong. fullchain.pem should be given as  tls_cert_file and tls_key_file should be privkey.pem

[2017-04-25 07:16] #2641 closed

[2017-04-25 13:50] jefferai commented on #2634
If you give Vault's CLI a specific CA cert and tell it to use that for validation, if the server has a cert issued by that CA it matches. Vault looks at system certificates by default, but you're overriding this behavior. It appears that curl (or really, some library it uses) is enforcing that the CA cert be self-signed, but Go's libraries don't work like that (and personally I don't think they sh

[2017-04-25 13:54] jefferai commented on #2640
It could, yes, because if the standby nodes fail to take over for some reason and active leadership flips back to 0.7, if the standby nodes were able to run some upgrade code, you have just downgraded -- which is exactly what you described, and will cause the duplicate cubbyhole issue.

[2017-04-25 14:24] jefferai commented on #2641
Please report that upstream to the blog author!

[2017-04-25 15:45] ghazninattarshah commented on #2639
Sorry I was asking storage backend.

[2017-04-25 17:09] StyleT opened #2642 "Ability to see resources list that use policy"
It would be useful to see all resources that use policy to prevent accidental deletion. For example in AWS if you want to delete any resource that has dependents you will be warned about this & provided with the list of these deps.

Currently I can delete policy thinking that it's not in use anymore & break some application.

[2017-04-25 18:09] chen01 commented on #1468
+1 This will be extremely helpful, any news on when it's going to be ready?

[2017-04-25 18:18] jefferai commented on #1468
There are currently no plans for this feature.

[2017-04-25 19:04] younisshah opened #2643 ""node not active but active node not found""
I am trying to implement a custom Vault HTTP client in golang. I've successfully managed to unseal the Vault. However, when I'm trying to enable `AppRole` I get the following error message in the HTTP response:

`{"errors":["node not active but active node not found"]}`

The related snippet of code is:

[code]

The URL and the root token is correct! What am I missing?

[2017-04-25 19:30] briankassouf commented on #2643
It seems like there is an issue with your HA setup, could you share your vault configuration?

[2017-04-26 01:32] 1e1f opened #2644 "HA / forwarding = not using "newly-generated private key (ECDSA-P521)""
as far as I can tell I have everything configured happily, vault responds normally when querying the active node.

on the standby:
[code]

on the active node:
[code]
which makes me think it's using the cert file provided in tls_cert_file instead of the ad-hoc cert described in the docs as

"In order to perform this securely, the active node also advertises, via the encrypted data store entry, a ne

[2017-04-26 02:09] younisshah commented on #2643
@briankassouf Thank you for the reply. I have used the vault configuration mentioned in the Deploy Vault page of the Vault's website.

[code]

[2017-04-26 02:29] lcgkm commented on #2634
Got it. Thanks!

[2017-04-26 02:29] #2634 closed

[2017-04-26 04:39] djenriquez opened #2645 "Feature request: Update mount description"
Currently we don't have a way to update the description of a mount. If we forget to set it, or don't have an accurate description, we're SOL.

[2017-04-26 05:10] avinchakov commented on #2520
Hi, I have the same issue. My configuration (pseudo HA):
1) two instances, both unsealed, transit mode
2) one remote mysql backend
3) traffic goes to the first vault instance (VIP by keepalived)

I upgraded standby instance - all was ok. But when I upgraded primary instance I got such error:
[code]

[2017-04-26 14:53] RichardWolford opened #2647 "Java Null Error when Jenkins Plugin is selected but no secrets are pulled"
If you have a Jenkins job, and have selected the Vault plugin, but you have not added any secrets to the job yet, you will get an error similar to this:

FATAL: null
java.lang.NullPointerException
	at com.datapipe.jenkins.vault.VaultBuildWrapper.setUp(VaultBuildWrapper.java:208)
	at jenkins.tasks.SimpleBuildWrapper.setUp(SimpleBuildWrapper.java:145)
	at hudson.model.Build$BuildExecution.doRun(Buil

[2017-04-26 17:14] dhawal55 opened #2648 "Vault v0.7 /pki/sign doesn't work"
Enable to generate certs using csr in v0.7.

Here's my csr:
`{"csr":"-----BEGIN CERTIFICATE REQUEST-----\nMIIEoTCCAokCAQAwMzExMC8GA1UEAwwoa3ViZWxldC5pbmZyYS5wbGF0Zm9ybS5y\nNTMubm9yZHN0cm9tLm5ldDCCAiIwDQYJKoZIhvcNAQEBBQADggIPADCCAgoCggIB\nAMZaz2LHtEHJXt2rg/bHF47/0IQpD/0e1FYTbLKTqYa8e2T++Z6/L0IAfJGsuKLx\nLP8iV2+dQ2956W65khXUx3zmxjUfmW8Fv6mWUZeNEz5NPwVvHW1Bkz3JrD7pw0pf\nwaYT2024nd1MOMCS7IKEJ5UueWWuBX

[2017-04-26 19:06] younisshah commented on #2643
@briankassouf I tried the same with the Offical Golang client for Vault, but I got the same error! :(

[2017-04-26 20:38] jefferai commented on #2643
@younisshah Check your Vault logs for errors; likely there is some issue being reported as normally if this happens it's a storage backend issue.

[2017-04-27 04:35] younisshah commented on #2643
@jefferai Thank you for the reply! Here is my log:

[code]
Can you see any problem with the Vault? There is this line `2017/04/27 09:55:39.765878 [INFO ] core: entering standby mode`. Why is it entering the standby mode? or this is normal?

I start my vault as `vault server -config=vault-conf.hcl` and consul agent as `consul agent -server -bootstrap-expect 1 -data-dir ./consul -bind 127.0.0.1`

Ap

[2017-04-27 08:19] aakashsinghal1994 commented on #582
@jefferai when Using Vault API to create a policy.An empty policy is created.
though when creating from CLI using the same json it works.

[2017-04-27 11:38] guerremdq opened #2649 "Vault Crash with Okta if can't find the hostname"
Hi i was configuring Okta authentication in Vault and i make mistake in the okta base url when i try to log in Vault crash.

[code]

[2017-04-27 11:56] jefferai commented on #582
@aakashsinghal1994 Without information about the API calls you're making I can't really help!

[2017-04-27 11:57] jefferai commented on #2649
Hi @guerremdq ,

If Vault crashed you should have gotten a traceback -- can you look for it and provide it?

[2017-04-27 11:59] jefferai commented on #2643
Hi,

Can you provide the _full_ log? (It outputs some information at the beginning that would be useful.) It would also be good if you can get it at trace level.

Also, what is your configuration?

[2017-04-27 11:59] aakashsinghal1994 commented on #582
@jefferai Here's the API call I'm making.
[code]

[2017-04-27 12:11] jefferai commented on #582
@aakashsinghal1994 Take a look at the docs (https://www.vaultproject.io/api/system/policy.html) -- you need to specify the serialized HCL or JSON string as the "policy" argument to the call.

[2017-04-27 13:39] guerremdq commented on #2649
@jefferai There is not traceback.

To reproduce it
[code]

<img width="1665" alt="screen shot 2017-04-27 at 15 36 52" src="https://cloud.githubusercontent.com/assets/476513/25485855/a059516e-2b5f-11e7-9980-b3904bdc7668.png">

[2017-04-27 13:46] jefferai commented on #2649
I can reproduce this and it's _seriously_ weird. Will dig in...

[2017-04-27 13:53] jefferai commented on #2649
Here's a cool story: a library that calls `Fatal` on error -- https://github.com/sstarcher/go-okta/blob/master/api.go#L98

Not sure what the right path forward is but will either need to get the author to fix this or fork the library.

[2017-04-27 13:58] jefferai commented on #2649
Ref: https://github.com/sstarcher/go-okta/pull/2

[2017-04-27 15:22] joaquinrinaudo-olx commented on #2620
+1

[2017-04-27 15:37] sean- commented on #2649
Which path are you inclined to take? Fix the panic in the vendored version of the lib or wrap calls to Okla in recover() in the interim (and splat a big nasty warning to the world)?

--
Sean Chittenden
seanc@joyent.com

On Apr 27, 2017, 06:58 -0700, Jeff Mitchell <notifications@github.com>, wrote:

[2017-04-27 15:38] jefferai commented on #2649
@sean- It's not a panic, it's a `log.Fatal` call so `recover()` doesn't do anything. I've already submitted a PR to the library author (see previous comment).

[2017-04-27 16:50] horsehay commented on #2458
@jefferai What does this mean by blank token? I am trying to also tidy up my data due to this error message in the logs, but I'm not sure how the /sys/expire/id/ records are orphaned when I can find a corresponding /sys/token/id/ in the data.

[2017-04-27 16:55] jefferai commented on #2458
@horsehay Keep watch on https://github.com/hashicorp/vault/pull/2452 -- we're adding some bits in there to do cleanup on leases. (The final path will likely change, but if you want, you can try running those code before it's finally merged.)

[2017-04-27 22:12] horsehay opened #2651 "Rekey fails with openpgp error"
After upgrading (now on 0.7.0) I can't get rekey to work:

```{"errors":["Error setting up encryption for PGP message: openpgp: invalid argument: cannot encrypt a message to key id 24db4cc9a3b88931 because it has no encryption keys"]}```

Checked other issues, and I know there have been some changes here, but this method worked prior to the upgrade. I'm not even sure where it's getting that key id

[2017-04-27 22:44] horsehay commented on #2651
I just tested this in an environment running 0.6.2 and had the same issue.

[2017-04-28 08:16] guerremdq opened #2653 "Vault client SSH CA sing return '\n' in JSON"
Hi Guys,

I'm using the SSH CA to sing users key if the output format is JSON i get a **\n** in the last part of the signed_key.

[code]

[2017-04-28 09:45] aakarshit-batchu opened #2654 "Makefile Error: Gox called incorrectly in make"
_I am using go1.7 I've just cloned the repo into the appropriate place in my GOPATH. Did Run make bootstrap and Running make gives an error that looks like it's calling gox with an unsupported flag or similar:_

root@ip-***-**-*-**:~/gowork/src/github.com/hashicorp/vault# make
go generate
==> Removing old directory...
==> Building...
flag provided but not defined: -tags
Usage: gox [options] [packa

[2017-04-28 09:59] medzin opened #2655 "Add more meaningful error message for certificate signin endpoints"
Current error message returned by Vault, when it has problems with parsing client certificate request, is very general - it doesn't give any hints what is wrong, which fields are missing etc. Please provide a more meaningful error message for certificate signing endpoints.

The code responsible for generating message:
[code]

Could be changed to something like this:
[code]

I can make a pull reque

[2017-04-28 10:54] jefferai commented on #2654
I don't know if this is the specific reason for the error, bit Go 1.8 is required for Vault. I suggest updating to that and seeing if that fixes the problem. You may also want to ensure that you have an updated version of gox... If you had a previous version I'm not sure if the makefile runs an update or not.

[2017-04-28 11:47] #2608 closed

[2017-04-28 12:09] aakarshit-batchu commented on #2654
Thanks @jefferai for quick reply.
As you have suggested tried with Go 1.8 and also updated version of gox. Yet i am facing the same issue. Can you please help me with that?

And also i want to know whether there is plugin support to develop new Secret Backends for Vault. We want to use OrientDB as Secret Backend. So is there any plugin support or guide to develop a Secret Backend?

[2017-04-28 12:30] #2655 closed

[2017-04-28 12:39] vishalnayak commented on #2653
@guerremdq The command you are using should *not* include the `\n`. The response you are getting from the API does not include the `\n`. If you are using a response formatting tool like `jq`, that could add it, which can be resolved by using options on those tools to avoid `\n`s.

[2017-04-28 12:39] #2649 closed

[2017-04-28 12:40] guerremdq commented on #2653
@vishalnayak I'm not using any tool to format the json is the output of the vault client

[2017-04-28 12:43] jefferai commented on #2654
@aakarshit-batchu do you have a `BUILD_TAGS` env var defined? That could cause the problem you're seeing (not sure what else could, though). Does it work if you use `make dev` instead of `make`?

New secret backends can be created; we are migrating to a plugin-based approach for databases, see #2200

[2017-04-28 12:46] vishalnayak commented on #2653
@guerremdq Oh, I see. Had not noticed the `-format=json` there. It is from the integrated CLI JSON formatter, which indents the output. Let me check if that can be fixed.

[2017-04-28 15:09] jefferai commented on #2648
Hi @dhawal55 ,

You didn't provide any information about how you are supplying this string, but PEM encoding is sensitive to new lines. If you are providing that string as you've displayed here into e.g. the Vault CLI when it encodes the JSON you'll end up with double-escaped newlines and that will make the PEM decoding unhappy.

You can work around this either by providing it to Vault's API as yo

[2017-04-28 15:09] #2648 closed

[2017-04-28 15:11] jefferai commented on #2647
Hi @RichardWolford ,

We do not maintain any such Jenkins plugin -- you'll need to file an issue with the plugin author. Sorry!

[2017-04-28 15:11] #2647 closed

[2017-04-28 15:25] JonathanAtKT commented on #1364
Thanks for the recommendation - I'll check out "Confidant" soon.

Here are two secret versioning use cases that my company (large online retailer using primarily Jenkins-powered CICD pipeline) has:

- "Zero downtime" cluster deployments: We push out a new credential, and the members of a cluster pick it up over the next few minutes/hours.  During the whole time, both credentials are accepted.  Aft

[2017-04-28 16:13] horsehay commented on #2640
Thanks. I deleted the cubbyhole entry and shut down the active vault node to do proper upgrade and it took.

[2017-04-28 16:13] #2640 closed

[2017-04-28 16:22] jefferai commented on #2525
Hi all,

Traffic died down -- if someone picks this up and updates the doc, do please leave a comment here so that we know it happened and can check!

[2017-04-28 17:01] jefferai commented on #2653
@guerremdq As a workaround, if instead you use `-field=signed_key` does that work for you?

[2017-04-28 20:17] jymbo opened #2659 "Associating an App-ID, via the REST API, with a Policy No Longer Working"
I installed vault 0.7.0 and am using the App-ID authentication. I know this is deprecated, but it is the only method supported in streamsets at the moment. This was working just fine in 0.6.5, but is not working in the latest version. To reproduce:

**Enable App-ID Auth**
curl -X POST -H "X-Vault-Token:<$MyToken>" -d '{"type":"app-id"}'http://127.0.0.1:8200/v1/sys/auth/app-id

2017/04/28 11:35:13.

[2017-04-28 21:09] jefferai commented on #2659
This has nothing to do with Vault, it's `curl` failing to resolve hosts because it thinks that everything after the `--d` is a host. It looks like something is wonky with your `–d`, the hyphen does not look the same as the previous curl call that works.

[2017-04-28 21:09] #2659 closed

[2017-04-28 22:42] jymbo commented on #2659
You're right. Sorry for wasting your time.

[2017-04-28 23:46] Caiyeon opened #2661 "403: Permission denied, even as root token trying to lookup a token by accessor"
[code]

[code]

[code]

[code]

**Environment**: Vagrant + VirtualBox on Windows 10
**OS**: debian/jessie64
**Vault**: v 0.7, -dev mode, pulled Apr 27, last commit: `15842ec2809798baa7cd99a825b9b837dc37b742`

**Steps to reproduce:**
I have no idea. I was making a token-creator page for my vault ui, and I created maybe 20 tokens with short TTLs and a wide variety of nonsensical options. After ~15 m

[2017-04-29 00:12] Caiyeon commented on #2661
Here's what the audit log shows
Reading the permission denied accessor:
[code]

Reading a normal accessor:
[code]

[2017-04-29 00:20] jefferai commented on #2661
This is a duplicate of https://groups.google.com/d/msgid/vault-tool/da880586-b0f0-4ed0-a4be-5319fafd9719%40googlegroups.com?utm_medium=email&utm_source=footer right?

[2017-04-29 00:29] Caiyeon commented on #2661
It looks similar, but I am running a dev mode v0.7.0 vault.
I can also confirm that the accessor is un-revokeable
[code]

Note that the second token-revoke command successfully removed the token, but the first token-revoke command did not actually revoke the token, despite reporting a success.

[2017-04-29 00:35] jefferai commented on #2661
Could you also send along the audit log entries from when the problematic tokens were created?

[2017-04-29 00:38] Caiyeon commented on #2661
Unfortunately I did not have an audit log enabled when I created it. I was merely testing my toke. creation page.

Also, there is only one problematic token.

[2017-04-29 00:44] jefferai commented on #2661
Does the token associated with the accessor that isn't dying still work?

[2017-04-29 00:50] Caiyeon commented on #2661
I wanted to try that too, but unfortunately that was probably a UUID because I left the ID parameter empty half the time.

Apologies for the lack of reproducible steps 😅

But indeed, if the token is valid and unrevokable (or even worse, reportedly revoked successfully) this may be quite an issue.

[2017-04-29 00:54] jefferai commented on #2661
I think it's more likely that the issue was with cleaning up the accessor. Any chance I can get that Vagrant box from you? Then I can investigate directly.

[2017-04-29 00:59] Caiyeon commented on #2661
Possibly. I made a bunch of short TTL tokens.
The vagrantfile and provision files can be found here https://github.com/Caiyeon/goldfish/tree/master/vagrant

Is there a way to transfer my vagrant snapshot? It's simply a virtual box snapshot right?

[2017-04-29 01:00] jefferai commented on #2661
Honestly, I don't know, I've never used Vagrant. But probably, yeah, so if you can just archive the entire vbox machine that would probably work.

[2017-04-29 01:07] Caiyeon commented on #2661
Well restoration of snapshot to the vagrant machine works fine. So worst case you may need to vagrant up before you restore from snapshot. I'll try to get you the snapshot Monday. 😃

[2017-04-30 17:57] vishalnayak commented on #2653
@guerremdq Unfortunately, it can't be fixed. Jeff's recommendation should help you as a workaround. He also had suggested that we add the unparsed response in the `api.Secret` struct so people can parse it the way they want, in a way that avoids the `\n`. I've made that change in #2662. Hoping that it resolves this issue.

[2017-05-01 08:08] aakarshit-batchu commented on #2654
@jefferai  the BUILD_TAGS env var has been assigned with value "vault" in Makefile. And yeah I have tried with make dev also. It throws same error.

So is there any guide or documentation on creating new secret backends using that plugin-based approach for databases? Any Steps on how to develop and add new secret backend for vault will help.

I went through your documentation in the official site

[2017-05-01 13:42] ixe013 commented on #636
I really like Vault's single executable model... Maybe such protocol additions could be delivered as external add-ons to the Vault core?

For this particular feature, a SCEP-to-Vault API bridge comes to mind. Some front end would receive requests in SCEP format and use Vault's PKI backend API to service them.

Best part is that it can be implemented completely independently of Vault, in any langua

[2017-05-01 15:26] jefferai commented on #2654
I am fairly certain you did not actually update your version of `gox` and that is the root of this issue.

[2017-05-01 15:50] Josh-West-Bose commented on #2525
+1

[2017-05-01 16:09] JonathanAtKT commented on #1364
Hi - I was just in a concall with Hashicorp and I heard "the transit backend" solves these use cases.
[https://www.vaultproject.io/docs/secrets/transit/](https://www.vaultproject.io/docs/secrets/transit/)
[https://www.vaultproject.io/api/secret/transit/index.html](https://www.vaultproject.io/api/secret/transit/index.html)

Essentially, an extra "vault:v1:" header (e.g.,) gets prepended to the norm

[2017-05-01 16:24] vishalnayak commented on #2653
@guerremdq Apparently, we can't fix provide `raw` in `api.Secret` too. Closing this issue for now, assuming that `-field` is a fine workaround.

[2017-05-01 16:24] #2653 closed

[2017-05-01 16:27] jefferai commented on #1364
@JonathanAtKT Yes, your use cases can be solved via `transit` -- you can rotate the key version and eventually to disable the old data set the `min_decyption_version` on the key to a later key version. But, if needed, an admin can set the min version back to something older to decrypt an older piece of data.

It's different from the strict versioning support for the K/V store that others are askin

[2017-05-01 16:38] Caiyeon commented on #2661
The snapshot is 2GB and the VM disk itself is another 4GB. I'm not sure how viable a transfer would be.

[2017-05-01 17:05] jefferai commented on #2661
If you can Dropbox or Google Drive it or something that's one way to do it. But also, since you have a snapshot, any chance you can try some tidying and see if it helps? We have a couple of additions/fixes to tidy coming for 0.7.1, I can point you to a build with them.

[2017-05-01 17:32] Caiyeon commented on #2661
I don't have enough space on any of my cloud storages at the moment. And since the environment is a dev server, I can't switch it to 0.7.1 anyway.

However, running tidy works:
[code]
Seems like tidy does clean it up.

And 403 is no longer returned:
[code]

[2017-05-01 17:35] jefferai commented on #2661
it's good to know it fixes it; we will have to look into how it's happening in the first place.

[2017-05-02 09:56] stampycode opened #2667 "unable to import exported transit key"
[Transit Read Key](https://www.vaultproject.io/api/secret/transit/index.html#read-key-1) allows Transit endpoint to output the encryption/hmac/signing key used, but there seems to be no equivalent endpoint where these keys can be imported/restored into a Vault instance.

From [Transit Docs](https://www.vaultproject.io/docs/secrets/transit/index.html):

So if my data is transit-encrypted and stored

[2017-05-02 12:27] rkrzr commented on #272
It would indeed be useful to have this. Any bigger application will usually require a whole number of secrets to run (databases, API keys, other credentials). So I think this is a quite common use case.

Is this on the roadmap?

[2017-05-02 12:35] jefferai commented on #272
Not at this time.

[2017-05-02 12:57] jefferai commented on #2667
You could actually use a library from Vault (https://github.com/hashicorp/vault/tree/master/helper/keysutil), but yes, currently there is no way to import (and in fact, it's never come up before as a request).

Part of the "contract" of `transit` is that the key is never exposed outside of Vault. We added the ability to export keys because some enterprises have key escrow requirements, but it leav

[2017-05-02 13:28] stampycode commented on #2667
The ability to do this also make sense if you wanted to have multiple unconnected Vaults (such as for sharing encrypted data between separate companies).
This way, keys would need to be shared between Vaults just once (probably by PKI), reducing costs for sharing data.

My particular scenario is using Vault in a dev capacity, where I want to spin up and tear down local dev instances of Vault for t

[2017-05-02 13:29] stampycode commented on #2667
for example, if my app only has permission to `transit/decrypt` data, currently I have to encrypt that data for each test-run in order to check that my decrypt process works.

[2017-05-02 14:28] jefferai commented on #2654
Here's the output I get from gox -h:
[code]
Note that mine indicates `-tags` as supported but the output you showed above does not.

[2017-05-02 14:59] sts commented on #1823
@jefferai another use case for this RFE would be to reuse the Puppet PKI for authentication of Vault clients as this PKI is already in place for most environments. This elegantly factors out the key distribution process, as signing agent certificates is already part of a standard workflow for Puppet users.

[2017-05-02 15:19] sts commented on #1823
Looks like someone is already working on getting support to limit authentication for certain CNs only for Vault 0.7.1.  @michaelansel you mentioned something in your latest pull-request #2595 :

Are you also going to work on this? In this issue might be two use cases! 👍

[2017-05-02 15:28] jefferai commented on #1823
@sts It's already done and merged!

[2017-05-02 15:29] jefferai commented on #1823
Closing, fixed in #2595

[2017-05-02 15:29] #1823 closed

[2017-05-02 16:58] jdelic commented on #1823
this is fantastic news!
My thanks to everyone involved and @michaelansel for implementing the PR.

[2017-05-02 17:28] MikeMyro opened #2669 "EUA"
I'm interested in looking a bit more into the Vault product. Would it be possible for me to get a copy of the EUA?
Thanks - Mike

[2017-05-02 17:58] jefferai commented on #2669
Please contact sales via https://hashicorp.com/vault -- they can provide information on any applicable EULA for the commercial product. (The source for the open source version is MPL2.)

[2017-05-02 17:58] #2669 closed

[2017-05-02 18:23] MikeMyro commented on #2669
Thanks for the reply
From: Jeff Mitchell [mailto:notifications@github.com]
Sent: Tuesday, May 02, 2017 1:58 PM
To: hashicorp/vault <vault@noreply.github.com>
Cc: Mirynowski,Mike <michael_e_mirynowski@vanguard.com>; Author <author@noreply.github.com>
Subject: [External] Re: [hashicorp/vault] EUA (#2669)

Please contact sales via https://hashicorp.com/vault<https://urldefense.proofpoint.com/v2/url?u

[2017-05-02 20:02] callafeucht commented on #2651
We are experiencing this same issue on v0.6.4.

[2017-05-02 20:03] sts commented on #1823
@jefferai Could you expand a bit on how we can use the changes in #2595 for the Puppet use case?
I have a single CA (Puppet CA) which is used to sign client certificates of all Puppet agents. I'd only like to permit access for a subset of clients to certain Vault API paths, so eg. assign the 'web' policy for all nodes matching `cn =~ *web*`.

[2017-05-02 20:04] jefferai commented on #2651
What is the key ID you are using? Is it 24db4cc9 or a3b88931?

[2017-05-02 20:28] jefferai commented on #1823
See the `allowed_names` parameter at https://github.com/hashicorp/vault/blob/master/website/source/docs/auth/cert.html.md

[2017-05-03 04:09] stephanh opened #2670 "Vault returns no error information when it can't write to etcd backend."
We had an issue with Vault where the certificates expired on the leader and it couldn't talk to the etcd backend.

Vault seemed to have entered a read only mode where we could still read data but not write. When trying to write data it would return an empty error response:

[code]

However, if I do a delete operation I get a meaningful error with the actual problem:

[code]

[2017-05-03 07:00] F21 opened #2671 "Lease duration not present when issuing a certificate using the PKI backend"
This is the output I get:

[code]

The documentation here shows that generating a certificate should include the lease duration in the output: https://www.vaultproject.io/docs/secrets/pki/#generate-credentials

[code]

[2017-05-03 07:04] F21 commented on #2671
Just noticed in the changelog that PKI backends are non-leased by default, resulting in this behavior.

[2017-05-03 07:04] #2671 closed

[2017-05-03 11:40] shubhamitc commented on #2583
We were running kubernetes on those hosts for POC however vault is installed on VM itself post removal of k8s. K8s should not be the issue here.
Please suggest as we are not able to find the vault service from democrat (ruby gem).

Also suggest how to pass all 3 consul server members ips while specifying vault storage configuration.

storage "consul" {
  address = "192.168.239.xx:8500"
  path    =

[2017-05-03 13:15] jefferai commented on #2583
You should be using your local Consul agent, not the Consul server, if you want to use Consul service discovery, because health checks are per-agent.

[2017-05-03 15:40] automaticgiant opened #2673 "feature: support trivial sse for s3 backend"
i'd like to add (or have added!) the option to enable sse on the s3 backend.
it should be one line in `Put` and one in the struct, and a couple to extract the config.

not sure what test coverage should look like. need input here. i wouldn't even be able run a put test with sse turned off (corp policy). but since turning on sse probably doesn't break anyone, maybe i can add a put with sse test, bu

[2017-05-03 19:07] #2552 closed

[2017-05-03 23:41] bgupta commented on #2372
@jefferai I'm having basically the same issue. After digging in I think this is the cause and resolution. https://github.com/keybase/go-crypto/pull/50

Looks like you pulled in the new fixed dependency on Mar 30: https://github.com/hashicorp/vault/commit/790261277397502e1565cac64abaea3ab6cbec0a#diff-851cdaf90f5ed1eb0c57d1e2fa2ac379

Guessing this will be resolved when you cut v0.7.1. I'd be willin

[2017-05-04 03:34] brianmulder commented on #2622
Hi hi

We're also observing this after upgrading one standby member of the cluster to 0.7.0.
Writes do still function, i.e. requests are forwarded, unless it is opaquely falling back to client redirection.

Is the error perhaps an undocumented side effect of updating one node at a time?

Config:
[code]

[2017-05-04 03:38] brianmulder commented on #2622
Vault CLI version used to issue a write to test with for this note: v0.6.2

[2017-05-04 04:10] brianmulder commented on #2622
Confirmed. Reads (and presumably writes), using `curl -L` against the updated standby member on port 8200, are being client side redirected.

[2017-05-04 04:49] bgupta commented on #2651
@jefferai I made this comment on another ticket, but I'm fairly certain, it's the same issue.

After digging in I think this is the cause and resolution. https://github.com/keybase/go-crypto/pull/50

Looks like you pulled in the new fixed dependency on Mar 30: https://github.com/hashicorp/vault/commit/790261277397502e1565cac64abaea3ab6cbec0a#diff-851cdaf90f5ed1eb0c57d1e2fa2ac379

Guessing this wil

[2017-05-04 10:13] stampycode opened #2674 "vault `runtime error: index out of range`"
I ran this by mistake, but wasn't expecting this...
I also had a second process running iteratively against transit/encrypt at the time, which stopped working... seemed like too much of a coincidence, but unable to reproduce it yet.

[code]

[2017-05-04 10:23] jefferai commented on #2622
What version of the Vault server are you coming from?

[2017-05-04 10:40] #2674 closed

[2017-05-04 10:43] jefferai commented on #2651
0.7.1 will be out very soon and there won't be any traction on this if the upgraded libraries *don't* work, so rather than build a nightly I'll defer to 0.7.1 :-)

[2017-05-04 11:12] jefferai commented on #2622
To address each of you concerns separately:

@dforsber-p didn't respond with any details of versions or configuration, so I'll work on the assumption that it was during an upgrade like @brianmulder

@brianmulder If I assume you're coming from 0.6.2 on the server as well, while I cannot offhand think of a change that was made that would cause this, that doesn't mean there wasn't one. However, pleas

[2017-05-04 14:00] vishalnayak commented on #2661
@Caiyeon Do you have the command you used to create the tokens? (`20 tokens with short TTLs and a wide variety of nonsensical options`)

[2017-05-04 15:12] Caiyeon commented on #2661
@vishalnayak `I have no idea. I was making a token-creator page for my vault ui, and I created maybe 20 tokens with short TTLs and a wide variety of nonsensical options. After ~15 minutes, this issue occurred.`

Unfortunately, I nuked my vagrant box with `vagrant destroy` without realizing that destroy would also delete snapshots. I have a clone of the virtualbox image (but I can't seem to spoof i

[2017-05-04 15:18] jefferai commented on #2673
You may want to look at https://github.com/hashicorp/vault/pull/2026 which adds part of this, but the key needs to be able to be specified.

[2017-05-04 15:25] jefferai commented on #2670
You don't give any information about what version of Vault you're using, so it's likely that it's a version that accidentally put 400 with an internal error instead of 500. When 500s get thrown, the Vault log should have information about what the error is. We intentionally don't give 500 error information to clients in case it's something sensitive.

[2017-05-04 15:25] #2670 closed

[2017-05-04 15:29] jefferai opened #2676 "HelpOperations should request forward"
Because help operations need to actually route, they should request forward rather than bailing due to standby node status.

[2017-05-04 17:49] #1197 closed

[2017-05-04 17:51] yanpozka commented on #339
Hi @sheldonh were you able to deploy vault using this configuration https://github.com/hashicorp/vault/tree/master/terraform/aws ?? thanks in advance

[2017-05-04 17:53] rjbez17 opened #2678 "Enhancement: MySQL backend - allow lease information to be tied to a role"
Currently leases are defined globally to the connection. Its be very helpful to set the lease information based on roles (or even at time of requesting credentials). We have a use case to allow some roles to have extended leases. We currently temporarily change the lease, generate the credentials, then change it back. This is an obvious race condition.

[2017-05-04 17:55] briankassouf commented on #2678
Hi @rjbez17,

In the next release #2200 will ship, and it has this feature!

[2017-05-04 17:56] rjbez17 commented on #2678
Great, before I create another one, will the new version also allow for multiple connection to mysql (different database servers)?

[2017-05-04 18:03] briankassouf commented on #2678
Yes! The same mounted backend can configure multiple connections, even of different database types (mysql, postgres, etc.)

[2017-05-04 18:04] rjbez17 commented on #2678
Awesome! You saved me soooo much work!

[2017-05-04 18:07] sheldonh commented on #339
I wasn't, but I'm afraid it's too long ago to tell you what impeded us.

We ended up using Ansible to provision and maintain our vault+consul
cluster.

On Thu, May 4, 2017 at 7:51 PM, Yandry Pozo <notifications@github.com>
wrote:

[2017-05-04 18:08] jefferai commented on #2678
Closing in favor of #2200 which will land...................................................very soon. And 0.7.1 which will land................................................almost as soon.

[2017-05-04 18:08] #2678 closed

[2017-05-04 18:54] chrishoffman commented on #2585
The ability to list and view lease information will be available in 0.7.1 which should be released shortly. See #2650.

[2017-05-04 20:58] #2676 closed

[2017-05-04 22:35] justinwalz commented on #2676
Thanks!

[2017-05-05 07:08] bernielomax opened #2679 "Feature request: Clone mount"
It would be great if you could clone from one mount to another. That way you could do some cool things with secret versioning, history, etc.

[2017-05-05 16:03] reid-harrison opened #2680 "RabbitMQ Backend - Manage secrets across multiple clients"
Currently, only one connection URI is configured for the RabbitMQ backend: https://www.vaultproject.io/docs/secrets/rabbitmq/#quick-start

For my RabbitMQ architecture, several clusters are managed with the same secrets. For this type of setup, Vault cannot be used to manage secrets across multiple RabbitMQ hosts/clusters.

It would be great if the RabbitMQ backend could be enhanced to allow the c

[2017-05-05 16:24] pantocrator27 commented on #2680
@reid-harrison can you add more detail around why the same secrets are managed for multiple independent clusters?

[2017-05-05 17:03] reid-harrison commented on #2680
Sure, thanks for asking!

These clusters are deployed in the cloud - cross region and cross AZ (1 cluster per AZ, nodes are not clustered across AZs). RabbitMQ producers connect to any of these clusters [randomly] through a load balancer. The producer is unaware of which cluster it connects to so all clusters are configured with the same secrets so that producers can connect through the LB using t

[2017-05-05 19:32] abratnap commented on #716
I'm getting following error when I try to get vault enable for Github Enterprise. My Github Enterprise requires SAML auth. Could that be an issue?

`vault write auth/github/config organization=myorg base_url="https://github.MYCORP.com"`

[2017-05-05 19:49] osvacaneljr commented on #582
@jefferai, is this is expected to work?

policies.json
{
    "path" : {
      "auth/approle/role/*" : {
        "policy" : "write"
      },
        "secret/*" : {
        "policy" : "write"
      }
    }
}

curl command

curl \
-X PUT \
-H "X-Vault-Token:******" \
--data @policies.json \
http://xx.xx.xx.xx:8200/v1/sys/policy/test

after this command runs with not errors, then run this command

cur

[2017-05-05 20:23] maksimlikharev opened #2683 "key last modified time"
I think there is no way to get vault data last modification time, at least I wasn't able to see one.
It would be nice to have key modification timestamp, so client can detect, process updates and potentially refresh changes efficiently.

[2017-05-05 20:27] chrishoffman commented on #582
@osvacaneljr The reason your rules are blank is because you not putting your policy into the `rules` parameter.

Your policies.json should look something like this:
[code]

Check out the documentation for this endpoint here https://www.vaultproject.io/api/system/policy.html#create-update-policy.

[2017-05-05 20:35] chrishoffman commented on #2683
There is no last modified time for data in vault.  For the generic secret backend, the `ttl` parameter will return a hint in `refresh_interval` on when you should refresh this data.

[2017-05-06 00:02] oillio opened #2684 "Redirect from sealed node in HA"
In HA mode, are sealed vaults supposed to redirect requests if there is an active master in the cluster?

When I restart a vault node, I expected it to be able to serve requests and redirect to the active master in the cluster.  What I am seeing is the node will return an error, until it is unsealed.  At that point, it will be in standby mode and properly redirect requests.  I know a sealed node c

[2017-05-06 00:03] jefferai commented on #2684
No, they are not. Sealed vaults can do nothing except be unsealed. This is for security reasons; the active node advertisement is in the encrypted storage, otherwise it would be trivial to hijack Vault clients by simply overwriting this with a plaintext entry that they would blindly forward clients to.

[2017-05-06 00:03] #2684 closed

[2017-05-06 00:12] sprutner opened #2685 "Vault PKI no longer can issue certificates as root CA"
**previously erroneously reported as intermediate CA
Vault Version 0.7.0 and also still persists when upgraded to 0.7.1

I now run into an issue when trying to issue certificates using:

[code]

I just get this error

[code]

I'm not sure what's going on here. After some sleuthing it seems some people suggest the root CA might have been overridden? Unfortunately I can't even find docs on how to ve

[2017-05-06 00:25] oillio commented on #2684
Well, I would disagree that this would open up a vector for attack.  You don't need a shared secret to protect against that sort of hijacking.  We are already distributing TLS certs to the hosts...

Thanks for the quick response though.

[2017-05-06 00:32] jefferai commented on #2684
The point though is that the root of trust is protected by the split secret mechanism. Any mechanism that works around that being the root of trust is problematic.

Potentially a certificate generated by Vault and stored internally (protected by the keyring) could do the signing, so maybe in the future that would be an avenue, but it doesn't exist now.

[2017-05-06 10:39] oillio commented on #2684
This is overly pedantic, but I can't resist mentioning that you are already violating that rule.  Unless I am missing something, the private key used for TLS is not protected by the split secret root of trust.

I'd rate a compromised TLS key as at least as bad as as a hijacked redirect.
I suppose a compromised TLS key AND a hijacked redirect would be considerably worse than just one or the other t

[2017-05-06 11:24] jefferai commented on #2684
Hi Dan,

You're totally right, but it's an exception we can't really work around, due to, for instance, being a networked service :-)

There's a key difference though -- in most cases Vault is running with networked storage. Overriding a cert on a given host is one compromise, writing a value to networked storage is another. But by writing such a value you can essentially compromise all Vault serv

[2017-05-06 12:54] jefferai commented on #2685
Hi there,

The first thing to do is figure out your ACL errors -- those are coming from the storage layer and until we know your storage is behaving there isn't much point in looking at other Vault errors as all sorts of things can go wrong.

It seems like your ACL token for Consul is invalid. If you just upgraded Consul you may want to look at the ACL guide as I think 0.8 also changed some things

[2017-05-06 18:35] maksimlikharev commented on #2683
I need a way to check when data was updated, refresh_interval does give me that option

[2017-05-06 21:20] dol commented on #540
The library is brand new, but promising: https://github.com/libeclipse/memguard

[2017-05-07 15:42] shoenig opened #2686 "/v1/sys/mounts endpoint returns extraneous information combined with structured output"
There may one of two bugs here - either the documentation for this endpoint is incorrect, or vault is returning more information than intended (causing interpretation problems for consumers)

The documentation specifies `/v1/sys/mounts` returns only definitions of the defined mounts, eg
[code]

However, curl-ing against the HTTP API shows that more information than just mount definitions is being

[2017-05-07 23:06] jefferai commented on #2686
The correct thing to do is to read it out of data. The values are left at the top level for backwards compatibility.

[2017-05-08 02:20] brianmulder commented on #2622
Thanks @jefferai.
Confirmed, we were upgrading from 0.6.2 and the errors in the logs stopped after the remainder of the cluster was upgraded.

As you expected, the single upgraded node was alone @ version 0.7.0 for a while.

[2017-05-08 11:48] stephanh commented on #2670
The Vault version was `0.6.2`.

In this case you are returning error information on a delete operation but not on the put operation. So if there is concern around sensitive information being leaked then the delete operation could be leaking info.

[2017-05-08 12:01] jefferai commented on #2670
At the storage level we don't really care if an error is shown, as values are encrypted anyways.

It looks in this case like the etcd backend in 0.6.2 doesn't throw an error when this happens. I do recommend upgrading, for many reasons (including security fixes), but also because more recent versions of Vault have an etcd backend maintained by the etcd team and has been entirely rewritten.

[2017-05-08 13:36] tehmaze opened #2687 "Audit broken in 0.7.1"
Since the upgrade from 0.7.0 to 0.7.1 we ran into the following issue:

    client$ VAULT_TOKEN=<redacted> vault token-lookup
    error looking up token: Error making API request.

    URL: GET https://vault.example.com:8200/v1/auth/token/lookup-self
    Code: 500. Errors:

    * internal error

The Vault daemon reports:

    May 08 15:26:30 vault-101.example.com vault[53455]: 2017/05/08 15:26:30.

[2017-05-08 14:13] GavinDonnelly opened #2688 "Install process, command 'make dev', Failing"
When running command `make dev` for installing vault it fails on _line 522 of vault/mount.go_
Error: **undefined: consts in consts.ReplicationSecondary**

I am running this on an AWS instance, ubuntu 16.04 with go1.8.1.

Full Console Output:
[code]

This looks like a legitimate go error to me, I understand currently the master branch is failing but I would have the install would be unaffected.

[2017-05-08 14:23] #2688 closed

[2017-05-08 14:37] GavinDonnelly commented on #2688
Thank You

[2017-05-08 16:08] shubhamitc commented on #2583
I will see if that works today. One question though, how to pass addresses of consul cluster in place of 1 consul server?

[2017-05-08 16:47] jefferai commented on #2683
Currently your only option is audit logs. Sorry...

[2017-05-08 16:48] jefferai commented on #2583
You can't/don't. But you also *shouldn't*. You should point at your local Consul agent, and your local Consul agent deals with connections to the other nodes.

[2017-05-08 16:54] jefferai commented on #540
I took a look at it. Unless I'm missing something about the internals of the Go allocator, it doesn't really fix the problem.

When you "move" data into one of these memguarded objects, you still are coming from a Go-allocated byte slice. Once that byte slice has been allocated, even if the memguard library attempts to zero/free it, you don't know when the garbage collector will actually free it o

[2017-05-08 16:57] jefferai commented on #2687
Hi @tehmaze ,

We've confirmed this. We're going to fix it and roll a new release. Thanks for the report!

[2017-05-08 17:40] sprutner commented on #2685
Hey Jeff,

That issue is resolved, but the same error still persists. Logs below.

[code]

[code]

[2017-05-08 17:45] jefferai commented on #2685
Hi @sprutner ,

As I said earlier, the only cause we've ever seen for that error so far are people who generated a new intermediate key but did not yet install a signed cert from the generated CSR. Are you sure that nothing called the intermediate generate function?

[2017-05-08 18:06] #2687 closed

[2017-05-08 20:44] sprutner commented on #2685
@jefferai This isn't the case for me, I was issuing certs from the intermediate CA without issue recently, and there's nothing else with access at the moment. I have plaintext of the intermediate keys and certs used as well.

[2017-05-08 20:49] jefferai commented on #2685
The only time we use this error message is for that case, where the intermediate certificate is not set (https://github.com/hashicorp/vault/blob/207983f5265c6a02d9cdc24f5f76f0951cd2339f/builtin/logical/pki/cert_util.go#L164). The question is why it isn't set for you. If you have the intermediate certificate, you could try using the set-signed endpoint; if the key is there it should then work.

Bas

[2017-05-08 21:28] sprutner commented on #2685
Actually, you're right about the intermediate certificate. I was just issuing certificates in this test environment as root per https://www.vaultproject.io/docs/secrets/pki/ which was working fine. Is this no longer supported? I just re-used the commands from the docs verbatim.

[2017-05-08 21:30] aizotov-aspiration opened #2691 "Dealing with losing nonce upon deploy"
I am setting up aws-ec2 auth, but don't quite understand how to deal with losing the nonce upon redeploy of application code.

One idea is to clear the whitelist with every deploy as part of the build step. This would require keeping a vault token that authorizes such an action somewhere outside of vault. Not ideal but certainly possible.

Another idea that comes to mind is that items in the white

[2017-05-08 21:37] jefferai commented on #2685
Sorry, I don't understand the question. Is what no longer supported?

[2017-05-08 21:44] sprutner commented on #2685
If you run through https://www.vaultproject.io/docs/secrets/pki/ to set up PKI, then you end being able to issue certificates directly from root without an intermediate CA like below:

[code]

This is how I was doing things, but it no longer works. It does not appear like any pki/intermediate endpoint is hit here in the guide. The issue here for me is that this was working and then suddenly stoppe

[2017-05-09 13:34] stampycode opened #2697 "secret/generic: TTL ignored when sent as integer"
Sets the TTL to 300 seconds:
[code]

Ignores the TTL value, with no error or warning:
[code]

The behaviour of the TTL field also isn't explained in the api docs, _which is another issue_.

[2017-05-09 13:36] jefferai commented on #2697
It actually is explained in the docs. From the docs:

[code]

[2017-05-09 13:37] jefferai commented on #2697
(I didn't close this because not properly handling a non-string is indeed a bug and we'll fix it.)

[2017-05-09 13:39] stampycode commented on #2697
@jefferai  I was actually referring to the (API docs) [https://www.vaultproject.io/api/secret/generic/index.html#parameters-2] which says:

The normal docs don't provide JSON formatted/CURL examples.

[2017-05-09 13:40] jefferai commented on #2697
Ah. Whoever split the docs missed that "see above for details". I'll point that to the non-API section of the docs.

[2017-05-09 13:42] stampycode commented on #2697
Also, is there something special that I have to do to the server to enforce the TTL values? Because I set a secret entry in there to 10 seconds a few minutes ago, and it's still just as available as it was when I created it.... Have I misunderstood the purpose of the TTL?

[2017-05-09 13:46] jefferai commented on #2697
The `generic` backend does not remove values. It's meant for a writer of a piece of data to give a hint to a reader of a piece of data as to how often to refresh the data, to prevent readers from spin-looping and flooding Vault with requests (for instance, tools such as `consul-template` will honor this value).

[2017-05-09 13:47] jefferai commented on #2697
The paragraph above what I quoted before explains this:

[2017-05-09 14:09] automaticgiant commented on #2673
well, i think i'll end up closing this as a duplicate (i'm not sure i'll work on this in the next week), but i do want to clear up the key thing first.

now i know that if i want to `aws s3 cp blah s3://bucket/key` i can't, but i can add a `--sse` or whatever the option is and it's good to go. is that because there is something set in my environment(account) to specify a default key or something?

[2017-05-09 18:05] #2697 closed

[2017-05-09 20:18] tburt11 commented on #2244
I am concerned that the decode command line is stored in the bash history and in some cases, logged for audit purposes.

This command:
**vault generate-root -otp R1gnhIAvatKSWHI6Tm4Lag== -decode hHlUpNFqm9UCLl1DVCV4XA==**
is stored in bash history and re-executing this command produces the identical new root token again and again.

Am I missing something?

[2017-05-09 20:58] jacobcase opened #2701 "Deprecated Dynamic Key Type for ssh secret backend likely doesn't work."
Using the latest vault commit as of this bug report.

I also posted in IRC. The Dynamic Key Type for the ssh secret backend is deprecated and has various security issues as made clear in the docs, including lacking host key verification. However, I suspect it doesn't even work, though I haven't had time to test.

In the ssh crypto library in vendor, the changes as of commit 790261277397502e1565cac

[2017-05-09 21:45] jefferai commented on #2701
We don't use a CertChecker object so I don't believe this affects us and the documentation is correct. If you test it and it doesn't work, feel free to re-open.

[2017-05-09 21:50] jefferai commented on #2244
Depending on your shell configuration it could be. You can:

1) Turn history off
2) Source the value from a file into stdin and pipe it in
3) Delete your history
4) Write and/or use use a different XOR function that doesn't operate on CLI arguments
5) Ensure that you have revoked the root token as soon as you are done using it

You have lots of options!

[2017-05-10 12:27] stampycode opened #2704 "Feature: Fetch only 'latest' transit key"
Currently my only option for fetching a specific version of a Transit key from Vault is to either know beforehand what versions of the key exist, or request all of them.

I want to be able to run this:
[code]

Where `latest` is currently required to be a numeric value representing the key version I require.

The reason for this request is so I can implement a rotating-key system, whereby only the

[2017-05-10 12:40] chrishoffman commented on #2704
Using `latest` as your version is already supported!  I checked the docs and it looks like it is not documented (which we will update).

[2017-05-10 12:59] stampycode opened #2705 "Feature: Transit key auto-rotate and key-limit"
I would like the facility for Vault to auto-rotate a given Transit key at a defined interval.
This should be accompanied with the facility to set a fixed number of keys to be kept on a given Transit endpoint.

This would suit JWT signing processes, which should use rotating pre-shared keys for signing short-lifetime tokens, shifting the responsibility for key-security away from the shared secret t

[2017-05-10 13:27] #2704 closed

[2017-05-10 13:36] jefferai commented on #2705
There are no plans to implement this currently. I suggest using cron or some similar tasking mechanism to do this on your chosen interval.

[2017-05-10 14:22] jefferai commented on #2673
Honestly, not sure about the `--sse` thing. It's possible that AWS' libraries will automatically be able to use an encryption key if it's in your aws config file (we use their official client).

[2017-05-10 14:25] jefferai commented on #716
@abratnap It could be needing to add the `/api/v3` at the end. But I don't believe we support SAML auth. Usually that can be disabled for service accounts.

[2017-05-10 14:28] jefferai commented on #2685
Can you provide the exact steps you are running? Our backend tests exercise these endpoints so the exact steps would be useful to help reproduce.

[2017-05-10 15:21] raoofm commented on #2518
@jefferai any ideas

==> Vault server configuration:

                     Cgo: disabled
         Cluster Address: https://node-03.example.com:8201
              Listener 1: tcp (addr: "node-03.example.com:8200", cluster address: "node-03.example.com:8201", tls: "enabled")
               Log Level: trace
                   Mlock: supported: true, enabled: true
        Redirect Address: https://nod

[2017-05-10 20:04] paulcarlton opened #2708 "tls_require_and_verify_client_cert should not require CA loaded into OS CA store"
Setting the option tls_require_and_verify_client_cert to true requires that the client cert you are using is signed by a CA present in the OS CA store.  This seems unnecessary to me, I'd rather not have to update the OS CA store and would prefer to be able to use a certificate signed by the CA concatenated to the vault server certificate file. Would it be possible to implement this behaviour, poss

[2017-05-10 20:41] tburt11 commented on #582
@chrishoffman  Thank you for the working example.  I have been looking all day for this.
w/rt the endpoint documentation...  The example there is limited to:
{
  "rules": "path \"secret/foo\" {..."
}
Which is quite different from your example:
{
  "rules":"{\"path\":{\"auth\/approle\/role\/\":{\"policy\":\"write\"},\"secret\/\":{\"policy\":\"write\"}}}"
}

note the additional curly brackets in you

[2017-05-10 21:07] mbigras commented on #716
@abratnap and @jefferai  I just ran into this issue it seems like you need the trailing slash as shown below:

    vault write auth/github/config organization=foobar base_url="https://github.MYCORP.com/api/v3/"

Note: the trailing slash `/api/v3/` and **not** `/api/v3`

[2017-05-10 23:22] sprutner commented on #2685
I would just run one of these:

[code]

and I would get the error. Common name could be anything.

I gave up and just started over with new root CA certs, this time choosing to export the private key so that I could keep it in a safe place so that if it got corrupted/overwritten/who knows what happened I can just re-upload. Now the above command works again.

[2017-05-11 02:53] horsehay commented on #2651
@jefferai Sorry for the slow reply. The valid key id is a3b88931. I didn't recognize thet there were two smushed together there.

[2017-05-11 04:38] juliangamble commented on #1815
Hi @justenwalker - did you ever write that up?

[2017-05-11 07:00] martinssipenko opened #2709 "`vault path-help` against a non leader fails"
[code]

[2017-05-11 07:45] eerkunt opened #2710 "Database backend with mysql-plugin can not create new users on AWS RDS"
Hello,

Looks like the character length of the given username (templated by `{{name}}` is too long.

[code]

Please note that Vault v0.7.2 ('d28dd5a018294562dbc9a18c95554d52b5d12390') is used with TLS Certificate Authentication.

[2017-05-11 07:49] briankassouf commented on #2710
Hey Emre,

There is actually a mysql plugin specifically for RDS. When configuring
your connection please use the mysql-rds-database-plugin.

You can read more about it here too!
https://www.vaultproject.io/docs/secrets/databases/mysql-maria.html

Hope this helps,
Brian

On Thu, May 11, 2017 at 12:45 AM, Emre Erkunt <notifications@github.com>
wrote:

[2017-05-11 07:49] #2710 closed

[2017-05-11 07:50] sworisbreathing commented on #2072
Not only that, but the documentation at https://www.vaultproject.io/docs/concepts/lease.html still states:

and there's no mention of the generic backend not supporting leases on that page.

[2017-05-11 09:43] rakesh-eltropy commented on #815
We also need it. Any ETA of this feature ?

[2017-05-11 11:43] jefferai commented on #815
None currently.

[2017-05-11 11:46] jefferai commented on #2709
You didn't specify your Vault version, but this should be fixed in 0.7.2.

[2017-05-11 11:46] #2709 closed

[2017-05-11 11:47] martinssipenko commented on #2709
Thanks

[2017-05-11 12:38] devth opened #2711 "Feature request: GCP Auth backend"
Similar to the [AWS Auth Backend](https://www.vaultproject.io/docs/auth/aws.html)

[2017-05-11 16:56] ojhughes opened #2714 "Missing token error when accessing Vault using Squid Proxy"
I am able to access Vault directly directly but the request fails when routed via a squid proxy server. Here are HTTP wire logs from the failing test case:

[code]

[2017-05-11 17:00] jefferai commented on #2714
Sorry, but this is a Squid issue. Probably it's stripping out the token header.

[2017-05-11 17:00] #2714 closed

[2017-05-11 17:07] ojhughes commented on #2714
Thanks, but the X-Vault-Token is being preserved as shown in the logs so I don't see why this is a squid issue

[2017-05-11 17:20] leeavital opened #2716 "New auth backend: oauth2"
Hey Vault devs,

This is less of an issue and more of a feature idea.

Our organization uses a custom service for managing authentication that implements the oauth2 spec. We wanted to allow vault to authenticate against this service, but there's no appropriate auth backend.

So: our idea was to add a new auth backend called `oauth2`. You would be able to use it like so:

[code]

Would this be a re

[2017-05-11 17:34] justenwalker commented on #1815
Hey @juliangamble / @mzupan

First, you'll need to grab [jq](https://stedolan.github.io/jq/)

When you get token info from an `app-id` you can match the application by it's metadata.

[code]

Here's a utility script that will do most of the work:

[code]

[2017-05-11 17:44] hummerpaskaa opened #2717 "LDAP auth not working with Audit backend: File enabled"
In my setup, LDAP authentication works just fine, until I enable audit to a file. All logging works as it should, but when I try to auth via LDAP it fails with:

[ERROR] audit: panic during logging: request_path=auth/token/lookup-self error="reflect: reflect.Value.Set using value obtained using unexported field"

[2017-05-11 17:47] briankassouf commented on #2717
HI @hummerpaskaa,

What version of vault are you running?

[2017-05-11 18:05] hummerpaskaa commented on #2717
hi @briankassouf
I am running Vault v0.7.1 ('1767ced3a336aee9dbce7f4f0ad652ff44e8ddab')

[2017-05-11 18:05] jefferai commented on #2717
Hi @hummerpaskaa

See
https://groups.google.com/d/msg/vault-tool/f5DQtd0TEwE/W8W471DcBwAJ

[2017-05-11 18:05] #2717 closed

[2017-05-11 18:07] hummerpaskaa commented on #2717
@jefferai aha great, Thank you.

[2017-05-11 18:13] hummerpaskaa commented on #2717
Verified that it works just fine in 0.7.2. My bad for not noticing there was a never version. Thank you for the quick answer

[2017-05-11 21:13] jefferai commented on #2717
Yeah, that's literally the reason we spun 0.72 was that bug :-/

[2017-05-11 21:14] jefferai commented on #2716
Duplicate of #2525

[2017-05-11 21:14] #2716 closed

[2017-05-11 22:48] jefferai commented on #2714
It's a squid issue because when you don't go through squid it works. I don't know anything about debugging squid so I really can't help you out here.

[2017-05-12 06:27] avinchakov opened #2721 "Fail to upgrade to 0.7.x"
Hi, I have the issue. My configuration (pseudo HA):

1. two instances, both unsealed, transit mode
2. one remote mysql backend
3. traffic goes to the first vault instance (VIP by keepalived)

I upgraded standby instance - all was ok. But when I upgraded primary instance I got such error:

[code]
I read the branches about a similar problem, but nothing specific for my case was found

[2017-05-12 11:36] jefferai commented on #2721
You are giving two Vault servers access to the same data store without HA mode. This can and will lead to problems like this.

[2017-05-12 12:05] avinchakov commented on #2721
This scheme worked perfectly before 0.7x.
It can not be solved?

[2017-05-12 12:09] jefferai commented on #2721
It seemed to work, or you thought it worked. But it's unsafe. This thread has some more info: https://groups.google.com/d/msgid/vault-tool/dcd1bae6-8722-4da3-92e1-3fc142093a2e%40googlegroups.com

[2017-05-12 13:01] ballad89 commented on #1619
Hey guys, I am guessing this feature has been released .... any documentation/example how this would be used in a `vault write postgresql/roles/test sql=...` which uses block statements ?

[2017-05-12 17:52] shantanugadgil commented on #371
Hi,

I have posted my queries about FIP 140-2 for Consul/Nomad already, so goes the same here:

Any chance Vault will be FIP 140-2 compliant ✔️  so that it can be used in the AWS GovCloud environment?
(FedRAMP requirements 🙄 )

[2017-05-12 18:16] nyxcharon commented on #2701
Upgrading vault to 0.7.2 it does look to be broken:
[code]

[2017-05-12 18:18] jefferai commented on #2701
@vishalnayak when you get time please

[2017-05-12 19:32] jefferai commented on #1619
Hi @ballad89 -- see https://www.vaultproject.io/api/secret/databases/postgresql.html at the bottom, there is some info on how it can be formatted.

@briankassouf is there a reasonable place to surface that info above the individual plugins' docs?

[2017-05-12 21:18] juliangamble commented on #2458
Hi Jeff,
Thanks for being so helpful.

On startup I'm seeing approx 24000 messages saying:
2017/05/13 07:10:31.653420 [ERROR] expire: failed to revoke lease: lease_id=auth/app-id/login/6488f9f0bb248c4d8cd0fe8dcf0f2f1900e036a4 error=failed to revoke token: cannot revoke blank token

This is after upgrading to vault 0.7.2 and running the two vault tidy operations.

As discussed I have a large number

[2017-05-12 22:23] slackpad opened #2725 "Document required ACL token policies for Consul"
Now that we have full ACL coverage it can be tricky to configure a token for Vault itself to use (see [this thread](https://groups.google.com/forum/?utm_medium=email&utm_source=footer#!msg/vault-tool/xK6wkd-CR20/hQkn01ugAgAJ) for an example). We should update the [Consul configuration page](https://www.vaultproject.io/docs/configuration/storage/consul.html) with details about which ACL policies ar

[2017-05-14 13:44] ballad89 commented on #1619
Thanks @jefferai, I was finally able to get a working example
[code]

[2017-05-14 14:12] jeroenjacobs1205 opened #2726 "sudden TTL errors"
I have had a working Vault setup, but suddenly it's not working anymore and I'm seeing this in the Consul healthcheck UI:

`TTL expired`

This is my Vault config file, I'm using Consul as backend:

[code]

I'm unable to unseal my Vault now (seems Vault is not listening on 8200 anymore either). What should I do to fix this? Is this a Vault issue, or Consul issue? The error is not clear at all. Plea

[2017-05-14 17:22] chrishoffman commented on #2726
It sounds to me your vault is currently not running for some reason.    The ttl checks failing means Vault is not checking in which is confirmed by not being able to access it.    What do your Vault server logs look like?

[2017-05-15 06:34] avinchakov commented on #2721
My configuration really worked and was tested. This is a active/standby. Second instance did not work with the backend until there was traffic on it.

Is there a way to fix this error in 0.7?

[2017-05-15 06:53] #2485 closed

[2017-05-15 08:55] osadalakmal opened #2727 "Trouble with creating a HA Vault cluster"
I am trying to bring up a HA Vault cluster on top of docker. The cluster is to be backed by a consul cluster. The vault cluster is one active node and two stand by nodes. The docker compose file for the setup is [here](https://gist.github.com/osadalakmal/8c90bad5a8d15cd0d48fcd8dc69b3333).

This setup can currently bring up a consul cluster correctly and the three vault instances correctly. But the

[2017-05-15 09:16] jefferai commented on #2721
There is no active/standby with MySQL, regardless of whether you are sending traffic to both or not. Vault is stateful and you have two systems performing tasks that only one should be performing. You simply got lucky that things didn't massively break before now, even if they were broken in small ways and you didn't realize it.

[2017-05-15 10:18] juliangamble commented on #898
Additional discussion here: https://groups.google.com/forum/#!forum/vault-tool

[2017-05-15 11:42] martinssipenko opened #2729 "IAM Instance profile in path"
When using the new IAM auth_type with AWS IAM Instance Profile, which is attached to an IAM role that is in path `/some/`, the ARN of the role is `arn:aws:iam::123456789012:role/some/MyRoleName`, but when using this role for `bound_iam_principal_arn` argument, error is getting returned. (`IAM Principal "arn:aws:sts::123456789012:assumed-role/MyRoleName/i-1234567" does not belong to the role "xxx"`

[2017-05-15 13:27] chrishoffman commented on #2727
Can you please provide your vault configs?

[2017-05-15 13:33] stampycode opened #2730 "minor: sending non-javascript-object in request body causes Go error"
Specifying non-object body content in the POST data to any non-GET endpoint:
[code]

Such as these values:
[code]

Causes:
[code]

Think it would be better to handle this differently.

Specifying an empty object `{}` or the keyword `null` works fine when no body is expected.

I only hit this error because in PHP `json_encode([])` returns `[]` because there are no keys in the array to cause it to o

[2017-05-15 14:21] vishalnayak commented on #2730
@stampycode Even though `[]`, `""`, `123`, `0`, `false` are all valid JSON inputs, as far as I can recall, Vault CLI only accepts `key`/`value` pair(s) at the top level. The `value` can be one of the inputs you mentioned. Its not straightforward to distinguish between other decoding errors vs the Go specific error message we are noticing here. So, I am not how we can (or if we should) address this

[2017-05-15 14:26] osadalakmal commented on #2727
[code]

[2017-05-15 14:48] raoofm commented on #2727
@osadalakmal I think you are missing cluster_addr and redirect_addr in the backend configuration.

Also your listener config should have address and cluster_addr (optional) which is advertised for other members and it cannot be localhost or 127.0.0.1

Are you sure the the address is overwritten. if yes then make sure it is the correct hostname/ip/dns name

[2017-05-15 14:49] stampycode commented on #2730
@vishalnayak I agree with you completely - my request is only that this bug is a direct error message as reported by Go is too verbose and should instead be something such as `This endpoint only accepts a JSON-formatted object in the request body`.

Also the fact that Go is the language used by Vault is not relevant to the error itself, and should not be mentioned in the error message. Telling the

[2017-05-15 15:48] osadalakmal commented on #2727
@raoofm : Thanks, that seems to have fixed it. Providing redirect address on the env through docker compose file fixed it. I had to do some jugglery that was related to #1147 but got there in the end.

If anyone is interested, I was tested by directly running vault command line on the same hosts that ran vault server. This meant that `VAULT_ADDR` was already set and so was `VAULT_REDIRECT_ADDR`. S

[2017-05-15 16:48] osadalakmal commented on #2727
Thanks for all the help guys!

[2017-05-15 16:48] #2727 closed

[2017-05-15 22:54] bigmyx opened #2732 "Feature request: Using DNS hostname verification as a constrain for AppRole"
Hello,
It would be nice to have a mechanism which verifies the DNS name and IP address of the client with an internal DNS server (much like the SSL host verification against CA) and grants the client access upon that along with a Role ID.
Please let me know if that makes sense.
Thanks!

[2017-05-16 02:31] gobins commented on #2520
Hi @jefferai ,

We are getting the same isssue.
We have a single vault instance with a consul backend and attempting an upgrade from 0.6.4 to 0.7.2.

We have attempted the upgrade multiple times and stuck with the same issue.

`2017/05/16 12:09:03.064874 [INFO ] core: successfully mounted backend: type=cubbyhole path=cubbyhole/
2017/05/16 12:09:03.064888 [ERROR] core: failed to mount entry: path=c

[2017-05-16 05:52] CSharpRU opened #2733 "Split-brain?"
Hi there,

I have Vault with etcdv3 in HA mode. Accidentally, I've got situation when all nodes are online in standby mode, but no one is trying to make itself master.

How to fix that?

[2017-05-16 10:46] vishalnayak commented on #2733
@CSharpRU Can you please share the Vault version, config file and the server logs?

[2017-05-16 11:06] stampycode opened #2734 "feature: secret_id/lookup should return last_used_time"
I would like to be able to manually or scriptedly remove old secrets that would otherwise have a very long expiry time, but I can't determine which secrets are still in active use without repeatedly checking the `secret_id_num_uses` field and comparing them over time.

The [/auth/approle/role/[role_name]/secret-id/lookup](https://www.vaultproject.io/docs/auth/approle.html#auth-approle-role-role_na

[2017-05-16 12:19] CSharpRU commented on #2733
**Version:** 0.7.0

**Config:**
[code]

**Logs:**

[code]

[2017-05-16 12:55] duijf commented on #1468
Chiming in with another datapoint that this would be a really important ergonomic improvement. At work we have been bitten by the lack of a PATCH API two times now (we now have our own wrapper script that has patch semantics).

[2017-05-16 13:12] pieterbreed opened #2735 "revoke with aws prefix fails with large number of leases"
Due to a configuration mistake(s) we created 5000 IAM credentials using vault and the expiry on those leases are still far into the future. I want to revoke all of those tokens.

I am using `vault revoke -prefix aws/creds/name` and that command fails after a few 10's of revocations:

[code]

After seeing that error a few times I tried to add `-force`:

[code]

By looking at the AWS IAM console I c

[2017-05-16 14:14] jefferai commented on #2735
Hi there,

Using force is correct in this circumstance; my guess about the speed is that you are being throttled on the AWS API so eventually the client times out. You could create a custom client if you wanted that has longer timeout values.

[2017-05-16 14:17] pieterbreed commented on #2735
Thanks for the quick reply.

I don't really mind the speed at which the revocations are happening. By my reckoning it's going to take about an hour to delete all 5000 accounts.

My bug report is more concerned about the fact that vault errors out, regardless of whether `-force` is used or not.

In my terminal window, I have this running:

[code]

There are _many_ lines like this:

[code]

and I am

[2017-05-16 14:18] jefferai commented on #2735
That's exactly what my reply was about...

[2017-05-16 14:40] vishalnayak commented on #2733
@CSharpRU The node for which you have attached the logs seems to have become an active node. How many nodes are in the cluster and what is the output of `vault status` on each?

[2017-05-16 14:44] CSharpRU commented on #2733
@vishalnayak I've fixed it already by removing leader and lock keys from etcd. `vault status` output on each node was `Mode: standby` and with the same leader every time (even after restart of the whole cluster), other info as usual. 3 nodes in the cluster.

[2017-05-16 14:46] vishalnayak commented on #2734
@stampycode There is already a `last_updated_time` which does get updated every time `secret_id_num_uses` is decremented.

[2017-05-16 14:46] #2734 closed

[2017-05-16 14:48] vishalnayak commented on #2733
@CSharpRU Glad to know that its working. If you happen to know what had caused the lock keys to go to that state, please do let us know. Closing this issue for now.

[2017-05-16 14:50] jefferai commented on #2733
@xiang90 do you want to look into this?

[2017-05-16 14:54] CSharpRU commented on #2733
@vishalnayak I think that it was caused by etcd and Vault outage (killed by memory). But I can't find anything in logs (maybe because it was level=err) and I can't explain why those keys were staying and new "election" wasn't started.

[2017-05-16 14:56] jefferai commented on #2733
It should recover; xiang90 maintains the etcdv3 backend, hence my ping.

[2017-05-16 14:58] CSharpRU commented on #2733
@jefferai Thanks, waiting for @xiang90 answer :)

[2017-05-16 14:59] xiang90 commented on #2733
@CSharpRU Can you reproduce it? Probably provide a step by step guide or a script so that we can look into it more?

[2017-05-16 15:00] stampycode commented on #2734
Then I suggest both the documentation description and the example code be updated to reflect that, because the example shown currently says that the token`last_updated_time` is exactly the same as the `creation_time` and yet the `secret_id_num_uses` value is 10.

This suggests the secret was used 10 times in under .000000001 seconds.

[2017-05-16 15:09] ixe013 commented on #1468
Hey @duijf, how do you manage write-after-write race conditions?

1. A read_key
2. B read_key
3. B partial_write_key
4. A partial_write_key

B partial write will be lost...

[2017-05-16 16:27] CSharpRU commented on #2733
@xiang90 nope, it was made by our devops guy. I'll ask him tomorrow, maybe he'll give some info about that.

[2017-05-16 20:29] raoofm commented on #2733
@CSharpRU @xiang90 @jefferai

This should be fixed by #2526

vault version being used for this issue is 0.7.0 and it should be fixed if the version is upgraded to 0.7.1 or later.

[2017-05-16 22:12] vishalnayak commented on #2734
@stampycode Initially `last_updated_time` will be equal to `creation_time`. If you lookup the secret_id _after_ using it few times, you should see a different value. The documentation example is of a result of lookup before using the secret_id.

[2017-05-17 00:31] henrymollman opened #2736 "Generating multiple dynamic policies and tokens"
I need to create restricted policies to read specific paths, and limit that policy to only that path. I am able to create the policies dynamically but cannot generate tokens for those policies using a role with permission to write to auth/token/create. When I attempt to generate a policy, I get the error * "child policies must be subset of parent". I understand that the token generated must have a

[2017-05-17 03:53] CSharpRU commented on #2733
Thanks, will update and retry to repeat it!

[2017-05-17 03:53] #2733 closed

[2017-05-17 08:28] stampycode commented on #2734
Oh, so `secret_id_num_uses` is actually a countdown?
And by using the secret it triggers an 'update' of the secret. 🤔

I still think the documentation needs updating... 😉

[2017-05-17 13:56] st33v opened #2738 "must use allow_any_name to create a cert with PKI."
I'm pretty sure this is user error or something I'm doing wrong. If someone could lend some clarity, I'd be ever so grateful.

I'm creating a PKI like this:
`[centos@consul-2 ~]$ vault write pki/roles/servers enforce_hostnames=false allow_localhost=true allow_bare_domains=true allowed_domains="$DOMAIN"
Success! Data written to: pki/roles/servers`

but creating a cert fails like this:
`[centos@cons

[2017-05-17 14:02] st33v commented on #2738
there's the whole role:
`[centos@consul-2 ~]$ vault read pki/roles/servers
Key                    	Value
---                    	-----
allow_any_name         	true
allow_bare_domains     	true
allow_base_domain      	false
allow_glob_domains     	false
allow_ip_sans          	true
allow_localhost        	true
allow_subdomains       	false
allow_token_displayname	false
allowed_domains        	foo.c

[2017-05-17 14:20] chrishoffman commented on #2738
Your configuration will only allow you to issue certificates for the bare domain (`$DOMAIN`).  You need to add the parameter `allow_subdomains` to be issue certificates for `$SUBDOMAIN.$DOMAIN`. See https://www.vaultproject.io/api/secret/pki/index.html#allow_subdomains.

[2017-05-17 14:20] #2738 closed

[2017-05-17 17:21] horsehay commented on #2651
@jefferai Just upgraded to 0.7.2 and having the same issue. 😿

[2017-05-17 19:00] vishalnayak commented on #2736
@henrymollman You can use [token roles](https://www.vaultproject.io/docs/auth/token.html#auth-token-roles-role_name-) to achieve this. There are 2 fields on the token store role that are of interest; `allowed_policies` and `disallowed_policies`. Allowed policies acts as a whitelist (allows creation of tokens for policies listed). Disallowed policies acts as a blacklist (allows creation of tokens f

[2017-05-17 19:42] gaballard opened #2739 "Getting "strconv.ParseInt" errors when using non-interpolated variables in Vault config"
I'm trying the most basic of configurations and getting the following errors:

`Error loading configuration from /vault/config: Error loading /vault/config/vault-config.hcl: strconv.ParseInt: parsing [string]: invalid syntax`

We're using Vault v0.7.0 through the official Docker image. We're starting the server via `docker run [image ID] server`.

vault-config.hcl is as follows:

[code]

We tried

[2017-05-17 20:27] StyleT opened #2740 "Vault as a service"
I think about providing Vault as secrets manager service inside my organization. And the biggest issue I see here that it's impossible to provide full access only to the limited part of the Vault.

For example I have 2 teams: A & B. So I want to create policy which grants full access to every path that starts from `teams/A/*`, allows to mount any secret backend inside `teams/A/*`& create policies

[2017-05-17 22:35] bkrodgers opened #2741 "Audit entries on permission denied"
If someone who is authenticated to Vault tries to read something they do not have access to, I'm seeing the following in the audit log:
[code]

Two questions/requests:

1. Why isn't it logging the auth info?  The user is authenticated and presented the token, they were just denied by policy.
2. Can it log errors with a status code (either the HTTP response code or a custom set of codes you'd make

[2017-05-18 08:21] bathenme opened #2742 "vault init script windows"
HI,
do you have some script that start vault server on the background on windows server?
windows service or something like this?

[2017-05-18 08:28] jefferai commented on #2742
No, we do not.

[2017-05-18 08:28] #2742 closed

[2017-05-18 08:34] bathenme commented on #2742
and on linux?

[2017-05-18 08:41] stampycode commented on #2734
@vishalnayak if the `secret_id_num_uses` is set to zero by policy, then the secret is _not_ updated each time the secret is used. The `last_updated_time` is therefor also not updated.

It would be better to output a separate `last_used_time` field anyway; the `last_updated_time` field serves a different purpose. For this reason I also recommend not simply updating the `last_updated_time` field to

[2017-05-18 08:55] jefferai commented on #2734
Can you please explain the use case? I've reread your original post and it's not clear what this would be useful for.

[2017-05-18 09:02] stampycode commented on #2734
@jefferai yup - I have a secret that I issue to each instance of a containerised app, and I might spin up multiple instances of that app - I'm expecting this secret to be used every hour to fetch a new token from Vault for making requests, and each token will be used many times per second.

If I see that a secret has not been used for 4 hours, I can make the assumption that it is no longer attache

[2017-05-18 09:18] jefferai commented on #2734
How are you providing the secret to you containers? What's the provisioning workflow?

[2017-05-18 09:29] stampycode commented on #2734
@jefferai Not sure why that's relevant; if I have secrets in Vault that have no `secret_id_num_uses` (maybe that other developers have manually created), then I need to be able to see when they were last used, so I can clean them up... Currently I have no way to tell if a secret created 12 months ago is used every minute, or hasn't been used since the day it was created.

It would be trivial for V

[2017-05-18 09:40] jefferai commented on #2734
It's relevant because it's entirely possible that what you're doing now is not the ideal method for your needs.

[2017-05-18 10:05] stampycode commented on #2734
Our design decisions aren't up for discussion - we have a paid license for Vault. 😉

I'm asking for a very simple new feature, not design advice. 😁

[2017-05-18 10:55] lifeofguenter commented on #2072
does that mean generic can be used as general k/v storage without expiration, correct?

[2017-05-18 13:00] roidelapluie commented on #823
@jefferai this can be closed

[2017-05-18 15:05] osadalakmal opened #2743 "Backing up and restoring vault in a HA scenario"
I have read through the available documentation but cant find any info on an official guide to how backups and restores are to be done. I did see some users using consul snapshot ability to implement a backup strategy (with come caveats) . But they don't seem to be officially supported.

[2017-05-18 18:02] vishalnayak commented on #823
Fixed by #2208

[2017-05-18 18:02] #823 closed

[2017-05-18 18:38] vishalnayak commented on #2072
@lifeofguenter Yes, you can use it as a k/v store without expiration of the entries. You can choose to make use of `refresh_interval` which Jeff has linked above.

[2017-05-18 19:39] satheeshaGowda commented on #944
Am running into same problem, with Vault Version: 0.7.0, and above suggestion is not working, is it working for anyone out there ? thanks please.

[2017-05-19 05:58] StyleT commented on #2743
Same issue here

[2017-05-19 06:31] StyleT commented on #799
Hi!
After reading a lot of issues/PRs/etc that are related to this issue & trying to implement HA (<20s downtime at least, 0s in future) Vault setup I have few points to add:
- It's really hard or I would say impossible to implement HA Vault cluster that works only with Route53 w/o ELB. Because if we have 3 instances in a cluster and one of them goes down - in the best case we'll have 10s downtime

[2017-05-19 06:44] StyleT opened #2746 "Do not store auth token in user home folder"
Currently Vault uses user home folder in Linux to store it's authentication token after `vault auth` command. It may cause a case when root token will say there forever on some instance of Vault cluster. So attacker can easily pickup it.
Maybe it's better to use shell session env vars for this.

[2017-05-19 10:55] DockerAsura opened #2748 "Documentation for beginners"
Hi Team,
I am new to this tools(vault). can someone send URL's for webnair session or understandable documentation for beginners.

little confused  with official documents, because that document is high level.

Thanks
DockerAsura

[2017-05-19 11:10] vishalnayak commented on #2746
@StyleT `vault auth` is a totally optional command and is intended to cache the token in the CLI (Caching it on the disk is just the default behavior and _can_ be changed). It makes `dev` mode easy to work with.

Its possible that the token is only stored in `VAULT_TOKEN` env variable (without running `vault auth`) to be able to and run all the CLI commands.

[2017-05-19 12:28] vishalnayak commented on #2748
@DockerAsura Some of the HashiCorp webinars are on YouTube (https://www.youtube.com/watch?v=FGbzS6ripXA&list=PL81sUbsFNc5aHvC3tAJRr7GlaMcS19zSO).

The official documentation (https://www.vaultproject.io/) are for both beginners and for those who wants to understand the workings on a technical level. Let us know what in specific do you need that is not covered by the docs.

[2017-05-19 14:12] chrishoffman commented on #2743
This ends up being highly dependent on the storage backend you choose and the data recovery requirements for your organization.  My suggestion would be to use the backend that you are most comfortable with and see what methods are available for that backend.  As with any backup/restore strategy, make sure you test it often to make sure it is suitable for your needs.

[2017-05-19 14:12] #2743 closed

[2017-05-19 15:01] thurmond commented on #2169
Steps to reproduce:  Execute vault as a user that does not have perms to access the current directory.

[code]

The vault user does not have permissions to the /home/user path, and logs the error shown.

` _t:  _p: 13940 _n: __logxi _l: ERR _m: Could not get working directory`