[2015-09-14 14:36] jefferai commented on #615
Should be fixed in 112a419...let me know!

[2015-09-14 14:41] lassizci commented on #615
That gives a nice input, and probably helps avoiding confusion. Cheers!

[2015-09-14 15:06] jefferai commented on #615
Great!

[2015-09-14 15:41] Losiara commented on #614
Thank you!

[2015-09-14 15:41] #614 closed

[2015-09-14 15:55] #597 closed

[2015-09-14 17:46] jplabit commented on #521
+1 - My monitoring system (using app-id) creates a ton of tokens (1 per run, per node, every 30s) as a part of functionality testing. I will be changing the duration later, but my consul directory is already 1 GB, and that is all tokens (with maybe 10 secrets). Having over 15 million tokens waiting to expire for 30 days (I think?), when I could just set it to 5 or 10 minutes (all I need it for)...

[2015-09-14 17:47] benmccann opened #616 "Implement watch"
Kubernetes allows you to watch for changes to a resource. There's been some discussion about using vault with Kubernetes and [Vault's lack of watch support was raised as something that might make this difficult](https://github.com/kubernetes/kubernetes/issues/10439#issuecomment-124263748). I imagine that the consul, etcd, and zookeeper stoage backends should all support this.

[2015-09-14 18:34] jefferai commented on #521
Some of this is really backend-specific, and we'd welcome enhancements. But, there is some good news -- as of 0.3 (or current master) you will be able to set both a global default/max lease TTL and a per-backend default/max lease TTL. So you could have the default be 7 days and max 30 days globally, but for app-id you could set that to 3 minutes and 6 hours, if you like. Since it's per-backend, th

[2015-09-14 18:36] jefferai commented on #616
I've put info about current workarounds in
https://github.com/kubernetes/kubernetes/issues/10439#issuecomment-140167627

[2015-09-14 21:57] wwalker opened #618 "api should support the same VAULT_* env vars as the vault command"
I would like to build some CLI commands in Go using the Vault API.

The "vault" command understands many VAULT_* env vars, yet the vault/api does not.  e.g.:

Supported by API:

    VAULT_ADDR
    VAULT_TOKEN

Supported by CLI ("vault"):

    VAULT_ADDR
    VAULT_TOKEN
    VAULT_CACERT
    VAULT_CAPATH
    VAULT_CLIENT_CERT
    VAULT_CLIENT_KEY
    VAULT_CONFIG_PATH
    VAULT_DEV
    VAULT_FLAGS

[2015-09-14 22:07] jefferai commented on #618
This should be doable...thanks for the report!

[2015-09-14 22:17] jefferai commented on #618
Adding to 0.3 but I fear it may get slipped.

[2015-09-15 01:41] markpeek commented on #205
Has this been resolved with commit c6b5d957de099946d76afaab63b105b1a1099af4?

[code]
Not sure if the extra trailing line feed would cause issues with @sebastiang use case.

[2015-09-15 02:18] jefferai commented on #205
Yes. I'm going to close this in favor of #583 which is tracking the carriage return issue.

[2015-09-15 02:18] #205 closed

[2015-09-15 04:53] shashanksinha1989 commented on #596
yes I am on Vault v0.2.0. Is this issue related to this issue?

[2015-09-15 05:08] shashanksinha1989 commented on #596
Can you try this after binding vault to your network interface?
[root@vault_test apps_data_01]# cat config.json

backend "file"{
path = "/apps_data_01/store"
}
listener "tcp" {
address = "10.157.137.175:8200"
tls_disable = 1
}

[root@vault_test apps_data_01]# vault server -config config.json &
[1] 111429
[root@vault_test apps_data_01]# ==> Vault server configuration:

         Log Level: info

[2015-09-15 07:49] jhaals commented on #111
`vault ls secret/path` would be awesome

[2015-09-15 13:54] jefferai commented on #111
Currently slated for 0.4.

[2015-09-15 14:00] dalehamel commented on #111
Awesome! I'd love to help out any way I can, this is the last missing piece
for us using vault on a large scale

On Tuesday, September 15, 2015, Jeff Mitchell <notifications@github.com>
wrote:

[2015-09-15 14:11] Russell- commented on #111
That's great!  I do realize 0.3 is not out yet ... what are the target dates for 0.3 and then 0.4?

[2015-09-15 16:17] jefferai commented on #111
We don't give hard release dates. Currently 0.3 is scheduled for "quite soon", and look for some news about 0.4 when 0.3 comes out.  :-)

[2015-09-15 16:25] Russell- commented on #111
Fair enough :-).

[2015-09-15 17:40] joeelizondo opened #619 "Cannot make AJAX calls to HTTP API with Token Header"
Running an angular instance on a dev env at localhost:8000 I'm hitting a vault ec2 instance with a consul backend also hosted on ec2, both on their default ports 8200 and 8500 respectively. The problem comes when my app tries a simple read operation using a valid token.

[code]

Instead of a GET request an OPTIONS request is being initiated and the vault server returns a 405. I've googled around a

[2015-09-15 17:50] Poohblah commented on #596
I'm having this issue as well.  I'm trying to add the user `aa729` to the policy `root` in the following example.

The user exists on my server:

[code]

And my vault server is configured correctly:

[code]

And I can attempt to auth as the user - but vault complains about no groups assigned to user:
[code]

So I create a group with policy `root`:
[code]

But I can't add `aa729` to the group:
[cod

[2015-09-15 17:59] jplabit opened #620 "add ability to expire auth backend generated tokens"
There are quite a few issues opened about the ability to renew a token that is issued by an auth backend (userpass, app-id, etc) and also the ability to set lease durations for those tokens that are issued (backend specific). It seems there should also be a way to revoke/expire those tokens as a cleanup step.

I'm not sure revoking is the right way and would probably be difficult to implement, tho

[2015-09-15 18:11] jefferai commented on #620
I'm closing this in favor of the various other issues that you mentioned. Fixing this behavior is already planned, so please follow those issues for updates.

[2015-09-15 18:13] jefferai commented on #619
`405 Method Not Allowed` is correct -- Vault uses HTTP verbs to know what operation is desired, and OPTIONS is not a supported verb. As you said, you're asking for a GET, but you're sending an OPTIONS.

Probably your client is attempting to find out CORS information, which is done via OPTIONS. There should be a way to turn that behavior off in your client.

[2015-09-15 18:18] Poohblah commented on #599
Thanks, @jefferai . I'm having a number of issues with the LDAP auth backend (e.g. https://github.com/hashicorp/vault/issues/596 and https://groups.google.com/forum/#!topic/vault-tool/Dt2jA8DJEe4), so I'm hoping that https://github.com/hashicorp/vault/issues/546 will help resolve those issues.

[2015-09-15 18:34] joeelizondo commented on #619
Ok, it's a bare bones angular request. Does that mean angularjs and probably other javascript libraries that make AJAX calls are not supported by the API?

[2015-09-15 18:41] jefferai commented on #619
No, it means that OPTIONS requests are not currently supported by the API. You need to disable this. If you can't directly adjust that in your client, you need to work around it. See https://developer.mozilla.org/en-US/docs/Web/HTTP/Access_control_CORS#Preflighted_requests

One way is to set the content-type header to `text/plain`. Vault doesn't currently care or look at the content-type header. A

[2015-09-15 18:45] adamdecaf commented on #619
Wouldn't it also work to proxy your web app and vault through a load balancer? That way you aren't exposing vault on the open internet directly (nor dealing with CORS).

[2015-09-15 18:46] jefferai commented on #619
@adamdecaf You can do that; keep in mind that if you are decrypting in the LB and then re-encrypting you have a transitive trust issue (if that is a concern in your security policy).

[2015-09-15 18:48] adamdecaf commented on #619
@jefferai I wouldn't think that the LB should do any decryption. It can just serve as a proxy.

[2015-09-15 18:55] jefferai commented on #619
@adamdecaf It depends which LB you use (and what mode you are using it in). If it supports TCP proxying it doesn't need to do decryption. Not all do; those have to decrypt the stream and then reencrypt it going to the backend.

[2015-09-15 18:58] jplabit commented on #620
With the other solutions, once the token is created, you can do nothing with it other than renew up to a maximum. If I "own" the token, I should be able to clear it somehow. Those other issues/planned updates don't address that.

[2015-09-15 22:05] nevir commented on #406
This would remove much of the current pain when dealing with autoscaling groups +1

[2015-09-15 23:49] jefferai commented on #620
I guess I'm not understanding the issue then.

Is there some reason revocation doesn't fit this bill for you?

[2015-09-16 12:17] jefferai commented on #584
Fixed in #612

[2015-09-16 12:17] #584 closed

[2015-09-16 22:48] wwalker commented on #618
What kind of timeline is 0.3.0?  I might be able to do this.

[2015-09-17 00:56] jefferai commented on #618
It's... soon. This will probably slip, unfortunately.

[2015-09-17 15:47] #583 closed

[2015-09-17 16:06] jplabit commented on #620
Because it doesn't appear that I can revoke my own token without given that user access to the revoke endpoint.

Example:

Authenticate with app-id. Get the token. Try to revoke it.

curl -X PUT ${VAULT_ADDR}/v1/auth/app-id/login -d '{"app_id": "app", "user_id": "user"}'

Assuming token below is returned...

curl -X POST -H "X-Vault-Token: f30bd793-bac5-d341-3f42-93fb0e35f005" ${VAULT_ADDR}/v1/aut

[2015-09-17 17:09] chuxau opened #625 "Debian packaging - keeping sane dependencies"
Hi,

I am making my first steps at packaging vault for debian, for use in an internal network ..

So far, using the debian dh-make-golang helper utility to create a baseline package, I get a dependency list that reads like so:

Build-Depends:

               dh-golang,
               golang-go,
               golang-github-armon-go-metrics-dev,
               golang-github-armon-go-radix-dev,

[2015-09-17 17:23] #620 closed

[2015-09-17 17:23] jefferai commented on #620
You can now give tokens access to /auth/token/revoke-self, and they can perform their own revocations.

[2015-09-17 18:49] jplabit commented on #620
Excellent! I'l check it out. Thanks!

[2015-09-17 19:06] jefferai commented on #625
There isn't any such thing as "base level dependencies"; you could patch out things you don't need and thus get rid of the dependencies that way.

Since this is for internal use, my question would be why you don't make use of the Makefile that comes with Vault to simply build it along with supported dependencies for that version, and simply package the resulting file.

[2015-09-17 20:41] #604 closed

[2015-09-18 10:32] chuxau commented on #625
Thanks for responding, jefferai

What I meant by base-level dependencies is libraries/packages that are absolute requirements even with a minimal install of vault , but I understand what you are saying .. thanks for the feedback.

I did look in greater detail at debian upstream golang packages, and many of the deps I listed are actually already satisfied by the debian upstream ..

So, yes, I will

[2015-09-18 13:50] Russell- commented on #111
As mentioned by @jhaals getting a list of all secrets given a path would be essential for us. We'd like to group our secrets by domain (and possibly other groupings) and we need "admin" users to be able to list all secrets in a domain.  So to generalize finding all secrets under any arbitrary path (e.g., secret/path1/.../pathn) would be needed.

[2015-09-18 14:21] jefferai commented on #600
I'm going to close this for the moment -- the transit improvements will be in 0.3. Please reopen after then if you think your use cases can't be met and we can discuss further.

Thanks!

[2015-09-18 14:21] #600 closed

[2015-09-18 14:31] jefferai commented on #111
For those who want to live on the edge, I'll point you to https://github.com/hashicorp/vault/tree/f-passthrough-list which allows some manner of listing in the generic and cubbyhole backends.

Please note that this is not official and the eventual solution is likely to be different -- it may use a query parameter to GET instead of LIST (or support both), it may work differently to accommodate the

[2015-09-18 14:57] jefferai commented on #625
Yeah - the problem is that Vault's build (like most Go programs) isn't modular. One of the joys of a statically compiled language -- you can't just link to plugins at runtime. So it's all compiled in, even if you don't use half of it.

Good luck!

[2015-09-18 14:57] #625 closed

[2015-09-18 15:13] pokey commented on #600
Yes, that was quite helpful. I think I'll go with your suggestion of
injecting the key into the application's environment on startup. Thanks!

On Fri, Sep 18, 2015 at 7:21 AM Jeff Mitchell <notifications@github.com>
wrote:

[2015-09-18 16:14] jefferai commented on #600
@pokey A few more comments:

* If you are reading over and over, for the moment, I suggest not setting a "ttl" (previously "lease") value when you set the item in the `generic` backend, as this prevents a lease being generated on read, which is currently expensive.

* Very shortly in master (and in the upcoming 0.3) you can use the `transit` backend to generate a data key, which is just a 128-bit

[2015-09-18 16:15] #619 closed

[2015-09-18 16:28] jefferai commented on #515
Please re-open if you need more help!

[2015-09-18 16:28] #515 closed

[2015-09-18 16:47] jefferai commented on #527
A note about the places where "two lease durations" are returned: what you're actually seeing is a lease structure which optionally contains authentication information. "0" is simply the zero value for the duration type; it is shown because in some cases this literally means "using the default" whereas in other cases it just means "not set", and it's a bit context-specific. In all cases, if the le

[2015-09-18 16:49] jefferai commented on #111
(Note: even if I get the info into the CLI output, don't rely on the CLI output's format to stay consistent. Use the HTTP API for this.)

[2015-09-18 20:39] #527 closed

[2015-09-19 00:15] bkeroackdsc opened #628 "Better documentation for configuration via environment variables"
[Apparently](https://github.com/hashicorp/vault/commit/3a05fb70a7eaa01371a84656c18ebd5697f5e14a) it's possible to configure vault via environment variables, which is good. However you would have no way of knowing it from [the docs](https://vaultproject.io/docs/config/index.html).

Documentation should be added that you don't necessarily need to use a static configuration file.

[2015-09-19 00:28] jefferai commented on #628
This is already in master and will be in 0.3.

[2015-09-19 00:28] #628 closed

[2015-09-20 19:01] mfischer-zd opened #633 "Need better story for multiple datacenter scenarios"
Currently, Vault isn't really practicable to use in a multi-datacenter environment.  You can set up a Vault server and its backup server in a single datacenter, but there are at least two significant issues with this:
1. If the datacenter in which Vault resides experiences a network partition, it will be unreachable by clients in foreign datacenters.
2. If clients in foreign datacenters need to ma

[2015-09-20 19:10] jefferai commented on #633
Even when that lands I think you're better off using the physical store's built-in capabilities (whatever they are). Not everything will be able to be enumerated, and even if so, you won't catch e.g. the master keys this way.

[2015-09-21 10:52] carlpett commented on #505
As a (temporary?) fix, I mounted a store on pki-test, waited a minute so whatever rollback was being tried could go through, and then unmounted it. Problem resolved at least insofar that it no longer spews logs.

[2015-09-21 11:09] jefferai commented on #505
When you say that during that write you "...got an error, fixed it...", what error did you get? Was it an unsupported path error that you fixed by correcting the path, or something else?

[2015-09-21 11:28] carlpett commented on #505
It was quite some while ago, so unfortunately I don't remember. I didn't notice the problem with logging failed rollback immediately, so I didn't think about writing down the error when it happened. Only a few days later when I checked the system journal did I see the logs. Sorry.

[2015-09-21 12:27] jefferai commented on #505
OK. If it happens again please let us know. I've tried replicating it but all I can think of trying is a write against a non-existent path, and this isn't triggering bad behavior for me. (It's also possible that it's simply behavior that's been fixed since 0.2.)

Sorry!

[2015-09-21 12:27] #505 closed

[2015-09-21 12:42] jefferai commented on #388
This is unfortunately slipping to 0.4, not because it's not a high priority (it is!) but because other items needed fixing first, and time has simply run out for 0.3. As this is worked on, I'll keep this ticket updated.

[2015-09-21 12:43] jefferai commented on #546
This is unfortunately slipping to 0.4, not because it's not a high priority (it is!) but because other items needed fixing first, and time has simply run out for 0.3. As this is worked on, I'll keep this ticket updated.

[2015-09-21 14:12] #504 closed

[2015-09-21 14:17] jhaals commented on #546
I'm ok with waiting.
It might be good to formalise the layout of the updated backend as well since every ldap setup seem to be somewhat unique.

[2015-09-21 14:19] hobbeswalsh commented on #546
I'd love to see it formalized because I'd like to potentially contribute if
possible. Thanks!

On Mon, Sep 21, 2015 at 07:18 Johan Haals <notifications@github.com> wrote:

--
Brevity: 👻 of 💡 (sent from a phone)

[2015-09-21 14:23] jefferai commented on #546
Do you mean the API pathing/routing?

[2015-09-21 14:26] hobbeswalsh commented on #546
Sure, if that's what serves as a spec for the auth backend, that would be
excellent.
On Mon, Sep 21, 2015 at 07:23 Jeff Mitchell <notifications@github.com>
wrote:

--
Brevity: 👻 of 💡 (sent from a phone)

[2015-09-21 14:31] jhaals commented on #546
Yeah and "features" that should be added to the backend, some asked for a specific bind user and I have issues with the backend in it's current form due to our user DNs being `cn=Firstname Lastname,ou=users`, that does not match on posixGroups where the `memberUid:` maps to the users `uid`.

I solved it with this patch for now which searches for the username before doing the bind to get around the

[2015-09-21 14:38] jefferai commented on #546
I would be happy to discuss a spec/API design document with anyone interested. I won't have the time to work on this during this week or next, so if anyone wants to start one up, feel free.

My thoughts:

* LDAP ain't easy, so don't try to hide all the gory details. For any possible LDAP bind/auth/search capability X, figure that admins know what they're doing and may well need to toggle X.
* Most

[2015-09-21 15:26] st33v commented on #70
Hey Ledjon... would it satisfy your PCI requirements if the unseal keys were stored in KMS? That way, the encrypt key stays in vault but you'd still be managing key 0 with the HSM. I'm not a PCI expert but I've been thinking about how you'd autoscale something like vault in AWS and HSMs were discussed. It would be great if that also made it PCI-compliant.

[2015-09-21 16:35] jefferai commented on #70
@st33v Reading your comment, I realize that I didn't actually make that explicit in my earlier comment. Storing the actual *unencrypted* master key in KMS is a problem for the reasons mentioned; but you are of course perfectly free to store the unseal keys wherever you like -- including an HSM-backed KMS store, printed out and put in a "real" bank vault, etc. :-)

@ledjon Sorry I didn't mention th

[2015-09-21 17:50] bkeroackdsc opened #634 "Vault servers are stateful regarding seal/unseal"
Using the S3 backend with three vault servers behind a load balancer for HA, the servers appear to have independent state during the unsealing process.

For example, if the master key is split into three shards and the unseal PUT requests happen to hit different servers, you can end up with some servers returning ``sealed: true`` and some ``sealed: false``.

Vault should store all state in some pe

[2015-09-21 19:05] bkeroackdsc commented on #634
Turns out they are stateful regarding basically all config...

[2015-09-21 20:27] jefferai commented on #634
From the documentation:

`s3 - Store data within an S3 bucket S3. This backend does not support HA.`

You are not running a HA cluster; you are running three totally separate Vault servers.

[2015-09-21 20:27] #634 closed

[2015-09-21 20:31] timgent opened #635 "List users for userpass auth backend"
In order to manage users in vault I would like to be able to list all current users. This will enable me to be able to better manage users. Otherwise when I need to clear out old users it is very difficult as I don't know how to find their usernames.

[2015-09-21 20:39] jefferai commented on #635
Duplicate of #111

[2015-09-21 20:39] #635 closed

[2015-09-21 20:57] bkeroackdsc commented on #634
@jefferai And yet they all can share the S3 backend fine, which begs the question why they can't also have the same configuration/auth backend. IOW, why can't S3 work for HA? Or perhaps put another way, why can't the configuration/auth datastore be independent from the secrets datastore? (to allow stateless servers)

[2015-09-21 21:09] jefferai commented on #634
HA either can't work for S3 because S3 doesn't provide the necessary atomic locking capabilities on keys, nobody has coded in the necessary support using S3's atomic locking capabilities (if they exist), or both. I'm not sure which it is, but I do know that it is not currently an HA-supporting backend. Attempting to use it as if it does support HA will result in undefined, probably very bad, behav

[2015-09-22 09:48] james-masson commented on #388
Another +1 for this feature.

Our use case is Vault as an Intermediate CA, signing requests for downstream intermediate CAs (FreeIPA in this case).

I'm in the same position as @EricMCornelius here. We already use Vault for secrets, would like to use it to handle dynamic CA/cert issuing too. https://github.com/cloudflare/cfssl looks like a good alternative at the moment.

[2015-09-22 13:20] jefferai commented on #457
@gudlyf Backends can store information internally in Vault (as in, not returned to the user) that is returned to them during a revoke or renew action. So a backend creating a user and tying it to a lease can look up which user was created as part of the revocation process.

[2015-09-22 13:25] james-masson opened #636 "Certmonger / SCEP support"
I'm looking at using Vault to issue/manage/renew SSL certificates on large numbers of UNIX systems.

There are already established OS client-side utilities for managing this - what are your thoughts on supporting:

*  SCEP  - https://en.wikipedia.org/wiki/Simple_Certificate_Enrollment_Protocol

and/or

* Certmonger - https://fedorahosted.org/certmonger/

It looks like Vault is mostly targeting App

[2015-09-22 15:20] jefferai commented on #636
Vault is actually targeting *any* SSL certs. Currently it allows issuing for server/client/code signing uses; for most OS needs the client usage is what you're looking for. In 0.4 (as currently planned) it will gain the ability to handle CSRs and CA usages, which will make it able to do pretty much anything you could want a CA to do while allowing for the strong and flexible policy controls curren

[2015-09-22 17:30] johnjelinek opened #638 "Postgres backend not generating credentials"
[code]

Then in postgres:
[code]

[2015-09-22 18:29] jefferai commented on #638
Hi,

What version of Vault are you using? What policies and features do your tokens have (in particular do they have a set `num_uses`)? What SQL are you running at lease generation time? What is your postgres backend configuration?

Thanks!

[2015-09-22 19:09] julianborrey opened #639 "Append key-value pairs to a vault file without removing previous pairs"
[code]
This puts the key-value pair `hello=world`.

If we then do
[code]
we will lose the `hello=world` key-value pair.
It would be good if it just added `foo=bar` and kept `hello=world`.

So, after those two commands, the final file should be
[code]

[2015-09-22 19:16] jefferai commented on #639
This won't be implemented -- we want Vault to be deterministic, and it follows CRUD semantics. Data lives at a location; if you want to update the data at the location you provide the new data (which includes anything you want to keep).

There are various workarounds, one being to simply read the data before writing it, the other to write the new pieces of data somewhere else and update them there

[2015-09-22 19:16] #639 closed

[2015-09-22 22:26] johnjelinek commented on #638
[code]

I only auth'd with the root token, ran `vault token-create` and then set that to my `$VAULT_TOKEN`. Then I mounted postgres and set up postgres connection and credential generation following the docs. My previous comment is what happens next. I'm not sure how to answer your remaining questions. I'm using a file backend configuration (I don't see postgresql as an option in the docs, only my

[2015-09-22 22:51] sethvargo commented on #638
Hey @johnjelinek

I just tried this with Vault 0.2.0 and Vault-master (https://github.com/hashicorp/vault/commit/76b22ca24396ab720f4e5029d40872b64cb0d79b) and I am unable to reproduce the issue.

I open sourced the scripts I used here: https://github.com/sethvargo/vault-demo. In there is a setup.sh script which shows the steps for creating and mounting a postgres backend.

Please let me know if th

[2015-09-22 23:29] johnjelinek commented on #638
[code]

The steps in your `setup.sh` are the exact commands I ran to configure my `postgresql` mount. I know vault is connecting to the postgres server because the `vault write postgresql/config/connection` value succeeds to write. If I put in an invalid server IP/hostname, it fails.

Here's my `vault.hcl`:
[code]

[2015-09-22 23:34] johnjelinek commented on #638
This could be a helpful nugget, the client I am running `vault write postgresql/config/connection` does not have access to the database hostname/IP, but the vault server does.

[2015-09-22 23:40] johnjelinek commented on #638
I recreated everything, this time trying the `inmem` backend, I ran through the steps in the script. Same results. I'll get you an isolated Vagrant environment to try out.

[2015-09-22 23:54] jefferai commented on #638
What policies and features do your tokens have (in particular do they have a set num_uses)? What SQL are you running at lease generation time? What is your postgres backend configuration?

[2015-09-22 23:55] johnjelinek commented on #638
@jefferai: I said above I don't know what any of those questions mean. Can you elaborate?

[2015-09-23 00:01] sethvargo commented on #638
@johnjelinek I think @jefferai is asking if you have any special policies attached to _your_ token - the one you are authenticating with using the `vault` command on the client. How did you create that token? Does it have a limited number of uses? What is the lease time on that token?

What is the exact command you are running to generate the SQL tokens? Are you adding the password expiration? Wha

[2015-09-23 00:06] johnjelinek commented on #638
Repo: https://gist.github.com/johnjelinek/27bd2ea2a2e171fe1b04
Steps to recreate (as executed from my mac):

[code]

[2015-09-23 00:14] johnjelinek commented on #638
@sethvargo / @jefferai: I think :point_up: answers all your questions.

[2015-09-23 00:14] jefferai commented on #638
Do you still have problems when running an official build of Vault outside of Docker?

[2015-09-23 00:15] jefferai commented on #638
For that matter, do you still have problems when you are running *both* Postgres and Vault outside of Docker?

[2015-09-23 00:18] johnjelinek commented on #638
I guess I could turn the Dockerfiles into scripts and execute in a vagrant environment, but it's really important for me that this works inside docker (even if I try different docker images).

[2015-09-23 00:21] jefferai commented on #638
I think a good first step is testing the two outside of Docker. Once that's working you'll know that the setup between the two is fine and if they don't work when you move them into Docker you'll be able to troubleshoot it more easily.

I've used both Postgres and Vault inside Docker, but when using someone else's Docker image you never know what you're going to get, and that makes it pretty much

[2015-09-23 00:25] jefferai commented on #638
Oh -- in particular, I just looked at `cgswong/vault` and it's based on Alpine. We have seen many problems with our software in Alpine, and there are plenty of other reports around of Go binaries not working correctly on Alpine, especially if they are being built inside Alpine against its libc.

If you want to run Vault in Docker I highly suggest `golang-builder` or `gockerize` -- they are far sup

[2015-09-23 00:27] johnjelinek commented on #638
@jefferai: thanks! I think that may be what I was looking for. Is the limitation with alpine documented anywhere?

[2015-09-23 00:42] jefferai commented on #638
Not that I'm aware of, because I think it's all anecdotal evidence at this point. I know, for instance, that we've seen trouble with people running Consul in Alpine-based docker images using Go 1.5.

[2015-09-23 02:11] johnjelinek commented on #638
I created a Vagrantfile where postgres 9.4 + vault 2.0 is provisioned on boot. I can't repro the issue in that scenario, so I bet you're onto something regarding Alpine.

[2015-09-23 02:11] johnjelinek commented on #638
I think tomorrow I'll try out your recommendations for `golang-builder` or `gockerize` and see if I make progress.

[2015-09-23 02:31] jefferai commented on #638
Cool. Be sure to read the documentation with those about certificates (not
sure how gockerize handles it, but golang-builder has instructions).

Glad you're making progress!
On Sep 22, 2015 22:11, "John Jelinek IV" <notifications@github.com> wrote:

[2015-09-23 09:31] james-masson commented on #636
Application certs vs OS level certs - I was more commenting about the current state of certificate management for Applications vs. OS - I realise a properly issued cert could be used for either.

OS/Network hardware level cert management is a mature area. Systems and Network people have tools like certmonger and/or SCEP based alternatives, used with a local CA that supports those options - or the

[2015-09-23 12:40] jefferai commented on #636
Until recently I was at a very large company (6k employees) with > 150k machines. While I can't go into details, for most of those machines, I will say that I am a fan of the exact kind of model that Vault is designed to make difficult, on purpose, to encourage non-shared secrets.

For the rest -- by which I mean the daily machines for engineers and sales and management and so on -- for most of th

[2015-09-23 18:30] johnjelinek commented on #638
@jefferai:

I changed my Vagrantfile from https://gist.github.com/johnjelinek/27bd2ea2a2e171fe1b04 to point to an ubuntu-based vault instead of alpine and it works now:

[code]

Side-note: The `cgswong/vault` was using the release binary on top of alpine, not building from alpine. For `gockerize` / `golang-builder` -- would it be a valuable exercise to have vault built on top of alpine with those?

[2015-09-23 19:07] jefferai opened #641 "Add email subject alternate values to PKI"
In addition to DNS and IP SANs, we should support email SANs.

[2015-09-23 20:08] jefferai commented on #638
Yeah, so I'm not really sure how to answer this...

Vault is a static binary, so in theory it shouldn't matter whether it's running on Alpine or Ubuntu, *unless* it has some cgo stuff in there that is dynamically linking at runtime, which as far as I can tell is not the case. So this is pretty mystifying but does match up with what I've heard about Alpine/Go problems.

I think a good first step wo

[2015-09-23 22:01] sandstrom commented on #633
This would be very useful. Both (1) and (2) would be an issue for us as well.

Something similar to *High Availability*, which some backends currently support, would be great. Consul + replication and some sugar to support this in Vault would be great.

[2015-09-24 12:30] james-masson commented on #636
Thanks for letting me know your approximate timelines. Likely we'll re-evaluate how our certificate distribution architecture works when 0.4 is released, if we see shortcomings in the one in progress right now.

From the experiences you describe, it sounds like where we differ is Build vs Off-the-shelf in client-side cert management. I definitely didn't mean to imply that Vault couldn't be used to

[2015-09-24 12:30] #636 closed

[2015-09-24 13:22] johnjelinek commented on #638
@jefferai / @sethvargo: Were you able to repro the scenario with my vagrant/docker repo above to ensure it's not just me?

[2015-09-24 14:07] jefferai commented on #636
FYI, the additions to the PKI backend are being coded right now. Expect a delay with HashiConf, but I imagine within two weeks the enhancements will have landed. You may want to watch #388

Kerberos was indeed a major influence. One of the issues with Kerberos is needing to build in client support everywhere else; Vault uses a similar model but eases it by having APIs that can be used from CLIs up

[2015-09-24 14:08] jefferai commented on #638
I honestly haven't had a chance...I'm in release mode right now and HashiConf is just around the corner (@sethvargo is already in Portland setting things up, so he's out). It's likely to be a bit before I could get to that...much apologies.

[2015-09-24 18:28] igrayson commented on #406
Is there a better place to vote for this feature? +1

[2015-09-25 00:38] jefferai commented on #406
There isn't. I'm tentatively scheduling this for the 0.4 milestone, but I want to make it clear that it may slip. It's a guess, not a promise. :-)

[2015-09-25 09:33] dol opened #644 "Add Jose secret backend that replaces JWT backend"
The recently added JWT backend (#460) was removed due to a lot of work (@6c21b3b69343b17e716dc64b9312bfd2024bb33a) fixing up the backend.

I agree on the removal of the backend. The backend has some flaws and is incomplete:
- The possibility to verify the integrity of a token is missing. Sign and verify are the two building blocks of JWT
- The 'claims' parameter in `/jwt/issue/<role>` is called 'p

[2015-09-25 11:35] jefferai commented on #644
We'll revive something for 0.4. The big overarching problem with the JWT backend as-is (which I pushed up to a branch for keeping for the moment) is that it allows the caller to set any claim values they like, including issuer and issued_at. An issuer that simply signs whatever a client tells it to is not an issuer you can trust, making it functionally useless for Vault's purposes.

I don't have t

[2015-09-25 13:09] dol commented on #644
I you need any second opinion on the topic ring me. I'm happy to help.

As always: We currently have a use case where this backend would have been very beneficial. ;-) But with the requirement of generating JWS instead of JWT.

[2015-09-25 13:35] ekristen commented on #644
@jefferai why not just open a ticket and ask me to fix, since I originally submitted this? I need JWT in Vault.

It is not useless in its current state. You the admin of vault controls who and what has access to vault. I see the point you are making however and if that is a requirement then let me fix it. Lets not just yank it out. As for setting other claims, you do have to be able to support dyn

[2015-09-25 13:43] jefferai commented on #644
There isn't time to fix it, vet it, and test it before the release.

You are welcome to continue using your code in your own build, but the code as-is will not be an upstream Vault feature.

Access in Vault is done by prefix matching. That's why backends have roles with administratively-configured values, and then tokens are given policies allowing access to credentials identified, in the URL path

[2015-09-25 13:53] ekristen commented on #644
I don't believe I'm the only one looking for the feature.

You said there is no quick fix. Could you please list out the things that were wrong with the current iteration that caused it to be yanked out? I would like to work on the fixes.

I was not suggesting blacklisting as an option. You mentioned that being able to set `issuer` and `issued_at` and I agree, removing the ability to set those oth

[2015-09-25 14:01] ekristen commented on #644
I apologize if I came off as defensive.  @dol thanks for your suggestions.

[2015-09-25 14:06] adamlc commented on #644
Its a shame this got yanked, but I do agree it probably needs some more thought. Would be great to see this back in :+1:

JWTs are great and it would definitely be awesome to have them in vault!

[2015-09-25 14:12] ekristen commented on #644
Agreed, needs some work, just bummed that this wasn't brought up before so it could be fixed for 0.3. @jefferai whenever you can provide a list, that would be great. Thanks!

[2015-09-25 14:14] jefferai commented on #644
Vault's model is zero-trust. An administrator needs to be able to completely define what a client can do, because the point is that there is no human in the loop. Once a token is signed or a cert issued, other entities must trust it at face value. This is simply not possible when a client holds all of the power.

If a CA allowed any requestor to get a certificate for google.com or facebook.com, no

[2015-09-25 14:17] jefferai commented on #644
Yeah, I know that kind of sucks. I'm sorry about that. This was merged prior to me working on Vault full-time, and there's been so much other stuff going into 0.3 that I didn't go back and take a look at it. Here's a lesson for you, though: I started to take a good look at it because the acceptance tests were failing  :-)

(Just to be clear, this was not my sole decision to defer it to 0.4; I simp

[2015-09-25 14:20] ekristen commented on #644
As in these tests? https://github.com/hashicorp/vault/blob/jwt-on-ice/builtin/logical/jwt/backend_test.go

[2015-09-25 14:23] ekristen commented on #644
My basic reasoning for this was a secure place to store the key, I figured if I was giving my developer access to it, I trusted what he was asking him to sign. I wasn't looking at this as Vault is the approval authority or even the place to guarantee accuracy at the time. I just didn't want to have to give 10 different devs access to the private key.

I understand the reasoning around **trusting**

[2015-09-25 14:23] jefferai commented on #644
Yes, although that contains some fixes already. Here's the file before my changes: https://github.com/hashicorp/vault/blob/b2da14c3e88b65fe878d255d5f64b4f54d396e7a/builtin/logical/jwt/backend_test.go

[2015-09-25 14:24] ekristen commented on #644
RE: tests -- interesting they were all work when I submitted the code originally AFAIK.

[2015-09-25 14:27] jefferai commented on #644
Sure...but we need to figure out how to properly control those. For instance, maybe roles contain lists of which claims are allowed to be set by a client, so different clients can be given access to different roles based on what claims they might need to set.

I'm going to need to mostly jump off of this for now, but post HashiConf I'll be happy to spend more time working with you to figure out th

[2015-09-25 16:12] jefferai commented on #638
Just as a point of interest, today I saw this chatter:

Not sure if this is true, but it might be a reason for seeing failures on Alpine. Perhaps what I'd heard was backwards -- that Go stuff on Alpine was broken in 1.4 but not on 1.5, not vice-versa.

All hearsay  :-)

[2015-09-25 16:15] johnjelinek commented on #638
So, perhaps vault 0.3.0 will not have this issue assuming it's built with Go 1.5? When does 0.3.0 ship? 

—
Sent from Mailbox

On Fri, Sep 25, 2015 at 11:12 AM, Jeff Mitchell <notifications@github.com>
wrote:

[2015-09-25 16:15] jefferai commented on #638
Perhaps. And, very soon.

[2015-09-25 18:02] wwalker opened #645 "hundreds of thousands of vault/sys/expire/token/<long_hex>/<long_hex> entries"
hundreds of thousands of vault/sys/expire/token/<long_hex>/<long_hex> entries in consul.
Using Consul 0.5.2, Vault 0.2.0.
They seem to have stopped being created.
What do they mean?  How can I safely clean them up?

apparently for 4 different tokens:

    wwalker@hatter:~$ jq .[].Key kv-tst-mexec1.json | grep vault/sys/expire/token | sed -e 's#/[^/]*$##' | sort | uniq -c | sort -n
        878 "vau

[2015-09-25 18:06] jefferai commented on #645
You're probably reading from the generic backend extremely often so creating leases, rather than using the TTL to determine whether you need to read again.

In 0.3 this behavior will change. In the meantime, they will expire over time.

[2015-09-25 22:10] apparentlymart opened #646 "Google Apps Authentication Backend"
[Google Apps for Business](https://www.google.com/work/apps/business/) (and its variants like "for Education") allows companies to outsource employee user account management to Google, allowing employees single sign-on to various Google services and Google-integrated services.

Part of this offering is a user account directory, which includes groups that users can be assigned to, giving a similar

[2015-09-25 23:31] jefferai commented on #646
This kind of flow is definitely something we're interested in... one of the things we need to take the time to sort out is how we want to handle identity focused use cases, for this and other possible integrations. In past internal discussions we've shied away from moving Vault towards an identity server, as there are many kinds of those with established protocols and we want to focus Vault on the

[2015-09-26 00:09] Moeser commented on #546
Just signed up to github so I can comment on this.  I wanted to mention our use case so it can be thought about during the re-write.  We have multiple userdn's, (one for users, one for service accounts, etc.)  If we can only specify one userdn then a subset of users is excluded.

Please also consider support for multiple userdn's :)

[2015-09-26 00:26] Poohblah commented on #546
@Moeser - If I'm understanding you correctly, in a typical LDAP client, you don't need to specify multiple DNs to achieve your goal.  Instead, you specify a base DN (typically an OU) under which all user accounts live (may even be the top-level entity in your org) and an ObjectClass that is common to all user accounts. For instance, `userSearchBase = ou=people,dc=example,dc=org` and `userObjectCla

[2015-09-26 01:24] jefferai commented on #546
Also, nearly all backends in Vault can be mounted in more than one
place. So you could have multiple backends with multiple
configurations. We may also follow the role-based model of many of the
secret backends, so you can define multiple roles with different
characteristics and have users auth to one or the other. (Plus, even
with roles you can mount in multiple places!)

[2015-09-28 19:29] wwalker opened #648 "failed to mount entry &vault.MountEntry{Path:"secret/" ... "cannot mount under existing mount 'secret/'"
All 3 of my servers are repeating these lines at least every second, no vault is ever in active mode.

2015/09/28 14:23:52 [INFO] core: acquired lock, enabling active operation
2015/09/28 14:23:52 [INFO] core: post-unseal setup starting
2015/09/28 14:23:52 [ERR] core: failed to mount entry &vault.MountEntry{Path:"secret/", Type:"generic", Description:"generic secret storage", UUID:"41deda65-e433-0

[2015-09-28 19:31] jefferai commented on #648
Is this something that started happening suddenly, or is this a new cluster?

[2015-09-28 19:35] wwalker commented on #648
It ran for at least a week.  As the accesses to the vault are automatic, this would have gone unnoticed for a while.  I just ran vault at the command line to check on something and ... no vault.

[2015-09-28 19:36] wwalker commented on #648
I would guess all I need to do in decrypt vault/core/mounts to see what is wrong.

except that requires a running server.  Is there a tool for when the server isn't up?

[2015-09-28 19:39] jefferai commented on #648
My recommendation would be to try shutting all three down and starting them one at a time. It seems like there was an initial failover and something went wrong (although this is definitely not something I've seen before).

You could, if you're shutting them down anyways, [upgrade them to 0.3](https://hashicorp.com/blog/vault-0.3.html) at the same time; there are a lot of logic fixes regarding moun

[2015-09-28 19:43] wwalker commented on #648
Thank you.  Giving it a whirl.

[2015-09-28 20:12] wwalker commented on #648
That worked.  I've kept the logs that I have, if anyone wants to look into this, although the recovery was quite simple and no apparent data loss

[2015-09-28 20:38] wwalker commented on #645
Thank you.  You were correct.

[2015-09-28 20:52] wwalker commented on #645
You say the behavior will change in the 0.3.0 release (from this morning :-) )  I dont' see any documentation on how the creation of leases for every read will change.  Where is that in the docs?

[2015-09-28 22:01] jefferai commented on #645
It's discussed in one of the sections on the announcement blog post ("Performance Improvements for Generic"). https://hashicorp.com/blog/vault-0.3.html

It's not in the Vault docs because leases in the generic backend were always a noop. The functionality hasn't changed, as TTLs are still returned.

[2015-09-28 22:07] jefferai commented on #648
Sure, if you can post the logs from the beginning of the trouble I'd like to see what they say.

Thanks!

[2015-09-29 13:24] nicr9 commented on #131
:+1:

[2015-09-29 15:44] larryboymi opened #651 "GitHub Backend Acceptance Tests Fail: "[ERR] core: unable to look up sys view for login path""
Prior to pulling today's source, I was able to get auth backend acceptance tests to run and pass the login step. Now on each login step I get ```"[ERR] core: unable to look up sys view for login path"``` with the request/response for logging in printed. I'm new to the source so trying to figure out why that is, but it happens for me in ```github``` & ```cert``` so far, guessing other auth backends

[2015-09-29 15:49] larryboymi commented on #651
<pre>2015/09/29 10:37:56 [INFO] core: mounted 'mnt/' type: test
2015/09/29 10:37:56 [WARN] Executing test step 1
2015/09/29 10:37:56 [WARN] Executing test step 2
2015/09/29 10:37:56 [WARN] Executing test step 3
2015/09/29 10:37:56 [WARN] Executing test step 4
2015/09/29 10:37:57 [ERR] core: unable to look up sys view for login path(request: *logical.Request{Operation:"write", Path:"mnt/login", Dat

[2015-09-29 16:03] jefferai commented on #651
This is probably due to the backend not properly calling the framework Setup function. I can fix this soon.

[2015-09-29 16:15] larryboymi commented on #651
Thanks, glad to hear it's not something I did wrong. I'm new to Go as well as creating these backends but I'm trying to make one modeled after these, and running the tests was something I was doing as a sanity check.

[2015-09-29 16:22] jefferai commented on #651
Prior to the 0.3 dev cycle calling the Setup function was recommended but
if you didn't nothing bad happened. It's now required, and the code in the
backend is fine (but needs to be updated) but in the tests can fail even if
the backend works okay.

Thanks for the report!

[2015-09-29 16:33] bkrodgers opened #652 "Github auth is not leased and does not ever check for changes"
It appears that the Github auth module does not check for changes.  Once the token is generated, it appears to not expire, nor is anything ever re-checked.  I revoked my token in Github and I still have access to vault days later.  Presumably this also means that if I remove someone from the org entirely or just from the group that is granting them a certain policy, that is never re-checked either

[2015-09-29 17:29] sethvargo commented on #652
@bkrodgers the tokens themselves expire in Vault though. If this is something you're concerned about, you should set a low TTL value on the auth endpoint for github so that their tokens expire in a short period of time. You can also revoke the entire tree if someone leaves the company, which will revoke any secrets and access the user had.

The GitHub auth does have a lease associated with it, and

[2015-09-29 18:37] bkrodgers commented on #652
The tokens vault issues from the Github backend do not expire from my experience with 0.2.  I haven't tried 0.3 yet.  I've had the same token -- on a now revoked Github token -- since last Thursday.

I didn't see documentation on how to set a TTL for the Github auth backend.  Not discounting that I might be missing it.

[2015-09-29 18:41] 0xdabbad00 commented on #530
Any updates on this?

[2015-09-29 19:23] jefferai commented on #652
The GitHub auth backend does not currently allow specifying the TTL when logging in. In 0.2 this means it will use the system default lease TTL (which IIRC is 7 days, and thus would not currently be expired). In 0.3 it will use, in order, the mount configured default TTL, or, if there is none set, the system default TTL. Both of those are settable. See the `mount-tune` command for setting the per-

[2015-09-29 19:25] jefferai commented on #530
We definitely want to log the paths hit in the audit log...they're an important part of auditing.

My general recommendation is to not use the App-ID backend for authentication.

[2015-09-29 20:01] mattstep opened #653 "pgpkeys binary or base64?"
The new -pgpkeys parameter for rekeying and initializing is advertised as being for base64 encoded keys on https://www.hashicorp.com/blog/vault-0.3.html and appears to be for binary format keys in the help for the rekey/init commands in vault. Base64 is probably easier than binary since most keys seem to be shared in base64.

[2015-09-29 20:42] bkrodgers commented on #652
Gotcha.  So it sounds like 0.3 will allow me to specify a default and max TTL for the github mount point, which will then give me what I need to at least expire the tokens after a period of time.  I still think it'd be beneficial to keep the underlying github token and periodically recheck it, which would allow setting a longer expiration time.  As it is, I'll need to set that pretty short (no mor

[2015-09-29 21:11] larryboymi commented on #652
Well I was saying that the source indicated that if the policy was set to root and TTL is 0, to not override it with the default. Perhaps this is due to not wanting to expire the root secret?

[code]

[2015-09-29 21:26] jefferai commented on #653
It's base64. From the docs for init/rekey:

"The keys must be base64-encoded from their original binary representation."

Perhaps the CLI output help is confusing...I'll take a look.

[2015-09-29 21:26] #653 closed

[2015-09-29 21:29] mattstep commented on #653
Actually, to get the CLI working, I had to have them in binary. It wouldn't work correctly with base64.

[2015-09-29 21:29] jefferai commented on #653
Yes, was just going to mention that. The CLI reads in the binary key files. But it's passed B64 to the API.

[2015-09-29 21:30] mattstep commented on #653
Yeah, any reasons to do binary with the CLI? I think it makes alot more sense to just use B64 everywhere...

[2015-09-29 21:31] jefferai commented on #652
Correct -- root tokens do not expire.

[2015-09-29 21:33] jefferai commented on #653
Yes, to avoid users having to convert their binary keys into B64 just to pass them into Vault. For most users, this will save a step. But you can't pass binary data around in JSON APIs, so it gets encoded.

A future enhancement could be to attempt reading the file, and if it's not a valid key, attempt B64-decoding and try again.

[2015-09-29 21:35] larryboymi commented on #652
The only issue I see with that is when folks set the policy to ```root``` for what's really not a root token. But hopefully they're doing this realizing some things in the code are making specific decisions based on that special policy.

[2015-09-29 21:35] mattstep commented on #653
It's way easier to get a B64 encoded public key via a keyserver or with keybase.io these days...

[2015-09-29 21:36] mattstep commented on #653
I havent had someone send me a binary public key in a while actually.

[2015-09-29 22:25] bkrodgers commented on #652
Right, there's a distinction between the root policy and the root token.  This code is applying it to the root policy, yet even the comment refers to the intent to be to hit the root token.

You might be thinking "you shouldn't use the root policy outside of the root token!"  The reason I want to do that is so that I can delegate admin access and not have to share that root access token among mult

[2015-09-29 22:27] larryboymi commented on #652
I think we should move away from the root policy for shared secrets

Sent on the new Sprint Network

----- Reply message -----
From: "Brian Rodgers" <notifications@github.com>
To: "hashicorp/vault" <vault@noreply.github.com>
Cc: "Larry Anderson" <larryboymi@hotmail.com>
Subject: [vault] Github auth is not leased and does not ever check for changes (#652)
Date: Tue, Sep 29, 2015 5:25 PM

Right, the

[2015-09-30 01:12] sherzberg commented on #651
I have hit this as well in a custom auth backend we have. What `Setup` function are you talking about? Or where was this change made? Upgrading our fork to the latest from `0.3` code I get this same error in our tests.

[2015-09-30 01:59] jefferai commented on #651
The setup function is in logical.Framework. All backends in non-test scenarios receive a DynamicSystemView from the core and call the Setup function in their factory, but not all acceptance tests have been fixed to do so.

Take a look at https://github.com/hashicorp/vault/commit/59a3f6b5d2b3299c63e9112c28526c7b8a84961c -- by making similar changes it should fix your issue.

[2015-09-30 01:59] jefferai commented on #651
Fixed in https://github.com/hashicorp/vault/commit/59a3f6b5d2b3299c63e9112c28526c7b8a84961c

[2015-09-30 01:59] #651 closed

[2015-09-30 02:09] jefferai commented on #652
It is generally recommended not to have the `root` policy applied to any tokens that are not not meant to be actual root tokens -- because having that policy *makes* them root tokens!

Vault is a zero-trust system. Adding a policy with `sudo` access to all the required things may be annoying, but it's also a declarative way to ensure that nothing is ever accessed that wasn't specifically allowed.

[2015-09-30 02:44] sherzberg commented on #651
Thanks! This helped me fix my issue.

[2015-09-30 12:42] GonZo commented on #131
:+1:

[2015-09-30 13:30] larryboymi commented on #651
This fixes it for OAuth, but I'm getting the same error on the ```cert``` acceptance test.

[2015-09-30 13:32] jefferai commented on #651
It's a per backend solution, so needs to be fixed there too then.

Unfortunately most backends start with a lot of copypasta...

[2015-09-30 13:34] larryboymi commented on #651
Gotcha...I know I could help by submitting a merge request, but I'm still getting my feet wet.

[2015-09-30 13:40] jefferai commented on #651
No worries! This is easy for me to fix (but currently traveling).

We do appreciate the reports... we constantly run unit tests on the main
code but backends are so setup specific (and can require external accounts
or resources that can cost money) that we usually don't run their
acceptance tests except when we change backend code. So reports from users
are very valuable.

[2015-09-30 18:58] jurriaan opened #656 "Vault 0.3.0 amd64 binary distribution is dynamically linked"
As you can see Vault 0.3 (https://dl.bintray.com/mitchellh/vault/vault_0.3.0_linux_amd64.zip) is dynamically linked
[code]

While Vault 0.2.0 (https://dl.bintray.com/mitchellh/vault/vault_0.2.0_linux_amd64.zip) was statically linked:
[code]

This makes it harder to run Vault 0.3.0 on a system where ld-linux is not in that particular location (say alpine linux which uses musl instead of glibc).

It

[2015-09-30 22:17] ascot21 opened #657 "Missing Client Token"
I have setup Vault with Consul on an AWS EC2 instance and am trying to connect to it remotely by running the vault binary I've installed on my local machine.  I'm getting a `missing client token` error when  running read or write commands.

I've set local environment variables VAULT_TOKEN and VAULT_ADDR to the appropriate values and can even run commands directly with curl.

Running the following:

[2015-10-01 01:57] jefferai commented on #656
Thanks for the report. I will need to look into this and see what the cause
is... it could be a number of things from a different version of Go to
changed dependencies.

We've seen a lot of strange problems from people running on Alpine, so we
definitely want it to be static so that musl isn't involved.

[2015-10-01 01:59] jefferai commented on #657
The most likely culprit would be a 0.3 server and a 0.2 client.

[2015-10-01 02:08] ascot21 commented on #657
@jefferai that was it.  Closing this.

[2015-10-01 02:08] #657 closed

[2015-10-01 08:57] timgent opened #658 "Unable to issue certificates for base domain"
Following the pki example in the docs I can issue certificates for sub-domains, but not for the base domain. I would like to be able to issue certificates for the base domain.

[code]

[2015-10-01 10:06] christopherobin opened #659 "Cannot destroy route table that was set as main"
I have a terraform file that looks like this:

[code]

Everything works fine and dandy, until I try to destroy the whole stack:

[code]

I'm not sure what would be the best solution with dealing with this, I guess when destroying a route table that is set as the main one, set back the association to the original route table before doing so?

[2015-10-01 12:18] jefferai commented on #658
This is by design. Create a role with `allow_any_name` if you want to create a certificate for the base itself.

[2015-10-01 12:18] #658 closed

[2015-10-01 12:19] jefferai commented on #659
This isn't a Vault issue...

[2015-10-01 12:19] #659 closed

[2015-10-01 13:12] johnrengelman commented on #406
I was thinking you could do this using KMS by basically mapping the KMS key as the "appId" in Vault. Then the machine would need an IAM policy that allows access to the specified KMS key in order to perform the auth.

[2015-10-01 20:45] carldanley opened #660 "s3 physical backend configuration"
Hello, I tried looking through existing issues/documentation, etc to find a configuration example for the physical s3 backend. Can someone provide an example of how they've hooked up their s3 backend?

If I understand this correctly, vault will use s3 for storing secrets instead of your local filesystem right?

[2015-10-01 20:46] carldanley commented on #660
cc: @tkellen, @mattsurabian

[2015-10-01 21:41] jefferai commented on #656
Fixed in master and will be fixed in new releases.

[2015-10-01 21:41] #656 closed

[2015-10-02 00:36] jefferai commented on #660
You should pose this question on the mailing list, not here. You'll get far more eyes on it, including people that are actually using the S3 backend.

[2015-10-02 00:36] #660 closed

[2015-10-02 14:00] sramakr opened #662 "permission denied during auth when using the secret policy from "Getting Started""
Followed the instructions for creating authorization policy.
Always fails with Permission denied on API call lookup_self

But works if I use the root policy.

path "secret/*" {
  policy = "write"
}
path "secret/foo" {
  policy = "read"
}
path "secret/super-secret" {
  policy = "deny"
}

vault token-create -policy="secret"
vault auth token-from-above
permission denied
curl -XGET http://127.0.0.1:82

[2015-10-02 14:00] sramakr commented on #662
BTW. Tried using both Consul and MySQL Backend , it's the same issue.

vault -version
Vault v0.3.0

[2015-10-02 14:07] jefferai commented on #662
It's a docs bug, someone is going to submit a PR for it. See https://groups.google.com/forum/?utm_medium=email&utm_source=footer#!msg/vault-tool/1celGgCDfrU/QIpLFMDRBgAJ

[2015-10-02 14:07] #662 closed

[2015-10-02 17:21] johnjelinek commented on #638
Looks like alpine is having trouble with 0.3.0 too: https://github.com/cgswong/docker-vault/issues/8#issuecomment-144468104

[2015-10-02 18:05] jefferai commented on #638
This is expected. See https://groups.google.com/forum/#!topic/vault-tool/0JCmzvk6DYA

[2015-10-02 22:32] wwalker opened #665 "Vault logging authentication tokens, and secrets, to stdout/stderr"
We capture stdout/stderr to a log.  I found Client Authentication Tokens (changed here to REDACTED-BUT-REALLY-IN-THE-LOGFILE) and secrets (asdfqwerzxcv in this case) in the capture file:

[2015-10-02 22:37] wwalker commented on #665
2015/09/30 14:18:46 [ERR] core: failed to register lease (request: *logical.Request{Operation:"read", Path:"secret/ops/configs/properties/product_groups/foo/my.pass", Data:map[string]interface {}(nil), Storage:logical.Storage(nil), Secret:<nil>, Auth:<nil>, Connection:(*logical.Connection)(0xc209c24300), ClientToken:"REDACTED-BUT-REALLY-IN-THE-LOGFILE", DisplayName:"token-DevOps-Product-Group-Read

[2015-10-02 22:43] jefferai commented on #665
The ClientToken value is not a real value; it is hashed and used by backends to identify a specific real token for tracking state. It is different per teal token per backend. So its presence in the log isn't nice but isn't a problem.

The secret in the log is, however. That should be removed.

[2015-10-03 00:21] wwalker commented on #665
97  2015-10-02 19:15:05 export VAULT_ADDR=https://127.0.0.1:8200
   98  2015-10-02 19:15:07 export VAULT_TOKEN=REDACTED-VALUE-BUT-STRAIGHT-OUT-OF-THE-LOG
   99  2015-10-02 19:15:15 vault read secret/ops/configs/properties/product_groups/acme/mysql.pass

That returned me the actual secret.  It is the real authentication token.  I verified that it was being used by rerunning the export command with

[2015-10-03 01:03] jefferai commented on #665
Ah, you're right: this is coming from core before hitting a backend, so it has the real value.

[2015-10-03 01:16] wwalker commented on #648
Thanks!  Here is a realtively recent one.

==> Vault server configuration:

         Log Level: debug
             Mlock: supported: true, enabled: true
           Backend: consul (HA available)
 Advertise Address: https://127.0.0.1:8200
        Listener 1: tcp (addr: "127.0.0.1:8200", tls: "enabled")

==> Vault server started! Log data will stream in below:

2015/10/02 19:57:15 http: TLS handshak

[2015-10-03 01:24] wwalker commented on #648
My older file is huge.  Every time I try to upload a file, it gives me:

"Something went really wrong, and we can’t process that file. Try Again"

I've changed the file contents from unix to dos line EOL.  I've tried two browsers.

I can upload the file somewhere else.  it's 130 MB and gzips to 12 MB.

[2015-10-03 01:28] wwalker commented on #648
http://www.solid-constructs.com/cleaned_vault.log.gz

[2015-10-03 01:32] #665 closed

[2015-10-03 02:16] jefferai commented on #388
Good news: this is nearly complete. Lucky #666

The documentation has not yet been updated, but anyone that wants to look at it and take it for a spin (the documentation of the API fields in the code *has* been updated) is welcome to, and I'd be happy to have feedback.

[2015-10-03 18:54] jefferai commented on #594
This was likely due to the generic backend creating leases and eventually filling things up, which changed in 0.3. I'm going to close this now, please re-open if you're still having issues.

[2015-10-03 18:54] #594 closed

[2015-10-03 18:56] jefferai commented on #648
I've got the file; feel free to remove it from the server.

[2015-10-03 19:05] jefferai commented on #648
So there are a number of problems I see in the log, outside of what you put above:

This is due to your Vault server requiring TLS 1.2 and your client only supporting 1.0/1.1. You can downgrade the required version on the server with a config parameter, or ideally upgrade your clients.

That 500 is coming from your physical backend -- I'm guessing Consul.

In fact, you get a lot of other errors --

[2015-10-03 20:55] #602 closed

[2015-10-04 19:02] vishalnayak commented on #652
Fixed by #664

[2015-10-04 19:02] #652 closed

[2015-10-05 10:37] dch opened #667 "vault server -log-level parameter has no effect"
Changing `log-level` flag is expected to change to debug or trace output.

Running either `vault server -log-level=trace -dev` or `vault server -log-level=trace -config=/ramdisk/vault/config.hcl` shows only `[INFO]` output. In particular I'd like to see/trace the HTTP level (headers, return codes, any cookies etc & content) to ensure the code I'm developing mirrors the hashicorp console tool.

tes

[2015-10-05 11:47] james-masson commented on #388
It does seem to work nicely with very simple CSRs - however it seems to choke on examples with more features/restrictions.

eg.

[code]

[2015-10-05 13:15] ringods opened #668 "acme CA backend support?"
I don't know if it fits the Vault case, but would backend support to a certificate authoritiy via the (evolving) acme protocol fit?

https://letsencrypt.org/
https://github.com/letsencrypt/acme-spec

[2015-10-05 13:15] jefferai commented on #388
What exactly is in that CSR? Parsing it with OpenSSL is odd:
[code]
In particular the "Attributes" section is wonky. Here's an example of my own; note the difference with Attributes and Requested Extensions:
[code]
This really looks like a problem with your CSR, not the backend. How did you create it?

[2015-10-05 13:23] james-masson commented on #388
The CSR is generated automatically with Certmonger. Dogtag, easy-rsa, certmaster etc. all sign it correctly.
If there's something wrong with it, happy to raise it with them.

The openssl (openssl-1.0.1e-42.el7.9.x86_64) parsed csr output on my test system looks quite different.

[code]

[2015-10-05 13:28] jefferai commented on #668
Vault already has a `pki` backend to act as a CA; this will be greatly enhanced in the soon-to-be-released 1.3.1.

I doubt Vault will ever support the acme protocol. It's a totally different use-case; acme is mostly about a methodology to allow unknown and mostly untrusted parties to prove identity and get certificates. Vault has other authentication and authorization methods, and in return has a

[2015-10-05 13:28] #668 closed

[2015-10-05 13:35] jefferai commented on #388
I still think your CSR is problematic:

[code]
The Attributes section is where my openssl (1.0.2d-0ubuntu1) shows wonky output -- yours above shows `unable to print attribute`. There have been a lot of openssl vulns in the past related to incorrect parsing or failing to properly handle malformed data, so I wouldn't be surprised if this is a change related to my newer openssl version.

The key here

[2015-10-05 13:39] jefferai commented on #667
There is no trace level output at this time.

[2015-10-05 13:39] #667 closed

[2015-10-05 16:10] james-masson commented on #388
Here's another example CSR. OpenSSL happily decodes all the fields. Vault still returns a "400 - certificate request could not be parsed"

[code]

This link seems interesting - http://grokbase.com/t/gg/golang-nuts/14c5pazcn4/go-nuts-problem-with-x-509-certificate-signing-request-parsing-structure-error-sequence-tag-mismatch

Perhaps the problem is the "Critical" flag set on attributes?

Interestin

[2015-10-05 16:18] wwalker commented on #645
How can one force the expiry of these?  consul currently takes 7 CPU minutes (about 8 wall clock minutes) to start because of this.  Then, after that, Vault takes 4 minutes to start.

[2015-10-05 16:19] james-masson commented on #388
This seems to be the fix - https://github.com/golang/go/commit/e78e654c1de0a7bfe0314d6954d42b046f14f1bb

[2015-10-05 16:34] james-masson commented on #388
Confirmed - Golang HEAD fixes this - I can issue certs from both the problem cases.

[2015-10-05 17:01] jefferai commented on #645
Use `revoke-prefix`: https://vaultproject.io/docs/http/sys-revoke-prefix.html

[2015-10-05 17:01] #645 closed

[2015-10-05 17:09] jefferai commented on #388
Yuck. I will see internally if we want to fork the stdlib but I highly doubt we'll want to be doing that, so that might be a Go 1.6 issue.

FWIW, the new CSR you pasted above doesn't cause openssl errors for me:
[code]
So I do still think something was weird with your first one. But clearly there is a real problem in the Go std lib.

[2015-10-05 17:43] zakjan opened #669 "OAuth2 access token refreshing"
OAuth2 access tokens can be valid for a limited period of time, and when invalidated, they must be refreshed by so called refresh tokens.

It would be cool if Vault would support automatic refreshing of OAuth2 access tokens when the token is requested and its validity time expired or on demand.

[2015-10-05 17:47] jefferai commented on #669
Duplicate of #96 .

[2015-10-05 17:47] #669 closed

[2015-10-06 10:01] shashanksinha1989 opened #670 "Auth: Unable to use self-signed certificate"
I am unable to use self-signed certificate for cert auth method. Below is my configuration

$ cat config.json
backend "file"{
path = "/apps_data_01/store"
}
listener "tcp" {
address = "10.157.137.175:8200"
tls_disable = 1
}

$ vault server -config config.json &

$ vault init -key-shares=1 -key-threshold=1

After unsealing and authenticating for first time, I enabled cert auth

$ vault auth-enable

[2015-10-06 10:03] shashanksinha1989 commented on #670
Do I have to create web,prod policies before authenticating ?

[2015-10-06 10:59] jefferai commented on #670
Your URL starts with "http". It needs to be "https".

[2015-10-06 12:51] shashanksinha1989 commented on #670
Is there is a way to do it through CLI instead of API? Also I have disabled the TLS while starting vault and skipped during authentication as well. Do I still need that ?

[2015-10-06 13:42] jefferai commented on #670
Every `vault` CLI command supports the `-address` flag to specify the address. You can also set the `VAULT_ADDR` environment variable.

[2015-10-06 14:04] eedgar commented on #131
:+1:

[2015-10-06 14:24] cornfeedhobo commented on #653
I can not recall the last time I passed around a binary key.
FWIW, I would lean towards base64 public keys. Or maybe an additional flag to support it?

[2015-10-06 15:00] jefferai commented on #653
It's not a question of passing around binary keys. If you already have the public keys on your keychain, regardless of how you got them, gpg generally exports as binary. That was the logic behind this.

Please open a new issue with a feature request if you want support for base64-encoded keys.

[2015-10-06 15:59] juanformoso opened #671 "Using ssh keys as auth backend?"
Is it possible to do so? I couldn't find it in the docs (only found TLS certificates as an option)

[2015-10-06 16:01] jefferai commented on #671
No, it is not possible, sorry.

[2015-10-06 16:01] #671 closed

[2015-10-06 16:08] mattstep commented on #653
I'll probably just use curl since the api supports base64, and it's just one commandline switch for gpg to export, and most of the examples people use online will include that switch.

[2015-10-06 17:53] hobbeswalsh opened #672 "Linux Vault binary panics after a successful LDAP login"
Let's try logging in with the wrong LDAP password:

[code]

Ok fine, that looks like an expected failure. Now let's try logging in with the _right_ LDAP password.

[code]

That seems like a show-stopper. How did this ship in 0.3.1?

[2015-10-06 17:54] hobbeswalsh commented on #672
Oh, right, this is the x86_64 linux binary.

[2015-10-06 17:56] jamesob commented on #672
+1

[2015-10-06 18:13] jefferai commented on #672
Is this new behavior? Is this something that worked for you in 0.3.0?

[2015-10-06 18:17] jefferai commented on #672
Specifically:

Did it work in 0.2?
Did it work in 0.3?

None of the ldap code changed in 0.3.1; neither did the auth code. So the answer to how it shipped in 0.3.1 is "we haven't had a report of this problem before and none of the relevant code changed".

[2015-10-06 18:23] peterloron commented on #131
:+1:

[2015-10-06 18:37] hobbeswalsh commented on #672
@jefferai this appears to be a 0.3.1 regression.

[code]

[code]
$ ./0.3.1/vault auth -method=ldap username="My Username"
Password (will be hidden):
panic: interface conversion: interface is nil, not float64

goroutine 1 [running]:
github.com/hashicorp/vault/command.(*AuthCommand).Run(0xc8200fd8c0, 0xc82000a1b0, 0x1, 0x1, 0xc82013c090)
	/gopath/src/github.com/hashicorp/vault/command/auth.go:206 +0

[2015-10-06 18:47] jefferai commented on #672
My guess is that this is somehow related to fixing the builds to be static instead of dynamic. I can send you a dynamically-linked build for testing if you like.

[2015-10-06 18:48] jefferai commented on #672
Alternately, can you self-compile for testing?

[2015-10-06 18:49] hobbeswalsh commented on #672
yeah, you mean using `go get`? I can try that.

[2015-10-06 18:52] jefferai commented on #672
Try two things, if you don't mind:

1) The linux_x86 (32-bit) version
2) A self-compiled version. The ideal way to do this to mimic how we build would be to clone the repo, run `godep restore` to get the same versions of dependencies, and then run "make dev" to build. The binary will be output to the bin/ directory. Once you can do that successfully I may give you a couple variations to try. Can y

[2015-10-06 18:57] jefferai commented on #672
Another question -- are you using both a 0.3.1 client and 0.3.1 server?

[2015-10-06 19:05] hobbeswalsh commented on #672
ugh, okay --

[code]

[2015-10-06 19:05] hobbeswalsh commented on #672
do you have a Vagrant box you can test this on? meanwhile I'll try to get it to work.

[2015-10-06 19:07] jefferai commented on #672
@hobbeswalsh Did you run `make dev` or `make`?

[2015-10-06 19:08] jefferai commented on #672
Also it looks like you're trying to build Go there, not trying to build Vault.

[2015-10-06 19:10] hobbeswalsh commented on #672
yeah, was trying to do two things at once and unzipped go distribution on top of vault. let me try again.

[2015-10-06 19:14] jefferai commented on #672
OK. Are you using the same server/client versions?

[2015-10-06 19:16] hobbeswalsh commented on #672
server is 0.2.0, clients 0.2.0 and 0.3.0 work. 0.3.1 does not.

I can't upgrade the server right now, as that would cause downtime and we'd need to re-unseal.

[2015-10-06 19:17] hobbeswalsh commented on #672
I just ran the version of Vault built with `make dev` and it failed with the same stack trace.

[2015-10-06 19:20] jefferai commented on #672
I'm surprised that 0.3.0 works, as the output formats and CLI code haven't changed between 0.3.0 and 0.3.1, but generally speaking 0.2.0 and 0.3.x are *not* compatible client and server versions.

When you get downtime, please try using a same version of the server and client.

Also, based on the stack trace, this is almost certainly only affecting the CLI; the HTTP API should be fine.

[2015-10-06 19:54] hobbeswalsh commented on #672
FWIW this is also broken on the i686 platform.

[2015-10-06 19:56] hobbeswalsh commented on #672
I guess for now the guidance will be to use version 0.2.0 of Vault -- but what's the upgrade path for this, then? I upgrade the server and then tell everyone at the company: "sorry, your CLI might just stop working all of a sudden. Please get a new version." Not the most user-friendly upgrade path, but I understand that there are some potentially-breaking changes between 0.2 and 0.3

[2015-10-06 20:00] jefferai commented on #672
The upgrade path, unless explicitly specified otherwise, is to assume that Vault's API can change between minor versions of Vault (e.g. 0.2 and 0.3). The Vault CLI is simply an API client.

We try to ensure that any breaking changes are specified (and a number of them are noted in the 0.3 changelog entry).

[2015-10-06 21:54] nbrownus opened #673 "Issue with lease revocation in v0.3"
Looks like vault opens a socket for every revoke attempt. If you have many tens of thousands of leases to revoke it starves the system of sockets. I am currently running v0.3 but all these leases are a result of running v0.2 for a while. The error message is `connect: cannot assign requested address`.

When `vault` does get a socket the revocation fails with `failed to revoke entry: secret is unsu

[2015-10-06 21:59] justintime opened #674 "Can consul-replicate be used with Vault?"
Our use case dictates that we need to have Vault and it's secrets available in multiple physical datacenters.  However, writes to Vault only need to happen at one location.  This makes for a very typical "one master with many slaves" arrangement.

Since we're using consul for the backend, I figured consul-replicate would be the perfect tool for the job.  After setting it all up and running consul-

[2015-10-06 22:45] nbrownus commented on #648
This still happens in v0.3. It also seemed to happen in v0.2 if you had `statsite` telemetry enabled and the `statsite` process died and came back to life some time later. I vaguely recall a part of the core code that attempts a full re-initialization under certain error conditions. I suspect the issue is around there, I will try to find it when I have time.

[2015-10-06 23:11] wwalker opened #675 "There is no 0.3.1 tag"
There is no 0.3.1 tag

[2015-10-06 23:19] #675 closed

[2015-10-06 23:23] jefferai commented on #673
It's unclear if you're talking about the client or server side -- whether you are performing revocations or you are talking about Vault trying to automatically revoke leases. You also haven't mentioned which backend(s) you're talking about, as each behaves differently.

Regardless, this is probably something that requires administrative fixing -- either increasing the maximum number of sockets (vi

[2015-10-06 23:26] jefferai commented on #674
It's not really a known issue in that this isn't an officially supported setup.

My guess is that you're running into the fact that Vault contains a read cache from the physical backend. I would imagine you're seeing this problem mostly for changed data, not new data.

In that case, your best current option would be to maintain a local fork that disables the cache. This will considerably impact pe

[2015-10-06 23:30] jefferai commented on #648
@nbrownus Some insight as to how to reproduce it would definitely be useful.

[2015-10-06 23:51] nbrownus commented on #673
This is server side lease revocation, backend is `consul`.

I have a large number of leases because
- My organization has a large number of secrets.
- It is currently impossible to only allow a lease owner to renew a lease. Allowing for this decreases security #535 #455. Not allowing this results in lease bloat.
- It is currently impossible to renew an auth token generated from the `app-id` auth m

[2015-10-07 00:22] jefferai commented on #675
Thanks for the report!

[2015-10-07 00:49] jefferai commented on #673
You still haven't said which backend(s) are causing the leases to be created. You said that your organization "has a large number of secrets", but `app-id` is an authentication backend.

If you're talking about the `generic` backend, you were likely causing this problem due to setting a `lease` parameter on secrets, and then ignoring them when reading. In 0.2, the `generic` backend would only crea

[2015-10-07 01:39] nbrownus commented on #673
The term "backend" is very overloaded here. The storage backend is `consul`, most secrets are stored in the `generic` secret backend (I was calling it static in the previous post), and largely all secrets are leased via tokens issued from the `app-id` auth backend.

I am using `consul-template` to render secrets from `vault` into files on disk. `consul-template` certainly understands the lease mec

[2015-10-07 02:18] jefferai commented on #673
Yes, but only some generate leases; physical backends, for instance, don't. I was trying to ascertain which backends you were using that were actually generating the leases you have been seeing.

Whether leases in `generic` were created on read in 0.2 was a write-time parameter (the `lease` parameter). Simply writing the values without specifying a `lease` parameter would have prevented this regar

[2015-10-07 02:54] nbrownus commented on #673
No, `vault` gives up. Next time you restart `vault` it tries to revoke those same leases all over again. While other people may not be getting DOS'd by this they will certainly have these leases persisted until `vault` deals with them properly.

Or in any large scale deployment of dynamically generated secrets or anyone who knowingly set a lease period on `generic` secret backend secrets. I would

[2015-10-07 03:17] jefferai commented on #673
Fair point.

I'm not sure what you see as the issue with these backends.

If you are interested in helping to test a fix, I can send you a binary out a patch to apply to build on your own.

[2015-10-07 03:51] nbrownus commented on #673
They would generate leases, as well as an additional workload of revoking credentials in an external system. Since this issue is generally about lease revocation DOS'ing the system, anything that generates enough leases could do it. If revoking credentials from `mysql` works in the same manner as revoking leases within the `consul` storage backend it is likely that `vault` could take down a `mysql

[2015-10-07 04:07] nbrownus commented on #648
I'm working on reproducing this, it generally happens around the time that #673 occurs but may also be related restarting `statsite`. I'll hopefully have more information later this week.

[2015-10-07 04:08] jefferai commented on #673
The problem you are seeing is a combination of improper use of the generic backend creating huge numbers of leases and a bug in the new version of Vault not allowing those leases to be removed. As a result, when Vault starts, you have 35k leases trying to be revoked at exactly the same time, and failing, and each trying several more times.

I wouldn't imagine that this is a likely scenario when ge

[2015-10-07 04:13] jefferai commented on #648
There are possibly multiple ways to trigger this... the OP was on 0.2 so it's not the same cause as your issue, but the suggestion that in some failure modes the core does a reset but not properly seems likely. I'm less concerned about this issue for a 0.3.2 than #673 since there are workarounds to fix this, but I will also look tomorrow (past midnight here) to try to find an obvious cause. If you

[2015-10-07 13:49] justintime commented on #674
That's what I wondered as well.  Our use case for vault is simple, it's an encrypted key-value store that's referenced on app startup, and that's just about it.  We run consul on the same hosts that we run vault on, so network RTT would be non-existant.  I'll see if I can disable the read cache and see what the impact is.

I found an issue over in consul-replicate (referenced above) where it looke

[2015-10-07 14:31] roycrowder commented on #674
I've had success with the replication across sites with consul-replicate and haven't run into a caching issue. However, I use the secondary site in more of a DR scenario so we don't have people pulling from it as often. I can try doing some more testing on my side and see if I get the same scenario.

How long does it take for you to get caching issues? You say you saw initial success, is there som

[2015-10-07 14:33] jefferai commented on #674
@justintime  BTW, I marked this as enhancement/thinking earlier because I think it should be pretty easy to make the cache a tunable. It would be quite useful to know if that's actually the source of your issue though. If you like I can help you with a patch to disable it locally for you and you can see if it fixes your problems.

[2015-10-07 14:53] justintime commented on #674
@roycrowder I think the only reason I saw initial success was because I hadn't started vault in my destination DC yet.  I wanted to replicate, and then make sure that the start->unseal->read workflow worked.  That did work.  I'm not for 100% sure if it was an add or an edit, but basically any changes seemed to not show up until after I restarted and unsealed the vault leader.  I'm going to setup s

[2015-10-07 15:06] theonewolf opened #676 "Tokens Issued with Non-Existent Policies"
This bug just hit me (and @mallikarjun26) where it is possible to generate tokens with non-existent policies.

I think this should be considered an error for the `token-create` sub-command?

For example, this CLI will happily return to me a token which has no real meaning to my Vault deployment:

[code]

@mallikarjun26 first reported this issue and I helped track it down.  It particularly rears it

[2015-10-07 15:10] sethvargo commented on #674
Hey everyone,

Chiming in here from the Consul Replicate (CR) side of things :smile:. Putting any Vault-specific issues aside, CR is designed to mirror a particular prefix from one Consul DC to another. If you are using Consul as the backend storage mechanism, CR will definitely replicate the data.

There are a few things I would like to mention. CR will only replicate one-way. It can replicate to

[2015-10-07 15:13] jefferai commented on #676
I will have to look into the history of this; it may actually be on purpose, so that you can distribute tokens now to systems but define policies later. The reason I think this may be the case is because you can later change the contents of those policies without needing to reissue tokens; looking at it from one perspective, a non-existent policy is just an empty policy.

[2015-10-07 15:15] theonewolf commented on #676
@jefferai I was also thinking that.  I wonder how most people are using it?

I hate the problem with capitalization though :disappointed: (Test vs test).

[2015-10-07 15:36] wwalker commented on #648
I upgraded to 0.3.1 (and dumped my entire vault DB, starting from scratch) and , so far, the problem is gone.

[2015-10-07 15:42] #673 closed

[2015-10-07 15:43] jefferai opened #677 "Tunable maximum connections to physical backend"
The number of outstanding connections to a physical backend should be tunable, and start at a sane default (such as 64).

[2015-10-07 15:44] jefferai commented on #673
Hi,

That commit should fix your problem. Please let me know if it doesn't!

I've also created #677 to track adding a configurable maximum number of connections to physical backends.

[2015-10-07 15:51] jefferai commented on #674
To echo what @sethvargo just mentioned, I'm happy to work on a patch to test whether disabling the cache helps things out, and I'll try to post one later today, but there are many potential drawbacks to replication and you'll need to be careful. This would be a purely read-only replication and you'd need to limit it to specific prefixes. As I said on the ML thread, you would not, for instance, wan

[2015-10-07 16:49] #455 closed

[2015-10-07 16:50] justintime commented on #674
Yeah, I think everything Seth mentioned still fits my "master with
read-only slaves" scenario.  Can you speak to whether or not the S3 (or
even the mysql) backend might be a better fit for me?  I certainly don't
need the scalability of Consul, at most we'd be looking at a couple hundred
requests *per day*.

If vault is aware of a "mtime" change on S3 or MySQL and flushes it's read
cache, that's pr

[2015-10-07 16:58] jefferai commented on #674
@justintime The biggest probable issues with this are not really in Consul, per se -- they're with things like propagating leases across to other datacenters. That's a concern regardless of the backend choice. So the main concern here is probably that some backends will make it easier or harder to sync only the proper entries.

It turns out that it's actually easy to disable the cache -- it's just

[2015-10-07 17:10] jefferai commented on #676
I'm going to mark this as a `thinking` bug and find a time to bring it up internally. I think this may indeed have been on purpose, so I can't promise a behavior change coming down the line.

[2015-10-07 17:29] jefferai commented on #648
@wwalker Cool. I just pushed commits to master today to solve #673 so you may want to think about trying those out too, in case one of the methods triggering it for you was the same.

[2015-10-07 17:33] jefferai commented on #676
We just had an internal discussion. It seems like one of the other reasons for the current behavior is not just to allow defining a policy later, but to allow reasoning about tokens that have policies associated that have since been deleted.

I think the way forward will be the following:

1. Normalize policy names to lowercase
2. Add a Warnings field into responses. This can be parsed from the JS

[2015-10-07 17:48] theonewolf commented on #676
Warnings would be great, and definitely catch this from a UI-perspective.

Not having the warning led to a small headache :smile:.

[2015-10-07 18:09] theonewolf commented on #388
My two cents: it will be useful to generate new roots and intermediates on-the-fly for use at different deployment locations.  So I like this idea/feature.  I am OK with a constrained configuration model AFAIK.

[2015-10-07 18:44] justintime commented on #674
I'm having troubles getting a build to work.  I have 0.2.0 deployed in my source datacenter, but I'm unable to get v0.2.0 to build due to some godep issues?

I made the mistake of running 0.3.1 in my destination datacenter, but discovered quickly that version mismatches are not a good thing :)  Any tips on getting the 0.2.0 release to build?

[code]

[2015-10-07 19:48] jefferai commented on #388
@theonewolf You will be able to (and you can look in the as-yet-undocumented PR if you want to test it out now!)

When this gets merged I'll probably publish a blog post showing how to use two different mounts and the new methods added to securely host a root and any intermediates you like, signed by that root. Because you can add as many `pki` mounts as you like, you can have an arbitrary number

[2015-10-07 19:53] jefferai commented on #674
`make dev` tries to get dependencies via normal `go get` means, but their APIs have changed.

Make sure you have `godep` installed, then try `godep go install` from the Vault source dir. That should work.

[2015-10-07 20:23] justintime commented on #674
the ```godep go install``` didn't fail, but the build did afterwards.  Pretty sure I'm running into https://github.com/hashicorp/vault/issues/536

I'm not so sure that disabling the cache is going to fix my problems anyway.  I saw in the code where reads on keys that didn't exist weren't cached.  However, adding a new key, replicating it, and attempting to read it on the remote was still failing.

[2015-10-07 20:39] theonewolf commented on #388
@jefferai this will seriously notch Vault up a couple levels in functionality.  I see Vault as an all-encompassing PKI management solution for organizations of all sizes---which is incredibly attractive to me.

Keep up the great work :+1:

[2015-10-07 20:49] wwalker opened #679 "excessive vault/core/leader entries"
I reinstalled vault (0.3.1) last night from scratch.  Consul (0.5.2) backend.

I already have 1,730 entries in vault/core/leader in Consul.

I just reinstalled from scratch because I had 2.8M leases from the 0.2.0 behavior of creating a lease for every read of any generic secret, so I'm a bit wary...

[2015-10-07 20:53] jefferai commented on #388
@theonewolf I've got a bunch of things I'm juggling right now so the documentation for the PKI backend update has fallen away; however, if you care to look at the changed source in the PR and either let me know what you think about the various paths and options (the options themselves are documented) or even try it out, that would be useful.

If you want to give that a try, here's a gist with some

[2015-10-07 20:57] jefferai commented on #679
Hi @wwalker ,

Just so you know, changes were pushed to `master` today which will ensure that values created in 0.2 in `generic` properly expire (this was a bug from all of the massive changes in the core going in 0.3).

Other than entries, are you seeing anything odd? Items in the log in either Consul or Vault?

[2015-10-07 22:52] wwalker commented on #679
Entire log (minus TLS warnings):

    ==> Vault server configuration:

             Log Level: info
                 Mlock: supported: true, enabled: true
               Backend: consul (HA available)
     Advertise Address: https://10.10.10.83:8200
            Listener 1: tcp (addr: "0.0.0.0:8200", tls: "enabled")

    ==> Vault server started! Log data will stream in below:

    2015/10/06 19:02

[2015-10-07 22:55] wwalker commented on #679
Interestingly, it is still 1730 entries in vault/core/leader , so it looks safe.

[2015-10-07 23:36] jefferai commented on #679
Hi Wayne,

As you can see in the log, Vault leadership was flapping, which is why there are so many entries -- it probably stopped ramping up because leadership stabilized. I notice near the end there a 500 reported on the read lock; this is coming from Consul. Consul servers being unhappy could definitely cause this kind of behavior in Vault. Any chance you have the relevant Consul logs?

[2015-10-08 00:18] #676 closed

[2015-10-08 00:27] jefferai commented on #674
@justintime it might be interesting to attempt a read from two other places when the read is failing on Vault as you're attempting to do it now:

1. Directly from Consul; you'll get an encrypted version of the value, but simply knowing that the read works is something.

2. Through Vault's sys/raw endpoint. You'll need to figure out the path in Consul where the value is stored; this will involve so

[2015-10-08 01:22] nbrownus commented on #673
After some testing it appears to help a good amount. I still run out of file descriptors but after multiple restarts it appears that all the `generic` secret backend leases are gone.

I still see ~8.2 million keys under `vault/sys/expire/token` in `consul`. But now `vault` only believes there are roughly ~31k leases which is very close to the key count under `vault/sys/expire/id/auth` in `consul`

[2015-10-08 01:24] nbrownus commented on #679
My cluster has been running for a few months and I've recently been inspecting `consul` and noticed that I have ~80k keys under `vault/core/leader`. Does `vault` ever clean these up?

[2015-10-08 01:53] jefferai commented on #673
Hi Nathan,

Glad to hear that's helping.

In case you missed it, I closed #455 today in `master`, adding a `renew-self` endpoint. This should let you tone down the number of `app-id` tokens quite a lot.

[2015-10-08 02:00] jefferai commented on #679
Hi Nathan,

It's supposed to. If you have logs from that time, do you have any entries that look like:
[code]
If you do, I'd be interested in knowing what the appended errors say. If not, that's something useful to know as well.

@wwalker ^ that would also be super useful information to get from you, if you have the logs.

[2015-10-08 02:00] aburnett commented on #582
How does this translate for use via the REST API? Seems like that wants an object containing a single "rules" attribute with a string value.

    { "rules": ??? }

[2015-10-08 02:06] jefferai commented on #582
That's correct. It's simply the raw text of an equivalent policy file set as the value of the "rules" key. All of the actual parsing happens within the Vault server.

[2015-10-08 02:10] aburnett commented on #582
Ok, thanks. It would be convenient if this could be the actual json document describing the rules
e.g.
[code]

[2015-10-08 02:16] nbrownus commented on #679
I haven't inspected all the occurences of that log line but the ones I did look at are related to #673

[code]

[2015-10-08 02:24] jefferai commented on #679
That's unfortunate, but makes sense.

I believe if all Vault instances are shut down, it should be safe to delete all entries under that prefix.

[2015-10-08 02:31] nbrownus commented on #679
Is it possible that when `clearLeader` is called, instead of removing only the known `uuid` it just drops the prefix?

[code]

I haven't given this any thought but it seems like it may work

[2015-10-08 02:35] nbrownus commented on #673
Saw that, certainly going to test it out tomorrow to make sure everything works with the `app-id` auth backend. Thanks!

[2015-10-08 02:52] jefferai commented on #679
The danger there is a race condition between the new leader writing its entry and the old leader removing its entry.

[2015-10-08 13:49] jefferai commented on #679
I think we're going to have the leader perform a periodic sweep of old entries.

[2015-10-08 14:42] eedgar opened #682 "Document the procedure to use gpg keys with vault init."
I would like to explore using gpg keys to encrypt the keys but the documentation is fairly vague on how to do this.

[2015-10-08 15:06] jefferai commented on #682
Hi,

Take a look at the output of `vault init -h` -- I think this will give you the information you need!

[2015-10-08 15:10] eedgar commented on #682
my exploration has uncovered how to do this. Documenting for others.  This may not be secure use at your own risk

1. generate individual keys you will need one key for each key-share
gpg --gen-key
(1) RSA and RSA
(2) 4096 keysize
(3) 1 year      # Note this can be shorter but you will need to renew the key
(4) Real Name    # eg John Doe
(5) email address
(6) comment   # John Doe's vault signing k

[2015-10-08 15:13] jefferai commented on #682
Glad you got it sorted!

[2015-10-08 15:13] #682 closed

[2015-10-08 15:17] eedgar commented on #682
I still think this should be documented at least in a tips/tricks page for others who may not be total security experts

[2015-10-08 16:07] eedgar opened #683 "a backend that generates random passwords."
I would like a backend that generates random passwords for servers.
My thought would be along these lines.

have a password secret backend.  allow some sort of parameters such as password length, number of special characters required etc so that the admin can configure this to meet company policy regarding password complexity.

then I would have a mount such as /serverfarm_root_password and then r

[2015-10-08 16:16] jefferai commented on #683
I think some existing Vault functionality could probably meet this need -- especially considering that you are setting this password on servers and having uses fetch them if needed, rather than having users remember them.

Take a look at https://vaultproject.io/docs/secrets/transit/index.html and specifically the `datakey` support, which was added in 0.3. You can use this to generate cryptographic

[2015-10-08 16:26] eedgar commented on #683
Jefferai,

I see what your saying.  I was just hoping I wouldnt have to write code to manage all of this.  for me a simple call from the automation into vault is sufficient here.     eg

set_password
    vault:  {{ read('/password/server1/root') }}

no other backend process is required to manipulate the things.  I think others would find something like this as a valuable addition.  Maybe I am wron

[2015-10-08 16:27] wwalker commented on #679
@jefferai no lines matching "clearing leader advertisement failed" in any of th logs

[2015-10-08 16:29] wwalker commented on #679
There are network problems causing consul to flap.  the 1,730 entry count hasn't changed, neither up nor down.  Looks like the flapping cause the creation of the entries.

[2015-10-08 17:34] justintime commented on #674
I was having some weird issues running CR in '-once' mode, so I wiped the remote consul DC store, and started over.

Good news, adding a new key to the source almost immediately replicates up, and is readable by the destination vault without a restart.  As you guessed, updating an existing entry replicates (at least according to CR verbose logs), but Vault serves up the old data.

I'll see if I ca

[2015-10-08 19:06] eedgar commented on #683
13:56 < rocket> so my idea is this.  and I have been working on an integration with saltstack if that helps
          understand
13:56 < rocket> the server joins salt with a unique hostname
13:57 < jefferai> OK
13:57 < rocket> I am using a pillar to set the root password
13:57 < jefferai> OK
13:57 < rocket> {{ vault.read('/password/<server_id>/root') }}
13:57 < rocket> the first time that I read i

[2015-10-08 19:08] jefferai commented on #683
@eedgar  That's missing the later part of the conversation and the saltstack line got chomped by GitHub -- may want to escape it!

[2015-10-08 20:33] cornfeedhobo commented on #653
@jefferai I will make a PR when I find time, but I was looking for a small discussion on a preferred approach. The logic that an additional step to reach base64 is fairly weak, and doesn't suit common use. Even the GPG page on key exportation says that binary keys are not the norm when sharing. Further, the workflow of keys being local and in a keyring already, assumes that the operator has done t

[2015-10-08 21:29] jefferai commented on #653
It was already done two days ago.

No, this doesn't fit *your* use-case. Again, this was designed for when you already have a keychain of public keys -- acquired via importing or keyservers, for instance -- and are exporting the ones that are desired. That is not the same as e.g. sending someone your public key through email.

Because not all PGP programs are GPG, because I don't want GPG to be a

[2015-10-08 21:40] justintime commented on #674
Disabling the cache in vault did indeed fix the problem.  For documentation, I just removed the '!' on https://github.com/hashicorp/vault/blob/master/vault/core.go#L302 and recompiled.

At least for my use case, exposing DisableCache in vault.hcl would be awesome.  Even better would be an official, supported way to do what I'm doing, but I'll take what I can get :)

[2015-10-09 00:04] narayan8291 opened #685 "Missing Lease ID"
I am currently using Vault version 0.3 in the dev mode. I created a secret called hello with a value world.
=>vault write secret/hello value=world
When I try to read it using,
=>vault read secret/hello
Output:
Key           	Value
lease_duration	2592000
value         	world

I just get the lease duration and the value but the lease id is missing. Due to this I am not able to renew or revoke the se

[2015-10-09 00:17] jefferai commented on #685
Hi,

`generic` no longer creates leases. -- see the section "Performance Improvement for Generic" at https://hashicorp.com/blog/vault-0.3.html for more information.

This should be updated in the documentation though.

[2015-10-09 03:58] wwalker commented on #679
@nbrownus if you decide to delete a large number of keys, first refer to:

https://github.com/hashicorp/consul/issues/1278

I tried to drop the keys that a different vault bug/behavior had created.  It ran for 40 hours and never finished.

[2015-10-09 04:01] jefferai commented on #679
I would try letting the fix do its thing. It waits 200ms between each delete request to give any given backend time to breathe.

[2015-10-09 04:37] narayan8291 commented on #685
@jefferai Thanks.
So what about renewal and revocation of the secret. It has been stated that the lease-id has to be used to renew or revoke a particular secret.

My understanding for this is that, to increase the performance of VAULT secrets can be revoked by revoking the token which has been issued to read these secrets. Am I right ? Say token A has been issued to read secrets x and y. To make s

[2015-10-09 04:44] jefferai commented on #685
Leases on the generic backend were always noop... they were purely informational. Only token policies controlled access. As such, revoking a token is the right way to remove access for that token for secrets in the generic backend.

[2015-10-09 04:54] narayan8291 commented on #685
Sure. Thanks.

[2015-10-09 11:38] james-masson commented on #388
Any hints on when the ability to sign Sub-CA CSRs is coming?

At the moment, the ```/pki/sign``` endpoint ignores...
[code]
... and issues certs without that extension.

[2015-10-09 13:04] james-masson commented on #388
Another thought...

[code]

```common_name``` shouldn't be *required* for CSRs - it's data that the CSR already provides. *optional* makes sense.

The current ```common_name``` handling is not well suited to more complex examples.

eg.
``` Subject: O=LOCAL, CN=Certificate Authority```

It assumes I'm only providing the *CN*.

[2015-10-09 13:20] jefferai commented on #388
0.4. You can look at the current state in #666 . Regarding your other queries, note that, like some (many? most?) other CAs, the code completely ignores any attributes in the CSR other than the key. The various attributes in the final cert are chosen via parameters during submission. CA cert issuing is restricted to root/sudo tokens; other types of CSR-based issuing are not and honor normal role p

[2015-10-09 13:22] eedgar opened #686 "Documentation Request."
Is there a way to create a key or token of some sort that can only encrypt a file and cannot decrypt it.  I would use a different token to restore the file.

My use case is this.  I want a token on my server that can create an encrypted one way backup.  I do not want this token to be able to decrypt the file again.  In a recovery scenario I would use the recovery token which is a separate token.

[2015-10-09 13:25] jefferai commented on #686
Vault doesn't have an asymmetric key capability right now. You'd do this by using symmetric keys via `transit` and restricting access to the decryption function.

[2015-10-09 13:25] #686 closed

[2015-10-09 13:29] jefferai commented on #686
Alternately you could use the `pki` backend to make certificates, and use those for encryption/decryption. I'm not sure what the requirements are for doing that via, say, a command line. But certs have public keys, and when issued you get the private key, so it's asymmetric.

[2015-10-09 14:23] james-masson commented on #388
I've not seen any CAs dump the common name. I agree it's normal for CSR attributes to be dumped if they're not included in the signing profile - hence I'm not surprised that the CA extension is dumped. However, virtually every profile will have a common name.

I am using a root token. Just to be clear, are you referring to ```/pki/sign/``` or ```/pki/config/ca/sign``` ?

Is it the intent that Sub-

[2015-10-09 14:25] jantman opened #687 "AWS Backend Latency with dynamic secrets"
I'm using Vault's AWS dynamic backend to get credentials for TerraForm to use when applying. My deployment process is driven by Rake, so I use the 'vault' rubygem to get credentials from Vault, and then pass them in to TerraForm as ``-var``s on the generated command line.

When I do this (disregarding any previoous leases and simply using ``read()``), TerraForm always fails with an error like:

[c

[2015-10-09 14:30] jefferai commented on #388
Given that any SANs need to be specified as well as other attributes like TTL, is there a reason why requiring the common name to be specified at this point is problematic? Any person or system handling the CSR could easily see the requested common name on it and simply pass it in.

`/pki/config/ca/sign` -- all `/pki/config` paths require a root token.

Yes, that is the intent, just like you canno

[2015-10-09 14:37] jefferai commented on #687
We're using Amazon's official libraries (https://github.com/aws/aws-sdk-go). The SDK client is returning success. We could try to work around it, but I would bet that this is really something that needs to be fixed there, because this would affect anyone using the SDK. If the credentials aren't valid, the SDK client probably shouldn't return success.

Any chance you'd be willing to open an issue w

[2015-10-09 15:08] james-masson commented on #388
I'm trying to get a Sub-CA certificate issued to ```Subject: O=LOCAL, CN=Certificate Authority
[code]
vault write pki/config/ca/sign csr="@/root/old-ipa.csr" pki_address="https://localhost:8200/v1/pki" exported=internal common_name="O=LOCAL, CN=Certificate Authority" ttl=3600s
[code]

[2015-10-09 15:26] jefferai commented on #388
So, what you're saying here is that you want the PKIX Subject information left intact. It isn't currently kept because it's not a security-sensitive property; in fact, it's more of a security anti-pattern, because if a CA signs a CSR and has no way of properly verifying the subject information (which in most cases they don't), someone could attempt to use that signed information to misrepresent a

[2015-10-09 15:34] cornfeedhobo commented on #653
@jefferai thanks

[2015-10-09 15:58] james-masson commented on #388
[code]

Yes - I 100% agree with this. Vault should be free to override CSR fields by policy.

eg. the policy you're using excludes CRLs - the cert that's issued shouldn't have it. Domain needs to start with "foo.com"? Reject any CNs without it.

However, it shouldn't force me to have to override something that doesn't need overriding - and override it in an incompatible way:-) It sounds like our d

[2015-10-09 15:59] jefferai commented on #388
Vault don't trust nobody.  :-D

[2015-10-09 16:03] jefferai commented on #388
@james-masson FYI, at the moment I don't see the need, when generating a self-signed root certificate in Vault, to allow specifying CA or CRL paths; if Vault isn't the destination for the self-signed root, there's really no point using Vault to generate it.

[2015-10-09 16:13] james-masson commented on #388
In my case I'm looking at offline Root, Vault as 1st level online Sub-CA, FreeIPA as 2nd level Sub-CAs.

[2015-10-09 16:20] jefferai commented on #388
OK. So yes, there definitely needs to be a way to tell Vault what CA/CRL endpoints to use, if any.

[2015-10-09 16:50] EricMCornelius commented on #388
Sorry for launching you down the rabbit hole on this request :)

This all sounds fantastic though, should be able to replace the custom
alternative I rolled in the interim.

Keep up the good work!

On Fri, Oct 9, 2015 at 12:20 PM Jeff Mitchell <notifications@github.com>
wrote:

[2015-10-09 16:51] jefferai commented on #388
@EricMCornelius No problem! The 0.2 version was always meant as a first cut. It's a big win to have Vault be a real, flexible CA.

[2015-10-09 18:04] jefferai commented on #388
@james-masson I've pushed up changes that I think address everything we discussed before. Looking forward to feedback!

[2015-10-09 19:53] narayan8291 opened #688 "Token Duration - Configuration"
I have mounted the secret backend and I used mount-tune to set the default lease period to be 1m and max lease period to be 3mins. When I create a token the duration is set to 2592000. Can the duration be configured and changed to the default or the max lease period of that backend ?

In general, can the lease period of token be configured ?

[2015-10-09 20:01] jefferai commented on #688
Tokens are issued by the `token` backend at `auth/token/`, not the `generic` backend at `secret/`. Try tuning `auth/token` and it should work!

[2015-10-09 20:35] narayan8291 commented on #688
@jefferai: It works.
A quick question, so I have tuned the auth/token backend with a default time period of 1 min and a max time period of 10 mins. When I create a token, the duration is set to the default period of 1 min. I was wondering if I can choose the duration period of that token (btw default and max). If not, what is the difference between the default and max lease period.

[2015-10-09 20:42] jefferai commented on #688
Default is the default TTL when no `ttl` parameter is supplied with the token request. Max is the maximum allowed TTL. When talking about other backends, not all backends actually honor the default TTL set (yet), but the maximum is *always* enforced.

[2015-10-09 20:42] narayan8291 opened #689 "Max lease period for Token"
I have tuned the auth/token backend with a default time period of 1 min and a max time period of 10 mins. When I create a token, the duration is set to the default period of 1 min. I was wondering if I can choose the duration period of that token to 10 mins which is the max ttl set for auth/token

[2015-10-09 20:43] jefferai commented on #689
Duplicate of #688.

[2015-10-09 20:43] #689 closed

[2015-10-09 21:51] narayan8291 commented on #688
I created a token using,

vault token-create -policy=x
How do I set the maximum allowed TTL or this token ?

[2015-10-09 21:58] jefferai commented on #688
The output of `vault token-create -h` should have the info you need.

[2015-10-09 22:54] narayan8291 commented on #688
That helped. When I tried to set the lease period to be 100 days by using the -lease option it didn't work and the duration was set to 2592000 which is 30 days. Can't tokens be valid for more than 30 days? Is there any other way to achieve this ?

[2015-10-09 22:58] jefferai commented on #688
You can set the maximum either globally in the configuration file or for that mount via the mount-tune command. 30 days is the default.

[2015-10-09 23:09] narayan8291 commented on #688
I do have the mount-tune in place,
vault mount-tune -default-lease-ttl=24h -max-lease-ttl=8760h auth/token

When I do vault token-create -policy=secret, I get the token_duration to be 86400 which is equal to 24h (minimum lease period). But, when I do vault token-create -policy=secret -lease="4800h" I get the duration to be 2592000 which is 30 days (default value).

I don't find any docs for settin

[2015-10-09 23:17] jefferai commented on #688
Hi,

The parameter is -ttl, not -lease. What is the output of "vault mounts"?

[2015-10-09 23:19] narayan8291 commented on #688
Vault mounts gives me,
cubbyhole/  cubbyhole  n/a          n/a      per-token private secret storage
generic/    generic    60           120
secret/     generic    60           120      generic secret storage
sys/        system     n/a          n/a      system endpoints used for control, policy and debugging

I dont see the auth/token

[2015-10-09 23:22] narayan8291 commented on #688
token-create does not have a -ttl parameter. It has only -lease

[2015-10-09 23:40] jefferai commented on #688
The global defaults are documented with the rest of the configuration file at https://vaultproject.io/docs/config/index.html

`ttl` instead of `lease` is documented at https://vaultproject.io/docs/auth/token.html ...the fact that it is not in the help for `token-create` is a docs bug which I will ensure is fixed for the next release.

[2015-10-09 23:51] jefferai commented on #688
Sorry, I forgot that auth mounts do not show up in `vault mounts`.

You can use `curl -X GET -H X-Vault-Token:<your token> http://127.0.0.1:8200/v1/sys/mounts/auth/token/tune` to get the value. For me, after running your command above, I got back {"default_lease_ttl":86400,"max_lease_ttl":31536000} -- the max value corresponding to a year.

I can replicate the problem of the lease not being honore

[2015-10-10 00:23] narayan8291 commented on #688
@jefferai Thanks a lot. I appreciate your help

[2015-10-10 00:26] jefferai commented on #688
@narayan8291 OK, so the token store acts like a special authentication backend. At this point I honestly don't remember whether we didn't enable `mount-tune` for it on purpose or whether it was a bug (as in, an oversight). Either way I've fixed it; it's fixed in master now, and will be in the next release.

[2015-10-10 00:27] #688 closed

[2015-10-10 00:41] narayan8291 commented on #688
when I do curl -X GET -H X-Vault-Token:<your token> http://127.0.0.1:8200/v1/sys/mounts/auth/token/tune it says permission denies and this is the acl.hcl which I have:

path "secret/dev_token" {
  policy = "read"
}
path "secret/admin_token" {
  policy = "deny"
}
path "auth/token/lookup-self" {
  policy = "read"
}

I just want to make sure the token's ttl is set for the maximum period of the auth/t

[2015-10-10 00:44] jefferai commented on #688
What token are you using there? Tuning requires a root token. Also unless you are running master from a few minutes ago, setting the tune parameters on auth/token have no effect.

[2015-10-10 03:36] urq commented on #687
I spoke with an AWS engineer yesterday about this specific problem.  The underlying issue is that the IAM API is (only) eventually consistent, so they (1) create and return your IAM credentials, and (2) propagate that information to relevant APIs on the backend, in that order.  If you manage to use the credentials between (1) and (2), you're in for a bad time, and AWS is unlikely to address this a

[2015-10-10 03:41] jefferai commented on #687
Did the engineer happen to give any sort of idea about how long the eventually consistent API takes to be consistent? E.g. 99.9% in 4 seconds, or something like that? The STS time limitation is bothersome; if Vault can insert a reasonable delay before returning credentials, that might be best.

[2015-10-10 14:05] jantman commented on #687
Hmm, very interesting. That makes sense to me (eventually consistent) and certainly agrees with what I'm seeing.

As to integration and the extra parameter, it seems to me that if Vault went the STS route, it should be a separate secret backend (i.e. a new STS backend).

This brings up an interesting question for me: CloudFormation can create [IAM resources](http://docs.aws.amazon.com/AWSCloudForm

[2015-10-10 19:20] st33v commented on #111
I'd like this functionality also extended to the auth backends where appropriate. An example would be to be able to list user-id mappings in app-id like this:
[code]

[2015-10-12 08:57] james-masson commented on #388
Thanks for the quick turn-around.

I can now submit a CSR to the ```pki/config/ca/sign/``` endpoint, with no requirements for any overrides.

Unfortunately, the end behaviour is the same - The Subject in the CSR is not the same as the Subject in the Certificate generated by Vault.

*CSR*
[code]
```vault write pki/config/ca/sign csr="@/root/ipa.csr"   ttl=3600s```
*CRT*
[code]

[2015-10-12 13:44] jefferai commented on #687
@urq Is it a fair assumption that you have the ability to adjust parameters in the Vault calls you're making?

If so, one easy way to fix this may be to add a parameter supporting a configurable delay; default to zero, but settable in seconds. Then you can just set that parameter on your calls to whatever value works for you, but for others users that aren't running into this problem there is no c

[2015-10-12 13:50] jefferai commented on #388
@james-masson When you're signing the CSR you need to set `use_csr_subject` to true if you want to keep the CSR's subject information.

[2015-10-12 14:05] jefferai commented on #685
Fixed in 9299ab2593c33c61ff9302e58126d7cd32e74b31.

[2015-10-12 14:05] #685 closed

[2015-10-12 14:05] jefferai commented on #641
This is in #666.

[2015-10-12 14:05] #641 closed

[2015-10-12 14:07] james-masson commented on #388
Missed that flag  - sorry...

Getting a little further -  ```vault write pki/config/ca/sign csr="@ipa.csr" ttl=3600s use_csr_subject=true```

[code]

I now have the full DN in the Cert subject, but also still the serial number.

Sadly, I've gone back to reading RFCs. https://tools.ietf.org/html/rfc5280#section-4.1.2.6

It's pretty clear that for a CA, the Subject must be a DN - it doesn't mention

[2015-10-12 14:16] jefferai commented on #388
@james-masson I was setting the serial number in the subject explicitly with the serial number of the new certicficate so that if someone gave a CSR with a serial number baked-in, it wouldn't be disjoint with the final serial number of the certificate. But it's true, it does mean that the subject isn't *exactly* the same, so I'll remove that.

I just pushed a change to stop that.

[2015-10-12 14:36] james-masson commented on #388
Yes - getting a bit further now. Subject is now correct.

[code]

Next problem :-)

CSR asks for
[code]

CRT comes back with
[code]

We're missing the non-repudiation key usage.

[2015-10-12 14:51] jefferai commented on #388
I only copied the CSR subject since in the previous discussion you indicated that this was sufficient. Non repudiation isn't used at all right now because it's basically meaningless in the real world.

You're also getting a number of other things -- key encipherment, key agreement, OCSP signing. For pretty much any certificate, you need the former two, and you probably want the latter on a CA cert

[2015-10-12 16:28] Blindmikey opened #692 "vault server -dev Hangs at [INFO] rollback: starting rollback manager"
I could very well be missing a step... however when I run:

```vault server -dev```

I get:

[code]

And hangs until I ctrl-c to force close.

vault version v0.3.1 linux 64-bit
ubuntu 14.04.3

[2015-10-12 16:53] jefferai commented on #638
I believe this should have been fixed in 0.3.1; please re-open if not. Thanks!

[2015-10-12 16:53] #638 closed

[2015-10-12 16:56] jefferai commented on #674
@justintime I believe that should do it -- simply set `disable_cache` in the configuration file to `true`. Please let me know if it's not working for you!

[2015-10-12 17:06] justintime commented on #674
Awesome.  I'll build it and test it today.  You had mentioned that master was in a good state the other day, I'll hold you to that statement :)

[2015-10-12 17:59] narayan8291 commented on #688
@jefferai I have used the root token to tune and the server logs show " core: tuned 'auth/token/' ". I have tuned it using,

vault mount-tune -default-lease-ttl=7200h -max-lease-ttl=7400h auth/token. A default period of 300 days.

But when I create a token, vault token-create -policy=secret I get the output,
Key            	Value
token          	8413e733-7693-588c-de5d-8ddcec52876e
token_duration

[2015-10-12 18:01] jefferai commented on #688
Are you running off of an updated master branch?

[2015-10-12 18:22] narayan8291 commented on #688
I did a git pull and ran the same commands. Looks like the issue still exits.

[2015-10-12 18:24] jefferai commented on #688
When you did the git pull did you then build/install it? Are you
running the actual updated binary? I tested this earlier on and it was
working fine.

[2015-10-12 18:25] jefferai commented on #692
Hi @Blindmikey

That's the normal set of output from the server starting. Does the Vault client or HTTP API not work at this point?

[2015-10-12 18:26] sethvargo commented on #692
Hi @Blindmikey

To elaborate on what Jeff said, the dev server isn't "hanging", it's waiting for requests. If you want to background the process, you can ctrl + z or just run it with `&` at the end.

When I use the dev server locally, I always run it in a separate tab or tmux session.

[2015-10-12 18:58] jefferai commented on #688
@narayan8291 Please pull again, I think ^ should help.

I just tested your set of commands with that change and they work fine. Apologies for the difficulty before...this was a subtle issue.

[2015-10-12 19:01] urq commented on #687
@jefferai The engineer didn't indicate how long it would take to get consistency, though I would guess it's some log-normal distribution, and in my experience with a mean around 5 seconds.  We could ask AWS or do some empirical testing on different APIs to get an estimate of that distribution.

More fundamentally though, the issue with slapping a sleep time on it is that you _will_ have some reque

[2015-10-12 19:27] Blindmikey commented on #692
That explains it! Yes - running vault status after setting my VAULT_ADDR returns
[code]

Thanks guys! Sorry for the false alarm.
-M

[2015-10-12 19:28] jefferai commented on #692
No problem! Glad it's working.

[2015-10-12 19:28] #692 closed

[2015-10-12 20:28] jefferai opened #694 "Race condition when sealing Vault with metrics enabled"
See https://travis-ci.org/hashicorp/vault/jobs/84984211

emitMetrics doesn't check whether there is a valid expiration manager, and is running in a goroutine; emission needs to be serialized with functions starting/stopping the expiration manager.

[2015-10-12 20:34] #694 closed

[2015-10-12 21:04] jefferai commented on #687
@urq Yeah, I know a configurable sleep period is janky and gross, I figured it might be an easy bandage until someone has time to implement something better. I'll take a look at the IAM API though -- it sounds like if it works the same way as the S3 API, that would be a decent way to check the status of credentials.

[2015-10-12 21:05] jefferai commented on #687
I'm scheduling this for 0.4 but that may slip. I'll try to get to it soon though.

[2015-10-12 22:46] narayan8291 commented on #688
I did a git pull and also build using make dev. The issue still exists.

 I was wondering if there is a way I could verify that I am working on the updated binary ?

[2015-10-12 22:53] narayan8291 commented on #688
I think the build has an error. When I did sudo make dev,
1 errors occurred:
--> darwin/amd64 error: exit status 1
Stderr: main.go:6:2: cannot find package "github.com/hashicorp/vault/cli" in any of:
	/usr/local/go/src/github.com/hashicorp/vault/cli (from $GOROOT)
	($GOPATH not set)

But this was not the problem in make dev. I will fix this first

[2015-10-12 23:27] jefferai commented on #688
You need to set GOPATH in your environment. Once you set it, Go operations become relative to that directory. See https://github.com/golang/go/wiki/GOPATH for more information.

[2015-10-13 00:49] jefferai commented on #388
@james-masson As discussed, `use_csr_subject` -> `use_csr_values` and now uses CSR subject, alternate names, and extensions (such as requested key usages) copied verbatim from the CSR. I tested this against your CSR posted above and non-repudation carried over. See my email w.r.t. path length; tomorrow I'll separate out `pki_address` into something settable separately, possibly `ca_urls` and `crl_

[2015-10-13 06:26] shashanksinha1989 commented on #670
Issue is resolve after upgrading vault to version 0.3.1

[2015-10-13 06:26] #670 closed

[2015-10-13 10:47] marc- commented on #244
This is still an issue for userpass authentication:
[code]

[2015-10-13 16:56] jefferai commented on #244
GenericNameRegex doesn't allow dots either  :-)

[2015-10-13 17:21] marc- commented on #244
@jefferai , exactly: https://github.com/hashicorp/vault/blob/master/builtin/credential/userpass/path_login.go#L14

[2015-10-13 17:41] jefferai commented on #244
It's not that GenericNameRegex prevents usage of dots, it's that it doesn't specifically allow usage of dots. Any of the fields that were modified to use it in the past did not allow dots anyways.

In the case of LDAP, the regex was specifically modified to allow dots.

[2015-10-13 17:44] jefferai commented on #244
I'm asking around internally to find out if there was a reason that only LDAP was changed earlier rather than modifying it more globally.

[2015-10-13 17:45] marc- commented on #244
That's was my point. Thanks for the detailed clarification.

[2015-10-13 20:05] jefferai commented on #244
@marc- We discussed internally and didn't see an issue with enabling a `.` in the path in more places, so I've made that change.

[2015-10-13 20:12] marc- commented on #244
Thanks a lot.

[2015-10-13 20:14] jefferai commented on #244
No problem!

[2015-10-13 20:35] frntn opened #695 "Unable to reset the unsealing process"
*(of course all keys and token listed below are no longer valid by the time I submit this issue)*

### What I do

[code]

### What I get

The option is ignored and the process continue (increment unseal progress if new share is given)

[code]

### What I expected

I expected what the help stated
[code]

And may be an output with something like the following :
[code]

I can give you additional info

[2015-10-13 20:53] jefferai commented on #695
Hi @frntn

Unfortunately this appears to have been an idea that never got implemented. It's a good idea though, so I'll slot it in for the 0.4 milestone.

[2015-10-13 21:29] frntn opened #697 "Secret storage not that secret with consul backend"
:warning: *This is much more a discussion than a real issue as I am pretty sure you already know about this behaviour, but I think it needs some explanation/documentation/...* :warning:

### What I do

Storing some arbitary data to vault using default mounted secret store with consul storage backend

[code]

Then reading it using vault

[code]

### What I get

Checking what has been stored to cons

[2015-10-13 22:24] armon commented on #697
@frntn We probably do need better documentation around this, but the paths to a secret should not contain sensitive information.

In many cases we obfuscate the path where possible in Vault, but in many cases we need to preserve the hierarchical structure of keys and directories. This is most obvious in the `list` case, as doing a list of a path needs to map deterministically to a path in a backen

[2015-10-14 07:24] frntn commented on #697
Thanks @armon for the context.

I do agree on your statement that *"path to a secret should not contain contain sensitive information"* and I do understand it is a design constraint. I can live with that **as soon as I am aware of it** and most of the implementations should. But still, I think **it should be up to the operator to choose** between *usability / acceptable security* (cleartext paths)

[2015-10-14 14:09] daveadams commented on #697
Another alternative would be to use Consul ACLs to lock down the `vault/` path to only management tokens and the vault servers' token(s), and disallow agent-local or anonymous tokens from reading the `vault/` tree.

[2015-10-14 14:54] jefferai commented on #697
@frntn You are definitely correct in that we need better documentation around the fact that keys are not obfuscated; I've marked this as a 0.4 milestone to make sure that happens before the next release.

As @armon indicated, there are a number of scalability and functionality considerations that come with obfuscating paths. Perhaps some day down the line this will be a feature added to the `gener

[2015-10-14 15:39] frntn opened #698 "Reads/Writes KO from standby instances for `secrets`"
### Context

From my active instance :
[code]

With *storage backend* setup :
[code]

I can `write` to various *secret backends* like `secret` or `pki`...
[code]

...and I can `read` from these same *secret backends*
[code]

### What I do

Now, from any of my standby instances
[code]

With same *storage backend* setup
[code]

I try to `read`/`write` from these standby instances.....

### What I ge

[2015-10-14 17:40] jefferai commented on #698
Hi @frntn ,

Sorry to hear you're having trouble. I think what's happening is that the localhost addresses in use across the servers are causing the redirects to fail. When in HA mode, information about the leader is stored in a known location in the physical backend. When a redirect needs to happen, this address is sent to the client. In this case, the client would connect to 127.0.0.1:8200, then

[2015-10-14 19:55] frntn commented on #697
I do like what you and @daveadams are suggesting.
I'll give it a try asap.

Thanks

[2015-10-14 20:03] jefferai commented on #388
I've now added the ability to set the path length on issued certificates, and the ability to individually set one or multiple URLs for issuing CA, CRL distribution points, and OCSP servers.

[2015-10-14 20:21] jefferai opened #699 "Postgres should revoke permissions upon revocation"
The Postgres backend drops the created role during revocation, but open sessions are still able to perform queries.

The MySQL backend explicitly revokes permissions first, then drops the user. Open sessions are unable to perform further queries.

The Postgres backend should behave the same way, to ensure that a session that remains open past expiration (for instance, due to a long-running query)

[2015-10-14 20:31] jefferai commented on #697
@frntn If you try option (2) above, you may want to look into the `datakey` support added to the `transit` backend in 0.3. This is basically a key wrapped by a key. You can then safely distribute the encrypted data key to your services at rest; at run time, they can then load this encrypted value and make a call to Vault to get the unencrypted value of the key (which they store only in memory, and

[2015-10-14 21:15] frntn commented on #698
Thanks @jefferai it works ! :)

For the record (if other have similar issue setting up the HA) :
* I first tried to only add `backend->advertise_addr` with x.x.x.x value in the backend config, but it won't work because the vault was still binded to 127.0.0.1
* Then I binded both `backend->advertise_addr` and `listener->address` to the x.x.x.x ip address of each the server, but now I have to specif

[2015-10-14 22:32] jefferai commented on #698
Glad it's fixed!

[2015-10-15 15:23] james-masson commented on #388
Thanks again - ```use_csr_values``` is just what I need.

I still can't get the resulting certificate accepted by FreeIPA though. It looks fine - I've raised the issue on their mailing list and will report back. Certificates signed by Dogtag work just fine from the same CSR.

[2015-10-15 15:34] jefferai commented on #388
I did make a couple changes to that code when I committed the
pathlen/urls paths, so if you pulled before my latest commits late
yesterday, be sure to pull again and see if that helps.

[2015-10-15 15:35] timgent commented on #582
@jefferai the example you gave above is helpful, though how would you add multiple policies in a single file with json?

[2015-10-15 15:43] jefferai commented on #582
@timgent The API acts on a single policy at a time, so (just like when using the CLI) you have to use separate API calls to handle separate policies. Sorry!

[2015-10-15 15:43] brockoffdev opened #700 "TLS Handshake Issues when using Consul and Vault with Github Auth"
So, I have a config that has Consul and Vault communicating with one another over TLS, having setup a Certificate Authority built for our app, which Vault utiliizes to handshake between it and Consul.  Vault, itself, also has TLS enabled on incoming requests.  Now, this system works flawlessly for token and TLS based authentication.  However, for the ease of our developers, I would love to get Vau

[2015-10-15 15:50] timgent commented on #582
@jefferai sorry I probably phrased this badly. I mean having a single policy that defines access rights for multiple paths

[2015-10-15 15:58] jefferai commented on #700
Hi Bryant,

Unfortunately I haven't come up with any great ideas since your posting on the mailing list. I guess your debugging didn't turn up anything useful?

Can you try running `curl -v https://api.github.com/user` from both your client and each of the Vault machine(s)? I get output like:
[code]
I want to make sure that there isn't some kind of strange DNS mapping somewhere.

[2015-10-15 16:15] jefferai commented on #388
(meta-note: removing from 0.4 milestone only because #666 is in there as well; this is still scheduled for 0.4)

[2015-10-15 16:44] brockoffdev commented on #700
Hey Jeff-

Thanks for the help.  Nope, nothing abnormal DNS wise. This is what I'm seeing on Ubuntu...

[code]

[2015-10-15 17:01] brockoffdev commented on #700
@jefferai sorry for the repost, btw, it's just an unfortunate blocker.  I can move to gossip based encryption the consul node(s), but obviously that wouldn't be a long term solution.

My debugging didn't turn up much at all, actually.  Essentially, from what I have been able to learn, it appears that Vault is simply having Github attempt to connect directly to Consul to perform a write.

Interesti

[2015-10-15 18:47] jefferai commented on #582
@timgent Oh, sorry. Here's an example with multiple paths:

[code]

[2015-10-15 18:52] jefferai commented on #700
I don't have any thoughts yet, but I'll dig into this more. Nothing should be redirecting any request to Consul, because no values stored in Consul are cleartext...there would be no way for any verification or lookup to succeed (that's kind of the point!  :-)  )

I was going to ask about whether this failed for you when using an unencrypted Consul connection. Knowing that scenario works helps nail

[2015-10-15 19:34] jefferai commented on #700
@brockoffdev I had a brainwave and found something that would affect only Consul, AWS, and GitHub -- looks quite promising. I will likely push this change to master anyways once I'm done with it and after running unit tests. I could send you an updated binary to try, or you could built at that point.

[2015-10-15 22:58] brockoffdev commented on #700
@jefferai thanks so much for helping out with this!  I'll check out the changes in the PR.

As an update, your idea to run a consul agent directly on the Vault box did work with the local loopback.  I'm curious how your update would work with my previous build; I'll give it a shot at some point in the next 24 hours.

Thanks so much again.

[2015-10-15 23:16] jefferai commented on #700
Basically, when using TLS the Consul API library makes some changes to the HTTP client it uses. Unfortunately, so does the GitHub library, and the AWS library...and it turns out they were all using the same client: the `http` package's DefaultClient...something that I'm starting to feel is one of the worst mistakes in the entire Go standard library. It's a global variable and its really easy not t

[2015-10-16 18:46] NickMRamirez opened #704 "Windows: When asked to set the VAULT_ADDR env var, use set instead of export"
When firing up Vault for the first time in Dev mode via:

[code]

It instructs me to copy and run the following command:

[code]

However, the Windows shell command to store an environment variable is `set` instead of `export`. Running the suggested `export` command gives the following error:

[code]

Could the message say instead the following?

[code]

The single quotes also aren't needed, since

[2015-10-16 21:09] hobbeswalsh commented on #672
You can close this if you'd like. I have all the information I need. Thanks.

[2015-10-16 21:21] jefferai commented on #672
OK, thanks!

[2015-10-16 21:21] #672 closed

[2015-10-17 14:37] wwalker commented on #648
The loss of 2.8M leases seems to have resolved this for me.

[2015-10-19 13:47] jefferai commented on #648
Great! I'll close this for now.

[2015-10-19 13:47] #648 closed

[2015-10-19 15:28] justintime opened #706 "Config file merging issue"
I've come across what I think is a bug in config file merging in vault.

My use case is that I'm using a chef community cookbook, and it manages /etc/vault.hcl for me.  Rather than try to push changes upstream, I figured I could just create a /etc/vault.hcl.d directory, and stick my config changes in there.

According to help, it sounds like I can do this:
[code]

Here's my server command line:
``

[2015-10-19 15:31] justintime commented on #674
Just to follow up, this functionality is working as advertised for me.  Thanks for the help.

[2015-10-19 16:07] brockoffdev commented on #700
Hey @jefferai my sincerest apologies for not getting back to you sooner. Crazy past few days, so I hadn't had the chance to test out the new binary for #702.

That being said, I can confirm that the binary does seem to have fixed the issue!  I disabled my local consul agent, and once again directed tls traffic to a consul server, and both AWS and Github handshakes were appropriately handled.  Grea

[2015-10-19 16:17] jefferai commented on #706
I don't think you are, no. I'll dig into this.

[2015-10-19 16:18] jefferai commented on #700
Nice! Glad to hear it. I'm in the process of going through HC's other projects and tearing out usage of `http.DefaultClient` there and in their dependencies as well, to make sure this doesn't bite anyone else.

Thanks for all the help reporting and debugging!

[2015-10-19 16:18] #700 closed

[2015-10-19 16:19] jefferai commented on #674
Great! And I'm looking at #706 separately.

[2015-10-19 16:34] brockoffdev commented on #700
@jefferai no problem, thanks so much for taking it on!

[2015-10-19 19:55] jefferai commented on #706
@justintime Is there any chance you can share your configs? I can't replicate this.

I have the following config.hcl:
[code]
and a `config` directory with one file:
[code]
I put in a panic and print statements to print out the seen paths and the final config, here's what I see:
[code]
You can see `DisableCache:true` in the output. Unfortunately, without being able to replicate it I'm not sure what

[2015-10-19 21:45] justintime commented on #706
*Sigh* I found my problem.  Closing this and reopening the other issue.

[2015-10-19 21:45] #706 closed

[2015-10-19 21:53] jefferai commented on #706
Reopening the other? Wuh oh. What's going wrong?

[2015-10-20 14:21] jantman commented on #687
We happen to have an AWS consultant (someone actually from AWS; I don't know his official title) on site this week, so I took the opportunity to run this past him. His take was in agreement with what's been said  above:

1. IAM user creation is eventually consistent on a service level. He also mentioned that replication works as one would logically expect - first within an AZ, then to other AZs, t

[2015-10-20 15:12] jefferai commented on #687
@jantman Thanks for this! It's really useful to know that there is no real way of determining when things are fine except testing against random service APIs, which is as janky as adding sleep.

I think the immediate way forward will be to add a parameter allowing for a sleep time before returning the credentials.

[2015-10-20 18:00] swill commented on #546
I am also keenly interested in this as I have a new application in development which will require this functionality.

I am currently using the following setup:
[code]

I see others having the same issue here #596.

If I can help, let me know.  I am a professional developer and I plan to develop my current project with a dependancy on this functionality...

[2015-10-20 22:58] msabramo opened #708 "Upgraded from vault 0.2.0 to 0.3.1 and now it fails to read mount table"
I upgraded from vault 0.2.0 to 0.3.1. After unsealing the vault, I get a zillion of these messages in the log:

[code]

I assume that I heave to clear out information from the old version...? How do I do this?

[2015-10-21 03:21] jesseendahl opened #709 "Any CLI/HTTP API call involving secrets/tokens should return remaining ttl"
Right now it seems impossible to tell how long a given auth token or secret will remain valid. The current response only includes total duration, but does not tell you how far into the duration you are/when it runs out.

The feature request here is to return remaining ttl as either an absolute time/date value, or relative time remaining from time of response.

So for example, the current response

[2015-10-21 12:08] frntn commented on #698
@jefferai I think the issue should be reopen because I got "success" while the write requests are not processed at all, while it should raised an error.

[2015-10-21 13:05] jefferai commented on #698
@frntn Can you give me more details? Earlier you said it was working -- did it stop working? Is it a different path that isn't working?

Can you post some more details about your setup -- the distinct machines you have, the consul configuration for each, and so on?

[2015-10-21 14:25] jefferai commented on #708
No, this upgrade should have happened transparently...there's no manual change that should be necessary. Definitely a bug of some sort!

I think the key to figuring this out will be understanding why you're hitting this bug but nobody else has reported a problem.

Some questions:

* Are you running in HA mode? If so, did you upgrade all nodes?
* Was this install upgraded from 0.1.x to 0.2 and then

[2015-10-21 15:01] jefferai commented on #709
Hi @jesseendahl,

When you perform a renew operation on a token, the value of `token_duration` that comes back contains the remaining TTL. It's not clear to me where the value of 126 is coming from, but in the output you are showing, the `token_duration` value of 3600 means that the remaining TTL is 3600 from when the call was made.

[2015-10-21 15:13] frntn commented on #698
No it is working great now ! Thank you
My point is when it wasn't I didn't get relevant error messages. Indeed, I used to got success messages.

[2015-10-21 16:20] justintime commented on #674
Hi Jeff,

Rather than try to explain what I'm seeing, I'll just paste you the results from some scripted tests I setup.

Here's the "read" script:
[code]

1.  Restart all vault instances in all data centers, and unseal them all
2.  Check sanity and make sure all instances agree on a value by running the read script:
[code]
3.  Write a new value to the source dc:
[code]
4.  Check each instance with

[2015-10-21 16:22] bscott commented on #131
:+1:

[2015-10-21 16:39] jefferai commented on #674
Yes, that should be true.

Any chance you can run the script again, but remove all of the `grep`, `awk`, and `2>&1` redirection? My guess is that your standbys are actually forwarding requests to the Vault master in `sourcedc.com`.

[2015-10-21 16:50] justintime commented on #674
Hmm, do you get any notification when you're getting redirected?  I don't seem to:

[code]

[2015-10-21 16:59] msabramo commented on #708
Thanks for responding!

Yes, we am running in HA mode. We run Vault on each of our 3 Consul servers and Consul is used as the backend.

[code]

I did upgrade all of the nodes at once, because I ran an ansible playbook that upgraded them - actually in retrospect, I probably shouldn't have done that, because now Vault is totally down for us. :frowning:

I don't think we ever had Vault 0.1.x. If I'm

[2015-10-21 17:22] jefferai commented on #674
Not with the CLI; if you use an HTTP call instead (via `curl` for instance), it will either be printed out in normal output or if you use `-v` (I forget which).

[2015-10-21 17:50] jefferai commented on #708
Unfortunately I'm not sure how to go about debugging this without some custom debugging code. We have unit tests that mimic an upgrade from 0.2 to 0.3, including reading and writing values to a `generic` backend, so this isn't an untested path, and as a result I'm not sure what the issue could be without getting more real data.

The most efficient way to do this would be if we could screen share a

[2015-10-21 18:01] jefferai commented on #708
In each entry stored in a physical backend, a specific byte is set to indicate the version of the encryption/decryption function. There has been a byte set for this purpose since the first public release of Vault; in 0.3.1 this version was incremented and logic was included to handle decryption for both the old and new versions, but encryption will only happen with the new version.

The most likel

[2015-10-21 19:41] klauern commented on #131
I am curious about how this would work.  I know that with the recent [GitHub support for Yubikeys](https://github.com/blog/2071-github-supports-universal-2nd-factor-authentication), this would need to support the [U2F protocol](http://yubi.co/github), which I can't find any mention of it being supported anywhere *other* than Google Chrome.  Are there libraries that integrate with the USB device so

[2015-10-21 21:44] justintime commented on #674
Yep, I think I about ready to let this idea go.

The "leaders" in the destination DC's all think they're the leaders, and are active, but the standby instances are all pointing to sourcedc's leader.  The net effect is that the 'leader' in the destdc will answer directly (with the old value), but the standby nodes will redirect over to the leader in sourcedc, which answers with the new value.

I'm

[2015-10-21 23:04] jefferai commented on #674
It may still be worth some fiddling...there are two separate issues here:

One is that you're replicating *all* data. As I said before, you'd need to limit your replication to specific prefixes and keys. What's happening is that you have a local cluster in the target DC, the data is being sent over via consul-replicate, and along with that is coming the key with the information about which node is

[2015-10-22 00:00] jcderose opened #710 "vault server -dev Freezes Terminal Window"
I'm following the documentation [here](https://vaultproject.io/intro/getting-started/dev-server.html) to initiate a Vault dev server. The `vault server -dev` command freezes my terminal screen with log data:

[code]

If I quit the command or close the terminal window, I cannot connect to Vault. However, if I open a new terminal window, export the VAULT_ADDR value, and run "vault status", I get a s

[2015-10-22 00:05] jefferai commented on #710
Closing as a duplicate of #692, please re-open if you do not think you are seeing the same behavior.

Thanks!

[2015-10-22 07:33] nicr9 commented on #131
@klauern I started looking into this a while ago. I've been fleshing out a prototype using [GeertJohan/yubigo](https://www.github.com/GeertJohan/yubigo).

I have the verification logic done but I'm looking for a neat way to associate policies with particular yubikeys/users. Each yubikey has a 12 digit identifier that's easy to derive from a OTP but it's not a particularly intuitive way to refer to

[2015-10-22 12:09] klauern commented on #131
I do think I ran across your repo when I was doing research on this earlier, but I think I was more confused about what you would need to write to integrate with Vault.

I was looking into this yesterday, and I think what I am trying to understand is how to interface with the Yubikey itself.  This [StackOverflow question](http://stackoverflow.com/questions/26637660/how-do-i-use-fido-u2f-to-allow-u

[2015-10-22 13:20] JensRantil commented on #131
@klauern There are two different modes that could be supported:
 * U2F
 * OTP

The former has a more complex authentication methodology and requires a driver which currently mostly is useful in Chrome. For example, U2F wouldn't be possible to use from `curl`. The latter (OTP) is much easier to implement, but at the expense that a MITM (say, a keylogger) could collect the password. However, replay

[2015-10-22 13:50] justintime commented on #674
Well, I'm game for fiddling if you are.  Just let me know if you think we've crossed the point of needing custom development.

Regarding what I'm replicating, I'm simply replicating everything under /vault.  I hadn't poked around in there, would you like me to setup the specific prefixes you listed above instead?

Regarding the cache, yes, restarting and unsealing all the vaults results in them al

[2015-10-22 13:59] klauern commented on #131
This is where I think I'm limited a bit.  I own a [FIDO U2F Security Key](https://www.yubico.com/products/yubikey-hardware/fido-u2f-security-key/), which only supports U2F.  I suppose if Vault were to support YubiKeys, OTP would probably be the preference, but would limit those people who own the U2F-only version.  Maybe that's why I am having such trouble, as I can't simply press the button to ge

[2015-10-22 13:59] jefferai commented on #674
The values I gave above should be a good baseline. You definitely do not want `/core/leader` or `/core/lock` and if you replicate `/sys/expire` you'll have multiple DCs all trying to revoke the same leases, which is a very bad idea.

Earlier in testing (https://github.com/hashicorp/vault/issues/674#issuecomment-146693651) you said that forcing the cache off worked. Did something change, or were yo

[2015-10-22 14:20] justintime commented on #674
Unfortunately, I didn't check during my testing whether I was hitting the standby's or the leaders in my earlier testing.  I saw success and celebrated :/

[2015-10-22 15:30] jcderose commented on #710
Thanks @jefferai ! Any chance we can get that information added to the documentation, to prevent other Vault users from experiencing this headache?

[2015-10-22 16:10] dalehamel commented on #370
@armon @sethvargo @sochoa

I think SAML would be a huge win, as it is a standardized authentication interface, rather than having to implement something specific for each provider.

For instance, I'd like to use vault with Okta. I could write an integration specific ta Okta, but that seems like a waste since Okta just supports SAML.

I'll have to read up more on how SAML works to see if it's withi

[2015-10-22 16:35] jefferai commented on #710
Sure. I'll mark this as a documentation fix.

[2015-10-22 16:41] jefferai commented on #370
For future reference, mattbarid/gosaml can handle client requests; it may be a useful starting point for anyone trying to code a server library. I do think that the core functionality for managing requests (parsing, signing, etc.) probably needs to be coded outside of Vault (perhaps as enhancements to gosaml) rather than living in a backend.

[2015-10-22 16:44] jefferai commented on #370
Another thing to mention is that Vault may be able to act as a signer for SAML applications, when given an appropriate private key, but currently there is no way for Vault to handle raw XML requests (although it can generate them). This limits the utility of a Vault SAML backend right now since there would have to be an actual SAML server to handle requests from third-parties.

[2015-10-22 17:03] jcderose commented on #710
Thank you!

[2015-10-22 18:18] hobbeswalsh opened #712 "Vault 0.3.1 does not respect Mac OS X VPN DNS resolution."
I'm not sure what flags you used when you built Vault, but it appears that DNS resolution does not work as it did before.

[code]

`192.168.86.1` is my home's router.

[code]

What's going on here? Did you use the right `netgo` flags when 0.3.0 was compiled? Is there any way I can fix this?

Thanks!

[2015-10-22 19:08] jefferai commented on #712
I don't know much about the OSX DNS subsystem, but my guess is that this is related to the fact that 0.2 was built on OSX and incorrectly created a dynamic build rather than a static build. In 0.3.1 (0.3 on all platforms except amd64_linux) we are forcing a static build, which means that cgo is not enabled at build time. This may change resolver behavior as it means that native Go DNS resolution i

[2015-10-22 19:09] jefferai opened #713 "Add HMAC'd client token during request/response in the audit log"
This value is already shown when the token is created; it would be useful to correlate later behavior with a generated token.

[2015-10-22 19:17] hobbeswalsh commented on #712
@jefferai Thanks. I tried that and it doesn't fix the problem.

I was able to pull the latest version of the Hashicorp `vault` repo, check out the `v0.3.1` tag, and `go install` that version, which I can then recommend that the rest of the employees at the company download and use, but this doesn't strike me as a particularly desirable solution.

[code]

[2015-10-22 19:19] justintime commented on #674
Here's what I came up with:

[code]
Let me know if I need to change that, I'll work on pushing that out this afternoon.

[2015-10-22 19:35] jefferai commented on #712
Hi @hobbeswalsh ,

In GODEBUG you have `netdns=cgo+2` -- is that `+2` on purpose? Does removing that change anything?

[2015-10-22 19:37] jefferai commented on #674
I think that looks fine. You may not want to replicate `vault/audit` and `vault/core/audit` unless you have the same audit config everywhere (to the same file location for instance).

[2015-10-22 19:44] jantman opened #714 "Consul Secret Backend - support for management tokens"
According to the current documentation on the [Consul secret backend](https://vaultproject.io/docs/secrets/consul/index.html), roles created in Consul can only have an ACL policy/rule set specified. As a result, it's not possible to use Vault to generate management tokens for Consul. We very much need this functionality.

Use case:
We're implementing Vault and Consul not only for dynamic secrets (

[2015-10-22 19:51] hobbeswalsh commented on #712
You can combine flags, as per https://golang.org/pkg/net/

[2015-10-22 20:51] justintime commented on #674
After cleaning /var/lib/consul/* and starting fresh with the above settings, I'm getting at least getting consistent results.

I verified with curl that I'm now getting redirected to the proper leader in each DC rather than the leader of the source DC.  After updating the value in the source DC and running my read script, I see all vaults in the source DC have the new value, but all other vaults h

[2015-10-22 21:02] jefferai commented on #674
Is this using the config value or making that one-line change you made before?

[2015-10-22 21:14] justintime commented on #674
config value:
[code]

[2015-10-22 21:18] jefferai commented on #674
Any chance you can test with the same code change you tried before? I don't see why the config value wouldn't be populating through, but just in case...

[2015-10-22 21:33] justintime commented on #674
Progress!  I did nothing but remove the ! in the ```        if !conf.DisableCache {``` in core.go, recompile, and pushed it to one of the 3 remote DC's.  I updated multiple times, each time the vaults with the modified binary answered with the updated value while the other ones answered with the old value.  So, that code is doing what it's supposed to, but setting the value in the conf file must n

[2015-10-22 21:35] jefferai commented on #674
Great; I'll dig in there. I did write some (passing) unit tests to ensure that the value was being read from  the config files, so somewhere it seems like it's getting lost.

[2015-10-22 21:39] jefferai commented on #714
This sounds like a good enhancement. It would probably be enough to add a role parameter specifying which type of token to create, and not requiring a policy if it's a management token.

[2015-10-22 21:40] jefferai commented on #712
Oh, I see -- the plus sign denotes a debugging level (multiple debug flags are joined by commas, so I was confused).

Given that `netdns=cgo` didn't work, does `netdns=go` work? That should be what the binary is doing anyways, but it's worth a try.

[2015-10-22 21:42] jefferai commented on #712
I don't know all that much about how Go does name resolution but I'm wondering if the runtime flag they indicate only actually works if the binary was built with cgo enabled in the first place. It's not what the documentation says, but it might just not be clear or correct, if using the cgo resolution method requires being dynamically linked to some host resolver library (and it doesn't pull that

[2015-10-22 21:54] jantman commented on #714
Yeah, that's how I'd envision it working. Thanks!

[2015-10-22 23:25] jefferai commented on #714
@jantman I'm putting this on the 0.4 roadmap but there's already a ton there, so I can't promise it'll make it in. That'll make sure this doesn't accidentally get forgotten about, though.

[2015-10-22 23:56] jantman commented on #714
Ok, thanks so much.

[2015-10-23 07:42] JensRantil commented on #131
@klauern I see. I'm sure you already know this, but you can order an OTP-supported key for $25 from [here](https://www.yubico.com/products/yubikey-hardware/yubikey-2/). If that's too much, you could always try opening up a [support ticket](https://www.yubico.com/support/raise-ticket/) and see if they'd be willing to sponsor with a key or maybe @sherzberg @GonZo @CharlieSu @nicr9 @eedgar @peterloro

[2015-10-23 12:45] jantman opened #716 "GitHub Auth Backend - Enterprise Support"
As far as I can tell from the documentation, the GitHub Auth Backend only supports github.com. It would be very helpful for some of us if it also supported self-hosted GitHub Enterprise.

There are official [Enterprise API docs](https://developer.github.com/v3/enterprise/), but aside from the Enterprise-specific API endpoints, everything should work just the same; we'd just need to make the GitHub

[2015-10-23 13:07] jefferai commented on #716
The docs are unfortunately incomplete; you can set the `base_url` parameter at the `/config` endpoint to set the API endpoint.

[2015-10-23 13:08] jantman commented on #716
Ok, thanks!

[2015-10-23 13:18] jefferai commented on #704
Fixed by @voutasaurus  -- thanks!

[2015-10-23 13:18] #704 closed

[2015-10-23 17:08] bkrodgers opened #718 "TTL without a time suffix is accepted, but breaks on read"
If I write a TTL on a generic secret as "3600", it allows it.  However, when I read that secret, I get "failed to parse TTL for entry".  I would suggest that it should allow specifying ttls without a suffix as it does, and the read should default that to "s" (or write can add it in as a default if that's more efficient).

[code]

[2015-10-23 17:31] CharlieSu commented on #131
There is another mode that could also be supported that doesn't require interfacing with any external services.

https://www.yubico.com/products/services-software/personalization-tools/challenge-response/

HMAC-SHA1 secrets for each key could be stored in the vault and used to authenticate a user.  You'd send a challenge to the device and know what the expected response would be.

I'd be more than

[2015-10-23 18:13] jefferai commented on #131
To @CharlieSu 's point, it may make sense for someone interested in seeing this through to reality to come up with a design document that can be reviewed. It would be nice to get some kind of community consensus as to what the desired behavior is before implementing something that may not meet those needs.

There seem to be some basic questions that simply aren't answered yet, such as whether Vaul

[2015-10-23 23:11] horsehay commented on #599
I'm also having runtime error: invalid memory address or nil pointer dereference when the LDAP server is unavailable. Very confusing. I didn't realize what was going on until other apps that relied on LDAP started failing.

[2015-10-24 14:51] sirlatrom commented on #615
I'm sorry for bumping this old issue, but from my simple perspective, it appears that specifying `-use-limit=1` is now not useful at all with the UX in 0.3.1, contrary to how one would think about a 'one-use token'.

Example:

    $ vault version
    Vault v0.3.1

    $ export VAULT_ADDR=http://127.0.0.1:8200
    $ export VAULT_TOKEN=<root-token>
    $ vault write secret/foo bar=baz
    Success! D

[2015-10-24 15:11] jefferai commented on #615
Going to reopen this for 0.4. We need to special-case the `generic` backend since it doesn't generate credentials, and make sure `transit` is good too.

@sirlatrom In most cases specifying a count of 2 or more makes sense (like for `cubbyhole` authentication), but `generic` and `transit` are still use-cases for single-use tokens -- this needs to be fixed though  :-)

[2015-10-24 23:35] mwitkow commented on #111
I'm in the same boat as @st33v. Being able to list `user-id`, so that we can purge non-existing machine UUIDs from the secret store, is the main thing stopping us from using Vault.

I would prefer this to not require the `root` policy, but maybe a `sudo` on `auth/app-id/map/user-id`.

[2015-10-25 01:46] apparentlymart commented on #646
To be clearer than I was in my original write-up, I'm primarily interested in using a Google Apps backend for the same purpose as the GitHub backend is (presumably) used: to let developers trade their existing Google credentials for Vault tokens, and then in turn use Vault to get credentials for SSH, MySQL, etc.

I wasn't planning to use it as a general authentication solution for end-users; we al

[2015-10-25 08:43] cetex commented on #687
Hi!

I've hit this as well and i'm since a month or two (randomly) solving it with a sleep of 7 seconds. sometimes 5 seconds is enough, sometimes 10 seconds is needed.

I've contacted AWS and this is what they say:
--- SNIP ---
To manage eventual consistency, there are two methods described in the following link which also contains more details about this issue:
http://docs.aws.amazon.com/AWSEC2/l

[2015-10-25 09:27] cetex commented on #633
Our plan is to run a separate vault cluster (on the same nodes that run consul masters for that DC) in each datacenter, then have a "master vault" somewhere secure which has the "master copy" of all secrets. This vault cluster will usually be selaed. To deploy a new or update secrets in a datacenter we would unseal this "master vault", pull the secrets and all configurations needed for a destinati

[2015-10-26 05:57] ben-nz commented on #111
Also chiming in, would be really useful to be able to list mappings in app-id auth.

[2015-10-26 14:42] jefferai commented on #646
@apparentlymart That sounds good.

When you start talking about federation, user account directories, OpenID Connect, representing domain user/group relationships, and so on, I start to think "identity server". But yes, I think the same model as the GitHub backend is likely a totally workable approach  :-)

[2015-10-26 14:44] jefferai commented on #687
I'm not going to get to this in the next couple of days, but if anyone interested wants to figure out which API the user-exists command is hitting, that would be useful. It's curious that they told you to use that after telling other users (further up in the thread) that there is no official way to determine whether things are yet consistent.

[2015-10-26 14:55] jefferai commented on #633
#674 may be of interest. The person there is using consul-replicate to sync data from a master DC to separate HA Vault instances in other DCs. A minor bug to work out, but other than that it seems to be working.

[2015-10-26 17:04] lassizci commented on #615
for at least generic use-limit=2 results actually in a one time token: on first use the token is able to read the secret and on the second time it returns an error. But I agree that this is a bit confusing when both dynamic and generic secrets are used since it's easy to think that one time token would work the same way.

[2015-10-26 17:14] jefferai commented on #615
Yeah, it's a hard problem. When a token is revoked, it revokes credentials, so use-limit=1 doesn't make sense for most credential-gathering use-cases. But there are definitely useful use-cases for transit and generic, so those should work.

[2015-10-26 22:38] bkeroackdsc opened #720 "Logical API client broken with paths containing leading '/'"
[Logical API client](https://github.com/hashicorp/vault/blob/master/api/logical.go#L13)

[code]

Result:
[code]

Fixed by removing leading slash:

[code]

Fixed result:

[code]

[2015-10-27 16:02] jefferai commented on #720
Hi there,

This is actually correct behavior...mounts do not start with a slash. You can see this in the examples in the documentation as well as the output of the `vault mounts` command.

[2015-10-27 16:02] #720 closed

[2015-10-27 23:48] narayan8291 opened #721 "Vault make error - CentOS"
I am trying to compile the new source code onto my centos server. After installing Go and setting up the go env variables (GOPATH, GOROOT and PATH). I cloned the vault repo into $GOPATH/src/github.com/hashicorp/vault.

1. make bootstrap - was successful and I checked the bin folder to verify if godep was installed.
2. make - Successful.
3. make dev - Fails

Here is the output,

[ngowraj@inw-1320 v

[2015-10-28 03:03] careyblack opened #722 "vault config file should support settings to implement local default values for -key-shares and -key-threshold during init"
I think it would be useful to include the -key-shares and -key-threshold values for a vault server in the servers config file.

1) This way the local file can be the "default values" and the "vault init" command can be bare of parameters and you still get what you want for "-key-shares and -key-threshold" values.

2) It is a way for config management to push/control a very fundamental aspect of st

[2015-10-28 03:06] careyblack commented on #722
Oh.. and the values should also be defaults during "rekey" processing too.

[2015-10-28 03:46] careyblack opened #723 "allow user to control vault CLI choice to store auth token in ENV VAULT_TOKEN instead of $HOME/.vault-token"
I was surprised that a second ssh session (as an already authenticated user to vault) would inherit the existing "vault token".

It looks like the default way that the CLI stores a users session is through the $HOME/.vault-token file. (Which is easily read from other new, or existing, ssh sessions.)

I think the existing behavior could be desired by some. However, I can also see a desire for it to

[2015-10-28 11:35] jantman commented on #687
FWIW, I'd asked our AWS consultant about STS. Here was his response:

@jefferai re: the ``aws iam wait user-exists --user-name foo`` this is actually implemented in generated code in [boto-core PR 642](https://github.com/boto/botocore/pull/624/files). It appears that the logic is to poll IAM's ``GetUser`` action every second until it returns a HTTP 200.

[2015-10-28 13:37] lassizci commented on #111
And the same thing for tokens.

[2015-10-28 13:43] jefferai commented on #721
The first error appears to be a permission denied error -- check permissions on the specified path.

The second error is because your `sudo` isn't preserving GOPATH. Like the error says, GOPATH isn't set.

In the future, please use the mailing list for general questions like this, as there are many more people available to help -- you can sign up at https://groups.google.com/forum/#!forum/vault-to

[2015-10-28 13:43] #721 closed

[2015-10-28 13:45] jefferai commented on #722
This could be implemented in the future. However, you should be able to handle these parameters successfully with configuration management now. Are you having issues with it?

[2015-10-28 14:00] jefferai commented on #723
If both exist, the `VAULT_TOKEN` environment variable will be preferred over the file cache; this is described at `https://vaultproject.io/docs/commands/environment.html`.

The reason it's done this way is that CLI users are generally humans who appreciate having an automatically cached token to avoid having to manually set environment variables in each shell session, whereas API users tend to be

[2015-10-28 14:27] jefferai commented on #687
Yuck, but there's no reasonable better way given the constraints. :-)

[2015-10-28 14:30] jefferai commented on #687
This is actually quite ugly, because the boto PR indicates that they expect a 404 when the user isn't ready, which according to the docs is returned for either MalformedQueryString or NoSuchEntity. I suppose if it's not consistent yet it's reasonable to think that there's NoSuchEntity, but that also means that you have no way of knowing if a query for any particular user is simply because they're

[2015-10-28 14:57] emk opened #724 "Administrative functions need to specify administrative tokens and permissions separately"
I'm trying to mirror certain, limited portions of a vault configuration to another vault server. This requires being able to:

1. List all policy names.
2. Copy all policies beginning with a particular string.

It turns our that there is no way to specify "this user can read certain vault policies, but can't change them." Every set of ACLs I try to write either fails to provide read access, or all

[2015-10-28 15:08] jefferai commented on #724
Hi @emk ,

There are plans to expand the permissions/ACL system in the future, which I think will address some of these concerns, but not all.

The first bit in your snippet above would potentially be addressed as one of the new permissions is likely to be "list". So you could list the policies, probably by name, without necessarily having read access to them.

The problem with addressing it is th

[2015-10-28 15:09] jefferai commented on #724
I'm also putting this in the 0.5 milestone, although this is mostly to ensure that this doesn't fall off anyone's radar...please understand that this is not a hard promise and will really move to whenever we land the ACL revamp.

[2015-10-28 15:18] emk commented on #724
OK, cool. All of our policies are loaded via a script, so we can just load a second copy into the `secret/` backend, and fetch that. This will make a reasonable workaround for now.

But the "`sudo` is needed to read some sensitive secrets but it **always** grants write access" seemed like it was worth filing a bug against, because that's an unfortunate security temptation in admin scripts.

So far

[2015-10-28 15:20] jefferai commented on #724
Yeah, you can see the Unix model in the initial ACL system design, but extended attributes exist for a reason, right? :-)

Glad you're happy with Vault so far, and I hope you'll continue to like where it goes. There are major overhauls planned for the 0.5+ releases to provide a lot of enhancements (like the ones in this ticket) and I think it will become an even more flexible toolkit.

[2015-10-28 16:04] jwthomp commented on #388
For anyone who would like to try a build of #666, I've created a docker image at dsvolition/vault and a github repository with the Dockerfiles I used to build it at: https://github.com/volition-inc/vault

@jefferai Thank you for doing this work, it's going to benefit the project I am working on immediately.

[2015-10-28 16:22] jefferai commented on #388
Sure! I'm mostly waiting on @james-masson to make more forward-progress on this; the certs being generated are not being liked by FreeIPA but it's unclear why, yet, and he's following up with them. Other than that, I think the code is basically done at this point, although the documentation needs updating.

@jwthomp If you have any feedback on the changed code, by all means please send it along. E

[2015-10-28 16:25] james-masson commented on #388
Don't get hung-up waiting for me - I'm waiting for Redhat to make some progress on my issue, no ETA available.

[2015-10-28 16:29] jefferai commented on #388
@james-masson 0.4 is still a bit away, so it's not really hung up. I'll let you know if this is becoming a major blocker. But there's still time.

[2015-10-28 17:07] jefferai commented on #674
@justintime Sorry for the delay on this...weekend + daycare woes.

I just pushed a change to `master` that should fix this. I totally missed a spot where I needed to plumb it through -- so the config file reading and merging was working in the tests, but was not actually being passed through to the final core.

Let me know!

[2015-10-28 20:05] #695 closed

[2015-10-28 23:12] bkeroackdsc commented on #720
Seems like a pretty arbitrary limitation. Also the error message is not helpful.

Is there any way to make this a bit more developer-friendly?

[2015-10-29 00:57] jefferai commented on #720
In `master` you can already start paths with a slash, just not in any released version, so in the released version you need to use the proper mount path.

The problem with handling them wasn't really a Vault issue, it was unwanted behavior of the Go HTTP server when encountering a `//` in a URL; rather than pass it in to the handler, it would by fiat generate a specific redirect code that was diff

[2015-10-29 01:36] careyblack commented on #722
Well... given that my current configuration management tool is the oldest one in the tool box, yes I appear to have a problem. Maybe you have heard of it? It is called "me". :) And I like having config files that fully describe the desired state for a tool. As the project is, the config file only partially defines the state (focused on run time state and appears to ignore initialization values) an

[2015-10-29 02:35] careyblack commented on #723
Yep. and that makes the default behaviors of the CLI a bit more strange to me.
* The command `vault auth ...`  defaults to storing token in file cache. (And does not currently support storing it in VAULT_TOKEN environment variable. Without the user doing something on their own.)
* The command `vault read ...` defaults to VAULT_TOKEN environment variable then falls back to file cache.

If the comma

[2015-10-29 02:55] careyblack commented on #683
Another option solve this issue might be to use the SSH Secret Backend(http://vaultproject.io/docs/secrets/ssh/index.html) It actually looks like it is specifically designed for just this use case. :)

Basically you don't need to know the root password. You get access to it when you need it vai an audited event through your vault. ( specifically thinking about the "One-Time-Password (OTP) Type" op

[2015-10-29 03:38] careyblack opened #726 "Does Server Configuration support establishing audit backends?"
ref(http://vaultproject.io/docs/config/index.html)

If I am reading that correctly then it appears to not allow the server config file to specify an audit backend.

Why was not not added to the config file format? (And can it be added?)

[2015-10-29 09:23] loredo opened #727 "Acces to errors from vault HTTP API response in Secret structure?"
I want to transmit further errors from vault when performing a call to HTTP API.

Could be added in api.Secret structure an element for this?

e.g. Errors []string `json:"errors"`

Thank you,

Loredana

[2015-10-29 11:10] jefferai commented on #727
In `master` there is a warnings structure and API for response objects that can be used to send warnings back. It's intended to be used to send warnings when a command is successful, but you could piggyback on this for your own purposes.

What is the use case for returning multiple errors? As soon as an error is encountered, any call to the API returns. It's unusual for an API to support returning

[2015-10-29 14:11] jefferai commented on #723
Unlike other Vault CLI commands, `vault auth` does not consume a token, it retrieves a token. It is consistent for it to store the retrieved token in the location that token-consuming functions expect to read it.

Using the Vault CLI is not a requirement; it is a simple wrapper around the HTTP API. If you do not like its behavior of caching a token for you, you can currently easily work around it

[2015-10-29 14:13] jefferai commented on #726
It cannot be added. Mount information is stored in the physical backend; it must be, so that it is consistent and accessible during a high-availability failover.

If you aren't on it already, the best place for this kind of question is the mailing list (https://groups.google.com/forum/#!forum/vault-tool) as other people can provide answers and helpful information.

[2015-10-29 14:13] #726 closed

[2015-10-29 14:53] jefferai commented on #718
@bkrodgers I'm working on this now, but wanted to leave a note: we're currently thinking about some API changes as we think about how to make backends more similar and consistent, so I'm going to defer the "default if no suffix" question until then. For the moment I will make it behave as it does most other places. But that is a good thought for a later revamp.

[2015-10-29 15:00] loredo commented on #727
I couldn't find warnings structure. I found only Warnings []string `json:"warnings"`.
In my vault client I  do not return multiple errors but want to catch specific errors and treat them.

So I wanted to catch errors from Vault http response like: {"errors":["missing 'app_id' or 'user_id'"]} when wrong appid or userid was provided.
In this case, I could create an errors structure and unmarshall on

[2015-10-29 15:06] #718 closed

[2015-10-29 15:22] #697 closed

[2015-10-29 15:40] jefferai commented on #727
Sorry, I mis-typed: I meant that there is a warnings array, not a warnings object.

I'm still not clear what you're looking for. If an operation is unsuccessful, if an error is returned, it will be in the errors array, but it is up to individual backends to actually return a descriptive error string.

At other times, status codes are the method used. This is especially true if the error is a sensi

[2015-10-29 21:22] justintime commented on #674
Just verified this works as advertised, thanks so much for all of your help!

[2015-10-29 21:22] #674 closed

[2015-10-29 21:40] jefferai opened #732 "Create default policy"
There should be a default policy that includes access to `lookup-self` and `revoke-self`. The policy can be modified (for instance, to remove those) but not deleted. This would solve the problem of those endpoints not being accessible (making certain auth functions impossible) while keeping those authenticated, which is really the right thing to do as they do require a token.

[2015-10-29 23:48] bkrodgers commented on #652
Question on the fix for this.  My understanding is that renewing an auth token simply renews it.  It still doesn't re-check anything against the vault back end.  In other words, if I allow github tokens to be renewable, I still have a problem in that a token could be renewed forever, even after the underlying github access has been removed, so long as they renew it before the lease has expired?

I

[2015-10-30 14:27] jefferai commented on #674
@justintime Once you get some experience with this it may be cool for you to put a writeup of your setup and running notes into the mailing list. Other people may want to do something similar.

[2015-10-30 14:37] samprakos opened #733 "failed to mount entry &vault.MountEntry{Path:"secret/""
This issue #648 is happening to me (0.3.0).  Does this issue have a known solution?  I would really rather not clear all the vault data and restart.  I am using Consul as a backend and getting the below message over and over.  I swapped out 3 aws instances with Consul and Vault on them with 3 new ones...then shut the old ones down and I believe this started happening when a Vault instance on one o

[2015-10-30 14:46] jefferai commented on #652
Correct.

...

Unfortunately you're basically right about all of this (although a fired employee probably shouldn't have network access to Vault, regardless of whether their token is still valid). The good news is that we know that there are pain points in the way many backends work right now, especially since some of them treat things like TTL rather differently than others. We're actively planni

[2015-10-30 14:49] jefferai commented on #733
Assuming it's the same underlying cause as #648, the fix is the same too -- you can either upgrade to `master` now, or it should be fixed when 0.4 comes out.

If possible I'd recommend upgrading to `master`, if for no other reason than if you do *not* have the same underlying cause we can work on fixing the problem before 0.4 comes out.

[2015-10-30 15:03] jefferai opened #734 "Explore storing GitHub tokens to check for membership on renewal"
See discussion at the end of #652.

[2015-10-30 15:03] jefferai commented on #652
@bkrodgers I've filed #754 to keep track of the idea of storing GitHub tokens in the backend to re-check for membership. If an interested party wants to work on this functionality ahead of time, that would be great...we'll use the other ticket to track it.

[2015-10-30 15:16] mfischer-zd commented on #674
Yes, please -- we would love to have a single Vault master in a multi-DC environment.

[2015-10-30 16:03] jefferai commented on #615
@lassizci Regarding your previous comment about use-limit=2, check out the "no-verify" flag to token-create. Generally when using a use-limited token you'll want to set that.

[2015-10-30 16:09] justintime commented on #674
@jefferai I'll try and put together a (gasp) new blog post about it.  Is it
safe to assume the disable_cache feature will make it into 0.3.2?

On Fri, Oct 30, 2015 at 10:16 AM, Michael S. Fischer <
notifications@github.com> wrote:

[2015-10-30 16:20] bkrodgers commented on #652
Fantastic, thanks!  If I get a few moments I also may send you a PR to add a few notes about this to the docs, since it's not totally obvious.

[2015-10-30 16:42] #615 closed

[2015-10-30 16:43] jefferai commented on #699
Fixed by #736

[2015-10-30 16:45] J-Walling commented on #699
Excellent! Thank you for the prompt response to this!

[2015-10-30 16:48] #710 closed

[2015-10-30 16:51] jefferai commented on #699
No problem :-)

[2015-10-30 16:54] jefferai commented on #674
The next planned release is 0.4, but yes, it will be in there. While I'd love to see this post, I do have a couple of requests, to ensure that people trying to follow in your footsteps don't run into problems:

* Please note that it's not officially supported...you're on your own
* Please note the dangers of copying over the entire Consul tree as per my earlier comments in this issue

Thanks!

[2015-10-30 16:58] mfischer-zd commented on #674
It won't be supported in 0.4, or it won't be supported in the current release?

[2015-10-30 17:35] jefferai commented on #674
Clash of terminology. The ability to turn off the cache will be present in 0.4, hence this functionality will be supported. The behavior of using consul-replicate in this way to distribute data to multiple datacenters will not be officially supported. If problems are hit that are fixable (such as adding the flag to disable the read cache), I'm happy to work to fix them, but the overall solution is

[2015-10-30 17:36] #713 closed

[2015-10-30 17:37] mfischer-zd commented on #674
OK, will wait until it's officially supported.

[2015-10-30 18:08] samprakos commented on #733
With the latest code on master, it did not solve the issue...the logs look a little different...here is a sample:

==> Vault server configuration:

         Log Level: info
             Mlock: supported: true, enabled: false
           Backend: consul (HA available)
 Advertise Address: http://10.1.8.10:8200
        Listener 1: tcp (addr: ":8200", tls: "disabled")

==> Vault server started! Log dat

[2015-10-30 18:12] jefferai commented on #674
There are currently no plans on the roadmap to officially support this kind of replication, so it might be a long wait. However, a better way to look at it might be that there is a not-officially-written-down-but-listed-above-in-the-comments set of prefixes and keys that should *not* be replicated to any read-only set of Vault servers. Maybe at some point that list can become more official, but th

[2015-10-30 18:14] jefferai commented on #733
I think this is a different problem.

What seems to be happening is that, because it cannot open the designated file for writing, the audit backend is failing to start. This is causing the post-unseal setup phase of the node becoming active to fail, however, when this happens it's not cleaning up after itself. Then it realizes it's master and tries to perform the post-unseal setup again.

In the s

[2015-10-30 18:23] samprakos commented on #733
I wasn't aware that I had auditing enabled.  When I attempt to auth at the command line I get "Error validating token: http: read on closed response body".  Is there another way to disable auditing?

[2015-10-30 18:26] jefferai commented on #733
Does it get into this bad state every time you start it?

[2015-10-30 18:31] jefferai commented on #733
I just pushed a change to master which will cause the file path to be printed in the error message.

[2015-10-30 18:31] samprakos commented on #733
No...but I launched new AMIs so this is a fresh aws instance.

So, on this log:  2015/10/30 18:03:15 [ERR] core: failed to create audit entry file/: sanity check failed; unable to open given path for writing

What...LOL just got your message ok...will try

[2015-10-30 18:40] jefferai commented on #733
Audit config is stored in the storage backend, so a fresh AWS instance won't help if you're using the same storage.

[2015-10-30 18:41] samprakos commented on #733
Great...so I got this log:  2015/10/30 18:37:21 [ERR] core: failed to create audit entry file/: sanity check failed; unable to open /var/log/vault_audit.log for writing

Then went and created that file w/ proper permissions, restarted, unsealed...and all seems fixed!!  Thanks :)

[2015-10-30 18:42] jefferai commented on #733
Sure. I'm going to leave this open because I want to look into the underlying issue, but feel free to unsubscribe if you like.

[2015-10-30 21:26] jefferai opened #739 "Add renew-self, revoke-self, and lookup-self to the API client"

[2015-10-30 21:28] #739 closed

[2015-10-30 22:02] msabramo commented on #708
Ah ok, sorry for not being responsive..let me check that out; unfortunately our ISP is down today, but I can check on the servers when it comes back up.

[2015-10-30 22:07] justintime commented on #674
http://sysadminsjourney.com/blog/2015/10/30/replicating-hashicorp-vault-in-a-multi-datacenter-setup/

[2015-10-31 10:09] asemt commented on #131
:+1:

[2015-10-31 18:01] mfischer-zd commented on #674
While I appreciate @justintime 's research in this matter, I'm reticent to implement a solution that may not work with a future Vault release.

Can we get this on the roadmap, please?

[2015-11-02 15:28] njsaunders opened #743 "More intuitive tls_disable"
Setting tls_disable to 0 or false currently disables TLS (As per the documentation), but this isn't particularly intuitive - Either the directive should take no arguments and be a statement, but if you can assign a value to it we should do the right thing - I've just spent 20 minutes figuring out why tls_disable=0 doesn't enable TLS.....

[2015-11-02 16:39] jefferai commented on #743
The documentation is pretty clear on this point:

This isn't described as a boolean field. As it says, setting it to `0` or `false` means that it is not empty. If you do not want TLS disabled, simply do not set this option.

[2015-11-02 16:39] #743 closed

[2015-11-02 17:05] jefferai commented on #674
@mfischer-zd `consul-replicate` can real-time stream data from one Consul cluster to another. There are no plans to a streaming-replication solution in Vault, especially when a well-tested one exists at the storage level.

The set of paths one would want to replicate will vary from one installation to the next. The only thing that is fairly constant are the things you *don't* want to replicate. Th

[2015-11-02 17:11] mfischer-zd commented on #674
It's fine, in my view, to declare that real-time replication is supported only when Consul is the storage backend and `consul-replicate` is used to replicate the data.

This is what worries me.  You're not willing to make any stability guarantees here?

[2015-11-02 17:19] jefferai commented on #674
I cannot promise that Vault's internal data store will never change. This means that, if relying upon some specifics of the layout of the internal data store, you'd want to perform due diligence during an upgrade cycle -- the same as any other aspect of Vault that undergoes changes from one version to the next.

[2015-11-02 17:41] mfischer-zd commented on #674
How about notices to replication users in release notes, or bumping the major version per semver when the storage layout changes?

[2015-11-02 17:51] jefferai commented on #674
Vault is still very young and nowhere near 1.0, much less a major version bump, regardless of what changes. Storage level changes would never happen in anything less than a minor version bump, currently.

[2015-11-02 17:57] justintime commented on #674
When I run something with the latest version of 0.3.1 in production, I fully expect to have to put a lot of extra rigor into even minor versions upgrades.  Comes with the territory, IMO.

I'll make 0.3.1 work now, and when I upgrade, it will have weeks of testing in dev and staging before it goes to production.

[2015-11-02 21:37] jefferai commented on #546
An update for all of you:

We've been doing a lot of roadmap setting internally and one of the things that we're planning on for the 0.5/0.6 timeframe is a major rewrite of the frameworks that backends are built upon, to make them far more standardized, understandable, better able to support needed features (like listing), and so on. Along with this will come major rewrites of nearly all backends.

[2015-11-03 02:12] jimjh commented on #132
Is this enhancement being considered for an upcoming release, or is it waiting for someone to pick it up?

If it's the latter, I would be happy to look into it.

[2015-11-03 15:09] jefferai commented on #132
It's currently the latter, although I would suggest holding off for the moment. The reason is that we are working on redesigning the frameworks that provide most of the support logic for all backends in order to make them more standardized and support more features. I'm hoping that one of the standard things we can do at that point is enable multi-factor authentication support for *any* backend.

[2015-11-03 15:50] #733 closed

[2015-11-03 18:10] jimjh opened #747 "zsh autocomplete"
I am working on an autocomplete script for `zsh`. AFAIK, the commands (and their respective args) can be printed in 2 ways: by parsing `--help`, or by hardcoding them inside the script. Is there a better, less fragile method I can use?

[code]

[2015-11-03 20:13] #330 closed

[2015-11-03 20:26] #677 closed

[2015-11-03 20:30] #714 closed

[2015-11-03 20:34] jefferai commented on #747
Right now, no, there isn't. :-/

[2015-11-03 20:59] jimjh commented on #747
Thanks for the response.

[2015-11-03 20:59] #747 closed

[2015-11-03 22:09] JeanMertz commented on #395
That's exactly the kind of failure scenario I'd like to protect against. Also, having persistent state "swarming" around in your cluster is less than ideal, it changes the mindset of managing that cluster.

If Consul was only used for HA leader election, and S3 could be used as the storage backend, then losing an entire cluster means downtime, but no data loss. Currently, we solve this by mounting

[2015-11-03 22:19] jefferai commented on #395
Note that for Consul, [consul-replicate](https://github.com/hashicorp/consul-replicate) can be used to stream Consul state to a remote server for backup.

[2015-11-03 22:22] sepiroth887 commented on #395
We have been running with attached disks for persistence for a while now and it works. The reason i was happy to put up with it is that we run more than just this zookeeper in the same fashion so it's not really a snowflake.

Though id love to see the same semantics as mesos where zookeeper is only used for leader election and the backend can be choosen from all other storage providers (including

[2015-11-04 00:29] parabuzzle commented on #572
Any idea when this will be released?

[2015-11-04 00:46] jefferai commented on #572
We don't announce release dates ahead of time, but the current plan is a couple of weeks or so.

[2015-11-04 00:51] rsyabuta opened #749 "ExpirationManager Revoke doesn't delete secondary index"
https://github.com/hashicorp/vault/blob/master/vault/expiration.go#L198

I set a low TTL of 3 minutes for my auth/app-id backend, but noticed that the secondary indices created in sys/expire/token/ weren't being deleted even though leases were expiring as expected.

I think this should be `removeIndexByToken` rather than `indexByToken`

[2015-11-04 03:45] jefferai commented on #749
Marking this to look at before 0.4 hits.

[2015-11-04 06:57] sandstrom commented on #714
Great! :boat:

[2015-11-04 17:58] jefferai commented on #687
Any chance I can corral some of you into testing a fix?

[2015-11-05 03:20] odigity opened #753 "etcd store integration should default to 2379, not 4001"
The docs for using etcd as a store say Vault defaults to using port 4001 to talk to etcd, which is was the default port back in etcd v0.4.7.  However, they have since switched to 2379.

The doc:

https://vaultproject.io/docs/config/

I'm new to etcd, but from what I've read recently, I bet more people are using v2 than v0.4.x.  (0.4 was unstable)

[2015-11-05 04:18] odigity commented on #165
It would be convenient if the Vault project maintained an official container.  I'm sure it would help with new user adoption (like me!) by making it easier to try out Vault (and write "hello world" tutorials).

I appreciate the example, @voxxit, and will likely use your Dockerfile as a starting point in the meantime.  But for something as security-sensitive as Vault, I'd feel better using an "offi

[2015-11-05 14:42] jefferai commented on #165
@odigity Part of the reason we haven't done it yet is that we can't produce an official image using the Docker Hub's capabilities, which require that the image is built only with a Dockerfile*. Most of the images out there in the community seem to be using Alpine Linux, which is unnecessary when Vault is statically built and causes problems when Vault is dynamically built...plus contains a package

[2015-11-05 14:48] #753 closed

[2015-11-05 14:48] jefferai commented on #753
Thanks for the report -- fixed!

[2015-11-05 15:34] odigity commented on #165
Thanks for the prompt response.

I'm no Docker expert, but I recall when I first start studying Docker a month ago that it's possible to make an image that is literally nothing but a single binary if there are no external deps (which there aren't for vault's binary).

Is the problem that you can't publish an image to Docker Hub containing a Dockerfile that just uses the COPY command to copy the bi

[2015-11-05 16:38] jefferai commented on #165
Yep, and that's exactly what we think is appropriate for Vault. (Likely you would use this as a base image, and add SSL CA certificates and other things into the container for your local use). `golang-builder` and `gockerize` are both tools to help make this easy.

Basically, yes. We also can't use ADD, because:

...and our binaries are compressed, for bandwidth/distribution purposes. Hence my com

[2015-11-05 16:58] dreamcat4 commented on #165
Hi,
This is what I do:

[code]

Because (as previously stated) Docker have been glacial at automatically unpacking from URLs. You should go to Docker issues, state that you guys are part of Vault project and need this feature ASAP. It's holding you up and they've known about for ages already.

In meantime, my only suggestion (other than busybox) would be to start with `FROM scratch`, then `ADD tar

[2015-11-05 17:04] jefferai commented on #165
You didn't mention which base image you use. If the binaries in `s6_overlay` aren't static, then it requires a full environment to be around, or at least a statically built `busybox`.

The issue isn't that we're worried about `busybox` vulnerabilities specifically, we just don't see a reason for non-essential files to be sitting waiting to be invoked. I would generally be more happy with a user ta

[2015-11-05 17:09] dreamcat4 commented on #165
The `s6_overlay` is just an example of a tar file to `ADD`... you guys would not do that. You would replace that bit with your vault binary. Which is self contained.

The reason not to use busybox is it contains more things than you need. If you went from scratch and just copied only `tar` or some micro-tar (to just untar and nothing else)... then you would not be bloating your image size by hardl

[2015-11-05 17:26] jefferai commented on #165
But it does require us to build `tar` statically, as well as (as you noted above) `rm`. Then those have to be distributed somewhere where the Hub can access them and copy them into the container. That's more burden on us.

I'm not concerned with the final size of the image. No matter how we slice it, we can't build a minimal container on the Hub. Anyone wanting a Vault container from the Hub is ne

[2015-11-05 17:54] mishak87 commented on #165
Having official image on hub would be equal to encouraging people to run with scissors.
IMO there is no reason to increase false sense of security for people who don't understand security or docker. *There are already [images doing that just fine](https://hub.docker.com/search/?q=vault&page=1&isAutomated=0&isOfficial=0&pullCount=1&starCount=0).*

It would improve user experience to have official t

[2015-11-05 18:19] odigity commented on #165
Yup, that's exactly right.  :)

In my case...

1) If there were an official Vault container on the Hub, I'd probably be using it right now for playing around with, since vulnerabilities aren't relevant in that stage.

2) Since there isn't, and the points you made are valid, I intend to build a vault-binary-only image myself from scratch (Docker) and source (Vault), since it seems like it should be

[2015-11-05 19:18] jefferai commented on #165
(Import gpg key, download file, download checksums, verify signed checksums and build docker image etc.)

One thing we may do at some point is set up a bash script that can do this for common use cases. As is the case with a lot of open source projects, a lot of it comes down to having time, right now.