[2022-09-30 13:40] ccapurso commented on #17221
According to the server information provided, you are running Vault 1.9.2. HTTP `PATCH` support for KVv2 metadata was not added until version [1.10.0](https://github.com/hashicorp/vault/blob/main/CHANGELOG.md#1100). Thus, your server must be running 1.10.0 at a minimum in order to be able to patch metadata.

[2022-09-30 13:40] #17221 closed

[2022-09-30 15:27] jalonsoa commented on #1423
@shuston try with the isBinary: true option in external secret definition

[2022-09-30 20:28] iniinikoski commented on #14671
Can confirm what @klaphi says - the problem is back. Not a good thing...

[2022-09-30 20:32] hsimon-hashicorp commented on #14671
Re-opening, thank you for these reports!

[2022-10-01 00:48] mattmcsparran commented on #14671
Can also confirm issue occurs in 1.11.4

[2022-10-01 12:25] ReCodee commented on #11613
@vishalnayak, is this issue still relevant?
I'd like to work on this issue

[2022-10-01 20:09] f0cus3d commented on #16870
Getting the same error , using similar code from https://github.com/hashicorp/vault-examples/blob/main/examples/auth-methods/approle/go/example.go

[code]

[2022-10-01 20:23] f0cus3d commented on #16870
https://github.com/hashicorp/vault/blob/bcc79b7f5baf830907f7a20011767a50fcc62209/api/kv_v2.go#L112

Can we make custom metadata optional on Get ? I suspect for the most part if folks want metadata there could be a separate call for that?

[2022-10-01 20:31] f0cus3d commented on #16870
https://github.com/hashicorp/vault/blob/bcc79b7f5baf830907f7a20011767a50fcc62209/api/kv_v1.go#L14

v1 Get still works with approle auth if anyone else is looking for a workaround opposite doing a logical read, just provide the mount path as `yourMountPath/data`

[2022-10-03 12:18] MinDBreaK opened #17383 "Vault API Explorer does not send query param"
**Describe the bug**
The API Explorer does not send the query params to the server.

**To Reproduce**
Steps to reproduce the behavior:
1. Open Vault UI
2. Open the console
3. Type `api` then `enter`
4. Make a request to `​/sys​/metrics` with `format=prometheus`
5. The format is still JSON and the query is not sent. The generated cURL command does not include the parameter.

**Expected behavior**
T

[2022-10-03 13:12] cleboo commented on #17100
I was able to track down the source of the problem: we set the policies in `auth/kubernetes` with a leading slash like `/test-policy` to assign a role the `test-policy`. This actually works initially. However, after some time, retrieving secrets starts to fail.

So my guess would be that there is some component that normalizes the policy names differently. Maybe a cache somewhere?

In any case, re

[2022-10-03 15:01] KarlKatz opened #17389 "Unable to login with userpass method and totp when SHA256 algorithm is used for totp."
**Describe the bug**
Unable to login via vault web ui or vault cli using userpass authentication method and TOTP which use SHA256 algorithm. `/v1/sys/mfa/validate` endpoint returns 403 error.

**To Reproduce**
Steps to reproduce the behavior:
1. Setup TOTP MFA with following parameters `Period: 30, Key size: 20, QR size: 200, Algorithm: SHA256, Digits: 6, Skew: 0, Max validation attempts: 5`
2. Se

[2022-10-03 17:45] dekimsey commented on #6280
Hrmm. I missed this issue being closed. I don't think it's resolved myself.

What I'd like to do is be able to issue a consul ACL token that remains live for as long as the vault-agent keeps it alive (periodic tokens).

In my case we are using the consul secrets backend to generate consul tokens for our Connect/envoy apps. The issue here is that we cannot effectively replace the CONSUL_HTTP_TOKEN

[2022-10-03 19:52] digivava commented on #16870
Sorry for the issue here, folks! This was an oversight on my part in not accounting for older Vault servers. We're working on resolving this ASAP.

[2022-10-04 02:48] portnoy commented on #17389
I can confirm, that until I changed the TOTP hashing algorithm to SHA1, logins were denied with
[code]
(vault Version 1.11.3, both server and client)

[2022-10-04 11:26] valli0x opened #17402 "core: persist(Mount/Auth/Audit) function. Using two iteraiton"
Who do you use two iteration in function persistMount in mount.go?
https://github.com/hashicorp/vault/blob/61707d56d51b4b9454e6f47111c398d1d47bf189/vault/mount.go#L1295

https://github.com/hashicorp/vault/blob/61707d56d51b4b9454e6f47111c398d1d47bf189/vault/mount.go#L1301-L1322

What do you think about this pr?
#17220

[2022-10-04 13:27] kashak88 commented on #17044
hello, any update on this?

[2022-10-04 19:20] ianferguson opened #17416 "HTTP 500 returned when retrieving an OIDC identity token for a merged entity id"
**Describe the bug**

Retrieving an OIDC identity token (from `identity/oidc/token/*`) for a vault token associated with a merged entity id results in a 500 error.

I've run into this both with a JWT/OIDC auth backend and (as shown in the reproduction script below) an Approle backend

In the case of the approle backend, both tokens that exist before the merge and tokens issued after the merge are

[2022-10-04 19:48] mpalmi commented on #17402
Thanks for opening the issue @valli0x! I've been meaning to get back to the PR. Typically we try to avoid cosmetic changes. This provides an improvement in success case, but not for failures. Either way, I will get around to merging this later today or tomorrow. Thank you for your patience!

[2022-10-04 20:41] sud0nick commented on #5767
This is affecting me as well.  I'm surprised to see this issue is 4 years old and we still can't set a `source_profile` or `role_arn` in the provider block.  Thanks to @Westixy for the workaround as it unblocked me.

[2022-10-04 21:34] #17166 closed

[2022-10-04 22:54] ceseuron opened #17423 "Vault Operator Migrate doesn't do anything with PostgreSQL source and Raft destination"
**Describe the bug**
We are using AWS RDS PostgreSQL cluster backend on our vault environment and we're attempting to migrate to Raft. I have provided the below **migrate.hcl** (censored for obvious reasons):
[code]
When I run `vault operator migrate -config /path/to/migrate.hcl`, the process starts but nothing else happens. It just hangs and does nothing and I have to `kill -9` the process. The o

[2022-10-05 04:21] george-angel commented on #13386
Hello, broadly want to echo @jeffwidman sentiment, and if thats too much, can we please have a statement in README saying "you can't have Vault unit tests", don't import "vault/vault" because it will break.

You gain nothing by having users find out the hard way the tests they wrote will constantly break and will become unfixable.

Thank you.

[2022-10-05 08:46] s-vitaliy commented on #5362
@hsimon-hashicorp, I'm interested in this feature too. Right now as a workaround I want to create a kv-v2 engine for each user (we do not have a lot of users, now less than 10). Do you know any pitfalls of this approach?

[2022-10-05 11:33] 76creates opened #17425 "Highlight important fact about KV secrets doc"
I have spent some time debugging my issue and while googling noticed folks are having same questions as I do, its about KV engine documentation and the fact that very important fact:`This documentation assumes the kv secrets engine is enabled at the /secret path` is not highlighted at all. It's very plain value to the point that inexperienced user just wanting to do a quick fetch of API call URL c

[2022-10-05 16:08] xueshanf commented on #16928
Any updates? We are locked on 1.10 release because of this issue. I tried to look source code to see where to fix but it seem the build-in token helper does the right thing. I think the MFA  login changes somehow did not call the token helper.

[2022-10-05 19:59] mpalmi commented on #17402
Going to go ahead and close this issue out. The [PR](https://github.com/hashicorp/vault/pull/17220) has been [merged]( https://github.com/hashicorp/vault/commit/85edc2bcc24efc1c5c28561e040b7d328eee4c92). Thanks again!

[2022-10-05 19:59] #17402 closed

[2022-10-05 21:18] shuston commented on #1423
@jalonsoa sorry, I don't see that option in https://external-secrets.io/v0.6.0-rc1/spec/#external-secrets.io/v1beta1.ExternalSecretDataFromRemoteRef

Sorry if I'm missing something.

[2022-10-06 12:57] #7096 closed

[2022-10-06 13:04] cipherboy commented on #10281
Just to consolidate discussion, I'll close this one in favor of #12426. As documented there, `rdn=` seems to have the desired structure, it is just that validation becomes much harder. Previously we only needed validation attributes for the `cn=` component, as the others were specified by the operator on the role.

Now however, we need to be able to validate not only the contents of each type, but

[2022-10-06 13:04] #10281 closed

[2022-10-06 14:06] #16307 closed

[2022-10-06 17:06] nivedita-p opened #17441 "Impossible to onboard new users after enforcing MFA TOTP on LDAP logins"
**Describe the bug**
Once TOTP MFA is enforced on LDAP logins, it becomes almost impossible to onboard new users. When a new user tries to login, they are prompted to enter TOTP, for which they need a QR code scanned into any MFA authenticator app, which the user could have been able to generate only before TOTP was enforced. This leaves vault admin to generate QR code for the user using /identity

[2022-10-06 21:56] sycured opened #17451 "Login Enforcement: let choose between 2 MFA solution"
**Is your feature request related to a problem? Please describe.**
Actually, when activating MFA, the login enforcement applies a logical AND when selecting multiple MFA.

From the documentation:

**Describe the solution you'd like**
Permits to apply a logical OR

For example, when using username/password, I want to have the choice between Duo and TOTP because if I've no more battery on my smartph

[2022-10-07 12:46] etiennelandais commented on #15020
Hello !

Any news on this feature? It would be very useful

@lincolnmantracer did you find any kind of workarounds ? I have the exact same issue regarding headers

[2022-10-07 12:47] gnugnug commented on #16928
Still an issue with 1.11.4

[2022-10-07 18:59] hsimon-hashicorp commented on #17425
Hi there! Thanks for this - I'll tag it for our docs team, however, please do feel free to create a PR that closes this issue in the meantime. It seems like a pretty easy change, but with the team just coming back from HashiConf, I don't want to make you wait unnecessarily. :)

[2022-10-07 21:07] trodemaster commented on #16308
After opening a support case with OKTA they confirmed that the permission "Reset users' authenticators" is required if you create a custom role and don't use read-only admin. I have only successfully had the MFA api call work when "Reset users' authenticators" is enabled. I suggest that the required permissions be added to the LoginMFA docs to save others from repeating this effort to find the lea

[2022-10-07 21:07] #16308 closed

[2022-10-09 01:22] player1-fleetsmithsupport commented on #1856
Let's close this, I don't have environment where this was an issue and I don't really use Vault anymore.

[2022-10-09 01:22] #1856 closed

[2022-10-09 20:33] shoootyou commented on #16257
Hello @KosShutenko @densnoigaskogen @rohitranjan1991 increase VAULT_CLIENT_TIMEOUT to 300s using the environment variables

My environment (GKE) works with that. Here the documentation: [Hashicorp Support](https://support.hashicorp.com/hc/en-us/articles/8552873602451-Vault-on-Kubernetes-and-context-deadline-exceeded-errors)

[2022-10-10 09:45] lahiruperamune commented on #16385
When I attempt to configure MFA for OIDC logins using terraform, I keep getting the same message.
Any solution?

[2022-10-10 10:02] macmiranda commented on #9934
Why can't you use the IAM OIDC [provider](https://docs.gitlab.com/ee/ci/cloud_services/aws/)?

[2022-10-10 10:05] macmiranda commented on #17022
We face a similar issue but instead the browser closes the pop-up ahead of time and the authentication fails as well... some sort of race condition.
It normally works on the second or third try.

[2022-10-10 10:24] norpol commented on #9934
@macmiranda I haven't tried it out yet, I'll check out how it compares. Back when I've opened the ticket there was no `CI_JOB_JWT_V2` [link to the MR description](https://gitlab.com/gitlab-org/gitlab/-/merge_requests/72555) which now allows the IAM OIDC provider to work I believe.

[2022-10-10 10:26] adrien-f commented on #9934
@macmiranda the issue is that IAM doesn't resurface all claims Gitlab exposes, the only one you could work with is the `sub` but not everything is part of it such as the `environment` and so far, it's not configurable in Gitlab.

You might be able to do some basic claim matching: https://docs.gitlab.com/ee/ci/cloud_services/#configure-a-conditional-role-with-oidc-claims but might not be enough for

[2022-10-10 14:03] justSem opened #17470 "Vault on Kubernetes - node going down breaks HA?"
**Describe the bug**
After one of our kubernetes nodes went down today so did one of our vault instances.
We only noticed this because it completely broke the vault HA (and therefor all of our secrets-communications suddenly stopped working).

We have a pool of 3 nodes which we run some of our services on, including vault. Due to some changes one of those nodes in the pool, one node had to be recy

[2022-10-10 14:09] mpalmi commented on #17470
Greetings @justSem! It seems like this might be related to the `retry_join` [Known Issue](https://developer.hashicorp.com/vault/docs/upgrading/upgrade-to-1.11.x#known-issues), which affects raft backends on version 1.11.1 and 1.11.2. Would it be possible to upgrade to a more recent version of 1.11? I will go ahead and update that known issue to correctly indicate that this affects 1.11.2 as well.

[2022-10-10 14:34] #16587 closed

[2022-10-10 15:41] ajpauwels opened #17475 "Support passthrough authentication in the vault UI"
**Is your feature request related to a problem? Please describe.**
As an infrastructure operator, I want to provide a smooth login/SSO experience to the developers I maintain infrastructure for. To that end, I have a common identity provider (keycloak), and a common identity broker (oauth2-proxy), which communicate using OIDC and provide a common login interface/way to acquire an id_token and an a

[2022-10-10 17:04] eliottcassidy2000 commented on #16928
Also asking for updates on this issue. We have some duo MFA vault clusters running 1.10.2 as well as some duo MFA clusters running 1.11.3 and have been seeing the bug with both versions. Not sure if this bug has to do with the version of vault running on the cluster or version of vault that the user runs (ie the version of the binary that runs `vault login`), but with any of the combinations of ve

[2022-10-10 20:08] cipherboy commented on #7115
Hi sorry all -- I didn't get permissions to tag this in time for 1.11.4, so I'll have to revisit for 1.11.5. In the mean time, 1.12.0-RC1 is out with this fix _definitely_ in that release, and the GA should be around the corner. Thanks again @skatsaounis for the PR and sorry for dropping the ball on the 1.11.x backport.

Pinging @sgmiller to get a new tag of go-kms-wrapping for 1.11.5...

[2022-10-10 20:16] mpalmi commented on #17470
Sorry that didn't help @justSem. I'm raising this internally to see if anyone knows what the cause might be. I appreciate your patience. I'll get back to you once I have a better understanding of potential root causes.

[2022-10-11 09:56] dngray opened #17489 "Please enable Fedora 37 builds"
**Describe the bug**
Please enable Fedora 37 builds for Vault, seems to be [nothing](https://rpm.releases.hashicorp.com/fedora/37/x86_64/stable/repodata/repomd.xml) in the repository right now.

[2022-10-11 10:14] EvertonSA commented on #7115
@cipherboy Failed to pull image "hashicorp/vault:1.12.0-RC1": rpc error: code = NotFound desc = failed to pull and unpack image "docker.io/hashicorp/vault:1.12.0-RC1": failed to resolve reference "docker.io/hashicorp/vault:1.12.0-RC1": docker.io/hashicorp/vault:1.12.0-RC1: not found

[2022-10-11 10:15] EvertonSA commented on #7115
never mind, image is actualy 1.12.0-rc1

[2022-10-11 13:06] justSem commented on #17470
@mpalmi Here's some more context about our testing environment:

**Traefik config:**
[code]

**Services in vault's namespace**
[code]

From my experience it doesn't matter which vault pod I take down (I used `vault-1` since it's one of the slaves).

[2022-10-11 13:30] cipherboy commented on #17489
Per https://communityblog.fedoraproject.org/fedora-linux-37-schedule/, Fedora 37 isn't yet out and isn't slated until later this month. I don't know that we typically enable pre-release distros, but we can check with Rel Eng and make sure it is enabled around that time.

[2022-10-11 13:32] ccapurso commented on #16217
Hi @rhysxevans, thank you for your submission. An exciting update: namespace custom metadata will be available with the 1.12 release of Vault. The [API docs](https://developer.hashicorp.com/vault/api-docs/system/namespaces) and [CLI docs](https://developer.hashicorp.com/vault/docs/commands/namespace) will be updated to account for the changes.

[2022-10-11 13:37] EvertonSA commented on #7115
I confirm that 1.12.0-rc1 is working when multiple MSI are available on the node. if we could please add that to 1.11.X it would be great. thanks

[2022-10-11 13:39] EvertonSA commented on #7115
@sgmiller can you help us to have this on 1.11.5?

[2022-10-11 14:24] dngray commented on #17489
Wouldn't it be good for a bit of pre-release testing?

Presently I rolled forward my ostree to 37 for a newer systemd, having to make do with static binary of vault for the moment.

[2022-10-11 14:55] hsimon-hashicorp commented on #17356
@skabashnyuk Was there a process you followed, or did it just work? I ask for anyone else who may come across this issue in the future. Thanks! :)

[2022-10-11 16:32] assiakhateeb opened #17495 "Error This is a standby Vault node but can't communicate with the active node via request forwarding. Sign in at the active node to use the Vault UI."
Got this error when trying to login to vault.
Anyone knows reason and how to solve the error?

![Screenshot from 2022-10-11 19-29-29](https://user-images.githubusercontent.com/39053503/195148491-dd9657bf-cac5-4938-a4a3-091f2d0120a9.png)

Thanks

[2022-10-11 16:37] hsimon-hashicorp commented on #17495
Hi there! This looks like a question, which you may have better luck with on our Discuss forum, located here: https://discuss.hashicorp.com/c/vault/30
We prefer to use GitHub for bug reports and feature requests. It looks like the server you connected to for your UI is not your primary node in your HA configuration. Try connecting to your primary node in the UI, and then you should be able to log

[2022-10-11 16:37] #17495 closed

[2022-10-11 16:47] cipherboy commented on #17356
@skabashnyuk Sure, feel free to close. We had some internal discussions that were interested in separating out `NewTestCluster` so it could be ran without having to import `github.com/hashicorp/vault` as an entity, or otherwise developing a better solution for out-of-repo plugin testing &c, but we've not yet gotten to that yet. I suspect we'll probably track it internally and communicate to partne

[2022-10-11 17:00] mpalmi commented on #17489
@dngray I've followed up internally and it looks like we'll be adding support for Fedora 37 as soon as the GA is released (either 10/18 or the fallback date of 10/25). I'm going to go ahead and close this issue out. If you have any problems after the official release, please let us know!

[2022-10-11 17:00] #17489 closed

[2022-10-11 18:23] mpalmi commented on #17470
Each pod should have its own [readiness probe](https://developer.hashicorp.com/vault/docs/platform/k8s/helm/run#probes) that determines if the pod is available. This field is [configurable](https://developer.hashicorp.com/vault/docs/platform/k8s/helm/configuration#readinessprobe) in the helm chart. It might be helpful to see any modifications to the helm chart, particularly relating to the readine

[2022-10-11 18:36] cipherboy commented on #17356
Yeah, the issue with that in particular is that it is really hard to do: `NewTestCluster` directly interacts with the rest of the `vault` core code, allows most publicly (read: hcl config) accessible hooks to be set, allows modification of some internal values as well (both `/sys` endpoint and other properties)... Plus you directly inject your plugin to the registry by type reference and run the l

[2022-10-11 20:21] UUIDNIE commented on #17014
We seem to be experiencing a similar issue.  We have dead-server-last-contact-threshold set to 3 minutes.  There have been a few times now when we restart a node and all the sudden we are unable to rejoin that node to the cluster until we clear the data dir.

This time, on further investigation we noticed vault operator raft autopilot state showed the failing node was still a part of the cluster a

[2022-10-11 21:15] justSem commented on #17470
We haven't made any major changes to that part of the Helm chart.
We've had some challenges getting TLS itself to work as the documentation on that part seems to be outdated - which is why we opted for vaults self-signed TLS and using Traefik for proper termination.

Here's the full chart

A note: A few settings I came across scrolling through the chart:

- `ui.activeVaultPodOnly` is set to `false

[2022-10-11 21:35] raskchanky commented on #17014
3m still seems a bit low to me for the dead server last contact threshold. I wouldn't set that lower than 5m.

You've likely found a bug, at least insofar as the term "read-replica" is concerned - that's an autopilot term but not a term that Vault uses. For Vault, read replicas are simply permanent non-voters. When you join a Vault node to a raft cluster, there's an option to specify that indicate

[2022-10-11 21:45] UUIDNIE commented on #17014
Sorry, by dead vault nodes, I was meaning, a node that should have been reaped automatically by the autopilot service.  I should have probably said, nodes that I expected to be reaped, that were not able to join the cluster.  The vault process was not running when I checked ps output, but it's possible that systemd was trying to restart it.

Ultimately, the vault service stopped and could not star

[2022-10-11 22:01] raskchanky commented on #17014
The dead server last contact threshold can not be reset, which is why we recommend setting it to a high value. After that amount of time has elapsed, that node is considered dead and gone forever to Vault, never to return. As you've found, the only way of getting past that is by clearing the data directory and re-joining. The reason why that works is because by clearing the data directory, you've

[2022-10-11 22:29] UUIDNIE commented on #17014
That was helpful, thank you for the response!

Since the node that was unable to join the cluster was still showing up in list-peers and autopilot state hours after we would have expected it to be reaped, I'm thinking this is probably a bug.  I'm assuming a vault node that gets reaped by autopilot would not show up in vault operator raft list-peers or vault operator raft autopilot state.

Is that

[2022-10-11 22:32] Gabrielopesantos commented on #7256
Hello,

I started doing some exploring on this issue/enchantment and I would like to implement it. Here’s an initial design proposal:
From what I have gathered from the issue creator’s message, they are asking for the possibility to import public-keys (and update) and use them to encrypt data. Endpoints for each of these operations already exist:
`/transit/keys/:name/import` - Import key
`/transit

[2022-10-11 22:47] raskchanky commented on #17014
I'm confused. The node was unable to join the cluster, but it shows up in list-peers and autopilot state? I would assume if it was showing up in those 2 places, it was part of the cluster. Can you post the output of running `vault operator raft list-peers` and/or the output of running `vault operator raft autopilot state`? I think I'm missing something about how these nodes are still part of the c

[2022-10-12 00:16] xueshanf commented on #16928
@eliottcassidy2000 looks like the fix is coming :)

Our vault server version is 1.10.3.  My client version is v1.11.2 but I am sure I had problem with 1.10.x too when upgrading vault server to 1.11. I first thought my client was not updated accordingly, and update my vault client. Same issue.

[2022-10-12 13:08] kristianLundkvist opened #17502 "TestCluster fails to build"
**Describe the bug**
While testing using the TestCluster, the build fails due to mismatched types and missing arguments.

**To Reproduce**
Running `go test` on the following code results:
[code]
Results in the following output:
[code]

**Expected behavior**
The tests should build and run.

**Environment:**
* Vault 1.11.4
* Go 1.19
* Linux/amd64

[2022-10-12 13:18] mpalmi commented on #17502
Greetings @kristianLundkvist. Thank you for reaching out. Unfortunately, the `vault` package is not a supported import. Please refer to our documentation on [Importing Vault](https://github.com/hashicorp/vault#importing-vault) for more information.

There are unofficial plans to allow external use of `TestCluster`, as it is quite useful; however, these plans are not on any roadmap as yet.

I'm goi

[2022-10-12 13:18] #17502 closed

[2022-10-12 13:31] cipherboy commented on #16529
https://github.com/hashicorp/vault/issues/3845 is very similar conceptually and likely how we'll implement this: Vault's PKI engine is a X509 CA PKI engine, not a X509 Leaf PKI engine, and will likely never support the latter types of operations.

This data signature is something we'd like to support eventually, but its more likely to appear in Transit.

[2022-10-12 14:14] tledkov opened #17507 "Permission denied on /sys/wrapping/rewrap endpoint"
Hi, Vault team.

I've forked [vault-java-driver](https://github.com/jopenlibs/vault-java-driver) to fix `unwrap` and add `wrap/rewrap` functions.
The wrap/unwrap work perfectly, but [`/sys/wrapping/rewrap`](https://github.com/jopenlibs/vault-java-driver/blob/7c29e68bc049b02c714b74aefaa18fbd78477721/src/main/java/io/github/jopenlibs/vault/api/Auth.java#L1733) always response:
Code: 403
Body: `{"err

[2022-10-12 14:31] mpalmi commented on #17470
It appears the default value for `publishNotReadyAddresses` in the chart is  `true` for `vault` and `vault-ui` services, which means the pods will show up in the service whether they’re ready or not.

Since you're using `vault-ui`, perhaps setting [ui.publishNotReadyAddresses: false](https://developer.hashicorp.com/vault/docs/platform/k8s/helm/configuration#publishnotreadyaddresses-1) or [ui.activ

[2022-10-12 15:05] UUIDNIE commented on #17014
![image](https://user-images.githubusercontent.com/6767498/195378306-54061461-aa74-4916-9c70-c607a33d475c.png)

![image](https://user-images.githubusercontent.com/6767498/195378443-657507c2-4f84-43c7-a21c-c9b3fdf13c88.png)

I took these screen shots while we were experiencing the issue.  I had to censor out a few things ( full node ID and hostname / port ).  I was also confused when I saw this bec

[2022-10-12 15:51] anxstj commented on #12228
@aphorise  the issue was left open for two problems:
1) There's no error message that mentions that the deletion was canceled due to a timeout.
2) The half-disabled store is still visible, but empty. And there's no error message that indicates that a deletion process was aborted.

From my point of view, both issues are still not solved.

I retested with Vault 1.11.4, but with filesystem as storage

[2022-10-12 19:08] raskchanky commented on #17014
I can tell from the screenshots that node 02 is having trouble - autopilot says it's not healthy, the last term and index don't match what the other nodes are showing, etc. But, that node is still participating in the raft cluster somehow. The node status is alive, the last contact shows a heartbeat within the past 200ms. Autopilot considers this node alive and unhealthy. It won't be reaped by the

[2022-10-12 20:58] mpalmi commented on #16928
For a bit of clarity on the matter, there is a [fix](https://github.com/hashicorp/vault/commit/6a98e9955765249b16d4a433036787aabe9c433f) discussed in the [PR above](https://github.com/hashicorp/vault/pull/17494) that we are highly motivated to merge. I just need to wrap up the integration testing on this to make sure it solves the problem without breaking other functionality.

Thank you for your p

[2022-10-12 21:14] blake-adobe commented on #16928
Glad to hear this issue is being actively worked! We (Adobe) are in the process of rolling out LoginMFA and upgrading to 1.10.x. If this gets back-ported to 1.10.x soon, we could still roll out LoginMFA this year. Otherwise, we have to wait for another quarter or two.

We found that versions 1.10.5 through 1.10.7 are affected in our testing.

[2022-10-13 04:20] sycured opened #17527 "seal OCI KMS don't find key_id"
**Describe the bug**
After updating to 1.12.0 (actual latest in RPM repository), vault can't start

**To Reproduce**
Steps to reproduce the behavior:
1. Having a working Vault 1.11.4 with seal OCI KMS
2. Upgrading to 1.12.0
3. See error when restarting the service
[code]

**Expected behavior**
Everything working like before

**Environment:**
* Vault v1.12.0 (558abfa75702b5dab4c98e86b802fb9aef43b0e

[2022-10-13 06:53] gildor478 commented on #17527
I have the same type of problem, but for GCP:

[code]

The file `/etc/vault-server/gcpkms-credentials.json` exists and was working correctly 2 days ago. The error message is:

[code]

I have downgraded from version 1.12.0-1 to 1.11.4-1 and with this older version it works perfectly:
[code]

[2022-10-13 08:07] xoxys commented on #14671
Is 1.12.0 still affected?

[2022-10-13 14:19] UUIDNIE commented on #17014
Systemd was restarting the vault process on node 02 in a loop.  Although the vault process was not able to unseal, I'm thinking it might have reached a state that reset the heartbeat counter during the restart loop.  Could that explain this behavior you think?

[2022-10-13 16:53] raskchanky commented on #17014
Hmmm. If Vault was unable to unseal, then I doubt it. Vault can't really do anything in a sealed state (by design) other than report on its status and unseal.

[2022-10-13 18:21] Letfdsada opened #17541 "Cache breaks dynamic secrets"
**Describe the bug**
When using vault-agent with database (mssql plugin) dynamic secrets, behavior with cache enabled is different from normal.
Without a cache enabled, a new secret is generated before the old secret expires.
With a cache enabled, the old secret is almost guaranteed to be revoked first. But a new secret is not generated immediately, but only after some time (it looks like it depen

[2022-10-13 19:58] g-psantos commented on #15490
This is unfortunately a long-standing problem with Vault:

- #11244 from 2021 asked about unsealing Vault with the Recovery Key
- #9421 from 2020 asks about disaster recovery if the KMS auto-unseal service fails

#6046 from 2019 is loosely related and asks about supporting multiple AWS KMS keys in the auto-unseal feature, which would at least give operators the ability to migrate vault to a differ

[2022-10-13 20:21] VioletHynes commented on #17012
Hi folks! Just wanted to leave a little update here. I believe I've found the source of the problem. I can confirm that the warnings are spurious and that a fix will be coming soon.

In particular, this affects json configuration like this:
[code]
and it will in some cases produce a spurious warning about `bar`.

[2022-10-13 22:34] #11038 closed

[2022-10-14 00:03] HenriBlacksmith opened #17550 "Vault audit logs do not report HTTP response code"
**Is your feature request related to a problem? Please describe.**

Vault Audit log does not report the HTTP response code in the log entries

**Describe the solution you'd like**

When `type` is `response`, I expect the Audit log entry to contain a `response.code` or `response.http_code` field indicating the HTTP response code sent by Vault.

**Describe alternatives you've considered**
This could

[2022-10-14 02:56] davidcorrigan714 opened #17551 "Can't init 1.12.0 with awskms"
**Describe the bug**
When running vault operator init on a new install of 1.12.0 errors with "* parameters secret_shares,secret_threshold not applicable to seal type awskms". I tried with the web UI too and got something similar.

**Environment:**
* Vault Server Version (retrieve with `vault status`): 1.12.0
* Vault CLI Version (retrieve with `vault version`): Vault v1.5.9 (cgo)
* Server Operating

[2022-10-14 04:39] tayyabjamadar commented on #2274
+1

[2022-10-14 09:09] tledkov commented on #17507
Hi Vault team.
My apologize for the incomplete / wrong description of the issue.
Adding permissions (create new role and assign one to user) for `/sys/wrapping/rewrap` endpoint solved the problem.

I was wrong when i wrote about modify policy.  The policy setting was not correct.

**BUT**. It is not clear for me why all `/sys/wrapping/*` endpoints are allowed by the `default` policy, except for th

[2022-10-14 14:13] UUIDNIE commented on #17014
Looking at the definition of last-contact-threshold according to the docs:

Limit on the amount of time a server can go without leader contact before being considered unhealthy.

Node 02 was hitting the leader trying to unseal each time systemd was restarting the service.  Should that reset last-contact-threshold?  Looking at your previous message I think this is not expected behavior ( if that en

[2022-10-14 14:46] fancybear-dev commented on #4982
Looking into this right now, am surprised how little people I've found that managed to get IAP working with Vault UI publicly (none). I do think it's possible, currently looking to using this; https://cloud.google.com/iap/docs/signed-headers-howto with the Vault JWT authentication method https://www.vaultproject.io/docs/auth/jwt.

This might be interesting too; https://stackoverflow.com/questions/

[2022-10-14 16:35] davidcorrigan714 commented on #17551
Went to debug this some more and now it's working. Been doing a bunch of work on my bootstrap script for deploying it all to AWS, unfortunately nothing comes to mind that may have affected this.

[2022-10-14 18:26] raskchanky commented on #17014
The last contact time can only be tracked if Vault is unsealed and heartbeating to the other nodes in the cluster. If Vault is sealed, then it can't heartbeat, and so the last contact time can't be tracked. I'm not sure why node 02 would contact the leader when trying to unseal. Unsealing is a process local to each Vault node, unless Vault has been configured to auto-unseal via transit. Is that th

[2022-10-14 18:54] UUIDNIE commented on #17014
During the time node 02 was experiencing issues it was never unsealed to my knowledge.  We have thousands of messages in our central logging system that should confirm that unless I'm missing something.  Is there a log message that may not contain the word seal or unseal that might help us understand if the node was able to unseal itself during that time ( I think we only had up to INFO log level

[2022-10-14 19:10] UUIDNIE commented on #17014
Looking at init.go, if we unsealed, should have logged "unsealed with stored key" at info log level?  Tyvm.

* c.Logger().Info("unsealed with stored key")

https://github.com/hashicorp/vault/blob/main/vault/init.go#L487

[2022-10-15 00:42] bstraehle opened #17560 "[Plugin Portal] Plugin Submission - vault-plugin-secrets-apigee"
**Plugin Information**
Name as it would appear listed: Apigee
Plugin type (secrets/auth/database): secrets
Repository link: https://github.com/bstraehle/vault-plugin-secrets-apigee

[2022-10-16 05:09] #17541 closed

[2022-10-16 19:03] wvh commented on #16300
We also use Github for login in several services, for instance Rancher. It's convenient especially for external people because most already have a Github account so it's just a matter of getting their handle. We would really like to use Github as an OIDC flow so we can use Vault as an IdP for all services directly, allowing people to log in using Github if they have an account already.

I think I

[2022-10-17 05:36] vaygr commented on #1115
I guess it will be very hard without iterating over them, in which case this might work:

[code]

[2022-10-17 16:25] #9866 closed

[2022-10-17 16:25] #9864 closed

[2022-10-18 06:23] wxdao opened #17576 "Unable to get a kv secret the same name as the secret engine using vault kv cli command"
**Describe the bug**
Unable to get a kv secret the same name as the secret engine using `vault kv` cli.

**To Reproduce**
Steps to reproduce the behavior:
1. Create a v2 kv secret engine and add a secret with a name same as the secret engine, e.g. `foo/data/foo`.
3. Run `vault kv get --mount=foo foo`.
4. See something like this instead of the value of the secret:
[code]

**Expected behavior**
This

[2022-10-18 14:08] #17560 closed

[2022-10-18 16:00] hawleyOSU opened #17583 "Duo MFA fails when push_info contains a value"
**Describe the bug**
The Duo MFA Method fails when the push_info field contains a value. The following error is returned.
`failed to satisfy enforcement Duo_MFA. error: 2 errors occurred: *
failed to authenticate with Duo: "Invalid request parameters" - "pushinfo" *
login MFA validation failed for methodID: [0fa6fed5-3047-a6a6-d1c1-b7b932cc5931]
Multi-factor authentication is required, but failed.

[2022-10-18 16:26] hawleyOSU commented on #6833
This is important for Duo users, to maintain the login-flows they are accustomed to. Especially for users who use YubikeyOTP. The typical login flow Duo users expect is to be able to select between multiple MFA authentication at login. The expected behavior is different for text based CLI/API a web based (UI) authentications.

For CLI/API Authentications a common method is to prompt the user for i

[2022-10-18 16:50] MattIPv4 opened #17584 "OIDC login fails when using Firefox in fullscreen on macOS"
**Describe the bug**

When using OIDC to sign in while accessing Vault through Firefox on macOS with the app running in fullscreen, OIDC fails to complete on the original tab.

The login screen for the OIDC provider opens in a new tab and completes, returning back to Vault with the success message. The tab then closes shortly after, taking you back to the original tab where an error message shows

[2022-10-18 17:12] schultz-is commented on #7256
Howdy, @Gabrielopesantos! That'd be a welcome contribution for sure. It sounds like you've put some good thought into the functionality. Here are a few things to consider when implementing:

- Transit currently doesn't support public-only keys, so support of public key import will also entail support for keys without a private component. Shouldn't be too difficult, but it's worth calling out.
- It

[2022-10-19 13:54] ArchiFleKs commented on #16266
Same issue [here](https://github.com/hashicorp/vault-k8s/issues/394). I would expect Vault agent to be able to reload in case files change

[2022-10-19 17:18] denmaddog commented on #16512
Issue resolved in v1.12.0 for me.

[2022-10-19 17:18] #16512 closed

[2022-10-19 17:33] denmaddog opened #17608 "Cannot download raft storage snapshot from UI"
**Describe the bug**
When I login to Vault UI and go to Status/Raft storage --> Snapshots --> Download It hangs for some time and then it shows message in browser:
{"errors":["permission denied"]}

URL is:
https://vault-cluster.example.com:8200/ui/vault/storage/raft

**To Reproduce**
Steps to reproduce the behavior:
1. Login to Vaults UI and go to Status/Raft storage --> Snapshots --> Download

**

[2022-10-19 19:47] hsimon-hashicorp opened #17614 "test"
Testing in this repo

[2022-10-19 19:47] #17614 closed

[2022-10-19 23:03] chris-burn-phocas commented on #17389
I'm also running into this using the OIDC auth method.
(Vault server versions 1.11.3 and 1.12.0, client 1.12.0)

[2022-10-19 23:27] chris-burn-phocas commented on #16385
I'm getting this problem too with Vault server version 1.12.0.

[2022-10-20 00:47] KAllan357 opened #17616 "Vault Agent should allow for configurable HTTP headers"
**Is your feature request related to a problem? Please describe.**
We run an instance of Vault that we protect via our zero-trust provider, Cloudflare (CF). As a human, you access Vault's web UI through the tunnel by first authenticating to CF using SAML. As a computer, there are number of ways - one of which is by using http headers.

The vault CLI has a `-header=<key=value>` feature that has bee

[2022-10-20 02:27] jeffmccune commented on #14671
@xoxys Yes, 1.12.0 is unfortunately still affected.

[code]

[2022-10-20 12:51] McLan commented on #5893
I developped a node js web app to communicate with vault unwrapping API endpoint.
Here is the github link : https://github.com/McLan/secrets-unwrapping-webapp.
Can be dockerised too.
Hope it will help some of you.

[2022-10-20 13:38] petrasl1976 commented on #17389
Me too facing the same issue. Would be good to get it fixed.

[2022-10-21 09:03] Techno-wizard commented on #17527
having the same issue on moving from 1.11.4 to 1.12.0

[code]

[2022-10-21 09:31] liliancahuzac commented on #3892
Is there any update on this? We have also hit a wall where when a user has multiple groups with one of those having full permissions(ie: hcp-root policy), the merge with the other groups which have only read access on resources ends up taking precedence and preventing the creation/update/deletion of any resources.

Is there any workaround?

[2022-10-21 14:55] siepkes commented on #16778
I thought to debug this a bit further so I hooked up Android Chrome to my desktop Chrome and the following exceptions is thrown (multiple times):

[code]

Oddly enough, sometimes the redirect back to the app works. But most of the time it doesn't.

I managed to capture a HAR one time when the redirect back to the app actually succeeded:

[success-vault-1_12_0.zip](https://github.com/hashicorp/vaul

[2022-10-21 15:08] austingebauer commented on #16778
Thanks for this additional information, @siepkes! It looks like an issue in how our UI code handles the redirect. I've added the ui label and will let the team know.

[2022-10-21 17:16] driskell commented on #14671
This has completedly blocked for me as I am unable to login. It looks like the workaround only works if you are using the default `oidc/` path. If you're using multiple oidc configurations with different paths, it is no longer usable in the UI.

[2022-10-21 17:20] driskell commented on #14671
Seems to successfully process the `callback` but then proceeds to call the OIDC path `/login` with empty parameters in request body, which returns this error.

If I inspect and grab the client token from the `callback` response I can login using `Token` method but that's a bit long winded. 😬

[2022-10-21 19:08] kashak88 commented on #17044
Looks like this has been fixed with 1.12.0...closing

[2022-10-21 19:08] #17044 closed

[2022-10-21 19:21] jeffmccune commented on #14671
I have an admin login on an alternate path and it also doesn’t work from the GUI. I agree this is a serious issue because we can’t upgrade everywhere for security patches due to not being able to log into our admin accounts.

As a work around, which isn’t great because it requires a CLI, I’ve been getting a token from the CLI oidc method and admin path then pasting it into the token method in the

[2022-10-21 19:34] hsimon-hashicorp commented on #14671
Hi folks! Thanks again for these reports. Our engineering team has assigned this to be investigated soon - ideally next week. Thank you all for your patience, as I know this is frustrating to deal with.

[2022-10-23 16:25] dovys opened #17637 "Cannot add hashicorp/vault as a dependency due to tencentcloud ambiguous import"
**Describe the bug**
In a completely empty folder, new project
[code]

**To Reproduce**
Steps to reproduce the behavior:
1. mkdir -p $GOPATH/src/github.com/foo/bar
2. cd $GOPATH/src/github.com/foo/bar
3. go mod init
4. go get -u github.com/hashicorp/vault@main

**Expected behavior**
Go able to install Vault as a module

**Environment:**
* Vault Server Version (retrieve with `vault status`): main
*

[2022-10-23 18:47] omarelsheekh commented on #17551
@davidcorrigan714 Hi David, Can you please mention how could you fix it?
I got this same error, but I Couldn't solve it

[2022-10-23 18:53] davidcorrigan714 commented on #17551
@omarelsheekh I've been deploying it all from Terraform from nothing and haven't hit it since that first time. Around the same time I first hit that I switched from doing it in the UI manually to doing it at the end of the deployment through the CLI so I'm wondering if it only happens if you try it through the UI first. I can try again tomorrow through the UI and see if it hits it again.

[2022-10-24 15:48] ccapurso commented on #17637
Hi, @dovys. It is generally not recommended to depend on Vault directly. Instead, it is recommended to use the SDK (`github.com/hashicorp/vault/sdk`) or API client (`github.com/hashicorp/vault/api`) modules.

With regard to the Tencent Cloud import, it appears that is coming from HashiCorp's [go-discover](https://github.com/hashicorp/go-discover/blob/1c234a67149a441091277280f71981d48efd44c5/README

[2022-10-24 15:48] #17637 closed

[2022-10-24 19:59] JNProtzman opened #17642 "PKI: Error parsing CRL duration of '' when CRL is disabled"
**Describe the bug**
We've recently upgraded Vault from 1.10.3 -> 1.12.

When we went to create a new CA, we received a 500 error.
[code]

Our CRL is configured as follows:
[code]

Since the CRL is disabled, should it not be checking the expiry time? I believe that the expiry time should be be parsed below the disable check [here](https://cs.github.com/hashicorp/vault/blob/fc2bdc37bf76431c29cf4f2c

[2022-10-24 20:07] JNProtzman commented on #17642
This is a pretty simple bug, I'd be happy to open a PR to move the logic around if that's deemed appropriate.
With that being said, it is not blocking. I have updated the crl expiry, which has resolved the 500 error we received.
[code]

[2022-10-24 20:53] johanneswuerbach opened #17643 "Vault cluster with PostgreSQL storage backend fails on database reboot"
**Describe the bug**

A vault cluster using the [PostgreSQL storage backend](https://developer.hashicorp.com/vault/docs/configuration/storage/postgresql) becomes unhealthy when the backing postgres instead is restarted and requires to manually restart a pod.

**To Reproduce**
Steps to reproduce the behavior:
1. Create a 3-node vault cluster using https://github.com/hashicorp/vault-helm with a Post

[2022-10-24 21:41] mpalmi commented on #17389
After investigating, we were only able to reproduce by allowing the TOTP passcode to expire. Is it possible that your TOTP passcode has expired in the scenarios you're testing?

I would recommend using the passcode within the configured 30s to eliminate that source of error. If everything works as expected, great! If not, we may need to dig a bit deeper.

You can follow the [docs](https://develope

[2022-10-25 06:42] refaelb commented on #17246
Hi still having this problem surprisingly the token is new and still not working T just pointing out I'm on k8s 1.18

[2022-10-25 12:43] TheMisterEletric opened #17648 "Fail to get groups from google if provider have more that 1 domain setup"
**Describe the bug**
If i have more that 1 domain configure in my google workplace, i got a erro trying to get the groups:
{
    "error": {
        "code": 404,
        "errors": [
            {
                "domain": "global",
                "message": "Domain not found.",
                "reason": "notFound"
            }
        ],
        "message": "Domain not found."
    }
}

**To Reprod

[2022-10-25 17:53] hsimon-hashicorp commented on #17648
Hello! Can you provide a little more context around this? Is Vault being hosted on one of these domains? How are you calling it? More information will help us reproduce this issue. Thanks! :)

[2022-10-25 17:55] hsimon-hashicorp commented on #17608
Just to clarify, the manual creation of the snapshot with the vault operator command is with the same credentials, correct?

[2022-10-25 17:56] denmaddog commented on #17608
Yes,
using root token for authentication with both vault cli and UI.

[2022-10-25 17:56] zofskeez commented on #14671
@jeffmccune I'm seeing some issues with alternate mount paths as well but I'm not seeing the original issue on 1.11.3 or 1.12.0. Are you able to provide more information on how you arrive at `Error Authentication failed: role with oidc role_type is not allowed`? It works for me with the default `oidc` mount path.
![oidc-bug](https://user-images.githubusercontent.com/24611656/197846062-9ccab71a-153

[2022-10-25 17:57] hsimon-hashicorp commented on #17608
Thank you! I'll have our engineering teams take a look. :)

[2022-10-26 07:36] Shaeli opened #17655 "PKI not getting a default issuer and failing after vault upgrade (1.9.1 -> 1.11.4)"
**Describe the bug**

Vault upgrade from 1.9.1 to 1.11.4 didn't selected a default issuer for all PKIs in vault.

The affected PKI had no issuer & no default issuer after the upgrade, It was not possible to do any action with this PKI. Even getting the certificate with a request to the `pki/cert/ca` was failing with:
[code]

Only one out of many PKIs configured in the vault was affected

**To Repr

[2022-10-26 09:17] TheMisterEletric commented on #17648
Hello @hsimon-hashicorp, we are using OIDC(we follow this doc https://developer.hashicorp.com/vault/docs/auth/jwt/oidc-providers/google), we fail to sign in in to vault using oidc.
The erro is that i posted above, after i did a man-in-the-middle to see the https traffic a can see that api call that is made to Google is something like this "https://admin.googleapis.com/admin/directory/v1/groups?".

[2022-10-26 11:49] driskell commented on #14671
@zofskeez The original issue was fixed as it relates to default mount path, but got reopened. I am unsure if the reopening was due to the default mount path again, or the issue with alternative paths. Either way there is definitely an issue with alternative mount paths.

[2022-10-26 13:41] cipherboy commented on #17642
@JNProtzman Sure, happy to take a PR for this one. I think perhaps we should modify `getRevocationConfig` to handle the differences for us on fetch. We'll have to do this outside of the version block as some clients (like yourself) have already upgraded. I'd set it to the default value.

[2022-10-26 13:51] cipherboy commented on #17655
@Shaeli Oh no!

Can you get us the debug log either here or ? You should likely see an error in the existing cluster's log:

https://github.com/hashicorp/vault/blob/bfde310ec04ca3b64c12cb4e0fec75ba5285a65a/builtin/logical/pki/backend.go#L379-L382

But I'm hoping that the other output might do something interesting:

https://github.com/hashicorp/vault/blob/bfde310ec04ca3b64c12cb4e0fec75ba5285a65a/b

[2022-10-26 13:57] cipherboy commented on #17655
The other interesting thing that @stevendpclark points out is that this shouldn't really happen -- everywhere that doesn't strictly require the new storage layout (such as `READ /pki/cert/ca`), _should_ gracefully handle the older/legacy storage bundle format. His thought were that perhaps this mount is empty...? Was there ever a CA generated in this mount? Our first instinct is "no" based on the

[2022-10-26 14:07] KarlKatz commented on #17389
I was using 2 different TOTP providers: Google Authenticator and https://authenticator.cc/ extension for google chrome browser. Both were generating correct codes but codes were not accepted by vault login if SHA256/512 was used.

After more digging I found that Google Authenticator _most probably_ supports SHA1 only. So looks like its more like Google Authenticators issue than vault. I was able t

[2022-10-26 15:02] zofskeez commented on #14671
Thanks @driskell. That supports what I am finding. Just want to make sure there wasn't a regression with the original fix.

[2022-10-26 15:16] jeffmccune commented on #14671
@zofskeez I have some dev/test clusters which are accessible if you'd like to look at what might be different about my setup.  In the meantime, here's the config I'm using:

Dex is the oidc provider.  The   Here's the setup, please let me know if this isn't sufficient to reproduce the error and I'll try another approach.

Enable the jwt auth method:

[code]

<details><summary>vault read -format=js

[2022-10-26 15:25] jeffmccune commented on #14671
@zofskeez I get the error for the default role on the default path.  I'm also using a second path which does not work, but in a different way.

Default path / role:

![2022-10-26 07 53 13](https://user-images.githubusercontent.com/8972/198067117-f2f4a6aa-1b4a-4a66-91e7-bfa919e1d3dc.gif)

Alternate path: (Button does nothing)

![2022-10-26 08 23 32](https://user-images.githubusercontent.com/8972/19

[2022-10-26 15:47] jeffmccune commented on #14671
One last comment, I'm mounting the jwt method at the oidc default path because it's the only method I could find which supports role based groups claims.

If I replace `vault auth enable -path=oidc jwt` with `vault auth enable -path=oidc oidc` then external group identity policies stop working:

[code]

[code]

<details><summary>vault write auth/oidc/role/default</summary>
<p>

[code]

</p>
</deta

[2022-10-26 15:53] jeffmccune commented on #14671
TL;DR: Solved, problem was using `vault auth enable -path=oidc jwt`.  Fixed by using `vault auth enable -path=oidc oidc`

Yes, this is in fact the problem with my setup.  I realized the identity policies weren't working because I disabled the `jwt` method and enabled the `oidc` method, resulting in a new accessor.

Once I re-created all of my external groups with the correct accessor for the oidc

[2022-10-26 15:54] hghaf099 commented on #17451
@sycured Thanks for reporting this issue. The logical OR is still possible. If you define one login enforcement and include two MFA method IDs in the configuration, then, you can decide which one to use. However, logical AND is enforced if for each MFA method, you define a separate login enforcement. I am going to close this issue for now. Please feel free to reopen this one or open a new one with

[2022-10-26 15:54] #17451 closed

[2022-10-26 15:56] austingebauer commented on #17648
Hi @TheMisterEletric - Thanks for reporting this. I wasn't aware that additional query parameters were necessary when multiple domains are configured. Would you mind posting this issue over in https://github.com/hashicorp/vault-plugin-auth-jwt? That's a better place to track this issue. I'll close this one here once that's done. Thanks again!

[2022-10-26 15:58] jeffmccune commented on #14671
As a suggestion, I thought this should work because [JWT/OIDC Auth Method](https://developer.hashicorp.com/vault/docs/auth/jwt) mentions:

And:

[2022-10-26 16:53] zofskeez commented on #14671
Good to hear! You should have been able to log in with your original config though without seeing the `role_type` error.

I'm seeing the same thing as @driskell now when I use the `jwt` auth method rather than `oidc` which is still working from the original fix using the mount path tabs.

[2022-10-26 17:23] hsimon-hashicorp commented on #17648
I'm going to go ahead and transfer the issue, @austingebauer :)

[2022-10-26 17:24] froque commented on #17358
I had a similar problem. Check for end of line characters in the token.

[2022-10-26 17:28] hghaf099 commented on #17389
Thanks for the reporting on that! Going to close this ticket. Please feel free to open a new one in case any further issues are seen.

[2022-10-26 17:28] #17389 closed

[2022-10-26 18:00] jeffmccune commented on #14671
Summary of issues affecting 1.12.0:

 1. `jwt` auth method causes `role_type` error in the web ui when `listing_visibility` is `unauth`.  Work-arounds: use oidc method or use "Other" tab with jwt method.
 2. Cannot login to web ui using a non-default path with the jwt or oidc methods.

[2022-10-26 19:05] #7702 closed

[2022-10-26 21:04] mpalmi commented on #16928
This still needs to be backported to 1.11/1.12 and merged into ENT.

[2022-10-26 22:14] Gabrielopesantos commented on #7256
Hello @schultz-is @cipherboy,

I have started the implementation and ran into some things that I didn't consider before. I leave some thoughts here and, if possible, would like to hear with you think.

I started with the assumption that once we have a private key, its public counterpart isn't needed and will not be used anymore so no further actions related to it are allowed (insert it with an upd

[2022-10-26 22:31] cipherboy commented on #7256
Do we perhaps have to break these down by case? E.g. for:

if the public matches the existing private, then its a no-op and doesn't really matter.

But if its a new public key, I don't see why we can't roll to a new version and allow all operations on the old version?

The same I think holds for the other scenarios.

I'll defer to Matt/others on the parameters though. RSA keys can't be derivable,

[2022-10-27 09:57] dr4Ke commented on #17358
That's what I thought too. But the helper script is correctly **not** sending an end of line character, when I use it manually.

Also I'd expect the actual documentation example to be correct about that.

[2022-10-27 10:12] justSem commented on #17470
Apologies, it took me some time to get back on this due to other priorities.
I can confirm that changing the Helm values fixed our issue, so I want to thank you for your time in helping us figure this out @mpalmi :)

I'll close this as solved.
Kind Regards,
Sem

[2022-10-27 10:12] #17470 closed

[2022-10-27 13:25] Timost commented on #10180
Hi,
Another use case I would have is to be able to talk to a distant vault server during the init phase of VM boot to be able to fetch secrets needed later on.

I'm also currently resorting to shell scripts.

[2022-10-27 14:28] VioletHynes commented on #17012
Closing this issue, as this should be fixed by https://github.com/hashicorp/vault/pull/17660

Thanks for the report! I appreciated the detail.

[2022-10-27 14:28] #17012 closed

[2022-10-27 14:47] cipherboy commented on #17642
Thanks for the PR with the fix!

[2022-10-27 14:47] #17642 closed

[2022-10-27 15:08] Shaeli commented on #17655
@cipherboy 👋 Thanks for taking a look at that

I was able to reproduce the bug this morning with my backup. I upgraded it again from `1.9.1` to `1.11.1` and had the same issue.

I'm not exactly sure what you wanted to see from the `sys/raw` listing so what I did is I listed the mounts with `vault secrets list -detailed` and took the UUID of the `pki-root` (that's the name of the only PKI that is a

[2022-10-27 17:45] hsimon-hashicorp commented on #6792
As per the last comment, I'm going to go ahead and close this issue now. Please feel free to open a new one as needed. Thanks!

[2022-10-27 17:45] #6792 closed

[2022-10-27 17:46] hsimon-hashicorp commented on #10184
I'm going to go ahead and close this issue now, but please feel free to re-open if needed. Note, we accept bug reports for "n-2" versions of Vault, so 1.10+ as of this message. Thanks!

[2022-10-27 17:46] #10184 closed

[2022-10-27 17:48] hsimon-hashicorp commented on #5679
I'm going to go ahead and close this issue now. Please feel free to open a new one if needed - note, we accept bug reports and enhancement requests for "n-2" versions of Vault, which as of this writing would be 1.10+. Thanks!

[2022-10-27 17:48] #5679 closed

[2022-10-27 17:48] hsimon-hashicorp commented on #3592
I'm going to go ahead and close this issue now. Please feel free to open a new one if needed - note, we accept bug reports and enhancement requests for "n-2" versions of Vault, which as of this writing would be 1.10+. Thanks!

[2022-10-27 17:48] #3592 closed

[2022-10-27 17:49] hsimon-hashicorp commented on #4016
I'm going to go ahead and close this issue now. Please feel free to open a new one if needed - note, we accept bug reports and enhancement requests for "n-2" versions of Vault, which as of this writing would be 1.10+. Thanks!

[2022-10-27 17:49] #4016 closed

[2022-10-27 19:09] stevendpclark commented on #17655
Hi @Shaeli,

Thanks for the additional information. I *think* I’ve managed to reproduce the issue you are seeing, could it be that someone in the past ran a [delete /root api](https://developer.hashicorp.com/vault/api-docs/v1.9.x/secret/pki#delete-root) call on this mount and the backing keys are no longer available?

You could confirm this on the backup prior to the migration on 1.9 by either of

[2022-10-27 21:03] lethargosapatheia commented on #4884
I am also trying to get rid of the CA certificate, and because this big is (justifiably) fixed, I've no idea how I'm supposed to properly delete it.

[2022-10-27 22:08] allyunion opened #17716 "Can not update only the sts_endpoint without blanking out existing access_key and secret_key"
Is there a way to retain the existing access_key and secret_key credentials and still update the sts_endpoint?

https://github.com/hashicorp/vault/blob/2a1753a469e86434a2e89eec3e103674fc94a02f/builtin/logical/aws/path_config_root.go#L92-L128

Thanks!

[2022-10-28 00:23] #9888 closed

[2022-10-28 07:30] jorgemarey opened #17722 "plugin list fails when audit is enabled"
**Describe the bug**
When executing the command `vault plugin list` (or using the API) if audit is enabled vault will fail and report a error.

[code]

**To Reproduce**
1. enable audit
2. Run `vault plugin list`
3. See error

**Environment:**
vault v1.12.0

**Additional context**

I saw that there were some changes related to output version on plugins, so I guess it's related to that. I also found

[2022-10-28 09:25] fancybear-dev commented on #17551
I have the same problem with Vault 1.12.0. Our situation is a bit different though, we use GCPKMS. The error is the same. Via the UI you are unable to init Vault, also via the /sys/init endpoint - both same error as you have. Using the Vault CLI (remote, not required locally) with the same version (if not same version - it will also produce the same error), you can initialize Vault with the vault

[2022-10-28 10:29] enrico-e opened #17723 "Database plugin MongoDB: writeconcern set by user is not applied in user deletion"
**Description**
When Vault deletes a user on a MongoDB replica, it always uses WriteConcern = 'majority' despite the setting in the connection configuration.

This is proven by this function:

[code]
in `\plugins\database\mongodb\mongodb.go` line 213.

**To Reproduce**
Steps to reproduce the behavior:
1. Set up a replica set of MongoDB (also on Docker in a local instance)
2. Configire in Vault a M

[2022-10-28 12:37] aphorise commented on #16639
I believe this issue is likely linked to:
 - #17576
 - with a PR fix in progress on: #17679

[2022-10-28 18:09] Shaeli commented on #17655
Hello @stevendpclark

I restored my 1.9.1 backup again and explored with `sys/raw` API.

There is a private key in the config/ca_bundle file of the `root-pki`

[code]

However, I tried to issue a certificate with this PKI and it seems this PKI was already not able to issue certificates before the upgrade as it's giving me an error:

[code]

This is strange because `vault read /pki-root/cert/ca` wo

[2022-10-28 18:35] dpedu opened #17733 "Conflicting documentation around policy path prefixes"
**Describe the bug**
Conflicting documentation around policy path prefixes

**To Reproduce**

On https://developer.hashicorp.com/vault/docs/secrets/kv/kv-v2#acl-rules, the documentation mentions that policies need to be manually changed for kvv2. The example it gives is changing `secret/dev/team-1/*` to `secret/data/dev/team-1/*` and it mentions that `data/` needs to be insert somewhere in the str

[2022-10-28 19:21] ccapurso commented on #17733
Hi, @dpedu. There a few examples within the policies concepts documentation that mention that KVv1 is in use. KVv2 introduced secret versioning where metadata and data are stored separately. There are separate API endpoints (`<mount>/metadata/<key>` versus `<mount>/data/<key>`) and access can thus be provided separately within your policies. KVv1 data is obtained via paths like `<mount>/<key>`. Ar

[2022-10-28 20:16] cipherboy commented on #17655
\o Hi @Shaeli...

Sorry to break some bad news. We think we know what has happened now...

From what we can tell, the storage code has remained the same since early versions of Vault up until 1.11.x so that was not the problem.

In versions of Vault earlier than 1.11 (i.e., 1.10.x and below), the `/intermediate/generate/internal` API silently overwrote [the existing CA bundle](https://developer.ha

[2022-10-28 22:21] rzimmerman opened #17735 "Unit tests for Vault Agent Cache leak HTTP requests"
**Describe the bug**
Some tests in the Vault Agent cache inadvertently make HTTP requests for `auth/token/renew-self` and `sys/leases/renew`

**To Reproduce**
 1. Start a Vault development server with `vault server -dev`
 2. Enable audit logging:
[code]
 3. Run the affected tests:
[code]
 4. Observe unexpected requests in /tmp/vault-audit.log. Ex:
[code]

**Expected behavior**
Unit tests shouldn't

[2022-10-29 09:40] obourdon opened #17737 "Huge regression: Upgrading HA DynamoDB backend based Vault cluster to 1.11.0 and upwards breaks functional cluster"
**Describe the bug**
A fully functional HA Vault cluster whose backend is DynamoDB can be updated from 1.9.4 up to 1.10.7 without any problem
Upgrading one more time to 1.11.0 just make the cluster non functional

**To Reproduce**
Steps to reproduce the behavior:
1. Run `curl http://127.0.0.1:8200/v1/sys/leader`
[code]
2. Run `curl -sk --header "X-Vault-Token: XXXX" https://vault.internal.mycluste

[2022-10-29 09:41] obourdon commented on #17737
![Screenshot 2022-10-29 at 11 37 10](https://user-images.githubusercontent.com/1381878/198824661-0b86d1df-a5a6-49f4-a120-7f769466cc43.png)
![Screenshot 2022-10-29 at 11 37 23](https://user-images.githubusercontent.com/1381878/198824672-2172a33e-1014-4d87-8cae-ddee5606309d.png)

[2022-10-30 17:28] davidcorrigan714 opened #17738 "Reading Versioned Plugin Doesn't work"
**Describe the bug**
When using a vault read command on a plugin with a version as shown [in the docs](https://developer.hashicorp.com/vault/api-docs/system/plugins-catalog#read-plugin), no data is returned.

[code]

[2022-10-30 18:29] maxb commented on #17716
I don't believe there is, unfortunately. I have found the same misfeature in the AD secrets engine too, though I hadn't got around to opening an issue for that when I saw yours.

Vault is really in need of a systematic separation of config and credentials, especially in every secret engine that implements a rotate-root endpoint. The way it's currently done, it becomes impossible to reconfigure a s

[2022-10-31 08:06] KosShutenko opened #17850 "GCP KMS Autounseal Error bug"
**Describe the bug**
I have installed Vault clusters from chart v 0.22.0 into few Kubernetes clusters v1.23.8-gke.1900 with auto-unseal via GCP KMS.
After upgrade Vault chart to version 0.22.1 I've got error:
[code]
After downgrade to 0.22.0 issue was solved. But now I cannot have up-to-date Vault clusters.

**To Reproduce**
Steps to reproduce the behavior:
1. Install Vault cluster from chart v 0.

[2022-10-31 13:48] obourdon commented on #17737
Doing a `git diff tag-v1.10.7..tag-v1.11.0 -- vault/ha.go` show the [following code](https://github.com/hashicorp/vault/blob/v1.11.0/vault/ha.go#L188:L195) which seems to be the source of the issue

with the corresponding commit [106f548a41c5aa3a7310e1b53f2196f989913eff](https://github.com/hashicorp/vault/commit/106f548a41c5aa3a7310e1b53f2196f989913eff)

Commenting out the [return line ](https://g

[2022-10-31 14:00] obourdon commented on #17737
May be the test `if adv.ClusterAddr == c.ClusterAddr() && adv.RedirectAddr == c.redirectAddr {` is just incomplete as in the comment it is said that `if we are the active node` but this does not seem to be really checked because behind a load balancer like in AWS the addresses checked are "statically" defined in Route53, only the load balancer distribute the request evenly across all nodes :-(

[2022-10-31 14:06] obourdon commented on #17737
[code]

[2022-10-31 14:16] Makhonya opened #17741 "Display connection_url along with database credentials"
**Is your feature request related to a problem? Please describe.**
We use vault to provide database credentials to developers. They usually need to maintain a separate list of database urls which is not very convenient. I was thinking if it's possible to take advantage of `connection_url` parameter and provide it along with the credentials  for everyone to have a single place for fetching database

[2022-10-31 14:34] obourdon commented on #17737
As a first suggestion of what could be a more complete test which might solve the issue is to do a
`url.ParseRequestURI` on the string. If this fails, then comparison can go on as is else
`net.LookupIP(u.host)` can be checked for the number of records it contains ...

[2022-10-31 15:37] eliottcassidy2000 commented on #16928
Hey @mpalmi I see that your branch was merged and also the backport branches were merged. Thank you so much for working on this! How should I expect to install a version with the bug fixed? Currently I'm installing via yum from https://rpm.releases.hashicorp.com/RHEL/7/x86_64/stable do I need to wait for a new version to be published there (something like 1.11.5)? If so, do you have any idea when

[2022-10-31 16:42] ccapurso commented on #17738
Hi, @davidcorrigan714. In order to attempt to identify the root cause of the issue that you have provided it would be beneficial to have a bit more information. Would you be able to provide the version of Vault that you are running and a full output of the request using `curl -v ...`. Thanks!

[2022-10-31 17:02] obourdon commented on #17737
@ccapurso many thanks for categorising this

[2022-10-31 17:03] davidcorrigan714 commented on #17738
@ccapurso I'm using v1.12.0, which I believe is the only version that supports plugin versioning. Querying a versioned plugin needs a version query parameter so I think the docs are just a bit misleading in this case. The "Sample Request" really needs a "?version=v1.0.0" tacked on. It'd be nice if it would actually return all versions or something useful when it's not included but that doesn't see

[2022-11-01 12:10] valli0x opened #17754 "The same nested namespace in http url path"
these three requests are equivalent in documentation:
1. Path: ns1/ns2/secret/foo
2. Path: secret/foo, Header: X-Vault-Namespace: ns1/ns2/
3. Path: ns2/secret/foo, Header: X-Vault-Namespace: ns1/

I found this line of code:
https://github.com/hashicorp/vault/blob/080133efce7e54deb6c2fe96c85912d5efa73815/http/logical.go#L49
Does this mean that the namespace ns1/ in header X-Vault-Namespace and the

[2022-11-01 13:56] ccapurso commented on #16639
@aphorise, thank you for linking the related issue and PR. The proposed logic does in fact fix this issue:

[code]

[2022-11-01 13:57] #16639 closed

[2022-11-01 13:57] #17576 closed

[2022-11-01 14:18] tomhjp commented on #17738
Hi @davidcorrigan714, thanks for reporting this, you're right that the documentation is misleading, as the request doesn't match the response. It sounds like you've got this, but just to confirm, does `curl --header "X-Vault-Token: ...." --request GET https://.....:8200/v1/sys/plugins/catalog/secret/artifactory?version=0.1.2` work for you?

To complete the context, the 404 on your `curl` command i

[2022-11-01 14:26] ccapurso commented on #17754
Hi, @valli0x. I have attempted to reproduce the behavior. I don't believe that I've hit any issue limiting namespace usage as described but it is possible that I have missed something. Does the sequence of commands listed below match your expectation?

[code]

[2022-11-01 15:24] hrobertson opened #17761 "Option to auto increment min_decryption_version on auto rotation"
**Is your feature request related to a problem? Please describe.**
I find it frustrating that there is an option to have keys automatically rotated but the min_decryption_version must be incremented manually.

I appreciate that in many use cases the `min_decryption_version` should be incremented manually, eg after all encrypted data has been rewrapped. However, my use case requires that all values

[2022-11-01 16:16] ccapurso commented on #17576
This has been fixed and backported to the 1.11 and 1.12 release branches. The fix will be available in versions 1.11.6 and 1.12.2.

[2022-11-01 16:16] ccapurso commented on #16639
This has been fixed and backported to the 1.11 and 1.12 release branches. The fix will be available in versions 1.11.6 and 1.12.2.

[2022-11-01 17:54] obourdon commented on #17737
AFAICT I do not think that having dynamodb as the vault backend has anything to do with the issue. I am pretty much sure I can reproduce this with raft backend. Willl try todemonstrate this if time permits

[2022-11-01 18:09] acidprime opened #17764 "Vault Init input validation is too strict (1.12.0)"
**Describe the bug**
Vault 1.12.0 added support to validate operator init input. However Its breaking a community terraform module and supported server side behavior.

Refs
[Vault PR adding validation](https://github.com/hashicorp/vault/pull/16379)
[Terraform Community Module](https://registry.terraform.io/providers/rickardgranberg/vaultoperator/latest/docs/resources/init)

This is due to the fact

[2022-11-01 19:04] ccapurso commented on #17764
Hi, @acidprime. The Vault team is very cautious about introducing breaking changes only to major versions. Vault 1.12.0 does not strictly follow semver and thus 1.12.0 is actually considered a major version.

I dug into `terraform-provider-vaultoperator` and it appears that the recovery shares and threshold are [set](https://github.com/rickardgranberg/terraform-provider-vaultoperator/blob/8df5a1db

[2022-11-01 19:15] acidprime commented on #17764
Yeah that makes sense to me too

https://github.com/rickardgranberg/terraform-provider-vaultoperator/blob/main/internal/provider/resource_init.go#L236-L242

If those values are non-zero it makes sense validation would fail

[2022-11-02 01:15] yakatz opened #17771 "LDAP login not writing token to file"
**Describe the bug**
We log in with `vault login -method=ldap` and we use Duo MFA. Recently it seems that logging in like this has stopped writing the token to the `~/.vault-token` file, so additional vault operations do not complete. If I log into the Vault web interface, copy my token and use that with `vault login`, the file is written properly.

**To Reproduce**
Steps to reproduce the behavior

[2022-11-02 08:38] pat-s commented on #16928
I just upgraded to 1.11.5 and it seems #17680 has not made it into the release? I am still not getting `~/.vault-token` stored. Release notes are still missing.

[2022-11-02 11:33] mpalmi commented on #17771
Thanks for the report @yakatz! This was a known issue in prior versions of Vault and was supposed to be fixed by https://github.com/hashicorp/vault/pull/17040. Are you seeing this issue when using the 1.12.1 Vault CLI as well?

[2022-11-02 11:35] mpalmi commented on #16928
@pat-s could you please share your login method and client version?

[2022-11-02 11:40] yakatz commented on #17771
Thanks, that does fix it.

I thought I was on the most recent version available for Ubuntu because `apt` didn't show there was an update on the client machines, but when I cleared the apt cache, it showed up.

[2022-11-02 11:40] #17771 closed

[2022-11-02 11:46] pat-s commented on #16928
@mpalmi Ah of course! My fault, I was still on 1.12.0 for the CLI. With 1.12.1 and 1.11.5 on the server, everything works!

[2022-11-02 12:10] aphorise commented on #17016
Hey @reyyzzy - how did you progress?
Are you ok to close this issue now?

[2022-11-02 12:12] mpalmi commented on #16928
Great news! Since this appears to be fixed in the latest minor releases, I'm going to go ahead and close this Issue out. Thanks for all the help getting to the root issue, and for your patience.

Please feel free to open up new issues should any other unexpected behaviors or bugs arise.

[2022-11-02 12:12] #16928 closed

[2022-11-02 12:46] Shaeli commented on #17655
👋

That's fine if it lacks the `key_id` and cannot issue certificate as it was already not able to, as long as `vault read /pki-root/cert/ca` works again and provide the same certificate :) thanks !

I'm going to close this issue as its resolved, thanks again for looking into this and the clarification, really appreciated :)

[2022-11-02 12:47] #17655 closed

[2022-11-02 12:53] valli0x commented on #17754
Can I create a duplicate nested namespace?

[2022-11-02 13:27] aphorise commented on #6120
In the current (1.12.x) versions it does display description on the secrets listing view of the UI as per the screenshot below.

![image](https://user-images.githubusercontent.com/974854/199501472-c8fe8127-9afd-48a4-bb13-8a3454756db1.png)

hey @sidewinder12s - I'm curious if you've revisited this request since raising it or are you ok to close?

[2022-11-02 13:54] sidewinder12s commented on #6120
Sounds good to me, I haven't upgraded/used the UI in a while.

[2022-11-02 13:54] #6120 closed

[2022-11-02 15:11] trodemaster commented on #11329
Supporting numbers challenge needs to happen with LoginMFA capability.

[2022-11-02 20:03] #17738 closed

[2022-11-02 21:00] davidcorrigan714 commented on #17738
@tomhjp confirming that adding the version query parameter works.

[2022-11-02 21:38] Hondough opened #17791 "Yum install fails on AmazonLinux image amazon/aws-cli:2.0.31"
**Describe the bug**
Unable to install vault package from https://rpm.releases.hashicorp.com/AmazonLinux/hashicorp.repo on AWS Linux

**To Reproduce**
Steps to reproduce the behavior:
On Docker image amazon/aws-cli:2.0.31 run the following commands:
[code]
Install fails with useradd error:
[code]

**Expected behavior**
Vault package should be installed

**Environment:**
* Server Operating System/A

[2022-11-02 23:18] arusso opened #17792 "unseal with wrong key returns HTTP 500 instead of 400 (again?)"
**Describe the bug**

Attempting to unseal with an incorrect but valid key (ie. old key) returns a 500 instead of a 400.

**To Reproduce**
Steps to reproduce the behavior:
1. `vault server -dev`
2. `VAULT_ADDR=http://localhost:8200 vault operator seal`
3. `VAULT_ADDR=http://localhost:8200 vault operator unseal` and pass in an invalid token.

[code]

[code]

**Expected behavior**
The error returns

[2022-11-03 00:04] Dorra-B commented on #17016
In fact, the main problem is the 127.0.0.1:8200  used by another process.
Maybe vault.service is up and running and it is using the 8200 port.
1. `sudo systemctl stop vault.service`
2. vault server -dev -dev-listen-address="1x.2xx.1xx.1xx:8200
This should work.

If there is still the same error message , you have to do the following:
1.  `netstat -a |grep 8200`
If there is a port 8200 used, you ha

[2022-11-03 10:22] aphorise commented on #17016
IMO - it's better to have all settings (specific or all encompassing `0.0.0.0`) only via the configuration file and using the listener stanza therein; this way changes and explicit bind values are more evident than having them set explicitly via launch (eg: systemd unit file). Anyway there may be cases where you may have want to do it in-line via `-dev-listen-address` but in this cases you should

[2022-11-03 12:09] aphorise commented on #6120
Me too 😃 I almost never use the UI - although it's worth checking once a while as there are on-going improvements with each minor release.

[2022-11-03 12:33] aphorise commented on #8338
On the most recent versions of Vault (eg: 1.12.0) the default log levels actually give a `WARN` message regarding portions of the log that it doesn't understand. So I took your original conf (from the start) - and trying to start the Vault process then shows:

[code]

So even at present this can be used as a form of soft sanitation checks against the conf to ensure no `WARN` occur before restartin

[2022-11-03 12:35] aphorise commented on #3455
Re-quoting note from #8338:

[2022-11-03 13:43] ArchiFleKs commented on #17737
Hi @obourdon we saw the same issue today on our cluster running 1.11.3 with Dyanamodb backend and AWS behind an NLB.

Do you know how to reproduce this bug ? We have been running 1.11.X for the past month and only noticed it today.

[2022-11-03 15:56] cipherboy commented on #17716
@maxb @allyunion Would adding a PATCH endpoint similar to the ones in PKI work? Vault 1.13 will have a `vault patch` CLI option, so with more server endpoints supporting PATCH capabilities, it could make for a nice release if someone wants to propose a PR some new handlers... :-)

[2022-11-03 15:59] cipherboy commented on #10176
This should be fixed in Vault 1.13 when we pick up the next Go 1.20 release \o/

See https://github.com/golang/go/commit/a367981b4c8e3ae955eca9cc597d9622201155f3

[2022-11-03 15:59] #10176 closed

[2022-11-03 16:39] rjshrjndrn commented on #11066
Is there any way to do the key rotation.
Its not always feasible to get iam user create permission from the team. So if we want to have ephemeral keys for S3, for example, is there any valid approach?

[2022-11-03 16:40] obourdon commented on #17737
@ArchiFleKs on my side with a working HA cluster (Vault <=1.10.7)  I just replace the vault binary on any one node by any version >= 1.11.0 and relaunch the associated Linux service then run the command
`curl http://127.0.0.1:8200/v1/sys/leader` on the modified node and I get the answer without any info (aka empty string in `leader_address` and `leader_cluster_address` of the JSON response
Note th

[2022-11-03 17:21] #16870 closed

[2022-11-03 17:55] BrandonHarrisonCode commented on #8338
Perfect, that sounds like more recent versions of Vault directly address the issue I was originally facing. Thank you for all of the info!

[2022-11-03 17:55] #8338 closed

[2022-11-03 21:29] CPCJ79 commented on #11625
I am having this error with 'ALTER' are you sure this is only impacting 'CREATE ROUTINE'?

[2022-11-03 22:08] ArchiFleKs commented on #17737
Thanks for your inputs. Currently in the process of downgrading, what about 1.10.8 released 2 days ago ?

[2022-11-03 23:30] dpedu commented on #9117
I came across this issue because I was hitting the same error message. In my case it was because I omitted the `http://` prefix in the `cluster_addr` option in `migrate.hcl`. Your uploaded configs seem to have `http:/vault0:8201` - a typo. Problems with this prefix seem to be the reason for this error.

[2022-11-03 23:32] g-psantos opened #17817 "Prune inactive entities"
## TL;DR

We're considering a solution that will create a significant number of Entities in Vault's Identity backend. There appears to be no built-in functionality to (a) automatically prune Entities that have been inactive for some time or (b) determine when an Entity was last active. This means that the Identity backend would continue to grow unchecked over time.

Ideally, we'd like the ability

[2022-11-03 23:45] dpedu commented on #17733
Hi @ccapurso, sort of. I have a bit more clarity on this issue now. I found it confusing that the [policies page](https://developer.hashicorp.com/vault/docs/concepts/policies) immediately jumps into examples that are only relevant to kvv1 when kvv2 is the new default. For example, I was running `vault server -dev` for the purpose of testing the newest version of vault to plan my upgrade from an ol

[2022-11-04 01:36] AidarGatin commented on #15197
Hi, check owner and user for  ...vault/data folder and all *.db inside  like raft.db etc.
`chown -R vault:vault data`  - worked for me!

[2022-11-04 02:33] darpham opened #17819 "Dark Mode"
**Is your feature request related to a problem? Please describe.**
A clear and concise description of what the problem is. Ex. I'm always frustrated when [...]
Horrible User UI experience 1/10
My eyeballs burn every-time I try to use the UI

**Describe the solution you'd like**
A clear and concise description of what you want to happen.
Make Dark mode a thing... please 🙏

**Describe alternatives y

[2022-11-04 03:07] threewordphrase commented on #17819
+1, the Vault UI is one of the last eyeball burners. Even AWS console has dark mode now...

[2022-11-04 09:45] wuchuxiong opened #17820 "vault approle id is changed"
I face a problem that vault approle id is changed somehow.
My application run vault in a k8s pod. In the vault server,  I enable a number of secrets engine with given path including approle id.
[code]
And my sensitive information are saved under the path. It works perfectly for a few months. The clients can get the key values with path base/APPROLEID/KEYNAME. Last week, I update the vault version

[2022-11-04 10:58] obourdon commented on #17737
@ArchiFleKs seems like it should be working perfectly like 1.10.7 (at least it does not include the failing 1.11.0 code)

[2022-11-04 19:12] hsimon-hashicorp commented on #17819
Note: The initial issue was edited to adhere to our community guidelines. Please be respectful when filing issues or interacting with us here in GitHub - we're human beings, too. :)
Thanks!

[2022-11-04 19:16] hsimon-hashicorp commented on #8788
@mbrancato Thanks for the update! We had issues reproing the issue initially; @ncabatoff has a PR that _may_ fix the issue, however, because we couldn't repro it we aren't 100% sure. We're willing to keep working on this on a "best effort" basis, and if anyone else who's also seeing this issue can help us reproduce it, that'd sure help a lot.
Thanks!

[2022-11-05 03:11] harningt commented on #16316
A solution could be for vault to skip writing the certificate to the filesystem and just issue it "virtually" - instead of a ssl referencing the filesystem, it could issue it using a pki path and keep the cert+key in memory - although authentication might be tricky since you'd have vault prove that it jas permissions to issue from that path ... chicken an egg problem of sorts.

[2022-11-05 07:46] DemiMarie commented on #16316
I would skip the access check.  Enabling this feature would require either sudo permissions or write access to the configuration file, either of which is sufficient to bypass any access check.

[2022-11-05 18:44] maxb commented on #17820
The only time a RoleID of an AppRole should ever change is if explicitly requested via the API for that purpose: https://developer.hashicorp.com/vault/api-docs/auth/approle#update-approle-role-id

If the AppRole RoleID did change, a client using it would no longer be able to log in at all, so you would see problems before it ever got to trying to retrieve a value from your generic secrets engines.

[2022-11-06 18:33] UmedJadhav commented on #10681
Hi team, I have been exploring vault source code for a while for my work and would love to pick this issue up. Let me know if there are any pre requisites on how to get started with this ?

[2022-11-07 03:14] sdetoni opened #17834 "ldap authentication no longer working from Web UI under version 1.12.1"
<pre>
**Describe the bug**
A recent update to 1.12.1 release of Vault is preventing LDAP auth from Web UI from working successfully.

However login via vault console is successful with :
'vault login -method=ldap'
Password (will be hidden):
Success! You are now authenticated. The token information displayed below
is already stored in the token helper. You do NOT need to run "vault login"
again. Fu

[2022-11-07 14:09] nsimons commented on #17792
I had a go at this.

I don't think that this was fixed in 1.11.x as the referenced ticket mentions.
The error comes from the fact that the unseal key is first used to decrypt the master key, before the actual unsealing happens (new-style shamir). In legacy shamir, the unseal key was the same as the master key, so the code went straight to unsealing where errors are handled correctly.

[2022-11-07 19:30] hsimon-hashicorp commented on #17817
Are you looking for something like `vault tidy`? https://developer.hashicorp.com/vault/api-docs/secret/pki#tidy

[2022-11-07 19:38] g-psantos commented on #17817
It'd be something like that but to clean up inactive Entities from the [Identity engine](https://developer.hashicorp.com/vault/api-docs/secret/identity/entity).

(The whole story about the PKI backend is there only to provide context as to how we'd end up with too many Entities in the Identity engine -- the TL;DR at the top is really where the request is described succinctly. In retrospect, it mig

[2022-11-07 19:39] hsimon-hashicorp commented on #17817
Got it! Thanks for the clarification. :)

[2022-11-07 23:36] darpham commented on #17819
Was just trying to inject some humor, my apologies!

[2022-11-07 23:45] hsimon-hashicorp commented on #17819
No worries, I'm pretty sure we've all had days like that. :) It was certainly an attention-getter with our engineering teams too :-D

[2022-11-08 10:27] #17754 closed

[2022-11-08 11:29] valli0x opened #17847 "CVE-2022-41316. Why don't you want to use InitializeFunc to load the CRLs?"
Why don't you want to use InitializeFunc to load the CRL?
https://github.com/hashicorp/vault/blob/e34f8a14fb7a88af4640b09f3ddbb5646b946d9c/builtin/credential/cert/backend.go#L23-L25

[2022-11-08 11:55] valli0x commented on #17847
https://github.com/hashicorp/vault/pull/17849 for example

[2022-11-08 14:03] ccapurso commented on #17754
Hi @valli0x, the path of a namespace will be based on the `X-Vault-Namespace` header and the request path. The namespace in the first example will be `ns1` based on the path. The namespace in the second example will be `ns1/ns1` also based on the path. The namespace in the third example will be based on both the `X-Vault-Namespace` header `ns1` and path `ns1` resulting in `ns1/ns1`. I hope this he

[2022-11-08 15:50] sgmiller commented on #17847
We did it this way to avoid adding to overall Vault startup time for folks with lots of mounts or large CRLs.

[2022-11-08 19:03] bmendric opened #17852 "Unclear documentation around cert auth CRLs"
**Describe the bug**
Vault docs on [certificate auth revocation checking](https://developer.hashicorp.com/vault/docs/auth/cert#revocation-checking) contains the statement:

This makes mention of configuring a CRL by providing a CRL distribution point, however, there is no mention of that configuration within the [api docs](https://developer.hashicorp.com/vault/api-docs/auth/cert#create-crl). Diggi

[2022-11-08 22:10] ccapurso commented on #17733
@dpedu, those are valid points. It definitely seems like some improvement can be made here. Thank you for the feedback!

[2022-11-09 09:28] valli0x commented on #17847
you just add a function(lockThenpopulateCRLs) to the constructor, Why? if there is a function InitializeFunc?

CRLs will loads into unseal with your code here:
https://github.com/hashicorp/vault/blob/e34f8a14fb7a88af4640b09f3ddbb5646b946d9c/vault/auth.go#L174-L177

CRLs will loads into unseal with my code here:
https://github.com/hashicorp/vault/blob/e34f8a14fb7a88af4640b09f3ddbb5646b946d9c/vault/

[2022-11-09 09:43] valli0x commented on #17847
I mean this function
https://github.com/hashicorp/vault/blob/e34f8a14fb7a88af4640b09f3ddbb5646b946d9c/sdk/framework/backend.go#L57-L59

[2022-11-09 16:13] bmendric commented on #17852
Another undocumented parameter I just ran across -- [allowed_metadata_extensions](https://github.com/hashicorp/vault/blob/main/builtin/credential/cert/path_certs.go#L117)

[2022-11-09 17:21] Freyert commented on #16439
@aphorise we had to suspend work on this because we decided to mitigate risks other ways.

However this problem really creeps me out.

Our biggest problem was that if we started writing a solution without tests it was hard to tell if we were making things better or worse.

We did a ton of research on testing, but didn't end up writing one because the setup was so onerous. The test methodology seem

[2022-11-09 21:07] kitography commented on #17359
Hi @shaj13 ;
We're introducing a new feature that should allow you to configure this behaviour if you like (one time work around), here: https://github.com/hashicorp/vault/pull/17824

If that doesn't work for you - or the docs are confusing - feel free to reopen or create another issue.

[2022-11-09 21:07] #17359 closed

[2022-11-09 21:45] ccapurso commented on #17733
@dpedu I added a quick clarification. We might re-work these examples more in the future but hopefully a bit more clarification is helpful.

[2022-11-09 22:16] #17733 closed

[2022-11-09 22:21] patcable opened #17872 "Duo Passcode Implementation or Documentation Unclear"
**Describe the bug**
The Duo MFA method can accept a TOTP passcode generated from the Duo Mobile app, or one associated with an end-users Duo account (ex. a Yubikey OTP). What is left out of the documentation is that the word `passcode=` must be appended for the Duo Login MFA provider to actually use that provided OTP or Yubikey OTP. If an end-user **only** specifies the TOTP code or Yubikey OTP,

[2022-11-09 23:17] denniswloo opened #17873 "Sending multiple HUP signals to Vault agent causes it to crash"
**Environment:**

* Vault Version:*
*  1.11.3
* Operating System/Architecture:
Linux amd64

**Vault Config File:**

[code]

**Expected Behavior:**
Vault agent restarts

**Actual Behavior:**
Vault agent crashes

**Steps to Reproduce:**

1.  Start up the vault server using https
2. Start up the vault agent using https
3. Let the vault agent finish basic processing like rendering secrets
4. Send HUP

[2022-11-09 23:20] uchanchlani opened #17874 "Terraform commands unable to taint and replace the vault_approle_auth_backend_role_secret_id resource when the role is deleted from outside"
**Describe the bug**
On Provider version 3.6.0
Terraform commands unable to taint and replace the vault_approle_auth_backend_role_secret_id resource with a new one when the role is deleted from outside. It fails with the error:
[code]

**To Reproduce**
Steps to reproduce the behavior:
1. Create the two resources:
[code]
2. Create these resources via terraform
3. Delete the vault role using vault c

[2022-11-09 23:31] uchanchlani commented on #17874
Accidentally created this issue in the vault instead of creating it in the provider repo. Created it there and closed this issue
hashicorp/terraform-provider-vault#1666

[2022-11-09 23:31] #17874 closed

[2022-11-10 14:49] evitch opened #17878 "panic: runtime error: invalid memory address or nil pointer dereference when register custom secret plugin"
I'm writing a custom secret plugin based on built-in pki plugin and another based on transit built-in plugin.
Register plugins is ok with Vault 1.11.3. But now with Vault 1.12 and 1.12.1 I have errors:
[code]

[2022-11-10 15:31] UchihaItachiSama opened #17880 "Unseal vault container or decrypt stored secret with access to container and initial root token"
Lost the unseal keys for a test vault container, I am able to exec into the container and have the initial root token.
Is there a possibility to re-key or unseal the vault using the root token.
Or decrypt the value under `/vault/file/logical/xxx/` ?

[2022-11-10 19:15] hsimon-hashicorp commented on #17880
Does this document help? https://developer.hashicorp.com/vault/docs/concepts/seal#rekeying
Please let me know if you have more questions!

[2022-11-10 22:38] hellobontempo commented on #10114
Resolved by #10299

[2022-11-10 22:38] #10114 closed

[2022-11-10 22:44] jakehenak opened #17889 "Vault CLI wraps value with quotes when field is specified if format is json"
**Describe the Bug**
When using the CLI to retrieve a value using kv get with the -field specified combined with -format json the value returned includes double quotes.

**To reproduce**

1) Run vault kv put cubbyhole/testfield field1=value
_Success! Data written to: cubbyhole/testfield_

2) Run vault kv get -field=field1 cubbyhole/testfield
_value_

3) Run vault kv get -format json -field=field1

[2022-11-11 00:59] tlb1galaxy commented on #17002
For me, I had a very similar issue.
It came down to the TCP listener was the issue.
I usually use the setting in my VM based standalone Vaults:
[code]

Found this causes issue within an HA setup in K8s.  Have not narrowed it down to Vault or the Ingress.  So I had to change it to:
[code]

Now my helm deployment works as expected; even with Helm building the Ingress.  Just have to add HTTPS annotat

[2022-11-11 02:44] UchihaItachiSama commented on #17880
I looked at rekeying but it requires the vault to be unsealed.

[code]

In my case the vault is sealed, as I lost the unseal keys and only have the initial root token and access to vault container volume, where I can see the encrypted data.

Thus wanted to check if there is a possibility to unseal or decrypt using initial root token or encrypted keys from volume data?

[2022-11-11 04:48] enspritz opened #17898 "Behavior of userfilter in ldap authtype"
**Describe the bug**
Our use-case with the `ldap` authtype is to allow only those LDAP accounts that are members of the admin group to authenticate with Vault, and the `userfilter` config setting seems like the perfect place to encode enforcement. However, we have found that `userfilter` seems inert in our workflow.

The [documentation](https://developer.hashicorp.com/vault/docs/auth/ldap#userfilt

[2022-11-11 10:34] bullno1 commented on #16663
Seconded this.

The problem is not so much that it is not possible to add headers.
The problem is that the `-header` flags and all other http flags have to go into very specific positions.
If they were more flexible, that would not be a problem.

For example one could do:

[code]

It's not show stopping but it's inconvenient to add `$MY_FLAGS` to every vault command while you are trying to trouble

[2022-11-11 12:36] matusb opened #17900 "Vault agent is not passing errors to vault clinet"
**Describe the bug**
I'm not sure if this is an issue is related to #17792 and HTTP 500 are not passed to client via agent, but here is what I'm experiencing

Background: We are using multiple Vault clusters in our environment, often switching between Vault servers, connecting to each vi   multiple Vault agent installed on separate server (bastion host). We authenticate to vault using LDAP.

When

[2022-11-11 13:35] cipherboy commented on #14944
Seeing as raw support has merged in #14945, I think we can close this -- while not ideal, users can use `-format=raw` and we avoid the breaking change around error messages in the API client.

[2022-11-11 13:35] #14944 closed

[2022-11-11 14:21] jkirschner-hashicorp commented on #2631
I realize the last activity on this closed issue was years ago, but for the sake of anyone who comes across this issue now and is still interested in the functionality:

Vault's PKI engine recently added OCSP responder support: https://github.com/hashicorp/vault/pull/16723

[2022-11-11 15:26] sycured commented on #17527
No update but the issue is very huge, now it's 3 cloud seals concerned with the same issue (KMS unusable):
- Oracle Cloud: this issue + #13607
- GCP: #17850
- AWS: #17551

It's becoming critical… not everyone can/wants to migrate from Cloud seal to Shamir seal

[2022-11-11 18:01] johnsmartco opened #17905 "404s on website/content/docs/plugins/plugin-portal.mdx and initial "Looks like network is down..." message on some targets"
**Describe the bug**

* On [website/content/docs/plugins/plugin-portal.mdx, ](https://github.com/hashicorp/vault/blob/main/website/content/docs/plugins/plugin-portal.mdx) there appear to be a lot of links that 404.
* Also, some links are valid (such as the DataStax Astra DB partner database link that we provided), however it appears the initial target page load returns a "Error. Looks like network

[2022-11-11 18:33] ccapurso commented on #17873
Hi @denniswloo, thank you for your feedback! What you are likely running into is the default action for [SIGHUP](https://en.wikipedia.org/wiki/SIGHUP) on POSIX-compliant systems:

Vault Agent does not currently support SIGHUP. There is an existing [feature request](https://github.com/hashicorp/vault/issues/8216) for it, however, and will be something that we will look into in the future. With that

[2022-11-11 18:33] #17873 closed

[2022-11-11 18:40] ccapurso commented on #17905
Hi, @johnsmartco! The link that you provided is for the source-controlled Markdown file. These files are bundled and deployed to HashiCorp's [Developer](https://developer.hashicorp.com/) site. The **Plugin Portal** docs can be found [here](https://developer.hashicorp.com/vault/docs/plugins/plugin-portal).

[2022-11-11 18:40] #17905 closed

[2022-11-11 20:32] chance2021 commented on #6616
You need to update `secret/hello` to whichever path you mounted when you enabled the kv secret engine.

For example, if you enable the secret engine like this:
[code]

You should mount to `kv-v2` instead of `secret`
[code]

[2022-11-12 12:45] nlang opened #17918 "PKI sign certificate with CSR gives "asn1: syntax error: sequence truncated" error"
**Describe the bug**
wIth a default configured PKI backend and generated CA, when trying to issue a certificate using a csr, vault produces the following error:

[code]

**To Reproduce**
Steps to reproduce the behavior:

1. Enable PKI, configure CA with default settings
2. Create a role with the following settings:
[code]
4. Sign a certificate

**Expected behavior**
A new certificate to be issued

[2022-11-13 13:43] mhristof opened #17920 "sys/health reports healthy node but raft has cleaned it up"
**Describe the bug**
a vault node reports 200 in [`sys/health`](https://developer.hashicorp.com/vault/api-docs/system/health) and the rest of the cluster has removed it since it was reported as raft unhealthy.

**To Reproduce**
Steps to reproduce the behavior:
1. setup a vault cluster with 5 nodes
2. configure autopilot with `vault operator raft autopilot set-config \
    -cleanup-dead-servers=tru

[2022-11-13 14:11] Freyert commented on #16439
Now I'm reminded of the breaking change that we were facing:

client.Sys().Renew() uses `ParseSecret(r io.Reader)` which parses the Request's body for the secret information and returns.

This function is used _extensively_ and I'm sure outside plugins depend on the functionality. Therefore:

👉 modifying `ParseSecret` to include headers is out of the question.

[2022-11-13 14:31] Freyert commented on #16439
Alright so I've got two PRs now:

1. https://github.com/hashicorp/vault/pull/17919 refactoring to make changes to the sleep calculation easier.
2. https://github.com/hashicorp/vault/pull/17921 introducing a "backwards compatible" change to introduce "Age" to secrets and parse "Age" from responses.

[2022-11-13 23:53] abdusahin opened #17923 "vault login doesn't work with aws sts credentials"
**Describe the bug**
When AWS credentials are set as variables, vault login fails, it seems `AWS_SESSION_TOKEN` is ignored
for example setting AWS credentials as below then calling vault login fails.
[code]
whereas when `AWS_SESSION_TOKEN` value is passed to   `aws_security_token` option then vault login works.

Working configuration.
[code]

First behaviour is against AWS Login method described o

[2022-11-14 15:20] cipherboy commented on #17918
Hi @nlang

Your CSR is malformed...

If you look at your ASN.1:

![image](https://user-images.githubusercontent.com/914030/201696959-450719bf-a4f4-4e23-8856-589aaf079013.png)

The outer SEQUENCE has the right number of elements, but the first inner SEQUENCE has 3 elements, but needs 4:

![image](https://user-images.githubusercontent.com/914030/201697174-78c4a604-06a5-4dc5-b355-714326112bca.png)

T

[2022-11-14 15:20] #17918 closed

[2022-11-14 16:50] Zlaticanin commented on #12214
Fixed with [#12715 ](https://github.com/hashicorp/vault/pull/12715).

[2022-11-14 16:50] #12214 closed

[2022-11-14 18:13] ndlanier commented on #5275
This script doesn't work if you have spaces in the path name. Even with passing the argument with double quotes.

[2022-11-14 22:29] ndlanier commented on #5275
I replicated that script in python

[code]

[2022-11-14 23:59] dpedu commented on #17733
Thank you!

[2022-11-15 01:43] wuchuxiong commented on #17820
Anyone else hit this issue? Any comments are appreciated.

[2022-11-15 09:27] motyd commented on #6594
Is there any update on this item?
It has been open for a few years now without much attention.

[2022-11-15 13:16] nlang commented on #17918
Thanks @cipherboy, we'll have to take a look on our CSR generation then.

[2022-11-15 13:27] cipherboy commented on #17918
Yeah, I'm rather curious to hear how this CSR was generated :-)

Unless you're doing manual construction somehow, most ecosystems I know of (OpenSSL, NSS, Golang, and perhaps BouncyCastle) will generate CSRs correctly... I think the exception to the latter ecosystem (JSS, BouncyCastle, JDK) is if you're using the raw ASN construction directly, versus a higher-level interface over CSR. I suppose th

[2022-11-15 15:12] hghaf099 commented on #17920
@mhristof Thanks for filing this ticket. I am trying to understand the issue better. Would you please elaborate more on your setup? Are these Vault servers running in the same host? I see that one node is unhealthy, and it is not the leader node. So, I am wondering to which server the health request is sent? As mentioned in sys/health docs, 200 will be returned only from the active (leader) node.

[2022-11-15 16:59] verzth opened #17939 "Breaking with github.com/hashicorp/golang-lru version v1"
#13 60.06 go: all: module github.com/hashicorp/golang-lru@upgrade found (v1.0.1), but does not contain package github.com/hashicorp/golang-lru
#13 60.06 go: all: module github.com/hashicorp/golang-lru@upgrade found (v1.0.1), but does not contain package github.com/hashicorp/golang-lru/simplelru
#13 60.13 make: *** [get-module] Error 1

[2022-11-15 17:46] hsimon-hashicorp commented on #17939
Can you please provide some context for this issue? What are you attempting to do in this scenario?

[2022-11-15 17:52] AdmiralNemo opened #17945 "`vault login` should print MFA passphrase prompt on stderr"
**Describe the bug**
The `vault login` command prints the prompt for an MFA passphrase on the standard output stream.  This interferes with output redirection.  For example, without MFA, this command would store the token in the `VAULT_TOKEN` environment variable:

[code]

The LDAP password prompt (`Password (will be hidden): `) is printed to standard error.  The resultant token is printed to stan

[2022-11-16 07:41] hghaf099 commented on #17900
Thanks for filing this ticket. I cannot reproduce the issue as described. Would you please provide more details of your setup? For instance, it is mentioned that `However, whenever I connect to Second Vault Server in different environment, every operation will timeout with context deadline exceeded instead of getting invalid token or similar error. ` So, is this the same Vault agent which connects

[2022-11-16 08:25] maxb commented on #17889
You literally asked the Vault CLI to return JSON format, so it did...

If you don't want it to format the result as JSON, don't ask it to do that.

[2022-11-16 08:33] maxb commented on #17880
If you've lost the unseal keys, and you don't have an active running unsealed Vault process, everything has been lost.

There's nothing to do other than wipe it all and start from scratch.

[2022-11-16 09:37] aamkye opened #17953 "API documentation is misleading, or API implementation is misleading – drift between doc and behaviour."
**Describe the bug**
Due to cloud-agnostic approach, I'm building auto-unseal application. Despite my need, I'm using vault API REST calls to the vault servers. The problem is that API sometimes lies. For example, UNSEAL API [/sys/unseal](https://developer.hashicorp.com/vault/api-docs/system/unseal#sample-response) with sample-response says that during unsealing progress shows how many keys have b

[2022-11-16 14:41] matusb commented on #17900
already fixed in latest version

[2022-11-16 15:22] vini-gorillas commented on #6053
If the Recovery seal type is changed from gcpkms to shamir, how woudl the gypkms come into use when the vault has to be unsealed in real?
Thamks

[2022-11-16 21:49] reddy9694 opened #17987 "Last retrieved timestamp for a secret"
**Is your feature request related to a problem? Please describe.**
We have a Vault instance, for which we would like to have an automation to delete the secrets which was not retrieved in last xxx days. We couldn't find out the way to get the last retrieved timestamp for a secret.

**Describe the solution you'd like**
We are looking for a API or a vault CLI, which will give the  last retrieved tim

[2022-11-16 21:58] jmthvt commented on #17722
I think it's because of [this](https://github.com/hashicorp/vault/blob/4e1958c07ccf72bcfb65f5835699fe31c53ca937/sdk/helper/pluginutil/runner.go#L99). As per #1911, the reflect goes as deep as it can, and eventually hits the [SemVer unexported fields].(https://github.com/hashicorp/go-version/blob/main/version.go#L34-L40).

[2022-11-16 22:07] hghaf099 commented on #17987
Thanks for filing this ticket. I would like to first point to our doc page on lease revocation [here](https://developer.hashicorp.com/vault/docs/concepts/lease) to make sure what is already support would meet your requirement. From that page, `With every dynamic secret and service type authentication token, Vault creates a lease: metadata containing information such as a time duration, renewabilit

[2022-11-16 22:17] aamkye commented on #17953
Also, my assumption is that this request to the vault is a non-blocking, so the vault cannot keep up with the state update and returns old state. Please correct me if I'm mistaken.

[2022-11-16 22:26] jmthvt commented on #17722
If understand correctly, it would be because of this [*version.Version](https://github.com/hashicorp/vault/blob/4e1958c07ccf72bcfb65f5835699fe31c53ca937/sdk/helper/pluginutil/runner.go#L99).

[code]

As per #1911:

So it eventually hits these [*version unexported fields](https://github.com/hashicorp/go-version/blob/main/version.go#L34-L40):

[code]

[2022-11-16 23:14] hghaf099 commented on #17945
Thanks for filing this ticket. For now, to get passed the issue you are observing you can simply pass in the MFA request header to the CLI command and get the result. Example:
[code]
Note the added parameter in the CLI: `-mfa="$mfa_method_id":"$totp_code"`

I’ll take this feedback to product for further consideration, but in the meantime I’m going to go ahead and close this issue. Please feel free

[2022-11-16 23:14] #17945 closed

[2022-11-16 23:47] hghaf099 commented on #17583
Thanks for filing this ticket. So, according to Duo [docs](https://duo.com/docs/authapi#/auth), the `push_info` should be:
[code]

I just tried the above example, and Duo MFA succeeded without error. I am going to close this issue for now. Please feel free to reopen the issue or open a new one for further discussions.

[2022-11-16 23:47] #17583 closed

[2022-11-16 23:52] levequej commented on #15112
Hi, any update concerning when/if this feature be added to the roadmap?

[2022-11-17 00:55] jakehenak commented on #17889
For the issue in question we set the -format=table as a CLI option to prevent being overriden by the environment variable, that was a good workaround, however we raised this bug as we felt that  field option though should be mutually exclusive to format in most use cases, never wrapping with quotes.

It was discovered via an ansible role that had the environment variable set to VAULT_FORMAT=json w

[2022-11-17 01:51] arusso commented on #17792
Based on the previous comment, it sounds like this was never actually fixed, and looking at the 1.8.0 behavior confirms that.

Looking at the 1.0.0 behavior, it seems like it used to.

[code]

[2022-11-17 01:55] arusso commented on #17792
@hghaf099 Doesn't seem like I can re-open this issue, but I still feel like this is a bug worth fixing.

The response return, be it status code or message, is inadequate to inform the user of the _actual_ issue -- that the specified key is invalid. A 500 error suggests the server encountered something that was an unexpected condition -- but an invalid key should be an expected condition and return

[2022-11-17 04:09] dpedu opened #18004 "When using integrated storage, sometimes nodes fail to join the cluster"
**Describe the bug**
Sometimes, when I launch a new vault instance it doesn't join. If I restart vault on the new instance, it still doesn't join. If on the new instance I stop vault, delete its raft database files, and start vault, sometimes it joins. If I delete the instance entirely and create a new one with a new node_id and IP, *sometimes* it joins. The chance whether or not a node succeeds i

[2022-11-17 04:43] verzth commented on #17939
i just do go get all

[2022-11-17 05:23] #17939 closed

[2022-11-17 06:07] dpedu commented on #18004
I've taken a stab at the latter fix I describe above. It appears to have completely fixed this problem in my cluster.

[2022-11-17 06:54] hsimon-hashicorp commented on #17792
@arusso One thing I would note is that Vault has not always returned the "expected" error or code, as a defense against fuzzing. There are no right or wrong answers here, so please assume positive intent on my part when I ask what your expectations may be, for both a positive user experience and a negative fuzzing experience? I am genuinely curious, and I know Hamid and all of our engineering and

[2022-11-17 07:32] arusso commented on #17792
I understand the point about fuzzing, but in this case unsealing happens once and I wouldn't expect vaults to be in an unsealed state for a long time.

I think given that assumption on my part, that the returning of a 400 is still acceptable since it only reveals what's already obvious, either the unseal worked or it didn't.

By returning a 500 error, you're only confusing the vault admin because

[2022-11-17 07:37] hsimon-hashicorp commented on #17792
Thank you for your input - genuinely! This is always a bit of a gray area for how the Vault engineering teams handle these kinds of cases. There are always arguments both pro and con. Please rest assured that I'll make sure we have a discussion about this with all our stakeholders. I appreciate your patience!

[2022-11-17 07:44] hsimon-hashicorp commented on #17889
I personally agree that this is both "expected" behavior and an area where we can make the experience more user friendly. I suspect the Vault engineering teams will have many existential arguments, Waiting For Godot style, in Slack. (This is entirely tongue-in-cheek on my part, and also very serious; I do very much hope a conclusion will arrive, even if Godot doesn't.)

[2022-11-17 08:45] nsimons commented on #17792
My use case is that I have several Vault clusters, each with their own unseal keys. When accidentally unsealing a cluster with the wrong unseal key, you get back a cryptic error that seems like it is a temporary issue, so you should retry. Of course, by now I have internalized that 'HTTP 500 - message authentication failed' is an user error and actually means the unseal key is wrong. But still, I

[2022-11-17 12:14] ddjain opened #18006 "Vault is giving error while request forwarding."
**Environment:** DEV/PROD

* Vault Version:1.11.0
* Operating System/Architecture:AWS EC2 Machine (Linux)

**Vault Config File:**

[code]

**Startup Log Output:**

[code]

**Expected Behavior:**

- We have setup of 2 vault nodes as vault-a & vault-b , each others are resolved by his DNS (vault-a.com & vault-b.com) expected that it will do request forwarding with each other without any error.

**Ac

[2022-11-17 13:59] ncabatoff commented on #18004
I suspect this is your real problem:
[code]

What does your autopilot configuration look like, specifically the cleanup dead servers threshold?

[2022-11-17 15:12] hghaf099 commented on #18006
Thanks for filing this ticket. Would you please provide us with the complete view of you Vault config for both Vault servers? Also, would you please make sure that there is no networking issue? Like is it possible to telnet from Vault_b host to Vault_a?
Also, it would be helpful to see the output of `vault status`. Thank you!

[2022-11-17 15:38] dpedu commented on #18004
@ncabatoff

The other 4 nodes in the cluster are stable at the time this happens and vault is serving traffic normally.

[2022-11-17 15:40] ncabatoff commented on #18004
With your configuration, if a node ever takes more than 30s to complete the join and pull the logs/snapshot, then send an echo heartbeat to the leader, the leader will remove the new node from the raft configuration, resulting in the error above.

[2022-11-17 15:48] dpedu commented on #18004
Couldn't a node send heartbeats during the transfer to avoid this problem?

[2022-11-17 17:55] hghaf099 commented on #17013
@DocEmmetBrown Thanks for filing this ticket. We are tracking this issue and will be pushing a fix shortly.

[2022-11-17 18:37] dpedu commented on #18004
I am using an aggressive dead server cleanup for the reason of avoiding breaking quorum. Here is a test I just performed using the 5-node n=3 cluster describe in the original post to demonstrate:

1. I reconfigured autopilot with `-cleanup-dead-servers=true -dead-server-last-contact-threshold=3600 -min-quorum=3 -server-stabilization-time=30`. One hour before dead servers are cleaned up.
2. I termi

[2022-11-17 18:42] Mitchell-Gant opened #18014 "Keycloak OIDC - x509 certificate signed by unknown authority"
I’m running Vault 1.12 in dev mode on Amazon EC2 instance. I have configured the realm and client for vault in Keycloak with valid callback urls. Enabled OIDC in Vault UI and configured OIDC with valid OIDC discovery URL, OIDC client ID ,and OIDC client secret.

In the Vault CLI I’ve run these commands:

vault write auth/oidc/config
oidc_discovery_url=“<My_Discovery_URL>”
oidc_client_id=“<My_OIDC_

[2022-11-17 19:37] ncabatoff commented on #18004
I don't understand this, can you elaborate?  The only folks I've seen running into problems like this one is when they've decided they wanted to use autoscaling.

Two different layers.  All the Raft RPCs are handled in https://github.com/hashicorp/raft, and these aren't really directly usable by Vault.  The vault code (https://github.com/hashicorp/vault/blob/main/vault/request_forwarding_rpc.go#L1

[2022-11-17 19:48] kenske commented on #6098
@JasonIamAUnixAdmin Were you ever able to figure this out? Currently running into this same issue.

[2022-11-17 19:51] JasonIamAUnixAdmin commented on #6098
I'm sorry I've not thought about this for 3 years. We ripped Vault out not long after thanks to not wanting to fight this and our cloud provider secrets meeting out needs.

If you aren't yet on the 1.x series of TF do that and you can use newer providers which often fix grief.

[2022-11-17 20:03] dpedu commented on #18004
I see.

I'm not using autoscaling in the sense that I want my cluster to automatically change size based on load. No, I don't want that.

I am however using an autoscaling group to spawn the instances, and it is set at a static count of 5. The reason for this is that autoscaling groups will automatically replace instances that suffer underlying hardware failure and user-specified health checks as

[2022-11-17 21:26] jweissig opened #18024 "docs: broken async-hvac sdk link"
On https://developer.hashicorp.com/vault/api-docs/libraries under the Python section the `async-hvac` link is broken. Looks like the project in no longer maintained.

[2022-11-17 21:45] hghaf099 commented on #17441
@nivedita-p Thanks for filing this ticket. Our product and engineering team are aware of the issue with on-boarding into login MFA for TOTP method and addressing this issue is in our roadmap. Considering that, we do have a proposal on how the Login MFA on-boarding workflow should look like at this point. Here is a orderly listed way of the flow:
1- Configure the TOTP login MFA method and get the m

[2022-11-17 23:07] melezhik commented on #247
hi guys, any progress here?

[2022-11-17 23:35] needToRoll opened #18028 "Add verify step to TOTP 2FA setup"
**Is your feature request related to a problem? Please describe.**
I recently tried to setup TOTP 2FA on my username-password users. Due to some issue with the my TOTP configuration the code my  app generated and the code vault expected did not match.
(I am currently tring to figure out what exactly caused this and I might open a separate issue/bug once I've narrowed it down)
This could be avoided

[2022-11-18 11:29] soumyadeep-paul-ibm opened #18032 "Auto unseal for custom KMS services"
**Is your feature request related to a problem? Please describe.**
Vault auto unseal is currently supported using the KMS services from AWS, Azure, google, Alibaba and Oracle cloud. Besides we understand we can use vault transit for auto unseal. We are currently running Vault on IBM Cloud and would like to use IBM Cloud key protect for auto unseal.

**Describe the solution you'd like**
We would li

[2022-11-18 12:14] nirvana-msu opened #18034 "Allow deleting KV v2 subkeys with patch-like command"
`patch` command conveniently allows to add/modify existing subkey in KV v2 storage. However, there seems to be no way of deleting just a given subkey?

P.S. I'm sure this must have been raised/discussed somewhere, but I couldn't find any feature request here.

**Describe the solution you'd like**
I'd like there to be a simple patch-like CLI command that would allow removing single subkey.

**Descr

[2022-11-18 13:23] Techno-wizard commented on #17527
Sorted my issue was exactly what it said a missing permission, why it worked up to version 1.11.4 with out it, i have not looked in too, but adding "cloudkms.cryptoKeys.get" allows update to 1.12.0

[2022-11-18 13:52] nlang commented on #17918
The CSR is generated on a embedded device with limited resources. I had a chat with the developers, and as far as I understood they construct the CSR themselves because BouncyCastle would not fit on the device and they have no tools for it in their Java Version which apparently is 1.7.

[2022-11-18 14:40] cipherboy commented on #17918
Does `sun.security.pkcs.PKCS10` work on this embedded device? My Java is admittedly rusty (I think JDK7 exposes everything but maybe JDK9+ put it into a module and hid it).

But that is interesting, note the javadoc:

[code]

Here, in the JDK it mentions that the attribute is IMPLICIT, but RFC 2986 doesn't make it IMPLICIT...  (PKCS10 Version 1.7)...

It looks like [RFC 2314](https://www.rfc-edito

[2022-11-18 15:09] enrico-e commented on #17723
Hi everybody, any update on this issue? is everything clear? Do you already schedule when it will be fixed?

[2022-11-18 15:39] #17013 closed

[2022-11-18 15:43] #17900 closed

[2022-11-18 17:05] hghaf099 commented on #18028
Thanks for filing this issue. Would you please share your MFA configuration that caused the issue? There is a consideration to make for Android which is documented [here](https://developer.hashicorp.com/vault/docs/enterprise/mfa/mfa-totp#configuration). It basically says that `Google Authenticator for Android supports only SHA1 as the value of algorithm.`

[2022-11-18 17:44] bmendric commented on #17852
@cipherboy Thanks for the response!

I am quite loaded on work through the end of the year, but can look at submitting an a docs PR.

Good to know on the periodic function call

For 2, I think that makes sense in the context of manually setting CRLs (ie. the automation you use to ship the CRL into Vault should be the responsible party for validating the signature). I am less convinced that argumen

[2022-11-18 18:30] hghaf099 commented on #17329
Thanks for filing this issue. Would you please share your MFA configuration that caused the issue? There is a consideration to make for Android which is documented [here](https://developer.hashicorp.com/vault/docs/enterprise/mfa/mfa-totp#configuration). It basically says that Google Authenticator for Android supports only SHA1 as the value of algorithm.

[2022-11-18 21:50] smrutimandal commented on #11723
This will definitely help.

[2022-11-19 04:49] sycured commented on #17527
For GCP (#17850), good news but it's not the same for AWS (#17551) or Oracle (this issue)

[2022-11-19 15:04] boeboe opened #18060 "[Req] Implement GET on /pki/issue/:name/latest and /pki/issuer/:issuer_ref/issue/:name/latest"
**Is your feature request related to a problem? Please describe.**

Istio users that want to leverage Vault PKI, will typically use the `vault-agent-init` sidecar to bootstrap the istio control plane (istiod pods) with the necessary key material:
 - private intermediate CA key
 - public intermediate CA cert
 - root CA cert
 - cert chain (from intermediate CA cert all the way to root cert, all appe

[2022-11-19 16:56] FalcoSuessgott commented on #5275
Had the same problem and ended up writing my own little tool which helps me listing KV secrets recursively in various useful formats:

https://github.com/FalcoSuessgott/vkv

[2022-11-19 21:03] victorstewart commented on #3687
+1, this is a critical missing feature

[2022-11-20 11:02] needToRoll commented on #18028
Hi @hghaf099
I looked deeper into the TOTP Issue and it is indeed the case that my 2FA App indeed did not support ohter hashing algorithms.
This is not only the case for Google Authenticater but Microsofts Authenticator as well. In fact I found only very few apps that actually supported reading the hashing algorithm from the QR code or OTP URL.

I tried two different Apps (before reporting this) b

[2022-11-20 11:14] atabacar commented on #17608
I am having the same issue. I had Vault 1.8.8 and the download snapshot from UI was working fine. Then I upgraded to 1.11.3 and that functionality broke. In version 1.11.3 I tried both being logged as my usr and as root user. Same behaviour. I can take the snapshot using the cli but from UI it hangs and eventually I get permission denied message in the browser.

[2022-11-20 15:22] denmaddog commented on #17608
Same with v1.12.1.

[2022-11-20 20:49] hsimon-hashicorp commented on #3687
Re-opening for my own tracking. I will bring this up with product again; I can't make any guarantees, but since folks very much want this I will make sure they're also tracking this request. Thanks for everyone's input!

[2022-11-20 23:49] victorstewart commented on #3687
@hsimon-hashicorp actually i just watched the hashicon vault roadmap video yesterday, and they said this feature is coming.

you can do things like have a secret autorotated on a specified schedule and the new secret pushed to you. like new certificates every 72 hours.

[2022-11-21 00:18] voiprodrigo opened #18061 "Two leaders reported at the same time when using Consul service registration"
Hi,

Running Vault 1.11.4 cluster with 5 nodes, using integrated storage. Also running a 5 node Consul cluster v1.13.3, on the same hosts. Each Vault cluster node has service registration configured to report to the adjacent/local Consul node.

After a network partition that affected a couple of nodes, and after recovery of that situation, two nodes are reporting as leader/active to consul. Conseq

[2022-11-21 00:54] hsimon-hashicorp commented on #3687
That's correct - will that be sufficient for your request? Part of why I reopened this was because of a little bit of "and alsos", so if there's specific enhancements that people who've been following along would like, please let me know! I can aggregate them and see if we can get it planned out and scheduled. :)

[2022-11-21 01:03] victorstewart commented on #3687
@hsimon-hashicorp one can imagine other change needs such as... revoking my 3rd party API token and needing to write the new version into Vault and push the new value to every subscriber.

not sure the new features include this ability?

otherwise it has to be done manually by writing a script to discover every instance and push it the new api token, and pre-configuring the program to listen for /

[2022-11-21 09:02] nlang commented on #17918
Hi @cipherboy, thanks for the input. I forwarded it to the developers.
Of course you can use the CSR for filing the issue.
By the way, we also use "node-forge" (a native javascript crypto lib) and it also parses the CSR without complaining.
Thanks for your support!

[2022-11-21 12:25] hrobertson commented on #8789
This is an old request but I found it while searching for duplicates before creating my own similar request.

My use case is members of a team have a policy like this which let's them manage their own App Roles with a limited set of policies:
[code]

The issue is that it only allows single, non-array values of `token_policies`:
[code]
It does not allow more than one of the values specified as **al

[2022-11-21 14:44] valli0x opened #18062 "POST request with double forward slash and GET response"
I send http request with double forward slash (post request)

(python3)
url = "http://127.0.0.1:8200/v1/sys/mounts//kv"

payload = json.dumps({
  "type": "kv"
})
headers = {
  'X-Vault-Token': 'root',
  'X-Vault-Namespace': 'root',
  'Content-Type': 'application/json'
}

response = requests.request("POST", url,
headers=headers,
data=payload)

print(response.text)

I get info about mount kv:
{

[2022-11-21 16:53] argenta-quanto commented on #17939
`go get -u all`

[2022-11-21 18:06] hghaf099 commented on #18061
Thanks for filing this ticket. Would you please provide us with Vault configs and also Vault/Consul logs related to reported issue? Would it be possible to also share reproduction steps?

[2022-11-21 18:59] hashishaw commented on #17834
Hi @sdetoni ! Thank you for the excellent documentation on this bug report. Unfortunately I'm unable to reproduce locally, so will have to lean on you for some more context to track down where this is happening. If you could please share:

* the network request and response from the browser network tab (should be the `POST` method to `/v1/auth/ldap/login/your-username`) with any sensitive informat

[2022-11-21 19:54] hashishaw commented on #17608
This was fixed in PR [#17769](https://github.com/hashicorp/vault/pull/17769) -- will be released with 1.11.6 and 1.12.2. Thanks all!

[2022-11-21 19:54] #17608 closed

[2022-11-21 20:22] hghaf099 commented on #18034
Thanks for filing this ticket. Actually, we do support removing subkeys using kv patch API. For that, the following example should work:
[code]
Note the content type of `Content-Type: application/merge-patch+json` and also the data value which is set to `null`.
This will remove the subkey and increase the version of the key.
However, we had not included the functionality in the CLI yet. I have ope

[2022-11-21 20:45] joliver commented on #17551
Just saw this as well. In our case, we're using the Vault `raft` storage engine and some of the Vault instances didn't come online properly so it couldn't form a quorum. The error we received was `parameters secret_shares,secret_threshold not applicable to seal type transit`

[2022-11-21 22:12] hghaf099 commented on #18034
The fix is merged, I am going to close this issue for now. Please feel free to reopen this issue for further discussion or open a new one with new items.

[2022-11-21 22:12] #18034 closed

[2022-11-22 08:13] BHanq opened #18071 "UI HMAC Never Base64 encoded"
**Describe the bug**
Vault UI HMAC feature in ui/vault/secrets/transit/actions/<key>?action=hmac is bugged and consider the input as “not base64 encoded”. Even if the base 64 checkbox is ticked.

**To Reproduce**
Steps to reproduce the behavior:
1. Run `vault server -dev`
2. Run `vault secrets enable transit`
3. Run `vault write -f transit/keys/my-key`
4. Go on `http://127.0.0.1:8200/ui/vault/secr

[2022-11-22 09:29] AmanChh opened #18072 "Getting issue while running go .mod"
**Describe the bug**
go: github.com/hashicorp/vault@v1.8.5 requires
        github.com/docker/docker@v17.12.0-ce-rc1.0.20200309214505-aa6a9891b09c+incompatible: reading https://proxy.golang.org/github.com/docker/docker/@v/v17.12.0-ce-rc1.0.20200309214505-aa6a9891b09c+incompatible.mod: 401 Unauthorized

**To Reproduce**
Steps to reproduce the behavior:
1. Run `go mod tidy`

**Expected behavior**
Go

[2022-11-22 13:48] cipherboy commented on #17918
@nlang Aha, I reviewed my ASN.1 terminology in preparing to file the Go issue: `IMPLICIT` doesn't mean `OPTIONAL`, but instead has to do with the type tagging (taking the value `[0]`) on the `CertificationRequestInfo`'s `SEQUENCE` member. See e.g., `2.3 Implicitly and explicitly tagged types` of https://luca.ntop.org/Teaching/Appunti/asn1.html.

I believe, if you're getting a CSR without this attr

[2022-11-22 17:11] smrutimandal opened #18081 "Allow agent log format to be specified"
**Is your feature request related to a problem? Please describe.**
At the moment, there isn't a way to set the log format of the vault agent to JSON.

**Describe the solution you'd like**
Vault agent config should allow setting log format.

**Describe alternatives you've considered**
At the moment, I am converting them to JSON. But it will be nicer if it can be done by the agent, just like the ser

[2022-11-22 17:16] hsimon-hashicorp commented on #18081
Since this is a request for Vault Agent, I'm going to move this to the main vault repo. Thanks! :)

[2022-11-22 17:19] hghaf099 commented on #18072
Thanks for filing this ticket. Unfortunately, I cannot reproduce the issue. Would you please confirm if the bug is about Vault 1.8.5? Would you please also confirm which Go version are you using?

[2022-11-22 17:38] cipherboy commented on #18060
Curious, have y'all further considered simply reissuing the intermediates? Unless you're pinning to them, using an ECDSA intermediate and root cert would allow it to be reissued almost as fast as reading it from storage. In general, we suggest treating leaf certificates (which, from the root's perspective, an intermediate is) as just another resource that gets refreshed and rotated. Whenever the p

[2022-11-22 18:36] johnsmartco commented on #17905
@ccapurso , Chris thanks for providing the correct pointer.  Appreciated!

[2022-11-22 19:26] ccapurso commented on #17905
No problem, glad it helped!

[2022-11-22 19:35] #14888 closed, assigned to nobody

[2022-11-22 19:40] #16529 closed

[2022-11-22 21:27] hghaf099 commented on #18081
Thanks for filing this ticket. Would you please share your agent config? Or share the details of how did you try to set the logger format? I am asking because vault agent does indeed support setting log format to Json. You just need to set `log_format = "json"` in your agent config.

[2022-11-22 21:56] finnstech commented on #8953
I've added a [PR ](https://github.com/hashicorp/vault/pull/18092) to update the docs. Thanks for the feedback!

I am the PM working on Agent and I'm curious about the use case for setting up Agent like this as described by @hamishforbes and @vvidovic -- it's like you're turning Agent into a secure tube to pass secrets through to K8s from Vault server?

[2022-11-22 23:05] #17113 closed

[2022-11-23 01:11] rjhornsby commented on #12698
We're trying to centralize on vault, and get away from random deployments of KeePass, etc. As part of this, we're trying to rely on the Vault web UI for our less technical users who still need access to secrets like corporate-owned vendor accounts. Enabling TOTP on these accounts when available is best practice.

Having the TOTP at least _readable_ in the UI could significantly help us with broade

[2022-11-23 01:33] hamishforbes commented on #8953
I think my original comment on this issue predates my usage of Kubernetes, but yes essentially.

My application container uses consul-template in [exec mode](https://github.com/hashicorp/consul-template/blob/main/docs/modes.md#exec-mode) to render Vault secrets to a file and then supervisor the application process.
This is so the application itself doesn't need to implement watching a file(s) for

[2022-11-23 01:54] wuchuxiong commented on #17820
Hi Maxb,
    My vault is launched as as k8s deployment. During the vault upgrade, the vault is upgraded through a k8s rolling update. That means the old vault pod is still running while the new vault pod is starting up. The old vault pod will be deleted until the new pod get ready. So in the startup phase, there indeed are two vault pods are connecting to the same backend storage files.
   I notic

[2022-11-23 02:46] santachago commented on #14671
Hi i am facing the same issue on version 1.12.1, but in my case OIDC was working perfectly on the CLI and UI before enabling MFA with DUO, after MFA was enabled the UI started giving this same error while CLI is working as expected.
On the UI also tried not using the oicd tab and going with the "other" method but still not working.

[2022-11-23 06:59] mr-karan opened #18095 "Vault OIDC login not working with redirects"
**Describe the bug**
A clear and concise description of what the bug is.

This command used to work before v1.21.1 was released:

`vault login -no-print -method=oidc role=dev`

Going through the release notes, I think this is related to this change https://github.com/hashicorp/vault/pull/17352

**To Reproduce**

I've the following URLs for Gitlab OIDC'S  `Redirect URI`:

[code]

On using `vault lo

[2022-11-23 08:57] mr-karan commented on #18095
Ah, somehow the Vault instance were using old peers in my cluster config and that was resulting in this error. I checked vault logs and found this issue.

Can be closed, although this error message was weird and let me into believing something _client_ side has changed.

[2022-11-23 08:57] #18095 closed

[2022-11-23 13:35] cipherboy commented on #18060
\o cool, glad to hear @boeboe! I'm going to go ahead and close this, but let me know in the future if this doesn't end up working out.

I think the only tricky thing here is that some clients need more encouragement than others to send intermediate CAs, but generally it should be possible with all I've tried.

[2022-11-23 13:35] #18060 closed

[2022-11-23 16:24] sbirl opened #18100 "Disable token login auth for web GUI"
**Is your feature request related to a problem? Please describe.**
Yup, as asked in [discuss.hashicorp.com](https://discuss.hashicorp.com/t/disable-token-login-auth-for-web-gui/45539)

**Describe the solution you'd like**
In a nutshell: We’re looking to disable/hide token logins at website.

**Describe alternatives you've considered**
None, but if there _are_ alternatives, please let us know. :D

[2022-11-23 16:55] maxb commented on #17820
This is absolutely not safe at all with `file` storage, and could well explain the data corruption / misbehaviour you have described in this ticket.

[2022-11-23 19:10] jd-sandk commented on #370
+1 for SAML support.

[2022-11-23 19:23] briantist commented on #8953
@finnstech my use case also has nothing to do with kubernetes. It's just about having Agent act as a proxy so that clients can make unauthenticated requests and have the Agent inject the auto-auth token in its request to the upstream Vault server.

[2022-11-23 22:23] maxb commented on #18100
As I already said over in the discuss.hashicorp.com thread:

Logging in with the token auth method isn’t really logging in - it’s really saying “I already logged in and here’s the evidence”.

You suggest here your goal is to prevent people using root tokens. The generally accepted - and documented - way to accomplish that is to revoke all root tokens as soon as the initial setup of viable auth met

[2022-11-24 00:09] sdetoni commented on #17834
Hi Chelsea,

I've completed further investigation of the issue with LDAP auth, and it looks to be an issue with my proxy service which is in front of our vault installation. I'll need to sort this out on my end; seems to hate the LDAP request under V1.12.1, but OID requests are fine.

Thanks for looking into this; please close this bug.

Regards,
sdetoni.

[2022-11-24 01:51] sdetoni commented on #17834
Update:
I have managed to resolve my reverse proxy issue, the problem was with the security header Content-Security-Policy, and can now auth via Web UI using LDAP.

[2022-11-24 07:06] wuchuxiong commented on #17820
Do you mean the file storage backend isn't safe? Or it's not safe when a new vault pod is starting up before the old vault pod isn't stop?

[2022-11-24 07:50] artur-borys1 commented on #17722
Hi, are there any updates on this or should I use older (< 1.12.0) version of Vault?

[2022-11-24 11:44] shaj13 commented on #5491
@raskchanky I was curious what's the status of it, I'd also love this feature, and will be happy to raise PR.

[2022-11-24 11:49] neo3matrix commented on #17002
In my case, I am not using any TLS (https) setup.
Somehow, it's still not working out.

Really need solution from someone who actually have it working with consul as backend and used ingress for vault.

[2022-11-24 12:25] maxb commented on #17820
The second.

It's **only** safe to use any storage backend with multiple Vault processes running simultaneously, if it's a storage backend that supports High Availability, and if it's supports enabling/disabling High Availability via a configuration option, it needs to be turned on.

The HA status of each storage backend is documented on its page under https://developer.hashicorp.com/vault/docs/co

[2022-11-24 12:35] hennadii2012 commented on #17329
Thanks for your answer. You are absolutely right. I did not see this point in doc on vault install and did not check later. Thank you. It is really main reason of the problem. In our case we use SHA512 algorithm

[2022-11-24 12:36] #17329 closed

[2022-11-24 12:37] maxb commented on #17002
I provided such an example in my previous comment.

[2022-11-24 13:11] maxb commented on #18062
Making an HTTP request with multiple consecutive slashes in the URL-path to the Vault API does not have a defined behaviour.

The actual behaviour is that Vault inherits the Go http library's default of responding with a 301 redirect to the path with the slashes deduplicated.

It appears that your client then resubmits a GET request to the redirect destination.

There is certainly an argument here

[2022-11-24 15:00] WatsongRB opened #18117 "2x Vault pod with label "vault-active: "true"" even after one steps down as leader"
**Describe the bug**
2x Vault pod have the label "vault-active: "true"" even after one steps down as leader.

3x Vault pod running in HA mode, using built in raft, not enterprise edition, in Kubernetes V1.24.3.

Both pods, (Vault-0 and Vault-2), are labelled with: "vault-active: "true"".
The Kubernetes endpoint "vault-active" is assigned both addresses.

**To Reproduce**
The fault occurs whenever

[2022-11-24 16:38] wuchuxiong commented on #17820
Thank you very much for your very valuable information.
Then I have to start the vault pod through a single replica statefulset or single replica deployment with strategy type is Recreate.

[2022-11-24 18:00] ncabatoff commented on #17820
Thanks for helping to get to the bottom of this @maxb.  I'm going to close this as it doesn't appear to be a bug.

[2022-11-24 18:00] #17820 closed

[2022-11-24 19:31] #17834 closed

[2022-11-24 19:32] sdetoni commented on #17834
This has been resolved

[2022-11-24 23:25] haraldrudell commented on #17939
I find with github.com/99designs/gqlgen that wants github.com/hashicorp/golang-lru v0.5.4,
go tries to update to v1.0.1 and things fail after that.

A get-around is to run `go get github.com/hashicorp/golang-lru@v0.5.4` when an update causes troubles

v0.5.4 is 2016 era

[2022-11-25 08:14] soumyadeep-paul-ibm opened #18119 "Improve documentation for ssh signed certificate based login"
Hi Team, we are using HashiCorp vault to sign ssh certificate with vault CA and logging in to target.
We are following the documentation https://developer.hashicorp.com/vault/docs/secrets/ssh/signed-ssh-certificates#client-ssh-authentication

In the documentation, point number 5 in the client-ssh-authentication section, the command for ssh is given as
`ssh -i signed-cert.pub -i ~/.ssh/id_rsa usern

[2022-11-25 09:19] verdel commented on #11220
@shanerade, why was pull request closed?

[2022-11-25 10:48] xeivieni opened #18120 "Okta OIDC callbacks hanging in the UI when not authorized"
**Describe the bug**
When using the UI to login with oidc auth method (using okta as provider) if the user is not allowed to log in (or is there is a configuration issue) the UI hangs forever with login button spinning.
<img width="582" alt="image" src="https://user-images.githubusercontent.com/8633862/203965765-6fa81cab-4fe2-47a0-acdc-83fe82fa726f.png">

On the other hand, when trying to do the s

[2022-11-25 13:19] acortes-okode commented on #14671
Hi all,

I have a related issue on 1.11.3 trying to perform [JWT login](https://developer.hashicorp.com/vault/api-docs/auth/jwt#jwt-login) on `/v1/auth/oidc/login` (also have tested `/v1/auth/jwt/login`):

[code]

No issues on the UI with OIDC method, it works as expected. The callback URL (`v1/auth/oidc/oidc/callback`) is called correctly with `state` and `code` parameters and it returns the `cli

[2022-11-25 14:22] maxb commented on #14671
@acortes-okode That is unrelated, and is actually Vault functioning as designed. Each role you configure in the OIDC/JWT auth method can be used for OIDC login or JWT login **but not both**. The role's `role_type` must be configured to the one you want to use Please open a discussion topic at https://discuss.hashicorp.com if you'd like further assistance understanding this detail of how to configu

[2022-11-25 20:51] abh commented on #2816
See https://github.com/hashicorp/vault/pull/6113 (tl;dr: `vault write -output-curl-string ...` will show a curl command to do the request instead of doing the request).

[2022-11-27 00:52] chance2021 commented on #6287
Removing "quote" in the token works for me! Thanks!
[code]

[2022-11-27 10:05] maxb commented on #18119
I compiled OpenSSH 8.0p1 from source, curious if the CLI behaviour had in fact changed since that version. It accepts the form of the command in the Vault documentation as is, and works for me.

Therefore I suggest the proposed change not be applied, as it would make the command a user is told to type a fair bit longer and less memorable, and the reason for it not working in this particular report

[2022-11-27 10:16] maxb commented on #18072
The error shows proxy.golang.org returning a 401 Unauthorized error.

Since the public proxy.golang.org service doesn't require or use authentication, my guess is it's something like:
* a corporate intercepting proxy performing man-in-the-middle inspection on internet traffic
* a problem on Google's side (they run proxy.golang.org)
* a throttling/rejection of the requesting source IP for some kind

[2022-11-27 12:25] aram535 opened #18123 "GO API - namespace list"
**Describe the bug**
This maybe just a lack of documentation or possibly a missing feature?  I cannot find any API to list the child-namespaces in the go api.  Currently the best workaround to do this is drop down to URL and do the query.

**Environment:**
Go 1.19.3
Vault  1.12.1
API Version: v1.8.2

[2022-11-28 08:40] soumyadeep-paul-ibm commented on #18119
In our working and not working scenario: Both cases, the ssh client version is same
openssh-clients-8.0p1-13.el8.x86_64 (RHEL 8.6)

It is the opens server version that differs,
- It works for server version openssh-server-8.0p1-13.el8.x86_64 (On RHEL 8.6)
- It doesn't work for server version openssh-server-8.0p1-6.el8_4.2.x86_64 (On RHEL 8.4)

From the logs, we see when a certificate is passed wit

[2022-11-28 09:42] obourdon commented on #17737
Still no feedback on this ????

[2022-11-28 12:12] forty commented on #7471
As of v1.12.0 this issue is still happening and flooding logs.

[2022-11-28 12:57] sbirl commented on #18100
Ok ... documented where, please?

[2022-11-28 14:42] EvertonSA commented on #18120
This is not only Okta specific, seems to happen on all oidc providers. I tested with gitlab and github and the UI hangs in case of error.

[2022-11-28 17:23] dmitrytretyakov opened #18129 "Automatic re-read tls certs for storage backends"
**Is your feature request related to a problem? Please describe.**

HI, looks like Vault must be restarted to use new certs for etcd storage.
We use Vault in k8s with etcd as a storage with tls and cert-manager as a cert provider.
After rotating, certs are updated inside pod but Vault uses a previous one:

`{"level":"warn","ts":"2022-11-14T10:54:51.021Z","logger":"etcd-client","caller":"v3@v3.5.0/

[2022-11-28 17:49] cipherboy commented on #18119
Could this be a RHEL-only change fixed by a patch since?

[2022-11-28 18:01] maxb commented on #18119
It doesn't really sound right to me that what is effectively client-side behaviour, is varying with server-side version.

I wonder if the different server versions are in fact not the actual cause, and there is other configuration present in this client environment that causes different behaviour with different server names being connected to.

[2022-11-28 18:03] maxb commented on #18100
https://developer.hashicorp.com/vault/docs/concepts/tokens#root-tokens

[2022-11-28 18:09] cipherboy commented on #18119
Yeah I agree, @maxb.

@soumyadeep-paul-ibm can you share complete debug logs both client and server side on both version pairs, along with their relevant execution parameters? The partial logs shared above don't point to any concrete issue and why passing `CertificateFile` option actually fixes it.

[2022-11-28 19:33] raskchanky commented on #5491
@shaj13 This issue is not currently being worked on, but if you'd like to work on it, please feel free.

[2022-11-28 20:20] mirkoszy commented on #18006
I have similar issue (maybe the root cause is the same)

My setup:
Kubernetes Cluster (hosted in DigitalOcean), Vault backend (KMS and storage) hosted in GCP (KMS, Bucket). HA enabled - 3 replicas. Vault installed from official Helm Chart. No customization or specific config (autounseal with KMS only)

All replicas are up and running. One is active, the rest are standby nodes.

`vault status` comm

[2022-11-28 21:16] paxwell92 commented on #17878
We had a very similar issue. We were crashing vault when trying to register a plugin under v1.12.1.  I think the issue is around changes to the plugin life-cycle in v12. As of v12 plugins are started and killed to check what version they are v4 or v5 during the registration process.

 During this process func Factory is used to create a new Backend and provided  *logical.BackendConfig

we were (im

[2022-11-29 00:01] #17792 closed

[2022-11-29 06:03] puppy61 opened #18132 "How to format the output to json"
Hello, the output values default to map. How to format the output to json.
[code]
Thank you.

[2022-11-29 14:33] VioletHynes commented on #18081
Thanks for the report!

Closing this, as this should be fixed by #18031 (which is now merged) - afterwards, it can be configured by the `log-file` CLI option, the `log_file` HCL parameter, or the `VAULT_LOG_FORMAT` environment variable.

[2022-11-29 14:33] #18081 closed

[2022-11-29 14:37] VioletHynes commented on #18132
Hi there! If I understand your request properly, you can do it like this:
[code]

You can change the filename (such as to add `.json`) using the following annotation: https://developer.hashicorp.com/vault/docs/platform/k8s/injector/annotations#vault-hashicorp-com-agent-inject-file

[2022-11-29 18:09] rossmohsenzadeh opened #18142 "How do we handle single instance / multiple database credentials natively?"
**Is your feature request related to a problem? Please describe.**
A clear and concise description of what the problem is. Ex. I'm always frustrated when [...]
We are trying to use vault as a way to create credentials in RDS and self hosted SQL Server. How do we handle single instance / multiple database credentials natively?
**Describe the solution you'd like**
A clear and concise description of

[2022-11-29 20:35] maxb commented on #18132
That approach will break if the data values contain values which disrupt the JSON formatting, though.

I would go for something like
[code]

[2022-11-29 22:31] raskchanky commented on #18142
Hi @rossmohsenzadeh. Thanks for reaching out! We use GitHub issues to track bugs and feature requests. Your question is better suited to our [Community Forums](https://discuss.hashicorp.com/c/vault/30). I invite you to post your question there. Thank you!

[2022-11-29 22:31] #18142 closed

[2022-11-29 22:31] maxb commented on #18119
I built a CentOS 8.4 VM, which had the same package version of openssh-server as reported above. I tested the command as written in the current Vault docs with two `-i` options. It worked.

I'm pretty sure this is a local configuration issue in @soumyadeep-paul-ibm 's environment, rather than something linked to software versions, at this point.

[2022-11-29 22:35] raskchanky commented on #18072
Based on the info @maxb provided, and given @hghaf099 was unable to reproduce this, it doesn't sound like this is a bug with Vault, per se. As such, I'm going to close this issue. Please feel free to respond with more information if you feel this was an error. Thanks!

[2022-11-29 22:35] #18072 closed

[2022-11-29 22:45] raskchanky commented on #18132
Hi @puppy61. Thanks for reaching out! We use GitHub issues for bug reports and feature requests. Your question is a better fit for our [Community Forums](https://discuss.hashicorp.com/c/vault/30). If the answers that @VioletHynes and @maxb gave you are not sufficient, I invite you to post your question there. Thanks!

[2022-11-29 22:45] #18132 closed

[2022-11-29 22:53] raskchanky commented on #18123
Hi @aram535. Thanks for reaching out! I think you can accomplish what you want just using the regular namespaces APIs. Below is a screenshot of me creating a top level namespace, `ns1`, and then two child namespaces inside `ns1`: `ns2` and `ns3`. Following that, I list the child namespaces inside `ns1`, and finally, list the namespaces visible from the root namespace. The Vault CLI is using the [L

[2022-11-29 22:59] raskchanky commented on #18100
What @maxb said is correct. Tokens are the fundamental unit of authentication inside Vault. If you possess a token, then you don't need to login to anything - logging in is what ultimately gives you a token, but the token itself is all Vault cares about. I'm going to close this for now, as it doesn't sound like there's anything actionable for the Vault team to do here, but I'm happy to reopen if t

[2022-11-29 22:59] #18100 closed

[2022-11-29 23:02] aram535 commented on #18123
@raskchanky I think you're confusing API/CLI with what I opened the ticket against, the Go SDK/API.

[2022-11-29 23:34] aram535 opened #18148 "GO API - namespace list"
This got closed incorrectly: #18123 - recreating it

This is NOT regarding the vault client or API -- the functionality is missing from the Go client.

Describe the bug
This maybe just a lack of documentation or possibly a missing feature? I cannot find any API to list the child-namespaces in the go api. Currently the best workaround to do this is drop down to URL and do the query.

Environment:
G

[2022-11-30 00:36] raskchanky commented on #18123
While you are correct that there is no dedicated API in the Vault Go SDK to accomplish namespace listing, it's still possible using logical list operations. Something like the following, for example, would roughly accomplish what's shown in my screenshot. Note that in the interest of brevity and showing the relevant calls, I've ignored all error handling. I also haven't tested this code, so it mig

[2022-11-30 00:41] raskchanky commented on #18148
I've responded in the original issue. It's unlikely that dedicated functionality will be added to the SDK to accomplish what you want, given how specific it is. It's definitely possible to do, though, as [my example](https://github.com/hashicorp/vault/issues/18123#issuecomment-1331497147) illustrates. I'm going to close this issue as a duplicate, but if there's more about this that you'd like to d

[2022-11-30 00:41] #18148 closed

[2022-11-30 08:42] Niba-nazar opened #18150 "Vault backup and migrate to another server"
Hi,

I am new to hashicorp vault. Recently I installed a vault on one of my Linux servers. I tried adding some secrets using `vault kv put test-key/aws/s3-objects secret=xxxxxx`.

Now I want my vault to move from the current server to another. For that, I have referred to many docs related to it. Unfortunately, I am finding those steps more complicated and unable to proceed with the migration.

Al

[2022-11-30 10:35] droslean opened #18151 "BUG: Too many arguments (expected 2, got 3)"
[code]

Following https://developer.hashicorp.com/vault/docs/commands/policy/write.

What I am doing wrong? How can I pass the `--address` flag?

[2022-11-30 10:51] droslean commented on #18151
The only workaround is to expose the address via the `VAULT_ADDR` environment variable. However, this BUG still stands.

[2022-11-30 10:57] aram535 commented on #18123
@raskchanky I absolutely agree that this is a "want" and a shortcut but most of the functionality in the SDK is helper functions.  I'd like to ask for reconsideration that listing child namespaces is a very often used function when dealing at an enterprise level where you're trying to finding a matching pattern of some entity, mount, etc.

[2022-11-30 12:03] NagenderPulluri commented on #10816
+1

[2022-11-30 13:23] soumyadeep-paul-ibm commented on #18119
Well, this is embarrassing.
I too am unable to reproduce the problem on the same set of server/client VMs.
It is working with two -i option as well as -o CertificateFile. Its a mystery to me why it didn't work earlier.
My apologies and thanks a ton for your support.

[2022-11-30 14:04] cipherboy commented on #18119
Thanks all! I'll go ahead and close this with no changes to docs.

[2022-11-30 14:04] #18119 closed

[2022-11-30 14:13] droslean commented on #18151
@stevendpclark I tried all combinations. This is still not working

[2022-11-30 14:26] stevendpclark commented on #18151
Hi @droslean,

I'm sorry but I'll need more information of what you are seeing,  such as version of vault (`vault version`) you are running and the error you are seeing as I can not reproduce the issue you are reporting.

[code]

[2022-11-30 14:30] jpetblk opened #18162 "Azure secrets engine, ability to specify static SPN secret expiry"
We require the flexibility to specify the expiration for secrets associated with static Service Principals in Azure. Vault hard-codes the expiration to 10 years. Our policy requires these secrets to be rotated every 6 months and for us to set expiration dates accordingly. The TTLs we will be assigning to Azure Secrets Roles in Vault will be well short of 6 months for the most part.

[2022-11-30 15:27] robertdebock opened #18164 "/sys/quotas/rate-limit does not allow multiple rate-limits with different properties"
**Describe the bug**
The [/sys/quotas/rate-limit](https://developer.hashicorp.com/vault/api-docs/system/rate-limit-quotas) endpoint does not allow multiple rate-limit configurations with the same path.

**To Reproduce**
1. Make a namespace.

[code]

2. Add a rate-limit for that namespace.

[code]

3. Add another rate-limit for that namespaces.

[code]

**Expected behavior**
I was expecting status

[2022-11-30 17:04] VioletHynes commented on #18164
Hi there!

You're right - we do not allow multiple quotas on the same path. Only a single rate limit quota can apply to a given request, so we do not allow you to make multiple quotas for the same path as a result.

Ultimately, if you're trying to make two quotas for the same path where one has a limit of 50 and another has a limit of 500 within the same interval, the second quota is obsolete.

Th

[2022-11-30 17:18] allyunion opened #18165 "Please add the access key age and/or creation date to AWS Secrets Engine"
**Is your feature request related to a problem? Please describe.**
Vault does not know how old the access key is

**Describe the solution you'd like**
Although the AWS console has the information about the age of the access key, it would be better to cache this information in vault and either have vault understand that the "root IAM credential" it has needs to be rotated out regularly based on a s

[2022-11-30 17:30] raskchanky commented on #18123
Ok, I'll mark this as a feature request then.

[2022-11-30 17:47] raskchanky commented on #18150
Hi @Niba-nazar. Thanks for reaching out! We try to reserve GitHub issues for bug reports and feature requests. An excellent venue for your question would be our [Community Forums](https://discuss.hashicorp.com/c/vault/30). I invite you to post your question there. Thanks!

[2022-11-30 17:47] #18150 closed

[2022-11-30 18:26] inflatador opened #18168 "Automatic Consul service registration fails when using Vault integrated storage"
### Automatic Consul service registration fails when using Vault integrated storage

Steps to reproduce the behavior:
1. Enable consul service registration as [described in Vault docs](https://developer.hashicorp.com/vault/docs/configuration/service-registration/consul) .
2. Restart vault service
3. See error:
[code]
**Expected behavior**

Consul service registration works as described in Vault do

[2022-11-30 19:21] raskchanky commented on #18168
Hi @inflatador. Thanks for reaching out! Have you tried this on other versions of Consul? I'm curious if it's only a problem with 1.14.x.

[2022-11-30 19:42] raskchanky commented on #18168
I've attempted to reproduce the issue, but so far have not had any success. I built Vault from the commit SHA you specified, and am using the following config file:

[code]

I'm running Consul 1.14.1 in a docker container. I was able to start Vault up, init and unseal, and everything looks ok. I don't see anything abnormal in Vault's logs. In Consul's logs, I see the following, repeated every 5 se

[2022-11-30 20:05] john159753 commented on #17583
Glad I found this! Should definitely be included in the documentation.

[2022-11-30 20:23] tomhjp commented on #17722
Thanks for the report, and sorry this didn't get fixed in time for 1.12.2. #18173 should fix it, and will be in 1.12.3.

It's not ideal, but the best listing workaround I can offer for now (other than disabling auditing which is obviously a no-go) is that the ["typed" list endpoints](https://developer.hashicorp.com/vault/api-docs/system/plugins-catalog#list-plugins-1) don't suffer from this proble

[2022-11-30 20:40] hawleyOSU commented on #17583
I can confirm that it is just passing those values to the Duo API, and following the Duo documentation works as expected. John, you are right, it really is just missing documentation by Hashicorp. The Duo integration as a whole is not well documented.

[2022-11-30 21:19] inflatador commented on #18168
@raskchanky  Very much appreciate the quick response! Upon further review, it looks like the issue was ACL-related. Sorry to waste your time, and have a great rest of your week!

[2022-11-30 21:19] #18168 closed

[2022-11-30 21:20] raskchanky commented on #18168
@inflatador No worries! Thanks for the quick reply. I'm glad you were able to resolve so quickly.