[2019-03-28 15:23] jefferai commented on #6491
Hi there,

We do validation checks on wrapping tokens before they hit the main request flow, which is why they don't hit audit. That said, if we're auditing normal invalid tokens, we should audit this too, so we'll get that added!

[2019-03-28 15:40] Leletir commented on #6442
@kalafut  but why the @ ?

[2019-03-28 15:42] kalafut commented on #6442
That's the CLI mechanism to reference the content of a file:  https://www.vaultproject.io/docs/commands/#files

[2019-03-28 15:48] Leletir commented on #6442
Oh okay 😅I miss this part ... Thank you very much !
I've seen you've added documentation about using Keycloak as an OIDC provider.

I'm trying to configure Keycloak as an OIDC provider, I think I still miss some something, each time I try to connect to Vault (via the UI), Vault is asking me for a token (It should redirect me to keyclaok login page isn't it ?)

[2019-03-28 15:52] kalafut commented on #6442
If you've configured the role as OIDC, once you enter that role name in the UI, the token field should go away, and a login button will be shown which directs you to Keycloak.

[2019-03-28 16:28] Leletir commented on #6442
Okay I don't have configured the role yet, that's the missing part.

Thank you for your help, there are still some concepts I don't understand, but I think it's because my lack of knowledge about OIDC (bound_audiences, user_claim, bound_claims, groups_claim)

[2019-03-28 16:54] sgmiller commented on #4627
Any resolution on this?  We're running 1.0.0 and appear to be hitting this issue.

[2019-03-28 18:10] ncabatoff commented on #6494
Apologies, I didn't read your bug report carefully enough.  You already understand the issues I brought up in my previous comment.  I'm not sure why it's not working for you.  I'll try to reproduce it with Azure.

[2019-03-28 18:23] janbrunrasmussen commented on #6494
Thanks for looking at it @ncabatoff! Let me know if I left out relevant details.

[2019-03-28 20:47] ncabatoff commented on #6494
Here's a possible hint.

I got this error as well when the groups_claim mapped to a null value in the id token.  When I fixed it so that there was an empty list instead, the error disappeared and I was able to login, though without being a member of the group I wanted.  When I had it return a list with the single element matching the name of my group alias, I was able to login and was added to the

[2019-03-28 21:42] gordonbondon commented on #5962
Third party plugin is available https://github.com/mealal/vault-atlas-plugin . We tested it at our environments and it works.

[2019-03-28 23:12] jurgenweber commented on #2937
as per here; https://coreos.com/tectonic/docs/latest/vault-operator/user/monitoring.html#alerting-rules These metrics do not seem to exist in Vault 1.1.0. Does anyone have any recommendation for alerts outside of these?

[2019-03-29 06:33] SvenDowideit commented on #4946
and then i cam across https://github.com/kr/pty too - i don't see windows support, but maybe its an abstraction that would allow go to have one...

[2019-03-29 08:01] reiterbenjamin opened #6499 "Vault 1.1.0: Creating pki role(s) fails"
Hey there,

**Description**
Since the new version 1.1.0, I'm not able to create pki roles anymore (I tried via curl, cli and gui).
In the gui under "details", everything is empty. I'm also not able to edit the role, because no fields are visible.

**To Reproduce**
Steps to reproduce the behavior:
1. Open GUI (or try via CLI or API)
2. Create pki secrets engine
3. Try to create a pki role
4. No fie

[2019-03-29 08:02] bartse commented on #6494
@ncabatoff I'm not sure if I'm running into the same issue or not but I configured the provider in the same way and getting the same error code.

I'm wondering how the group claim and claim mappings would look like. Would it be possible to detail the parameters?

[2019-03-29 08:12] janbrunrasmussen commented on #6494
I am getting this error when I set the `groups_claim` to a value that does not exist as a claim (e.g. `thisisnotintheclaim`, but when I set `groups_claim='groups'` the error disappears and I can log in:
```Error: Ember Data Request GET /v1/auth/oidc/oidc/callback returned a 400 Payload (Empty Content-Type) [object Object]```
The error reappears if I set `groups` in `claim_mappings`.
Also, I can se

[2019-03-29 08:20] kasimon commented on #1087
We also would have a lot of interest for a dynamic secret backend for LDAP accounts.

[2019-03-29 12:44] ncabatoff commented on #6494
I have an explanation for why putting `groups` in `claim_mappings` results in an error: we require the groups_claim return a list of strings, but the `extractMetadata()` call that copies `claim_mappings` into metadata requires that the value of each referenced claim must be a string, and returns an error otherwise, failing the authentication process at the stage where it's trying to create the ide

[2019-03-29 14:54] ncabatoff commented on #6486
Can you run `vault token lookup` and confirm that the `id` field matches what you're logging in to the UI with?

[2019-03-29 14:55] janbrunrasmussen commented on #6494
Well, I am unsure how Vault parses the groups, but here is the actual output:
[code]

[2019-03-29 15:06] ncabatoff commented on #6494
Right, so the problem is a mismatch between the Vault OIDC auth method groups_claim requirements and what Azure is giving us as `groups` with the `Groups.Read.All` scope:

[code]

I'm not sure whether we should be asking Azure to provide an equivalent mechanism that returns a list of strings, or trying to accommodate this use case.  I don't believe there's any kind of standard to follow here.  I'l

[2019-03-29 15:12] jefferai commented on #6499
Note for UI team -- I wasn't able to reproduce any issue on the CLI, but -- any known issues on the UI side in 1.1?

[2019-03-29 15:30] janbrunrasmussen commented on #6494
But what I don't understand is why the group mapping works under jwt but not oidc?

[2019-03-29 15:37] ncabatoff commented on #6494
What does the jwt token look like?

[2019-03-29 15:46] kalafut commented on #6494
I was testing this and saw no groups claims at all in my token when using OIDC.  Setting "groupMembershipClaims" to "All" in the application manifest at least resulted in a list of groups in the token.  I'm learning this too; this may not be the best/correct way.

ref: https://docs.microsoft.com/en-us/azure/active-directory/develop/reference-app-manifest#manifest-reference

[2019-03-29 16:06] meirish commented on #6499
Yes, this was fixed in https://github.com/hashicorp/vault/pull/6474 and will be out in 1.1.1.

[2019-03-29 16:06] #6499 closed

[2019-03-29 17:11] danlsgiga commented on #6467
Commenting here just to confirm the suggestions offered here worked like a charm. After changing my AWS auth roles to use `period` and setting `max_ttl` to 0 everything is working as expected... I can see the Vault Agent renewing not only the AWS Auth Token leases but also the Consul ACK token leases.

Thanks a lot!!!

[2019-03-29 17:19] jefferai commented on #4627
If you mean our Golang API libraries, it has the same retry behavior. You may want to try setting it off and simply handling whatever the error is. (You may also want to look in your server logs for the error.)

[2019-03-29 17:25] identitymonk opened #6501 "$VAULT_TOKEN not processed when using vault login command"
**Describe the bug**
On V1.1.0, when using _vault login_ command in an environment set with $VAULT_TOKEN, the vault instance still asks for a token to be provided inline. If the value provided is different from the one set in $VAULT_TOKEN, the vault instance opens a session with the identify of the token provided inline despite warning of:

[code]

**To Reproduce**
Steps to reproduce the behavior:

[2019-03-29 17:28] jefferai commented on #6492
I don't see any issue with defense in depth.

[2019-03-29 18:51] janbrunrasmussen commented on #6494
I am not sure how to share to jwt itself without giving away sensitive information, but just to reiterate: Group mapping works with the jwt auth method, but when using the oidc auth method it does not. I am using exactly the same application registration in Azure and I can see the group claim values in the Vault logs. So Vault is getting the groups from the token, but users are not mapped to the g

[2019-03-29 18:59] ncabatoff commented on #6494
I don't know how you're creating the JWT and I know very little about Azure so it's hard for me to conclude anything from the above.  Rather than share the actual JWT token, you could decode it using something like https://jwt.io/ then post the payload here, eliding any sensitive information.  I just want to see the structure.

[2019-03-29 19:12] kalafut commented on #6501
Hi. The warning is accurate, and your stated expected behavior is the current behavior. The CLI login process will have written your new token out to ~/.vault, and it will be used if $VAULT_TOKEN isn't set. The description of the token is for the one that was just created/stored. But as long as $VAULT_TOKEN is set, it will take precedence. For example, after step 5 in your process, subsequent CLI

[2019-03-29 20:15] identitymonk commented on #6501
Hi,

Thanks for the explanation. So I understand that this is less critical than I feared.

Now what is the purpose of login in if it has a different behavior than all the others command in an $VAULT_TOKEN set environment? Just checking the credentials?

I keep scratching my head to the purpose of such a different behavior and the Warning is not so clear"

Thanks

[2019-03-29 20:42] kalafut commented on #6494
@janbrunrasmussen One thing I noticed is your `oidc_discovery_url` being https://sts.windows.net. I think(?) that's the V1 endpoint. My endpoints (i.e. in the portal) are all of the form: https://login.microsoftonline.com/{tenant}/v2.0.  Further, when I `curl` the .well-known endpoint for these two, the STS one has fewer supported scopes.

The issue of V1 vs. V2 tokens was mentioned recently on th

[2019-03-29 21:07] kalafut commented on #6501
`vault login` is going to facilitate authenticating via some method. In the case of "token" auth (the default), the operation is very simple, because you already have the token so the CLI will just lookup the token and display information about it, and write it out to ~/.vault-token. But if you did something like `vault login -method=github`, it will use the GitHub auth process to actually creates

[2019-03-29 21:35] #6501 closed

[2019-03-29 22:16] hmalphettes commented on #6435
Hi everyone, I created a proof of concept for this feature: https://github.com/hashicorp/vault/pull/6462

<img width="671" alt="lodging-sensitive-credentials-in-the-vault-UI" src="https://user-images.githubusercontent.com/55289/55265098-b0c68500-52b1-11e9-87e1-f19be5789a25.png">

@meirish that is how I stumbled on the auth-configuration regression in the UI #6465
Here is how it looks for the LDAP

[2019-03-29 23:00] mdgreenfield opened #6504 "CSR Signing: uri_sans param ignored when use_csr_values=false"
**Describe the bug**
When a CSR is signed using `/pki/root/sign-intermediate` the `uri_sans` param is ignored in favor of the `uri_sans` in the CSR even when `use_csr_values=false`.

**Expected behavior**
The `uri_sans` param when signing a CSR with `use_csr_values=false` should be used instead of taking the value from the CSR.

**Environment:**
* Vault Server Version (retrieve with `vault status`

[2019-03-30 17:59] zfLQ2qx2 commented on #6275
@chrishoffman That would be awesome, vault + vault agent could potentially solve the problem of giving short-lived AWS credentials to Kubernetes pods without giving everything on the same node the same permissions - right now best AWS can suggest is to run things on different nodes and use taints to keep other things off the same node.

[2019-04-01 04:20] niekbosch opened #6508 "Deprecated 'Initialize()' method still in database plugin interface"
**Describe the bug**
There is still a deprecated 'Initialize()' method in the database plugin interface:
https://github.com/hashicorp/vault/blob/26db100e0165cef6b2c6af45a883b2f3373b3a7b/builtin/logical/database/dbplugin/plugin.go#L29

(Link is to a specific commit, which is the latest commit in `master` at this moment)

Unless I don't understand Vault version numbers, we are already way past v0.13

[2019-04-01 05:54] thenoid commented on #3214
This would be magnificent

[2019-04-01 06:31] infa-svijayak commented on #6486
Yes both are same.

[2019-04-01 07:25] infa-svijayak opened #6509 "Vault getting sealed frequently"
We are running vault in a container based environment and we have setup a monitoring for checking the sealed status. Multiple times a day we get the response code as 429 which we figured out that it is in stand by mode after unsealing. Here are the logs from our container

2019/03/13 17:02:34.778593 [WARN ] core: leadership lost, stopping active operation
2019/03/13 17:02:34.784756 [INFO ] core: p

[2019-04-01 10:25] FritschAuctores opened #6510 "no overwrite secret kv2 api"
**Describe the solution you'd like**
Just insert a new password via api

**Describe alternatives you've considered**
Read all passwords and write all back

**Explain any additional use-cases**
Insert a new password to a user without delete all exist vaules

There is no update discribed:
https://www.vaultproject.io/api/secret/kv/kv-v2.html#create-update-secret

[2019-04-01 11:20] catsby commented on #6510
Hello - the update call is the same as the create call, meaning they are both `POST` calls to the endpoint `/secret/data/:path`, where `:path` is the key path. The options are identical for both calls.

Please let us know if there's anything else we can clarify here.

[2019-04-01 12:16] ncabatoff commented on #6509
It is not normal.  It sounds like your storage backend is behaving badly.

[2019-04-01 12:32] jefferai commented on #6509
Hi there,

Your logs above don't indicate that vault is being sealed, just that a node went to standby and then active again. A 429 code isn't a problem unless all nodes are showing it with no actual active node.

If the 429 is the only problem it sounds like leadership transitions are taking place, so you may want to look into why that's happening. If vault is actually sealing and requires unseal

[2019-04-01 12:42] janbrunrasmussen commented on #6494
@ncabatoff here is an example of the jwt:
[code]
Some details: Before oidc auth method was available, we made a small service (based on go-oidc, same as Vault oidc auth method) that would produce a jwt token, so we could use the jwt auth method in Vault. As mentioned multiple times, this works with user mapping to groups :) To find out why the mapping was not working with oidc auth method, I dug i

[2019-04-01 13:21] kalafut commented on #6494
That JWT looks pretty reasonable... One point I'd like to confirm: when you're referring to the working JWT approach, is that with the current version of Vault, or something earlier? The group alias extraction code is common to both jwt/oidc (https://github.com/hashicorp/vault-plugin-auth-jwt/blob/9474f90fb1df957c622f30d26eaa2f5f6a1b89b5/path_login.go#L262), which makes this all the more odd. Just

[2019-04-01 13:51] FritschAuctores commented on #6510
Thanks for answer, what ist the Sample Payload for update only one value?

With
[code]
I create a new Version of the Secret, if there another value in the same path, it will archived.

[2019-04-01 13:54] janbrunrasmussen commented on #6494
Yes! The repro steps were been run on the same Vault version (https://github.com/hashicorp/docker-vault/blob/e6353cca743f951019a46a1cc597c34d9ff24f38/0.X/Dockerfile):
[code]
Given the fact I can see the groups in the Vault logs, I assume this is were we end up: https://github.com/hashicorp/vault-plugin-auth-jwt/blob/master/path_login.go#L307
The input claim could differ from jwt and oidc:
https://

[2019-04-01 16:39] infa-svijayak commented on #6509
Hi Jefferai,
The problem here is we actually run vault in a single node and use consul as its backend. For now we have a service which feeds the vault with unseal keys if its sealed. And by that 429 error code means we will be having a problem right since it is a single node server. We are planning for a upgrade but any advice on this will be appreciated.

[2019-04-01 18:12] kalafut commented on #6494
@janbrunrasmussen I think we've finally gotten to the bottom of what's causing this. When logging in via OIDC, the ID token is parsed, and then any claims found at the `/userinfo` endpoint are merged in. When using the `sts` endpoint the, `groups` list in the ID token is fine, but the same claim also exists in the `/userinfo` response as the stringified list: `"groups":["[\"9e58c006-42ba-4406-9b13

[2019-04-01 20:08] #6504 closed

[2019-04-01 20:22] tyrannosaurus-becks commented on #6508
@niekbosch I came across the same thing last week! You're totally correct, `Initialize` is still there though it's marked deprecated and was intended to be stripped in an earlier version of Vault.

Until it's actually stripped, you should be fine just calling `Init` inside it [like this](https://github.com/hashicorp/vault/blob/master/plugins/database/mongodb/connection_producer.go#L41-L44).

[2019-04-01 21:00] catsby commented on #6510
Hello -

I believe you're talking about the contents of the `data` map in the payload? The API itself does not support `PATCH`, however the command line does (albeit undocumented). If the command line is an option, this should work:

    $ vault kv patch secret/data/<path> key=<new value>

The CLI client will handle merging and updating the data, and then attempt to `PUT` those values using the [c

[2019-04-01 21:00] #6510 closed

[2019-04-01 21:30] calvn commented on #6509
You might bump into `core: leadership lost, stopping active operation` (and through the teardown and post-unseal process) even if you're running a single node cluster if the Vault node loses connectivity with Consul. There is potentially intermittent connectivity issues which is triggering this.

[2019-04-01 21:55] xynova commented on #6046
+1

[2019-04-01 23:14] #6123 closed

[2019-04-01 23:18] tristanmorgan opened #6513 "[UI]: LDAP config check boxes missing"
**Describe the bug**
The check boxes on the LDAP configuration page are missing.

**To Reproduce**
Steps to reproduce the behavior:
1. Run `vault server --dev`
2. login via a browser with the *cough* root token
3. enable LDAP auth method and click "enable method"
4. click the "LDAP Options"
5. the check boxes are missing

**Expected behavior**
The check boxes should be shown.

**Environment:**
tes

[2019-04-01 23:45] briankassouf commented on #6508
We haven't removed it yet due to the fact that it will break backwards compatibility for already compiled plugins. We use a plugin versioning system and we cannot safely remove the function until we bump that version, which generally doesn't happen very often. Likely we will remove it during a future plugin bump (that comment is out of date, and I will update it) As @tyrannosaurus-becks said the e

[2019-04-01 23:45] #6508 closed

[2019-04-02 02:11] meirish commented on #6513
Hi! thanks for reporting this - this was fixed by https://github.com/hashicorp/vault/pull/6474 and will be released soon in 1.1.1

[2019-04-02 02:11] #6513 closed

[2019-04-02 04:02] tristanmorgan commented on #6513
thanks.

[2019-04-02 05:32] tsahoo opened #6514 "Error Authenticating of multiple kubernetes clusters with one vault cluster."
Hi,
Greetings..
As per the vault documentation https://www.vaultproject.io/docs/auth/kubernetes.html#configuration   I am able to authenticate  vault cluster to one kubernetes cluster. (And it enables with default path "auth/kubernetes")

But whenever I am trying to authenticate with multiple kubernetes cluster with different path.

I enabled kubernetes with a different path (qa/k8s) for another k

[2019-04-02 06:15] FritschAuctores commented on #6510
Too bad that this does not work. Thanks for answer.

[2019-04-02 07:36] niekbosch commented on #6508
Thanks for the replies. I do call `Init` indeed as tyrannosaurus suggests. Good to have confirmation that this solution is a good one.

[2019-04-02 08:07] janbrunrasmussen commented on #6494
I looked at that code block for a bit yesterday, but skipped passed it as I figured that would only have the profile, but of cause it has all the data. Why the data would differ from the token is a different issue - you gotta love Azure AD for that..
We are still waiting for a V2 application registration, so I cannot validate whether that will work for us or not, but I am assuming so based on the

[2019-04-02 09:53] infa-svijayak commented on #6509
@calvn Any suggestions on how do I monitor that.

[2019-04-02 11:49] janbrunrasmussen commented on #6494
Finally got to test with a V2 application registration and it works! I did require a bit of meddling with the scope though.
If it has interest, I can document further details here (or elsewhere)? https://www.vaultproject.io/docs/auth/jwt_oidc_providers.html#azure-active-directory-aad-

[2019-04-02 13:25] ncabatoff commented on #6514
Hi @tsahoo,

I think you've got the right idea, but you're missing the leading 'auth' in your write path.  Try instead

[code]

[2019-04-02 13:48] meirish commented on #4858
Hi! sorry I realize this was opened a while ago - but there's quite a few things we'd need to account for when doing this:

We want to change the title of the page as you navigate through the UI as well, but in addition to that - where do we store that string? Currently there's the cluster name which you can configure in your Vault config, and we could use that, but on the enterprise side there's

[2019-04-02 19:52] calvn commented on #6509
I'd first suggest looking at the consul logs to see if there's any indication of the process/service acting flaky. If that's not the case, then it might be an actual network connection issue (more likely if they are running on separate instances) so I'd suggest looking into setting up monitoring against your network/connection.

[2019-04-02 20:20] eirslett opened #6521 "Update Homebrew version of Vault to 1.1"
Currently, `brew install vault` gives you version 1.0.3. It would be great to have version 1.1.0!

[2019-04-02 20:21] chrishoffman commented on #6521
The homebrew version is not maintained by the Vault team.  My recommendation would be to submit an issue to the homebrew repo.

[2019-04-02 20:21] #6521 closed

[2019-04-02 23:19] #5828 closed

[2019-04-03 01:31] raygj commented on #6110
I ran into this issue as well and resolved it by verifying the full account name I had provisioned for Vault to access AD. In my case I was using the short name "vault" rather than the full name "vault service." I found this by using the dsquery command `dsquery user -name v*` on a domain controller which returned the fully qualified LDAP string: "CN=Vault Service,CN=Users,DC=ad,DC=lab,DC=org". I

[2019-04-03 04:38] tsahoo commented on #6514
Thanks @ncabatoff .It worked for me.

[2019-04-03 04:38] #6514 closed

[2019-04-03 14:17] nathkn opened #6525 "Preflight check fails with ACL wildcard in path for `kv get` command"
**Describe the bug**
When using the new ACL wildcard paths like `secret/data/foo/+/baz`, the preflight check will fail, at least in the CLI using `vault kv get`, even though the `vault read` command succeeds

**To Reproduce**
Steps to reproduce the behavior:

1. Run vault dev server with the KV v2 secrets engine enabled at `secret/`
2. Run `vault kv put secret/foo/bar/baz value=data`
3. Run
[code]

[2019-04-03 15:47] kalafut commented on #6494
@janbrunrasmussen I'm going to close _this_ issue now since we've isolated the cause to some surprising AD behavior (i.e. not a more general external groups bug). You're more than welcome to open a new issue(s) regarding AD handling if necessary. The topic of how to handle provider quirks is a larger issue for its own thread.

Thanks for your help working through this and for the docs updates.

[2019-04-03 15:47] #6494 closed

[2019-04-03 19:26] mrburrito commented on #6098
I'm having this exact same problem trying to define a trigger function to change ownership of database objects on create. This is insanely frustrating. How soon will a fix be released?

[2019-04-03 19:47] ncabatoff commented on #6098
@mrburrito Is a stored procedure a possible workaround for you?

[2019-04-03 20:05] mrburrito commented on #6098
No. I have no simple way of creating the stored procedure right now due to access restrictions in the database and how terraform, vault, and RDS are all interacting. Trying some of the other workarounds suggested on this ticket.

[2019-04-03 20:28] mrburrito commented on #6098
I'm trying to use the terraform_vault_provider's [vault_database_secret_backend_role](https://www.terraform.io/docs/providers/vault/r/database_secret_backend_role.html) resource to configure this role in vault. How do I pass a JSON array in for `creation_statements`?

If I try to pass an array in terraform, it complains it has to be a string value. If I use `jsonencode` to encode the array as a JS

[2019-04-03 21:19] mrburrito commented on #6098
Ok. Figured out a solution that works in this scenario...

A base64 encoded JSON array passed from the terraform provider to vault will behave correctly and vault executes the function creation block statement with no problems!

##### terraform
[code]

[2019-04-04 10:21] yura-shutkin commented on #6525
@jefferai Good day, sir.
I've similar issue, but I'm trying to list secret-id accessors
[code]
Policy looks like (Don't worry it will be converted to nice looking and valid HCL):
[code]
Should I create new issue or it's the same problem with new policies ?

Thank you

[2019-04-04 12:49] monokal commented on #4307
+1 - Having a whole bunch of irrelevant auth methods which are irrelevant to our users often causes confusion.

[2019-04-04 13:31] jefferai commented on #6525
@nathkn Interestingly I was able to reproduce this in a test case but I can't reproduce this on the CLI using your steps above, against current master. Regardless, this should be fixed in 1.1.1.

[2019-04-04 13:33] jefferai commented on #6525
Thanks for the complete reproduction steps!

[2019-04-04 15:27] thesoftwarejedi commented on #1857
@erydo Do you have any details on what/how you did to workaround this?  I'm running into this bug a lot in our instance do to system architecture having multiple processes requesting logins at the same time.

[2019-04-04 16:26] erydo commented on #1857
@thesoftwarejedi Yes, we actually did a couple things.

1. We separated separated ephemeral users from "static" roles.
    * For each Vault role, we'd maintain a single persistent `NOLOGIN` Postgres role. (e.g. `foo-service`). This Postgres role received the `GRANT`s to schema/DB/table/function and would own objects like tables. This allowed us to avoid re-issuing `GRANT`s when creating ephemeral

[2019-04-04 18:47] seafoodbuffet opened #6534 "Vault PKI doesn't seem to like common_names with commas"
**Describe the bug**
We're using vault to generate client authentication certificates where clients are identified by a Distinguished Name-style common name (e.g. CN=foo,ou=bar,dc=com). Vault seems to reject such names even when allow_any_name is set to true. Is this intended? If so, is there a best-practice for CN's in client certs? Just use domain-names?

**To Reproduce**
Setup a Vault PKI role

[2019-04-05 07:01] michelvocks commented on #6534
Hi there,

Vault validates automatically the CNs, DNS SANs, and the host part of email addresses by default.
You can turn off this behavior with the `enforce_hostnames` parameter: https://www.vaultproject.io/api/secret/pki/index.html#enforce_hostnames

[code]

Closing this now since it does not look like a bug. Please feel free to reopen this issue if you have any further questions.

Cheers,
Miche

[2019-04-05 07:01] #6534 closed

[2019-04-05 09:14] song-liu commented on #1147
Just use
$ vault status -address http://127.0.0.1:8200/

[2019-04-05 11:59] rblaine95 opened #6537 "Feature Request: OpenVPN Secret Backend"
**Is your feature request related to a problem? Please describe.**
I think it would be a really nice feature to have Vault be able to generate and manage OpenVPN configs for an OpenVPN Server, or to act as an OpenVPN server itself.

**Describe the solution you'd like**
A secret backend that allows you to point Vault at an existing OpenVPN Server or to make Vault run as an OpenVPN server.

**Descri

[2019-04-05 15:49] jrdemasi opened #6539 "UI Returns Error when trying to generate SSH OTP"
When installing Vault and running the dev server (I have seen this same behavior in prod, but wanted to know if it was the same with the dev server to reproduce easily for filing a bug report) generating OTP for SSH produces an error in the UI.  To reproduce this with vault-1.1.0:

1. Start the vault dev server
2. Enable the SSH secrets engine at ssh/
3. Create a new role with any default name/use

[2019-04-05 20:14] jefferai commented on #6471
Closed by #6479

[2019-04-05 20:14] #6471 closed

[2019-04-05 20:56] #6539 closed

[2019-04-05 21:18] jrdemasi commented on #6539
Thank you :-)

[2019-04-06 00:26] meirish commented on #6539
No problem! Thank you for reporting it!

[2019-04-06 16:43] jefferai commented on #6098
Yep! We support that for exactly this reason -- you can actually pass in statements in four different ways, see https://www.vaultproject.io/api/secret/databases/postgresql.html#creation_statements

[2019-04-06 16:58] mrburrito commented on #6098
Yep. I think my issue is more with the lack of intuitive configuration and/or documentation in the terraform provider. Once I figured that out, vault worked perfectly.

[2019-04-07 14:08] db-adrian opened #6544 "Can't choose options when creating PKI role in UI"
**Describe the bug**
When I try to crate a PKI role in the UI all of the options are not filled out. I can create roles via the cli no problem, but the UI somehow does not show the inputs.
**To Reproduce**
Steps to reproduce the behavior:
Follow the steps shown in this  [Tutotial](https://learn.hashicorp.com/vault/security/sm-pki-engine#web-ui-2)

**Expected behavior**
A clear and concise descript

[2019-04-08 15:06] patcable opened #6547 "auth/aws: support disallow_reauthentication for IAM role-based authentication"
**Is your feature request related to a problem? Please describe.**
One of the things I like about EC2 Role Tag auth is that it only allows one authentication per host. With our workflow, hosts should receive a token on boot (we handle this via chef) and renew it for the life of the machine, or let it age out.

However, when using `auth_type=iam` this behavior does not happen, which means anyone wh

[2019-04-08 20:45] AttwellBrian opened #6550 "Audience support for k8 auth"
**Is your feature request related to a problem? Please describe.**
When binding a k8 service account to a policy, there is no support for `bound_audience` like there is for GCE or JWT.
* GCP: https://www.vaultproject.io/docs/auth/gcp.html
* JWT: https://www.vaultproject.io/docs/auth/jwt.html

As a result, storing secrets in vault authenticated with service accounts is no safer than storing secrets

[2019-04-08 21:07] AttwellBrian commented on #6550
Let me know if I should have posted this on https://github.com/hashicorp/vault-plugin-auth-kubernetes

[2019-04-09 08:40] meklon opened #6552 "Audit log suddenly stopped"
### Bug description
We've deployed several Vault servers with a Consul cluster as a backend. I've activated audit to file:
`vault audit enable file file_path=/var/log/vault_audit.log`

Everything was good, the log updated as expected. But, after several server reboots, we've noticed that the vault_audit.log was not updating anymore.
### Fix attempts and additional information
1. I've tried to disa

[2019-04-09 15:50] nickwales opened #6554 "Vault UI 1.1.0 does not surface permission errors on KV backend"
When attempting to write secrets to a location that is not permitted by my policies I get no error message.

Via the CLI I get a very obvious error:

[code]

However when attempting to store keys via the UI the save button is available but there is no response when it is clicked making this a confusing experience.

[2019-04-09 18:37] chmarr commented on #5079
A simple workaround would be to add a ExecStartPost to the vault.service, through a drop-in (/etc/systemd/system/vault.service.d/mything.conf)

The ExecStartPost program would wait until vault became ready – perhaps by test-polling – then exit.

vault.service will not become "activated" until all the ExecStartPost commands have completed successfully, and thus "After=vault.service" services will n

[2019-04-10 00:04] alex-sherwin commented on #3504
The Google Groups discussion on this also focuses around this as an issue with systems with out of sync clocks.

But there's also another useful use case this would enable, which is to allocate signed certificates for future use, for example, up-front allocating certificates for work to be done on a production system over a the weekend or after hours.

This would enable a lot of provisioning scena

[2019-04-10 03:50] mterron opened #6562 ""Tile" overflow with more than 2 lines on Firefox"
When a "tile" text is over 2 lines, the radio button overflows the frame. It works fine on Chrome.
![image](https://user-images.githubusercontent.com/4434907/55914580-9b4f4480-5c3b-11e9-89d0-504555b2f791.png)

Another example:
![image](https://user-images.githubusercontent.com/4434907/55914536-82469380-5c3b-11e9-8d98-293eda6756b9.png)

**To Reproduce**
Steps to reproduce the behavior:
1. Click `En

[2019-04-10 19:29] tyrannosaurus-becks opened #6566 "Add logger to logical database backends"
Unlike for regular auth and secret backends, database backends are not provided with a logger during their setup or as part of their interface. It would be great to provide the Vault logger to them. With Vault on Info level, I've been unable to gain any output from the following calls in a mounted database plugin:
[code]

[2019-04-10 21:11] bheiskell-datto commented on #2734
@jefferai

I bumped into this while trying to determine which of an AppRole's secret-ids were active. Only one should have existed. It's easy enough to fix be re-provisioning the secret-id and destroying the others, but it would be handy to not need to do that.

[2019-04-10 21:46] #6525 closed

[2019-04-11 09:48] yura-shutkin opened #6568 "Random permission denied when read approle secret-id-accessor"
**Describe the bug**

Role with wildcard policy randomly can't "read" approle secret-id-accessor
[code]

**To Reproduce**
Steps to reproduce the behavior:
* Preparation
1. Run `docker run --rm -ti -p 127.0.0.1:8200:8200 -e VAULT_DEV_ROOT_TOKEN_ID=12345 vault:1.1.0`
2. Run `vault login 12345`
3. Run `vault auth enable userpass`
4. Run `vault auth enable approle`
5. Run `vault write auth/userpass/us

[2019-04-11 11:52] ncabatoff commented on #5944
On the off chance this helps someone else: once I moved to `stretch` I experienced the same problem.  I saw errors in the logs saying "Support for option Capabilities= has been removed and it is ignored".  Replacing the `Capabilities=` line with `AmbientCapabilities=CAP_IPC_LOCK` did the trick.

[2019-04-11 12:05] ncabatoff commented on #6568
Hi @yura-shutkin ,

Thank you for the detailed bug report and steps to reproduce.

I've looked closely at the 1.1.0 policy code and I can't see what might make this happen.  I've tried to reproduce it with https://github.com/ncabatoff/vault-experiments/blob/master/bugrepros/gh5658.sh to no avail.  I also don't see any way in which load could be a factor here.

I'm out of ideas, sorry.  Do let us k

[2019-04-11 13:29] yura-shutkin commented on #6568
Thank you @ncabatoff. If I'll find out how to reproduce issue with 100% prove I will create a new one.

[2019-04-11 13:29] #6568 closed

[2019-04-11 16:59] gnugnug opened #6571 "Vault should not create duplicate SAN entries"
We use Vault so sign CSRs and issue certificates and have a small feature request:

Problem description: Assume the following PKI role to sign server certificates:
`vault write pki/roles/example allowed_domains=example.com allow_subdomains=true client_flag=false`

A typical CSR which for example should cover two domains looks like this:

When this CSR is submitted to Vault via "vault write pki/sig

[2019-04-11 23:58] awwithro opened #6572 "Vault Leader flapping in HA mode with DynamoDB"
**Describe the bug**
I've set up a new vault cluster with three nodes using kms for auto-unseal and dynamodb for the backing store. Watching `vault status` on a node shows that leadership is changing nearly every second between all three nodes.

**To Reproduce**
Steps to reproduce the behavior:
1. Run `watch vault status`
2. Observe flappy leaders

**Expected behavior**
The leader to be stable and

[2019-04-12 00:18] awwithro commented on #6572
Looking at CloudWatch metrics for DynamoDB shows that this otherwise unused vault cluster is using 1.3 Read Units/Sec and 2.3 Write Units/Sec which I'm assuming are the nodes fighting over the lock

[2019-04-12 00:36] awwithro commented on #6572
I've also added the `AmazonDynamoDBFullAccess` policy to the role used by Vault to rule out an IAM issue with Dynamo

[2019-04-12 05:15] kalafut commented on #6572
Hi. You may want to try [Vault 1.1.1](https://github.com/hashicorp/vault/blob/master/CHANGELOG.md#111-april-11th-2019) which was just released as it has some improvements for DynamoDB HA handling (https://github.com/hashicorp/vault/issues/5828). The race condition in that issue is a bit different, but your setup may be triggering it in other ways.

[2019-04-12 06:36] joelthompson commented on #6547
Hi @patcable -- this unfortunately won't be that simple. For starters, there's not really a "right" way to do this, only an approximation. With the `ec2` auth method, you have an EC2 instance ID, and that is guaranteed to be unique. With the `iam` auth method, you have an IAM principal, and what it means to disallow reauthentication isn't well defined. For one, what happens if you delete an IAM us

[2019-04-12 13:19] ananth07reddy opened #6578 "OIDC group_claim is not working with Keycloak"
I have tried with the User_claim and it is working fine but Group_claim is not working ( maybe, I didn't use the right value in that field). Is it possible to test group_claim with keycloak auth provider?. If yes, could you please describe me a bit more on this?

[2019-04-12 14:26] patcable commented on #6547
Hey, thanks so much for getting back to me here. I was under the impression that the EC2 instance ID was immutable in that auth path, but given that it isn't - the design decision makes perfect sense :+1:. Indeed, our machines are single tenant, but just trying to defend-in-depth. Thanks for the pointer to iptables owner though - I will definitely take a look at that. Cheers!

[2019-04-12 14:26] #6547 closed

[2019-04-12 14:26] antcs commented on #5683
CoreOS has a little doc for backup vault to aws s3 bucket: https://coreos.com/tectonic/docs/latest/vault-operator/user/recovery.html

[2019-04-12 14:30] gnugnug opened #6579 "Runtime error when supplying "none" for a denied_parameter"
When we create a policy in Vault 1.1 that denys certain parameter values, a runtime error occurs within Vault if the client submits a null value for this very parameter. I'm not sure if this has any other implications.
Steps to reproduce:
1. Create a policy with a denied_parameter statement:

[code]

2. Attach a token to this policy and submit a request with the value "null" for the denied paramet

[2019-04-12 14:40] souheilh commented on #1690
Same problem with S3 backend

[2019-04-12 15:49] awwithro commented on #6572
Thanks!

Just bumped to running 1.1.1 and I'm still seeing the same behavior. One interesting thing I'm noticing. When I run `watch vault status` on all the nodes at once, regardless of which node is active, the other nodes always see `https://vault-0.vault.<namespace>.svc.cluster.local:8200` as the active node. The `HA Cluster Address` is also listed as `https://vault-0.vault.<namespace>.svc.clus

[2019-04-12 15:55] awwithro commented on #6572
...and now I feel silly. The VAULT_ADDR I'm using will land on any of the three nodes so of course it'll show standby/active at different times. Running the same watch with the VAULT_ADDR of the local node works as expected and leadership is stable. False alarm!

[2019-04-12 15:55] #6572 closed

[2019-04-12 17:28] kalafut commented on #6578
I'll respond on the mailing list where you've also asked. This type of question is best discussed there.

[2019-04-12 17:28] #6578 closed

[2019-04-12 18:38] jberkenbilt opened #6582 "Support num_uses in auth/token/roles/role"
**Is your feature request related to a problem? Please describe.**
We make heavy use of roles in the token auth backend. When specifying a role with auth/token/roles/role, it is possible to constrain the tokens created by auth/token/create/role with `explicit_max_ttl` but not with `num_uses`. It would be great if you could create a token auth role that enforces generation of tokens with no more th

[2019-04-12 21:15] jhnlsn commented on #6234
Could the PR also be extended to the code here?  https://github.com/hashicorp/vault/blob/master/builtin/credential/aws/backend.go#L276

When creating a role using the following command:
`vault write auth/aws/role/auth_test auth_type=iam policies=auth_test bound_iam_principal_arn=`

we will sometimes get a `RegionDisabledException` due to the fact that not all regions have STS enabled in our accoun

[2019-04-12 22:14] wwsean08 opened #6584 "Allow users to set custom global banners in the UI"
**Is your feature request related to a problem? Please describe.**
As an administrator in the middle of beta testing vault internally I would like to be able to setup a banner on the UI for all people that use it to tell them explicitly this is a beta setup and may go away or change.  Below is a screenshot of an example of what I was thinking:

![Screen Shot 2019-04-12 at 3 03 58 PM](https://user-

[2019-04-12 22:46] evilhamsterman commented on #6544
Same here in 1.4.4, running through the learn.hashicorp.com tutorials and ran into this. I can set the values using the API or the CLI but can't set or read them through the UI

[2019-04-12 23:15] #6234 closed

[2019-04-13 00:41] meirish commented on #6544
Thanks for the report!

This was fixed by https://github.com/hashicorp/vault/pull/6474 which was included in 1.1.1 that was released yesterday.

[2019-04-13 00:41] #6544 closed

[2019-04-14 02:11] TerraTech commented on #1738
I concur with @sushiandbeer handling x509 multiline certs are a pain with JSON and much easier to read/use with YAML.

What I do is have my admin tools or manually write them out as YAML, then pipe them through https://github.com/kislyuk/yq for the ```vault kv put ...```

[code]

[code]
So far, this workaround has been working for me.

[2019-04-15 09:33] zx8 commented on #6166
Discovered this issue after asking the same question on Gitter. ([link](https://gitter.im/hashicorp-vault/Lobby?at=5cb44c29759abc043cc4bd23))

@jefferai Did this land in 1.1 in the end? Can't seem to find anything in the changelog/docs to indicate that it did.

[2019-04-15 13:11] alex-sherwin commented on #3504
@jefferai, is there any interest in allowing direct specification of the `ValidAfter` and `ValidBefore` fields during SSH key signing?

I've opened a PR that I believe to be a complete implementation for this feature: https://github.com/hashicorp/vault/pull/6565

I view this change not as a workaround for clock drift, but as a first class feature that enables more use cases for SSH key signing

[2019-04-15 16:58] tyrannosaurus-becks opened #6587 "On Windows 10, plugins unreachable without additional settings"
This issue came in through the vault-tool forum [here](https://groups.google.com/forum/?utm_medium=email&utm_source=footer#!topic/vault-tool/P8dzFpOamPw).

On Windows 10 (this is not duplicate-able on Ubuntu), with Vault 1.1.0, following our docs for configuration, plugins are failing to be addressable unless the `PLUGIN_MIN_PORT` and `PLUGIN_MAX_PORT` is set for `github.com/hashicorp/go-plugin` t

[2019-04-15 19:22] raoofm opened #6588 "Upgrade from 1.1.0 to 1.1.1 started causing error in vault logs"
**Describe the bug**
[code]

**To Reproduce**
Steps to reproduce the behavior:
1. Upgraded vault from v1.1.0 to v1.1.1

**Additional context**
Stateful set with 3 pods in kubernetes. Uses s3 as backend and dynamodb for HA.

[2019-04-16 06:55] igoraj commented on #3312
@jefferai since this was a while back i was wondering if it is still on your roadmap? can you share some timeline when this might be available?

[2019-04-16 08:26] lscoughlin commented on #2357
Did this die?

[2019-04-16 13:33] jefferai commented on #6166
It did not.

[2019-04-16 14:38] meirish commented on #6584
We don't have anything like this currently, but if you wanted to build Vault to use in these deployments, you can set `UI_AUTH_WELCOME` at build time - https://github.com/hashicorp/vault/blob/master/ui/config/environment.js#L77. This gets picked up by the UI and showed when the user is authenticating - it was added for use on our demo site https://demo.vaultproject.io - the blue message in the low

[2019-04-16 14:45] afranke opened #6589 "Hashicorp vault vs. Passbolt"
The [vs section of the docs](https://www.vaultproject.io/docs/vs/) could benefit from the addition of a comparison against [Passbolt](https://www.passbolt.com/).

[2019-04-16 15:10] raoofm commented on #6588
@briankassouf was there a breaking change?

[2019-04-16 15:11] raoofm commented on #6589
also a comparison with aws secrets manager

[2019-04-16 15:14] raoofm commented on #6588
thanks @jefferai

[2019-04-16 16:45] jrdemasi opened #6590 "By default, userpass doesn't allow users to update own passwords"
**Describe the bug**
By default, using the userpass auth method, a user cannot update their own password

**To Reproduce**
Steps to reproduce the behavior:
1. `vault server -dev`
2. `export VAULT_ADDR='http://127.0.0.1:8200'`
3. `vault auth enable userpass`
4. `vault write auth/userpass/users/testuser password=test`
5. `vault login -method=userpass username=testuser password=test`
6. `vault write

[2019-04-16 16:49] therealgambo commented on #317
I think returning the `connection_url` of the database would be a decent start, not sure if handling the construction of the DSN should be done by vault or leave it to the application making the request.

[2019-04-16 17:10] jefferai commented on #6588
This is fixed in https://github.com/hashicorp/vault-plugin-secrets-kv/pull/31

[2019-04-16 17:10] #6588 closed

[2019-04-16 17:49] gdavison commented on #2357
Nope: https://www.vaultproject.io/docs/secrets/databases/oracle.html

[2019-04-16 17:49] #2357 closed

[2019-04-16 18:01] wwsean08 commented on #6584
I saw that while trying to get this working @meirish, i have the backend working for this enhancement request (based on what I specified) though i'm having trouble figuring out how to get the value to display via the UI as I'm normally a back end developer and don't really know javascript or ember.js.  I do have a spot for it in the template and the styling done (theoretically) just trying to figu

[2019-04-16 20:50] tomwganem opened #6594 "Feature Request: Automatic un-sealing with IBM Key Protect"
**Is your feature request related to a problem? Please describe.**
I would like to utilize IBM Key Protect to run vault with auto-unseal enabled in a kubernetes cluster in IBM Cloud.

**Describe the solution you'd like**
AWS, GCP, Azure and alicloud all have integrations for auto-unseal. I would like the same integration with IBM Key Protect.

**Additional context**
I've created https://github.com

[2019-04-16 22:47] ryan-talley opened #6595 "Vault API endpoint /v1/auth/cert/login returns HTTP 500 Internal Server Error on failover"
**Describe the bug**
This is occurring on a 3 node cluster with Vault and etcd running on each node. etcd is configured to run in HA, however, the vault servers do not have HA enabled. Each vault server is configured to talk with the etcd instance on its node only on the localhost. The vault API endpoint /v1/auth/cert/login returns HTTP 500 Internal Server Error during a failover. This endpoint is

[2019-04-16 23:38] white-glider opened #6596 "Vault PKI shouldn't sort OUs"
**Describe the bug**
Vault PKI alphabetically sorts all OUs when multiple ones are present in a requested CSR.

**To Reproduce**
Steps to reproduce the behavior:
1. Enable the pki engine: `vault secrets enable pki`
2. Generate the CSR for an intermediate CA: `vault write -field=csr pki/intermediate/generate/internal country="US" organization="Hashicorp" ou="C,A,B" common_name="My CA" key_type="rsa

[2019-04-17 06:08] kkleidal opened #6599 "POST /transit/verify hash_algorithm documented, but algorithm expected by server v1.1.1"
I think I may have found an inconsistency between the server implementation (v1.1.1) and the documentation. The documentation [here](https://www.vaultproject.io/api/secret/transit/index.html#hash_algorithm-1) says that there is a parameter, `hash_algorithm`, for `POST /transit/verify` but from what I can tell, the server expects the algorithm to be specified in the `algorithm` key, similar to `POS

[2019-04-17 06:39] #6590 closed

[2019-04-17 06:55] michelvocks commented on #6599
Hi @kkleidal,

for backwards compatibility, we currently support three ways to define the algorithm.
The first possible way is via the URL (at the end of the path), the second is via `hash_algorithm` and the third is via `algorithm`.

Cheers,
Michel

[2019-04-17 06:55] #6599 closed

[2019-04-17 14:35] jrdemasi commented on #6590
@michelvocks Thanks for the info -- I had tried that, but apparently didn't get it quite right.  Really appreciate the response!

[2019-04-17 20:40] karl-tpio opened #6602 "Vault ignores the `tls_ca_file` value inside of the `storage/consul` config block"
I have two bugs, i think. I discovered the second one while trying to resolve the first. The second bug seems to be "smaller" so i'll lead with it

# Bug the second:

The [documents](https://www.vaultproject.io/docs/configuration/storage/consul.html#tls_skip_verify) for the storage/consul portion indicate that `tls_skip_verify` is of type `BOOL` but this does not appear to be the case.
See the `va

[2019-04-17 20:52] karl-tpio commented on #2415
I am running into an almost identical issue on vault 1.1.0. `tls_skip_verify` is **not** of type `bool` as the docs say.  it must be treated as type `string` to prevent startup issues.

https://github.com/hashicorp/vault/issues/6602

[2019-04-17 22:02] karl-tpio commented on #6602
For anybody that hits a similar snag, adding the CA's cert to the system CA store seems to work.

It's not the best idea to mingle the CAs cert the system CA (depending on your security model/posture...) but i was able to unblock myself using this [quick guide](https://askubuntu.com/questions/645818/how-to-install-certificates-for-command-line/859887).

[2019-04-18 09:44] gitirabassi opened #6606 "Reading secrets thru Vault Agent with gzip encoding between Vault agent and Vault server"
**Describe the bug**
Configured the vault agent and when try accessing data thru it, the error is
[code]
Executing the query with Curl works, so it's clearly not a problem of permissions

**To Reproduce**
Steps to reproduce the behavior:
1. Run `vault kv put secret/test foo=bar` directly to vault without passing thru the agent
2. Run `vault read secret/data/test` with `export VAULT_AGENT_ADDR=http

[2019-04-18 10:54] tsahoo opened #6607 "How to pass vault secret as an environment variable in kubernetes orchestration?"
Hi All,

Greetings....

I follow below steps for poc of a vault agent with kubernetes.

https://learn.hashicorp.com/vault/identity-access-management/vault-agent-k8s

We have two containers, one is vault agent and another one is consul template container.

The secrets are stored in consul template container within a properties file.

I want to pass the vault secrets as an environment variable in ku

[2019-04-18 12:30] CiraciNicolo opened #6608 "Migrate PKI storage to another instance"
There is a way to migrate PKI data from a Vault instance to another? How this should be done?

[2019-04-18 17:07] michaelgeorgeattard opened #6609 "Github nested teams and policy mapping"
Does Vault support Github nested teams when mapping policies?

If my team structure is:

[code]

How would I define the team -> policy mapping?

[code]

[2019-04-18 17:25] michaelgeorgeattard commented on #6609
Enabled SSO for personal access token (SAML) from https://github.com/settings/tokens fixed the issue. This allowed Vault to query user's teams

[2019-04-18 17:25] #6609 closed

[2019-04-18 22:04] calvn commented on #6606
The Vault CLI also makes the same `api.ParseSecret` call so I am not sure why it would work in that case unless the VAULT_ADDR is pointing directly against the server address and not going through the LB. When dealing with gzip'ed responses via cURL, you would need to pipe the output to `gunzip` in order to read the decompressed response, so decompression is handled separately.

Can you post both

[2019-04-18 23:00] sivanag1974 commented on #6476
Alright,
I got time to work on this today.
When I try
vault write sys/plugins/catalog/secret/active-directory sha_256=f6f527ea0ca50d7b85de4b21bf107f62db9fbed8fa38325c77dc3e154f23d77f command=vault-plugin-secrets-active-directory,

I am getting:
Error writing data to sys/plugins/catalog/secret/active-directory: Error making API request.

URL: PUT http://127.0.0.1:8200/v1/sys/plugins/catalog/secret/

[2019-04-18 23:45] sivanag1974 commented on #6476
Here is the debug logs:

2019-04-18T19:38:12.262-0400 [DEBUG] secrets.ad.ad_fd06940f: role is: &{ServiceAccountName:vault_test2@aaa.bbb.ccc.com TTL:7776000 LastVaultRotation:0001-01-01 00:00:00 +0000 UTC PasswordLastSet:2019-04-17 23:10:58.6128784 +0000 UTC}
2019-04-18T19:38:12.262-0400 [DEBUG] secrets.ad.ad_fd06940f: rotating password for the first time so Vault will know it
2019-04-18T19:38:17.2

[2019-04-19 11:31] shashankimanage opened #6615 "vault.read(kv/my-secret) Error making API request."
**Describe the bug**
unable to read vault secret from kv path.

**To Reproduce**
Steps to reproduce the behavior:
Written secret to vault kv by - vault kv put kv/my-secret var=pwd
Using consul template tpl i am reading -
{{ with secret "kv/my-secret" }}
 {{ .Data.var }}{{ end }}
but getting the below error
 [WARN] (view) vault.read(kv/my-secret): vault.read(kv/my-secret): Error making API request.

[2019-04-19 15:23] briankassouf commented on #6615
Hi there,

What policies does Consul Template's token have?

[2019-04-19 17:28] passwordleak opened #6616 "preflight capability check returned 403, please ensure client's policies grant access to path "secret/hello/""
**Describe the bug**
Using the docker version and following the steps in the guide, I did a vault login and it worked, yet when I run the command `vault kv put secret/hello foo=world` exactly like in the tutorial, it resulted in the following error:

[code]

**To Reproduce**
Steps to reproduce the behavior:
[code]
**Expected behavior**
secret is properly stored

**Environment:**
* Vault Server Ver

[2019-04-19 17:32] shashankimanage commented on #6615
Root and default I haven't created any policies.
we don't need any policy for KV it was working before, now it's not working

[2019-04-19 18:39] #6616 closed

[2019-04-19 21:20] tyrannosaurus-becks opened #6617 "Add API call to directly run AWS auth tidy methods, and debug output"
This would help with debugging whether and when it's running, and with running ad-hoc tidies.

[2019-04-19 21:40] jdevilla20 opened #6618 "Unable to initialize vault on AWS"
I am trying to install vault by using these instructions:

https://aws-quickstart.s3.amazonaws.com/quickstart-hashicorp-vault/doc/hashicorp-vault-on-the-aws-cloud.pdf

I noticed 2 issues:

1) This deployment is supposed to create 2 ec2 instances, but when running consul members, only one node appears

2) I am unable to run vault init, getting an error code:

ubuntu@ip-10-84-3-27:~$ vault init
WARN

[2019-04-19 21:59] alexandernst commented on #6617
Just to add more context, this issue comes from here: https://groups.google.com/forum/?utm_medium=email&utm_source=footer#!msg/vault-tool/xlukrGX0buE/svQMtQwqBQAJ

I have setup AWS auth via EC2. My EC2 instances are able to get a token correctly, but Vault doesn't seem to be deleting the tokes once they are expired. My tokens' TTL is 10s and my safety buffer is 10s. According to @tyrannosaurus-bec

[2019-04-20 11:51] alexandernst opened #6619 "Be more inteligent when checking whitelisted EC2 instances IDs"
**Is your feature request related to a problem? Please describe.**
As per what I have discovered in #6617 , the tidy process kicks once every hour, which means that if I have a safety buffer of 10s and my tokens TTL is 10s, there could be a time gap of 59min 40s  during which a request from my instance for a new token could be denied.

The problem is that Vault will just check if the ID is already

[2019-04-20 12:26] jefferai commented on #6619
Closing in favor of #6617

[2019-04-20 12:26] #6619 closed

[2019-04-20 12:26] jefferai commented on #6617
Already exists: https://www.vaultproject.io/api/auth/aws/index.html#tidy-identity-whitelist-entries

[2019-04-20 12:26] #6617 closed

[2019-04-20 12:27] alexandernst commented on #6619
@jefferai Note that #6617 is about a different thing. Both issues are related, but not the same.

[2019-04-20 12:55] alexandernst commented on #6617
@jefferai Please, stop closing issues without actually understanding the purpose of each one. I'm OK with you closing this one, as it's already implemented, but then please reopen #6619 , as that one is completely different.

[2019-04-20 13:40] jefferai commented on #6617
From 6619:

It sounded like this solution was acceptable for you.

[2019-04-20 13:42] alexandernst commented on #6617
@jefferai There is still a bug, as described in #6619 . This (#6617) would be a workaround while the bug gets fixed.

[2019-04-22 18:19] tyrannosaurus-becks commented on #6476
@sivanag1974 thanks for circling back with that output!

I wrote a test in the Active Directory secrets engine aimed at reproducing the issue. I actually wasn't able to duplicate the fast-rotating behavior you're seeing. However, I do notice a couple of things:

- The debug output is incorrect. Where it says "starting a regular rotation", it's actually just looking up the credentials, rotating the

[2019-04-22 19:03] ptzianos opened #6624 "Perform signature validation throughout entire certificate chain"
**Is your feature request related to a problem? Please describe.**
While trying to setup Vault v 1.0.2 as an intermediate CA authority, I noticed that the `ParsedCertBundle.Verify()` call does not perform any validation on the signatures of the certificates, but instead that the Authority and Subject key IDs are correct. According to [RFC 41558 section 3.5.12](https://tools.ietf.org/html/rfc4158#s

[2019-04-22 22:56] andrewsav-bt opened #6628 "Add ability to move or rename a folder in VaultUI"
There is a summarily closed feature request for rename here: https://github.com/hashicorp/vault/issues/2414

This current request is for supporting this feature in **Vault Web UI**. This operation is something that users want to do regardless of atomicity support on the server, therefore the UI should make it easy instead of asking people to write scripts.

Thank you for considering this!

[2019-04-23 08:51] dch commented on #6340
see https://reviews.freebsd.org/D20025 for addressing this upstream

[2019-04-23 08:53] michelvocks commented on #6618
Hi @jdevilla20,

as far as I know, the AWS quickstart tutorials are maintained by AWS.
You might want to check the AWS support or the AWS forums. If both channels are not helpful, you could also try to ask via our Vault Google group: https://groups.google.com/forum/#!forum/vault-tool

I will close now this issue since this is not a bug but feel free to reopen the issue if you have any further ques

[2019-04-23 08:53] #6618 closed

[2019-04-23 10:38] michelvocks commented on #6615
Hi @shashankimanage,

I just saw that this is a duplicate of https://groups.google.com/forum/#!topic/vault-tool/lKoOke10EVw

I will close this issue for now since I don't think this is a bug. Feel free to reopen the issue if you have any further questions.

Cheers,
Michel

[2019-04-23 10:38] #6615 closed

[2019-04-23 16:05] #2318 closed

[2019-04-23 17:17] olx-shashank-singh opened #6630 "Error making API request : while connecting using Kubernetes auth backend"
Getting this Error: writing data to auth/kubernetes/login: Error making API request.

URL: PUT http://127.0.0.1:8200/v1/auth/kubernetes/login
Code: 500. Errors:

* read tcp x.x.x.x:53786->y.y.y.y:6443: read: connection reset by peer

Where x.x.x.x is Private IP of vault server
and y.y.y.y is the public IP of Kube-API server.

Vault-config file :

[code]

Thanks!

[2019-04-23 17:19] marcuschaney opened #6631 "Vault - AWS IAM/EC2 Auth- GovCloud"
All,

Has anyone experienced issues when attempting to generate credentials via Vault's "AWS Secrets Engine" for GovCloud? We're attempting to follow the documentation, but it seems to be an issue with the Region/Endpoints. https://www.vaultproject.io/docs/secrets/aws/index.html

The errors we receive are below:
vault login -method=aws role=test-role-iam

Error authenticating: Error making API req

[2019-04-23 17:20] marcuschaney commented on #6631
The URL it's attempting to access is https://sts.amazonaws.com and default to us-east-1

[2019-04-23 17:23] olx-shashank-singh commented on #6630
I am using this command to verify:

$ vault write -tls-skip-verify auth/kubernetes/login role=example jwt=${default_account_token}

from vault server having VAULT_ADDR=http://127.0.0.1:8200.

[2019-04-23 18:02] olx-shashank-singh commented on #6630
@jefferai Can you help with this.

[2019-04-23 20:06] jmls opened #6632 "api documentation for userpass read user inaccurate"
The documentation for the userpass read method (https://www.vaultproject.io/api/auth/userpass/index.html) does not match the actual output from the api.

**To Reproduce**
the api states that the typical response from this api is

[code]
whereas the actual output is

[code]

The actual difference is in the "policies" key. In the documentation it is specfied as a comma separated string, the actual o

[2019-04-24 01:59] joelthompson commented on #6631
Hi @marcuschaney -- a couple things going on here.

First, you mention the AWS Secrets Engine, but it looks like you're actually trying to use the AWS auth method, correct?

Assuming that's the case, you need to set the [`sts_endpoint` parameter](https://www.vaultproject.io/api/auth/aws/index.html#sts_endpoint) in the `auth/aws/config/client` endpoint to the STS endpoint in the GovCloud region you

[2019-04-24 06:17] syndbg opened #6634 "Faulty release of `github.com/hashicorp/vault@v1.1.2`"
**Describe the bug**

As a consumer (using `go.mod`), currently it's not possible for go mod to resolve dependencies when someone is using both:

* github.com/hashicorp/vault@v1.1.2
* github.com/hashicorp/vault/api@v1.0.1

The reason why is that for some reason `/github.com/hashicorp/vault@v.1.12` does not contain the `api/go.{mod,sum}` files and golang does not properly treat it as a go module.

[2019-04-24 13:40] marcuschaney commented on #6631
@joelthompson Awesome, thank you so much! After exporting the region (even though it was set in AWS configure), my colleague was able to successfully generate an auth token. So he is unblocked!

For me, I assume the resolution would be similar? I'm actually trying to utilize the Secrets Engine. Will test that this afternoon.

[2019-04-24 14:13] joelthompson commented on #6631
Great! Unfortunately you're running into one of the maddening inconsistencies between the different languages' SDKs. I think that you could also set the `AWS_SDK_LOAD_CONFIG` environment variable to coax the SDK to read the configuration out of the config files.

I'm not as familiar with the AWS Secrets Engine as I am with the auth method. I _think_ configuring the region as you mentioned _should_

[2019-04-24 15:06] jmls commented on #6632
actually, there seems to be several areas where the documentation does not match - I want to check that I'm not missing something obvious ;)

For example, under "_List Mounted Secrets Engines_" we have this documentation :

[code]
{
    "sys/": {
        "accessor": "system_233c21f3",
        "config": {
            "default_lease_ttl": 0,
            "force_no_cache": false,
            "max_leas

[2019-04-24 19:48] alexandernst commented on #6619
@jefferai Ping. Can you please reopen this? (as discussed in #6617)

[2019-04-24 21:23] sivanag1974 commented on #6476
Here is the information you requested:
I refreshed my local with your latest code changes:

**git pull**
remote: Enumerating objects: 12, done.
remote: Counting objects: 100% (12/12), done.
remote: Compressing objects: 100% (9/9), done.
remote: Total 12 (delta 3), reused 7 (delta 3), pack-reused 0
Unpacking objects: 100% (12/12), done.
From https://github.com/hashicorp/vault-plugin-secrets-ad
   3

[2019-04-24 22:29] EdwinRobbins opened #6636 "Vault leader thrashing when backed by DynamoDB"
**Describe the bug**
When running Vault in HA with 3 nodes using DynamoDB as the leader election store, it is possible to enter a state where leadership will continuously rotate across all three Vault nodes. This behavior continues until manual action is taken to disrupt the loop.

Rotation is consistently ordered across the nodes A → C → B → A → C…

**To Reproduce**
Steps to reproduce the behavio

[2019-04-24 22:32] EdwinRobbins commented on #6636
Based on my investigation the root cause is:
The chain of events that lead to the Vault leadership thrashing observed:

* Two updates to the DynamoDB table failed causing original Vault instance (B) to have its key TTL expire
    * The leader will refresh every 5s; with a leader lock key TTL of 15s, two successive failure presents a long enough window for the key to expire due to this
* A next lea

[2019-04-24 22:35] EdwinRobbins commented on #6636
Looking at leadership loop in the Vault when using DynamoDB as the leader election store we can observe two causal issues

* Vault will Unlock() on loss of leadership (https://github.com/hashicorp/vault/blob/master/vault/ha.go#L579) and DynamoDB backed Vault Unlock call will delete the key from the DynamoDB table (https://github.com/hashicorp/vault/blob/master/physical/dynamodb/dynamodb.go#L566)
*

[2019-04-24 22:40] EdwinRobbins commented on #6636
I've tested a fork of Vault with the additional logging which implements the former and observe that this prevents this issue from occurring; it also confirmed that the old leader was deleting the new leader's lock.

I believe the latter should also be implemented from a correctness standpoint, but cannot say that this is true for all potential leadership backing stores besides DynamoDB

[2019-04-24 22:41] sivanag1974 commented on #6476
I have seen the following behavior (sometimes):
First time, if I configure the role correctly, I am getting the password correctly (not rotating until ttl - 10 seconds).
Upon reaching the ttl(10 seconds), vault rotates the password and gives both passwords (current_password and last_password)
From this point on, I am getting different passwords, whenever I read (even before ttl expires)

I am not

[2019-04-24 23:38] kalafut commented on #6636
@EdwinRobbins Thanks for the in-depth report. Are you able to share a branch of your test fixes? Needn’t be PR-ready... just for analysis.

[2019-04-25 00:17] EdwinRobbins commented on #6636
https://github.com/hashicorp/vault/pull/6637

[2019-04-25 13:45] schall8 opened #6638 "Error initializing storage of type postgresql for PostgreSQL 11.2"
**Describe the bug**
Upgrading to latest PosgreSQL version 11.2 we are now receiving the following error trying to start the vault server.

**To Reproduce**
**found prev issue but with diff version, although prev issue is closed as fixed with vault 0.9.4
vault server -config=config.hcl
Error initializing storage of type postgresql: failed to check for native upsert: dial tcp ip_addr:5444: connect:

[2019-04-25 14:06] ncabatoff commented on #6638
Hi @schall8,

You're getting a connection refused, not a problem evaluating the version.  It sounds like your Vault can't talk to your Postgres.  Can you try logging in to the host running vault and connecting to server.fqdn:5444?

[2019-04-25 14:19] schall8 commented on #6638
issue was a config issue in postgresql.conf file added the vip to listen ip's.  closing issue.

[2019-04-25 14:19] #6638 closed

[2019-04-25 21:02] swills commented on #6340
Taken care of.

[2019-04-25 23:21] tyrannosaurus-becks commented on #6476
@sivanag1974 thank you for following up.

I see the issue! It's this:
[code]
Active Directory is eventually consistent, so it can take a while for a password rotation to be populated throughout the cluster. So even though Vault _sent_ the password rotation at 2019-04-24 21:10:20.957142843 +0000 UTC, it wasn't really _finished_ in your Active Directory environment until 2019-04-24 21:10:22.1221118

[2019-04-25 23:44] tyrannosaurus-becks commented on #6476
Feel free to follow along with the PR above to track the fix.

[2019-04-26 13:11] chris-vest opened #6641 "GCS backend errors from Google Storage API, `barrier` errors & `no TLS config found`"
**Describe the bug**

We are running Vault on GKE using Seth Vargo's `vault-on-gke` repo. Our settings for both the cluster and Vault itself are identical to what's given in the repo (except of course for things like allowed source IPs for the Kubernetes API, etc.).

Initially we were running **Vault version 1.1.0** and were seeing this issue. Today I upgraded, so we are now running **Vault versio

[2019-04-26 16:42] tyrannosaurus-becks commented on #6476
Closing this, as the fix has been merged into the plugin. This will become available with Vault out-of-the-box in the next release.

[2019-04-26 16:42] #6476 closed

[2019-04-26 21:31] ashwinkupatkar opened #6646 "Unable to get consul acl token using consul secrets backend in Vault"
Error reading consul/creds/my-role: Error making API request.

URL: GET https://[fqdn]:[port_no]/v1/consul/creds/my-role
Code: 400. Errors:

* Put http://0.0.0.0:[port_no]/v1/acl/create: net/http: HTTP/1.x transport connection broken: malformed HTTP response "\x15\x03\x01\x00\x02\x02"

Can someone help here ??

[2019-04-26 21:34] ryan-talley commented on #6595
I am closing this issue, since this turned out to be an issue with our etcd cluster backend.

TL;DR: running etcd clusters that broadcast to their peers on the same subnet caused this issue. This was resolved by moving those clusters to their own isolated subnets.

If anyone is interested in what happened we were running several of these vault clusters each with their own backing etcd cluster. The

[2019-04-26 21:34] #6595 closed

[2019-04-26 21:36] ashwinkupatkar commented on #6646
I can configure the vault with consul secrets backed.

But on executing the vault read consul/creds/my-role

I get below errors:

Error reading consul/creds/my-role: Error making API request.

URL: GET https://<FQDN>:<portno>/v1/consul/creds/my-role
Code: 400. Errors:

* Put http://0.0.0.0:<portno>/v1/acl/create: net/http: HTTP/1.x transport connection broken: malformed HTTP response "\x15\x03\x01

[2019-04-27 10:22] croessner commented on #1087
Any chance to get this feature implemented? 😊

[2019-04-27 14:19] roidelapluie commented on #4136
I confirm that any blank line in the PEM file will generate this error

[2019-04-28 17:51] markdfisher commented on #657
Update the copy of vault on the host from which you are trying to access vault - or use the API instead of the CLI to just avoid these issues.

[2019-04-28 20:33] jmls opened #6651 "openapi endpoint does not specify x-vault-unauthenticated for getSysSealStatus"
the definition of the `getSysSealStatus` in the openapi endpoint (`/v1/sys/internal/specs/openapi`) is incorrect.

the returned response is
[code]
however, the GET on the `/sys/seal-status` does not need a vault-token, and this option is missing from the response

**Expected behavior**

`"x-vault-unauthenticated": true` to be returned as part of the response on this operationId

**Environment:**
*

[2019-04-29 14:12] aviadeToroX commented on #3043
Hi @vishalnayak Can you assist with retrieving the totp secret?

[2019-04-29 15:20] briankassouf commented on #6608
Hi, if you want to move all keys, including the unseal keys, to the new instance you can use the migrate command. Otherwise you could try using the [sys/raw](https://www.vaultproject.io/api/system/raw.html) API to read out the raw bytes on the first node and write them in on the second.

[2019-04-29 15:20] #6608 closed

[2019-04-29 16:55] ncabatoff commented on #6646
Hi @ashwinkupatkar ,

It looks like you're trying to speak HTTP to an HTTPS server.  Is it possible that you configured your Consul secret engine with an http:// URL that points to a Consul HTTPS port?

[2019-04-29 17:17] #6579 closed

[2019-04-29 17:20] ashwinkupatkar commented on #6646
Hi,

We are not using https for connecting to consul.   The consul port is http.

So basically m executing the steps like this:

Cosnul secrets backend is already configured.

1)  Configure vault with consul cluster to generate a token that manages ACL token that will be geenrated.

We get a token on executing above command,  say   [consul-configure-token]

2) export vault token value

export VAUL

[2019-04-29 17:54] kalafut commented on #6651
Good fine and we'll take a look. I think there may be a few of these that we missed when rolling out OpenAPI.

[2019-04-29 18:02] ncabatoff commented on #6646
Sorry, but that malformed HTTP response looks exactly like what happens when speaking HTTP to a server that's configured for HTTPS.  What does

[code]

return?

[2019-04-29 18:07] ashwinkupatkar commented on #6646
it returns:

* Could not resolve host: [vault-address-mentioned-in-.hcl-file]:[vault-port]; Unknown error
* Closing connection 0
curl: (6) Could not resolve host: [vault-address-mentioned-in-.hcl-file]:[vault-port]; Unknown error

[2019-04-29 18:15] ncabatoff commented on #6646
Ok, maybe your shell doesn't like $().  Let's do it as two steps instead.

1. ```vault read -field=address consul/config/access```
2. Take the output from (1) and use it in this command: ```curl -v OUTPUT_FROM_1/v1/health/node/my-node```

[2019-04-29 18:15] ashwinkupatkar commented on #6646
I exactly did the same as you have mentioned above.

2 step

[2019-04-29 18:18] ncabatoff commented on #6646
If (1) is returning "could not resolve host", how were any of your other vault commands from your previous comments working?  It sounds like you have a DNS problem at this point, or you're not running the commands in the right environment.

[2019-04-29 18:26] ashwinkupatkar commented on #6646
executing command 1 returns the address (along with port)that is configured in vault.hcl file

but 2nd step gives me the above error

[2019-04-29 18:47] ncabatoff commented on #6646
Step 1 should not be returning anything configured in vault.hcl.  It should be returning the address for your Consul server that you configured when you setup the Consul secrets engine using something like

[code]

[2019-04-29 20:00] ashwinkupatkar commented on #6646
Correct I meant say that only.

It returns the address configured in vault.hcl

[2019-04-29 20:09] ncabatoff commented on #6646
I'm not sure what you mean, but it sounds like your consul secret engine is misconfigured to point to the wrong Consul address.  You can fix it by using a command like the one in my previous comment.

[2019-04-29 21:18] ashwinkupatkar commented on #6646
I think i got this fixed ... I was providing vault address in the consul/config access.

but now the issue is with

* Unexpected response code: 401 (ACL support disabled)

[2019-04-29 22:26] #6646 closed

[2019-04-29 23:42] #6651 closed

[2019-04-30 09:03] Yajo opened #6656 "Display secret version creation datetime in UI"
**Is your feature request related to a problem? Please describe.**
If I rotate secrets regularly for i.e. encrypt a backup, and then later I need to restore an old backup, I need to know the old password for such backup, so I need to know the creation time of each secret to be able to know which one applies.

**Describe the solution you'd like**
When reading secret history via API, I can see the `

[2019-04-30 09:06] olx-shashank-singh opened #6657 "Kubernetes Auth Method is not working on kubenetes 1.6 version"
Why Kubernetes auth method is not working on openshift version less than or equal to 3.6 version (Which is using kubernetes 1.6 version). While making logging request, It throws an error:
`the server could not find the requested resource`.

It's working fine with above Kubernetes/Openshift versions.

Anyone have any idea regarding this.
Thanks!

[2019-04-30 11:06] terrych0u opened #6658 "Rekey operation new shares and threshold always show 1, and new key not output"
**Describe the bug**
When I try to use rekey operator and give the flag `-key-shares=5 -key-threshold=3`, the screen show `New Shares` and `New Threshold` always show `1`, and after I give it unseal key, the screen didn't show up the new key

**To Reproduce**
Steps to reproduce the behavior:
1. vault operator rekey -init -key-shares=5 -key-threshold=3
my screenshot: https://d.pr/free/i/UvSdDe

2.

[2019-04-30 14:28] jasonodonnell commented on #6657
This may be caused by the plugin using [TokenReview objects](https://github.com/hashicorp/vault-plugin-auth-kubernetes/blob/master/token_review.go#L65-L69).  I believe those were introduced in 3.7 OpenShift.

[2019-04-30 15:21] jefferai commented on #6634
This is not a bug; 1.1.2 was a minor patch on 1.1.1 which was before the go mod conversion.

Eventually this will fix itself, but in the mean time you can track down the dependencies pulling in the full Vault repo. Everything needed by any plugins and clients that we know of are in `api/` or `sdk/` and as such shouldn't need the full Vault repo any longer.

[2019-04-30 15:21] #6634 closed

[2019-04-30 16:00] michelvocks commented on #6658
Hi @terrych0u,

I can see from your configuration that you use auto-unseal which, when enabled, internally transforms your key-shares to recovery keys. When you add the "-target=recovery" (https://www.vaultproject.io/docs/commands/operator/rekey.html#target) parameter to your rekey operation then it should work.

However, I agree that our documentation does not reflect that very well and is also p

[2019-04-30 19:03] danlsgiga opened #6659 "Vault Agent is revoking periodic tokens at system/mountpoint max_ttl"
Vault agent works nicely on managing renewal of tokens and leases. But it does not manage to create a new token once the one it has expires due to the default vault max_ttl of 32 days. I'm using the AWS Auth secret engine and even setting the roles with `max_ttl=0` and `periodic=4hr`, the token still expires when the 32 default max_ttl is reached. Right now we have a workaround to restart the vaul

[2019-04-30 19:28] briankassouf commented on #6657
Yep, the auth method requires the TokenReview API, therefore it will not work with kubernetes 1.6

[2019-04-30 19:28] #6657 closed

[2019-04-30 19:48] calvn commented on #6659
Agent should be able to handle periodic token renewals continuously as long as the token is renewed within the period's value (agent should take care of this). Can you provide your role configuration setup with any sensitive information scrubbed? The config parameter for the period should be `period` and not `periodic`.

[2019-04-30 19:56] danlsgiga commented on #6659
Sure, here it goes...

[code]

[2019-04-30 20:19] girish-netskope commented on #6616
i am facing the samee isue @passwordleak . Were you able to resolve it? I see the issue is closed?

[2019-05-01 00:47] kalafut commented on #6636
Closed by #6637

[2019-05-01 00:47] #6636 closed

[2019-05-01 09:35] olx-shashank-singh commented on #6657
@briankassouf I know that kubernetes auth method requires the TokenReview API but I have created the `system:auth-delegator` cluster role as  below.
[code]

After creating this role and attached it to service account then also it's not working.

Also we have `system:node` & `cluster-reader` Cluster role in RBAC in Kubernetes 1.6 having TokenReview API like this:
[code]
 then also it's not working.

[2019-05-01 15:50] sambott commented on #5031
Thanks all, this has now made it into the latest release of https://github.com/wintoncode/vault-plugin-auth-kerberos

[2019-05-01 17:28] calvn commented on #6659
I was partially able to reproduce the issue where a periodic token was not being handled as one during the renewal process. However, even in the case of a non-periodic token, agent should be able to re-fetch a new token via the auto-auth mechanism whenever the old one expires once it reaches the system's max TTL. Can you provide the agent config and logs around the time when the token expired, if

[2019-05-01 19:39] danlsgiga commented on #6659
Sorry I can't find any relevant logs...

Here's my config:

[code]

I believe I understand now what happened in our env. We use consul to discover the vault nodes but we also introduce the Consul ACL via a systemd timer that is triggered whenever consul or the vault agent are started/restarted.

`
/opt/consul/client/bin/consul acl set-agent-token default $(/opt/vault/client/bin/vault read -address

[2019-05-01 20:10] calvn commented on #6659
I see, so in this case it was a DNS resolution issue that caused agent to be unable to reach Vault in order to fetch a new token, which in turn was caused by the token hitting the system max TTL. I'm working on addressing the periodic renewal issue, so once that's fixed the token shouldn't be bounded by the system's max TTL.

I am not exactly sure what's the best approach to this, but maybe having

[2019-05-01 20:38] danlsgiga commented on #6659
Hmm... if you are able to fix the issue of the periodic token expiring and revoking everything under it at the system or mountpoint max_ttl time then I should be good. That way the token will be valid "indefinitely" and I won't need to have any trigger to create new Consul ACLs.

[2019-05-01 21:10] marcuschaney commented on #6631
@joelthompson looking good with the aws auth in GovCloud! I actually don't need to use the AWS Secret engine, that was just miscommunication with management. So now that I'm working in GovCloud, I've run into an odd issue in a different partition.

After doing the AWS_REGION=us-test-east-1 export and writing the STS, IAM and EC2 endpoints to auth/aws/config/client, I still receive the below error:

[2019-05-01 21:48] eliben commented on #6634
@jefferai do you have an ETA on when this will fix itself? It affects us in https://github.com/google/go-cloud/

[2019-05-01 22:01] AgentZombie opened #6667 "Duplicate golang.org/x/net/trace when importing api"
**Describe the bug**
I pull down the latest version and compile my tool which imports `vault/api`. My tool now immediately fails when invoked, even just using `-h` (from std `flags`):

[code]

I ran `git bisect` on the vault source and got:

[code]

**To Reproduce**
Repro code (saved as `/tmp/v.go`):

[code]

For each round of `git bisect`:

[code]

Output of `git bisect log`:

[code]

**Expected

[2019-05-01 23:29] briankassouf commented on #6439
Closing as this should be fixed in later versions. Let us know if you are still seeing issues

[2019-05-01 23:29] #6439 closed

[2019-05-01 23:59] joelthompson commented on #6631
Hi @marcuschaney -- I know why Vault is doing that, but I'm a bit confused as to why you have ARNs with a partition of `aws-test-b` and a region of `us-test-east-1`.

Basically, you're running into this bit of code that was intended to try to support GovCloud and the China partition, hopefully the comment explains what was going on:

https://github.com/hashicorp/vault/blob/4cba25cd608fbe39b7086508

[2019-05-02 00:07] marcuschaney commented on #6631
@Joelthompson

Hey, thanks for the response! So this is actually a classified partition, that’s why I submitted the name with “test”. But yeah, isn’t odd that the partition is prefixed with “aws” but the actual region is prefixed with “us”. This environment is always a pain, so I figure I’ll have to implement some kind of workaround. I can successfully curl the STS and IAM endpoints, but when Vaul

[2019-05-02 01:17] calvn commented on #6659
After further investigation, weren't able to reproduce the apparent periodic token renewal issue (it was the testing procedure that was done incorrectly).

Would you be able to reproduce (perhaps by setting up an AWS mount with a low TTL value (e.g. 5mins), and attach trace-level logs from the server and agent?

Another question we have is around the bootstrapping process for consul and agent. Sin

[2019-05-02 01:21] calvn commented on #6659
Can you also include the Vault server and agent versions that you're running?

[2019-05-02 01:50] jurgenweber commented on #2499
I got the same error/problem. I found my users second grant statement had a syntax issue. So more than one reason to run into this.

[2019-05-02 03:17] terrych0u commented on #6658
Hi @michelvocks

The flag `-target=recovery` did solve `key-shares` and `key-threshold` number issue, however, the new unseal key still doesn't show up on the screen: https://d.pr/free/i/DXLUMS

I there something I'm missing?

Thanks for the help.

[2019-05-02 06:53] michelvocks commented on #6658
Hi @terrych0u,

you also have to specify the `-target=recovery` parameter for the `vault operator rekey -nonce...` commands. I guess you still had a rekey operation active since the nonce is different compared to the one you have provided.

Cheers,
Michel

[2019-05-02 07:10] terrych0u commented on #6658
Hi @michelvocks

Thanks, it works. much appreciate.

[2019-05-02 07:10] #6658 closed

[2019-05-02 07:53] mberhault opened #6670 "LDAP auth method: support client certificate authentication"
**Is your feature request related to a problem? Please describe.**
Using [GSuite Secure LDAP](https://support.google.com/a/answer/9048516?hl=en) as the LDAP server for the [LDAP auth method](https://www.vaultproject.io/docs/auth/ldap.html) is not currently possible directly due the use of client certificates for client authentication with the LDAP server. Use of the system pool for server certific

[2019-05-02 08:54] jmls opened #6671 "openapi definition for postAuthAlicloudLogin does not match api"
the openapi definition for postAuthAlicloudLogin does not match the api definition (https://www.vaultproject.io/api/auth/alicloud/index.html)

Specifically the openapi defines a header parameter for `identity_request_headers` and the api defines it as a body parameter

[code]

![image](https://user-images.githubusercontent.com/929523/57065039-11d1e600-6cc0-11e9-8b31-1f3bdf2553e6.png)

**Expected b

[2019-05-02 15:22] danlsgiga commented on #6659
Ok, I can try setting up a new mountpoint with short max_ttl and use that to troubleshoot but the problem here is the token being revoked at the system max_ttl... periodic token and Consul ACLs generated are renewed fine in the 4h TTL timerange of the role... until the max_ttl reaches.

Vault agent and server are running on v1.1.0

Regarding the bootstrap process, we are giving the anonymous polic

[2019-05-02 15:33] marcuschaney commented on #6631
@joelthompson so I guess I can actually divulge the partition and region. Please see below:

aws-iso-b is the partition and the region is us-isob-east-1

[2019-05-02 15:55] danlsgiga commented on #6659
Ok, I've setup a new mountpoint for aws auth, configured it and configured a secondary vault agent... I can't reproduce the auth token being revoked at max_ttl at all. So putting that aside I'm wondering if the Consul ACLs are the ones being revoked via the Consul Secret backend at the system max_ttl since there are no notion of Consul ACL Periodic Token. I have specified max_ttl for the consul mo

[2019-05-02 16:21] calvn commented on #6659
If you're setting the [max_lease_ttl](https://www.vaultproject.io/api/system/mounts.html#max_lease_ttl) on a mount, and that is shorter that the systems's max TTL, that value should take precedence. By setting the mount's max lease TTL we are trying to trigger that expiration behavior without waiting for 32 days. However, this value doesn't seem to be the root cause for token expiry in this case.

[2019-05-02 16:28] danlsgiga commented on #6659
Ok, I just confirmed the problem is indeed the Consul ACL being revoked at the max_ttl. The AWS Auth token is being renewed indefinitely as expected.

I believe the problem now relies on Vault's Consul Secret backend revoking the ACL Token after the system max_ttl is reached, even though I set the mountpoint max_ttl to 0. Is there any alternative to workaround that?

[2019-05-02 16:51] marcuschaney commented on #6631
@joelthompson RESOLVED! So, instead of specifying IAM Principal like below:

vault write auth/aws/role/feds-role-iam \
    auth_type=iam \
        bound_iam_principal_arn=arn:aws-us-gov:iam::xxxxxxxxxx:role/my-EC2Role \
        max_ttl=1h \
        policies=my-secrets-policy.hcl
_________________________________________________________________________________________________
I specified IAM Instan

[2019-05-02 16:54] danlsgiga commented on #6659
@calvn If I have my Consul Secret mountpoint set with default TTL set to 15m at what time will Vault try to renew it?

I'm wondering what periodicity should I set for my `$(/opt/vault/client/bin/vault read -address=http://127.0.0.1:8100 -field=token consul/creds/my-consul-acl-role)` script to run to be able to get a new Consul ACL token when it is close to reach the max_ttl (system or mount point)

[2019-05-02 17:10] calvn commented on #6659
It works in the same way as the [role's TTL](https://www.vaultproject.io/api/secret/consul/index.html#ttl). If the role TTL is not provided then the mount's default_lease_ttl will be used, but otherwise the role TTL is used.

Your proposed solution makes sense, just make sure that the frequency is lower than the Consul token's max_ttl value (the lowest of the role's max TTL, mount's max TTL, and s

[2019-05-02 17:22] danlsgiga commented on #6659
Based on my calculation here, I'd have to run that script every 2 minutes to be able to get a new Consul ACL token with a default TTL of 15m to avoid the current one being revoked before I get a new one. 🤔 A bit overkill but 🤷‍♂

[2019-05-02 17:27] calvn commented on #6659
You should base it off the max TTL, not the default TTL value. Can you share the `my-consul-acl-role` role? If you didn't set a `max_ttl` value in there, and you didn't se a `max_lease_ttl` in the mount, any time before the system's max TTL (by default its 32 days) should work.

[2019-05-02 17:44] danlsgiga commented on #6659
Not really... I'm using the Vault agent cache mechanism, so if I run `$(/opt/vault/client/bin/vault read -address=http://127.0.0.1:8100 -field=token consul/creds/my-consul-acl-role)` repeatedly I'll always get the same results since it is getting the values from the cache. So I need to be able to run that command after the Vault agent failed to renew the lease which will force the creation of a ne

[2019-05-02 17:56] calvn commented on #6659
Ah, right re-fetching like so won't do it since it's being cached. There's an API endpoint that let's you clear the cache for that entry: https://www.vaultproject.io/docs/agent/caching/index.html#cache-clear (perhaps using type: `request_path`, value: `consul/creds/my-consul-acl-role`). You'll have to do that before running the `$(/opt/vault/client/bin/vault read -address=http://127.0.0.1:8100 -fi

[2019-05-02 17:56] #6011 closed

[2019-05-02 18:04] calvn commented on #6659
Actually that might not work, since clearing the cache would probably revoke the lease. I'll have to verify that.

[2019-05-02 18:05] marcuschaney commented on #6631
@joelthompson so I got passed that just to run into the 403 error from STS attempting to reach us-east-1, even after doing "export AWS_REGION=us-isob-east-1. Also, I ensure that was set via "aws configure".

I saw here that fix was implemented to specify region at login, what version was that implemented in?

https://github.com/hashicorp/vault/pull/6268/commits/99bd2afbb397f2dacb7c68fae8dd5264d619

[2019-05-02 18:08] danlsgiga commented on #6659
Ok, that may be a better path to take... thanks for poiting the clear cache endpoint.

So, from my understanding, clearing the cache will cause the agent to not renew the leases attached to that request_path anymore... but... it *won't* revoke the lease, right?

[2019-05-02 18:21] danlsgiga commented on #6659
According to my tests, it does *not* revoke the lease! 🎉

I was able to clear the cache using the request_path = /v1/consul/creds/my-consul-acl-role

Right after I requested a new one via `$(/opt/vault/client/bin/vault read -address=http://127.0.0.1:8100 -field=token consul/creds/my-consul-acl-role)` and the subsequent requests were cached!

[2019-05-02 18:52] joelthompson commented on #6631
Hi @marcuschaney -- I don't believe that fix has made it into a Vault release yet.

Anyway, some general thoughts:

1. I'm not sure your trick of putting the aws-us-gov partition in the instance profile will actually work when it comes time to login -- it'll likely fail out when trying to match the role to the instance profile.
1. The Vault CLI is really just a helper to generate the headers in th

[2019-05-02 19:02] calvn commented on #6659
Awesome! I'll close this for now, but if the problem re-surfaces feel free to re-open!

[2019-05-02 19:02] #6659 closed

[2019-05-02 19:36] thejmazz commented on #1935
I was thinking it would be nice to have a secrets backend I could send a SSH public key, and it would handle (temporarily) adding it to public keys of the repo on GitHub, GitLab, etc. The role would specify if read only or write key can be added, and which repos/orgs/etc. The credential to power the secrets backend would be an API key that can modify repo’s public keys. The UX of this would be muc

[2019-05-03 13:39] xpayn commented on #6616
https://stackoverflow.com/questions/54312213/hashicorp-vault-cli-return-403-when-trying-to-use-kv

[2019-05-03 14:41] marcuschaney commented on #6631
Hey @joelthompson I've decided to go the EC2 auth path, which doesn't required the STS call. Now, I'm getting a "500 Internal Server Error" when attempting to do the following:

pkcs7=$(curl -s \
  "http://169.254.169.254/latest/dynamic/instance-identity/pkcs7" | tr -d '\n')
data=$(cat <<EOF
{
  "role": "my-role",
  "pkcs7": "$pkcs7"
}
EOF
)

curl --request POST \
  --fail \
  --data "$data" \
  "

[2019-05-03 15:03] lusitania commented on #1711
I lost an hour trying to figure out why I'm getting this error. Seriously?! After over two years this hasn't been addressed in the for-noops-tutorial? Why bother using the "learning" platform, then?!

For the record: I've set
[code]
to interface my Vault dev server (official Docker image) with a local Vault binary.

My guess is that `VAULT_DEV_ROOT_TOKEN_ID` isn't even read by the CLI since there'

[2019-05-03 18:49] farvour commented on #3892
I completely disagree with this. I believe the ability to prioritize external groups in Vault is important so that conflicting policies are not chosen simply based on the specificity of the path defined in two different policies. I understand Vault is default deny, but when vault needs to compare two "conflicting" paths for a privilege set, there should be:

1.) A server side option to allow glob

[2019-05-03 20:39] marcuschaney commented on #6631
@joelthompson trying the workaround you mentioned here: https://github.com/hashicorp/vault/issues/4014

$ vault write auth/aws/login identity=$(curl -s http://169.254.169.254/latest/dynamic/instance-identity/document | base64 -w 0) signature=$(curl -s http://169.254.169.254/latest/dynamic/instance-identity/signature | tr -d '\n') role=<ROLE_NAME>

I now get the below error:
 {"errors":["instance i

[2019-05-03 21:44] joelthompson commented on #6631
Hey @marcuschaney -- just a heads up, you might run into similar issues when Vault tries to make AWS EC2 API calls to validate that the instance is real.

Anyway, in this case, you need to teach Vault about the certificate that it should use to verify the signature, as described at https://www.vaultproject.io/docs/auth/aws.html#varying-public-certificates -- you'll likely need to talk to your AWS

[2019-05-03 21:45] joelthompson commented on #6631
Also, just thinking a bit outside the box, does AWS provide SDKs for the classified region? If so, maybe you'll have better luck just forking Vault and swapping out the AWS golang SDK with the alternate SDK?

[2019-05-03 21:59] mgritter commented on #6602
@karl-tpio,

Thanks for submitting the issue!

I’ve looked at the code and I believe I’ve found a way to get your configuration working correctly.  The consul stanza in the configuration requires “scheme” to be set to “https” before it will look at the TLS settings.  See

https://www.vaultproject.io/docs/configuration/storage/consul.html#scheme

If you change your configuration to
[code]
you shoul

[2019-05-03 22:12] #6671 closed

[2019-05-03 22:13] kalafut commented on #6671
Thanks for the report (and the in-depth checks of OpenAPI in general).

[2019-05-04 01:25] karl-tpio commented on #6602
@mgritter thanks for getting back to me!  I'll spin my lab back up and give it a shot...

If my vote counts for anything, i'd strongly encourage parsing to determine the protocol as:

1. that's intuitive;
2. It would seem to be more consistent. I can't recall off the top of my head _where_ in the consul or vault config the **full** URI is required, but i do recall getting a warn/error to the effec

[2019-05-04 02:34] mgritter commented on #6602
Thanks for the suggestions, @karl-tpio.

The `tls_skip_verify` parameter does have to be a string in the HCL file, as per the comment in https://github.com/hashicorp/vault/issues/1559#issuecomment-228346310.  This was not a side-effect of the lack of `scheme`.  The parameter's value is parsed later, to accommodate values such as "0" or "1".  I'll look into updating the documentation.

[2019-05-04 15:03] guhcampos opened #6682 "Error loading CA File: permission denied if VAULT_CACERT has dots in path"
**Describe the bug**
Passing a VAULT_CACERT with dots in the path issues an error, no matter what the permissions on the actual file are.

**To Reproduce**
1. move your ca.crt to a path such as `$HOME/.certs/ca.crt`
2. `export VAULT_CACERT=$HOME/.certs/ca.crt`
3. vault status **error**
4. move ca.crt to a path with no dots such as `$HOME/certs/ca.crt`
5. `export VAULT_CACERT=$HOME/certs/ca.crt`
6.

[2019-05-04 17:56] sourcec0de commented on #6641
My team has been experiencing the same issue under the exact same circumstances. Going to upgrade to see if it mitigates the issue.

[2019-05-05 23:36] BentCoder opened #6683 "Policy definition in the config file?"
Hi,

Just trying to find out if we can define a policy in config file or not? I haven't seen anything in the doc unless I missed.

Thanks

Looking for something like below.

[code]

[2019-05-06 01:04] jleben opened #6684 "Incorrect examples in documentation of OIDC API"
Documentation for [OIDC Authorization URL Request](https://www.vaultproject.io/api/auth/jwt/index.html#oidc-authorization-url-request) has wrong examples:
- The [sample payload](https://www.vaultproject.io/api/auth/jwt/index.html#sample-payload-2) should have redirect URI fixed to: `https://vault.myco.com:8200/ui/vault/auth/jwt/oidc/callback` (position of `ui` and `vault` should be swapped)
- The

[2019-05-06 06:46] AnandJillawar opened #6685 "Vault OIDC/JWT bound_claims does not match claims if claim value is a list"
* Vault Version: Vault v1.1.0

I am using vault OIDC/JWT authentication mechanism.
I am having some custom claims in my oidc/jwt token.
I need to validate those claims in vault before successful login.
To do same I have used bound_claims property of vault.
But it seems that if expected claim value is list then vault does not match any of the claim.

Below is the my custom claim in oidc/jwt token :

[2019-05-06 11:22] ncabatoff commented on #6683
Hi @BentCoder ,

You haven't missed anything, this isn't possible.  There are a variety of projects out there for doing automatic post-unseal provisioning of Vault, along the lines of this blog post: https://www.hashicorp.com/blog/codifying-vault-policies-and-configuration.html

[2019-05-06 11:22] #6683 closed

[2019-05-06 11:36] tsahoo commented on #6607
Anybody got any chance to look this issue.

[2019-05-06 11:57] BentCoder opened #6687 "Remove compulsory declaration of `secret/*` for new policies"
Hi,

I hope I am doing things wrong but this is what I gathered so far.

**Is your feature request related to a problem? Please describe.**
It is a kind of problem but more like user experience problem. If I create a new policy I have to allow, at least, "list" access to `secret/*` path otherwise new policy cannot navigate to its own path `secret/staging` at all. All I would see is "Not Authorized

[2019-05-06 13:53] marcuschaney commented on #6631
@joelthompson Perfect, thank you for that info! I'll reach out to support for the cert. Also, I'll inquire about the SDKs for that region, but I know we've encountered issues dealing with SDKs up there before.

I'll update accordingly. Thanks!

[2019-05-06 14:29] jmls opened #6688 "incorrect methods in openapi vs api spec"
the openApi definition has incorrect methods in a number of areas, specifically a `GET` being specified when the api requires a `LIST`

from openapi:
[code]
from the api definition: (https://www.vaultproject.io/api/system/policies.html)

[code]

there are several of these, (getAuthAwsRoletagBlacklist, getAuthAwsRoles ,getAuthAwsRole etc) so I don't know if you have an automated way of finding them

[2019-05-06 14:42] mgaffney commented on #5166
Closed by #6652

[2019-05-06 14:42] #5166 closed

[2019-05-06 15:48] korentsov-e commented on #6607
Hi,
I think you cannot directly pass vault secrets as env.vars via kuberntes yaml, you can use own entrypoint in container, and source properties file as environment variables.

[2019-05-06 16:09] kalafut commented on #6688
There is special handling around LIST since it is a custom http verb. The API can handle it as "LIST", but it also will treat GET plus a `?list=true` query parameter the same way. Some systems won't tolerate the LIST verb, so the cli and sdk default to the query param format:
[code]

The OpenAPI spec doesn't allow LIST either (https://github.com/OAI/OpenAPI-Specification/blob/master/versions/3.0.2

[2019-05-06 16:22] kalafut commented on #6685
Hi,

Assuming your goal is to authorize if the "permission_sets" claim is either "Permission1" **or** "Permission2", then `bound_claims={"permission_sets":["Permission1","Permission2"]}` is the correct syntax. But support for this "match any" style validation appeared in Vault 1.1.1, so you may want to try upgrading and see if things work as expected.

[2019-05-06 20:18] BentCoder commented on #6687
Moved to https://github.com/hashicorp/docker-vault/issues/151

[2019-05-06 21:06] #6596 closed

[2019-05-06 21:08] marcuschaney commented on #6631
@joelthompson was able to get the cert from AWS! Have you ever seen this error when attempting to write to Vault's certificate directory:

Code 500. Errors:

1 error occurred:
       * invalid certificate; should be on PEM block only

I've tried this without the "---Begin" etc, and without that. Looking at the documentation, it just shows the cert without the "Begin" and "End"; however, I still ge

[2019-05-06 21:28] mgritter commented on #6596
The OUs should probably be a sequence of RDNs, not a single set, but this should really be fixed in the x509 package.  The committed change preserves the order, and I verified that the set is converted into a sequence by x509 when it is parsed.

[2019-05-07 02:49] joelthompson commented on #6631
Hi @marcuschaney -- actually, you need to base64-encode the certificate (including the beginning "-----BEGIN..." and ending "-----END..." lines). If you look at the docs (https://www.vaultproject.io/api/auth/aws/index.html#sample-payload-2) they show a sample payload of `LS0tLS1CRUdJTiBDRVJUSUZJQ0FURS0tLS0tCk1JSUM3VENDQXEwQ0NRQ1d1a2paNVY0YVp6QUpCZ2NxaGtqT09BUURNRnd4Q3pBSkJnTlZCQVlUQWxWVE1Sa3cKRndZ

[2019-05-07 03:38] AnandJillawar commented on #6685
Hi,
Thank you for quick response !!

I have one more issue.

I have one custom claim (just key value) in my jwt/oidc token as:
 **"accessright":"true"**

To validate above custom claim I have used bound_claims while configuring role for oidc/jwt authentication as :
bound_claims={"accessright":"true"}

This works only for **JWT** authentication but fails for **OIDC** authentication even though my o

[2019-05-07 08:07] chris-vest commented on #6641
Just to clarify, I'm still seeing the same issue with Vault 1.1.2, with the same frequency as Vault 1.1.0.

[2019-05-07 13:45] NFarrington commented on #6602
@mgritter Thanks for your message about the `scheme` configuration - I had the same issue, and this has fixed it.

I agree with @karl-tpio that parsing the address for a scheme would be intuitive, especially because this is the route I went configuring and debugging Vault:
1. Start Vault with `address` set to `vault.myhost.tld`.
2. Error occurs: `[WARN]  storage migration check error: error="Get h

[2019-05-07 15:57] kalafut commented on #6685
Do you have a sample of the token the OIDC provider is returning, with sensitive data elided? The handling of bound_claims is very similar whether JWT or OIDC is used, so I'm wondering if the claim isn't at the top level of the token in the OIDC response?

[2019-05-07 23:55] mrmodolo commented on #6325
I have the same error! However, if I remove the 'User Principal (UPN) Domain' I can no longer authenticate.

With the 'User Principal (UPN) Domain' attribute authentication happens normally!

[code]

[2019-05-08 05:08] AnandJillawar commented on #6685
It is also working for oidc now.
It was error from my identityprovider.
Thank you!

But still I am unable to perform "match any" style validation even after upgrading vault to Vault 1.1.1
I am still getting same error:

Expected Behavior:
Vault OIDC/JWT bound_claims should match any of the claim, if expected claim value is list

Actual Behavior:
Vault OIDC/JWT bound_claims does not match claims if

[2019-05-08 05:13] kalafut commented on #6685
Are you defining all of the bound_claims in one JSON block?  (You should)

[2019-05-08 09:38] AnandJillawar commented on #6685
I am defining like this
bound_claims={"permission_sets":["Permission1","Permission2"]}

[2019-05-08 11:42] krysopath opened #6694 "vault login fails when ~/.vault-token exists from other vault version"
**Describe the bug**
When trying to login to vault 1.1.2, while having a token created with an older or newer vault version in `~/.vault-token`, login fails with

[code]

same happens the other way around. (trying to log into an older vault while having a valid token for a new one)

**To Reproduce**
Steps to reproduce the behavior:
1. Run `vault login` against vault 1.1.2
2. `export VAULT_ADDR=htt

[2019-05-08 14:51] mrmodolo commented on #6325
Hi!

It may be that my settings help someone else! In my case, the internal domain used in my company is different from the email domain!

Internal domain: mydomain.**net**.br
Domain e-mail: mydomain.**com**.br

I was able to get the correct groups using the settings below.

[code]
I do not know if this is the best way, but I hope this helps!

[2019-05-08 15:45] kalafut commented on #6685
@AnandJillawar That's the correct syntax You mentioned another bound claim (accessright), so just to be clear you should be configuring *one* `bound_claims` parameter with all elements, like:

`bound_claims={"permission_sets":["Permission1","Permission2"], "accessright":"true"}`

But if the claim itself is a list, then the issue @chrissphinx raise may well why things aren't working. The bound clai

[2019-05-08 16:07] marcuschaney commented on #6631
@joelthompson Awesome, that did it!! Thank you so much for all your assistance! I was able to successfully add the cert (even though curl -v showed "no content" during the PUT). I was able to verify by doing:

curl \
    --header "X-Vault-Token: $vault_token" \
    http://vault.domain/v1/auth/aws/config/certificate/aws-public-cert

Which returned the decoded version of the certificate along with a

[2019-05-08 16:48] #6602 closed

[2019-05-08 20:58] bsachin12 opened #6699 "No permissions for sts role credentials when using Approle authentication"
Hello,

My pipeline could not generate sts credentials when using Approle to authenticate via jenkins.

Here is the policy defined in vault

Jenkins policy
-------------
# Login with AppRole
path "auth/approle/login" {
  capabilities = [ "create", "read" ]
}

path "secret/aws/*" {
  capabilities = ["create", "read", "update", "delete", "list", "sudo"]
}

Jenkins Code
--------------
def secretz = [

[2019-05-08 21:01] christek91 opened #6700 "Support Permission Boundaries for AWS IAM User Secrets"
**Is your feature request related to a problem? Please describe.**
I have a use case where I (an AWS Account Admin) would like to use Vault to generate IAM User credentials for some End Users.

However, I also would like to limit the amount of permissions I have to delegate to Vault to least privilege so as to limit damage in the event of a compromise.

Today, for Vault to create and manage IAM us

[2019-05-09 00:51] Lexman42 commented on #6667
Thanks for pointing this out.
[api/v1.0.2](https://github.com/hashicorp/vault/releases/tag/api%2Fv1.0.2) removes a transient dependency on `golang.org/x/net/trace`

$ cat v.go
[code]
$ cat go.mod
[code]
$ go run v.go
```2019/05/08 17:24:51 Hello world!```

We found that the dependency on `golang.org/x/net/trace` was introduced by an (unneeded) dependency on `google.golang.org/grpc`. Since grpc is

[2019-05-09 01:20] #6667 closed

[2019-05-09 02:47] bsachin12 commented on #6699
Can I get some help in configuring policy.

[2019-05-09 05:16] AnandJillawar commented on #6685
@kalafut

Thanks for your response and comments.

We are now thinking to configure our IdentityProvider to add a dedicated claim called **vault_access_right**: with value **true/false** when generating token.

We will set **bound_claims:{vault_access_right:true}** when configuring role for jwt/oidc authentication in Vault.

Now, I am facing issue in setting policy for jwt/oidc authentication.
I am

[2019-05-09 10:50] ncabatoff commented on #6685
Hi @AnandJillawar,

1. I don't know for sure, but I'm guessing it's because HCL is our default.  It's not uncommon for programs to accept inputs in multiple formats and convert them into a single preferred format for storage.

2. I think the issue you're facing is the same as described in #582, and the solution is to either escape your quotes or base64-encode your JSON.

[2019-05-09 12:45] CiraciNicolo commented on #6608
I'm using consul as the storage backend, is it possibile to export the kv storage via consul and import the result on another node? Or vault store some data somewhere else?

[2019-05-09 14:45] mattmb opened #6706 "Add `pki/issue_by_cn/<cn>` endpoint"
**Is your feature request related to a problem? Please describe.**
I was disappointed to find that the `pki/issue/<role>` endpoint leaves me with no way to restrict the domain (CN) of the cert to the user's name. The use case is to use vault to issue user certificates and to only allow issuing certificates with the user's name in the CN. I can kinda achieve this by creating 1 role per user program

[2019-05-09 20:25] sourcec0de commented on #6641
Same here, there was no change in the behavior after upgrading.

[2019-05-09 20:35] Crazybus opened #6710 "Approle logins timeout while vault is tidying up dangling accessors"
**Describe the bug**

Approle logins are blocked while dangling accessors are being tidied up.

See also #6252 where I was advised to open this issue to continue the discussion. In the pull request I also went into a lot of technical code level details (also in the review comments) about where I believe the source of the issue is coming from and how to potentially fix it. An alternative approach w

[2019-05-09 22:28] sivanag1974 commented on #6476
Thank you.
When is the next release? Any tentative date?

[2019-05-09 23:55] mgritter commented on #6682
@guhcampos, I tried reproducing this on the latest version without success, on Ubuntu 18.04 LTS.

Failure with no VAULT_CACERT set:

[code]

Success with VAULT_CACERT containing a dot-path
[code]

Can you provide the vault command's output in the failing case?  For example, do you get "certificate signed by unknown authority" or some other message such as

[code]
or
[code]

If the certificate vali

[2019-05-10 00:34] h8liu opened #6711 "vendor dir not updated, causing build errors without using modules"
**Describe the bug**
`go get github.com/hashicorp/vault/builtin/logical/pki` fails to build without go module.

[code]

**To Reproduce**
`go get github.com/hashicorp/vault/builtin/logical/pki` under a GOPATH directory

**Expected behavior**
It builds.

**Environment:**
Does not really matter

**Additional context**
Found by [gopkgs.io](https://gopkgs.io):
https://gopkgs.io/builds/20190510-002110-d

[2019-05-10 00:38] h8liu commented on #6711
Running a `go mod vendor` should fix that issue.

[2019-05-10 00:39] h8liu commented on #6711
Or just remove the `api` and `sdk` directories under `vendor`. There is really no point to vendor those.

[2019-05-10 01:11] jefferai commented on #6711
What SHA is your git repo at?

[2019-05-10 01:11] jefferai commented on #6711
Oh, NM, I know what caused that.

[2019-05-10 01:15] #6711 closed

[2019-05-10 09:05] itnazeer opened #6713 "mysql multiple users getting created on every response."
The most problematic part for us is that Vault database secret engine generates new set of credentials each time someone request for them. This determines that each request generates a new database user and this can be a serious problem.

How can we overcome this issue?

[2019-05-10 11:40] ncabatoff commented on #6713
Hi @itnazeer ,

I've responded to this same question you asked on the mailing list, which I think is the best forum for this sort of question.

[2019-05-10 11:40] #6713 closed

[2019-05-10 13:06] rebbuh opened #6714 "Web UI does not trim leading/trailing whitespaces in a secret's key"
**Describe the bug**
The Web UI does not trim leading/trailing whitespaces in a secret's key. Consequently, there might be issues when accessing the key. These leading/trailing whitespaces are hard to detect in the UI, especially since the input fields have a custom style and padding.

**To Reproduce**
Steps to reproduce the behavior:
1. Create a secret using the Web UI.
2. Add a key-value pair in

[2019-05-10 15:25] sgrimm-sg opened #6716 "Support external decryption of tls_key_file"
Vault reads its TLS private key from the server's filesystem, and requires it to be in plaintext unless a human is present to supply a passphrase.

That's not ideal when auto-unseal is enabled, since it means a human still has to be present to spin up a new Vault instance even though there's no longer an unseal key.

Auto-unseal environments need an external service that supports encrypting and de

[2019-05-10 17:22] mberhault opened #6719 "identity: support time-limited group membership or policy attachment"
**Is your feature request related to a problem? Please describe.**
We are using [entities and group](https://www.vaultproject.io/docs/secrets/identity/index.html) to define various groups that have specific policies attached as well as operators who are members of those groups.

This works very well for established teams with fixed permissions (eg: the operators of a service will have access to cr

[2019-05-10 17:43] #6007 closed

[2019-05-10 17:48] bartlettc22 opened #6720 "Token Renewal Issue for LDAP user not assigned to any LDAP groups"
**Describe the bug**
There appears to be a bug when using the LDAP Auth Method when the user does not belong to any groups created via the `/auth/ldap/groups/...` path.  These users can log in using this method however when they go to renew, they get an empty 204 response and the token is not renewed.  This could also be conflicting somehow with Identity Entities/Groups as we also have those confi

[2019-05-11 02:36] mountainowl commented on #6616
You just need to enable the KV secrets engine. My example used consul, but you can do it with files backend as well.

$ cat vault-config.hcl
[code]
$ vault server -config vault-config.hcl
[code]
$ vault secrets enable -path=secret/ kv
[code]
$ vault kv put secret/foo bar=baz
[code]

$ vault kv get -format=json secret/foo
[code]

You can verify that it exists in Consul (raw data)
$ consul kv get -r

[2019-05-13 12:29] jwaiswa7 commented on #5944
Thanks @ncabatoff , Your solution was of great help

[2019-05-13 20:05] avnban1988 commented on #5745
@ewatski3 I am getting same issue. Can you please post me detailed  steps you took to resolve this issue

[2019-05-13 20:10] jsirianni opened #6726 "package vault/helper/certutil is missing"
**Is your feature request related to a problem? Please describe.**
The package `certutil` appears to have been removed, and I have been using `certutil.ParsePEMBundle()`

**Describe the solution you'd like**
I would like an alternative package or the `certutil` package be reimplemented

**Describe alternatives you've considered**
I have already retrieved the source code from release 1.1.1, however

[2019-05-13 20:20] jefferai commented on #6726
It's moved to sdk/helper/certutil.

[2019-05-13 20:20] #6726 closed

[2019-05-13 21:58] kalafut commented on #6685
We agree that handling a received claim that's a list is a useful improvement. I'm going to close this issue and we'll centralized discussion at https://github.com/hashicorp/vault-plugin-auth-jwt/issues/46 where there is also an open community PR against this issue.

[2019-05-13 21:58] #6685 closed

[2019-05-13 21:59] kalafut commented on #6685
Duplicates https://github.com/hashicorp/vault-plugin-auth-jwt/issues/46

[2019-05-13 23:07] ilatypov commented on #212
`api_addr` and `cluster_addr` need to be set to the "https://FQDN:PORT" form (the cluster's port above the API's one).  Skipping TLS verification makes TLS useless.  Adding a numeric IP to the cert request's alt name makes it vulnerable to spoofing in LAN.

[2019-05-13 23:10] ilatypov commented on #212
With trial and error, I figured Vault expects an inverted order of certificates in the cert chain file (with the server cert on top).  It reads the path to the cert chain file from a property `tls_cert_file`,
[code]

The `address` property above can have all zeros as it's a directive to listen on all IP interfaces.

[2019-05-14 10:28] innovationhub-asia commented on #371
@jefferai , should we open a separate ticket on the KMIP support, or its not in the scope?

[2019-05-14 10:45] zrml commented on #371
+1 on KMIP if my previous post was not clear... Thank you Hashicorp! You rock!

[2019-05-14 13:10] jefferai commented on #371
@innovationhub-asia This ticket is fine for registering interest.

[2019-05-14 13:48] mstuparu commented on #6273
I'm just experiencing the exact same issue. Vault(1.1.2) with KMS auto unseal and we can't retrieve the unseal keys via:

`curl -vsk ${VAULT_ADDR}/v1/sys/rekey-recovery-key/backup -H "X-Vault-Token: ${VAULT_TOKEN}`

[2019-05-14 14:58] jefferai commented on #6273
I've fixed the docs, which had the wrong API paths, they should be updated shortly.

[2019-05-14 16:03] asksmruti opened #6730 "how to set role arns through terraform - vault_aws_secret_backend_role assumed_role cred type"
Is there anyway to set the role_arn through terraform ?

Here is my piece of code, however I am unable to automate this through terraform.
[code]
It's complaining `invalid or unknown key: role_arns`
I tried with `policy_arns` but that's valid only for `iam user` type.  Terraform doc does not say anything specific to assume_role type, at least I did not see anything

https://www.terraform.io/docs/p

[2019-05-14 16:41] ciiqr opened #6731 "Proxy protocol deny_unauthorized, http server stops listening after a request from a non-whitelisted ip"
**Describe the bug**
When using `proxy_protocol_behavior = "deny_unauthorized"`, after vault receives a request from a non-whitelisted ip, the http server dies and it no longer accepts http requests even from whitelisted ips. Though vault continues running, and no logs are produced.

**To Reproduce**
Steps to reproduce the behavior:
1. start vault with:
[code]

2. make any http request to vault fr

[2019-05-14 17:09] briankassouf commented on #6730
Hi @asksmruti!

Thanks for the question, however I'd recommend asking about this over at https://github.com/terraform-providers/terraform-provider-vault which is the project for the Vault Terraform Provider.

Going to close this here for now

[2019-05-14 17:09] #6730 closed

[2019-05-14 21:59] brycesteinhoff commented on #3339
Does anybody know if Vault has this functionality yet?

[2019-05-14 23:31] jefferai commented on #3339
This exists in the form of Control Groups (Enterprise only).

[2019-05-15 07:22] eigengrau opened #6733 "Support structured logging"
It would be convenient if Vault could be configured to log in JSON format. This would alleviate the need for costly or potentially brittle parsing when shipping logs to a centralized database.

[2019-05-15 08:28] sandromehic opened #6734 "influx db revoke crashes vault"
**Describe the bug**
I'm using vault with nomad to run influxdb job and provide credentials to various other jobs (telegraf, etc.) through vault influxdb secrets engine. When I stop the nomad job, it revokes the given lease, after which the vault crashes.

I'm not sure if this is vault or nomad bug, but either way, I find my vault instance restarted and sealed because of this. I have started to se

[2019-05-15 16:19] sgmiller opened #6738 "Agent doesn't proxy GET parameters on health check"
**Describe the bug**
When issuing a request to /v1/sys/health with query parameters (such as standbyok), those parameters are not proxied to Vault.

This means we can't set up a health check in Kubernetes as it expects 200.

**To Reproduce**
Steps to reproduce the behavior:
1. curl http://localhost:8200/v1/sys/health?standbyok=true
2. Note the 429 response if the agent proxies to a standby node.

[2019-05-15 16:21] bernardogza commented on #2912
I am getting the same error

I am having the same error on a kubernetes cluster. Only on one replica out of three:
[ERR] http: Request PUT /v1/agent/check/pass/vault:10.244.0.9:8200:vault-sealed-check?note=Vault+Unsealed, error: CheckID "vault:10.244.0.9:8200:vault-sealed-check" does not have associated TTL from=10.244.1.8:54692

Did you find the solution ?

[2019-05-15 17:38] utdrmac commented on #3074
Is this ever going to get fixed? I too just read in the documentation that ed25519 signing is not supported. What happened to the PR which fixes the documentation?

[2019-05-15 17:50] kalafut commented on #3074
Hi. Can you elaborate on what needs fixing? ed25519 keys support signing. https://www.vaultproject.io/docs/secrets/transit/index.html#ed25519.  This GH issue, and the PR that was merged, was clarifying that the hash algorithm configuration isn't applicable to ed25519 keys.

[2019-05-15 18:05] utdrmac commented on #3074
https://www.vaultproject.io/api/secret/transit/index.html#sign-data

The parameter for `hash_algorithm` states: "Specifies the hash algorithm to use for supporting key types (notably, not including ed25519 which specifies its own hash algorithm)"

The way it is written, this tells me that signing with ed25519 is not a supported key type for signing because it says "for supporting key types" then s

[2019-05-15 20:18] adragoset opened #6742 "/v1/consul/creds/role_name fails with max_ttl must be greater than 0"
**Describe the bug**
When using the consul secrets engine back end issuing a token fails with a 500 error max ttl must be greater than zero

https://localhost:8200/v1/consul/creds/portworx

Role info from consul secret backend
```{\"request_id\":\"c27f85f8-9764-27a4-ac86-0955c5963e52\",\"lease_id\":\"\",\"renewable\":false,\"lease_duration\":0,\"data\":{\"lease\":3600,\"local\":false,\"max_ttl\":3

[2019-05-16 00:47] guhcampos commented on #6682
This is odd, the issue is consistently reproducible for me. The error I get is simply "permission denied" - sorry for neglecting this before.

An example I just ran (note the second error is actually a success, I just omitted my server address here)
[code]

[2019-05-16 00:51] Reifier commented on #6641
Seeing the same issue

[2019-05-16 08:02] mgritter commented on #6682
I've looked over the code path and there's nothing I can find that would process a "dot-directory" differently, though I might be missing something.  That suggests we need to look at environmental issues.

I believe the vault client runs as your user ID, so ordinary permissions should not be a problem, though you could of course check the permissions on .cert to see if they differ from those on th

[2019-05-16 09:20] git001 commented on #371
I have started a ML thread about this topic.
https://groups.google.com/forum/#!msg/vault-tool/OujzIyI_-30/3xeHav9cAgAJ

[2019-05-16 10:44] hiscal2015 commented on #6326
@Nandito4 @tyrannosaurus-becks I have the same issue, is this addressed and what’s the solution? Thanks.

[2019-05-16 16:20] sgrimm-sg opened #6747 "Support copying non-exportable keys to new names"
When application requirements change, sometimes the initial decisions about how to name secrets in Vault are no longer appropriate, but at the moment, Vault secret names are set in stone the moment they're created.

The closing comment on https://github.com/hashicorp/vault/issues/4525 suggests dumping out the existing values and creating new keys with the same values, but that only works when valu

[2019-05-16 18:56] mgritter opened #6749 ""make proto" doesn't work"
I encountered problems with import paths running "make proto" as part of the StoragePacker v2 work:

[code]

I had to change the path to "vendor/github.com/golang/protobuf/ptypes/any/any.proto" in the storagepacker/types.proto file, but that doesn't seem like the right solution. Maybe the Makefile should be specifying a search path? Or is this fallout from conversion to Go modules?

[2019-05-16 19:02] jefferai commented on #6749
This is something specific to the version of protocol buffers you're using. Please ask in chat...

[2019-05-16 19:02] #6749 closed

[2019-05-17 13:39] vliubko opened #6752 "Database backend – broken Postgres config"
**Describe the bug**
Trying to setup Postgres Backend from official guide https://www.vaultproject.io/docs/secrets/databases/postgresql.html and getting an pg error.
My password contains symbol `#` and that seems an error for parsing (or validation) of my config.

**To Reproduce**
Steps to reproduce the behavior:
1. Run `vault secrets enable database`
2. Run `vault write database/config/my-postgre

[2019-05-17 16:49] jaybe78 opened #6753 "How to reach vault deployed on a dedicated cluster from another cluster within same VPC"
Hi Guys,

I'm quite lost and I need some clear guidance.
I have created 2 kubernetes clusters on aws  in a VPC. Each cluster has their own subnets.

The first cluster "MI"  is dedicated to micro services and applications needing vault secrets
The second one "VA" is dedicated to consul/vault.

Obviously the idea is to make the "MI" cluster talks to vault in the "VA" cluster. In the init container o

[2019-05-17 18:37] rfults commented on #4897
There is a free to use community edition of the platform that has all of the api's exposed.  I'm sure someone on the Couchbase team would happily work with you to develop this as well.

[2019-05-17 22:04] Marusyk opened #6754 "Certificate not revoking"
I follow [this docs](https://www.vaultproject.io/api/secret/pki/index.html#revoke-certificate) and trying to revoke existing certificate by API.

Expected result: certificate revoked and response with revocation_time
Actual: empty response with 204 status code

The same result in UI: Are you sure you want to revoke 22-46-55-d5-da-01-b0-da-ac-19-a4-2e-9e-26-fe-40-0c-1b-5a-23? Press Revoke and nothi

[2019-05-19 16:34] saddlebear commented on #5848
I agree with dreamflasher, there needs to be a documented uninstall procedure (and/or script) to mirror the installation procedure.   If I run a -dev mode server, is everything cleaned up when it quits so I can safely install a production version on the same machine?   If I uninstall a production server I want all the keys and such removed as well.  Yes, yes, I know some of the installation is man

[2019-05-19 16:37] saddlebear opened #6757 "Uninstall procedures/documentation"
There needs to be a documented uninstall procedure (and/or script) to mirror the installation procedure.  If I run a -dev mode server, I want to be sure everything is cleaned up when it quits so I can safely install a production version afterwards.   If I uninstall a production server I want to be sure everything is cleaned up as well (keys, configs, etc.). Yes, yes, I know some of the installatio

[2019-05-19 17:06] erplsf commented on #6439
Greetings. I'm using Vault v1.1.2 and still have this error. Can you share the version that this is going to be addressed so I can watch for updates?

[2019-05-20 08:15] #6328 closed

[2019-05-20 09:43] michelvocks commented on #6754
Hi @Marusyk,

I double checked your issue and when I revoke the certificate, the response looks like this:
[code]

What Vault version do you use and could you provide an example script which helps us to reproduce your issue?

Cheers,
Michel

[2019-05-20 10:28] Marusyk commented on #6754
Yeah, in most cases it works well and returns response like you described

[code]
but it is actually is the problem, that for some certificates it just return 204 without response body.

I'm using[ the latest docker container 1.1.2](https://hub.docker.com/_/vault/)
I didn't know how to reproduce that, I've just generate intermediate certificate from[ this post](https://learn.hashicorp.com/vault/se

[2019-05-20 12:44] michelvocks commented on #6754
It would be great to have a script which contains the steps you did to reproduce this issue.
When I follow the mentioned learning guide and revoke the generated certificates it works for me.

[2019-05-20 13:53] jefferai commented on #6641
Looks like some issue with the GCS storage method. Maybe you're running out of IOPS?

[2019-05-20 14:20] jefferai commented on #6733
It can -- set the `VAULT_LOG_FORMAT` env var to `json`

[2019-05-20 14:20] #6733 closed

[2019-05-20 14:47] eigengrau commented on #6733
Awesome, many thanks! Is this missing from the logs, by any chance? I could have just overlooked it, but a Google search only turns up references to the Vault source code.

[2019-05-20 15:10] #6631 closed

[2019-05-20 15:37] jefferai commented on #6733
For reasons that are mostly historical at this point we didn't want to expose this publicly when we first added this support. Now that we're using an HC-wide logging library with a given format we can probably expose this more publicly.

[2019-05-20 15:52] jefferai commented on #6754
My guess is that the certificate is already expired; or, the certificate was issued with a role that has storage turned off, so we can't revoke it.

[2019-05-20 16:16] jefferai commented on #6439
@erplsf Please file a new issue. If you are using a version that has a `vault` stanza it is clearly a different issue from this problem where the version of the agent in use didn't actually have support in the first place.

[2019-05-20 16:19] jefferai commented on #6757
Uninstallation depends on how you installed it, so we can't really provide a document on uninstalling given we don't provide installers. If you installed via a package manager, uninstall via the package manager; if you downloaded the binary and put it somewhere, delete that binary.

When you run in dev mode, the warning states:

As a result, no cleanup is necessary when you shut down the dev serve

[2019-05-20 16:19] #6757 closed

[2019-05-20 16:56] mberhault opened #6758 "Login with subset of allowed policies."
**Is your feature request related to a problem? Please describe.**
When a user has policies in Vault corresponding to multiple roles (for example, we may have a "production admin" and a "staging admin", each granting accress to completely different sets of secrets), we would like to be able to interact with Vault using a subset of the allowed policies.
The goal is to add a safety mechanism to limi

[2019-05-20 17:12] briankassouf commented on #6758
Which auth method are you attempting to do this with? As you already mentioned gcp, and most other auth methods, have a role distinction that allow you to specify different sets of policies to apply to the token. This is already generalized across most of the backends, but curious if there is one in particular that is missing

[2019-05-20 17:23] mberhault commented on #6758
We are currently using the github auth method and will likely enable JWT soon (with OIDC from Google), using entity aliases to tie multiple login methods into a single entity. That entity would have policies granted by its group memberships while the per-auth identifiers would have no directly-attached policies.

One solution could indeed be to have all auth methods support this type of selection.

[2019-05-20 20:11] jefferai commented on #6758
An existing way to do this would be to just create a child token with a limited subset.

[2019-05-20 20:37] Marusyk commented on #6754
Thanks @jefferai , you're right. The certificate was expired! I didn't notice it. So, it would be great to extend the documentation.

[2019-05-20 20:37] #6754 closed

[2019-05-20 20:37] ghost opened #6762 "Clarify documentation for user management?"
**Is your feature request related to a problem? Please describe.**
The documentation for user management seems to be missing some detail which led me to be quite confused. For instance, when using token authentication how do you create the user with and associated token, or with userpass how does the user reset their password and why are quoted strings with spaces not allowed.

In addition it does

[2019-05-21 12:22] chris-vest commented on #6641
Is it possible we're hitting the query limit on the Google API?

[2019-05-21 12:41] chris-vest commented on #6641
@joatmon08

[2019-05-21 14:56] meshantz commented on #6566
This would be really handy.

I found a [forum post](https://groups.google.com/forum/#!topic/vault-tool/oV5bi1ls76s) that seems to apply to other plugins, but it provided me with a workaround for the moment:

If you set vault's `log_level` to `"debug"`, you'll get any messages sent through your (unconfigured) `hclog.Default()` logger.

If anyone can advise on how to properly configure a logger to s

[2019-05-21 15:39] jmls commented on #582
man, I am so having issues with policies, json and the rest api .

why on earth can't we just pass in json, like most of the other api's .. and saying that `policies: somestring` is json doesn't really cut it , that's a copout.

I'm trying to write a policy from another node app, calling the rest api. In this other app, my json is

[code]

[2019-05-21 15:47] madven commented on #657
for recent versions use `vault login`

[2019-05-21 16:05] jmls commented on #582
thanks - yes, the cli seems to work just fine - but it's the rest api that I have problems with. Internally the cli must be doing something to the json to get it into a format suitable for the rest api. IOW - what do I need to do to convert the json in testpol.json to a format suitable for the `policy` key in the rest api ?

[2019-05-21 16:07] jefferai commented on #582
It's simply treating the value as a string and calling Go's json.Marshal function. IOW it's JSON-escaping the string.

[2019-05-21 19:32] jmls commented on #582
FWIW, I've found that this works for node. Seems awfully clumsy though ...

[code]
if `y` is now stored in `foo.json`, the resultant data can then be passed on the command line

[code]

[2019-05-21 21:31] tstoermer opened #6769 "Duplicated pki mount entries, vault unable to start"
**Describe the bug**
This is the concise bug description after a lot of investigation - see additional context for detailed story.
Special cases can cause a duplication of PKI mounts at same path. The PKI secret engine is used by clients with active certs and leases. The secret engine will be deleted with terraform destroy. The destroy takes up to 1 min for cleanup tasks and succeeds. Afterwards,

[2019-05-21 21:52] evitalis commented on #6632
@jmls I am also seeing the documentation for listing group names is also invalid and results in path errors from the API. As soon as I get some example output I am going to open an issue on that as well.

[2019-05-21 22:08] evitalis commented on #6757
@jefferai I think he is asking for if he following the provided instructions and does not use dev mode. There are a lot of gaps in the documentation and this is something that would be helpful. I know I am using non-dev mode and want to reset my instance but cannot find information on.

[2019-05-22 00:13] jefferai commented on #6757
Simply delete the vault data from your data store.

[2019-05-22 00:14] jefferai commented on #6632
Even better, open a PR :-).

[2019-05-22 05:32] sarathmohan4 commented on #6476
Any tentative release date planed for this? @tyrannosaurus-becks

[2019-05-22 09:27] Alex-Mussell commented on #5718
Hello @lakshmankashyap, did you manage to fix this error? How did you do it? Do you need to have a consul specific job?

[2019-05-22 09:37] mygithubthrowaway opened #6774 "Oracle roles: empty database name attribute with v1.1.2"
**Describe the bug**
Creation of roles with oracle-plugin needs database name, with previous Vault version (v1.0.2) works without it.
With new version (v1.1.2) the role is not valid for all my database configured under database/config/*

**To Reproduce**
With version v1.0.2:

`vault write database/roles/role-dba  creation_statements='CREATE USER {{name}} IDENTIFIED BY {{password}}; GRANT connect T

[2019-05-22 10:36] zsmuller commented on #3591
I had a similiar issue/symptom, but the cause turned out to be a bad example/tutorial on the net.

I'm using Vault with Docker and got the following instructions somewhere:
1. Start the Vault server:
[code]
2. Use the following commands for setting up a "vault" alias:
[code]
3. Issue Vault commands via the alias:
[code]

The problem is that simply exporting the VAULT_ADDR shell environment variabl

[2019-05-22 11:01] netson opened #6775 "vault audit list -format json does not return JSON when list is empty"
**Describe the bug**
The command ```vault audit list -format json``` does not consistently return a valid JSON object; if there are no audits enabled, the returned result is simply a string. When trying to automate certain steps, always receiving a JSON object is mandatory.

**To Reproduce**
Steps to reproduce the behavior:
1. make sure no audits are enabled (```vault audit disable ***```)
2. run

[2019-05-22 16:21] #6738 closed

[2019-05-23 06:48] mberhault commented on #6758
It would, and this would work in the case where the subset of policies is known in advance. In the case of policies inherited from group memberships I would need to resolve all of these myself ahead of time, duplicating work otherwise done automatically by Vault.

[2019-05-23 07:31] h8liu commented on #6711
This is happening again.

[code]

[2019-05-23 08:00] pouyana commented on #6325
Hi

from the v.1.1.1 I have the same Problem. The old configuration that retrieved the groups does not work any more. I am able to login, but the groups are not found. The only change to LDAP helper from here https://github.com/hashicorp/vault/compare/v1.1.0...v1.1.1 was 8ade9c18ef9646494566598c850d57c301e5f729.

My configuration for help:

[code]

[2019-05-23 09:16] joatmon08 commented on #6641
@chris-vest: @jefferai is the right person to address the issue. Good seeing you!

[2019-05-23 14:45] jefferai commented on #6711
We update vendor sporadically. If you are using master, you should be using go modules. Otherwise you should pin to a released/tagged version of Vault.

I've updated it for now, but again, if you are not using go modules you should pin to a tagged release.

[2019-05-23 14:57] jefferai commented on #6641
I'm definitely not the right person as I know nothing at all about the GCS storage engine other than that you can run out of IOPS.

@emilymye @sethvargo

[2019-05-23 17:36] sethvargo commented on #6641
The error you're seeing is a result of a bug in Go's HTTP Stack (golang/go#29308). Looking at the code though, it should have retried shortly thereafter.

The "connection reset by peer" is a bit misleading. It's also possible that your local system is running out of file descriptors (or we are leaking them somewhere, causing exhaustion). Unfortunately there's [no way to increase FD limits in a con

[2019-05-23 18:56] jefferai commented on #6641
I'm decently confident (3) is related to being unable to fetch cluster configuration from storage, so related to (1) and (2)

[2019-05-23 19:17] alexodle opened #6779 "Expose status code from API errors"
Similar to: https://github.com/hashicorp/vault/issues/2140, but specifically, an http status code should be exposed via the error object returned by the vault API. Right now, the only way to get the status code is to parse it out from the error string "Code: <status_code>" returned by the API.

*For reference*:
* Error is created here: https://github.com/hashicorp/vault/blob/master/api/response.go

[2019-05-23 19:18] alexodle commented on #2140
Not sure I 100% agree with @jefferai 's comment, as the http status code is available from the response, regardless of being able to parse the json response. Opened up #6779 to reinvestigate this.

[2019-05-23 19:24] jefferai commented on #6779
It's actually very complicated to do this because of API breakages. In most cases it would require introducing copies of existing functions to return response structures instead of base underlying data + error, and at that point we might as well v2-rev the Go API. Which it'd be nice to do at some point but is a significantly more burdensome task -- likely this would come from the OpenAPI plus a lo

[2019-05-23 19:24] #6779 closed

[2019-05-24 03:47] broady commented on #6641
What version of Go are you running? Presumably newer than Go 1.11.4? (mid-December 2018)

[2019-05-24 10:20] zak905 opened #6783 "The curl command for vault CLI kv patch is not correct."
**Describe the bug**
The curl command for `vault kv patch -output-curl-string` is not correct.

**To Reproduce**
- create some secret `vault kv put secret/test test=test `
- attempt to generate a curl request output for a patch `vault kv patch -output-curl-string secret/test test=newValue` result:

`curl -X GET -H "X-Vault-Token: $(vault print token)" http://127.0.0.1:8200/v1/secret/data/test`

**

[2019-05-24 13:41] tstoermer commented on #6769
Just one hint for other affected users I found while reproducing the issue:
If you got the vault server error message during PKI mount delete, you can restart the vault primary server. Then you will see the secret mount listed again, which cannot be used anymore. But now you can cleanup this invalid mount with CLI - e.g.:
[code]
During my tests, it seemed to work for cleanup.
**Of cause this will

[2019-05-24 13:50] jsynowiec commented on #4800
@jefferai I have the self signed CA installed on the system (I can use curl just fine) but Vault still refuses to validate the Consul certificate when I'm trying to use Consul Secrets Engine. As a backend, Consul works.

[code]

Shouldn't Vault use the system CA bundle?

[2019-05-24 14:22] jordiclariana opened #6784 "Listing a KV V2 directory doesn't work when pointing to a Vault agent"
**Describe the bug**
Vault [API documentation](https://www.vaultproject.io/api/overview.html) claims that using `LIST` method or `?list=true` query string are interchangeable and produce the same result. That is true but when using a vault agent in between the client and the server it doesn't work.
Using the `LIST` method works as expected while the query string `list=true` returns a 404.

`vault`

[2019-05-24 16:28] briankassouf commented on #6784
already should be fixed by #6772

[2019-05-24 16:28] #6784 closed

[2019-05-24 16:28] chrishoffman commented on #6783
You are correct that 2 commands are called when doing a patch and we really don't support this with the curl string.  It may just make sense to not allow the output string for patch.

[2019-05-24 19:59] drewmullen opened #6785 "azure auth list roles error"
looks like the docs are wrong or the function name neglected the 's' in source https://www.vaultproject.io/api/auth/azure/index.html#list-roles
says `auth/azure/roles` but should be `auth/azure/role`

with `roles`

`{"errors":["1 error occurred:\n\t* unsupported path\n\n"]}`

with `role`

[code]

[2019-05-24 21:50] catsby commented on #6742
Hey @adragoset  - are you still able to reproduce this issues? I've tried the latest version of both Vault and Consul, as well as the versions you provide, and I'm not having any issue generating credentials. Is there any other output you could share?

[2019-05-25 07:21] jordiclariana commented on #6784
Awesome, thanks! I missed that PR and its related ticket.

[2019-05-26 04:39] joelthompson commented on #6700
Hi @christek91 -- I opened #6786 that should address this, but with a slight difference. Rather than a permissions boundary per mount, I decided on a permissions boundary per Vault role. The reason for this was a combination of simplicity (there wasn't really a good place already existing to store a per-mount permissions boundary) as well as flexibility (you might have a policy that requires Vault

[2019-05-27 16:40] meshantz opened #6790 "max_open_connections default value is too low for the oracle database plugin"
**Is your feature request related to a problem? Please describe.**
The `max_open_connections` setting for database plugins has a default value of `2`, which is too low for the oracle database plugin. See hashicorp/vault-plugin-database-oracle#16

**Describe alternatives you've considered**
I see two options:
1. Raise the default value to `3`. However, I've seen issues related to too many file desc

[2019-05-27 19:06] evitalis commented on #6632
@jefferai Sure we can do a PR but it would also be helpful for Hashicorp to validate the other documentation as there are other noted gaps and/or missing information for some topics, see #6762 for one more example.

[2019-05-27 19:37] annerajb commented on #371
I am also interested in vault with a KMIP 1.1 endpoint .
for context this is to connect as a KMS to VMware vSphere

[2019-05-28 11:07] zenathar opened #6792 "Vault can't handle properly AWS RDS postgresql multi-az failover"
**Environment:**

* Vault Version: 1.1.2
* Operating System/Architecture: centos-release-7-2.1511.el7.centos.2.10.x86_64

**Vault Config File:**

[code]

**Startup Log Output:**

[code]

**Expected Behavior:**
After multi-az failover on postgresql on AWS RDS vault should properly generate new credentials when requested.

**Actual Behavior:**
After multi-az failover vault hangs maximum amount of ti

[2019-05-28 14:36] drewmullen opened #6793 "azure auth param doc issues"
https://www.vaultproject.io/api/auth/azure/index.html#bound_resource_group_names

param name should be `bound_resource_groups` in docs **not** `bound_resource_group_names`

param name should be `bound_locations` in docs **not** `bound_location`

it is also missing the param `num_uses` in the documentation
[code]

[2019-05-28 18:59] christek91 commented on #6700
@joelthompson this change looks perfect to me! I think that making the permissions boundary an attribute of the Vault Role is fine for my use case, and probably for most others' too.

I'm not sure why that PR is failing CI, but I really appreciate that you've put it together. 👏 💯 🎉

[2019-05-29 05:31] jurgenweber commented on #6092
I have this problem but with a '^' in the password, how do you resolve it?

[2019-05-29 10:38] rifaterdemsahin opened #6794 "Getting to High Availability"
What are the syntax changes that need to happen for HA in Vault?

What should I consider to do ?

[2019-05-29 12:26] drewmullen commented on #6785
@kalafut while youre making this change you may as well do https://github.com/hashicorp/vault/issues/6793

i should have combined them... originally i thought the behavior was a bug then i realized its just another doc error

[2019-05-29 12:30] kalafut commented on #6785
@drewmullen Thanks. I’ll be going through a number of docs fixes soon.

[2019-05-29 14:54] pires opened #6795 "Feature request: API rate limiting"
### Problem

Without API rate limiting, Vault can be DoS'ed by less educated, or ill motivated, clients. As far as we can understand, the limits are undetermined and are invariably tied to the resources allocated to the machine where Vault is running and/or the definition of `ulimits`.
We are aware [there is a limit for request size](https://www.vaultproject.io/api/overview#limits), though.

In on

[2019-05-29 15:10] jefferai commented on #6795
Hi there,

We've had many customers requesting rate limiting and we are actively working on the design of it, but we've had to ensure that we can find a design that doesn't impact those customers with extremely latency-sensitive workloads which has been the challenge to this point.

It's likely to take place in two parts; one, and likely first, is to ensure that pathological cases are addressed wi

[2019-05-29 15:19] pires commented on #6795
I started this issue to discuss design as per @armon response to my tweet (linked in the issue description above). I wouldn't have done it if I knew the outcome would be closing the issue just because **you** are working on it. You could have saved me the time and simple mention you are **not** interested in discussion. What a waste of my time :(

[2019-05-29 17:36] jefferai commented on #6790
Happy to bump up the default from 2 (after all ideally this just works), but you can already override the default per mount -- https://www.vaultproject.io/api/secret/databases/oracle.html#max_open_connections

[2019-05-29 17:41] jefferai opened #6796 "Expose log format"
Since way way back in the day we have the ability for server logs to be in JSON format but never exposed it, for reasons that were sensible at the time but no longer are. We should add a config/env/flag toggle to allow it.

[2019-05-29 17:49] jefferai commented on #6795
Hi @pires,

Unfortunately the issue is that I don't yet know whether or not the eventual feature will be a part of Vault OSS or Enterprise. Since I don't know, I and the rest of the Vault team can't discuss design without an NDA in place. If you are a customer you can reach out through your support/TAM and we would be more than happy to have such a discussion!

[2019-05-29 18:14] meshantz commented on #6790
I understand you can override the value on the mount configuration. That works fine, but if you leave it on the default value for the oracle plugin, every mount you don't set this configuration on can get a deadlock waiting for an available connection.

I was thinking that bumping up the default for all database plugins might not be acceptable as a solution, so allowing each plugin to set the defa

[2019-05-29 18:52] ytjohn commented on #6067
I would also be interested in this, especially the listing of an auth method's groups, users, and associated policies. Prior to Vault UI being released, I used [Goldfish](https://github.com/Caiyeon/goldfish), and we still keep an instance around for this aspect. Their "Users" page shows the result of doing `list auth/ldap/groups`, `list auth/ldap/users`, and then doing a read on each group and use

[2019-05-29 21:37] rliebz opened #6797 "Cannot import certain packages in module-enabled repositories"
**Describe the bug**
In module-aware repos other than this one, it is not possible to import several of the subpackages in this rep . For example, `github.com/hashicorp/vault/command/agent/auth` will produce an error.

**To Reproduce**
Steps to reproduce the behavior:
1. Open a new directory off the gopath.
2. Run `go mod init foo` to get a module-enabled repo
3. Create a file with the following c

[2019-05-30 00:01] jefferai commented on #6797
We don't yet have a tagged release for the main repo that uses modules. That will come with the 1.2.0 release. In the meantime you can use `@master` for the version target for `go get` so that you'll import module-aware code.

[2019-05-30 00:01] #6797 closed

[2019-05-30 13:42] jefferai commented on #6795
Hi @pires,

First: apologies for the whiplash! I didn't click on the Twitter thread initially since I figured all context was in the (very detailed, thanks for that) original post and thus didn't realize Armon had specifically asked you to file an issue about this until you mentioned it in your later comment.

I want to give some context on closing the issue -- we get a lot of feedback from mailin

[2019-05-30 16:58] williamlord opened #6800 "Prometheus /sys/metrics invalid"
**Describe the bug**
The metrics endpoint using Prometheus format produces invalid metrics.

**To Reproduce**
Steps to reproduce the behavior:
1. Copy the sample response from https://www.vaultproject.io/api/system/metrics.html#format into a file.
2. cat file | promtool check metrics
3. see error
[code]

Using promtool, version 2.10.0 (branch: non-git, revision: non-git).

From a running instance

[2019-05-30 22:24] tstoermer opened #6802 "Standby servers should not forward /sys/metrics calls"
**Describe the bug**
Standby servers in a vault cluster are forwarding the "/sys/metrics" call to the active server.

**To Reproduce**
Steps to reproduce the behavior:
1. Setup vault in a cluster with one active and standby servers.
2. Enable prometheus metrics endpoint.
3. Scrape in Prometheus all vault servers.
4. Standby servers are forwarding the "/sys/metrics" calls to active server.
5. Metri

[2019-05-31 02:32] kalafut commented on #6688
Closing due to inactivity and there is no further action needed.

[2019-05-31 02:32] #6688 closed

[2019-05-31 02:50] #6684 closed

[2019-05-31 02:50] kalafut commented on #6684
Thanks!

[2019-05-31 08:32] Obito93 opened #6804 "Inconsistent behaviour when Listing folders in KV"
**Describe the bug**

vault does not give a consistent answer if a folder does or does not exist

**To Reproduce**
Consider the following structure in the KV2 Secret Engine:

kv/Application/App1/Secret
kv/Application/App2/Secret
kv/Application/App3/
kv/Application/App4/Secret
kv/Application/test

Where App3/ is an empty folder.

Executing a list via the HTTP API on kv/Application/ returns the foll

[2019-05-31 09:58] chris-ng-scmp opened #6805 ""invalid ciphertext: wrong number of fields" when listing secret in a folder"
After created a secret for a specific pattern of the secret path, the parent folder can't be able to list secret anymore and show the following error.

[code]

**Describe the bug**
![image](https://user-images.githubusercontent.com/2509212/58697814-a1a4a600-83cc-11e9-9f90-83c46a0938e8.png)

**To Reproduce**
- Step 1 - Create a secret with any one of the following patterns:

- Step 2 - Secret creat

[2019-05-31 12:27] yeonwoonj opened #6806 "`vault write --format=json auth/approle/login ...` does not return `auth.entity_id` field"
**Describe the bug**
`vault write --format=json auth/approle/login role_id=<role_id> secret_id=<secret_id>` does not return `auth.entity_id` whereas `curl -X POST ... $VAULT_ADDR/v1/auth/approle/login` does.

**To Reproduce**
1. setup an approle according to https://learn.hashicorp.com/vault/identity-access-management/iam-authentication#steps
2. use `vault` to login with your `role_id` and `secret

[2019-05-31 14:32] evitalis commented on #6757
@jefferai What about if someone is using a production setup with a real backend like consul like I noted in my last comment? Consul docs don't explain how to do this either.

[2019-05-31 15:35] kallisti5 opened #6807 "Vault should maintain docker-volume-libsecret"
**Describe the solution you'd like**
docker-volume-libsecret offers a compelling story around providing secret access to containers in a non-offensive way.  However, this docker volume plugin is:

  * Unofficial  (risky)
  * Seemingly unmaintained since 2015

Since this volume plugin represents an *awesome* migration path to vault (without natively supporting using vault for secrets), it is a core

[2019-05-31 15:35] kallisti5 commented on #6807
https://github.com/ehazlett/docker-volume-libsecret

[2019-05-31 15:41] chrishoffman commented on #6807
Thanks for the suggestion.  At this time, we are not looking to support this type of integration.

[2019-05-31 15:41] #6807 closed

[2019-05-31 15:45] kallisti5 commented on #6807
Ok... does Hasicorp support *any* integration with docker for secrets?  I mean.. that's kind of the point of Vault.

[2019-05-31 23:13] acthpa commented on #6292
I am encountering that exact same bug on v1.1.1 on Ubuntu. What is the policy? Shall I create a different entry?

[2019-06-01 13:23] daveadams commented on #6056
I've just run into this. I'd like to be able to use this policy:

      path "ssh/sign/self-login" {
        capabilities = ["update"]
        required_parameters = ["valid_principals"]
        allowed_parameters = {
          "valid_principals" = ["{{identity.entity.aliases.auth_ldap_abcdef01.name}}"]
        }
      }

But as per [the policy docs](https://www.vaultproject.io/docs/concepts/polici

[2019-06-03 06:11] chris-ng-scmp commented on #6805
Finally, we found the issue is caused by MySQL default schema length for vault_key field is 512 and MySQL server parementer `innodb_strict_mode` was set to `off`, so when the encrypted secret path is longer than 512 will be truncated.

here is the solution:

- Set MySQL parameter `innodb_large_prefix` to `on`
- Make sure MySQL parameter `innodb_strict_mode` is `on`, just in case the encrypted key

[2019-06-03 10:10] Raghavendarlokineni opened #6810 "Vault will not automatically unseal even if using an autoseal"
**Describe Bug**
_core: entering seal migration mode; Vault will not automatically unseal even if using an autoseal: from_barrier_type=shamir to_barrier_type=awskms_

    ==> Vault server configuration:

           AWS KMS KeyID: *******
           AWS KMS Region: *******
           Seal Type: awskms
           Api Address: http://127.0.0.1:8200
            Cgo: disabled
         Cluster Address:

[2019-06-03 11:13] avoidik opened #6811 "PKI role disrespects TTL?"
Hi,

Kindly asking for advice, I was able to issue a certificate with TTL beyond `ttl` and `max_ttl` parameters being set on a PKI role. Not sure what is that, perhaps I didn't get the concept right. Here is the steps to reproduce it.

Enable PKI backend

[code]

Configure PKI backend

[code]

Configure role for PKI backend

[code]

Now generate certificate with valid TTL  -> success; which is fin

[2019-06-03 12:01] avoidik commented on #6811
Description for `ttl` parameter

[code]

[2019-06-03 12:11] #6811 closed

[2019-06-03 12:55] avoidik commented on #6811
Not sure why NotBefore/NotAfter is quietly capped to TTLs, at least with AWS secrets it shows a warning message when "value is capped accordingly"

[2019-06-03 14:06] drewmullen commented on #5987
I noticed yall implemented this change in January. Thanks! I'm just getting around to testing

@calvn Can you confirm if i'm missing something because the replacement doesnt appear to be working yet...

[code]

WORKING:
[code]

NOT WORKING:
[code]

[2019-06-03 15:10] jefferai commented on #6805
Glad you found the issue!

[2019-06-03 15:10] #6805 closed

[2019-06-03 16:43] tyrannosaurus-becks commented on #6810
Hi @Raghavendarlokineni ! Thanks for posting this issue!

I tested this extensively on Vault 1.1.0 and I was able to successfully unseal using AWSKMS after having first unsealed it using Shamir. I think we need to figure out what's different about how we're doing it.

I posted extensive instructions on the vault-tool forum [here](https://groups.google.com/d/msg/vault-tool/UJnofa9GloQ/wM9m5AZ3CAAJ)

[2019-06-03 18:35] jefferai commented on #6783
We could potentially only output the second of the two commands, where we write the new value with the CAS value set. This provides a hint as to what the CAS value should be, but makes it incumbent on the caller to deal with the data modifications. Throwing a non-zero error code with an error message can work too though.

[2019-06-03 19:04] drewmullen commented on #5987
@briankassouf i cant reopen this but it may need to be reopened

[2019-06-03 19:41] calvn commented on #5987
@drewmullen can you try with `root/`?

[2019-06-03 19:43] drewmullen commented on #5987
actually that did work so thats good.

[2019-06-03 19:48] calvn commented on #5987
Yep, that case should be handled as well. Thanks for reporting!

[2019-06-03 21:11] bsrinivbh opened #6815 "Hashicorp vault doesn't support 0..0 as vault name"
**Describe the bug**
Vault name with 0..0/1..3 gives error
URL: PUT https://10.0.0.111:8200/v1/secret/blue/services/k8s-secrets-svc/certs/bundles/1..1.3
Code: 500. Errors:

**To Reproduce**
Steps to reproduce the behavior:
1. Run `vault write ...`
2. Run `vault login....`
3. See error

**Expected behavior**
A clear and concise description of what you expected to happen.

**Environment:**
* Vault S

[2019-06-03 21:13] bsrinivbh commented on #6815
{"error":"Error making API request.\n\nURL: PUT https://10.0.0.190:8200/v1/secret/blue/services/k8s-secrets-svc/certs/bundles/0..0\nCode: 500. Errors:\n\n* 1 error occurred:\n\t* internal error\n\n","code":13}

[2019-06-04 09:21] lpilet opened #6820 "Feature Request: Authentication with a certificate without Common Name"
**Is your feature request related to a problem? Please describe.**
Actually, it's mandatory to have a common name field on your user certificate if you want to use the TLS Certificates auth method. Otherwise, vault returns the error message "missing name in alias".
The point is that CN is not a required field in X.509 and that I use certificates without the CN field.

**Describe the solution you'd

[2019-06-04 09:21] zak905 commented on #6783
Outputting the last command seems like a reasonable solution. I could eventually submit a PR, but please expect some time.

[2019-06-04 11:21] ghost opened #6821 "Database and userpass configuration not available in web UI"
**Describe the bug**
After enabling the Database secrets engine, or userpass auth engine they are greyed out in the web UI. You have to drop back to the CLI to manage users or configure a connection for a specific database plugin.

I am sure other options are missing but these were the two most obvious issues.

**To Reproduce**
Steps to reproduce the behavior:
1. With the web UI enabled turn on us

[2019-06-04 13:06] hasheddan opened #6822 "Example Secrets Engine Plugin"
**Is your feature request related to a problem? Please describe.**
I found documentation on developing custom secrets engine plugins lacking, which made it difficult to develop my own. Furthermore, there is not an example secrets plugin like there is for `auth`. ["There is currently no empty sample secrets plugin"](https://www.vaultproject.io/docs/partnerships/index.html).

**Describe the solution

[2019-06-04 13:32] evitalis opened #6823 "Unable to use Postgresql 11 as a storage backend"
**Describe the bug**
Duplicate of #3949 vault will not start using a postgresql 11 backend. Both are clean install on a clean OS installation. The documentation does not detail what version of Postgresql (or any storage backend) are required or supported.

I do not know Go and as such cannot do a PR, but this is a bug and so the issue shouldn't get closed until resolved.

**To Reproduce**
Steps to

[2019-06-04 17:04] #6806 closed

[2019-06-04 17:33] #6769 closed

[2019-06-04 17:36] #6775 closed

[2019-06-04 18:46] ncabatoff commented on #6823
Hi @evitalis,

We have automated tests that exercise the Postgres storage backend.  Currently they're using the 11.1 pg docker image, and they're passing.  Also, I recently helped get HA support for the Postgres backend merged to master (not yet available in a release) and manually tested with pg 11 without any problems.

What is the error you're seeing?

[2019-06-04 19:43] ryan-at-gogo opened #6826 "Detect DynamoDB region from EC2 instance profile"
**Is your feature request related to a problem? Please describe.**
We deploy Vault to two different regions in EC2 and use the DynamoDB backend in both regions.  Each Vault instance has its own table that is in the same region.  The tables are configured the same in each region and they both have the same name.  As a result, the Vault configuration file is the same in both regions except for the r

[2019-06-04 20:30] #5987 closed

[2019-06-04 22:40] #5746 closed

[2019-06-05 00:07] evitalis commented on #6823
@ncabatoff  `Error initializing storage of type postgresql: failed to check for native upsert` when I start the service.

[2019-06-05 11:43] mygithubthrowaway commented on #6774
Hi guys, sorry for bother you, can i have a statement on "a database name must be specify on role creation"?

because we need to design our infrastructure and we still no sure if Vault is the product for our needs.

Thanks again

[2019-06-05 12:26] jefferai commented on #6774
You are missing this required parameter: https://www.vaultproject.io/api/secret/databases/index.html#db_name

[2019-06-05 12:31] mygithubthrowaway commented on #6774
Thanks for you kind reply, why the db-name with version 1.0.x wasn't required?

[2019-06-05 13:08] ncabatoff commented on #6823
That's the entire line?  The line of code in question is

[code]

where `{{err}}` would normally be replaced with the underlying error.  The full context is

[code]

You might try running `SELECT current_setting('server_version_num')::int < 90500` using the same user Vault is configured to run as and see what it returns.  Here's what I see with a pg 11.1 docker:

[code]

[2019-06-05 14:32] richard-mauri opened #6830 "Client Agent transit/datakey local processing"
**Is your feature request related to a problem? Please describe.**
This is a new feature request to vault client to perform encrypt/decrypt operations in support of transit/datakey approach to working with large BLOBS locally.

As described in https://learn.hashicorp.com/vault/developer/eaas-transit#step-6-generate-data-key , this can be used to support the problem of encrypting/decrypting large d

[2019-06-05 14:54] rifaterdemsahin opened #6831 "I cant use vault with AWS sts"
I am getting 400 errors
Is there a simple guide I can follow and realize this?
it is very similar to this ( what i am trying to do using AWS )
https://i.redd.it/sinuhljltj231.png

[2019-06-05 15:46] deniszh commented on #6427
👍
Faced exact same issue, also with Traefik.

[2019-06-05 16:08] deniszh opened #6832 "Storage consul: allow comma in service_tags"
Currently, [service_tags](https://www.vaultproject.io/docs/configuration/storage/consul.html#service_tags) parameter of consul storage should contain a comma-separated list of tags, which means that tag can't contain a comma. it would be nice to have some way to insert it.

[2019-06-05 18:39] ncabatoff commented on #6753
I'm far from an AWS expert, but if your main goal is connectivity, wouldn't the simplest option be to setup VPC peering between the two cluster VPCs?  Then you won't have to worry about the extra complexity of a load balancer.

[2019-06-05 18:40] ljl-geek opened #6833 "Duo two-factor needs option for entering a code"
When doing the Vault login, there is only one two-factor method available: Duo Push to the default device.  This is not ideal, to say the least.

Heavy Duo/two-factor users often use the code generation app or, more commonly, a Yubikey.

Please add an option to enter a code (or select which device gets a push.)

The code option is more crucial.  It allows people who are in wireless dead zones or r

[2019-06-05 18:45] ncabatoff commented on #6752
I think the issue is that the `#` character has special meaning in URLs.  So because we create a connection_url and expand `{{password}}` to be something with a `#`, that breaks parsing of the expanded URL.  I don't see any potential workaround here, other than not using that character.

[2019-06-05 18:52] jefferai commented on #6774
I'm not sure what you mean, the db name has been required since the plugin first came out in 0.7 or so.

[2019-06-05 19:08] SkySonR opened #6835 "no backed-up keys found after rekey with -backup option"
**Describe the bug**
During rekey procedure with backup option I met unexpected behavior. After "vault operator rekey -target=recovery"  command I got output like:

The path core/unseal-keys-backup does not exist after that. I am using S3 backend.
When I have used command to restore keys from backup I got:

Actually the core/recovery-keys-backup path exists in S3 bucket. I suppose path inconsisten

[2019-06-05 20:17] ncabatoff commented on #6815
Hi @bsrinivbh,

I suspect that the problem may not be related to the name.  If this is a KV mountpoint (as I'm guessing based on the name "secret"), that should be a valid key name.  And a 500 return code usually indicates an internal error.  Does the same write work with a different name, e.g. secret/blue/services/k8s-secrets-svc/certs/bundles/113?

Is there anything in your logs from when this o

[2019-06-05 21:37] yhyakuna commented on #6822
Hi Dan (@hasheddan), I would love your collaboration.

Let's work on this in the [`vault-guides` repo](https://github.com/hashicorp/vault-guides/blob/master/CONTRIBUTING.md) where we can create a folder [`secrets`](https://github.com/hashicorp/vault-guides/tree/master/secrets).

Depends on the content:
1. Extend the existing [Building Plugin Backends](https://learn.hashicorp.com/vault/developer/pl

[2019-06-06 01:53] lawliet89 opened #6837 "Vault Agent should retry renewing leases on some errors"
**Is your feature request related to a problem? Please describe.**
Vault agent gives up renewing secrets the moment it encounters a possible transient error like a network error.

For example, our application uses Google PubSub with service account keys renewal "outsourced" to Vault Agent after the application reads from the agent once during its startup.

Sometimes, I get an error like:

[code]

[2019-06-06 07:30] michelvocks commented on #6835
Hi @SkySonR,

could you try to add the `-target=recovery` parameter to the key retrieval command? e.g.
[code]

This should change the API endpoint and return the correct key.

Cheers,
Michel

[2019-06-06 07:44] SkySonR commented on #6835
Hi @michelvocks
I just tried:

[2019-06-06 08:08] vliubko commented on #6752
Found it's `lib/pq` issue.

https://github.com/lib/pq/issues/787

[2019-06-06 10:25] Raghavendarlokineni commented on #6810
Thanks, @tyrannosaurus-becks for sharing the info. We tried the procedure that you have shared above. But was wondering what is the use case of integrating vault solution with AWS KMS for auto unseal as for the first time we need to unseal it manually. Instead, we have developed automation scripts which checks for initialization, if not initialize and unseal it. Run this script as cron to check if

[2019-06-06 11:50] mjarmy commented on #6790
What would a good default value be if we were to bump it up?

[2019-06-06 12:40] michelvocks commented on #6835
Thanks for reporting this bug, @SkySonR.
I've opened a PR that should fix the wrong API call in the Vault CLI.

For now, you can work around this issue by "manually" calling the API:
[code]

[2019-06-06 12:56] hasheddan commented on #6822
Thanks @yhyakuna ! I think there may be a number of places that documentation needs to be updated. I have listed them below, as well as action items for the `vault-guides` repo:

- It sounds like there is interest in moving my example plugin into the `vault-guides` repo with related documentation. I propose placing it in `vault-guides/secrets/mock`. I would be happy to also create an `auth` exampl

[2019-06-06 13:09] Obito93 opened #6842 "Unable to enable custom auth plugin on Windows"
**Describe the bug**
Trying to enable a self-written auth method results in vault on Windows results in the following error code:
- via CLI:
C:\vault>vault auth enable -path=example -plugin-name=example-auth-plugin plugin
Error enabling example-auth-plugin auth: Error making API request.

URL: POST https://127.0.0.1:8200/v1/sys/auth/example
Code: 400. Errors:

* exec: "C:\\vault\\vault_plugins\\sq

[2019-06-06 13:14] ncabatoff commented on #6800
Hi @williamlord,

Failure to follow the naming convention doesn't make the metrics invalid, just unconventional.  I agree they ideally ought to be renamed, but bear in mind that we emit metrics for many different systems besides Prometheus, and that the other systems predate our support for Prometheus.  Renaming these metrics to make promtool happy would likely break many existing dashboards/alert

[2019-06-06 14:44] SkySonR commented on #6835
Thanks for work around and quick response.
Maybe the message: "The encrypted unseal keys are backed up to "core/unseal-keys-backup" in the storage backend" should be changed to point at correct path? In my case, this is core/recovery-key-backup

[2019-06-06 18:09] rnikoopour commented on #6797
I'm having this issue as well and `go get github.com/hashicorp/vault@master` is resulting in errors:

[code]

[2019-06-06 19:13] yhyakuna commented on #6822
I can take care of the [Building Plugin Backends](https://learn.hashicorp.com/vault/developer/plugin-backends) tutorial.  Yes, it hasn't been updated for a very long time. :(

Yes, it would be great if you can add your example under `vault-guides/secrets/mock` so that our tutorials can leverage it, and whoever else wants to try and learn.

Truly appreciate your contribution!!!

[2019-06-07 10:06] michelvocks commented on #6835
@SkySonR Yes, right. I've updated my PR.

[2019-06-07 12:54] hasheddan commented on #6822
Following up with reference to PR in [`vault-guides/secrets/mock`](https://github.com/hashicorp/vault-guides/pull/147)

[2019-06-07 15:36] sgrimm-sg opened #6850 "Unclear docs on automatic ssh certificate usage"
**Describe the bug**
The documentation for signed ssh certificates https://www.vaultproject.io/docs/secrets/ssh/signed-ssh-certificates.html is unclear about when the certificate will automatically be detected by OpenSSH.

Under "Client SSH Authentication," step 3 says, "If you are saving the certificate directly beside your SSH keypair, suffix the name with -cert.pub (~/.ssh/id_rsa-cert.pub). Wit

[2019-06-07 19:25] bsrinivbh commented on #6815
Storage engine - Etcd... We are using KV(key value) mount point.

![image](https://user-images.githubusercontent.com/50633510/59128331-fee9ab80-8926-11e9-96a3-29bcf1a893d9.png)

and I tried using   secret/blue/services/k8s-secrets-svc/certs/bundles/113 with same data it works perfectly fine as expected.

[2019-06-08 09:53] jmls opened #6852 "no response from post to /identity/entity/id/:id"
**Describe the bug**
The api documentation (https://www.vaultproject.io/api/secret/identity/entity.html) states that a `post` to `/identity/entity/id/:id` has a response similar to

[code]

The actual response is null

**To Reproduce**
Steps to reproduce the behavior:
1. curl <headers> http://localhost:8200/v1/identity/entity/id/<id>
2. no response

**Expected behavior**
the response suggested by

[2019-06-08 13:43] mjarmy commented on #6822
A `vault-secrets-plugin-example` repository would be great to have too.  If you think you'll have the time to code it up, we could init a repo for you

[2019-06-08 16:10] #6835 closed

[2019-06-08 16:10] SkySonR commented on #6835
@michelvocks Thanks a lot

[2019-06-08 16:56] hasheddan commented on #6822
@mjarmy absolutely! If you init the repo I will refactor what I have built at [hasheddan/vault-plugin-secrets-covert](https://github.com/hasheddan/vault-plugin-secrets-covert) and add it

[2019-06-09 03:03] mshivanna commented on #6607
You can write the secrets into a file in the init container and source it in the main container

[2019-06-10 13:02] saikrishnakatakam commented on #3844
Hi @ncabatoff ,
I am also looking for the same use case, when can we expect the fix possibly?

[2019-06-10 13:04] Xtigyro opened #6854 "Vault v1.1.3 Breaks Compatibility for Consul Storage Config"
**Describe the bug**
[code]
Leads to:
`Error initializing storage of type consul: address should be host[:port], not URL`

That config has perfectly worked up until now (including in Vault v.1.1.2).

[2019-06-10 14:59] typesafe opened #6856 "Promote Alias Metadata to Entity Level"
I would like to configure all my K8S Service Accounts with a **single** Policy Template and Role, but I'm stuck because the service account metadata is only available/stored at the **alias** level, not at the **entity** level.

Here's a brief description of my full setup to give you some context:

- k8s auth plugin enabled -> works just fine
- vault secrets "kv" enabled on path `secrets` -> OK
- o

[2019-06-10 15:35] jefferai commented on #6852
Can you show output with the exact curl command with `-vv` as well?

[2019-06-10 16:36] jmls commented on #6852
sure. I've put in "read" statements as well to show that the data *has* changed ;)

[code]

so as you can see, the metadata has been changed, but no output

[2019-06-10 16:39] mgritter commented on #6854
This is a regression I introduced; I can't find a quick workaround.  Altering the address so that it passes the check I added means it won't work with other components; for example, unix:/tmp/consul-client.sock isn't parsed by the client library.

[2019-06-10 18:29] jefferai commented on #6852
What version of Vault? I believe this changed recently and the docs reflect the latest released version.

[2019-06-10 18:31] jmls commented on #6852
I mentioned in the initial description

Vault Server Version : 1.1.1
Vault CLI Version: Vault v1.1.1 ('a3dcd63451cf6da1d04928b601bbe9748d53842e')

[2019-06-10 18:33] jmls commented on #6852
yeah, I see that 1.1.3 is available. Will check that out.

Perhaps the docs could / should say what version of vault they apply to.

[2019-06-10 18:59] #6854 closed

[2019-06-10 22:28] tdgeery commented on #6111
I am also running into this issue now.

[2019-06-10 23:03] jefferai commented on #6856
Alias metadata is supplied by the authentication plugin. Propagating alias metadata to the entity level risks it becoming out of date or colliding with other aliases.

Given that the mount accessor UID is constant I must admit I'm not really understanding the issue here.

[2019-06-11 00:00] infa-bsurber opened #6860 "cert auth support for external groups and wildcards"
**Is your feature request related to a problem? Please describe.**
As far as I can tell, the only way to do multi-tenant authorizations with the cert auth backend is by perfectly matching certs' common names in entity-alias names.
With this setup, we would be forced to pre-register our tenants' services (via common name), whereas we'd prefer to do "registration" at a more general level like organi

[2019-06-11 06:22] typesafe commented on #6856
Aha! Looking at other examples, I always saw GUID values being used as the mount accessor value. This must have biased my train of thought, causing me to mistakenly take the alias ID (which was a _GUID_) as the mount accessor, but it's actually `auth_kubernetes_a47bdad1` (the auth method, of course...)! This is my first hands-on experience with Vault, still learning :-).

Awesome, thanks for point

[2019-06-11 06:22] #6856 closed

[2019-06-11 11:30] Xtigyro commented on #6854
@mgritter Thank you!!!

[2019-06-11 11:33] maciejqantas commented on #4601
@chrishoffman on https://www.vaultproject.io/api/system/mounts.html#options, `options` is nested under `config`, making it look like `options` is a key in the `config` map, whereas it's a separate fields, as we can see here: https://github.com/hashicorp/vault/blob/master/api/sys_mounts.go#L137.

That does lead to confusion - Vault creates V1 mountpoints and silently ignores the `options` field of

[2019-06-11 12:36] evitalis commented on #6823
@ncabatoff I did another test using 11.2 on Fedora 30 and it seemed fine. Not sure what happened before I opened this issue. I am going to close it and will open a new one if I run into the issue again.

Next time I should be able to have a copy of any output for you.

[2019-06-11 12:36] #6823 closed

[2019-06-11 15:15] williamlord commented on #6800
Changing them will also break backwards compatibility if others depend on them.

That being said, is `?format=prometheus` usable at in the current state? I'm not very familiar with Prometheus, is there a workaround to skip invalid metrics?

[2019-06-11 15:20] ncabatoff commented on #6800
Yes, it's quite usable.  And again, the metrics aren't invalid, they just don't follow the recommended naming conventions.  Prometheus works just fine with them, so there's no need to skip them.

[2019-06-11 15:38] wych42 opened #6862 "ha cluster with mysql storage standby node won't become active"
**Describe the bug**
Running a HA cluster using MySQL(alicloud RDS) as storage backend, the standby node won't become active when the active node got shutdown/killed with SIGINT.

**To Reproduce**
Steps to reproduce the behavior:
1. start two nodes/processes with config below.
2. shutdown/kill the active node(node A)
3. run `vault status` on the standby node(node B), it's still standby.
4. start o

[2019-06-11 15:54] gitirabassi opened #6863 "Go modules conflict between github.com/hashicorp/vault/api and github.com/hashicorp/vault"
I have used and greatly enjoy the `/api` and `/sdk` module releases.

The problem comes when I have to import something else that is not in neither of those like `github.com/hashicorp/vault/builtin/credential/aws` the the infamous error "ambigous import" comes.

This could be fixed by using the `/api` and `/sdk` module release for vault reases instead of using the "replaced" onces.

One other solu

[2019-06-11 16:18] wych42 commented on #6862
I tried to reset all configs and start over. This time when the active node was shutdown, the standby server prints this log message about every 5 seconds:
[code]
for nearly 20minutes until I post this comment, and the standby node was still in standby mode.

[2019-06-11 16:21] wych42 commented on #6862
[within start-over test] Then I bring the original active node back, it kept printing log like
[code]

[2019-06-11 18:00] wych42 opened #6865 ""sql: no rows in result set" error on new HA cluster with mysql as backend"
**Describe the bug**
start fresh vault process with mysql backend and ha_enabled set to true. vault commands returns error: "sql: no rows in result set". such as:
[code]
**To Reproduce**
Steps to reproduce the behavior:
1. start a fresh vault process with config below.
3. run `vault status`

**Environment:**
* Vault Server Version (retrieve with `vault status`):1.1.3
* Vault CLI Version (retrieve

[2019-06-11 18:18] jefferai commented on #6863
Anything not in `api/` or `sdk/` isn't meant for public consumption. We don't support people importing and using them downstream.

[2019-06-11 21:02] vtolstov commented on #6797
any news?

[2019-06-11 21:31] jefferai commented on #6797
Yes, you need to import either api/ or sdk/ and for now you should use `@master` for each. With go modules you shouldn't import the main repo.

[2019-06-11 23:38] AndrewRayCode commented on #922
In case anyone runs into this, [the docs](https://www.vaultproject.io/docs/commands/read.html) don't really explain how to use `-read`, the proper incantation is:

[code]

`-read` has to come before the path, otherwise it gives you cryptic errors depending on if you do `-field=FIELD vs `-field FIELD`

[2019-06-12 01:42] mwalto7 opened #6868 "Create a Response Error Type for the Vault Go API"
**Is your feature request related to a problem? Please describe.**

Errors returned by `vault/api.Client` client operations are pre-formatted as a string with `fmt.Errorf` in `*api.Response.Error`, which decreases error handling flexibility for API users.

The formatted error strings are created and returned on [lines 48-70 in vault/api/response.go](https://github.com/hashicorp/vault/blob/485b4d17

[2019-06-12 05:35] mcbridem opened #6869 "Set encoding explicitly on URLs such as https://learn.hashicorp.com/js/main.js"
On pages such as <https://learn.hashicorp.com/vault/getting-started/deploy>, there is an encoding issue:

[code]

The underlying Markdown file (<https://github.com/hashicorp/vault/blob/485b4d173e543aa52d93bb8df973101699d2369c/website/source/intro/getting-started/deploy.html.md>) is fine and the HTML output is fine:

[code]

The issue does not appear when JavaScript has been disabled, which points

[2019-06-12 08:19] sigmunau commented on #5333
I'd rather have this as a dedicated secrets backend. JWT tokens doesn't neccessarily require a CA certificate to sign. e.g some apis use authentication based on signing a JWT with a client certificate.

Such a secrets backend would allow you to upload a certificate and private key, and then create some roles which dictates allowed/forced claims in the created JWTs and then signed JWTs could be gen

[2019-06-12 11:45] gitirabassi commented on #6863
Are there any plans to add more "helpers" in the `/api`? I wish to help if that was the case.
I don't know what you think about the idea of having types for each secret backend.

Is it crazy to wanting a function like
`func (c *Client) GetV2Secret(backend, version string) (map[string]interface{}, error)`
or
`func (c *Client) GetCertificate(backend string, conf CertificateConfigInput) (Certificate,

[2019-06-12 11:54] jefferai commented on #6863
Long term we hope to leverage our openapi to generate clients for each plugin type.

[2019-06-12 13:33] jefferai commented on #5333
You can already sign JWTs via `transit`. We just don't export X509 certs from there.

[2019-06-12 13:55] sigmunau commented on #5333
I specifically looked for this in the `transit` backend, without finding it in the documentation. Looking again through the api documentation I did find something related to this this time around, however there is no way to use an existing certificate for this (except possibly abusing the restore function). And there is no control over what can be signed if the key is in there.

[2019-06-12 14:23] devlounge commented on #4307
when can we hope this to be implemented?

[2019-06-12 14:44] chris-vest commented on #6641
@jefferai @sethvargo @broady Thanks for your replies! Very much appreciated.

@broady I'm using the `vault:1.1.2` image from Dockerhub, so whichever version of Go that was compiled with.

Just as a general note, I'm assuming there's nothing we can do to mitigate this in the meantime? To be fair, I haven't had any problems since that outage, so maybe it was a complete edge case, never to be seen ag

[2019-06-12 17:01] mtse-aurora opened #6872 "Google Secrets Engine - Reuse Service Account Keys"
**Is your feature request related to a problem? Please describe.**
The Service Account portion of the Google Secrets Engine does not work for me. I have a cluster of jenkins worker nodes, and a bunch of jobs that request a service account from vault. The issue is that there's a limit of 10 service account keys per service account. Even with a mildly busy job, that limit is quickly reached.

I know

[2019-06-12 22:47] oxlay commented on #3617
@jefferai I am confused about the doc mentioning UDP vs TCP for syslog.

Correct me if I am wrong, but I believe Vault is only using the Unix sockets like `/dev/log`: https://github.com/hashicorp/vault/blob/8575f8fedcf8f5a6eb2b4701cb527b99574b5286/vendor/github.com/hashicorp/go-syslog/builtin.go#L202

Indeed, Vault uses `NewLogger` https://github.com/hashicorp/vault/blob/8575f8fedcf8f5a6eb2b4701cb

[2019-06-13 00:03] JoeyLuffa opened #6875 "How the client sdk renew token lease with k8s auth?"
I am using the go client SDK and in order to get the token, I make request to `auth/kubernetes/login` to fetch the token. However, this token has a lease duration. Once it's expired, should the SDK manually talk to `auth/kubernetes/login` again to renew the token? If yes, wouldn't it be so much over loaded to the client side? Is there any workaround on this? (Like the SDK will auto renew the token

[2019-06-13 07:42] gitirabassi commented on #6863
Is this effort already started? How far would you say are we from this?

[2019-06-13 07:45] gitirabassi commented on #6875
I asked the same question couple of months ago: it exist a `api.Renewer` type with a very clear example https://godoc.org/github.com/hashicorp/vault/api#Renewer

[2019-06-13 11:36] luuka100 opened #6876 "Vault rights for auth methods"
Hello,
I’m trying to grant LDAP user rights to list, create, update, and delete auth methods by adding following line to the ACL Policy in Vault:

# List, create, update, and delete auth backends
path "/sys/auth/*"
{
  capabilities = ["create", "read", "update", "delete", "list", "sudo"]
}

When I’m trying to list the auth methods using UI I’m getting following error:

Not authorized
Ember Data Re

[2019-06-13 12:43] michelvocks commented on #6876
Hi @luuka100,

`/sys/auth/*` does not include `/sys/auth`. This should work:
[code]

I will close this issue now since it doesn't seem to be a bug. Please use for further questions the mailing list (https://groups.google.com/forum/#!forum/vault-tool) or the new discussion forum (https://discuss.hashicorp.com/c/vault).

Cheers,
Michel

[2019-06-13 12:43] #6876 closed

[2019-06-13 13:12] jefferai commented on #6875
This may also be of help: https://learn.hashicorp.com/vault/identity-access-management/vault-agent-k8s#step-4-leverage-vault-agent-auto-auth

[2019-06-13 13:12] #6875 closed

[2019-06-13 13:14] jefferai commented on #6863
No timeline at the moment. Going to close this as it's not something we're directly going to address.

[2019-06-13 13:14] #6863 closed

[2019-06-13 18:41] jaybe78 commented on #6084
@roch1990 I'm getting the same issue I have vault behind a network load balancer and can't get to the vault ui. Could you tell me how did you fix it ?

[2019-06-14 00:54] jaybe78 opened #6881 "Vault behind ELB Loop Redirects prevent from logging in"
Hi,

I have created a dedicated kubernetes cluster for consul and vault in AWS.

My cluster has 3 instances vault and all of them are currently running which means, I've unsealed vault in every single instance

Vault instances are exposed through an AWS NLB.

<img width="325" alt="Screenshot 2019-06-14 at 01 07 03" src="https://user-images.githubusercontent.com/3605098/59476062-e3aafe80-8e46-11e9-

[2019-06-14 01:21] mtse-aurora commented on #6802
I've encountered the same issue, and just assumed that telemetry metrics are only emitted from the active node. Looking at the linked discussion, it seems that is not the case.

[2019-06-14 06:34] luke-clifton commented on #3869
FYI, Vault v1.0.3 seems to be printing escape sequences even when not going to a tty again.

[2019-06-14 09:02] michelvocks opened #6882 "Special characters in response errors are malformed"
**Describe the bug**
URL in response error is malformed `%!F(MISSING)`.

[code]

**To Reproduce**
Steps to reproduce the behavior:
1. Run `vault read sys/capabilities-self paths=abc/auth/token/create`
2. See error

**Expected behavior**
The error response URL should be not malformed.

**Environment:**
* Vault Server Version (retrieve with `vault status`): master
* Vault CLI Version (retrieve with

[2019-06-14 11:24] williamlord commented on #6800
OK cool, moved beyond the "no token found" Prometheus warning, had the scrape misconfigured.

Minimal reproduction of working scrape.

`vault server -dev -config vault.hcl`

vault.hcl
[code]

prometheus.yml
[code]

[2019-06-14 11:24] #6800 closed

[2019-06-14 12:45] wych42 commented on #6865
This issue seems to be caused by running two vault cluster on same MySQL instance and this line of code: https://github.com/hashicorp/vault/blob/master/physical/mysql/mysql.go#L626

1. MySQL instance M.
2. Vault cluster A is configured with database vault-a on M. Cluster B is configured with database vault-b on M.
3. Start cluster A, the vault process will try and get a lock named `core/lock` in M

[2019-06-14 12:45] #6865 closed

[2019-06-14 12:45] #6862 closed

[2019-06-14 14:58] antenehlab commented on #212
Thanks this worked for me

[2019-06-14 18:23] ivan85viv commented on #3214
That would be really nice if its implemented and would definitely help

[2019-06-16 00:31] cpoole commented on #3687
we'd also love to be able to subscribe to a filter of events.

We're currently investgating building a tcp "demuxer" that listens to the audit socket and forwards events to kafka topics.

So far so good, but it would be great to have something more baked in.

[2019-06-17 16:04] jmls commented on #6684
don't know if I should raise a new issue, but the actual path specified in the docs (`v1/auth/jwt/oidc/auth_url`) is wrong ...

[code]
gives the path of

[code]

ie `oidc/oidc`

[2019-06-17 16:19] kalafut commented on #6684
@jmls I’ll take a look

[2019-06-17 16:29] bsrinivbh commented on #6815
Same as above issue https://github.com/hashicorp/vault/issues/3162... It is existing issue... not supported by vault I guess

[2019-06-17 16:29] #6815 closed

[2019-06-17 17:14] jleben commented on #6684
@jmls The path depends on where the OIDC/JWT plugin is mounted. The top of the documentation page says "This documentation assumes the plugin method is mounted at the `/auth/jwt path` in Vault". You may simply have the plugin mounted at `auth/oidc` instead.

[2019-06-17 17:37] jmls commented on #6684
Damn don't I feel stupid now 🤣 thanks

On Mon, 17 Jun 2019, 18:14 Jakob Leben, <notifications@github.com> wrote:

[2019-06-17 20:40] andykcfung opened #6898 "zookeeper backend storage not working on vault 1.0.0 and later releases"
The vault config json file below works with vault version 0.11.1. Nothing on the current doc page (https://www.vaultproject.io/docs/configuration/storage/zookeeper.html) suggested any new argument required. The zookeeper installation involved does not have security enabled and the "/vault" path created in zookeeper.

**Environment:**

* Vault Version (not working): 1.0.0, 1.0.3, 1.1.3
* Valut Vers

[2019-06-18 09:38] Jamesits opened #6901 "TTL config of SSH engine is not working in UI"
**Describe the bug**
In Vault UI, TTL config in SSH engine is not working.

**To Reproduce**
Steps to reproduce the behavior:
1. Open Vault UI
2. Log in
3. Enable a SSH engine
4. Create an SSH role, click on more options, change TTL or Max TTL with some other vaule than the default 30mins
5. Click "create role"
6. Try to sign a key with it
7. Run `ssh-keygen.exe -Lf example.pub` to check the actua

[2019-06-18 11:42] spstratis opened #6902 "AWS auth login fails after switching to GovCloud STS URL."
**Describe the bug**
When changing the AWS `sts_endpoint`  to the GovCloud url `sts.us-gov-west-1.amazonaws.com` in Vault using the API calls outlined in the docs [here](https://www.vaultproject.io/api/auth/aws/index.html#configure-client). Requests to the `/v1/auth/aws/login` endpoint fail with the below error.

```"errors":["error making upstream request: error making request: Post sts.us-gov-we

[2019-06-18 12:02] mbamber opened #6903 "User Policies not Listed with Okta Auth Method"
**Describe the bug**
When using the Okta auth method, policies attached to a group are not listed on entities.

**To Reproduce**
Steps to reproduce the behavior:
1. Run `vault write auth/okta/groups/scientists policies=nuclear-reactor`
2. Ensure the user `user1` is in the `scientists` group within Okta
3. Run `vault login -method=okta username=user1`
4. Unable to see policy `nuclear-reactor` attac

[2019-06-18 14:20] djordje-petrovic commented on #6810
Got the same issue as OP. Can you even use auto-unseal if you haven't unsealed manually the first time?

[2019-06-18 15:42] #6902 closed

[2019-06-18 16:44] zipbee opened #6909 "Feature request: Vault UI JSON Editor"
**Is your feature request related to a problem? Please describe.**
Our developers are currently using this Vault UI to access, modify and create certain secrets in Vault: https://github.com/djenriquez/vault-ui

The kind of secrets we store tend to be JSON objects rather than just key/value pairs, and djenriquez's vault ui uses a [json editor](https://github.com/josdejong/jsoneditor) to provide a c

[2019-06-18 16:49] rafaelremondes opened #6910 "PostgreSQL plugin creates roles with password in clear text"
Hello

I am using the PostgreSQL plugin to create temporary credentials. The creation statement allows to set a password for the role newly created. However, in PostgreSQL, when creating a ROLE with password it is showed in clear test in logs.

Documentation in Postgres suggests that is possible to pass an hash using md5 or other function instead of clear text password.

https://www.postgresql.org

[2019-06-18 18:53] raoofm opened #6914 "vault's high memory usage and most of it is cache"
[code]

This is a 3 node cluster with request forwarding.

![image](https://user-images.githubusercontent.com/12846989/59711235-bceb2000-91d8-11e9-9b76-a9aa443955d4.png)

[2019-06-18 18:58] raoofm commented on #6914
There are a couple of clients using it so no load as such nor a lot of leases. The only unusual thing that I can see is one of the clients gets a token via kubernetes backend with a ttl of 12h and maxttl of 24h but it has a health check built in that queries /v1/auth/token/lookup-self every 3s. I noticed this as I saw audit log bombarding messages.

[2019-06-18 18:59] raoofm commented on #6914
anything that you want me to check to get more details for investigation. This high memory consumption is same in 3 environments with similar set up.

[2019-06-18 19:03] raoofm commented on #6166
this would be a very good feature

[2019-06-18 23:20] tyrannosaurus-becks commented on #6810
@djordje-petrovic it's an intended behavior that you'd need to unseal Vault manually the first time because the Shamir algorithm is used to generate the Vault master key that's used for all encryption.

[2019-06-19 00:00] tyrannosaurus-becks commented on #6810
@djordje-petrovic actually, I stand corrected! A colleague checked in with me and let me know you _should_ be able to do that.

[2019-06-19 07:32] djordje-petrovic commented on #6810
@tyrannosaurus-becks Thanks for clearing that up. So any idea what could be causing this? My vault status output is the same as OP's with:

`Recovery Seal Type            shamir` although it should be awskms as specified in config file and `Seal Migration in Progress    true`