[2021-08-03 14:06] braunsonm opened #12239 "Regression: OIDC Login Hangs"
**Describe the bug**
Starting in 1.8.0, our OIDC login flow will simply hang in the popup window. This may be a regression caused by https://github.com/hashicorp/vault/pull/11884  (@hashishaw )

The popup window will go to Microsoft (in my case) which returns a 200, on the page that says "Completing the sign-in process.." it hangs.

I can see the network call to `https://login.microsoftonline.com/

[2021-08-03 14:31] braunsonm commented on #12239
In our case the receiver side is hanging on this line: https://github.com/hashicorp/vault/pull/11884/files#diff-27a153b84de14ce8497f501d91b91633bcd89cd2ca393ef5f89b4f382365d5b9R93

This is tested with Chrome and Edge

[2021-08-03 15:17] anxstj commented on #12228
Thanks, that did the trick. I increased the `default_max_request_duration` to `3600s`.

[code]

[code]
The timeout was reached again, but the second try finished the deletion:

[code]

[code]

[2021-08-03 15:18] anxstj commented on #12228
This was quite hard to debug. I missed the information that a timeout was reached and the delete process was therefore canceled. The ERROR message wasn't of much help, either. From a user perspective, an improved error message would be helpful.

The whole operation took around 80 minutes for approx. 80,000 keys (~1000/min). Which is much more than the default max request duration of 1,5 minutes (1

[2021-08-03 15:34] anxstj commented on #12228
And another problem is that the store will be unusable if the deletion aborts. In that case, all credentials are gone, the store seems to be empty but the keys are still present in the database (consul). For the user, it's not visible that there is a pending deletion.

[2021-08-03 15:50] ncabatoff commented on #12228
Agreed on both counts.  I'm going to leave this issue open to address those usability issues.  Thanks @anxstj!

[2021-08-03 15:54] ncabatoff commented on #12238
Hi @mcku ,

This is the same issue as https://github.com/hashicorp/vault/issues/12228: you're timing out trying to clean up the data associated with the database secrets engine.  Have a look there for steps you can take to address this.

[2021-08-03 15:54] #12238 closed

[2021-08-03 17:50] mladlow commented on #10645
Hi folks,

For Vault 1.8+ we'll be providing darwin/arm64 binaries. There's a known issue with enterprise 1.8 arm64 binaries (https://www.vaultproject.io/docs/upgrading/upgrade-to-1.8.0#known-issues). We will address it in 1.8.1, so I'm going to close this.

[2021-08-03 17:50] #10645 closed

[2021-08-03 22:57] yhyakuna commented on #12170
Updated the tutorial based on your feedback.

[2021-08-03 22:57] #12170 closed

[2021-08-04 06:04] johnnybubonic opened #12243 "Support DN matching for group names in LDAP auth"
**Is your feature request related to a problem? Please describe.**
LDAP group membership attribute (`groupattr`) currently is only able to be set as a single attribute *within* the entry as the group name.

However, if something like e.g. `cn` is used, but a nested DSA is used with ambiguous group names:

[code]

In the above, using the `cn` attribute would lead to undefined behaviour (at a guess

[2021-08-04 08:35] gary-dickenson commented on #12230
Creating legacy auth for v1 api:

[2021-08-04 09:33] FlyingDogFood commented on #12134
@hellobontempo I have now access to the system again. I opened the developer console in chrome and watched what happened. A screenshot is added to my message.
Maybe it helps to know that the vault server is running in a resticted network without direct access to the internet.
The chrome console log is showing: Accessing WebUI -> login(root token) -> create secret engine -> Try to create secret
The

[2021-08-04 13:59] igorcoding commented on #5304
Hello! Are there any news on this feature? Really look forward to having this implemented.

[2021-08-04 16:15] Slm0n87 opened #12250 "Dont expose current Vault Version in UI"
**Is your feature request related to a problem? Please describe.**
The vault ui exposes its installed vault version even for unauthorized user.
This is an sensitive information.
For example if there came up a known vulnerability in some version, a attacker can directly scan if the instance is affected.

**Describe the solution you'd like**
There should be an configuration option to disable the out

[2021-08-04 16:18] qk4l commented on #11169
Today I've _renamed_ (created a new one with other name) JWT default role for our primary auth backend  and got `duplicate identity name` error.

[code]

I checked that entity and found that it contains old role name. Looks like collision.

I also have 500 error when trying to list all entities but sure that it is a audit problem (we use syslog over UDP #11946 )

[2021-08-04 17:45] tsaarni opened #12254 "Update github.com/gogo/protobuf"
Vault is (indirectly) depending on github.com/gogo/protobuf which is being tagged with security issue [CVE-2021-3121](https://nvd.nist.gov/vuln/detail/CVE-2021-3121) by vulnerability scanners.

The vulnerability has been fixed in https://github.com/gogo/protobuf/releases/tag/v1.3.2

[2021-08-04 22:20] aphorise commented on #7304
@nickwales - have you tried the latest 1.8.0 release? - please consider closing this ticket if it fits the bill.

<img width="1072" alt="Screenshot 2021-08-05 at 00 16 58" src="https://user-images.githubusercontent.com/974854/128262730-5e180707-a6bd-4e9a-9401-6575f47ae3e3.png">

[2021-08-04 22:42] aphorise commented on #1690
Which versions are you all using?

Also what about my earlier posting with full mount disabling and or direct storage deletion - there's also the [3rd DELETE method of: `/secret/metadata/:path`](https://www.vaultproject.io/api-docs/secret/kv/kv-v2#delete-metadata-and-all-versions) as also mentioned above by @mechaHarry.

[2021-08-04 23:09] aphorise commented on #10081
The `ha_storage` is not currently relevant to Raft / Integrated Storage and the notes on the [configuration docs state the same](https://www.vaultproject.io/docs/configuration/storage/raft):

Given the [TODO in the code referenced earlier](https://github.com/hashicorp/vault/blob/main/command/server.go#L1416) - it would be nice to know if this will eventually be provided.

[code]

@mdgreenfield you

[2021-08-04 23:25] aphorise commented on #10361
@lohmag - I was trying to point out that it's better to be explicit with the addressing by way of FQDN or otherwise IP instead of glob level binding which will continue to rebind with all underlying adapter / IP changes even when for example your TLS certificates would not qualify.

One approach can be to have a separate listener stanza on loopback for the purposes of administration and with TLS d

[2021-08-04 23:28] aphorise commented on #6731
@ciiqr - hey have you tried this in the more recent editions - eg 1.7.x or most recent 1.8.0? - can you confirm if it's resolved for you?

[2021-08-05 02:53] huaerfan opened #12267 "An [TTL of "12h" exceeded the effective max_ttl of "4h46m41s"; TTL value is capped accordingly] error occurred in renewing database credentials"
**Describe the bug**
AWS auth method is used for login, the token is set to periodic token. The database credentials generated by this token cannot be renewed When it will reaches 32 days.

the renew response is:
[code]

vault auth role config:
[code]

vault database config:
[code]

**Expected behavior**
database creds lease can be renewd periodically after 32 days and go on. `token_period="24h"`

[2021-08-05 07:30] YBDC-ZhangYubo commented on #12194
If both Vault and Postgres are running locally, everything is fine.
If Vault is running in Kubernetes, the same problem occurs.
Guess this problem is related to Kubernetes.

[2021-08-05 17:19] ixe013 commented on #5304
Nothing moved since I created the pull request. We are a paying Vault Enterprise user, so I created a support case for someone to look at the PR. All I got is this:

I keep rebasing [my pull request](https://github.com/hashicorp/vault/pull/11000), like I did for the 1.7.x releases, so that a merge is "_just_" a click away for Hashicorp.

A comment on the PR and to your Vault Technical Account Mana

[2021-08-05 22:14] briantist commented on #8953
Adding another vote for this.

First, it was extremely confusing that I was defining a listener, and there was no error, but also no listener.

Second, I am wanting to set up Vault agent specifically as a proxy, with auto-auth (a request can be made unauthenticated to the agent, and it will automatically use the token that it's been maintaining via auto-auth), but without caching. I want this for

[2021-08-05 22:25] anapsix opened #15002 "vault-agent sidecar obtains new DB credentials when approaching TTL instead of renewing DB lease"

[2021-08-06 06:08] hexa2k9 opened #12275 "[Packaging] systemd EnvironmentFile overwritten during updates"
**Describe the bug**
When updating Vault from HashiCorp RPM Repositories (running RHEL 8 here) the EnvironmentFile (defaults to `/etc/vault.d/vault.env`) shipped since 1.8.0 (I think) gets overwritten without backup. In my case I've had `GOOGLE_APPLICATION_CREDENTIALS` for Auto-Unseal using Cloud KMS in this. Lacking the variable made Vault fail to start - obviously.

**To Reproduce**
1. Add Hashi

[2021-08-06 07:15] huaerfan commented on #12267
[code]

[2021-08-06 08:59] tcpecheanu opened #12276 "RabbitMQ engine connection doesn't work with RabbitMQ versions greater than 3.9.0"
**Describe the bug**
RabbitMQ engine connection doesn't work with RabbitMQ versions greater than 3.9.0. The latest version that works is 3.8.19.

**To Reproduce**
Steps to reproduce the behavior:
1. Enable RabbitMQ engine:
[code]
2. Configure RabbitMQ connection:
[code]
3. See the output:
[code]

**Expected behavior**
[code]

**Environment:**
*Vault Server Version (retrieve with vault status): 1.8

[2021-08-06 13:02] navneet1075 opened #12277 "vault unable to read secrets with special characters"
**Describe the bug**
in the vault ui we have a secret with special character ( a single backslah ) . we are unable to read the secrets using the command : vault read -field=data -format=json secret/data/${VAULT_PATH}.

there are other keys in the secret they are read properly but the one with the special characters is empty totally.

tried other methods to use escape characters using \\ and \\\ .

[2021-08-06 16:02] btkrausen commented on #9321
This bug is still present in Vault 1.7.3+Ent

[2021-08-06 21:30] agh opened #12280 "systemd issue with vault 1.8.1 on Debian Bullseye"
[code]

[code]

[code]

[code]

On the latest version of Vault (1.8.1) there still seems to be a packaging issue for Debian, it looks like systemd 247 is used with Bullseye, and this does appear to be packaged specifically for Bullseye (obtained from apt.releases.hashicorp.com) but one of the key names (StartLimitIntervalSec) under [Service] isn't valid so results in warnings being printed to the

[2021-08-06 22:40] iiro commented on #6059
Another AWS ECS user here, where Task Definitions tend to be very static... This is unfortunately is quite an infamous issue with Vault agent, and we have some duplicate (at least partially) issues as well, like:

https://github.com/hashicorp/vault/issues/11571
https://github.com/hashicorp/vault/issues/9246

Hoping Hashicorp would tackle this at some point really, as it's creating quite a lot of h

[2021-08-07 17:08] agh commented on #12222
I suspect this is what you want: https://www.vaultproject.io/docs/audit

[2021-08-08 08:16] maxb opened #12282 "Remove 'Unpublished: true' inconsistently applied to sys/internal/* endpoints"
**Is your feature request related to a problem? Please describe.**

I am writing a tool to consume Vault's automatic OpenAPI (sys/internal/specs/openapi) for validating policies.

The Vault OpenAPI lists **almost but not all** of the operations its endpoints support. For some reason, 5 of the sys/internal/* APIs are marked 'Unpublished: true' in the code (https://github.com/hashicorp/vault/blob/ma

[2021-08-08 08:32] maxb opened #12283 "Vault OpenAPI does not allow you to tell whether an endpoint supports only capability 'list', or both 'list' and 'read'"
**Is your feature request related to a problem? Please describe.**

I am writing a tool to consume Vault's automatic OpenAPI (sys/internal/specs/openapi) for validating policies.

I have found that whilst the OpenAPI lets you know **almost** what capabilities each Vault path implements, there is an omission:

Support of the 'list' capability can be inferred when Vault renders this into a 'get' ope

[2021-08-09 00:58] johnernaut commented on #11853
@mahalrs You still planning on looking into this?  Otherwise, I'd be happy to give it a shot.  This is a current blocker for me.

[2021-08-09 00:59] nneul commented on #8690
It's not strictly the same as this request, but I'd be interested in support for the inverse - having Vault's PKI functionality be able to function as an ACME client using dns based validation -- i.e. if configured for a specific dns suffix - be able to expose that using the existing vault pki mechanism, but have it reach out to an acme CA to obtain the cert instead of signing it internally.

This

[2021-08-09 01:00] nneul commented on #8690
Never mind looks like #4950 already covers this.

[2021-08-09 09:17] fcomte commented on #6758
I have the same problem. I develop a service with distribute vault token to users.
I would like that my application generate token with a subset of policies to scope his access to a specific context.
This subset of policies could not be a known policies nor a specific role for vault. I would love that my application ask a token to vault with 2 parameters : a role and a policy in json. The effectiv

[2021-08-09 10:24] fcomte opened #12285 "scope a policy to a user context."
**Is your feature request related to a problem? Please describe.**
I would like to be able to generate a token from a javascript application for the user.
I would like this token to be scoped to a certain policy asked by the user.

**Describe the solution you'd like**
In my opinion it could be very helpfull to add a query parameter for the token generator endpoint. This additionnal parameter could

[2021-08-09 19:27] iiro commented on #10920
Just to let everyone in the issue know, there's been a new update on Vault Agent: https://www.vaultproject.io/docs/agent/template-config#static_secret_render_interval - this I guess solves @andrejvanderzee your original problem...

[2021-08-09 19:36] iiro commented on #8953
And another vote from here.

The current behaviour with dropping the cache-stanza while leaving the listener leaving without any listener is very confusing.  An update needed here, at least logging an error (if this is intentional atm)...

Also, regarding the caching: it's kinda understandable that caching the KV2's not supported at the moment - but I seriosly hoping this would change in a near fu

[2021-08-09 20:02] shazinahmed commented on #11045
I came back on this project after a break and I was able to figure out the issue. As mentioned above this cluster has HA enabled. But I didn't know that i had to explicitly add this in the postgres config too. Here is the new postgres config:

`      storage "postgresql" {
        connection_url = "postgres://user:pwd@dev-pg-db.xxxxxxxxxx.rds.amazonaws.com:7964/dev_vault_db"
        ha_enabled = t

[2021-08-09 20:19] arusso opened #12290 "LDAP Auth user/group mapping are cleared when loading from a file with a name containing an equal ('=')"
**Describe the bug**

When creating / updating an LDAP Auth group (or user) mapping from the command-line using the load from file (`@`) where the filename contains an equal (`=`), the group is either created or updated but the policies in the mapping are emptied.

**To Reproduce**

[code]

**Expected behavior**
I would expect that the policies be updated regardless of the method we load our json

[2021-08-09 21:12] arusso commented on #12290
This seems to actually be an issue with [go-secure-stdlib](https://github.com/hashicorp/go-secure-stdlib/blob/main/kv-builder/builder.go#L70)

Because the split on `=` is occurring before the check to see if `@` is the first character, and the file path is a dn with included `=` the library seems to be interpreting the input as `{"@cn": "terraform-admins,o=example.com.json"}` instead of reading fr

[2021-08-10 00:55] MitaliBo opened #12292 "[Plugin Portal] Plugin Submission - artifactory-secrets-plugin"
Please provide details for the plugin to be listed. All fields are required for a submission to be included in the [Plugin Portal](https://www.vaultproject.io/docs/plugin-portal) page.

**Plugin Information**
Name as it would appear listed: Artifactory
Plugin type (secrets/auth/database):secrets
Repository link: https://github.com/jfrog/artifactory-secrets-plugin

[2021-08-10 12:09] Happycoil commented on #11953
@tomhjp Just hit this issue and eventually found the `issuer` workaround. I think documentation of the workaround in the kubernetes auth docs would be very helpful.

[2021-08-10 12:49] ichasco-heytrade commented on #10026
Hi!

I am getting the same error with postgresql engine. Have you found any solution?

Thanks!

[2021-08-10 14:54] jardinezm commented on #8953
This has been added submitted as a feature request for visibility and tracking.

[2021-08-10 19:46] calvn commented on #11441
@ianferguson Closing this since it should now be addressed on Vault 1.8.1. Feel free to re-open if you encounter any further issues on this.

[2021-08-10 19:46] #11441 closed

[2021-08-10 20:00] LukeBalizet commented on #5362
+1

[2021-08-11 00:21] tl-eddie-hoffman opened #12303 "PostgreSQL database connections not configurable in UI"
**Describe the bug**
Apologies in advanced if PostgreSQL connections are not supported via the UI, but there seemed to be some limited support in 1.7.0.

When creating a new connection in the Vault UI the `postgresql-database-plugin` is not available.

![image](https://user-images.githubusercontent.com/73109001/128950209-b7047fa6-8caf-4ea3-a780-df7aeebe52c2.png)

We have PostgreSQL database connec

[2021-08-11 08:17] tommy04062019 opened #12304 "Cannot save changes on UI when adding new policy to a user"
**Describe the bug**
After upgrading Vault from version 1.7.2 to 1.8.1, when adding a new policy to an existing user, the `save` button doesn't click to apply changes.

**To Reproduce**
Steps to reproduce the behavior:
1. Run Vault 1.7.2 with Consult 1.8.10
2. Config LDAP for accessing.
3. Create a new policy `p1`
4. Grant policy `p1` for `user1` -> Save->OK
5. Upgrade Vault 1.7.2 to 1.8.1 + Consu

[2021-08-11 09:55] pankaj-dahiya opened #12305 "Vult not comming UP - core: security barrier not initialized"
Vault pod is running state but showing below error:

Replicate -
 helm repo add hashicorp https://helm.releases.hashicorp.com
 helm install pankaj hashicorp/vault

==> Vault server configuration:

             Api Address: http://10.42.0.36:8200
                     Cgo: disabled
         Cluster Address: https://pankaj-vault-0.pankaj-vault-internal:8201
              Go Version: go1.16.5

[2021-08-11 11:02] adrianliechti commented on #12194
found this gist and referenced azure post.

we might give that a try

https://gist.github.com/moraisaugusto/0a5870c8751649708e5a3c6e0f154113

[2021-08-11 12:43] tom171296 opened #12306 "Vault MySQL SSL settings not working"
**Describe the bug**
I try to configure my Azure MySQL configuration. When I configure the connection with an SSL certificate I get the error:  "error creating database object: failed to append CA to client options".

This is weird because I followed the documentation and don't really know what the problem is now. The documentation that I followed:
- https://www.vaultproject.io/api/secret/database

[2021-08-11 13:38] #7905 closed

[2021-08-11 16:18] derekwilliamsliquidx commented on #8522
Experience this randomly during normal operation. 1.7.3 version
 2021-08-11T15:58:12.354Z [WARN]  core: leadership lost, stopping active operation

[2021-08-12 02:06] ciiqr commented on #6731
@aphorise just tested this on 1.8.1, this appears to be working as expected now. Cheers!

[2021-08-12 02:06] #6731 closed

[2021-08-12 02:48] YBDC-ZhangYubo commented on #12194
Checked up configure of our Azure Postgres DB, both `statement_timeout` and `idle_in_transaction_session_timeout ` are zero.
And in our local Postgres DB those are zero too, cannot find valuable differance.

[2021-08-12 07:46] maxfliri opened #12314 "Error with `vault lease revoke`"
**Describe the bug**
When I try to revoke a lease with `vault lease revoke`, I get the following error:

[code]

It seems that the command doesn't generate the correct api request. If I run the command with `-output-curl-string` I get the following, which does not match the api documented [here](https://www.vaultproject.io/api-docs/system/leases#revoke-lease):

[code]

This curl command, which use

[2021-08-12 14:50] hoylemd commented on #272
Given that requesting secrets is now rate-limited, can this please be reopened?

[2021-08-12 19:50] aphorise commented on #8853
@calvn on Vault 1.8.1 this is still an issue using Oracle & likely all other DBs too.

The UI button of ***Force Revoke Prefix*** under **Access** -> **Leases** doesn't work nor does it behave the same as API / CLI: `vault lease revoke --force --prefix ...`; the UI results in `ERROR` whereas the CLI `WARN` although it does perform force revocations of leases as expected (unlike UI):

[code]

[2021-08-12 20:47] calvn commented on #8853
cc'ing @hashishaw on this one.

[2021-08-12 21:46] tinyzimmer opened #12318 "Receiving `invalid group ID given in 'canonical_id'` for valid IDs when creating a group alias"
**Describe the bug**

When creating an external identity for an authentication provider (in this specific case Github, but I'm not sure if it matters), and then subsequently create an alias for the returned ID, I arbitrarily get the `invalid group ID given in 'canonical_id'` error. That is, sometimes it's fine, other times I get the error.

**To Reproduce**

I'm using the go-client, but I have it

[2021-08-13 02:32] rbhitchcock opened #12319 "Okta Auth Backend does not include X-Forwarded-For header in MFA request"
**Describe the bug**
When authenticating with the Okta auth backend against a remote Vault server, the Okta Verify request from Okta reports the authentication location based on the IP of the server running the Vault server rather than the IP of the client making the authentication request. This is due to the `x-forwarded-for` header not being sent to Okta when initiating the MFA request even when

[2021-08-13 04:45] skystar-p opened #12321 "Vault 1.8 cannot authenticate with AWS EC2 auth method"
**Describe the bug**
When using EC2 auth method, Vault uses AWS public certificate to verify instance identity document is valid, which uses SHA1 with DSA key pair. According to this [document](https://tip.golang.org/doc/go1.16#crypto/x509), DSA signature verification is no longer supported from Go 1.16(which Vault was compiled by), so Vault 1.8 version cannot authenticate with EC2 auth method any

[2021-08-13 09:10] tinyzimmer commented on #12318
Closing this as I may have found the issue in my code instead

[2021-08-13 09:10] #12318 closed

[2021-08-13 11:49] Terrybrar97 opened #12322 "[Plugin Portal] Plugin Submission - <PLUGIN NAME>"
Please provide details for the plugin to be listed. All fields are required for a submission to be included in the [Plugin Portal](https://www.vaultproject.io/docs/plugin-portal) page.

**Plugin Information**
Name as it would appear listed:
Plugin type (secrets/auth/database):
Repository link:

[2021-08-13 14:01] dekimsey opened #12323 "storage raft retry_join does not support public_v6, incorrectly parses IP addresses as URLs"
**Describe the bug**
When retry_join is set to use `addr_type=public_v6`, Vault is unable to parse the IP addresses provided by go-discover. Vault uses url.Parse on [addrs](https://github.com/hashicorp/vault/blob/v1.7.3/vault/raft.go#L958), but these are IP addresses and not URLs.

This appears to be a mismatch between go-discover's [Addrs method ](https://pkg.go.dev/github.com/hashicorp/go-discov

[2021-08-13 15:01] ianferguson commented on #11441
@calvn thanks!

[2021-08-13 20:04] Terrybrar97 opened #12325 "Currently the fast path for `rand!` is used only for `BitArray` but not for views of `BitArray`:"
Currently the fast path for `rand!` is used only for `BitArray` but not for views of `BitArray`:
[code]

I propose to add support for views also (it requires careful handling of view boundaries along the fastest changing dimension, but for large vectors this should be negligible overhead).

__Originally posted by @bkamins in https://github.com/JuliaLang/julia/issues/41862__

[2021-08-13 20:11] meshantz commented on #9850
This would assist with knowing what application generated users at our database are intended for.

[2021-08-13 23:32] marcpaulchand commented on #11608
I agree.
Here are the release note for openSSH 8.2 [1]
[code]
Until changes, it's still possible to bring back the deprecated algo with :

[code]
in your `sshd_config`
[1]: https://www.openssh.com/txt/release-8.2

[2021-08-13 23:34] marcpaulchand commented on #11608
My bad, in fact everything is fine.
Here is vault documentation [1]

There is an `algorithm_signer` role option.
So with the option it gives :
[code]
and no more problem.

This should satisfy everyone.

[1] : https://www.vaultproject.io/api/secret/ssh#algorithm_signer

[2021-08-14 02:45] johnnybubonic commented on #12304
Seeing the same issue with changing policies for group mappings. I can set them when creating the mapping but not edit them with the same behaviour- grayed out "Save" button.

[2021-08-14 23:23] Terrybrar97 opened #12326 "T"
__Originally posted by @Terrybrar97 in https://github.com/progit/progit2/issues/1701__

[2021-08-14 23:24] #12326 closed

[2021-08-14 23:24] Terrybrar97 commented on #12326
Need more accuracy and financial structure steup

[2021-08-14 23:47] Terrybrar97 opened #12327 "Help me"
Help me

__Originally posted by @Terrybrar97 in https://github.com/jhcloos/jhcloos.github.io/issues/1__

[2021-08-14 23:50] Terrybrar97 opened #12328 "Bumps [addressable](https://github.com/sporkmonger/addressable) from 2.7.0 to 2.8.0."
Bumps [addressable](https://github.com/sporkmonger/addressable) from 2.7.0 to 2.8.0.
<details>
<summary>Changelog</summary>
<p><em>Sourced from <a href="https://github.com/sporkmonger/addressable/blob/main/CHANGELOG.md">addressable's changelog</a>.</em></p>
<blockquote>
<h1>Addressable 2.8.0</h1>
<ul>
<li>fixes ReDoS vulnerability in Addressable::Template#match</li>
<li>no longer replaces <code>+<

[2021-08-15 08:28] maxb opened #12329 "Several Vault endpoints spuriously implement CreateOperation & advertise x-vault-createSupported in OpenAPI"
Several Vault endpoints spuriously implement CreateOperation and so advertise x-vault-createSupported in OpenAPI, when it is meaningless to do so.

This may go unnoticed by the vast majority of users, but if you are writing checks which consult valid operations in OpenAPI, to vet whether your users are making mistakes in writing their Vault policies, it is important.

It's a coding error in a Vaul

[2021-08-15 20:44] shlok007 opened #12330 "Missing Patch function in api/logical.go"
**Is your feature request related to a problem? Please describe.**
I was trying to append secrets to a file path using kv version 2 and that worked as expected using the `patch` command from the CLI. However, while using go api, I can see there is no function available for the same.

**Describe the solution you'd like**
By implementing a `Patch` in logical.go, I should be able to do the following

[2021-08-16 01:48] hiyosi commented on #10490
v1.1.x has been released. Thank you!

[2021-08-16 01:48] #10490 closed

[2021-08-16 06:09] Rakshithakrishna2 opened #12331 "ISSUE while running VAULT server"
Hi,

I am wanted to configure vault with consul in order to enable edgex security, while trying to run the vault server using command,
vault server –dev -config=/etc/vault.d/vault.hcl (or)
sudo vault server –dev -config=/etc/vault.d/vault.hcl (or)
vault server –dev -config=vault.hcl

I am facing issue like in,

"Must specify at least one config path using -config"

I am running the vault server wh

[2021-08-16 18:29] calvn commented on #12321
Thanks for the report! We have this listed as a [known issue](https://www.vaultproject.io/docs/upgrading/upgrade-to-1.8.0#known-issues) for Vault 1.8.0 and 1.8.1, and are currently working on having this fixed in the next release of Vault.

[2021-08-16 22:09] alwaysastudent commented on #5834
This is a major issue for us as well. We expect Vault to cap the end date of an issued intermediate CA certificate, to not exceed the end date of the signing CA.

Kindly revisit this issue.

[2021-08-16 22:50] pmmukh commented on #12330
Hi @shlok007 ! Thank you for submitting this issue! This totally makes sense, and you are correct, there does not at this moment exist a PATCH api for the kv-v2 secrets engine, hence the absence of a Patch function in the client, the cli itself does the same thing as the alternative you've written out, which is to do a read followed by a write. I'm going to be tagging this as a future feature enha

[2021-08-17 03:59] #12267 closed

[2021-08-17 09:02] oliverjanik opened #12334 "App Role authentication with `secret_id_bound_cidrs` fails to detect correct IP from X-Forwarded-For"
Vault version 1.8.1 installed from the official docker.

The vault is running in Fargate behind AWS ELB.

Server config:
[code]

Approle config:
[code]

When trying to authenticate with approle:
[code]

Where the source address 10.0.1.230 is the internal ELB address. The client machine I'm connecting from has public IP 1.2.3.4 and is not hosted in AWS.

I've searched all issues around X-forwarded-

[2021-08-17 12:12] ausmartway opened #12335 "Add support for Sybase to dynamic database secret engine"
**Is your feature request related to a problem? Please describe.**
Sybase is a DBMS that is used by many larger organisations in the world, especially telecom and financial institutions. Vault has a database secrets engine supporting databases from multiple vendors. Sybase is not included in that list. It would be great if Vault can support it.

The vendor has published go SDK for sybase client [h

[2021-08-17 12:33] keslerm commented on #5659
Hit this as well, would be much nicer if the default was maybe as restrictive as the what the tutorials tend to provide. But even then a flag to override would be extremely helpful.

[2021-08-17 12:38] shlok007 commented on #12330
@pmmukh If the cli does the same thing, there could be an issue with concurrent patch request being sent to vault. For now, in any case, we can create a patch function leveraging the existing read and write methods to read the secrets, merge and write the new one, just like the cli itself. Happy to help, will you be willing to accept a contribution for the same?

[2021-08-17 14:08] wargamez commented on #11712
I see the same thing with vault 1.8.1, getting error on kv2 trying to add a path: secret/apkjflkjdslkfjlkdsjflkdsjflkdsjflkdsjlkdsjkfjlkdsjf/kljhkjdsfakjdshkjdshfkjhdskjfhdskjhfkdjsfh/kjhbkjfhkjdshfkjhdskjshfku

on kv1 this works fine.

[2021-08-17 14:58] evilmog opened #12336 "Vault 1.8.1 acl templating breaks with JWT"
**Describe the bug**
A clear and concise description of what the bug is.

**To Reproduce**
Steps to reproduce the behavior:
Configure vault with JWT and then template under PKI or SSH Certificates the following allowed domain template:
[code]

This matches the documentation https://learn.hashicorp.com/tutorials/vault/policy-templating

the vault ssh config is something similar to one configured by

[2021-08-17 18:32] pmmukh commented on #12330
@shlok007 you are correct, if issuing concurrent cli commands for the patch call, it could be subject to the same race condition issues. Also, that approach sounds like the right call, for the time being!
In regards to contributing, firstly, thank you for offering to contribute to this feature! We're currently considering this or a similar feature to implement internally, so for the time being wil

[2021-08-17 18:57] pmmukh commented on #12331
Hi @Rakshithakrishna2 ! Sorry you've been running into setup issues while adding the config, looking at it, I can't immediately see any problem with what you're doing. However, we typically reserve github issues for bug reports and feature requests, which this doesn't appear to be.  As such, I'm going to close this and suggest that you ask about this at https://discuss.hashicorp.com/c/vault/30, wh

[2021-08-17 18:57] #12331 closed

[2021-08-17 21:58] pmmukh commented on #12282
Hi @maxb ! Thank you for submitting this issue! After some discussion, the rationale for not having certain endpoints in the openApi spec was due to the fact that we don't guarantee backwards compatibility on those endpoints, but we've decided that should not preclude those endpoints from being in the openApi spec, we plan on having the lack of backwards compatibility explicitly called out in the

[2021-08-17 22:38] tusing commented on #5834
Please consider re-opening and re-visiting.

We recently experienced a massive production outage related to this issue. It does not look like the current implementation is RFC-compliant.

From [RFC 5280 §4.1.25](https://datatracker.ietf.org/doc/html/rfc5280#section-4.1.2.5):

This tells me that the notAfter date does not need to be capped to the signing CA's expiry - just that if this is the case,

[2021-08-18 06:07] oliverjanik opened #12342 "Failed to unseal fully initialised vault"
![image](https://user-images.githubusercontent.com/2280140/129846100-7a7793e3-5edb-43c4-be8a-02e643443ac2.png)

version 1.8.1

[code]

The vault has been previously initialised and had data in it.

[2021-08-18 07:48] sebinjohn opened #12343 "Logs emitted by a database plugin(v4) is not shown in Vault logs under `info` level."
**Describe the bug**

### Logs emitted by a database plugin(v4) is not shown in Vault logs under `info` level.

**To Reproduce**

- Clone https://github.com/sebinjohn/vault-plugin-database-mockdb.git

#### Test - 1
1. Terminal 1: `make start-vault LOG_LEVEL=info`
2. Terminal 2: `make dev-flow`
3. Check for the string  " plugin-mockdb: the type is MOCK" in the vault logs in Terminal 1
4. Terminal 1

[2021-08-18 14:31] mladlow commented on #12275
Hi @hexa2k9,

Thanks for filing the issue, and for the detailed write up!

This will be fixed for the Vault 1.8.2 release, and we've pushed 1.8.1-2 packages where the config files are properly flagged so they won't overwrite user-edited files.

[2021-08-18 14:31] #12275 closed

[2021-08-18 15:15] hexa2k9 commented on #12275
Thank you 👍

To make the cycle complete I can confirm it's fine. I ran the update to vault-1.8.1-2.x86_64, `vault.env` was left intact.

[2021-08-18 15:44] EduardoFer commented on #9631
+1

[2021-08-18 15:46] italux opened #12347 "Secret path inheritance"
**Is your feature request related to a problem? Please describe.**
No, it's not.

**Describe the solution you'd like**
As mentioned on #4697 would be nice to have an inheritance for secret paths. I mean, if we have a structure that is common to several applications but we need to append a single different `key:value` pair would be nice to be able to do that with vault path

- Common values
[code]

[2021-08-18 17:22] kpenfound commented on #12280
Hi @agh, thanks for reporting this!  You're correct, it looks like `StartLimitIntervalSec` isn't valid under [Service], and it's also defined in the correct place under [Unit]. I'll correct this and validate the rest of the options on systemd 247+ as well.

As for the Bullseye repo, all products are intended to be there, but it looks like there's an issue with our tool for adding new deb distros.

[2021-08-18 18:48] vsevel opened #12349 "`/sys/mounts/:path/tune` should return the engine type"
**Is your feature request related to a problem? Please describe.**
In the context of https://github.com/quarkusio/quarkus/pull/18636 there is a need to offer an operation `isEnabled` on our `pki` engine abstraction. we would like to use the `/sys/mounts/:path/tune` operation, but it does not tell the type of the engine, just its configuration, if one exists. if the engine has been created with a d

[2021-08-18 19:08] pmmukh commented on #12305
Hi @pankaj-dahiya! I think you may be missing some setup steps required after installing the helm chart, that is required to initialize vault. I would refer you to our documentation here https://www.vaultproject.io/docs/platform/k8s/helm/run and specifically https://www.vaultproject.io/docs/platform/k8s/helm/run#initialize-and-unseal-vault. As we reserve github issues for bug reports and feature r

[2021-08-18 19:08] #12305 closed

[2021-08-18 20:33] trutled3 opened #12350 "Unable to copy inline text from vault secret"
**Describe the bug**
After creating a json secret in vault, I am unable to copy inline text from the secret. I am only able to copy inline text after hitting "Edit" on the secret. It may be related to https://github.com/hashicorp/vault/pull/11500

**To Reproduce**
Steps to reproduce the behavior:
1. Create json secret in kv secrets engine
2. Attempt to highlight text and right click to copy and un

[2021-08-18 21:49] pmmukh commented on #12290
Hi @arusso ! Thank you for filing this bug! I just reproduced this locally, and can confirm that this is a valid issue. Will get started on a fix soon, and will update here once done.

[2021-08-18 22:53] arusso commented on #12290
I believe this affects more than the ldap auth backend (though I haven’t tested) so it may be worth exploring that and see if there’s a way to generalize the fix.

[2021-08-18 23:07] pmmukh commented on #12290
Agreed! The issue is related to how we generally parse these inputs on the command line, as I think you've probably seen already https://github.com/hashicorp/vault/blob/main/command/base_helpers.go#L132. I'm not fully clear right now on what our exact rules are around these inputs, i'm following up internally to get clarity around that, but yes, I do believe any solution we come up with here will

[2021-08-18 23:44] leviathanbadger commented on #11986
To be frank... printing the token directly contradicts what it says when you enter the token in the first place. It indicates the token "will be hidden". It's also not even useful information. The user already knows what token they put in, they just typed or pasted it themselves. For manual use, this behavior is shocking, even if it might not be dangerous in most cases.

Automated use is where thi

[2021-08-19 01:03] slemme1 commented on #11745
I am just exploring the use of the agent and auto-auth and that was one of my first questions -- can I sink to an environment variable!  @NikitaGl Note that you can set an environment variable aad_env_var with a "seed" value to encrypt the file that is created so that it cannot be easily unencrypted without that value, but this would still require some extra processing (at startup or when the clie

[2021-08-19 09:07] abbasalizaidi commented on #8761
@dustin-decker  @sidewinder12s  Any idea on what happens to the stale identities if I try to upgrade the vault from 1.1.2 to the latest or the version where this issue is fixed? My entity store is full-packed with stale identities and I can't issue a simple vault list without overwhelming the cluster.

[2021-08-19 09:35] danieldethloff1993 commented on #12214
Does nobody have an idea?

[2021-08-19 09:55] Rakshithakrishna2 opened #12360 "Vault with Consul"
Hi all, My aim is to register configure vault, secrete store of edgex with consul on UI. To achieve it, I am doing the following steps. ( While doing I am facing errors, if anything I need to change / any suggestions , I request you all to inform me)

STEP 1: Running redis server using command:
redis-server redis.conf

STEP 2: Running the consul server:
The below are the configuration files that I

[2021-08-19 12:21] nightspotlight commented on #12323
bug still present in 1.8.1

[2021-08-19 15:44] wallacepf opened #12368 "Vault 1.8.0 panic on ARM platform"
**Describe the bug**
Vault Panics when an app tries to retrieve its secrets.

**To Reproduce**
Steps to reproduce the behavior:
1. Install vault using the Kubernetes helm chart (standalone mode)
2. Config K8s auth method
3. Config secrets, policies, roles
4. Run any example we have in Learn (Webapp or Orgchart)
5. Vault restarts generating panic error

**Environment:**

*CLI and Server running Vau

[2021-08-19 16:04] ncabatoff commented on #12368
Hi @wallacepf,

Thanks for the bug report.  We fixed this on 1.8.1, I'm now trying to figure out why it didn't make it into the changelog.

[2021-08-19 17:12] wallacepf commented on #12368
Thanks for you answer @ncabatoff. I have updated my vault to 1.8.1 and I keep facing the same problem. Logs below:

[code]

[2021-08-19 17:31] ncabatoff commented on #12368
Ah, right, sorry.  We made the fix on enterprise only because we thought it was the only one impacted.  I missed the dependency in the sdk module.  We'll try to get a 1.8.2 out soon.

[2021-08-19 17:35] VictorCovalski opened #12370 "Vault 1.8.1 Arm64 crashes during entity creation"
**Describe the bug**
Vault server crashes when attempting to create an identity entity.

**To Reproduce**
Steps to reproduce the behavior:
1. Run `vault server -dev -dev-root-token-id=test`
2. Open another shell and run: `VAULT_TOKEN=test VAULT_ADDR=http://localhost:8200 vault write entity/identity name="victor"`
3. See error

**Expected behavior**
An entity should be created and it's id returned.

[2021-08-19 17:54] ncabatoff commented on #12370
Hi @VictorCovalski , thanks for reporting this.  I'm going to close it since it's a dup of #12368.

[2021-08-19 17:54] #12370 closed

[2021-08-19 18:59] rileytg commented on #10753
this actually fully preventing me from logging in on mobile safari. cannot seem to figure out a workaround.

[2021-08-19 19:01] rileytg commented on #10753
nvm. here’s mobile workaround
![Uploading 06239338-C1AF-4759-95CD-1C2F49066A04.png…]()

[2021-08-19 19:01] rileytg commented on #10753
![359848DA-40AF-4F1D-AC51-557012469ABD](https://user-images.githubusercontent.com/692817/130128733-f8261f8f-53e8-4030-a246-6faae2ae5bb7.png)

[2021-08-19 19:48] dustin-decker commented on #8761
Unless something changed and if I recall correctly, upgrading will stop the leak but not clean up the existing stale entities. You'd have to script that operation along these lines: https://github.com/hashicorp/vault/issues/8761#issuecomment-686684579

[2021-08-19 19:51] #12368 closed

[2021-08-19 20:32] kpenfound commented on #12280
The bullseye repo is now updated with all packages available on other distros

[2021-08-19 23:07] bendemott opened #12380 "Java clients fail to authenticate via Kerberos"
I haven't been able to get anywhere with this bug, so I'm reaching out here - hopefully someone can point me in the right direction.

**Describe the bug**
I'm forking the **bettercloud** java driver and adding `Kerberos` support.
I'm unable to authenticate to Vault via Kerberos from Java clients.

I described the issue in the [**gokrb5 github project issues**](https://github.com/jcmturner/gokrb5/i

[2021-08-19 23:30] pmmukh commented on #12285
Hi @fcomte ! Thanks for submitting this feature request! I wanted to follow up and get clarity on something, just to be sure we're on the same page. Is the suggestion, that you would create say 1 policy that would be usable by, let's say 10 different users/clients, and each client when requesting a token would provide a different ( but not necessarily mutually exclusive ) policy, getting back a to

[2021-08-19 23:48] nvx commented on #3725
Just ran into this on Vault 1.7.2, definitely still an issue.

[2021-08-20 02:44] oliverjanik commented on #3866
I've been trying to set up Vault for a few days with auto-scaling on and I have to say the stubbornness of the maintainers, especially @jefferai, really puts me off.

It seems maintainers have hard time understanding that not everyone wants to have a hand rolled n node vault cluster and m node consul cluster and babysit every individual node.

In my case I'd like auto-scaled setup in AWS ECS farga

[2021-08-20 03:07] jefferai commented on #3866
Hi there,

I haven't been a day to day maintainer of Vault for several years not, so I'm not sure what I've specifically done to frustrate you, but I am sorry you're frustrated.

If you're referring simply to the earlier comments on this issue, it is entirely likely that I simply did not see the reply asking for it to be reopened after I'd thought I'd given an answer that would help the OP. At tha

[2021-08-20 07:37] fcomte commented on #12285
In fact my need is to allow a user to decrease his permission.
Suppose I have hundreds of projects and thousands users.
From an jwt role my users get access to all the project secrets they belong to.

But now I would like that my users select one of his project , and then i want to inject a vault token that let him access only this project secrets.

This kind of feature could be done if the login

[2021-08-20 16:52] pmmukh commented on #12285
Thank you for the clarification! I think we may already support a version of this functionality, so I wanted to point you to that and see if that might solve your use case. When using token roles, you can add a set of policies to each token role https://www.vaultproject.io/api-docs/auth/token#create-update-token-role. Then when creating a token off of that role, you can provide a subset of the pol

[2021-08-20 17:59] fcomte commented on #12285
I dont think token roles can help me.
My javascript application runs on each user explorer. I would like that this user can specify a subset of policy to limit security issue in case of token leakage.

[2021-08-20 18:34] fcomte commented on #12285
If you are interested we create a datalab that help users to start datascience containers connected with S3 for storage and vault for environnement variables and secrets : [](https://github.com/InseeFrLab/onyxia-web)

I would like that this application can create token with a limited set of policies to inject into user containers.

We are doing this kind of stuff with S3 and minio with this API en

[2021-08-20 18:44] pmmukh commented on #12116
This issue has been fixed in https://github.com/hashicorp/vault/pull/12377

[2021-08-20 18:44] #12116 closed

[2021-08-20 19:34] pmmukh commented on #12285
That is some pretty cool stuff y'all are doing over there, thanks for sharing!! I understand that the functionality you're asking for is not something we currently support exactly, token roles will help with tightly scoping tokens to perms but not really to allowing users to create tokens with custom policies.
So for now I would just keep this FR open and see what traction it gets, we’re currently

[2021-08-20 19:40] fcomte commented on #12285
thanks :)

[2021-08-20 21:01] pmmukh commented on #12290
Hi! So i followed up internally, and the consensus is that we want to leave the code right now as is, cause changing it to move the file parsing bit above the `split on =` bit, would mean that we wouldn't support key value pairs like @key=value, which we currently do, and given this has been the behavior of the argument parser for a while now, that might be a breaking change. We haven't explicitly

[2021-08-20 21:12] arusso commented on #12290
Given that the resulting map doesn’t have any of the keys to properly
configure the ldap auth backend, shouldn’t at least an error be returned?

On Fri, Aug 20, 2021 at 14:01 Pratyoy Mukhopadhyay ***@***.***>
wrote:

[2021-08-20 21:18] pmmukh commented on #12290
Ah yes that is correct, an error should be returned here! I'm going to mark this as a bug for now, and keep this open till we get in a fix for the kv-builder to return an error when both @ and = are present in an argument

[2021-08-21 00:06] ejtbrown opened #12394 "Special Policy for Unauthenticated Requests"
**Is your feature request related to a problem? Please describe.**
Vault policies are indelibly tied to tokens, which requires that all policy-regulated access relate to an authenticated user. For the vast majority of cases, this is entirely appropriate. But there are a few cases, such as providing the CA trust chain, where it would be really helpful to be able to allow certain types of activities

[2021-08-21 22:18] MrFixit96 commented on #7609
I've verified that Vault v1.7.3 works on Windows Server 2019 using the command `"C:\hashicorp\vault\vault.exe" agent -config="C:\hashicorp\vault\agent-config.hcl"`

However, Vault Server is still not able to be ran as a service... The commits that added this feature to Vault Agent will need to be applied in a similar fashion for Vault Server

[2021-08-22 12:13] tograla opened #12397 "auth > tune readme file -- add information how to view configuration"
The [auth - tune readme file](https://github.com/hashicorp/vault/blob/main/website/content/docs/commands/auth/tune.mdx) ([official documenation](https://www.vaultproject.io/docs/commands/auth/tune)) does not show how to view configuration prior and post editing.

**Describe the solution you'd like**
I suggest to add information how to view auth configuration. It really wasn't easy and took me a de

[2021-08-22 19:42] tograla commented on #12397
Maybe the page describing [vault read](https://www.vaultproject.io/api/system/auth#read-auth-method-tuning) should be enhanced. As shown above the output of the command can be a bit cluttered.

[2021-08-23 09:31] adrianliechti commented on #12194
it happened again. close to the same moment on two totally separated platforms.
this really could mean it happens after a specific time

would it be possible to enhance the readiness probe in the helm chart?
to something like a test write / test read? because currently the deployment thinks it's alright

or to include a config option to crash on loosing connection

[2021-08-23 15:07] chr-b opened #12399 "Vault agent and exit_after_retry_failure + error_on_missing_key"
**Describe the bug**

Vault agent should exit when accessing a non-existing secret from Vault that does not exist, if the agent configuration specifies `num_retries`, `exit_after_retry_failure`, `error_on_missing_key` and `exit-after-auth`.

Instead, Vault agent will stop the runner after failing to fetch the non-existing secret, but then creates a new runner that will again fail to fetch the non-

[2021-08-23 15:40] calvn commented on #12399
I see that we mention `exit_after_retry_failure` on the docs, but it should be `exit_on_retry_failure`. Can you give that a try (I also don't see that being provided in the config)?

[2021-08-23 16:20] dondrich commented on #6254
@jefferai Thanks for this!!

[2021-08-23 17:01] dekimsey opened #12403 "ha: standby nodes are listening on cluster_addr"
**Describe the bug**
According to the [High Availability docs](https://www.vaultproject.io/docs/concepts/ha#per-node-cluster-listener-addresses), standby nodes do not listen on 8201. We configured our network load balancer accordingly, but were surprised to find all nodes are listening and attached.

**To Reproduce**
Steps to reproduce the behavior:
1. Run `vault`
2. Note all instances are listeni

[2021-08-24 05:40] tom171296 commented on #12306
Solved it.

[2021-08-24 05:40] #12306 closed

[2021-08-24 07:27] chr-b commented on #12399
Hi @calvn ,

I can  confirm that `exit_on_retry_failure` fixes the problem.

[2021-08-24 11:41] hoerup commented on #6909
A better integrated json editor is also what's holding our team back from eliminating djenriquez/vault-ui from our setup

[2021-08-24 12:53] Keramblock opened #12412 "Allow database secret engine to store certificates in it"
**Is your feature request related to a problem? Please describe.**
There is a multiple problems with certificates based auth in database if you are using kubernetes helm chart:
1. lack of documentation of how to use it
2. If you even found it you **should** use **insecure** k8s secrets to mount them as a volume
3. and even that is not working ocrrectly because of:
https://github.com/hashicorp/vaul

[2021-08-24 13:01] Keramblock commented on #12412
probably https://github.com/hashicorp/vault/issues/10925 is related to this proposal

[2021-08-24 14:04] dondrich commented on #5275
Would love this feature

[2021-08-24 15:01] mdgreenfield opened #12415 "Postgres Storage Backend Connection Failure"
**Describe the bug**

We've encountered an issue when using TLS enabled postgres connections using `Azure Database for PostgreSQL` w/ golang 1.15 or newer and lib/pq versions prior to v1.9.0. When this issue occurs, connections will fail, but not be purged from the lib/pq pool and will continue to be used by the Vault unsuccessfully until Vault is restarted.

[code]

When this error occures we're

[2021-08-24 17:39] sherman-grewal commented on #11683
Hi @vishalnayak! I noticed that there has been a lot of requests for this feature, and I thought that this would be a great feature to carry out as a first-time contributor. I decided to take on this issue, and I should have a PR ready soon 😄  If you don't mind, I will be assigning myself for this issue. If you have any questions let me know!

/assign @sherman-grewal

[2021-08-24 18:17] agu3rra commented on #10048
I was having this same issue in a Debian based install of vault. I was running the install with `root`, but vault is called with non root user, so the following solved it for me on my Dockerfile:

[2021-08-24 18:43] DejfCold commented on #12303
+1
I just wanted to file this issue as well.

Also, there is this error in the browser console:
![image](https://user-images.githubusercontent.com/12591578/130672238-88d9307c-5495-4678-974d-7350440d7283.png)

[2021-08-24 20:58] DejfCold commented on #12303
Hi! @Monkeychip & @chelshaw! Could you please take a look?
I've seen something that looks like a major change (https://github.com/hashicorp/vault/pull/10655) that could be related to this?
Especially seeing that MySQL had to be re added in https://github.com/hashicorp/vault/pull/11532

I've not understood, what exactly changed to cause this apart that it isn't listed in `connections.js` while prev

[2021-08-24 21:26] #12399 closed

[2021-08-24 21:31] calvn commented on #11349
In Vault 1.8 we made adjustments on Agent to allow for indefinite retries. The net result is that Agent should now behave similar to the way it was in 1.5 and earlier, with the option to exit on retry failure if that's desired. Please give Vault Agent 1.8.x a try and feel free to re-open if there are any issues with it.

[2021-08-24 21:31] #11349 closed

[2021-08-25 02:36] pfjason-bbmus opened #12426 "pki should not alphabetically sort OUs when using the /issue/:role path"
**Describe the bug**
Issue #6596 resolves sorted OUs when they come in via the CSR, but when a policy is created with multiple OUs they are also sorted, and then when using the /issue path to generate a certificate without a CSR certificates are created with OUs in alphabetical order, not in the order they were given to the policy.  They appear to be written in the correct order when viewing the p

[2021-08-25 05:47] elsesiy opened #12427 "API lacks capability to modify Autopilot configuration"
**Is your feature request related to a problem? Please describe.**
The API package currently only allows for retrieval of the autopilot configuration but doesn't expose any capabilities to modify it.

**Describe the solution you'd like**
Add missing API call for `PutRaftAutoPilotConfiguration`

**Describe alternatives you've considered**
Users are currently forced to use the HTTP API instead, see

[2021-08-25 05:55] Lynnes001 opened #12429 "Migrating storage backend between different versions on Postgresql"
**Environment:**

* Vault Version: I have a vault service running 0.10.1 deployed with docker (yes pretty old version). Storage backend is Postgresql v9.6

**Problem**

I am wondering if it's possible to use Vault migrate to from current postgres db to another with higher version. Also, if it's possile, i would also like to upgrade vault. But it seems the official migration tool is just for migrat

[2021-08-25 11:09] rnsc commented on #5275
I would love to have this natively, this is how I implemented it in Go for a project, it's probably not optimal or anything, but it worked for me.

[code]

[2021-08-25 11:23] kir4h commented on #5275
@rnsc Just in case you didn't notice my comment above and it can help, I wrote a small go based cli for this (https://github.com/hashicorp/vault/issues/5275#issuecomment-662694602)

[2021-08-25 13:51] alexleach opened #12435 "Support of Environment Variables in Agent Config files"
**Is your feature request related to a problem? Please describe.**
I'd like to set up the Windows Agent on client PCs, so that it launches per-user, and each user has their own personal cache directory. The most suitable place for this to me, seems like a user's personal TEMP directory. However, to automate the discovery of the temp directory from within the configuration file, requires access to

[2021-08-25 19:00] ThomasK33 opened #12436 "OIDC UI based login not possible with MetaMask installed"
**Describe the bug**
When the [MetaMask](https://metamask.io/) extension is installed and enabled for all sites in Chrome, OIDC based logins are not possible anymore.

**To Reproduce**
Steps to reproduce the behavior:
1. Run:
[code]
2. Run:
[code]
3. Install [MetaMask in Chrome](https://chrome.google.com/webstore/detail/metamask/nkbihfbeogaeaoehlefnkodbefgpgknn) and enable it for all sites.
4. Hea

[2021-08-26 08:40] MaciejKucia opened #12439 "SIGSEGV on web UI group create"
**Describe the bug**
Vault restarts.

**To Reproduce**
Steps to reproduce the behavior:
1. Login with root token in the web UI
2. Add a new group: Access -> Groups -> Create group -> enter any name -> Create

**Expected behavior**
Vault does not restart and seal, group is created.

**Environment:**
* Vault Server Version (retrieve with `vault status`): 1.8.0
* Vault CLI Version (retrieve with `vau

[2021-08-26 15:57] firstdorsal opened #12442 "Vault UI > Transit > Verify: UI shows verification is false despite api showing its correct"
**Describe the bug**

Vault UI > Transit > Verify: UI shows verification is false despite api showing its correct

api request with nodejs also works.

![Screenshot-20210826174754-3832x1596](https://user-images.githubusercontent.com/10563452/130995121-3b2f5577-603a-4a09-9c50-05de27cedbdc.png)

**Environment:**
docker-image:  vault:latest
running in development on local machine in latest chromium

[2021-08-26 21:47] joeyberkovitz opened #12445 "Unseal Timeout"
**Is your feature request related to a problem? Please describe.**
I would like to have the ability to set a timeout for entry of Vault unseal keys during the unseal or root token generation processes. Allowing for a timeout could minimize the attack surface surrounding the unseal process. This was mentioned in a previous issue, https://github.com/hashicorp/vault/issues/3853, but no explanation wa

[2021-08-27 01:28] teifip opened #12448 "HTTP API to rollback to previous KV secret"
**Is your feature request related to a problem? Please describe.**
With the existing KV Version 2 APIs, the only way to rollback to the previous secret version is to read that version and then write it as new version. This approach is possible only if the client has read access. Rollback to the previous version should be possible without the need to read the secret.

**Describe the solution you'd

[2021-08-27 22:05] #12445 closed, assigned to nobody

[2021-08-30 02:16] the-maldridge opened #12456 "FTBFS w/ Go1.17"
**Describe the bug**
Fails to build from source.

**To Reproduce**
Steps to reproduce the behavior:
Download a recent source tarball.
Try to build it with Go1.17.  Observe build fail due to go-limiter importing private resources that are protected in Go version 1.17.

**Expected behavior**
I expected Vault to build.

**Environment:**
Build environment is a Void Linux build server.  The complete en

[2021-08-30 04:50] dhbaird opened #12457 "pki feature request: allow_subdomains with disallow list"
**Is your feature request related to a problem? Please describe.**

As a user of Vault's pki, I would like to disallow issuing certificates for some subdomains in a role. Typically this would be because I have *other* roles for handling those subdomains. Example: I would like a role for issuing any certificates under `example.com` excluding `vault.example.com`. This is because I have another role

[2021-08-30 05:58] MaciejKucia commented on #12439
This seems to be resolved after the upgrade to 1.8.2

[2021-08-30 05:58] #12439 closed

[2021-08-30 06:21] tristanmorgan commented on #12225
Seems the code is missing from _vault/token_store.go_ `tokenStoreRoleRead()`

[2021-08-30 14:25] ejtbrown commented on #12394
That would be possible, but seems to be just another point in the hacky/kludgy solution space. It requires a separate LB (which I do happen to have in my case, but others might not) with a not-necessarily-obvious configuration (which adds potential confusion for audits and security reviews).

[2021-08-30 19:43] lanpar opened #12462 "mount post rest api seems to give same response No Content"
#1.  I am using golang Resty to execute APIs against vault

#2.  My mount post api works the first time , namely 204 No Content.  Verified also on vault that it exists.
Btw Resty complains with the
*** Error: Unable to format response body - "unexpected end of JSON input" *** but that's another issue

#3.  I do not change anything and submit the same request, in which I am expecting
  "errors": [

[2021-08-31 09:34] tsaarni commented on #12091
What approach should be taken for the removal:

1) Should there be a deprecation step, and is there example how deprecation should be documented/handled?  I assume at least references to `v2` in [API docs](https://www.vaultproject.io/docs/configuration/storage/etcd#etcd_api) would need to be marked as deprecated, maybe also some warnings in logs should be added?

2) Or could I simply remove the `v

[2021-08-31 14:43] Nineluj commented on #12334
That seems like the intended behavior. [The docs](https://www.vaultproject.io/docs/configuration/listener/tcp#x_forwarded_for_authorized_addrs) say:

I assume that the purpose of this setting is to specify which LBs/proxies you trust to send a trustworthy X-Forwarded-For header. Have you tried using your LB's IP address `10.0.1.230` as the value for `x_forwarded_for_authorized_addrs`?

[2021-08-31 15:53] pmmukh commented on #12323
Hi @dekimsey ! Thanks for submitting this issue, and the background research! I'm currently working on trying to reproduce this issue myself, so that I can validate your fix.
For cloud auto join with ipv4, the steps here https://learn.hashicorp.com/tutorials/vault/raft-storage-aws?in=vault/raft were a breeze, however I'm struggling to tweak these to work for ipv6, cause of issues like not being ab

[2021-08-31 18:53] pmmukh commented on #12456
Thanks for submitting the issue! Just dropping a note that there's an open PR https://github.com/hashicorp/vault/pull/12358 that is being worked on, that will fix this.

[2021-08-31 19:19] pmmukh commented on #12323
@dekimsey actually ignore that, I was just able to get this repro-d, so can proceed with checking out the PR now.

[2021-08-31 22:05] AbbyDeng commented on #12456
nicely reported issue! thanks a lot, we're also having it

[2021-08-31 22:08] the-maldridge commented on #12456
Fantastic.  Any idea of the timeline on this one?  I am trying to decide if I should import the patch from #12358 into Void to get the build un-stuck.

[2021-08-31 23:32] edward2a commented on #9663
I found this issue in a cluster deployed with helm/flux and the current workaround is to re-apply the kubernetes auth configuration to vault.

I'm still trying to pinpoint exactly what causes the SA secret or SA to be rotated.

[2021-09-01 00:06] pmmukh commented on #12456
@the-maldridge i don't really have a timeline for you, sorry! you are def welcome to directly use the patch on the PR in the interim, but fair warning that it is currently failing tests and so might have issues down the line, so I would recommend waiting until the PR is merged in, tbh.

[2021-09-01 00:21] the-maldridge commented on #12456
Hmm, that is unfortunate.  I can flag the package as upstream_broken until the fix rolls out then.  Do you know if Vault will be adding any kind of CI gate to avoid this in the future (this being that Vault doesn't appear to do CI against the stable matrix for the Go language)?  Having a dependency that linked an internal implementation of the language runtime is a liability that surprised me in p

[2021-09-01 00:50] pmmukh commented on #12456
Oh yeah, so this issue is only happening cause here you're trying to build Vault with go 1.17, which we don't actually support yet. You'll notice that both the `main` and `1.8.x` release branches are using go 1.16. We do have CI gates that would catch this, had we been trying to release a version of Vault built with go1.17 this would've been caught earlier, i promise 🙂

[2021-09-01 00:58] saites opened #12465 "HTTP API documentation doesn't list Status 405"
**Describe the bug**
The HTTP API documentation does not document HTTP status 405. That's not a big deal, but [the docs in question](https://www.vaultproject.io/api-docs#http-status-codes) explicitly request that I open a bug report:

**To Reproduce**
Steps to reproduce the behavior:
1. Start a Vault server
2. Make a request with an invalid method, e.g.
[code]
     (the [sys/health](https://www.va

[2021-09-01 03:41] dekimsey commented on #12323
Thanks @pmmukh, I'm glad you were able to reproduce, I had missed your initial reply on the issue! Please let me know if there is anything I should add/modify.

[2021-09-01 04:34] systemmonkey42 commented on #11038
Since templating is optional, some of the security around template formatting _could_ be relaxed.

- Templating is part of role or policy and requires permissions to create.
- Individual roles have a flag which enables/disables templating
- It would be up to the admin to ensure uses cannot modify the data used in the template.

I would like to see one or more of the following;
1. Allow "{{identity

[2021-09-01 05:12] systemmonkey42 opened #12469 "SSH/ca/role - Templating for "default_user" field."
I would like to ensure a user requesting a signed SSH certificate is assigned a default principal based on their username eg. `{{identity.entity.aliases.auth_userpass_xxxxxxxx.name}}`.

I find myself supporting users who get a certificate signed, and cannot log into the target machine because they didn't use the correct process and supply a principal.

(Certificates with no `principals` have eithe

[2021-09-01 09:00] samuelb opened #12470 "Improve error handling and messages of vault CLI tool regarding HTTP API errors"
Hello

When using the vault CLI tool to a vault URL which doesn't return an expected JSON response, like an HTTP redirect response, an error message like following is shown:

This error message is not understandable to most users and it might take a significant and frustrating amount of time to figure out what the actual problem is.

The reason for this error message is actually following: Vault e

[2021-09-01 09:25] sdif commented on #8754
+1, we wanted to copy secrets in vault which is behind CloudFlare and it is not convenient at the moment to use the HTTP API for human operators. Having this option through the Vault CLI will be helpful 👍

[2021-09-01 09:34] HelenCousins opened #12471 "Make users able to write policies for their (and only their) secrets"
**Is your feature request related to a problem? Please describe.**
As https://learn.hashicorp.com/tutorials/vault/policies describes it is often useful to make a policy for "read (and only read) this AWS key" and make a token with it to use in automation.  However it does not appear to be possible to allow Jane (not an admin) to write a policy, assign it to tokens, and revoke those tokens if they

[2021-09-01 10:42] pschultz commented on #12276
Updating github.com/michaelklishin/rabbit-hole should fix the issue. The latest version supports both comma separated strings as well as arrays: https://github.com/michaelklishin/rabbit-hole/blob/728b3db/users.go#L74

[2021-09-01 12:12] ncabatoff commented on #12471
Hi @HelenCousins,

Thanks for opening this feature request.  This is an interesting one.  There's already an analogous behaviour, in that when creating tokens you can assign a subset of your own policies to the new token.  It makes sense to extend this further, allowing a user to create policies that provide a subset of the permissions they already have.  I make no promises as to when or if we mig

[2021-09-01 12:35] ncabatoff commented on #12465
Hi @saites,

Thanks, I'd forgotten of the existence of this table.  I'm adding 405 and also 412, another one that was overlooked.

[2021-09-01 12:50] HelenCousins commented on #12471
ta for your response.  This is a feature of Enterprise that may persuade us to pay... in the meantime I suppose the expected workflow is that admins create policies, and auth roles as needed.

[2021-09-01 13:51] #12465 closed

[2021-09-01 14:09] HelenCousins commented on #12471
Incidentally the thing I thought might work, but didn't (as the docs say, if you look hard enough) is to template permission to make policies/roles/etc like:

path "sys/policies/acl/{{identity.entity.aliases.auth_ldap_1661e681.name}}-read"
{
  capabilities = ["create", "read", "update", "delete"]
  allowed_parameters = {
    "policy" = ["path \"secret/data/users{{identity.entity.aliases.auth_ldap_

[2021-09-01 15:21] nkarstens commented on #12157
I agree that this would be a useful enhancement.

[2021-09-01 18:30] pmmukh commented on #12342
@oliverjanik I'm gonna go ahead and close this out, from reading through the conversation it appears that the doubt's been answered. Please feel free to reopen if i'm wrong on that!
thanks for the followups @ncabatoff  and @aphorise !!

[2021-09-01 18:30] #12342 closed

[2021-09-01 20:28] pmmukh commented on #12222
Hi @cloudcafetech ! As @agh has pointed out, you can indeed inspect the events like say kv puts, via the audit log linked there, or by inspecting the metrics https://www.vaultproject.io/docs/internals/telemetry. I'm going to go ahead and close this issue out, since I believe this should be answered now, if you run into issues while looking into the logs or metrics please feel free to open a separa

[2021-09-01 23:17] hsimon-hashicorp commented on #12223
Hi @s3than! Just wanted to check in and see if you'd been able to get the stack trace requested. Let us know, so we can take a peek. Thanks!

[2021-09-02 01:08] s3than commented on #12223
@hsimon-hashicorp Unfortunately I have not been able to replicate the issue directly.. we did notice that it occurred when the DynamoDB backend was being rate limited and the TTL for Tokens that had the default 32 day period were being cleared..

The following items have stopped the related issues.

* Upsizing DynamoDB read/write minimums
* Configuring the TTL's for tokens to be a lower period of

[2021-09-02 01:08] #12223 closed

[2021-09-02 08:13] awarner-greshamtech commented on #10821
If I could vote for this issue, I would. We are fleshing out our use of the HashiCorp stack and would really like to proxy all three UIs.

[2021-09-02 09:39] #12429 closed

[2021-09-02 12:44] Itiho commented on #11953
The alternative soluction no work for me. I'm try two forms in my lab kind with K8S 1.21

[code]
and

[code]

In lab with kind and k8s 1.20.7 works fine.

[2021-09-02 12:59] ncabatoff commented on #11040
Fixed in #11041

[2021-09-02 12:59] #11040 closed

[2021-09-02 13:01] olafz commented on #11619
This issue is also (still?) present in Vault 1.8:

![image (2)](https://user-images.githubusercontent.com/80709/131848031-3f806898-de85-4591-8aca-038015a94ca7.png)

[2021-09-02 13:11] valorl commented on #132
So, it's 2021, how's everyone doing?
With MFA an even more of a ubiquitous and standard feature than back in 2017, are there any plans to revisit this decision 🤞 ?

I think there is a considerable user segment that needs Vault with MFA but doesn't need anything else from Enterprise.
We're talking about centralized management of every single secret, you don't need to be a Fortune 500 company to hav

[2021-09-02 13:16] michaelklishin commented on #12276
The current `rabbit-hole` ref [seems to be from 2019](https://github.com/hashicorp/vault/blob/b368a675955707db4e940da29a1043871a3781b6/go.mod#L130).

The library has been RabbitMQ 3.9-ready for [nine months](https://github.com/michaelklishin/rabbit-hole/pull/168) or so.

[2021-09-02 13:17] ncabatoff commented on #10460
Actually, we've discussed this more internally, and we've decided we don't want to do this.  The entity-alias solution is the right way to handle this.  Allowing non-entity tokens to have interpolatable metadata would complicate some of our 1.9 work.  Sorry about that!

[2021-09-02 13:17] #10460 closed

[2021-09-02 13:20] keymon commented on #132
Agree with @valorl .

one solution can use some auth provider with MFA support, and integrate it via OIDC.

[2021-09-02 16:33] hsimon-hashicorp commented on #11743
Since it's been a few months since there was last activity on this issue, I'll go ahead and close it now. If you have further bug reports, or more activity on this issue, please feel free to re-open it. Don't forget you can get help on our discuss forum, as well! https://discuss.hashicorp.com/c/vault/30

[2021-09-02 16:33] #11743 closed

[2021-09-02 16:35] hsimon-hashicorp commented on #11722
Hi @lawliet89 - have you had any luck with this? If you need assistance, please feel free to ping back and we'll help you out! Thanks!

[2021-09-02 16:36] hsimon-hashicorp commented on #11693
Since it's been a few months since there was last activity on this issue, I'll go ahead and close it now. If you have further bug reports, or more activity on this issue, please feel free to re-open it. Don't forget you can get help on our discuss forum, as well! https://discuss.hashicorp.com/c/vault/30

[2021-09-02 16:36] #11693 closed

[2021-09-02 16:36] hsimon-hashicorp commented on #11691
Since it's been a few months since there was last activity on this issue, I'll go ahead and close it now. If you have further bug reports, or more activity on this issue, please feel free to re-open it. Don't forget you can get help on our discuss forum, as well! https://discuss.hashicorp.com/c/vault/30

[2021-09-02 16:36] #11691 closed

[2021-09-02 16:40] hsimon-hashicorp commented on #11067
Since it's been a few months since there was last activity on this issue, I'll go ahead and close it now. If you have further bug reports, or more activity on this issue, please feel free to re-open it. Don't forget you can get help on our discuss forum, as well! https://discuss.hashicorp.com/c/vault/30

[2021-09-02 16:41] pmmukh commented on #12233
Hi @edevil ! Thanks for submitting this issue! I do agree that the documentation is probably a bit confusing and refers to the behavior prior to the PR you linked, and I'll keep this issue open till we get around to updating the docs. However, I don't think you should be using undocumented flags in your code, as the comment notes, this is a flag we use to facilitate testing, and not one that our u

[2021-09-02 16:42] hsimon-hashicorp commented on #10120
Since it's been a few months since there was last activity on this issue, I'll go ahead and close it now. If you have further bug reports, or more activity on this issue, please feel free to re-open it. Don't forget you can get help on our discuss forum, as well! https://discuss.hashicorp.com/c/vault/30

[2021-09-02 16:42] #10120 closed

[2021-09-02 17:42] pmmukh commented on #12397
Hi @tograla ! Thanks for submitting the issue! Looks like we actually did have this functionality supported, via the `vault read sys/auth/my-auth/tune` command, we have a PR open https://github.com/hashicorp/vault/pull/12479 to add this to the docs. Sorry about the confusion!

[2021-09-02 18:35] pmmukh commented on #12456
So the PR to update the go-limiter version has been merged in now, and I just verified that the binary does get built on darwin/amd64 with go.1.17. Although that's a different environment than specified here, I think the issue wasn't platform specific so that shouldn't be a problem. I'm going to go ahead and close out this issue, but if the problem persists feel free to reopen it!

[2021-09-02 18:35] #12456 closed

[2021-09-02 19:05] pmmukh commented on #10922
We don't really support building Vault from source, as that can often run into conflicts when importing both vault, along with the `api` and `sdk` modules, as you've run into here. We understand you may have your reasons to do this, but we don't offer much in the way of guarantees that this will work. As such, I'm going to go ahead and close this issue out.

[2021-09-02 19:05] #10922 closed

[2021-09-02 19:38] EvertonSA commented on #9663
@edward2a thanks for the input. I'm deploying using vault operator. It seems to be the same issue here. I will try to reapply and see what happens

[2021-09-02 19:58] hsimon-hashicorp commented on #12360
This appears to be a duplicate of: https://github.com/hashicorp/consul/issues/10876

If this is an implementation of Vault provided by Edgex, you may wish to direct your question to Edgex. Thanks!

[2021-09-02 19:58] #12360 closed

[2021-09-02 21:12] hsimon-hashicorp commented on #11810
@mahalrs were you able to get any progress made on this? Is there anything you need help with, or questions we can answer for you? Let us know if you're blocked.

[2021-09-02 21:15] hsimon-hashicorp commented on #11865
Hi @marcboudreau - any updates on this, or questions for @ncabatoff's feedback? Please let us know if we can help, or if your PR is ready for review and merging. Thanks! (Since the PR has been open for a while, you may wish to rebase it.)

[2021-09-02 21:18] hsimon-hashicorp commented on #11953
@Itiho When you say the alternative solution doesn't work, what behavior are you seeing? If you could let us know where we can focus our efforts to get this resolved, we'd appreciate it a lot. :)

Thanks!

[2021-09-02 21:22] hsimon-hashicorp commented on #11936
Hi @write0nly - following up on Nick's comment, was this work that you'd be interested in taking up and filing a PR for? Please let us know how we can help. Thanks!

[2021-09-02 21:40] hsimon-hashicorp commented on #12469
Hello @systemmonkey42! Just to make sure I understand, and that there isn't a separate proposal / fix already available, what kind of behavior would you expect to see in this scenario? What would the correct process look like for you here? Thanks in advance! :)

[2021-09-02 22:06] #11619 closed

[2021-09-02 22:41] gregfolker commented on #10922
Is it considered building from source if I'm just trying to import vault as a module into another project? The issue was reproducible by just running go get, no build/make commands are involved. If there's a correct way to import vault's 'api/' tree,

[2021-09-02 23:05] pmmukh commented on #10922
Ah sorry i misspoke there, no that is not considered building from source, but also yeah we don't really support people directly importing the vault module in their code ( ergo trying to run `go get github.com/hashicorp/vault@latest` ).

[2021-09-02 23:14] systemmonkey42 commented on #12469
Hi @hsimon-hashicorp
I was only considering SSH-CA role, where a role definition can currently include a "default_user" field which is used when the client does not specify "valid_principals" in the request.

Today, if I want users (or scripts) to request a signed ssh-cert, the "valid_principals" field is optional, but will result in an unusable certificate if not specified. (unusable in that I re

[2021-09-02 23:38] systemmonkey42 commented on #12469
A bit of digging points me to #7547 (identity propogation), but I can't tell if that resolves into a working PR I can safely test.

[2021-09-03 00:52] yhyakuna commented on #12397
@tograla The [doc](https://www.vaultproject.io/docs/commands/auth/tune) is updated now.  Thank you so much for your input.

[2021-09-03 00:52] #12397 closed

[2021-09-03 04:12] zerkms opened #12486 "Successful Renew token does not remove spinner"
**Describe the bug**

In the Vault UI 1.8.2 when you click the `Renew token` in the main menu - it shows the spinner. The problem is that the spinner spins forever even though the backend request successfully completed and returned HTTP 200.

**To Reproduce**
Steps to reproduce the behavior:

1. Open the UI
2. Open the browser dev tools
3. Open the main UI menu
4. Click the `Renew token`
5. See th

[2021-09-03 04:31] oliverjanik commented on #12334
You understand that I'm trying to white-list which external IPs are allowed to authenticate against an approle?

Are you saying that isn't supported? That seems like an oversight?

While-listing the LB does nothing for me.

[2021-09-03 09:08] cha7ri commented on #11067
We have a similar issue, we want to use the vpc endpoint to connect to the regional sts endpoint `sts.eu-north-1.amazonaws.com` instead of `sts.amazonaws.com`.
We set the aws auth config as below
[code]

but when I try to login I got this error
[code]

[2021-09-03 13:17] ncabatoff commented on #12469
This is jogging my memory now, thanks for digging up those old tickets.  I think when we were getting PRs to add templating they offered to include default_user in the scope, and I advised against it from the perspective of keeping the PR simpler.  Probably a mistake, in hindsight.  We're open to this change, but I'm not sure when we'll get around to it.  We'd welcome a PR, if you or anyone readin

[2021-09-03 14:52] gnugnug opened #12487 "Migration from file to raft fails for large indexes"
**Environment:**
* Vault Version: 1.8.1
* Operating System/Architecture: Linux 64-bit

**Background:**
We have a Vault instance using the _file_ storage backend. We want to migrate it to raft integrated storage. Therefor we performed the following steps:
[code]
Now we switch to node02, start Vault there and join it to the cluster:
[code]

**Problem:**
As soon as we unseal node02 is will start comm

[2021-09-03 17:03] tvoran commented on #11034
Along the lines of what @Chili-Man suggested, https://github.com/hashicorp/vault-k8s/pull/288 will be adding support for projected service account tokens, which can be mounted only on the vault-agent containers, and are periodically renewed.

[2021-09-03 17:54] pmmukh commented on #12233
I've removed the comment around immediate jwt auto-auth reauthentication from the docs, to reflect the current behavior. Closing this issue out as I don't think any further action is required at this time, if that seems wrong please feel free to reopen it!

[2021-09-03 17:57] Itiho commented on #11953
@hsimon-hashicorp I tried again, and again and again until I got

https://github.com/Itiho/hashicorp-vault/tree/main/deploy/kind

[2021-09-03 20:09] #12319 closed

[2021-09-03 20:18] hsimon-hashicorp commented on #11926
Thanks for confirming! I'll close this now - thanks for reporting it, too!

[2021-09-03 20:18] #11926 closed

[2021-09-03 20:48] hsimon-hashicorp commented on #12064
Fixed in https://github.com/hashicorp/vault/pull/12418

[2021-09-03 20:50] hsimon-hashicorp commented on #12012
@rjhornsby That sounds like a pain, to be sure. I'll keep an eye on this one, and please feel free to come along and bump it as you need.

[2021-09-03 21:06] hsimon-hashicorp commented on #11169
Hi folks, this issue looks like it's had a bit of "scope creep" associated with it - can we get a little clarification as to what the issue is currently? Thanks!

[2021-09-03 21:08] hsimon-hashicorp commented on #11574
@mgeggie Does this work when the Vault server is newly running? I'm curious about the 2-4 hours in your initial comment, especially as we look for potential repro steps.

[2021-09-05 09:31] TH3VenGeuR opened #12490 "Matching with ldap group containing "_" not working"
LDAP Groups containing "_" in the name are not working with vault 1.8.1 (maybe other, did not try)

**To Reproduce**
Steps to reproduce the behavior:
1. Configure vault to use ldap auth
2. Open syslog in order check user connection
3. Connect with a user which is in a group containing _ in the name
   => Confirm through logs that group list of the user only contains groups without "_"

**Expected

[2021-09-06 00:38] lawliet89 commented on #11722
Sorry, I've not had the time to implement this. If anyone wants to take it on, please feel free. I'll update if/when I implement something.

[2021-09-06 07:38] systemmonkey42 commented on #12469
I've started work on this, starting with converting all templating functions to return string slices.

This gives me scope to convert the various individual template expansions to return a single item (slice of one) or a list (eg, all group names, alias names).   Support for "splitting" a string on ',' is something I would want to think about. I like the idea of a metadata entry containing a comma

[2021-09-06 08:26] KaymeKaydex opened #12491 "Create pkcs12 decode certificate"
Now pkcs12 is unsupported by asn1 lib into go 1.17

[2021-09-06 10:02] Alvaro-Campesino opened #12492 "[Database Plugin] Impossible to return keytab checksum as password in v5"
**Describe the bug**
We developed our own database plugin for managing kerberos keytab creations for users, services and machines in our environment.

Under v4 plugin we were able to return the keytab to a user calling `creds/kerberos/role` and store it in a vault path. Making this calls idempotent (a user was able to ask several times about the password of single kerberos user)

Under v5 each tim

[2021-09-06 10:29] W1M0R opened #12493 "Allow VAULT_DEV_ROOT_TOKEN_ID/-dev-root-token-id to be specified from a file using @/tmp/root_token syntax"
**Is your feature request related to a problem? Please describe.**

When setting VAULT_DEV_ROOT_TOKEN_ID or -dev-root-token-id during `vault server -dev`, the root token can be retrieved by inspecting the process parameter list using `ps` or the process environment variables via `/proc/vault_pid/environ`.

**Describe the solution you'd like**
By allowing @-syntax for VAULT_DEV_ROOT_TOKEN_ID and -d

[2021-09-06 10:59] W1M0R opened #12494 "Allow configuration of ~/.vault-token path using an environment variable."
**Is your feature request related to a problem? Please describe.**
For 12-factor projects, it is common to set project-specific environment variables. If two 12-factor projects both use the vault cli to login to project-specific vault dev server instances, then they will each overwrite the ~/.vault-token of the other project.

**Describe the solution you'd like**
Having the vault cli respect a VAU

[2021-09-06 11:39] systemmonkey42 commented on #12494
I would like to have the option for the TOKEN be in to $XDG_CONFIG_HOME or in the current directory or any parent.

Having only a single tokens per account is a nightmare when you want a cron job or systemd task to run. but have its own specific credentials.

[2021-09-07 05:11] arjunagl commented on #11960
hi everyone, can I pick this up.

[2021-09-07 09:58] reegnz commented on #11034
@luizgn Did you consider using https://www.vaultproject.io/docs/auth/jwt instead of the kubernetes auth method?
The OpenID Connect discovery URL is now built into kubernetes, you just have to expose it so vault can query the well-known discovery URL for public keys. No secret keys need to be exchanged. No connectivity from vault to the cluster API is required to validate JWT tokens.

[2021-09-07 12:41] ncabatoff commented on #11960
That'd be great, thanks @arjunagl .

[2021-09-07 12:50] ncabatoff commented on #12493
Hi @W1M0R,

Thanks for the feature request.  I worry that there's been a misunderstanding: Vault in dev mode shouldn't be relied upon to secure any real secrets.  As such, there shouldn't be concerns around protecting the dev mode root token.

[2021-09-07 13:08] W1M0R commented on #12493
Thanks for your reply @ncabatoff.

Vault in dev mode is very useful for environments where a very short-lived vault session (up to 1 hour, typically less) is required for temporary secret storage. It makes for a very clean way of temporary holding real secrets in an encrypted memory space, without storing them on disk using various other technologies. Having the root token specified through a temp

[2021-09-07 13:32] ncabatoff commented on #12493
Secrets aren't stored encrypted in memory, but that's not specific to dev mode.  All the remainder are true.  Nonetheless, given the warnings in the CLI help and that I'm re-iterating, you should be very uncomfortable with the notion of using dev mode for prod.  We don't intend to facilitate that use case, and we may at any point introduce changes making dev mode less secure.  We want dev mode to

[2021-09-07 14:30] mgeggie commented on #11574
Hi @hsimon-hashicorp thanks for following up. Our only successful mitigation for this problem was to restart all of our Vault servers. After that our Vault leader was able to issue credentials again.

Another mitigation strategy we attempted was to restart the database plugin from the Vault API. That had no effect on functionality, and in fact, the API call never returned a HTTP return code, it ev

[2021-09-07 14:52] W1M0R commented on #12493
Thanks for the clarification @ncabatoff.

[2021-09-07 15:16] #12168 closed

[2021-09-07 15:55] awnumar commented on #12037
Hey 👋
Are there updates on this? It would be nice to be able to track progress in the open

[2021-09-07 16:03] AndyL4N commented on #6832
Hi, I got the same complications using traefik proxy with consul catalog. In case that we have to setup multiple middlewares or entrypoints this is not working. For example:
[code]
Here Consul will split last middleware to another tag
Of course, in consul terminology, this does not match the architecture. But the flexibility of the traefik-consul-kubernetes stack is very efficient. Is there some k

[2021-09-07 16:42] pmmukh commented on #12282
Sorry for the confusion, I don't think I'll actually get a chance to do this soon, but this should be a good issue for new community members, so I'll add the first issue label and see if someone picks it up.

[2021-09-07 17:32] gregfolker commented on #10922
Thank you for the quick response and clarification! If importing vault as a module is not officially supported I understand

[2021-09-07 18:40] #12254 closed

[2021-09-07 18:55] #12323 closed

[2021-09-07 19:03] adityagu0910 commented on #8522
Experiencing same after etcd periodic defragmentation.
I am using -                  Version: Vault v1.2.3

[2021-09-07 21:10] hsimon-hashicorp commented on #12491
@KaymeKaydex Can you provide more context and details around this issue report, please? It'll help us get this triaged and routed to the proper teams. Thanks! :)

[2021-09-07 21:18] hsimon-hashicorp commented on #11574
Hi! Can you provide information on the support case? I'm trying to more closely partner with the Vault support manager because so many of the issues we see cross those boundaries. It'll help us get more focus on these issues. Thanks so much! Feel free to email me - the first part of my GitHub username at hashicorp - with more details.

[2021-09-07 21:21] hsimon-hashicorp commented on #12469
Hi @systemmonkey42 and @ncabatoff if you have the institutional knowledge - what validate tests are we referring to, here? We do have automated CircleCI tests that run for PRs, but I want to make sure I understand the question before signing off on it. Thanks! :)

[2021-09-07 23:05] pmmukh commented on #12336
Hi @evilmog! Thanks for submitting this issue! Could you possibly give a smaller set of steps required to reproduce this issue ? The python script looks fairly large and complex, wondering if a few cli/api commands chained together could be used to recreate this issue. If not and everything done in the python script is necessary to recreate the bug, could you write down some details as to what is

[2021-09-07 23:31] evilmog commented on #12336
All the script does is configure the test vault to be exactly the same.

Upgrading our binary from 1.7.3 to 1.8.1 breaks user alias templating in
the ssh certificate allowed principals.

So to setup:

1: configure vault JWT authentication against your sso provider, make sure
it configures groups.

2: configure vault for ssh certificate issuance

3: configure a TLS cert secret

4: create an interna

[2021-09-07 23:39] pmmukh commented on #12336
ah perfect, having that broken down like that is super helpful for me, thank you!! Follow up questions on the script:
- What is the python version needed to run it?
- Beyond updating the redacted variables and starting up a dev mode vault server on 127.0.0.1:8200, should I need to do anything else to be able to reproduce this ?

[2021-09-08 00:24] evilmog commented on #12336
You may need to make your own JWT or setup keycloak as an OIDC provider to
issue you jwt's with groups

This should work on python 3.8 ish, it's super hacky and I should have down
terraform.

You will want to use a token that's not a root token issued from the JWT
sign on, you will want a group, we call our groups blueGroups but whatever
in the OIDC will populate the JWT SSO groups should work.

T

[2021-09-08 03:33] jrcasso commented on #10048
If you're installing Vault CLI via Hashicorp's installation instructions [here](https://learn.hashicorp.com/tutorials/vault/getting-started-install), you can instead add

[code]

to your Dockerfile after the `apt-get install` command.

[2021-09-08 06:13] arjunagl commented on #11960
/assign

[2021-09-08 06:13] arjunagl commented on #11960
@ncabatoff how do I assign the issue to my name.

[2021-09-08 07:16] heppu opened #12507 "Vendoring not working with //go:embed web_ui/*"
I tried to use main branch of vault as dependecy since it has the fix which is needed for Go 1.17 and that's when I found a new problem. When running go mod vendor Go will now try to copy also all files described with //go:embed directive. Since those files are not part of the vaults git repo vault cannot be vendored.

**To Reproduce**
[code]

**Expected behavior**
Running go mod vendor should wor

[2021-09-08 10:19] edevil commented on #12233
Hello @pmmukh.

Our use case is that we use auto-auth with JWT tokens. These JWT tokens have 60s of validity, and are written by an external component to the path vault agent is expecting every hour plus some splay. When vault agent uses the JWT to authenticate it obtains a session token that needs to be renewed every hour and has a lifetime of 8 hours.

If vault agent only reauthenticates when th

[2021-09-08 11:22] DaspawnW commented on #12321
I think there is a fix in 1.8.2 for it: https://github.com/hashicorp/vault/pull/12340

[2021-09-08 11:25] mchakrabarty opened #12509 "Getting errors in the vault auth in EKS"
Hi All,

We are using vault in our projects. But we are facin an issue with the vault. Our applications are using the vault properly but at the pods of vault we are getting this error.
Error:
2021-09-08T08:45:40.239Z [ERROR] auth.kubernetes.auth_kubernetes_7d5bd6ff: login unauthorized due to: lookup failed: [invalid bearer token, Token has been invalidated, unknown] 2021-09-08T08:46:10.636Z [INFO]

[2021-09-08 12:23] ncabatoff commented on #12469
I assume @systemmonkey42 is simply referring to the Go tests, the ones invoked by CircleCI for PRs as you say.

Yes, `make test` will run our tests, though that'll run every test we have, which is almost certainly overkill.  You probably only need to run the tests in `./builtin/logical/ssh` and `./vault` to test your changes.  I usually do that without using `make`, either in my IDE or with the CL

[2021-09-08 12:26] ncabatoff commented on #11960
@arjunagl We don't generally assign issues.  Just create a PR and reference the issue in your description.

[2021-09-08 13:21] rgevaert opened #12510 "approle doc on learning site has an error"
Hi,

The example https://learn.hashicorp.com/tutorials/vault/pattern-approle?in=vault/recommended-patterns#worker-spawns-job-runner-and-passes-wrapped-secretid for jenkins isn't correct.

when requesting a wrapped secret-id the json returned is:
[code]
So the code in the tutorial should be `jq -r '.wrap_info.token'` and not ` jq '.data.secret_id'`

[2021-09-08 14:40] aureliar8 commented on #11319
We got the same issue: after a connection loss to MariaDB, several nodes claimed they were the master.

[2021-09-08 17:16] pmmukh commented on #12290
@arusso  so after chatting with the team about maybe having the flow you ran into return an error, we've concluded that for now we'd like the keep the existing behavior as is. This is because in these cases, where an endpoint is given an invalid key ( in this case, @cn ), vault does not typically return an error. So changing this behavior to validate inputs would be a fairly large and breaking cha

[2021-09-08 17:16] #12290 closed

[2021-09-08 19:05] hsimon-hashicorp commented on #12507
As this is not a HashiCorp-supported method of using Vault, I will close this issue. If you would like to submit a PR to address this, we'd be happy to review it, but at this time, we will not be making these changes. Thanks for understanding.

[2021-09-08 19:05] #12507 closed

[2021-09-08 19:27] KaymeKaydex commented on #12491
my bad. I fixed my issue.

[2021-09-08 19:55] pmmukh commented on #12233
Hi @edevil ! Thank you for sharing your use case, it makes sense to us and we're currently discussing what the best way to achieve this would be, without reverting to the previous method that ran into issues ( i.e using the `enableReauthOnNewCredentials` flag ) . We'll get back to you once we have agreement on a way forward, in the meantime will reopen this issue.

[2021-09-08 22:25] maths22 opened #12520 "EC2 Auth Fails on Some Instances"
**Describe the bug**
EC2 Vault login fails with `failed to parse the BER encoded PKCS#7 signature: ber2der: Invalid BER format` for some instances

**To Reproduce**
Steps to reproduce the behavior:
1. Run `vault write -format=json "auth/aws/login" role="$role" pkcs7="$pkcs7" nonce="$nonce"`
2. Get the error from above

This only happens on a subset of ec2 instances (those that include a certificat

[2021-09-08 22:56] angelichorsey commented on #12334
FWIW, `req.Connection.RemoteAddr` isn't from `net/http`. It's a struct in vault code and represents `logical.Request`. In this case, `RemoteAddr` is just a string that is set. Normally I think it's set after processing the base `http.Request` struct. In any case, it is something that always must be processed by vault. The snippet below shows how it is set to one of the addresses in the XFF header.

[2021-09-08 23:47] aphorise commented on #9335
@greut I think this has since been resolved. Maybe you can confirm and close 👍

[2021-09-08 23:51] #9930 closed

[2021-09-08 23:56] aphorise commented on #9310
@thomasmitchell this is already fixed and I think it was released by 1.4.7 at the time. Maybe confirm & close? 👍

[2021-09-09 00:12] aphorise commented on #12490
@sbutler curious if you'd ever tried this?

[2021-09-09 00:19] thomasmitchell commented on #9310
can confirm it was fixed. 👍

[2021-09-09 00:19] #9310 closed

[2021-09-09 00:26] aphorise commented on #7612
May be directly related to: #12394

@manjeet-thadani - what was the outcome and did you proceed in some other way? - also what was your plugin? :smile:

[2021-09-09 03:55] systemmonkey42 commented on #12469
This is perfect.  The full test suite was taking a very long time and possibly not completing.   Running this command clearly shows the issues I was expecting.

Many thanks.

[2021-09-09 08:03] heppu commented on #12507
@hsimon-hashicorp  I have now created the PR so should we reopen this issue or should I create a new one?

[2021-09-09 15:39] #11953 closed

[2021-09-09 16:08] tvoran commented on #11953
Hi folks, we've added info for discovering the issuer here: https://www.vaultproject.io/docs/auth/kubernetes#discovering-the-service-account-issuer

[2021-09-09 20:18] #9335 closed

[2021-09-09 20:53] pmmukh commented on #12336
thanks for the additional details! I will try to repro this shortly keeping the advice in mind, let you know here if I run into any issues!

[2021-09-09 22:12] soeirosantos commented on #12214
+1 I'm having the same problem here and the odd behavior is easily reproducible.

[2021-09-10 01:00] evilmog commented on #12336
I am wondering if the required options changed in the JWT plugin, I noticed
this when I tried to change my number of token uses on the JWT endpoint, it
used to default to JWT in the JWT/OIDC options, I wonder if its not set it
if breaks.

I'm going to see if I can reload a vault from scratch and see if its fixed
that way rather than doing a straight upgrade.

On Thu, Sep 9, 2021 at 2:53 PM Pratyoy

[2021-09-10 07:04] Aravindpogu commented on #11746
Returning empty response for the api call -
[code]

[2021-09-10 10:22] sebastianreloaded commented on #6409
This is still not available?
It would be such a quality of of life improvement for setting up the server from an image.

[2021-09-10 11:19] Oro commented on #11953
As far as my tests go, the kubernetes auth with JWT works fine as long as the vault pod(s) are not deleted. Once the pods are deleted, login no longer works (until kubernetes auth config is written again)

Here are the steps to reproduce my issue, I hope that someone else can also chime in and confirm them (or, better, tell me what I'm doing wrong :) )

[code]

Up until here everything works fine,

[2021-09-10 13:53] ncabatoff commented on #10845
We went with the unauthenticated listener option to allow profiling without a token, in #11324.  This can be used for any node, including the leader, which addresses the problem described in this issue.

[2021-09-10 13:53] #10845 closed

[2021-09-10 14:39] aphorise commented on #7028
@astorath can you confirm if the merged changes already accommodate for what you were after within the latest 1.7.x or higher releases?

[2021-09-10 16:17] #12520 closed

[2021-09-10 16:18] hsimon-hashicorp commented on #12214
Hi folks! I've raised this with our engineering team, please hang tight while we review it. Appreciate your patience. :)

[2021-09-10 16:41] #11052 closed

[2021-09-10 18:17] hsimon-hashicorp commented on #12491
Hi! It's still a little confusing as to what your request is. Could you provide more context and details? Thanks!

[2021-09-10 18:23] hsimon-hashicorp commented on #11574
Received the requested information, will follow up the week of 9/13.

[2021-09-10 18:31] hsimon-hashicorp commented on #12109
Since this has been in waiting-for-response since July 29th, I'm going to close this issue at this time. Please feel free to re-open it if you think that it's needed. Thanks!

[2021-09-10 18:31] #12109 closed

[2021-09-10 18:39] hsimon-hashicorp commented on #11722
Thanks, @lawliet89 - I'll also check with our product owners to see about potentially roadmapping this ourselves. I can't make any guarantees, so please do feel free to still take a shot at it if you wish!

[2021-09-10 18:41] hsimon-hashicorp commented on #11882
Hi! Since this issue has been in waiting-for-response since July, I'm going to close this issue now. Please feel free to re-open it if you can provide the requested info. Thanks!

[2021-09-10 18:41] #11882 closed

[2021-09-10 18:55] hsimon-hashicorp commented on #11034
Since it looks like this has been addressed by the ecosystem team, I'm going to go ahead and close this issue. Please feel free to re-open if the solutions provided don't meet your needs. Thanks!

[2021-09-10 18:55] #11034 closed

[2021-09-10 18:56] pmmukh commented on #11683
I've marked the issue as `internal`, cause while we want to implement this in the future, we'd prefer to implement this internally as part of a broader effort to add pagination support to vault.

[2021-09-10 18:57] hsimon-hashicorp commented on #12490
@aphorise Did you mean to provide more information here?

[2021-09-10 19:03] hsimon-hashicorp commented on #12194
Thanks @adrianliechti - I'll check with the team to see if we can't get to the bottom of this.

[2021-09-10 19:41] hsimon-hashicorp commented on #12194
Hi @adrianliechti - first, this is a "community-supported" backend, meaning that developers in the community created and maintain it. Also, it would be good to see Vault logs and diagnostics from the time of the PostgresDB failure, including information about open connections to PostgresDB. Have you set max_idle_connections on your PostgresDB? If it's a non-zero number, you may be hitting a cap th

[2021-09-10 19:51] adrianliechti commented on #12194
@hsimon-hashicorp we really appreciate!

I will double-check the logs & recordings and ask my colleague to gather some more insights in the moment it happens.
As far as I know, it can be reproduced (or at least get the same issue) by simple stop/start the database instance in azure... So it should be easy to get this info on our dev environment too

elsewise we have to wait quite for some time (~

[2021-09-10 20:13] hsimon-hashicorp commented on #12194
Wow! Thanks for sharing that, awesome work for the meantime. I'll check back in periodically to see if you've been able to get that data - [vault debug](https://www.vaultproject.io/docs/commands/debug) in your dev environment might provide some clues too? You can run it against a running instance, but it'll throw some warnings about not being able to bind to the port (because it's already running)

[2021-09-10 21:06] hsimon-hashicorp commented on #12509
Hi @mchakrabarty - could you provide more details about your configuration and more logs? More data would help. Also, repro steps would be helpful as well. Thanks!

[2021-09-10 21:08] hsimon-hashicorp commented on #12225
Hi @tristanmorgan! We will be taking a look at this soon, however, please feel free to work on a PR and submit it for review too if this is an issue you might feel comfortable tackling. Thanks! :)

[2021-09-10 21:11] hsimon-hashicorp commented on #12227
Hi @rtfm98 - do you also have logs from the time when you're trying to revoke the certificates? Can you still see the certificates, and is there more diagnostic information that can be retrieved about their status? Thanks!

[2021-09-10 21:12] mickael-hc commented on #11444
Thanks for opening this issue @DtwoRtwo ! This appears to have been resolved by the PR you linked above, and was released in Vault 1.8.0. I’ll close the issue for now, but please don’t hesitate to comment/reopen if you are still experiencing issues in Vault 1.8.0 or above.

Quickly following up on the conversation above:

As alluded to by @hazcod above, keep in mind that adding `login@github.com`

[2021-09-10 21:12] #11444 closed

[2021-09-10 21:25] hsimon-hashicorp commented on #12280
This looks like it was fixed in the linked PR, and will be included in future Vault releases. Thanks!

[2021-09-10 21:25] #12280 closed

[2021-09-10 22:01] phemmer commented on #11683
Carrying on the discussion from https://github.com/hashicorp/vault/pull/12420#issuecomment-917135576 over here.

Pagination might help with this, but I can think of a few alternatives that could be simpler.
* A filter capability/parameter on the existing `auth/token/accessors` API. The API would still just return the accessors, but would only return ones that match the filter.
* A limit parameter.

[2021-09-10 22:26] pmmukh commented on #11683
Hi! Thanks for those suggestions, I definitely agree that the alternatives you've put out would be valid things to attempt, although they come with their own complexities, in my opinion. For the filter capability, that is something we're thinking of too, but we'd need to like maintain in memory indexes for faster lookups, else with a large number of tokens searching wouldn't be possilble, so there

[2021-09-10 22:45] hsimon-hashicorp commented on #12329
Hi @maxb! I spoke with our engineers, and they agree your proposed solution is the one they would also choose. Please feel free to tackle this, and submit a PR and link it to this issue. (Anything with a label of `good-first-issue` is one where we welcome community contributions!) I apologize about the delay in getting back to you, and if you have any questions, please feel free to let me know. :)

[2021-09-10 22:47] hsimon-hashicorp commented on #12060
Hi folks! Any issue with a `good-first-issue` label is one where we particularly encourage community contributions, so please feel free to take a stab at implementing this if you wish.

[2021-09-11 04:19] maxb commented on #12329
Thanks, I will raise with my employer whether I can sign the CLA as an individual contributor, or the company needs to sign it. This might take a little while - if anyone else wants to take the idea and run with it in the meantime, that's fine too!

[2021-09-11 04:19] maxb commented on #12283
Thanks, I will raise with my employer whether I can sign the CLA as an individual contributor, or the company needs to sign it. This might take a little while - if anyone else wants to take the idea and run with it in the meantime, that's fine too!

[2021-09-11 04:20] maxb commented on #12282
Thanks, I will raise with my employer whether I can sign the CLA as an individual contributor, or the company needs to sign it. This might take a little while - if anyone else wants to take the idea and run with it in the meantime, that's fine too!

[2021-09-11 05:25] rageshkrishna opened #12536 "Vault CLI always hangs for a few seconds on Windows"
**Describe the bug**
Running any vault command in Windows is delayed almost 10 seconds before anything happens. This is true even if run `vault --version`

**To Reproduce**
Steps to reproduce the behavior:
1. Run `vault --version`
2. Wait for ~10 seconds
3. See the output

**Expected behavior**
There shouldn't be a 10 second delay.

**Environment:**
* Vault Server Version (retrieve with `vault sta

[2021-09-11 10:27] aphorise commented on #12536
@rageshkrishna this is likely something specific to your machine - more so if you've not made a comparisons relative to some other systems running the same version. What's more the likelihood of it of it being specific to your system is even more so if you're experiencing the same sort of slowness with all other versions of vault.

For example on my system using PowerShell Prompt (you also didn't

[2021-09-11 10:46] aphorise commented on #12490
@hsimon-hashicorp - I was wondering if this was ever tested - I dont have an LDAP setup otherwise I could give it a try.

@TH3VenGeuR - do you have a ldiff file you can attach for a set of users / groups that I can apply to mock the LDAP setup you'd tested?

[2021-09-12 02:57] dgershman commented on #8754
+1

[2021-09-12 04:28] rageshkrishna commented on #12536
Thanks for the pointers, @aphorise. Here's some more information if it helps:

1. Client 1: Windows 11 (Version 21H2 Build 22000.184), running Vault CLI 64-bit 1.8.2 (aca76f) in `cmd` inside Windows Sandbox to rule out any other tooling conflicts
2. Client 2: Windows 10 (Version 21H1 Build 19043.1165), running Vault CLI 64-bit 1.8.1 (4b0264) in Powershell 7.1.4

The delay on both of these machines

[2021-09-13 13:35] spanarek commented on #11960
Hello, I have a problem with openshift router.

We are using certmanager to provide certificates to the default ingress controller in OpenShift. Openshift converted the secret to a pem file with no newline between certificate and key.

As a result, we got the following error:
[ALERT] 138/102043 (22) : parsing [/var/lib/haproxy/conf/haproxy.config:117] : 'bind 127.0.0.1:10444' : unable to load SSL

[2021-09-13 14:45] betandr opened #12537 "Support CORS Credentials"
We have a client to Vault which uses MTLS with a certificate to authenticate a user. We'd like to use this client with Vault although need an extra CORS header of `Access-Control-Allow-Credentials`.

The proposal is to add this header to the `http` package in the `http/cors.go`, such as:

[code]

...where `credentials` would be true. Currently the `Access-Control-Allow-Origin` header value is true

[2021-09-13 21:02] hsimon-hashicorp commented on #12537
Hi @betandr! If you'd like to file a PR for us to review, we'd be happy to do so! Thank you so much for volunteering. :)

[2021-09-13 21:12] hsimon-hashicorp commented on #12486
Hi! Thanks for the bug report. This has been fixed in 1.8 and will be backported to 1.7. Appreciate the effort!

[2021-09-13 21:12] #12486 closed

[2021-09-14 07:13] AndrewSav commented on #12536
In golang the `init` functions are run before the program run. Each dependency of a project and dependency of dependency and so on can have those init functions. If one runs away we have a slow down. In this particular case it is caused by the [aerospike go client](https://github.com/aerospike/aerospike-client-go/blob/22089645cc0a6764c0b34f50dab91b369e79e0f9/types/rand/xor_shift128.go#L36) combine

[2021-09-14 10:37] rageshkrishna commented on #12536
Thanks @AndrewSav. I can confirm that this is indeed the issue for me:

[code]

I'll keep this issue open until I can verify the fix with the 1.9 release.

[2021-09-14 12:34] olafz opened #12545 "Migrate to use Microsoft Authentication Library and Microsoft Graph API"
Vault dynamic secrets currently uses the older Azure Active Directory Graph API to setup and create dynamic Azure secrets.

Starting, June 30th, 2020, Microsoft stopped development on this API and will no longer add any new features to Azure AD Graph.

Starting June 30th, 2022, Microsoft will end support for Azure AD Graph and will no longer provide technical support or security updates. Apps usin

[2021-09-14 14:12] TH3VenGeuR commented on #12490
I just checked and, sorry,  freeipa does not provide ldiff file :( How can i give you more information ? maybe explain the ldap scheme ?

[2021-09-14 16:31] thomasgouveia commented on #11953
Hello @Oro, any update on this ? I'm facing the same problem, and I didn't find a solution right now

[2021-09-14 16:50] MrEcco commented on #7912
I found the short solution for the bug. You can create wrapper script for the case and integrate it into the `ansible.cfg`:
[code]

The script itself:
[code]

Enjoy with it :)

[2021-09-14 17:38] pmmukh commented on #10943
Hi @nvx ! Thanks for submitting this issue! We discussed this internally, and this is certainly a change that seems valid to us. I think implementing this along the lines of how `allowed_domains` is templated in the PKI secrets engine as you've suggested is the way we want to go too. We may not get around to implementing this soon, but I'm marking it as open for contributions, so you or anyone els

[2021-09-14 17:57] ncabatoff commented on #11949
Since we don't like the idea of doing "probes" (fake audit records) to discover the state of the audit device, here's what we're left with in terms of a plan:

1. Use a circuit breaker around audit writes: after enough failures over a given period has occurred, make the vault health endpoint return a non-healthy state.  Using a circuit breaker will help reduce flapping due to occasional failures.

[2021-09-14 20:22] aphorise commented on #12490
I believe all the related functionality is provided in: [sdk/helper/ldaputil](https://github.com/hashicorp/vault/tree/main/sdk/helper/ldaputil) - there's also [EscapeLDAPValue](https://github.com/hashicorp/vault/blob/main/sdk/helper/ldaputil/client.go#L391) however I dont see `_` underscore in the list.

@TH3VenGeuR - are you able to use: [osixia/docker-openldap](https://github.com/osixia/docker-o

[2021-09-14 21:51] tvoran commented on #11953
Hi @Oro, this question would be a better fit in the [discuss forums](https://discuss.hashicorp.com/).

[2021-09-15 01:52] nvx commented on #10943
Sounds good. I'm going to focus on updating PR#7277 first, but once that's merged I'll definitely move on to this one next!

[2021-09-15 09:49] findmyname666 opened #12556 "vault/api token renew endpoint"
Hello,
I noticed nonconformity between Vault DOC and Vault API client.
This issue focuses on renew endpoint for tokens - **/auth/token/renew**.

1) The [DOC](https://www.vaultproject.io/api/auth/token#renew-a-token) says that client should do **POST** request with some increment. Increment can be of string type e.g. you can probably use value such **1h** as parsed by time.Duration.

2) The [golang

[2021-09-15 10:23] Oro commented on #11953
Added the comment to https://discuss.hashicorp.com/t/after-upgrading-to-kubernetes-1-21-kubernetes-authentication-request-to-vault-fails-with-permission-denied/29392 , thanks for the pointer

[2021-09-15 10:38] mrkeuz commented on #9316
@ncabatoff Do I understand correctly that there is ABSOLUTELY NO a method unseal of `autounseal` configured server? Even if you have all "recovery_keys" and "root_token"? I mean if "cross" sealed servers down you lost all data?

What if export and backup `autounseal` key and then setup some "emergency" server with same key for recovery? It will be work?

[2021-09-15 11:12] ichasco-heytrade commented on #10026
My workaround has been to change `revocation_statements` adding:
[code]

But I don't like it because I can't revoke them now from vault. I have to wait until the db user expires

[2021-09-15 12:43] longkai opened #12558 "Backup key api with JWK format"
**Is your feature request related to a problem? Please describe.**
No.

**Describe the solution you'd like**
There is a [backup Key](https://www.vaultproject.io/api-docs/secret/transit#backup-key) in current transit engine api which marshals a `KeyEntry` [struct](https://github.com/hashicorp/vault/blob/d341378c6353a9e0f776ca024215ea11be8672df/sdk/helper/keysutil/policy.go#L167).

It's works well w

[2021-09-15 15:57] tfpereira commented on #5362
+1

[2021-09-15 16:21] jynolen opened #12562 "Add the LIST operation on /sys/policies/password to be able to list all password policies"
**Is your feature request related to a problem? Please describe.**
Right now with /sys/policies/password endpoint it is possible to create/update/delete and generate a password but it's not possible to list all password policies.
So it's not possible to generate a backup of those if needed

**Describe the solution you'd like**
Add a LIST method on /sys/policies/password

[2021-09-15 16:56] pmmukh commented on #10943
sounds great, and thanks!! :)

[2021-09-15 20:57] pmmukh commented on #11798
Hi all! Thanks for submitting this issue, and figuring out the root cause for it!
For the use case of multiple secretIDs on the same role with access to different paths, that is actually not really supported, in the sense that one RoleID is expected to correspond to one entity and one entity alias. The use cases mentioned here, we do think is a bit of an anti-pattern, as different secret paths sho

[2021-09-15 23:01] madhavilosetty-intel commented on #10631
I am trying to generate a root CA through API , specified "Not before duration" to set the backdate for certificate valid from date. It didn't work for me.  Also, "Not before duration" option is not mentioned in the API documentation of [Generate Root](https://www.vaultproject.io/api/secret/pki#generate-root)
Please clarify.

URL: http://localhost:8200/v1/root-ca/root/generate/internal
[code]

[2021-09-15 23:02] pmmukh commented on #12556
Hi @findmyname666 ! Thanks for filing this issue! You are correct, there is indeed a discrepancy between the docs and the API, the API accepts an integer input, like how the client library works. Also yes, after looking at the code I too think `This increment may be ignored.` applies to periodic tokens, and that the current wording is not very clear about that. I'll update the docs with both chang

[2021-09-15 23:13] pmmukh commented on #12336
Sorry, I haven't gotten around to doing a repro of this yet, but just wanted to check, did the things you were planning to try in your last message end up resolving this or shedding any more light on it ?

[2021-09-15 23:46] pmmukh commented on #12556
Ah this is actually because both go's time.Duration strings, and integer representing seconds, are valid inputs here, based on this input type https://github.com/hashicorp/vault/blob/main/sdk/framework/field_type.go#L16, I'll update the docs to be clearer on that.

[2021-09-16 00:11] evilmog commented on #12336
I haven't managed to get things going, I'll have to try a full from scratch
rebuild so see if I can get this to reproduce

On Wed, Sep 15, 2021 at 5:13 PM Pratyoy Mukhopadhyay <
***@***.***> wrote:

[2021-09-16 01:11] nvx commented on #11798
If https://github.com/hashicorp/vault/pull/10682 is merged, then the secret-id metadata could simply be added to the token metadata and then used in identity templating via that mechanism.

Single approle multiple secret ids makes sense logically as a easy way to group N servers in X role. This is especially useful for clustered services where you may have a lot of instances of what's effectively

[2021-09-16 02:44] nvx opened #12566 "Vault agent DoS's the vault server if template command fails"
**Describe the bug**
Running a vault agent with a command that returns a non-zero error code results in the template being restarted immediately with no back-off or retry delay. This results in many requests to the Vault server in quick succession which can cause a Vault outage due to resource exhaustion.

**To Reproduce**
1. Setup Vault agent with a template stanza containing a command that fails

[2021-09-16 05:53] arjunagl commented on #11960
I'm currently working on this, but I am sorry I cannot give you an exact time since I work on this during my spare time and I'm new to the project and code.

[2021-09-16 09:50] findmyname666 commented on #12556
@pmmukh thx a lot.

[2021-09-16 11:25] reegnz opened #12568 "Vault client should use AWS-SDK default credential chain when using AWS auth method in iam mode"
**Is your feature request related to a problem? Please describe.**
I have tried vault with multiple credential retrieval methods that the AWS SDK natively supports, namely:
1. ~/.aws/config with source_profile + using the AWS_PROFILE environment variable -> doesn't work
2. using ~/.aws/config with 'credential_process' -> doesn't work
3. looking at the code ECS container credentials would also not

[2021-09-16 12:13] firstdorsal opened #12569 "Vault CORS policy is not loaded on startup but after vault was sealed manually"
I configured CORS with the http api under: http://127.0.0.1:8200/v1/sys/config/cors and set  "allowed_origins": "*".
This works like a charm until vault is restarted:

1. Not great but consistent/explainable:
**Vault is (re)started and therefore sealed => CORS headers are not sent**
i assume that the config could not be loaded as it is encrypted until unsealed.
in my opinion this should be part of

[2021-09-16 17:47] #12173 closed

[2021-09-16 19:06] arnav28 commented on #12009
Hi @sirjobzy
We have fixed the issue and it will be available in 1.7.5 version. Thanks :)

[2021-09-16 19:06] #12009 closed

[2021-09-16 19:51] pmmukh commented on #11853
Hi! Thanks for submitting this feature request! After looking through it and the corresponding PR, we don't think this is something we want to handle at this time. There is certainly some validity here, moving the kv_helpers.go file into a layer where both the command and api modules can access it easily, is something we're interested in. However, we don't think moving it directly into the api mod

[2021-09-16 23:15] pmmukh commented on #11798
Hi @nvx ! Thanks for the detailed explanation of use cases, its super valuable as we figure out how to solve for this!
For the usage of Approles, I believe we are aligned in how they should be distributed, as in 1 application  should have 1 role-id, with each server instance having a separate secret-id. And that the role-id i.e the application should control the priveleges of all the servers of th

[2021-09-16 23:50] nvx commented on #11798
Identity templating can be used in other places than request URLs, but the case that stands out for me where you would want it in a request URL would be when storing per-server secrets in Vault (often clustered servers have the same sets of secrets across all servers, but some things for eg sidecar services that run on the host for other management purposes/etc than the actual clustered applicatio

[2021-09-16 23:54] #12556 closed

[2021-09-16 23:58] pmmukh commented on #12556
I updated the docs to be clearer around when the increment might be ignored, and how the string input is provided. I didn't update the datatype in the docs though, cause while the field can be either string or integer, we'd like only one option in our external docs, so as long as we're saying it's a string everywhere, that should be fine.

[2021-09-17 01:59] pmmukh commented on #11798
Aha sidecar services is an interesting pattern, and one I didn't think about, I can see how secretid metadata templating would be useful to solve problems with that, will be sure to keep this in mind as we think about this!

[2021-09-17 02:02] dezanewoods3 commented on #12178
``https://github.com/hashicorp/vault/issues/12178#issue-953975842

[2021-09-17 15:38] nawarajshahi commented on #11089
I had a very similar situation with job successfully running the task but failing to gracefully terminate the agent. However, I was able to have job terminate the agent container by adding the following along with all other annotations.
[code]
Hopefully this helps!

[2021-09-17 15:57] zishanj opened #12575 "TOTP get expire before period"
I have set the period to 900 (15 mins) and skew to 1 but the generated TOTP code get expires before it. Am I doing something wrong?

[2021-09-17 16:55] pmmukh commented on #9914
Closed by https://github.com/hashicorp/vault/pull/12253

[2021-09-17 16:55] #9914 closed

[2021-09-17 16:55] mickael-hc commented on #12537
Thanks for opening this issue. Once the changes in https://github.com/hashicorp/vault/pull/12485 are released, it will be possible to set headers in the configuration file, including `Access-Control-Allow-Credentials` . Release is tentatively scheduled for Vault 1.9.0

[2021-09-17 19:46] canadianakin opened #12576 "Vault UI not displaying any internal components"
**Describe the bug**
I am running a single node of Vault using Raft storage to test using an NGINX reverse proxy. When logging in to the UI, using the root token, no content is displayed, not even the cubbyhole. In the UI terminal executing the command `vault read /sys/mounts` returns my cubbyhole and other secret engines I've created.
![image](https://user-images.githubusercontent.com/17092060/13

[2021-09-17 23:34] TMFEspresso opened #12579 "Vault runs with the default listener of 127.0.0.1, but Docker requires that applications inside containers listen on 0.0.0.0"
**Describe the bug**
The only way to run `vault login -method=oidc` from inside a container is to specify the `listenaddress` parameter to be `0.0.0.0`.

**To Reproduce**
If you try to run the following:

[code]

And then you paste the resulting redirect url into your browser, you will get a 404.

This is because vault as an application is listening on 127.0.0.1 from inside the container. [Docker

[2021-09-17 23:35] TMFEspresso commented on #12579
Ahhhh I posted this in the wrong area. Moving to docker-vault.

[2021-09-17 23:35] #12579 closed

[2021-09-18 07:19] HarryKodden commented on #6687
I have same request as @bentcoder please provide update

[2021-09-18 20:58] bmanisha-92 opened #12580 "Error: Configuring Oracle Database Plugin for Vault"
Hi Team,

We are exploring the opportunity of using HashiCorp Vault to rotate the credentials of DB Users.

Used the following link as reference for doing the POC
https://support.hashicorp.com/hc/en-us/articles/360021245994-Enabling-Oracle-Database-Secrets-Engine

As part of the POC,

1. Installed Docker version 20.10.8 on MacOS Big Sur Version 11.5.2
2.  Running Oracle 12.2.0.1 inside the docker

[2021-09-20 12:11] aram535 opened #12583 "Writing a cert to pki returns a 204 and no cert is added"
**Describe the bug**
I'm migrating our PKI infrastructure into Vault, writing the root CA into the PKI engine produces no error but the cert is not added.

**To Reproduce**
Steps to reproduce the behavior: (using root token)
CLI:
1. Mount PKI as pki-root-ca
2. prepare payload.json ((includes both parts of the certs)) as a JSON with key: pem_bundle:
[code]
3. curl-v -H "X-Vault-Token: $VAULT_TOKEN"

[2021-09-20 13:55] kBite opened #12584 "Systemd Unit file still uses 'StartLimitIntervalSec' in 'Service' section (Vault 1.8.2 / CentOS 8)"
**Describe the bug**
Systemd Unit file still uses `StartLimitIntervalSec` in 'service' section (Vault 1.8.2 / CentOS 8)

[code]

This is also present here: https://learn.hashicorp.com/tutorials/vault/deployment-guide

**To Reproduce**
Steps to reproduce the behavior:

- Install `vault` from Hashicorp repository

**Expected behavior**

Remove `StartLimitIntervalSec` from service file (and related d

[2021-09-20 15:03] tep commented on #9213
Hey @ncabatoff,  The original PR for this was old and crufty so it's been closed and replaced with #12581.  Let me know soonest if there's anything else you need from me.

[2021-09-20 22:31] amoravek opened #12589 "Error writing data to identity/entity"
**Describe the bug**
The command:

vault write identity/entity name="bob-smith" policies="base"  metadata=organization="ACME Inc." metadata=team="QA"

shuts down a fresh vault installation deployed via Helm chart (hashicorp/vault v0.15.0) on ARM64 Kubernetes cluster.

**To Reproduce**
Steps to reproduce the behavior:
1. Install vault on ARM64 hardware
2. unseal and login using root token
3. Run: v

[2021-09-20 22:46] amoravek commented on #12589
...tried the same steps also in DEV mode. Result was the same.

[2021-09-20 23:54] guodongli-google opened #12590 "Report a bug that mutates a not-used copy of a struct."
**Describe the bug**
A clear and concise description of what the bug is.

At: https://github.com/hashicorp/vault/blob/main/command/server/config.go#L530

"v" is of type "[]token.Pos" whose elements will be copied by value since "token.Pos" is a struct. Here "p" is a copy that is not used elsewhere, and mutating it doesn't do anything to the original slice "v". As a consequence, this mutation has n

[2021-09-21 08:07] DaspawnW commented on #12336
Hi guys,

in my opinion its not even required to go via the JWT or OIDC option. We discovered the same bug and it seems an allowed_common_name with the mail address as value is already enough to break it.

## Working scenario on HC Vault 1.7.3:

[code]

## Not working scenario on HC Vault 1.8.2:

[code]

[2021-09-21 11:42] secretlyvogon opened #12591 "EC2 instance is unable to login to vault using pkcs7"
**Describe the bug**
I have set up my vault server with EC2 login as suggested in the docs [here](https://registry.terraform.io/modules/hashicorp/vault/aws/latest/examples/vault-ec2-auth). I use the curl request to login to Vault but I get the following response:
[code]
I tried the login with vault CLI from the instance where the server was hosted using the role and pkcs7 and it was successful. HT

[2021-09-21 12:16] ncabatoff commented on #12589
Hi @amoravek,

Are you sure about the version?  We fixed this issue when it was reported as https://github.com/hashicorp/vault/issues/12368, and the fix should be present in 1.8.2.  Also, the logs you attach show v1.8.1 was the version that panicked.

[2021-09-21 12:19] #11277 closed

[2021-09-21 15:03] amoravek commented on #12589
You are right - I've found out that the 1.8.2 upgrade was automatically rolled-back by my ArgoCD instance configured to automated sync policy  (without me noticing). I've tried to install the newest helm chart 0.16.0 with vault 1.8.2 and the problem is gone. So the 1.8.2 version fixed it for me. Sorry about that.

[2021-09-21 15:03] #12589 closed

[2021-09-21 15:27] pmmukh commented on #3756
Closed by https://github.com/hashicorp/vault/pull/7277

[2021-09-21 15:27] #3756 closed

[2021-09-21 15:40] pmmukh commented on #12336
Thanks so much for the repro steps @DaspawnW , can confirm that I just tried those, and was able to repro the problem on 1.8x and see that it doesn't exist in 1.7x.

[2021-09-21 16:53] #12225 closed

[2021-09-21 16:59] fnbk commented on #9631
+1

[2021-09-21 17:52] hsimon-hashicorp commented on #12575
Hi! Can you please provide your config, logs, etc? Also, please feel free to ask for help in our [Discuss](https://discuss.hashicorp.com/c/vault/30) forums, as GitHub issues are primarily for bugs. Thanks!

[2021-09-21 19:27] hsimon-hashicorp commented on #12226
Hi @HiranChaudhuri - please check out the reply from @aphorise and let us know if you have more details for us. Thanks!

[2021-09-21 19:59] aram535 commented on #12583
@tdrip I checked the payload file and the "pem_bundle" key's value with: "-----BEGIN RSA PRIVATE KEY-----\n ... -----END RSA PRIVATE KEY-----\n-----BEGIN CERTIFICATE-----\n .... -----END CERTIFICATE-----"

[2021-09-21 20:04] aram535 commented on #12583
BTW, I have also tried using PUT to make sure, same result, 204 no content.

[2021-09-21 21:10] impl opened #12601 "Deadlock on HA leadership transfer when standby was actively forwarding a request"
**Describe the bug**

A deadlock can occur between the `stateLock` and `requestForwardingConnectionLock` of the standby core when assuming HA leadership while actively forwarding a request. In particular, the following goroutines will hang indefinitely:

[code]

**To Reproduce**

1. Make a storage request using the standby that requires request forwarding and takes some time (might be easiest to u

[2021-09-22 03:01] zishanj commented on #12575
I thought this is a bug because it should have work out of the box but unfortunately it does not. I have checked the huge log but there is no error related to TOTP.

[2021-09-22 03:06] skhilar commented on #12157
I have done the changes in my branch. Please have a look.

https://github.com/skhilar/vault/tree/vault_device_cert_feature

[2021-09-22 03:57] viralblogs opened #12607 "Hi"
**Describe the bug**
A clear and concise description of what the bug is.

**To Reproduce**
Steps to reproduce the behavior:
1. Run `vault write ...`
2. Run `vault login....`
3. See error

**Expected behavior**
A clear and concise description of what you expected to happen.

**Environment:**
* Vault Server Version (retrieve with `vault status`):
* Vault CLI Version (retrieve with `vault version`):

[2021-09-22 10:18] sabarisankarj opened #12609 "Oracle database plugin breaks with vault versions above 1.7.2"
**Describe the bug**
Oracle database plugin breaks with vault versions above 1.7.2

**To Reproduce**
Steps to reproduce the behavior:
1. vault read database/creds/my-role
2. Internal Error
Error 500
1 error occurred: *unable to create database instance: invalid database version: 2 errors occurred: * error verifying checksum: open /etc/vault/plugins/vault-plugin-database-oracle: permission denied *

[2021-09-22 10:19] Himura2la commented on #1507
Vault 1.8.2 @ Firefox 93

The favicon loads form `https://vault.our.domain/ui/favicon-c02e22ca67f83a0fb6f2fd265074910a.png` and shows in tab, but the bookmark remains without icon.

The Nomad and Consul icons are ok...

[2021-09-22 10:30] jonwilliams84 commented on #11030
Do we have any updates to this enhancement - we are also experiencing this issue and as it stands it makes vault-agent unfit for purpose (as our app cannot be restarted every 2 minutes!)

For the time being I may need to resort to a cron'd vault write to obtain certs, keys and CA...which is less than ideal.

[2021-09-22 11:54] ncabatoff commented on #12601
Nice find, and thanks for the really great bug report.  Concise yet contains everything we could ask for.

I think the fix is easy, but I'm not going to PR it because we should repro this ourselves so we can make sure this solves it, and I haven't the time myself right now.  We'll make sure someone gets to this soon, hopefully in time for the next minor release.

Proposed fix:
[code]

[2021-09-22 12:12] con-f-use opened #12610 "Read ldap and other auth methods password from stdin"
I'd like to be able to use password managers for the LDAP auth method:

[code]

[2021-09-22 13:51] rdavyd commented on #9663
I'm having the same issue. It has started after upgrading of kubernetes from 1.20 to 1.21

[2021-09-22 14:01] davidducros opened #12613 "Ability to override http_proxy/https_proxy to reach Vault"
**Is your feature request related to a problem? Please describe.**

I work in an enterprise where different multiple http proxies are involved in connecting to different services. Specifically one proxy for accessing the internet (for access to AWS/GCP/Azure etc) and one for accessing security resources like our instance of HashiCorp Vault.

**Describe the solution you'd like**

I would like the a

[2021-09-22 16:51] tdrip commented on #12583
Please try this:  "pem_bundle" key's value with: "-----BEGIN CERTIFICATE-----\n .... -----END CERTIFICATE-----\n-----BEGIN RSA PRIVATE KEY-----\n ... -----END RSA PRIVATE KEY-----"

[2021-09-22 17:22] aram535 commented on #12583
Sorry I mis-understood your initial post, I switched the order so the bundle is now cert then key.
No difference in output though, 204 no content, and no cert was added to pki-root-ca

[2021-09-22 18:17] #12576 closed

[2021-09-22 19:43] hsimon-hashicorp commented on #12591
Hi @secretlyvogon! Can you provide us with a copy of your curl command, perhaps with a -v switch for extra verbosity? It'd be helpful to see what's being attempted and what's being provided back. Thanks!

[2021-09-22 19:55] hsimon-hashicorp commented on #12580
Can you verify that your Oracle instance in the container is working properly? It seems to be unable to execute the process when you try to connect / launch. Thanks!

[2021-09-22 19:57] hsimon-hashicorp commented on #12321
Thanks @DaspawnW! I'm going to go ahead and close this issue now, but if it's not resolved for you in 1.8.2, please feel free to reopen it. Thanks!

[2021-09-22 19:57] #12321 closed

[2021-09-22 20:32] pmmukh commented on #12220
Hey @prbinu ! Thanks for submitting this issue! We plan to take a look at this sometime soon, in the meanwhile could you maybe add more explicit instructions for the bug repro ? The problem seems clear enough, but figuring out the exact sequence of instructions to get to there is always a little tricky, so a more detailed repro (as in, a clear sequence of cli commands if possible) would be great!

[2021-09-22 20:46] HiranChaudhuri commented on #12226
I am referring to this tooltip:
![Screenshot from 2021-09-22 22-43-51](https://user-images.githubusercontent.com/6866487/134419273-0f04a794-5b9c-4e4c-a392-c461df617343.png)

I took this from Vault 1.8.2.

[2021-09-22 21:44] fmeringdal opened #12616 "Docs"
**Describe the bug**
In https://github.com/hashicorp/vault/blob/main/website/content/docs/concepts/seal.mdx the docs states:

But here https://learn.hashicorp.com/tutorials/vault/rekeying-and-rotating?in=vault/operations it states:

I believe these are contradictory statements and that the latter statement is correct, but I could be wrong. I am sorry if I have misunderstood something...

[2021-09-22 22:11] vikramchhibber commented on #11006
Hi,

Do we have any update on this? My certificate is getting signed using ecdsa-with-SHA256 and I don't know how to set it to ecdsa-with-SHA384.

The intermediate certificate that I have written to vault is using ecdsa-with-SHA384.

I am using vault version 1.8.0.

Thanks

[2021-09-22 22:16] con-f-use commented on #12610
Sorry for not being clearer. Basically I'm looking for a way to provide the vault-cli with a password, without manually entering one when asked. I.e. instead of:

[code]

I want something like:

[code]

or

[code]

That is do say, provide the vault-cli with an ldap login password taken from the output of an external tool (password manager).

[2021-09-22 22:20] con-f-use commented on #12610
...but I think I was just confused and this works:

[code]

[2021-09-22 22:20] #12610 closed

[2021-09-22 22:24] hsimon-hashicorp commented on #12610
That's great information, thanks! I'll make a note to check with our documentation team to see if this can be included and/or made more clear for other users. Really appreciate it!

[2021-09-22 22:30] con-f-use commented on #12610
Thanks, that's already a level of effort not usually found.

[2021-09-22 22:35] con-f-use commented on #12610
My initial guess of
[code]
was already really close, just the error message threw me off of the actual solution:
[code]

[2021-09-22 22:43] calvn commented on #11030
We released a feature on Agent not too long ago called [persistent cache](https://www.vaultproject.io/docs/agent/caching/persistent-caches/kubernetes) that satisfies this exact workflow on Kubernetes for transferring state between Agent init and sidecar containers. We're looking into extending this capability to work beyond Kubernetes, but we don't have a precise timeline to share at the moment. T

[2021-09-22 22:44] con-f-use commented on #12610
I would have understood instantly, had it said something like " method ldap requires key value pair: 'password', got 'W...' " or "got invalid data reading from stdin" or "invalid json, expecting password from stdin". Something like that.

[2021-09-22 23:00] AlexeyFed commented on #11030
Yes, thanks for the link, however that’s the first thing that comes up when you look for that feature. I don’t use Kubernetes as I don’t want to become another Kubernetes horror story, would be good if this worked with Vault natively and Nomad as well.

[2021-09-22 23:19] calvn commented on #11030
That's totally reasonable, and we'd love to be able to support this for workflows outside of Kubernetes as well. We focused on Kubernetes upon initial release of the feature given the constraints and reported use case from our customers back then, but this thread certainly helps with raising awareness on bringing general support for persistent caching.

[2021-09-23 09:46] kamikazechaser opened #12618 "Wrong base64 unseal key returns 200 when unsealing the vault"
**Describe the bug**
If the vault is in an unsealed state, entering a wrong base64 unseal (change any character in the key to reporoduce) on the UI returns a 200 response and a `progress` key of 1 in the response. A subsequent correct unseal key returns 500 (`"unable to retrieve stored keys: failed to decrypt keys from storage: cipher: message authentication failed"`). The vault never gets unseale

[2021-09-23 12:14] ncabatoff commented on #12618
Hi @kamikazechaser,

I don't believe it's possible to change the current behaviour.  The individual unseal key fragments are just numbers, and can't be identified by Vault as being valid fragments in isolation.  It's only in combination that we can tell whether they add up to a valid key.  Given a threshold of 3 and two valid keys and one invalid key, all Vault can say is "this is not a valid comb

[2021-09-23 12:14] #12618 closed

[2021-09-23 13:30] #12590 closed

[2021-09-23 13:41] hghaf099 commented on #12590
Thanks for filing this issue. The issue is fixed in 1.9.

[2021-09-23 17:03] hsimon-hashicorp commented on #12584
This is fixed in the following PR: https://github.com/hashicorp/linux-packaging/pull/89

[2021-09-23 17:03] #12584 closed

[2021-09-23 19:13] jimsnab opened #12634 "Thousands of files piling up in Vault GCP Cloud bucket"
**Describe the bug**
I have a Vault cluster installed with Helm on a GKE three zone 3 node per zone cluster. Vault is unsealed but so far unused. The storage is growing with files like

gs://myproject-vault-storage/core/lock#1632413922844207
gs://myproject-vault-storage/sys/counters/requests/2021/09#1632419840300252

After 6 days there are almost 4k of these files.

**To Reproduce**
Steps to repro

[2021-09-23 19:15] hsimon-hashicorp commented on #12575
Hi, please provide your Vault configs (with any sensitive data removed) so we can help. Thanks!

[2021-09-23 19:15] hghaf099 commented on #12616
Thank you very much for your interest in the Vault project, and also thank you for filing this issue. Our goal is to improve the quality of out product and its documentation using such good feedback from the community. With regards to this issue, note that the master key is only stored in memory (Not persisted on disk) while Vault is unsealed. However, when Vault is sealed, the master key is encry

[2021-09-23 19:57] fmeringdal commented on #12616
Thanks for your quick reply.

[2021-09-23 20:25] hsimon-hashicorp commented on #12609
Hi @sabarisankarj! Are you able to verify the checksum for the plugin? The "error verifying checksum" usually means the plugin didn't register correctly. Also, as an added check, if you try to run the plugin directly, you should receive a message that the plugin can't be run standalone and needs to be called from a binary. Any other message indicates a problem. Thanks!

[2021-09-23 23:22] hghaf099 commented on #12583
Thank you for filing this ticket, I am trying to reproduce the issue, however I could not. I figured to mention couple of pointers; first, I should say that the order of the certificate and the private key does not matter in your payload. Then, with regards to where you could see the CA cert in the UI, you can checkout the certificate under the PKI configuration section. If you replaced a cert, yo

[2021-09-23 23:25] hghaf099 commented on #12616
I made a mistake in my communication, we indeed need to fix an issue with the docs. So, the master key is always stored on disk, encrypted by the unseal key. However, when Vault is unsealed, the master key will also be kept in memory. We are going to fix the issue soon. Thanks again for filing this ticket.

[2021-09-23 23:50] aram535 commented on #12583
Thanks for the confirmation.  It doesn't seem to matter if I'm creating a new cert or replacing an existing cert, both result in a RC of 204 and nothing is changed.
I'm using terraform to mount the engine and configure it.  Do you mind sharing what options you used to mount your engine?  Maybe one of the options I'm using is cause this issue.

[2021-09-24 01:46] doctork9999 commented on #12415
I ran into the same issue here quite strange that it happens everytime when the Azure Postgres Database is restarted, the broken connections are lingering around and not evicted. I ended up testing the same scenario locally as well as other cloud providers, i.e. AWS and don't see this symptom. The PR seems to explained the part that the new TLS error was introduced and the additional error handlin

[2021-09-24 04:31] zishanj commented on #12575
This is vault status info:

[code]
Let me know if there is any other specific command that provides you with further required config

[2021-09-24 08:51] ShriprasadM commented on #10318
any updates here?

[2021-09-24 09:59] doctork9999 commented on #12415
Running some tests and now I can see why it only occurs in Azure, it looks like when the connections are closed in Azure, they are closed in quite an odd way, there was no FIN message to notify client to close the connections.

![Screenshot from 2021-09-24 19-25-50](https://user-images.githubusercontent.com/91298592/134652344-d6a24e5c-b2f7-4028-ac6e-18bf9815d795.png)
![Screenshot from 2021-09-24 1

[2021-09-24 13:46] secretlyvogon commented on #12591
Thanks for responding @hsimon-hashicorp . I followed the [HTTP API documentation](https://www.vaultproject.io/api/auth/aws#login) and used the following curl command:

[code]
My `payload.json` consisted of:
[code]
On performing the curl command with the verbosity option, I get the following output (removed TLS handshake messages)
[code]
I mentioned in the original post that I was getting an empty

[2021-09-24 14:11] josephlim75 opened #12625 "Error configuring snapshot-auto (Unsupported Path)"
**Describe the bug**
When trying to configure `snapshot-auto` as described from
https://www.vaultproject.io/api-docs/system/storage/raftautosnapshots,
I got error `unsupported path`

**To Reproduce**
Steps to reproduce the behavior:

### Payload.json
[code]

Have tried changing `path_prefix` to `/opt/vault/snaphosts/` but error still persist.  Confirmed path exists in the same node where vault is

[2021-09-24 16:21] hsimon-hashicorp commented on #12575
Can you please provide information about your totp config? For more assistance, please see the following:
https://www.vaultproject.io/api/system/mfa/totp
https://www.vaultproject.io/api/secret/totp

[2021-09-24 16:59] hsimon-hashicorp commented on #12591
@secretlyvogon I'm assuming your pkcs7 entry in your payload.json has all of the newlines, etc, removed? I'm looking at the **Login** section of the [API document for the AWS auth](https://www.vaultproject.io/api/auth/aws) method and you're correct, that should be all you need if the certificate is set up correctly.

[2021-09-24 17:24] hghaf099 commented on #12625
Thank you for filing this issue, would you please let us know if you are using Vault Enterprise or not? Note that this feature is only available in the Enterprise Vault.

[2021-09-24 17:25] oncilla commented on #11006
@HridoyRoy @hsimon-hashicorp How can we proceed with this issue?

[2021-09-24 17:50] hghaf099 commented on #10084
Waiting for response in the PR

[2021-09-24 17:58] hsimon-hashicorp commented on #11006
Hi @oncilla and @vikramchhibber - I am asking the engineering team for guidance on this issue. Thanks for your patience!

[2021-09-24 18:47] vikramchhibber commented on #11006
Thanks @HridoyRoy @hsimon-hashicorp.

We see that some changes related to this got merged recently
https://github.com/hashicorp/vault/commit/49c3db0bc5cdacef2d34431f022563b95b329e7b#diff-fb3974bdeab0812abc491ff49b027b88330f4d357be89f7d9b227b3d39682326

Is it possible to have these changes in coming 1.9.x release?

Regards

[2021-09-24 18:52] hsimon-hashicorp commented on #10318
As @mladlow mentioned, the MySQL plugin is community-supported, meaning that Vault engineering teams do not create or update them. As such, we rely on the open source community to maintain and update these plugins. Please feel free to file a PR if you can identify a fix for this issue. Thanks!

[2021-09-24 18:53] hghaf099 commented on #10947
@abriening Thank you for filing this ticket. Based on the comments, it seems that there is not much more discussion left on the issue. I am going to close this issue for now. But, please feel free to re-open this issue or a new one if you would like to discuss further on the matter.

[2021-09-24 18:53] #10947 closed

[2021-09-24 19:30] hsimon-hashicorp commented on #12157
@skhilar it's not easy to see what's been changed. Please feel free to create a pull request, and include the necessary tests, etc. Thanks!

[2021-09-24 20:57] josephlim75 commented on #12625
Oh..Sorry, missed the documentation saying is for Enterprise.  I am actually using opensource.  I am closing the issue now.

[2021-09-24 20:57] #12625 closed

[2021-09-24 21:57] arnav28 commented on #12226
Hi @HiranChaudhuri
In UI either you can enter domain names per input or provide a comma separated string in the input box, both ways are supported that's why the tooltip says `parameter accepts a comma separated string or list of domains`.
We will consider this as a feedback and will review with design team to check if more users are getting confused with this UI component. Thanks :)

[2021-09-24 22:01] #12226 closed

[2021-09-25 04:07] #12575 closed

[2021-09-25 07:56] secretlyvogon commented on #12591
Yes, all new line characters in the pkcs7 entry have been removed.

[2021-09-25 21:33] con-f-use opened #12637 "document how to specifiy one if two ldap auth methods are configured in vault"
I have a vault with two ldap auth methods configured:

[code]

can you please document how to login with one over the other using vault-cli?

My best guess produces this:

[code]

[2021-09-25 21:38] con-f-use commented on #12637
Nevermind, just didn't look hard enough, apologies!

[code]

[2021-09-25 21:38] #12637 closed

[2021-09-26 23:23] fmeringdal commented on #12616
I am struggling a little bit with understanding these two statements as well.

From your comment:

From the `operator init` docs:

So from the first comment, I understand it as there is a key called "unseal key" which encrypts the master key and then that unseal key is split into shares when using SSS.

If it is the master key that is split into shares on `init` as the second comment states, which

[2021-09-27 05:57] josegonzalez opened #12639 "UI: token auth method page shows token_type option"
**Describe the bug**

When you browse to an auth method of type `token`, the `token_type` dropdown appears. This makes it so that page submissions include that field, resulting in the following error:

[code]

**To Reproduce**
Steps to reproduce the behavior:
1. Login to the vault ui
2. Browse to `Access => Auth Methods => a token auth method's 'Edit Configuration' page"
3. Try to modify settings

[2021-09-27 07:55] jazzdragon commented on #2059
We just set `VAULT_TOKEN` before each command when using the root token to avoid saving it at all, as having it saved on the home folder is a huge security risk.

[2021-09-27 09:06] luanphantiki commented on #12634
@jimsnab , these files seem to be the old versions of GCS files. I guess that would be NOT a Vault's issue. Read more: https://cloud.google.com/storage/docs/object-versioning

[2021-09-27 16:02] dekimsey commented on #9289
I like this if the format is diffable/readable as well. It'd be a real nice way to compare two vault cluster's configurations (test v prod).

[2021-09-27 16:12] dekimsey opened #12641 "Raft snapshot restoration from UI fails: TypeError: Window.fetch: 'signal' member of RequestInit does not implement interface AbortSignal."
**Describe the bug**
Raft snapshot restoration from GUI fails, but works via cli. This appears to me to be an issue in the UI/Javascript and not in the vault backend.

    TypeError: Window.fetch: 'signal' member of RequestInit does not implement interface AbortSignal.

This was reported in hashicorp/docker-vault but is not a container issue. I have duplicated/paraphrased the contents of that tick

[2021-09-27 16:12] MagicRB commented on #8216
I'm one upping this, I want to use this for auto-renewing certificate authenticated vault agent

[2021-09-27 16:41] hashishaw commented on #1507
Hi @Himura2la, thanks for reporting this! We are working on a fix. Cheers!

[2021-09-27 17:11] hsimon-hashicorp commented on #12641
Hello! Thanks for the report. We are also tracking a very similar issue internally ([VAULT-3181](https://hashicorp.atlassian.net/browse/VAULT-3181) for fellow HashiCorp folks). I'll update the Jira ticket with this information, so as to make sure folks know its relative impact.

[2021-09-27 17:18] hsimon-hashicorp commented on #12634
@luanphantiki Thanks for that link! Looking at it, it does appear to line up with the naming convention reported in the original issue. @jimsnab can you confirm if you're using object versioning with GCS?

[2021-09-27 19:47] hsimon-hashicorp commented on #12220
Hi @prbinu! Just echoing Prat here, if you could provide more specific repro steps, it'll help our engineers immensely. Thanks in advance!

[2021-09-27 22:40] jimsnab commented on #12634
@luanphantiki is exactly right and in hindsight it is obvious. Issue resolved after I added

[code]

to `google_storage_bucket` in my terraform.

[2021-09-27 22:40] #12634 closed

[2021-09-27 23:56] hghaf099 commented on #11614
Thank you very much for filing this issue. I tested the issue and the revocation is indeed happening. Note that when a non-CA certificate is revoked, a revocation time is added to that certificate. This revocation time could be an indication of a successful revoked certificate.
With regards to the UI give a clearer indication of a certificate revocation happened, this has been identified as an iss

[2021-09-27 23:56] #11614 closed

[2021-09-28 04:05] digitalfredy commented on #11608
I agree that Vault default conf must at least to be in line with recent OpenSsh default conf because I'm following the [Vault doc](https://www.vaultproject.io/docs/secrets/ssh/signed-ssh-certificates) and I waste a lot of time because it was not working and last thing in my list was a "insecure" configuration by default when following HC documentation.

[2021-09-28 07:37] aram535 commented on #12583
The cli works, you can get the original cert back, but it isn't registered with the system ... or rather it isn't recognized as a CA.  If you continue and upload your PKI INT cert into the pki_int engine, it's rejected because it isn't a signed cert.

[2021-09-28 10:17] bitfehler opened #12659 "Vault 1.8.1 PKI backend stopped accepting email as CN"
**Describe the bug**
Hi there! We have a PKI backend where devs can issue themselves certificates. For every dev, the common name is enforced to be the email address. The setup has worked up to (including) Vault 1.7.3. See below for all the details. It stopped working in Vault 1.8.1 (see below for error message).

I could not find anything in the release notes related to this.

**To Reproduce**
St

[2021-09-28 10:26] bitfehler commented on #12659
Oops, I am very sorry, this is most likely a duplicate of https://github.com/hashicorp/vault/issues/12336 - I was just confused by its title.

[2021-09-28 10:26] #12659 closed

[2021-09-28 13:41] bastelfreak commented on #12584
@hsimon-hashicorp the repo seems to be private, any chance to make it public?

[2021-09-28 14:15] kent007 opened #12660 "`/auth/approle/role/<approle>/secret_id_accessor/lookup` returns HTTP 500 instead of 404"
**Describe the bug**
When querying for an approle secret ID accessor that doesn't exist, Vault returns HTTP 500 (a retryable status code) instead of something like HTTP 404

**To Reproduce**
query `/v1/auth/approle/role/<some-valid-approle>/secret_id_accessor/lookup` and pass as data `{"secret_id_accessor": <some invalid secret ID>}`

**Expected behavior**
HTTP 404, indicating the accessor doesn't

[2021-09-28 14:39] hghaf099 commented on #12616
@fmeringdal In the older versions of Vault (up until Vault 1.3), the master key was split into a number of pieces using the SSS algorithm. However, after that Vault version, an additional key was introduced, the "unseal key", which is used to encrypt/decrypt the master key. The unseal key is now split into a configurable number of shares. This [page]( https://www.vaultproject.io/docs/concepts/seal

[2021-09-28 15:32] ArchiFleKs commented on #11953
I guess it should also be specified in the docs to get the `token_reviewer_jwt` from the vault service account secret and not from inside the pods, because using the one inside the pod breaks kubernetes auth everytime vault restart.

[2021-09-28 15:45] sabarisankarj commented on #12609
Hi @hsimon-hashicorp, thanks for the comment. Additional hardening in plugin folder broke the config. I fixed it by sorting the permission issues.

[2021-09-28 15:45] #12609 closed

[2021-09-28 16:57] prbinu commented on #12220
No sure what the confusion is. It should be straight forward for Vault team. I'm currently using a Vault instance operated by a different team, and to recreate everything on a localhost is a bit of work (LDAP, JWT setup etc). I will try to do it when i find some time, but i think it you can do it much faster.

Thank you for responding to my request.

[2021-09-28 17:12] hsimon-hashicorp commented on #12584
@bastelfreak I mostly placed the link here for HashiCorp folks to cross-reference; when the release is packaged for upcoming releases it will be included as part of the build process. Thanks!

[2021-09-28 22:53] pmmukh commented on #12220
No worries! I think it's just that a clearly defined set of repro steps helps us figure out whether something is a bug or not quickly, which is really helpful given the volume of issues we work with. However, if you aren't really able to reproduce this easily, that is fine, I still think we have enough in this issue to go on, and will try to get back to you soon as we can. Thanks! :)

[2021-09-29 10:16] speller opened #12665 "Policy doesn't work, always permission denied"
I can't make policies working, it always denies access.

[code]

What's wrong? I've set the exact key name to permit the read access to it. Why it can not be accessed?

[2021-09-29 12:08] ak15 commented on #10303
Despite passing absolute path I am still facing the issue

Vault version - v1.6.1

[2021-09-29 14:55] kauedg commented on #8953
This behavior should at least be mentioned in the [agent's documentation](https://www.vaultproject.io/docs/agent).

Something like

[code]

[2021-09-29 15:51] iniinikoski opened #12669 "FEAT: Add username templating into the AWS Secret Engine's IAM users"
**Is your feature request related to a problem? Please describe.**

Not sure if this should belong into this repository - but could not find a Vault AWS plugin repository...

When logged into Vault using an OIDC and provisioning an AWS IAM user, the default user becomes quite long (gets truncated really badly) - and Vault's client part also throws an error "[the calling token display name/IAM poli

[2021-09-29 18:12] hghaf099 commented on #11643
@HaehnleinMar Thank you for filing this issue. We believe that this issue has been fixed in the 1.7.1 release.  If possible please try your steps in the later releases. I will close this ticket for now, but please feel free to open a new issue if you encountered one.

[2021-09-29 18:12] #11643 closed

[2021-09-29 18:28] #9915 closed

[2021-09-29 20:28] kmehkeri opened #12675 "Vault CLI makes request to incorrect URL when namespace is both provided as argument and part of the path"
**Describe the bug**
[Namespace documentation](https://www.vaultproject.io/docs/enterprise/namespaces#usage) states that namespace can be treated as part of the path. This works fine with HTTP API, but CLI makes request to incorrect URL when namespace is both provided as argument and part of the path.

**To Reproduce**
[code]

**Expected behavior**
Command `vault kv get -field foo -namespace=/dev

[2021-09-29 22:01] con-f-use opened #12678 "Example for `bound_cidrs` in documentation, please"
I have yet to see an example value of the [`secred_id_bound_cidrs`](https://www.vaultproject.io/api-docs/auth/approle#secret_id_bound_cidrs) or `token_bound_cidrs` parameter anywhere in the Vault documentation.

I assume it would be something like:
[code]

But without an example, who knows? :wink:

[2021-09-29 22:03] KaymeKaydex commented on #7247
lets use pgx

[2021-09-29 22:56] hghaf099 commented on #12660
@kent007 Thanks for filing this ticket. Unfortunately, I cannot reproduce the issue. Would you please provide me the steps to reproduce the issue, and also, if you can run it again, some relevant Vault logs would also be helpful! Thanks!

[2021-09-29 23:25] danielmotaleite commented on #9782
Can you check what engine type are you using in your secret kv ?

I suspect you are using the original "generic", that later was renamed to "kv" (version 1). I say this because of the name `secrets.kv.generic_490251ee`, exactly as mine still "generic" engine kv, different from the kv_??? on newer installs
While the code supports kv v1 to v2 (versioning) , the generic support is probably just a obs

[2021-09-30 05:47] oliverjanik commented on #12334
I think I understand the explanation. however that still doesn't address my use case.

I already have an IP whitelist between ELB -> Vault. It's called AWS security group (aka firewall)

What I'd like to do only allow **specific** public IP to be able to authenticate with a **specific** app role. Any way to achieve that?

I thought that's what x-forwarded-for would do for me. Otherwise it seems li

[2021-09-30 08:18] iniinikoski commented on #12669
Ha, looks like this is also arriving in 1.9 release of Vault: https://github.com/hashicorp/vault/pull/12066 - awesome!

[2021-09-30 11:36] softveda opened #12684 ""What is Vault?" description that Vault is a tool is very simplistic"
**Describe the bug**
https://www.vaultproject.io/docs/what-is-vault
The "What is Vault?" content is too simplistic. It states
```Vault is a tool for securely accessing secrets.```

A tool is usually perceived as just a CLI executable, whereas Vault is also a networked and distributed/replicated server app which is more than a 'tool'.

**Expected behavior**
A better description of "What is Vault?"

[2021-09-30 15:22] val3r10 opened #12690 "Create a module for installing vault in kubernetes using helm"
**Is your feature request related to a problem? Please describe.**
At the moment the recommended way to install vault in Kubernetes is to use Helm. However when this is done through terraform the code looks like this:

[code]

Due to the high number of settings using a yaml file is necessary as is not possible or at least is not documented how to pass the configuration using this format:

[code]

[2021-09-30 15:50] mbillow commented on #12665
Vault ACLs use the API path, so if you look at the [KVv2 docs](https://www.vaultproject.io/api/secret/kv/kv-v2#read-secret-version), you will see the actual request `vault kv get` is making is actually to `{mount_path}/data/{kv_path}`. The ACL in your example should be for `kv/data/jdm/yahoo/account`.

[2021-09-30 19:22] ropnop opened #12694 "Unable to use email address with "allowed_domains_template" for PKI Roles"
**Describe the bug**
It is currently not possible to use `allowed_domains_template` to create dynamic email address CNs from a PKI Role. I would like to be to use the `allowed_domains_template` to let users request certificates with a CN of an email address based on their current entity, but due to the way email addresses are split up before being verified against the domain template, it always fa

[2021-09-30 22:45] jplopezy opened #12698 "TOTP UI Viewer"
**Is your feature request related to a problem? Please describe.**

The user who was associated with a custom totp (example: external MFA) can only read the token value by command line (vault read) or by API.

**Describe the solution you'd like**

The user when entering the Web UI should be able to "generate a token" (vault read totp/code/testuser)

**Describe alternatives you've considered**

I w

[2021-10-01 06:18] secretlyvogon commented on #12591
@hsimon-hashicorp I upgraded vault binary to version 1.8.3 and I see the same issue. Any ideas?

[2021-10-01 12:13] rradecki-migo commented on #3214
@joelthompson what is the status of this feature? Would it be possible to finalize it?

[2021-10-01 14:02] hghaf099 commented on #12665
Would you please specify which Vault version are you using? and would you please post all the steps to reproduce the issue?

[2021-10-01 14:22] #10084 closed

[2021-10-01 15:28] hghaf099 commented on #12684
Thank you for raising this issue. We have filed an internal ticket for this which can be found https://app.asana.com/0/563192436488770/1201106002588624/f
I am going to close this ticket for now.

[2021-10-01 15:28] #12684 closed

[2021-10-01 15:38] hghaf099 commented on #12678
Thank you very much for submitting this issue. Please follow the following links to find examples and workflows for those parameters. I hope you find them helpful. I am going to close this issue for now, but please feel free to open a new issue for further requests.
https://learn.hashicorp.com/tutorials/vault/approle-best-practices?in=vault/auth-methods
https://learn.hashicorp.com/tutorials/vault/

[2021-10-01 15:38] #12678 closed

[2021-10-01 15:41] KawaiDesu commented on #10015
Hello! Any update on this? This is blocking us from abandoning vault_exporter.

[2021-10-01 21:35] #12415 closed

[2021-10-02 06:04] saltperfect commented on #12282
I would like to contribute to this issue.

[2021-10-02 12:09] jmls commented on #11707
so how can I create a policy with no identity polices attached ? I have a requirement for a user to be able to create a token that is used purely to store something in the cubbyhole, and then send that token to another application which can use it to retrieve that secret .

However, this token must not have any policies apart from the "read from cubbyhole" policy.  From what I can see, the only wa

[2021-10-02 17:34] Merenon commented on #5893
Is there any plan to implement/merge this?
We also have a use case, where we'd like to use Vault wrapping for securely sharing secrets/credentials  - also with "non-technical" people, for which this UI option would be great.

[2021-10-03 00:42] ethanhs commented on #3216
When I try to do the following I get a 400:

[code]

I get a 400 Bad Request error.

Currently I am working around it with using the query parameter/GET workaround:
[code]

but this seems less than ideal.

[2021-10-03 14:45] rageshkrishna commented on #12536
@AndrewSav Would you happen to have an ETA for the 1.9 release? In the mean time, as a workaround, I suppose I could just downgrade the CLI on my Windows machines to an older release that isn't affected by this issue.

[2021-10-03 23:13] AndrewSav commented on #12536
@rageshkrishna no.

[2021-10-04 11:30] priyaaank commented on #6852
Hello, I'd like to pick this issue and work on it. Before I go ahead with the implementation I would like to discuss the path that the change should take. Is the expectation only to update the status code? Or would it make sense to have the entire object representation be returned as pointed out by @drawks in both create and update scenarios and reflect so in the documentation as well?

[2021-10-04 14:44] nickwilliams-codynamic opened #12714 "Identity group alias ignores case sensitivty option of the ldap auth configuration"
When configuring an ldap auth method, the default settings use case insensitve lookups for username and groups.

https://www.vaultproject.io/api/auth/ldap#case_sensitive_names

This works for ldap groups and policies configured against the ldap auth method. However, when migrating to using Vault Identity groups the group mapping becomes case sensitive. Regardless of the value of `case_senesitve_na

[2021-10-04 16:31] ropnop commented on #12694
Doing more research, this seems very related to this stale issue reported here: https://github.com/hashicorp/vault/issues/5991

It appears it's currently impossible to limit PKI certificate issuing/signing to specific email addresses in either CNs or SANs. You have to allow the entire bare domain, which lets users request certificates for _any_ email address _and_ the bare domain itself

[2021-10-04 18:08] stevendpclark commented on #12336
Closing issue as it was fixed within #12716

The fix will be available within the next major release and will be backported to Vault 1.8

[2021-10-04 18:08] #12336 closed

[2021-10-04 18:13] Mercwri commented on #10716
@prajwalsrinivasa
The Snapshot is taken from your current running Vault ENV , you then stand up a one-off single node container and within that perform the migrate from the consul snapshot to raft, then take a Vault Raft snapshot, and import that into your k8s deployment.

Vaul/Consul -> consul-snapshot -> standalone docker vault env -> vault-snapshot -> kubernetes deployment

[2021-10-04 19:12] ncabatoff commented on #6852
Hi @priyaaank,

Sorry, we made a mistake in tagging this as a `good-first-issue`.  In fact, I think we're just going to update the docs to describe the current behaviour in more detail (namely, that updates yield an empty 204.)

@drawks: You make some good points, namely (1) it would be nice to return 201 for creations, and (2) it would be convenient for clients if we could save them a roundtrip b

[2021-10-04 19:12] hsimon-hashicorp commented on #5893
Hi folks. We're looking at this request internally again to see if it's something we want to put on the roadmap. Thanks for your interest!

[2021-10-04 21:50] hghaf099 commented on #12601
Thanks for submitting this issue. The issue has been addressed in the above PRs on main and three released branches. I am going to close this issue.

[2021-10-04 21:50] #12601 closed

[2021-10-04 22:16] scotje commented on #12601
Thanks for the quick resolution, we really appreciate it!

[2021-10-04 23:05] hghaf099 commented on #12694
This issue is a duplicate of #12336, and has been addressed in https://github.com/hashicorp/vault/pull/12716
Going to close this issue.

[2021-10-04 23:05] #12694 closed

[2021-10-05 01:51] grahamc opened #12734 "Support issuing AWS Session Tokens via GetSessionToken"
**Is your feature request related to a problem? Please describe.**

Sometimes people will give you an AWS access key and secret and not
be interested in setting up a better approach for key exchange.

**Describe the solution you'd like**

In cases like this, options are limited for distributing access to
the key material. However, AWS's STS GetSessionToken can be used
to general ephemeral credenti

[2021-10-05 06:26] prajwalsrinivasa commented on #10716
@Mercwri thanks for your reply. Yup I performed the same and one thing what I have noticed is the seal type should be same on both the environments like VM and K8s and then only things will be easy or else again we will see the leader election issues.

[2021-10-05 14:56] prajwalsrinivasa commented on #10716
@Mercwri once you're restoring the snapshot on K8s vault, Are you able to see the HA mode active on the same. Because in my case it is going to standby node.And do you have any solution for the same.

[2021-10-05 16:03] hsimon-hashicorp commented on #10716
Hi folks! I'm glad to see the community discussion around this. However, we prefer to keep GitHub to bug reports and pull requests, and we encourage people to troubleshoot and assist the community on our [Discuss Vault forum](https://discuss.hashicorp.com/c/vault/30). I'm going to close this issue, but please feel free to keep chatting on the forum, or open a new issue if there's a bug that needs

[2021-10-05 16:03] #10716 closed

[2021-10-05 17:39] kent007 commented on #12660
Sure, just walked through this procedure using a dev server (version 1.8.3).

Started the server:
[code]

then, I ran the following commands:
[code]

next, I ran this curl command
[code]

which returns a HTTP 500.

[2021-10-05 18:28] szampardi opened #12742 "github.com/tencentcloud/tencentcloud-sdk-go import issue on any tag after v1.7.5"
**Describe the bug**
`make bootstrap` fails with all Vault tags after v1.7.5

**To Reproduce**
Steps to reproduce the behavior:
[code]

**Expected behavior**
`make bootstrap` succeeds

**Environment:**
* Vault Server Version (retrieve with `vault status`): v1.8.3
* Vault CLI Version (retrieve with `vault version`):
* Server Operating System/Architecture: alpine 3.14 container with go1.17.1

Vault

[2021-10-05 18:52] hsimon-hashicorp commented on #12742
Hello. Go 1.17 will be supported in Vault 1.9, but you will not be able to build any previous versions with it. Thanks!

[2021-10-05 19:34] szampardi commented on #12742
thank you for the quick response, I wasn't even thinking about trying older versions of go yet 👍🏼

[2021-10-05 20:04] priyaaank commented on #12470
Hello, I'd like to pick this issue to work on. Please let me know if it is alright to go ahead and work on it. If there are things to keep in mind during implementation (apart from contribution guidelines), please do call out.

[2021-10-05 20:12] jsfrerot commented on #7990
I would also add that it would be nice to revoke certificate for a specific subjet. We have had some bad configuration which created over 500k certificates for a few servers. And cleanup for those client is painfully slow.

[2021-10-05 20:24] szampardi commented on #12742
@hsimon-hashicorp I am getting the same with go 1.16.8

[2021-10-05 20:38] mbillow opened #12746 "Compression Handler Falsely Assumes All Raw Data is JSON"
**Describe the bug**
The [decompression helper](https://github.com/hashicorp/vault/blob/main/sdk/helper/compressutil/compress.go) in the Vault SDK improperly assumes all keys in raw storage are in JSON format. For keys like `sys/token/salt` that is just a random UUID saved as a flat string, this can cause Vault to try and decompress an already decompressed value if it starts with one of the magic

[2021-10-05 20:38] hsimon-hashicorp commented on #12742
This looks like it might be a dependency issue that was recently fixed - https://github.com/hashicorp/vault/pull/12404. Take a look and let me know if that helps. Thanks!

[2021-10-05 20:47] szampardi commented on #12742
I don't know what to say, it looks like a few tags from https://github.com/TencentCloud/tencentcloud-sdk-go/tags have vanished. I am unable to compile any Vault tag after v1.7.4.

[2021-10-05 20:49] szampardi commented on #12742
[code]

[2021-10-05 20:54] priyaaank commented on #12230
It looks like the influx 1.x client library is now moved to a [here](https://github.com/influxdata/influxdb1-client) and the latest 2.x library is [here](https://github.com/influxdata/influxdb-client-go)

Maybe the clients were bundled into repo earlier, but split now. They will need to be reimported and used as per the latest docs I suppose.

[2021-10-05 20:58] gary-dickenson commented on #12230
Not sure what the intention is.

See this for background

https://github.com/influxdata/influxdb/issues/11035

I would imagine support for V2 and v1.x would be best, driven by config at
the plug-in

On Tue, 5 Oct 2021, 21:43 Priyank Gupta, ***@***.***> wrote:

[2021-10-05 21:05] priyaaank commented on #12230
Thanks for linking that issue. It helped in understanding what happened historically with the library. There are two options to drive this

* Query influx DB to retrieve the version and take an approach to query users. This works transparently and does not require a config.
* Allow a small config to make user query accordingly. This may need some sort of influx version config to be set, possibly a

[2021-10-06 08:59] tandrup commented on #12012
@hsimon-hashicorp Is there any news from the release engineering team regarding when a fix will land?

[2021-10-06 18:10] con-f-use opened #12753 "Make TOTP MFA an Open Source feature for supported auth methods"
Rationale: At least one open, widespread and widely supported OTP standard should be officially supported for Vault open-source users. I know, this was probably discussed a lot when TOTP was introduced as an enterprise feature and probably still comes up every so often. I'm also very aware that Hashicorp is and should be a for-profit organization. Thankfully, Hashicorp is already very FOSS-leaning

[2021-10-07 08:31] szampardi commented on #12742
that's hard to believe considering I am building in a fresh docker container (https://github.com/szampardi/vault-docker/blob/master/stage1.Dockerfile), there is no chance for any cache at all.

Potentially the engineering team is who should be cleaning local mod cache, [my previous statement about the imported module](https://github.com/hashicorp/vault/issues/12742#issuecomment-934808738) remains

[2021-10-07 12:50] Schweinepriester opened #12764 "Changelog link in the footer is linking to master => outdated"
**Describe the bug**
The link to the changelog in the footer still points to the master branch, which is outdated, because main.

![image](https://user-images.githubusercontent.com/2644614/136385458-a4305845-2203-4f6d-bac3-33bca80e0890.png)

=> https://github.com/hashicorp/vault/blob/master/CHANGELOG.md#184

**To Reproduce**
Steps to reproduce the behavior:
1. Have Vault
2. Want to look at the rec

[2021-10-07 19:13] #12764 closed, assigned to nobody

[2021-10-07 19:15] hsimon-hashicorp commented on #12746
Thanks for this issue report, @mbillow! I've let our developer experience team know, and they'll be prioritizing it in the backlog.

[2021-10-07 22:03] the-maldridge opened #12768 "Support returning AWS credentials in a format suitable for use with the credentials_provider format."
**Is your feature request related to a problem? Please describe.**
The only supported way to have the AWS SDK reload configuration from disk across all language SDKs is to use an external "credential provider process".  Since the most obvious way to do this is `cat` it would be most convenient to have Vault return data in a format suitable for consul-template/vault agents to just pass to the `json

[2021-10-07 22:23] hghaf099 commented on #12583
Sorry for the late response, would you please follow this [page ](https://learn.hashicorp.com/tutorials/vault/pki-engine?in=vault/secrets-management) and this [doc page](https://www.vaultproject.io/api-docs/secret/pki) as they shows an example of how the PKI works with CAs and intermediate certs. Try the following steps to verify that the imported CA is taking effect or not:
1- import your CA usin

[2021-10-08 04:46] SchweinDeBurg opened #12771 "Unable to build "master" branch using Go 1.17.1"
[code]

Fedora 27 64-bit, Go version 1.17.1 taken from official site

[2021-10-08 05:36] SchweinDeBurg commented on #12771
I've just tried to build Vault using latest Go version 1.17.2 and got the same issue.

[2021-10-08 13:36] ricfeatherstone opened #12772 "Make Mount Bound Alias Configurable for Certificate Authentication"
**Describe the solution you'd like**

To support [X.509 SVIDs](https://github.com/spiffe/spiffe/blob/main/standards/X509-SVID.md) via the tls certificate authentication method in conjunction with the identity engine, it would great if we could choose between certificate common name and uri sans in a similar way to other identity documents where information could be stored in different fields.

[Mo

[2021-10-08 14:20] mgfnv9 opened #12773 "tls client didn't provide a certificate"
Hello to all.
I want to enable tls_require_and_verify_client_cert = true, but found errors on pod's

http: TLS handshake error from 127.0.0.1:45000: tls: client didn't provide a certificate

Vault was previously configured without using SSL

**Environment:**
Vault Server Version:
Vault 1.7.3
Storage type: Raft
HA Enabled: true

Vault CLI Version:
Vault v1.7.3 (5d517c864c8f10385bf65627891bc7ef55f5e

[2021-10-08 15:02] wilmanpabel commented on #11953
AKS 1.21+ in JWT ISSUER or token_reviewer_jwt  section add fqdn of master inside ""
token_reviewer_jwt="\"myapimaster.abc.io\""

[2021-10-08 16:18] #12771 closed

[2021-10-08 16:52] hsimon-hashicorp commented on #12773
Hi! It looks like your clients aren't passing a certificate in the call to the Vault server. As this does not look like a bug, I'll direct you to our [Discuss forums](https://discuss.hashicorp.com/c/vault/30) where you can get help from community members and subject matter experts. Thanks!

[2021-10-08 16:52] #12773 closed

[2021-10-08 17:24] harsimranmaan opened #12778 "Add matched policy to audit logs"
**Is your feature request related to a problem? Please describe.**
When looking at the vault audit logs, it is not obvious which policy was matched to grant access to the particular request. We can see all the policies allowed but not the one that was the exact match to allow an operation.

**Describe the solution you'd like**
Add a field called `matched_policy` to the audit log. This field should

[2021-10-08 21:48] randomswdev opened #12782 "Use regular expressions to constraint allowed_parameters"
**Feature Request:**
When defining a policy, the attribute `allowed_parameters ` allows only to specify a glob expression. In some situations a glob is not enough to express the need constraints.
We would like to have the possibility of specifying a regular expression. As an example consider:

[code]

The first expression, starting with an `^` and ending with a `$` can be interpreted as a regular

[2021-10-09 10:47] priyaaank commented on #12230
Question to vault core team,

The InfluxDb2.0 has a new client library as well as breaking changes for the newer version. The current plugin code is for version1.x. Adding the code and support for InfluxDB 2.x requires adding both libraries and configuration in parallel. Please confirm that intention to support both version is there and plugin should be able to work with both versions simultaneous

[2021-10-09 16:30] ghost opened #12785 "Static role creation in MongoDB fails!"
I created a user named “user1” inside a “test” db with “userAdmin” role.

I established a connection to “test” db from vault using the connection string "mongodb://{username}:{password}@0.0.0.0:27017/test"

In place of username, I gave “user1” and corresponding password and verified the connection.

Then I tried to create a static role and rotate the “user1”'s password, but when I gave the “user1”

[2021-10-09 17:43] vsevel commented on #12349
@remilapeyre yes it does apparently. there is a `type` attribute indeed. @kdubb why did not we use this? did we overlook it, or is it new?
the only drawback is that it requires you to fetch the definition of all mounted engines, not just the one you are interested in.
what is really missing is a `GET` on `/sys/mounts/:path` that returns the definition of a specific mounted engine.

[2021-10-09 22:50] remilapeyre commented on #9273
Hi @weitzjdevk, is this not already possible by using multiple totp mounts:

[code]

?

[2021-10-10 02:22] ajaysg94 commented on #12785
@pcman312

[2021-10-10 14:26] mallikarjun-b-r commented on #12569
Hey everyone, can I pick this up

[2021-10-10 16:38] googol opened #12786 "Support age for encrypting the shamir shares and root token on init"
**Is your feature request related to a problem? Please describe.**
Currently vault supports GPG for encrypting the shamir shares and root token when initializing. This is of course a good thing as it protects these values from unwanted users. However GPG is a complicated and old system, and using it safely is not trivial; explaining GPG keys and operations to new users is difficult, and because of

[2021-10-11 07:06] maxb opened #12794 "Auto-generated OpenAPI is *incorrect* for `/aws/creds`"
**Describe the bug**

The auto-generated OpenAPI (from `/sys/internal/specs/openapi`) generates **incorrect** documentation for the AWS secrets engine API.

**To Reproduce**

1. Mount an instance of the AWS secrets engine
2. Visit the built-in Vault Swagger UI (at `/ui/vault/api-explorer`)
3. Find the endpoint `/aws/creds`
4. Compare with the actual API docs for the AWS secrets engine
5. Realise t

[2021-10-11 14:56] joeyberkovitz opened #12797 "AppRole Multiple Secret IDs Break Metadata"
**Describe the bug**
When using AppRole for machine authentication, I have different machine metadata encoded onto each generated secret ID, as is allowed by the [Generate Secret ID API request](https://www.vaultproject.io/api-docs/auth/approle#generate-new-secret-id). The problem with this is that on the Identity backend, only a single entity ID is created, so the metadata is overwritten with the

[2021-10-12 15:05] #12742 closed

[2021-10-12 15:52] hghaf099 commented on #12583
Private key is a secret and cannot be downloaded using a public endpoint. Note that the configured CA would need a `pem_bundle` argument which contains both the cert and a private key as mentioned here https://www.vaultproject.io/api-docs/secret/pki#submit-ca-information

[2021-10-12 19:28] canadianakin commented on #12576
I'm not completely sure to be honest. I nuked my whole nginx installation and started over using this config as a reference: https://codepre.com/nginx-reverse-proxy-for-hashicorp-vault-in-centos-8.html

I wish I had the answer, but I didn't have the time to test what was explicitly causing the issue.

[2021-10-12 21:48] hsimon-hashicorp commented on #12509
Hi @mchakrabarty! It's been a while since we've heard from you regarding this issue. I'm going to go ahead and close it now, but please feel free to re-open if you need and you can provide reproduction steps. In the meantime, our [Discuss forum](https://discuss.hashicorp.com/c/vault/30) is a great place to get help from subject matter experts and other community members, and is less of a "bug-repo

[2021-10-12 21:48] #12509 closed

[2021-10-12 21:49] hsimon-hashicorp commented on #12194
Hi @adrianliechti - I just wanted to check in and see if you'd been able to run a vault debug, and if we can get that information. Please let me know how I can be of further assistance. Thanks!

[2021-10-12 21:51] hsimon-hashicorp commented on #11169
Hi! It's been a while since we've heard from you regarding this issue. I'm going to go ahead and close it now, but please feel free to re-open if you need and you can provide reproduction steps. In the meantime, our [Discuss forum](https://discuss.hashicorp.com/c/vault/30) is a great place to get help from subject matter experts and other community members, and is less of a "bug-reporting" venue.

[2021-10-12 21:51] #11169 closed

[2021-10-12 21:52] hsimon-hashicorp commented on #12469
Hi @systemmonkey42 - I wanted to check in and see if you had further questions, comments, concerns, or a PR you wished to link here. Please let me know how we can help. Thanks!

[2021-10-12 22:06] hsimon-hashicorp commented on #11810
Hi folks, it's been a while since we've heard from you regarding this issue. I'm going to go ahead and close it now, but please feel free to re-open if you need. Thanks for your understanding!

[2021-10-13 09:23] adrianliechti commented on #12194
Hi @hsimon-hashicorp

Thank you so much for coming back to this!
We had this monday another failure with still the same config

We plan to update to the latest Vault version this evening

[code]

Unfortunately we had a super busy sprint and limited resources for a deep dive into the issue.

But here are some screenshots of the database metrics

active connections are not exhausting. the incident h

[2021-10-13 10:34] kafeinnet commented on #12576
OK, thanks for replying.

[2021-10-13 12:09] madjam002 commented on #8414
https://www.vaultproject.io/api/secret/ssh#algorithm_signer

Switch to `rsa-sha2-256` or `rsa-sha2-512` in your SSH secret engine roles.

[2021-10-13 12:23] con-f-use commented on #8414
Thank you, the quick help is really appreciated. But do I really have to repeat every single option that is already set for the existing role in that `vault write`? I'd assume there is an "update".

[code]

[2021-10-13 12:35] con-f-use commented on #8414
Yeah well, I'm not gonna learn and setup Terraform in my setup. However, what did work:

[code]

[2021-10-13 16:03] con-f-use opened #12815 "WebUI: saving policies for a user configured in ldap auth method not possible"
**Describe the bug**
Using the web interface, I cannot add an additional policy to a user that already exists in the `ldap` authehtication method's user configuration (see picture). It is not a permission problem as the problem persists even using a root token.

![image](https://user-images.githubusercontent.com/11145016/137171169-fac83bc6-84f9-4694-bba9-112b73d94f94.png)

**To Reproduce**
Steps t

[2021-10-13 16:09] #12815 closed, assigned to nobody

[2021-10-13 16:10] con-f-use commented on #12304
I have the same issue with Vault 1.8.2, see #12815 (which I created as a duplicate of OP before stumbling upon this issue)

[2021-10-13 16:35] calvn commented on #12194
Can you try with Vault 1.8.4? We recently upgraded our `lib/pq` on https://github.com/hashicorp/vault/pull/12413 that aimed to address this.

[2021-10-13 19:23] #12277 closed

[2021-10-13 22:31] jonathanalexander229 opened #12824 "API endpoint that checks the CRL for a given cert serial number - for an automated renewal process"
**Is your feature request related to a problem? Please describe.**
We are designing an automated certificate renewal process, and after researching there does not appear to be a method or endpoint that will check the pki crl for a certificate.  This means we must manually pull down the CRL and use Openssl or other methods to check if the cert in question is part of the CRL.

**Describe the solutio

[2021-10-13 22:33] nathan-march commented on #7765
@s3lph Do you recall what the issue was with your cert? I'm running into the same thing here but can't figure out what it is.

[2021-10-14 02:10] user404d commented on #11810
This isn't something mission critical for me, but I don't know why this issue was closed. Is it intentional that this part of the tls config is not reloaded along with the rest?

[2021-10-14 12:32] bruno-villa opened #12829 "Vault injector secret template with specified secret version (kv2 engine)"
**Is your feature request related to a problem? Please describe.**
I'm using the Vault injector to handle secrets in k8s pods. Secrets in Vault are stored in a kv2 engine. There is a specific use case where I would like to inject two versions of a secret: the latest and the previous versions. Given a template
[code]
I would like to extend this to
[code]
So far I've not been able to find documentat

[2021-10-14 12:47] mrcooperpcf opened #12830 "Panic with github.com/denisenkom/go-mssqldb.passthroughConn.SetWriteDeadline(...)"
**Describe the bug**
After upgrading to 1.8 from 1.7 we frequently get error “panic not implemented” (see details below). We also have frequent restarts that appear related to this panic. 31 restarts in 4 days. After some searching I learned the denisenkom package is not compatible with go 1.16. Read here Not implemented panic in go 1.16 · Issue #639 · denisenkom/go-mssqldb · GitHub. When will Vau

[2021-10-14 22:15] #12782 closed

[2021-10-15 08:28] gary-dickenson commented on #12230
Hi @briankassouf @gitirabassi, Are you able to recommend the approach to take here please?

[2021-10-15 13:49] ncabatoff commented on #9094
Hi @StephenWithPH,

Re the docs confusion: yeah, we blur the line in our api docs between arguments provided in the request path and those provided as actual HTTP request parameters.  However, in policy allowed/denied_parameters we're really only talking about the latter.  Request path arguments are handled in policies via policy paths.

In your case there is actually a good solution already, and

[2021-10-15 14:56] #12829 closed

[2021-10-15 19:59] ejtbrown commented on #12394
The CA case is pretty straight-forward: just make an API path for the CA certificate (and any upstream signers that might exist) available without authentication. The certificate itself shouldn't be sensitive.

I hear what you're saying about unauthenticated requests not generally being audited, but that seems imminently fixable - simply generate an audit entry for all requests where the "unauthen

[2021-10-15 21:06] #12537 closed

[2021-10-15 23:19] ajchiarello opened #12850 "Raft.db on vault growing to fill hard drive"
**Describe the bug**
After migrating from Consul backend storage to integrated storage, the raft.db started growing very large, which impacted performance and stability. The raft.db is currently 22GB, and takes about half an hour to load (during which time the vault node is down).

**To Reproduce**
Steps to reproduce the behavior:
1. Migrate from consul backend storage to integrated storage.
2. Mo

[2021-10-15 23:43] hsimon-hashicorp commented on #12850
Hi @ajchiarello! We'll be looking into this. Thanks for the report, and we may be asking for more information as well. It might be next week before we can do so, but rest assured, we will get back to you. Thanks!

[2021-10-17 22:49] dezanewoods3 opened #12853 "https://akamaihd.net"
https://akamaihd.net

[2021-10-18 12:41] tsaarni opened #12855 "Kubernetes Auth Method documentation not compatible with Kubernetes v1.21+"
## Describe the bug

Kubernetes v1.21 introduced new bound service account tokens with following new properties:

1. Tokens are bound to a pod and they get revoked when pod is deleted.
2. Tokens will expire.
3. Tokens are audience-limited.

The Kubernetes Auth Method documentation does not cover the use of the new tokens. This results in failed authentication.

## To Reproduce

Pre-condition:

Dep

[2021-10-18 18:07] sksingh20 commented on #11626
@hsimon-hashicorp - This issue is in process of master election, where slave keep leaving connection open when slave finds that database lock already held by other host(Master). Any help will be highly appreciated.

[2021-10-18 18:14] #12797 closed, assigned to nobody

[2021-10-18 20:48] ccapurso commented on #12028
We have also confirmed that the unexpected behavior seems to be resolved and we are thus closing this issue. Closed issues will still be indexed and available for future viewers. If users feel that the issue is still relevant but is wrongly closed, we encourage reopening them.

Please refer to our [contributing guidelines](https://github.com/hashicorp/vault/blob/main/CONTRIBUTING.md) for details o

[2021-10-18 20:48] #12028 closed

[2021-10-18 21:04] #12665 closed

[2021-10-18 21:19] hsimon-hashicorp commented on #12785
Hi @ajaysg94 - does this scenario work with the API? We're trying to reproduce it, but we're having some troubles doing so, if you can provide more information that would be great. Thanks! :)

[2021-10-18 23:37] hsimon-hashicorp commented on #12830
Thanks for that, @calvn! Hugely appreciated.

[2021-10-19 01:34] ajaysg94 commented on #12785
@hsimon-hashicorp I have tried the same flow with API too. It gives the same error.

[2021-10-19 18:06] #12039 closed

[2021-10-19 18:57] hsimon-hashicorp commented on #12304
Hi folks - we believe this may be a known issue that will be fixed in an upcoming release. Please see https://github.com/hashicorp/vault/pull/12646 for more.

[2021-10-19 19:28] oncilla commented on #11006
@vikramchhibber It looks like #11216 is finally progressing. :crossed_fingers: it will be part of a release soon.

[2021-10-19 21:11] #10806 closed

[2021-10-19 21:11] #12830 closed

[2021-10-20 09:17] qk4l opened #12878 "Cassandra backend: error=gocql: no hosts available in the pool"
**Describe the bug**
Vault do not restore connection with Cassandra nodes after there restart.
Then last of Cassandra node in cluster would restart Vault starts return 500 error
[code]

**To Reproduce**
Steps to reproduce the behavior:
1.Configure Vault to use Cassandra backend
2. Subsequence stop/start each Cassandra node in cluster based cluster availability
3. After last node stop Vault failed

[2021-10-20 13:26] davidducros opened #12882 "operator generate-root -decode: allow passing encoded token via stdin"
**Is your feature request related to a problem? Please describe.**
In our environment processes and their arguments are logged. Passing both the encoded token and the otp as command line arguments would allow anyone with access to these logs to decode our Vault root token.

**Describe the solution you'd like**
The solution proposed in #12881 allows passing the encoded token via stdin rather than a

[2021-10-20 16:01] hsimon-hashicorp commented on #12304
I verified with our engineering team that this issue has been resolved and will be available in the 1.8.4 release. Thanks for your patience!

[2021-10-20 23:43] aram535 commented on #12583
It does though, as I stated above, when the cert doesn't show trying to import the INT cert results in an unsigned certificate.