[2019-11-13 21:59] kalafut commented on #7874
@AndreasFolz I think a feature request is a good idea to capture the discussion. Having such flexibility to configure the region determination scheme (whether via a parameter, special value for region, etc.) is definitely worth consideration IMHO.

[2019-11-13 22:22] tyrannosaurus-becks commented on #7418
@martinssipenko my apologies, I have been tied up with a separate project and it looks like I will be in the upcoming time period. We are a small engineering team in relation to the number of issues that come in across the repositories we maintain. Vault PR's are welcome!

[2019-11-13 22:37] drawks commented on #7079
@jefferai it seems like you're dismissing this as infeasible based on one, flawed, design. Sure it would be slow (perhaps too slow) to read in every cert on deamnd in order to present a list with details. However, it would be very cheap to populate a hash keyed on the serials with the details of each certificate when the certs are first generated/stored and then in the ui give the user some displa

[2019-11-13 22:48] drawks commented on #7079
@Godwottery That should be totally doable entirely in the display layer, since all the information you care about is encoded in the cert and should be able to trivially be programatically access/rendered using javascript.

[2019-11-14 15:35] AndreasFolz commented on #7874
Okay, then I'm gonna close this issue and reopen a feature request. After that I'll link it!

[2019-11-14 15:35] #7874 closed

[2019-11-14 15:44] pgassmann commented on #7349
@kalafut @meirish did you find something more specific? You wrote, that it also affects more than OIDC. What else? Is there a workaround that we can apply? Can we help somehow by providing more information or try something?

[2019-11-14 18:44] mmzh commented on #111
why UI has that, and API, CMD don't.

[2019-11-14 21:57] jasonodonnell opened #7883 "Vault Agent Template not rendering all templates"
**Describe the bug**
Vault Agent Template is not rendering all templates before exiting when `exit_after_auth = true`.

**To Reproduce**

I have a script that recreates the issue: https://gist.githubusercontent.com/jasonodonnell/54654e4e76f102671d430b4107ea0fa0/raw/1d6d7bb593e05d92626ed3510230ee6424f395a5/template-bug.sh

You may need to run this multiple times to see the issue.

**Expected behavi

[2019-11-14 22:11] jasonodonnell commented on #7883
Agent log:

[code]

[2019-11-15 02:45] hongkongkiwi commented on #4273
Me too, this is pretty essential to using Vault in production.

[2019-11-15 07:12] itsecforu commented on #2038
How did u solve it?

[2019-11-15 07:24] meadowhuhu commented on #7722
Thank you very much, you are right,Vault only creates one. I add another two VaultOperations.read() in my  init process,I feel very sorry to disturb you

[2019-11-15 08:15] gitirabassi commented on #7790
Just verified and this was fixed with `1.3.0` release

[2019-11-15 08:15] #7790 closed

[2019-11-15 10:13] zilti commented on #6682
This is still a problem.

[2019-11-15 11:34] itsecforu opened #7886 "Vault Ui"
I deployd Vault into Kubernetes cluster on one node.

It seems ok, but i cant open ui:

``# vault status
Key             Value
---             -----
Seal Type       shamir
Initialized     true
Sealed          false
Total Shares    1
Threshold       1
Version         1.2.3
Cluster Name    vault-cluster-48775859
Cluster ID      06e091c8-2d1a-f61b-2609-cb6dc7cee052
HA Enabled      false ``

When i st

[2019-11-15 12:45] KristapsT commented on #7593
@mccurdyc my need for this came when I was starting to look at running Vault in Kubernetes using relatively recently released Helm chart for Vault. Since providing secret values to applications running in Kubernetes through environment variables is quite common, I was looking to do the same when configuring PostgreSQL backed of Vault.
I am not sure how Terraform would help in that particular case.

[2019-11-15 15:38] mfuxi commented on #5362
I'm facing the same issue as well, a workaround for this issue is to supply manually the secret path in the URL, like this:
`secret/list/foo`

[2019-11-15 17:35] jefferai commented on #7475
@the-maldridge remove the "replace" line in go.mod (or build from master as of some time yesterday). It seems that directive isn't needed anymore and causes problems with Go 1.13.

[2019-11-15 17:35] #7475 closed

[2019-11-15 19:19] dtm opened #7888 "Identity policy not applying with AWS IAM auth"
**Describe the bug**
Using AWS IAM for auth, a successfully authenticated token lacks the policy attached to the identity that the the token is an alias for.

**To Reproduce**
Steps to reproduce the behavior:
1. With AWS Auth configured:
[code]
2. And a suitable policy:
[code]
3. Create a IAM Role auth:
[code]
4. Having generated a token, use the token to login:
[code]
Note `identity_policies` is

[2019-11-15 19:24] cypherhat opened #7889 "Vault Agent Template doesn't use the -ca-cert setting"
**Describe the bug**

Vault agent template fails to recognize the `-ca-cert` option for vault. This causes template to fail with an `x509: certificate signed by unknown authority` _warning_.

**To Reproduce**

Steps to reproduce the behavior:

1. Demonstrate that Vault requires -ca-cert to be set using CLI:

**SHOW FAIL**

`$ vault status
Error checking seal status: Get https://localhost:8200/v1/s

[2019-11-15 20:15] johnataravir commented on #5944
I ran across this issue trying to do a test install of Vault on CentOS 8. None of the above helped, but after struggling with it for awhile, I remembered that SELinux likes to make things like this difficult. It's enabled by default on Cent 8, and disabling it did the trick.

[2019-11-16 10:32] hongkongkiwi commented on #4273
Thank you, I have found [one of them before](https://blog.sunekeller.dk/2019/03/vault-swarm-plugin-poc/) but I was turned off by the comment "proof of concept". It's a great start.... but not really something ready to use on a live server.

[The second link looks promising](https://gitlab.com/sirlatrom/docker-secretprovider-plugin-vault/) and the third one has no information or documentation (so I

[2019-11-16 10:53] far-blue opened #7892 "Provide a global setting to enforce a token helper or disable the default token helper"
**Is your feature request related to a problem? Please describe.**
I'd like to provide the vault cli client to my team in an environment where we use a shared admin login (using signed ssh keys) but I'd still want them to log into vault using their own details for auditing reasons. With the default token helper storing a token a disk different team members might end up using each other's credentia

[2019-11-16 18:33] sirlatrom commented on #4273
@hongkongkiwi Indeed, since it's something I implemented and will augment for in-house use, it is not a supported solution. We'd also much prefer an official plugin from HashiCorp.

Envconsul works fine depending on your secret structure. If you have a general pattern (i.e. global, environment specific and service specific layers with a well defined order of precedence), you'll have to make sure a

[2019-11-17 11:40] jboero opened #7893 "Vault MySQL credential read false negative fail."
![vaultmysqlissue](https://user-images.githubusercontent.com/7536012/69006933-93bcf000-092e-11ea-9b80-94ac82d3d6d3.gif)

I just spent a while troubleshooting why Vault (v 1.2.2) was suddenly unable to create dynamic MySQL creds.  I finally checked the database and found all my dynamic users even though Vault returns a MySQL error with each read.  See gif for more.  I can verify the vault:vaultpass

[2019-11-17 20:14] shibumi commented on #7863
Hi,
I can confirm this affects arch linux as well withInstalling/Updating golang.org/x/tools/cmd/goimports
# golang.org/x/tools/cmd/goimports
loadinternal: cannot find runtime/cgo
Installing/Updating github.com/elazarl/go-bindata-assetfs/...
# github.com/elazarl/go-bindata-assetfs/go-bindata-assetfs
loadinternal: cannot find runtime/cgo
Installing/Updating github.com/hashicorp/go-bindata/...
# git

[2019-11-17 22:08] melkorm commented on #6792
@bandesz @michelvocks Hey, can we actually reopen this as it was a mistake ?

[2019-11-18 03:27] sithuyeaung opened #7894 "Public Certificate CA manage by Vault"
Hashicorp Vault PKI rotation  (private certificate) is very powerfully and great. But I would like to request feature  for Public Certificate rotate by vault.

[2019-11-18 08:47] michelvocks commented on #6792
Hi @melkorm!

Yes. Sorry for the inconvenience!

Cheers,
Michel

[2019-11-18 08:51] michelvocks commented on #7894
Hi @sithuyeaung!

Thank you for your feature request! It would be quite helpful if you could provide a bit more context here.
E.g. what do you exactly mean with public certificate rotation? How should this work? What is the use-case behind this?

Cheers,
Michel

[2019-11-18 09:20] michelvocks commented on #7886
Hi @itsecforu!

Apparently, you try to start the Vault server inside a docker container where the server is already running?
Have you tried to just access the Vault UI via the container IP?

Cheers,
Michel

[2019-11-18 09:44] Lebvanih opened #7895 "Vault UI - Some secret are displayed as blank when clicking on the icon to reveal"
**Describe the bug**
Using the vault UI of Vault 1.3.0, if a key in a secret (kv2) contains a ".", the "copy" button doesn't work, and the "show" button show a blank value. Using the "json" toogle, allow to display properly the secret in json format and workaround the issue.

**To Reproduce**
Create a secret in KV2 with a "." in the key (such as root.password) and any value. Save then try to displ

[2019-11-18 09:52] tyrylu opened #7896 "Accessibility of the web interface auth method dropdown broken"
**Describe the bug**
When trying to select an authentication method in the web interface using NVDA in the latest Firefox, NVDA is not announcing the currently select auth method.

**To Reproduce**
1. Access the web interface using Firefox
2. Try to select an auth method with a screen reader
3. You have no idea what method you selected

**Expected behavior**
NVDA announces auth method dropdown cha

[2019-11-18 10:39] dtm commented on #7888
Further to this, I've realised that it is automatically creating an entity for me, and that the name is the `role_id` GUID. So if I do:
[code]
Then I'm able to see secrets as expected:
[code]

[2019-11-18 10:56] itsecforu commented on #7886
Hello! @michelvocks

Sure i tryied, but Unable to access this site

[2019-11-18 14:15] michelvocks commented on #7886
How did you start your Pod (e.g. Kubernetes service setup, Kubernetes deployment setup, etc.)? Is the Pod running? Have you tried to proxy your container service [to your localhost](https://kubernetes.io/docs/tasks/access-application-cluster/port-forward-access-application-cluster/)? What configuration did you use for your Vault server?

[2019-11-18 16:49] catsby commented on #3356
Hello - I'm going to close this issue now. The format is specified in the documentation:

- https://www.vaultproject.io/docs/audit/index.html#format

[2019-11-18 16:49] #3356 closed

[2019-11-18 17:01] remilapeyre commented on #4950
@mholt I've finally added support for the HTTP-01 and TLS-ALPN-01 challenges in https://github.com/remilapeyre/vault-acme/commit/6ac7a952d9f7d04354aa4ecc0cc2be963e7da411 so all basic functionality should now be present.

We are not using TLS-ALPN-01 and HTTP-01 in our infra so they are less tested than DNS-01. We've been using DNS-01 for a few weeks now without issues, except when we hit Let'sEncr

[2019-11-18 18:13] jktr commented on #7851
My Org seems to be hitting this issue as well.

Our Symptoms are identical: The browser-only OIDC flow in Firefox gets stuck in the pop up window, but with correct redirect and populated local storage as mentioned above. CLI login using Firefox works; Chrome works for both, too.

We're using a self-hosted GitLab instance as our OIDC Provider, so this issue probably isn't specific to google's OIDC

[2019-11-18 18:37] Kasama commented on #7851
I've just tested and could reproduce in version `v1.3.0`. I updated the original post to reflect this version

[2019-11-18 20:55] MariaBLee commented on #7834
I'm running into the same issue but with mysql-database-plugin

[2019-11-18 20:55] catsby commented on #7790
Thanks for the follow-up!

[2019-11-18 22:26] Aracki commented on #2912
This is still an issue..

[2019-11-18 23:33] heri16 commented on #4950
Looking forward to support for more DNS providers.

[2019-11-19 06:55] itsecforu commented on #7886
Pod is working. Service is working.

pod config:
``{
  "kind": "Pod",
  "apiVersion": "v1",
  "metadata": {
    "name": "vault-6cbbc5474d-hkmzp",
    "generateName": "vault-6cbbc5474d-",
    "namespace": "default",
    "selfLink": "/api/v1/namespaces/default/pods/vault-6cbbc5474d-hkmzp",
    "uid": "5f46a701-a069-4246-9135-d45eaa15f139",
    "resourceVersion": "4944494",
    "creationTimestamp": "

[2019-11-19 08:59] michelvocks commented on #7886
Hi @itsecforu!

It would be helpful if you could also answer my other questions. I assume that Vault is running fine but you are somehow unable to access the UI because of the Kubernetes traffic routing. Please make sure that you are able to proxy the Vault traffic to your localhost and also validate the Service configuration.

Cheers,
Michel

[2019-11-19 09:02] remilapeyre commented on #4950
All DNS providers supported by Lego are supported, I need to document this, you can look at the list at https://www.terraform.io/docs/providers/acme/dns_providers/index.html. So far it's only possible to use environment variables for the credentials.

If you are using a provider not yet configured, adding it to go-acme/lego would be the path forward.

[2019-11-19 10:36] yeshu044 commented on #1147
thank you guys
for your answers...

[2019-11-19 10:55] itsecforu commented on #7886
I just used this tutorial -> https://www.vaultproject.io/docs/platform/k8s/run.html. I didnt make special settings with proxy, but other applications work correctly out of the box, that is, I see them and work with them in the browser.

[2019-11-19 11:45] heri16 commented on #4950
Not sure how the environment variables are passed into vault. The relevant document is here?

https://github.com/remilapeyre/vault-acme/blob/master/website/source/docs/secrets/acme/index.html.md

[2019-11-19 12:35] michelvocks commented on #7886
You need to setup a proxy since by default the service is not configured to route traffic to Vault's UI. See https://www.vaultproject.io/docs/platform/k8s/run.html#viewing-the-vault-ui for more information.

[2019-11-19 12:58] remilapeyre commented on #4950
Vault's environment variables are given to the plugin, so it depends on the way you are running them but doing `export AKAMAI_ACCESS_TOKEN=...` before running Vault, using `AKAMAI_ACCESS_TOKEN=... vault server -config-file=vault.hcl` or `docker run -e AKAMAI_ACCESS_TOKEN=... vault` should work.

[2019-11-19 13:21] itsecforu commented on #7886
you sent the same guide as I did :-)
I dont see there a word about the proxy

[2019-11-19 14:48] michelvocks commented on #7886
If you click on the link you you will be directly redirected to the right paragraph called `Viewing the Vault UI`. There it is mentioned how to setup a port-forward.

[2019-11-19 15:06] balusarakesh opened #7903 "v1/sys/metrics endpoint doesn't work with format=prometheus parameter"
**Describe the bug**
I'm trying to monitor vault with prometheus-operator. When I make a request to the endpoint `/v1/sys/metrics?format=prometheus` I get `err="server returned HTTP status 400 Bad Request"`
According to the documentation https://www.vaultproject.io/docs/configuration/telemetry.html I'm specifying the format parameter in my serviceMonitor.yaml like this
[code]

**To Reproduce**
I f

[2019-11-19 15:26] michelvocks commented on #7903
Hi @balusarakesh!

By default, Prometheus metrics are disabled. Have you tried to enable them?
Adding the lines below to your Vault configuration should do the trick.

[code]

Cheers,
Michel

[2019-11-19 16:23] fabi-alstom commented on #582
I know this thread is old, but... even Vault is an awesome product, this thread makes sense. Today I've spent the whole morning making this work. I've followed the official tutorial, and I've read the docs. However, I had to come here and use the @alexandruast solution. Now diffing, I see stupid mistakes on my part (we're running all the time), that a proper example could avoid doing.

Some ideas:

[2019-11-19 17:12] balusarakesh commented on #7903
@michelvocks
I've updated the vault config to the following and I still get the same error `wget: server returned error: HTTP/1.1 400 Bad Request`
[code]

[2019-11-19 19:29] trodemaster opened #7905 "Store user specified values in kv v2 secrets metadata"
**Is your feature request related to a problem? Please describe.**
We want to add custom metadata to kv v2 secrets for auditing and reporting purposes. Storing these values with the metadata allows us to grant access to them separately from the secret data itself.

**Describe the solution you'd like**
Create a new metadata attribute that accepts a map. The first example shows the data we would lik

[2019-11-19 21:25] catsby commented on #7905
Similar feature request to https://github.com/hashicorp/vault/issues/1893

[2019-11-19 21:54] tonglil opened #7906 "Vault autocomplete is choking on secret mounts depper than 1 level"
**Describe the bug**
The vault autocomplete does not seem to be able to autocomplete when `secrets` are mounted with a `/` in the path, but is not an actual "path".

I'm not fluent enough to make any changes in what seems to be [the source here](https://github.com/hashicorp/vault/blob/master/command/base_predict.go#L222).

**To Reproduce**
Setup:
[code]

**Expected behavior**
Working:
[code]

Not

[2019-11-19 22:22] catsby commented on #7288
Hello there! Would it be possible to trim the trailing characters in your code before attempting to use the token? Something like `token = strings.TrimSuffix(token, "\n")`?

On the surface, it's really simple to add that to Vault's code and do it for you. At the same time, I'm hesitant to introduce code that modifies a users Token input in an attempt to the token valid. I would prefer Vault not mo

[2019-11-19 22:43] narayan-iyengar commented on #7604
@PumpkinSeed What performance enhancements are you trying to get from an RPC based protocol
What areas of the API are you looking to get performance enhancements in?
Trying to figure out if we can make our http api perform better as opposed to implementing a whole new protocol.

[2019-11-19 23:50] tecnobrat commented on #6046
Right now we believe our workaround is:

- backup our consul
- restore it
- set `seal.awskms.disabled: true`
- launch vault, connected to restored consul
- run `vault operator unseal -migrate` -- multiple times, passing in the recovery keys
- take another backup of consul

We now have a consul backup that is not sealed using KMS and can be unsealed with the recovery keys.

Then we:
- Restore consu

[2019-11-20 01:28] rvandegrift opened #7910 "GCP secrets: please support issuing keys/tokens for static service accounts"
**Feature request**
I'd like a way to have vault issue keys/tokens for service accounts created outside of vault.

The GCP roleset concept is really cool, but it isn't always ideal.  Some examples:

1. Sometimes I may not be able to accommodate a changing service account.  For instance, the service account may need to be used in a third-party's IAM policy.  Any updates to the roleset will cause va

[2019-11-20 02:47] wongkafai opened #7911 "Error in MS SQL about static-roles"
Does the feature of static-roles support MS SQL
Is there an example?

[2019-11-20 02:50] wongkafai commented on #7911
![2](https://user-images.githubusercontent.com/8857387/69204973-8fd5db80-0b83-11ea-8da6-3d3256e4e551.PNG)

[2019-11-20 02:51] chrishoffman commented on #7910
Can you please reopen this request in https://github.com/hashicorp/vault-plugin-secrets-gcp.

[2019-11-20 02:51] #7910 closed

[2019-11-20 03:20] jefferai commented on #7288
Additionally using "echo -n" would work around this in the first place.

[2019-11-20 07:48] dr4Ke opened #7912 "vault ssh: fix interpretation of usernames"
**Describe the bug**
It seems that some OS allows spaces in usernames. Apparently, you can use this openssh syntax: `ssh -o 'User="my user"' hostname`. I'd say that the openssh behavior is bad: the double quotes MUST be present, otherwise it fails:
[code]
But we need to use this syntax.
However, the `vault ssh` command wants to generate a certificate for user `"my user"` instead of `my user`. And

[2019-11-20 08:04] michelvocks commented on #7903
Did you restart your Vault instance? The change should be active after a restart.

Also, is it possible to use curl instead of wget? It should print out the returned error message:
`curl -v -H 'X-Vault-Token: <token>' http://127.0.0.1:8200/v1/sys/metrics\?format=prometheus`

[2019-11-20 08:16] tormath1 commented on #7288
Hi there,

Yes it totally makes sense to not "modify" the token. However, we could add a more explicit error message ?
The user should not need to lookup in the source code to find out this error trigger :/

[2019-11-20 10:51] itsecforu commented on #7886
I did it: `` kubectl port-forward vault-6cbbc5474d-hkmzp 8200:8200
Forwarding from 127.0.0.1:8200 -> 8200
Forwarding from [::1]:8200 -> 8200``

but pod works at another node, not master, do I need to change address?

[2019-11-20 11:13] dunkelbunt1 opened #7914 "Feedback on the UI in Vault when a sentinel policy rejects it."
Let's assume that I currently have a Vault server set up and a sentinel policy configured ,which restricts certain values  i.e.
if a key is named password the value needs to match minimum 3 out of 5 criterias.
If I now login via the UI and try to save the secret which does not match the criterias, I don't get any feedback on the UI. In order to see why it didn't let me safe the password I have to

[2019-11-20 11:32] fcgravalos commented on #7364
`secrets-manager` v1.0.2 stable release. Nampesace restriction is included in this release.

https://github.com/tuenti/secrets-manager/releases/tag/v1.0.2

[2019-11-20 12:18] adongy opened #7915 "Vault SSH backend: Cannot have '@' symbol in path"
**Is your feature request related to a problem? Please describe.**
I'm trying to deploy a ssh role per identity. It turns out my identifier is an email.
When creating a role with the '@' symbol in it, Vault complains about the path.

[code]

**Describe the solution you'd like**
I'd like Vault to accept the @ character

**Describe alternatives you've considered**
I could try to replace the characte

[2019-11-20 12:32] PumpkinSeed commented on #7604
Firstly thanks for the answer and talking about this decision.
I mean I would like to have something like a gRPC+Protobuf capabilities to talk with Vault instead HTTP+JSON. Since the RPC using a reusable connection of TCP also it's proven [gRPC much faster compared with HTTP](https://dev.to/plutov/benchmarking-grpc-and-rest-in-go-565). Also there is examples there like [Dgraph](https://github.com/

[2019-11-20 17:13] balusarakesh commented on #7903
it works when the header is `X-Vault-Token:`

[2019-11-20 17:32] balusarakesh commented on #7903
it started working today, not sure what changed

[2019-11-20 17:32] balusarakesh commented on #7903
we are still looking into it

[2019-11-20 17:38] balusarakesh commented on #7903
re-building the cluster seems to have fixed the issue

[2019-11-20 17:38] #7903 closed

[2019-11-20 20:39] #7883 closed

[2019-11-20 21:33] catsby commented on #7883
Fixed in https://github.com/hashicorp/vault/pull/7899

[2019-11-20 23:40] noelledaley commented on #7895
Hey there! Thanks for catching this bug. I've added it to our queue. Stay tuned for a fix!

[2019-11-20 23:56] noelledaley commented on #7896
Hi there! Thanks so much for filing this issue. It looks like this bug is a problem with other screen readers too. I've added it to our queue.

[2019-11-21 02:37] mterron opened #7919 "Panic when trying to use raft storage for the first time"
**Describe the bug**
When trying to start `vault` with the raft storage backend for the first time it panics with:
[code]
**To Reproduce**
Steps to reproduce the behavior:
[code]

**Expected behavior**
Vault starts up

**Environment:**
* Vault Server Version (retrieve with `vault status`): 1.3.0
* Vault CLI Version (retrieve with `vault version`): 1.3.0
* Server Operating System/Architecture: linu

[2019-11-21 02:40] mikelitka commented on #7606
I see a lot of value to this request. Being able to map the IAM user to the user who originally requested it without having to parse logs would be really beneficial. I see value going in the other direction as well, being able to tag the IAM user with metadata to help identify the user or application that originally generated it would help expose this to other audit and reporting tooling that is g

[2019-11-21 03:09] mterron commented on #7919
It'd be even better if you did something similar to what Consul does and generate a `node_id` if one is not provided. See https://github.com/hashicorp/consul/issues/2877

[2019-11-21 09:54] tyrylu commented on #7896
Thank you. I have no idea about the exact cause yet, but it'll be something javascript related, e. g. the HTML looks just as you would expect for a select and it is not some weird style related interaction either.

[2019-11-21 16:20] ls-devon-hakel-kinko commented on #111
I would also like to know. This is supported natively by other secret managers like AWS SSM parameter store.

[2019-11-21 17:04] briankassouf commented on #7919
Hi @mterron,

We do indeed generate a `node_id` value if one is not configured:
https://github.com/hashicorp/vault/blob/0b103335d5feb1d776d28bac7ca91c53c124609a/physical/raft/raft.go#L200-L213

If you look in `/tmp/data/storage/` you should see a file named `node-id`.

This panic seems like a corruption of your boltdb file. Could you provide a little more history about this node? Did it panic the

[2019-11-21 19:34] mterron commented on #7919
@briankassouf My description was misleading, I know found that even when providing `node_id` it fails the same way.  It seems that it fails to start the first time, I'll update the description.

Here are the steps to reproduce:

[code]

Now the next time you run it, it does fail gracefully with
[code]

[2019-11-21 23:12] identitymonk commented on #5001
Hi,

Got the exact same issue. Client cert and Client key are PEM encoded and not encrypted. Still.

I ensured that my TLS protected API endpoint certificate can be resolved thanks to `export VAULT_CACERT=/home/ca-bundle.pem` but this does not change anything.

The error message s far from being exhaustive as the client cert is effectively correctly provided through -client-cert=client.pem.

Any i

[2019-11-21 23:34] tyrannosaurus-becks commented on #7418
@hamishforbes and/or @martinssipenko, I had the opportunity to circle back around and work on this. Would either of you be able to confirm this fixes it for you by pulling the branch, and running [this test](https://github.com/hashicorp/vault/pull/7922/files#diff-ea9d76449a0aa474633943d3bcd15c4bR991-R992)? Just will need to comment out the skip, and past a real arn in [here](https://github.com/has

[2019-11-22 07:11] itsecforu commented on #7886
![1](https://user-images.githubusercontent.com/38696837/69342750-48cc1100-0c7d-11ea-83e6-14978f63784c.png)

But i havent LISTEN port on my node :-(

[2019-11-22 09:14] michelvocks commented on #7886
Hi @itsecforu!

It seems to me that this is not an issue related to Vault but it is more a question regarding your Kubernetes setup.
Since GitHub issues should be reserved for Vault bugs/feature requests, I recommend asking this question again via our [Discussion Forum](https://discuss.hashicorp.com/c/vault) or our [mailing list](https://groups.google.com/forum/#!forum/vault-tool).

I hope you don

[2019-11-22 09:14] #7886 closed

[2019-11-22 11:23] jboero commented on #7893
Update on this - still present in 1.3.

[2019-11-22 11:58] mccurdyc commented on #7593
@KristapsT you are correct. I apologize for the confusion. I am working on automated tests and manually testing my change with the Vault helm chart now. Thank you for your patience!

[2019-11-22 14:20] fischerman opened #7923 "ca-cert: Inconsistent behavior with env var and cli arg"
**Describe the bug**
I would have expected that `-ca-cert` and `VAULT_CACERT` behave the same. However, if the certificate does not exists `-ca-cert` simply ignores it while `VAULT_CACERT` returns with an error.

**To Reproduce**
Steps to reproduce the behavior:
1. Run `VAULT_CACERT=not_found vault operator init`
2. Run `vault operator init -ca-cert not_found`
3. See different outputs

**Expected

[2019-11-22 15:38] lcgkm opened #7924 "AWS EC2 Instance Metadata Service V2 support"
https://aws.amazon.com/blogs/security/defense-in-depth-open-firewalls-reverse-proxies-ssrf-vulnerabilities-ec2-instance-metadata-service/

[2019-11-22 15:57] devhopsde opened #7925 "API Explorer is removing "\n" in Curl Output Field"
**Describe the bug**
When using the api-explorer, "\n" get deleted in the Curl output field. Because of this it is not possible to copy the content of the curl field and rerun it in any shell.

**To Reproduce**
Steps to reproduce the behavior:
- generate a pki secret engine
- open api explorer in ui
- go to "[POST] <your pki secret engine>/sign/{role}"
- use a request body like this: (\n is used b

[2019-11-22 16:57] kalafut commented on #7851
Interesting. I use Firefox (on MacOS) as my daily browser and am not seeing this. I typically test OIDC against a Gitlab account. Some misc questions (for either of you):

* Does Safe Mode (https://support.mozilla.org/en-US/kb/troubleshoot-firefox-issues-using-safe-mode) behave any differently?
* Are things stuck on the way out to the provider (i.e. you never see the Gitlab/Google screen), or on t

[2019-11-22 17:13] silverbp commented on #712
or...

use a wrapper script called 'vault' that is in your path and uses docker..

[code]

from a devops standpoint, we are just trying to have a bin repository of executable scripts like the above that a new devops person clones down and then installs docker.

once you install docker and it does the initial pull of the image, you don't even know it's running in docker from a usability standpoint

[2019-11-22 18:17] Kasama commented on #7851
Indeed! In safe mode the redirect flow works fine.

Knowing that, I've tried disabling my extensions one by one and have narrowed it down to [Stylus](https://github.com/openstyles/stylus). Installing this same extension on chrome gives the exact same problem.

As for the other questions:

They get stuck on the way back from the provider, after login

It does not matter, it gets stuck either way.

[2019-11-22 18:52] kalafut commented on #7851
@Kasama Nice! Yep, I see the issue too if I install Stylus.

[2019-11-22 19:12] #7895 closed

[2019-11-22 19:22] noelledaley commented on #7895
Fixed! This will be included in our next release. Thanks again for bringing this to our attention!

[2019-11-22 20:42] narayan-iyengar commented on #7604
Apologies for the late response. I will definitely take this up internally and see what the Vault engineers have to say. We have discussed this in the past but it's a big task that will have to be planned for and roadmapped. Will keep this issue posted. thanks again for your feedback.

[2019-11-22 22:01] hixichen opened #7928 "Correct the name and labels when report metrics to stackdriver"
**Current issue**
vault 1.3 has the feature to report metrics directly to stackdriver.

But it has issue with current code implementation.

Right now, it created a metrics descriptor every time when send the metrics data,  without set the labels. And, the metric on stackdriver looks as below:
[code]

Note:  https://cloud.google.com/monitoring/quotas
[code]
With current code,  vault can easily have

[2019-11-22 22:17] Kasama commented on #7851
I've found the culprit!

A polyfill of Stylus somewhere calls [sets a value](https://github.com/openstyles/stylus/blob/master/js/polyfill.js#L57) to the localStorage to validate if it exists, which triggers a [`StorageEvent`](https://developer.mozilla.org/en-US/docs/Web/API/StorageEvent) that vault is [listening to](https://github.com/hashicorp/vault/blob/master/ui/app/components/auth-jwt.js#L87).

[2019-11-22 22:29] Kasama commented on #7851
I've also updated the original post and title to reflect the root problem

[2019-11-22 22:33] catsby commented on #7495
Hello - I'm sorry we haven't been able to help you here. Unfortunately I too tried to reproduce this with vault `v1.0.1` and can't reproduce the bug as described. I'm going to close this issue for now, but if you have more information please let us know.

Thanks!

[2019-11-22 22:33] #7495 closed

[2019-11-22 22:39] hixichen commented on #7928
**what if you already using it?**
Rollback your vault deployment, stop send new metrics data.
And, use my script to delete them all.

./delete.sh myprojectid

[code]

[2019-11-22 22:56] jktr commented on #7851
@Kasama: Yep, this seems to have been the issue on my end as well. It just so happened that I and affected colleagues reported issues had Stylus installed.

Thanks for taking the time to further investigate the issue!

[2019-11-23 00:08] jefferai commented on #7928
@tam7t of interest to you probably

[2019-11-23 00:19] tam7t commented on #7928
Ack I'll take a look.

[2019-11-23 01:53] tam7t commented on #7928
The opencensus exporter has a [1:1 mapping](https://github.com/census-ecosystem/opencensus-go-exporter-stackdriver/blob/59d068f8d8ff5b653916aa30cdc4e13c7f15d56e/stats.go#L559-L564) between a 'view' and a stackdriver `MetricDescriptor`. This is similar to go-metric's `key`, so I'm not sure that moving more parameters to labels (which go-metric supports but is an open issue here #5326).

I'm curious

[2019-11-23 02:03] hixichen commented on #7928
- disable_hostname was set to true.
- we are not running in k8s.

Assume: Our Vault had **X**  namespace, each namespace had 4 KV mounts, the identity mount, the cubbyhole mount, and 2 Auth mounts = 8 mounts.

X * 8 =  8X  mounts.

Each mount tried to create the following custom metric descriptors.
[code]

That is **40X** custom metric descriptors.

what if X is larger than 15? or 20?

[2019-11-23 02:03] tam7t commented on #7928
Ah, it looks like the request router also include the [mount name in the metric name](https://github.com/hashicorp/vault/blob/b2aeb52d111cd82a73ce6698508f3365402abdbe/vault/router.go#L507-L508), so I could see that also resulting in ~10 metrics per mount.

[2019-11-23 11:51] PumpkinSeed commented on #7604
No worries, not an easy thing what I'm asking for so take your time, also I would be happy to contribute to it.

[2019-11-23 16:38] jefferai commented on #7604
This is an absolutely enormous lift with a bunch of issues. But I also don't think it's really necessary. That blog post you're looking at is inconsistent with the README in the repo that it links to (https://github.com/plutov/benchmark-grpc-protobuf-vs-http-json#results), which actually shows that HTTP+JSON is faster. One of the comments on the blog post ran the test and got the same result, with

[2019-11-23 16:42] jefferai commented on #7592
If the user can pile on 200 subdomains in a single request, what's the logical difference between supporting * and supporting those 200 subdomains?

Just trying to understand the use case.

[2019-11-23 16:43] jefferai commented on #7447
Generally we suggest treating these keys as any other autogenerated passphrase -- put them in a password manager.

[2019-11-23 16:44] jefferai commented on #7440
Approle isn't a KV backend, so `vault kv <anything>` won't work. It's _specific_ to KV mounts, of either version 1 or 2.

[2019-11-23 16:44] #7440 closed

[2019-11-23 16:49] jefferai commented on #7471
Wouldn't setting HealthCheckProtocol to `HTTPS` fix this problem?

[2019-11-23 16:50] jefferai commented on #7367
Since we load all leases at startup we could keep an index that could be used for this.

[2019-11-23 18:20] xorhash commented on #5835
I happen to have run into a similar use case myself recently, perhaps this can shed more light onto why this is useful: I've got a scenario in which I have key material that I need to send over a semi-trusted connection to be handled by a trusted component.

Consider a Vault instance that holds an X25519 secret key. It is used to derive keys with external, semi-trusted clients.

Each client is equ

[2019-11-23 19:11] forty commented on #7471
Isn't it already the case ? (see terraform config above)

[2019-11-24 00:26] jefferai commented on #5835
The problem with this scenario tends to be one of storage and identification. You need some way to tie the server's key with either the client's key or the client itself, perhaps by storing a key for a client as metadata in the client's Identity info. IOW it's not a question of utility, it's a question of scaling.

I think that since this issue was opened there is now a decent way forward: key der

[2019-11-24 00:54] jefferai commented on #7471
Maybe? Worth checking on AWS console probably.

[2019-11-24 02:08] lcgkm commented on #7924
https://github.com/terraform-providers/terraform-provider-aws/issues/10949

[2019-11-24 02:19] lcgkm commented on #7924
The latest aws-sdk-go use IMDSv2, we can migrate to IMDSv2 by upgrading aws-sdk-go.
https://github.com/aws/aws-sdk-go/blob/master/CHANGELOG.md#release-v12538-2019-11-19
https://github.com/aws/aws-sdk-go/pull/2958/files

[2019-11-24 09:47] juliantaylor commented on #7440
sure but if `sys/internal/ui/mounts` works on auth paths it would simplify writing api clients and also make kv get work on the auth paths so you don't need to always check which command you need for which path.

[2019-11-24 16:45] sithuyeaung commented on #7894
1.> Hashicorp vault PKI dynamic tls key rotation is very convenience and useful on Devops  environment ( with certmanger) or webserver (with consul template ) whatever.

2.> Behind use-case , upload ssl certificate that multiple wildcard ssl certificate which singed form public ssl provider or  whatever ssl , vault will sync or rotate using vault authentication with approle or token.

[2019-11-25 00:58] joelthompson commented on #7924
I think this is a good and necessary thing for Vault to do. However beware that this can actually cause breaking changes for clients that are running in Docker containers. See, e.g., https://github.com/boto/botocore/issues/1892#issuecomment-555774288

[2019-11-25 03:29] shwuandwing commented on #7928
It is very desirable if the number of metric descriptors does not have a linear relationship with the number of mounts or namespaces.

[2019-11-25 06:18] martinssipenko commented on #7418
I created a user with admin policy, exported it's keys and ran the below.

[code]

[2019-11-25 08:41] wongkafai opened #7930 "approle problem"
1.1 What is a trusted entity for approle Advanced Features
1.2 Trusted entity is Microservice ?
1.3 What is the difference between trusted entity and trusted entity - Configurstion Management or Orchestrator?
1.4 Is there an example?
   https://learn.hashicorp.com/vault/identity-access-management/iam-authentication#advanced-features

2.1For Advanced Features and token bound cidrs in approles, whic

[2019-11-25 08:51] PumpkinSeed commented on #7604
Thank you for the detailed answer.
We have an api.Client global variable on top of the package, we are reusing this for our calls toward to Vault.
Also I hacked an RPC server into the `http/handler.go` which serves the same functionality as the `/v1/sys/health` does. So calling the `getSysHealth(...)` function and wrap up the same response. Just to make sure I'm correct [there is the code](https:/

[2019-11-25 08:51] #7604 closed

[2019-11-25 10:48] LBoraz commented on #3388
so how to solve this?

[2019-11-25 12:59] ccakes commented on #7723
@kalafut apologies for resurrecting an old issue here

The docs for `user_claim` says that it's for uniquely identifying the user, an email can't really do that. For OIDC-type authentication the `sub` claim really should be used here.

Maybe a specific metadata key could be shown if populated on the entity list for administrators/UI users? I'd also like something like this

[2019-11-25 14:10] michelvocks commented on #7930
Hi @wongkafai!

I assume your questions are referring to the learning guide you mentioned (https://learn.hashicorp.com/vault/identity-access-management/iam-authentication#advanced-features), right?

Like in the figure displayed usually the trusted entity is an external orchestrator (for example Nomad or Kubernetes), a Configuration Management solution (Chef, Ansible etc.) or provisioning solution

[2019-11-25 15:42] kalafut commented on #7723
@ccakes So I'm clear, are you referring to a UI change for special handling of certain metadata keys in general (e.g. hoisting them to the entity list page), and not something that is specifically OIDC related?

[2019-11-25 15:47] semrov opened #7931 "Support for etcd 3.4"
**Is your feature request related to a problem? Please describe.**
Hashicorp Vault 1.3.0 can't connect to Etcd storage backend if Etcd version is 3.4.x.

**Describe the solution you'd like**
Add support for Etcd version 3.4 as a storage backend.

**Additional context**
Error message from my case:
`“vault: Error initializing storage of type etcd: failed to check etcd status: client: response is inv

[2019-11-25 16:51] ccakes commented on #7723
@kalafut Yeah, pretty much. It’d be super nice to have something human readable there and it’s already possible to map arbitrary claims into the entity metadata.

Email addresses aren’t great as a unique ID as they can often change in the underlying IdP (people change their name due to marriage or other reasons etc)

[2019-11-25 17:08] kalafut commented on #7723
@ccakes Got it. Would you mind opening a new issue for this UI enhancement, linking back to this issue? It will be easier to manage that way.

[2019-11-25 19:35] ccakes opened #7933 "OIDC auth - customise entity names"
**Is your feature request related to a problem? Please describe.**
Follow on from the discussion at the end of https://github.com/hashicorp/vault/issues/7723

OIDC providers *generally* should use the `sub` claim to uniquely identify the user, so when using the OIDC auth method with Vault it makes sense to use that for the [`user_claim`](https://www.vaultproject.io/api/auth/jwt/index.html#user_cla

[2019-11-25 22:58] joelthompson commented on #7924
I've submitted a PR to update to the latest aws-sdk-go in #7458 though I haven't fully tested that it actually uses the IMDSv2.

[2019-11-26 09:18] fischerman opened #7936 "Prometheus Content-Type negotiation"
**Is your feature request related to a problem? Please describe.**
Scraping Prometheus metrics requires the query parameter `?format=prometheus`. In a Kubernetes setup, scraping endpoints tend be discovered using pod annotations (e.g. `prometheus.io/path`), however an annotation for parameters is not very common (`?` is escaped properly by Prometheus, so parameters cannot be provided in the path).

[2019-11-26 23:05] drawks commented on #6852
This ambiguous return behavior is present in a number of places where there is a `POST` endpoint that can either create or update. The result of the operation will either 204 and return empty if an update operation is being done against and existing object OR a 200 and a partial object representation will be returned.

This is really a maddening behavior as any clients working with these API objec

[2019-11-27 11:23] ludmanl opened #7941 "Vault server with PostgresSQL backend, ui can't reachable"
Hi all,

I want to run Vault server with postgres backend and when i spin up the container from docker-compose, i can't reach the ui, because i got connection refused.

Relevant info from docker-compose.yml:
    _db_host:
        container_name: postgres
        image: postgres/docker
        build:
            context: postgresql
        ports:
            - "5432:5432"
        environment:

[2019-11-27 14:38] gabyfulchic opened #7942 "Bug Vault UI - can't choose sign in method from Safari"
**Describe the bug**
The bug is a 400 bad request when reaching "method" on the vault sign-in page.
But only when using Safari.

**To Reproduce**
Steps to reproduce the behavior:
1. Go to vault url
2. Go to sign in "methods"
3. And see in the console the "400 bad request"

**Expected behavior**
Normally you can choose to sign in by token, ldap, github etc ...

**Environment:**
* Vault Server Versi

[2019-11-27 15:51] zdevi opened #7943 "Vault login Impossible"
Hello, since vault binary v1.3.0 i canot login to vault clusters (vault server 1.2.3).

Steps to reproduce the behavior:
1. Run `vault login $TOKEN`
Error authenticating: error looking up token: invalid character '<' looking for beginning of value

Same error if $TOKEN is empty.

$VAULT_ADDR value is correct, also i am able to login via HTTP.

[2019-11-27 16:28] isbric opened #7945 "Changelog in tag v1.3.0 missleading"
Please se my pr https://github.com/hashicorp/vault/pull/7944
Had to close the pr because i couldn't figure out if or where it could be merged.

[2019-11-27 17:01] zdevi commented on #7943
Nevermind, someone activated https and i was reaching it through http.

[2019-11-27 17:01] #7943 closed

[2019-11-27 17:03] jefferai commented on #7945
Changelog is only up to date in master. We often need to fix or add things after the fact. That's why our release information links to the appropriate heading in the master branch, not the tag.

[2019-11-27 17:03] #7945 closed

[2019-11-27 21:50] yuanmwang-wf commented on #7349
We hit the same issue in our set up. We discovered the issue was because after users are logged in via oidc, their self renew token requests were getting `policy:null` back and the UI is having a hard time when checking if the user is root.

Example response from vault server:
[code]

In our setup we don't pass any token_policies to the oidc auth backend role, all users' policies were added throug

[2019-11-27 22:22] Nagarajuwas opened #7946 "Vault API explorer is returning as Failed to load API definition error message"
while opening vault API explorer on vault UI it is returning the below error message. I am not using the root permissions and I am using custom role. So kindly suggest me any policy needs to be added to the custom role.

Error message:
Errors
Hide

Fetch errorundefined /v1/sys/internal/specs/openapi

[2019-11-28 05:13] jweissig opened #7947 "Missing documentation for sys/internal/counters"
**Describe the bug**
PR #7541 added new endpoints `sys/internal/counters/tokens` and `sys/internal/counters/entities` under `sys/internal/counters` but the corresponding documentation is missing from the [System Backend](https://www.vaultproject.io/api/system/index.html) area. This went live with Vault 1.3.

**To Reproduce**
Steps to reproduce the behavior:
1. Visit the [System Backend](https://ww

[2019-11-28 05:22] jweissig opened #7948 "Missing documentation for KMIP operation_register"
**Describe the bug**
Vault 1.3 Enterprise supports the KMIP operation called `operation_register`. But, the corresponding documentation is missing from the [KMIP Secrets Engine](https://www.vaultproject.io/docs/secrets/kmip/index.html) and [KMIP Secrets Engine (API)](https://www.vaultproject.io/api/secret/kmip/index.html) pages.

**To Reproduce**
Steps to reproduce the behavior:
1. Visit [KMIP Sec

[2019-11-28 05:26] yura-shutkin opened #7949 "Web UI default auth backend is other"
**Describe the bug**
Since 1.3.0, if you have listed backends for unauthorized users, by default selected auth backend is other

![Screenshot from 2019-11-28 10-16-38](https://user-images.githubusercontent.com/8489762/69779087-9b9b5080-11c8-11ea-805a-ce1c53014d19.png)

Before 1.3.0 it was ldap, userpass, github, etc.

![Screenshot from 2019-11-28 10-19-12](https://user-images.githubusercontent.com

[2019-11-28 05:29] jefferai commented on #7947
We don't usually document internal endpoints as we don't want others to use/rely on them. I'm not sure why two of them are documented.

[2019-11-28 05:29] jefferai commented on #7946
What version of Vault?

[2019-11-28 05:30] jweissig commented on #7947
Cool, thanks Jeff. I'll just close this then. Thank for the heads up.

[2019-11-28 05:30] #7947 closed

[2019-11-28 11:11] #7941 closed

[2019-11-28 11:11] ludmanl commented on #7941
Migrated the issue to https://github.com/hashicorp/docker-vault

[2019-11-28 13:23] sithuyeaung opened #7951 "Azure Mysql dbpassword rotation failed"
I try to test db password rotation as per procedure( https://www.vaultproject.io/docs/secrets/databases/mysql-maria.html) all are done for local server.

But Hashicrop vault didn't work with azure mysql db and occur following error
 (error creating database object: error verifying connection: Error 1045: Access denied for user 'azuredbadmin'@'x.x.x.x' (using password: YES) )

[2019-11-28 13:41] bardagadvergur commented on #7911
Following this as it's a feature very much needed.

[2019-11-28 17:42] tam7t commented on #7928
I've created https://github.com/google/go-metrics-stackdriver/pull/3 as one strategy to address this by adding an interface to allow for extracting labels from metric names and a function to do metric mapping for the current metrics in vault specifically.

[2019-11-29 03:46] sithuyeaung commented on #7951
I am found the another solution that is follow this procedure ;
https://www.vaultproject.io/docs/secrets/databases/mysql-maria.html and after your generate by vautl
Login to mysql:
mysql -u vaultxxxxx@azure-mysql -h azure-mysql.mysql.database.azure.com -p

[2019-11-29 03:47] #7951 closed

[2019-11-29 09:52] Nagarajuwas commented on #7946
Vault version is  1.3.0. If I log in with root token I am able to use API explore. But if I log in with custom admin role it is showing the above error messages.

[2019-11-29 11:00] petersutty commented on #5620
seeing similar issue:
Nov 29 10:36:57 spvault03 vault[926]: {"level":"warn","ts":"2019-11-29T10:36:57.589Z","caller":"clientv3/retry_interceptor.go:60","msg":"retrying of unary invoker failed","target":"endpoint://client-433306e2-8dbe-4400-b6eb-4cd13b6f4507/127.0.0.1:2379","attempt":0,"error":"rpc error: code = DeadlineExceeded desc = context deadline exceeded"}
Nov 29 10:36:57 spvault03 vault[926

[2019-11-29 14:40] trondiz opened #7952 "Unable to migrate seal configuration away from AWS KMS"
**Describe the bug**
I am unable to migrate away from awskms seal type if vault was initialized with the awskms seal configuration originally.

**To Reproduce**
1. Initialize vault with awskms enabled
[code]
2. Modify config by adding disabled = "true" in the seal section.
3. Restart vault
4. vault operator unseal -migrate x3

Then I get the following error.
[code]
**Expected behavior**
I excpecte

[2019-12-02 02:47] jefferai commented on #7079
@drawks Such a hash would have to be kept in sync with the underlying state of the set of active certificates. Outside of actual coordination/sync issues that can arise, this also means at least one extra persist operation per certificate generated, but more importantly it means having to read that value out into memory when the plugin starts up, and disallowing operations in the plugin until it's

[2019-12-02 08:10] ilatvala commented on #7362
Confirm this same bug with vault 1.3 and CEPH S3 storage backend. Used vault 1.1.3 to migrate, since that works ok.

[2019-12-02 08:26] #1898 closed

[2019-12-02 09:18] sithuyeaung opened #7957 "Mysql database password rotate mount as a secret"
Hello ,
I would like to know that vault generated db's credential ,  mount on kubernetes as a secret .
Here is my REF:( token rotation )
https://itnext.io/effective-secrets-with-vault-and-kubernetes-9af5f5c04d06

[2019-12-02 09:32] michelvocks commented on #7957
Hi @sithuyeaung!

Could you please provide a bit more context/information here?
What do you exactly want to know about Vault? Which version do you use? I highly recommend to use the GitHub issue template when opening a new issue.

Also, please keep in mind that the Vault issue tracker should be reserved for bugs only. Questions regarding Vault should be asked via the [Discussion Forum.](https://di

[2019-12-02 17:08] JasonIamAUnixAdmin commented on #6098
hey @mrburrito I'm trying to use your workaround (thank you for that btw) but I can't get terraform to see it as valid. I keep getting:
[code]
TF is 0.12.12
AWS provider is 2.40.0
Vault provider is 2.6.0

[2019-12-02 17:13] mrburrito commented on #6098
@JasonIamAUnixAdmin were still using 0.11 so I’m not sure if the same thing works with 0.12. Might be a better way now?

[2019-12-02 17:15] JasonIamAUnixAdmin commented on #6098
Sadly not that I see. We actually had this working in 0.11 world and part of a 0.12 upgrade I'm in the middle of broke it. Seems that it is even more stringent now.

[2019-12-02 22:11] catsby commented on #7726
Hello - I believe Michel has addressed your questions here, so I'm going to close this for now. For future Vault operation questions, please checkout https://discuss.hashicorp.com/c/vault

Thanks!

[2019-12-02 22:11] #7726 closed

[2019-12-02 22:14] catsby commented on #7671
Hello - we haven't heard anything for a few weeks, so I'm going to close this for now. For future operation questions please checkout https://discuss.hashicorp.com/c/vault

Thanks!

[2019-12-02 22:14] #7671 closed

[2019-12-02 22:14] catsby commented on #7615
Hello - we haven't heard anything for a few weeks, so I'm going to close this for now. For future operation questions please checkout https://discuss.hashicorp.com/c/vault

Thanks!

[2019-12-02 22:14] #7615 closed

[2019-12-02 22:17] catsby commented on #7477
Hello - we haven't heard anything for a few weeks, so I'm going to close this for now. For future questions or discussion such as this, please checkout https://discuss.hashicorp.com/c/vault

Thanks!

[2019-12-02 22:17] #7477 closed

[2019-12-02 22:18] catsby commented on #7456
Hello - we haven't heard anything for a few weeks, so I'm going to close this for now. For future questions or discussion such as this, please checkout https://discuss.hashicorp.com/c/vault

Thanks!

[2019-12-02 22:18] #7456 closed

[2019-12-02 22:19] catsby commented on #7417
Hello - we haven't heard anything for a few weeks, so I'm going to close this for now. For future questions such as this, please checkout https://discuss.hashicorp.com/c/vault

Thanks!

[2019-12-02 22:19] #7417 closed

[2019-12-02 22:19] catsby commented on #7389
Hello - we haven't heard anything for a few weeks, so I'm going to close this for now. For future questions or discussion such as this, please checkout https://discuss.hashicorp.com/c/vault

Thanks!

[2019-12-02 22:19] #7389 closed

[2019-12-02 22:23] catsby commented on #6945
Hello - we haven't heard anything for a few weeks, so I'm going to close this for now.
If you believe the current behavior you describe is a bug, please feel free to comment on the issue and we can reevaluate. Until then, I would suggest trying the suggestion from `bartdzkan` above.

For future questions or discussion such as this, please checkout https://discuss.hashicorp.com/c/vault

Thanks!

[2019-12-02 22:23] #6945 closed

[2019-12-02 22:23] catsby commented on #6341
Hello - we haven't heard anything for a few weeks, so I'm going to close this for now. For future questions or discussion such as this, please checkout https://discuss.hashicorp.com/c/vault

Thanks!

[2019-12-02 22:23] #6341 closed

[2019-12-02 22:25] catsby commented on #3958
Hello - we haven't heard anything for a few weeks, so I'm going to close this for now. It's not clear to me thus far that this represents a bug in Vault itself. If you have more information on steps to reproduce, please let us know and we can take another look!

Also, for future questions or discussion such as this, please checkout https://discuss.hashicorp.com/c/vault

Thanks!

[2019-12-02 22:25] #3958 closed

[2019-12-02 22:27] catsby commented on #5917
Hello - we haven't heard anything for a few weeks, so I'm going to close this for now. I realize this issue went unaddressed for quite some time, and for that I sincerely apologize. If you have more information for us to help reproduce this, please let us know! For example, if you had steps that reproduce this reliably on the current version of vault (1.3.1) , we can take another look.

For future

[2019-12-02 22:27] #5917 closed

[2019-12-03 00:59] jambellops opened #7960 "AWS assumerole with context (my use case pass tags with role assumption)"
**Feature Request:**

AWS Assume Role can take session tags to be AWS Principal Tags. Adding this to Vault would allow us to pass attributes to AWS to better implement attribute based access control. Can this be implemented and an interface to map attributes from the auth backend (our case ldap) to tags to pass?

This part of the assumerole api is much trickier to account for than taking policy ar

[2019-12-03 11:15] michelvocks commented on #2458
Hi all!

Since v0.6.1 we did a lot of changes to Vault's leasing system. I will close this issue for now and recommend to open a new issue if you still have problems with dangling leases after an upgrade to the newest version.

Cheers,
Michel

[2019-12-03 11:15] #2458 closed

[2019-12-03 11:24] michelvocks commented on #2735
Hi there!

I will close this issue due to inactivity and due to the fact, that a solution is already in place which Jeff mentioned. Feel free to reopen a new issue if the described solution doesn't work for you.

Cheers,
Michel

[2019-12-03 11:24] #2735 closed

[2019-12-03 12:25] gugalnikov opened #7961 "authorization_endpoint missing from OIDC .well-known configurations (Identity Tokens Backend)"
**Describe the bug**
The documentation states that .well-known configuration should look like:
{
  "issuer": "https://example.com:1234",
  "authorization_endpoint": "",
  "token_endpoint": "",
  "jwks_uri": "https://example.com:1234/.well-known/keys",
  "response_types_supported": null,
  "subject_types_supported": [
    "public"
  ],
  "id_token_signing_alg_values_supported": [
    "RS256"
  ],

[2019-12-03 13:42] michelvocks commented on #3388
Hi there!

The solution is to add an IP Subject Alternate name (if you intend to connect via an IP) or the CN in the subject field (if you intend to connect via DNS) to your self-signed certificate.

I will close this issue now since the original owner is inactive for quite a while. Don't hesitate to open a new issue if this is still a problem for you.

Cheers,
Michel

[2019-12-03 13:42] #3388 closed

[2019-12-03 13:57] selurvedu opened #7962 "Vault UI does not respect the default TTL value and unit when signing SSH keys"
**Describe the bug**
Vault UI does not respect the default TTL value and unit (seconds, minutes, hours, days) when signing SSH keys.

**To Reproduce**
Steps to reproduce the behaviour:
1. Create an SSH role.
2. Set the default TTL and Max TTL to "1 minute" (not "60 seconds", this is important).
3. Open the "Sign SSH key" page in Vault UI. Click "More options".
4. See "TTL: 30 seconds". Don't chang

[2019-12-03 14:06] michelvocks commented on #3115
Hi there!

I'm closing this issue now since it appears to me that this issue is not possible to solve by Terraform nor Vault and is more related to the AWS API and how it behaves. Additionally, this topic hasn't been touched for the last two years.

If someone here thinks differently / has new information about this topic I'm happy to reopen it to continue with the discussion.

Cheers,
Michel

[2019-12-03 14:06] #3115 closed

[2019-12-03 14:09] michelvocks commented on #3389
I'm going to close this issue since a decision has been made to keep this code part.

[2019-12-03 14:09] #3389 closed

[2019-12-03 14:14] michelvocks commented on #3392
Hi there!

I'm going to close this issue since the original issue owner has been absent for a while.
Please feel free to open a new issue if you experience the same issue mentioned above.

Cheers,
Michel

[2019-12-03 14:14] #3392 closed

[2019-12-03 14:19] michelvocks commented on #3821
Hi @g-sudheer!

Is this still a problem for you? Would you mind to retry your steps with the latest Vault version? (1.3.0)?

Cheers,
Michel

[2019-12-03 14:23] michelvocks commented on #3847
Hi @jamesongithub!

Is this still an issue for you? Would you mind to reproduce this issue with the latest Vault version (1.3.0)?

Cheers,
Michel

[2019-12-03 14:43] michelvocks commented on #3863
Hi @cmaher!

I tried to reproduce the bug you have mentioned but it seems to work for me (at least with the newest version). Is this still an issue for you? If so, would you mind to reproduce it with the current latest Vault version?

@justyns How long did you wait before you send the `sys/health` request to the standby node? It takes some time for the standby node to detect that the leader is not

[2019-12-03 14:45] michelvocks commented on #3864
Hi there!

I will close this issue since it appears to me that problem has been solved. Feel free to open a new issue if this is still a problem for you.

Cheers,
Michel

[2019-12-03 14:45] #3864 closed

[2019-12-03 14:59] michelvocks commented on #3867
I'm closing this issue since it has been fixed with Vault 1.1.0.

[2019-12-03 14:59] #3867 closed

[2019-12-03 15:39] michelvocks commented on #4190
Hi @kronjob!

Is this still an issue for you? If so, would you mind to retry it with the current latest Vault version?

Cheers,
Michel

[2019-12-03 15:43] michelvocks commented on #4209
Hi @shsjshentao!

I will close this issue for now since we fixed several bugs since the release of Vault 0.9.3 regarding expired tokens which were not removed by Vault. Feel free to open a new issue if this bug still occurs with the current latest Vault version.

Cheers,
Michel

[2019-12-03 15:43] #4209 closed

[2019-12-03 15:45] michelvocks commented on #4215
Hi there!

I'm going to close this issue due to inactivity from the original issue owner. Feel free to open a new issue if you experience the same issue.

Cheers,
Michel

[2019-12-03 15:45] #4215 closed

[2019-12-03 16:01] michelvocks commented on #4876
Closing this since #6512 has been merged to fix this.

[2019-12-03 16:01] #4876 closed

[2019-12-03 21:03] nritholtz opened #7965 "Vault Agent Auto Auth slow performance when used as cache/listener"
**Describe the bug**

Getting intermittently large, but mostly consistent slow performance when using the Vault agent auto auth as a caching/listener to our vault cluster. We ran some metrics using the `vault token lookup` call to be able to properly produce logs to try and debug where the issue is occurring.

We found that there was a delay somewhere in the agent itself from 3-12+ seconds before

[2019-12-03 22:28] carnei-ro commented on #6706
Same scenario here.

[2019-12-03 22:29] catsby commented on #6098
Hello! Terraform v0.12 was a major update, there are likely some additional steps or changes needed to configuration files. Specifically, an updated version of the HCL language is used in v0.12. See the blog and upgrade guide links below:

- https://www.hashicorp.com/blog/terraform-0-1-2-preview/
- https://www.terraform.io/upgrade-guides/0-12.html

Please let us know if that helps!

[2019-12-03 22:52] noelledaley commented on #7946
Hey there! Thanks for pointing this out. Can you share the policies attached to your custom role? If the role has the default ACL policy it should have access to the API explorer.

[2019-12-03 22:57] noelledaley commented on #7942
Hey there! Thanks for filing this issue. Could you share a screenshot or additional steps to reproduce? Which auth method are you selecting from the dropdown? Let me know and we can dig more into it. Thanks!

[2019-12-04 01:52] quickbooks2018 commented on #3392
# Fix
Step 1: Adding the private key (PEM file) to the key chain. This allows the user to access the private instances without copying to the bastion host. This adds an additional layer of security.
#you need to run ssh-agent before using it:

eval `ssh-agent -s`

ssh-add -k <PEM_file_name>

ssh-add -L

# ERROR
ssh -i signed-cert.pub -i centos centos@10.20.0.35
Load key "signed-cert.pub": invalid

[2019-12-04 01:54] johnjelinek commented on #3392
I found this to be a problem in Windows 10 using Powershell, but it works fine in Powershell Core.

[2019-12-04 09:50] gabyfulchic commented on #7942
Hello @noelledaley,

Yeah sure, that's it :

![Screen Recording 2019-12-04 at 10 28 21 AM](https://user-images.githubusercontent.com/22600727/70131442-9afc3180-1682-11ea-9eb1-eec8ce372820.gif)

You're welcome!
And thanks for responding that fast !

[2019-12-04 10:30] tudorift commented on #1615
as alternative you can use the UI to validate and to load the json

[2019-12-04 13:34] michelvocks commented on #5293
Hi @FraaJad!

I think @scallister described the solution very well. You can use `vault lease revoke -f -prefix` to revoke all leases from a specific secret engine without caring about existing users in the remote database. With `vault list sys/leases/lookup` you are also able to browse existing leases and see if and where these exist.

I will close this issue for now since I don't see a reason for

[2019-12-04 13:40] michelvocks commented on #5301
Hi @gowthamsubbu!

I will close this issue since I can't see an issue with the returning output of `sys/policies/acl`.
Please let me know if this is still relevant so I can reopen the issue.

Cheers,
Michel

[2019-12-04 13:40] #5301 closed

[2019-12-04 13:52] michelvocks commented on #5389
Hi @DonBower!

Is this still an issue for you? If so, would you mind to retry it with the latest Vault version (1.3.0)?

Cheers,
Michel

[2019-12-04 13:59] forty commented on #7471
I checked in the AWS console, terraform works properly and the protocol for the healthcheck is HTTPS as configured in the tf file above.
I assume the healthcheck would have failed if it was not done using HTTPS anyway (as noted, everything is working fine)

[2019-12-04 14:18] #7362 closed

[2019-12-04 14:32] filintod commented on #944
@Crizstian probably the cert is unknown for your system you could test with `export CONSUL_HTTP_SSL_VERIFY=false`, also if the IP 172.20.20.11 is not part of the cert or altnames it might fail too.

[2019-12-04 16:04] blalor commented on #2092
There's a Ruby token helper example in [the docs](https://www.vaultproject.io/docs/commands/token-helper.html#example-token-helper).  This works exactly as I'd like, except that `VAULT_ADDR` is set as an env var by the user, and not by the Vault client.  It would be great if the token helper interface could be extended to support this lookup natively.

[2019-12-04 17:15] bradbl opened #7969 "Vault panic in github.com/hashicorp/vault/vault.(*Router).MatchingSystemView"
**Describe the bug**
Under some conditions, Vault can panic during the request path.  The stack trace is

[code]

It appears the `backend` field of a `routeEntry` can be `nil`, but this isn't checked.

**To Reproduce**
We observed this by enabling a custom auth plugin and then making a change which removed the plugin binary.

**Expected behavior**
No panics

**Environment:**
* Vault Server Version

[2019-12-04 17:43] catsby commented on #7969
Hey @bradbl - thanks for opening this! In general, we should absolutely check for `nil`, but I can't speak to this case specifically yet until I dig in.

Before we do dig in, could you elaborate on this part:

Removed it from where, and how did you do this? The details _probably_ don't really impact the code change to fix this, but I'd like to reproduce and verify as well.

Thanks!

[2019-12-04 17:51] bradbl commented on #7969
The plugin binary is placed into the Vault plugin directory. The Vault binary and plugin binary are bundled into a single Docker image and deployed together. The change here was inadvertently removing the plugin binary from the container but leaving it registered in the plugin catalog.

[2019-12-04 18:36] mitm001 opened #7970 "Web Interface API vs Web inteface CLI list differences"
The Web Interface has the API activated from the Browser CLI.
Every List command in the API refuses to work, even for Root token, returns with
[code]
yet entering the exact same command in the Browser CLI works fine.

Is there some trick to using the API command for lists?

There is a entry box that says

[code]
but nothing works if entering text.

Maybe I am not using the API correctly but expect

[2019-12-04 23:01] gabrieljones opened #7972 "Support HDFS in Vault Agent Auto-Auth File Sink"
**Is your feature request related to a problem? Please describe.**
HDFS does not like the way agent updates the token file. ie overwrite by rename
eg HDFS does not like

    mv: cannot move ‘new_token_file’ to ‘token_file’: Input/output error

**Describe the solution you'd like**
sink should have an option to delete the existing token file before writing the new token to the same path

**Describe

[2019-12-04 23:01] noelledaley commented on #7942
Hi @gabyfulchic, thanks for the screenshot! What version of safari are you using? I still haven't been able to reproduce this unfortunately. :/

[2019-12-05 05:01] jamesongithub commented on #3847
Hi,

It's been a while. I actually don't have access to this cluster anymore. So wouldn't be able to repro.

[2019-12-05 07:18] michelvocks commented on #3847
Hi @jamesongithub!

Thanks for letting me know. I will close this issue for now since we are unable to reproduce this.
Feel free to open a new issue if you hit the same problem again.

Cheers,
Michel

[2019-12-05 07:18] #3847 closed

[2019-12-05 14:45] JasonIamAUnixAdmin commented on #6098
Sadly no. There is no mixing of escapes that makes it pass and post correctly.

[2019-12-05 14:54] kronjob commented on #4190
I am closing the issue for now since occupied with other stuff. Will try to check with latest Vault sometime later and open a new ticket if needed. Thanks.

[2019-12-05 14:54] #4190 closed

[2019-12-05 15:24] michelvocks commented on #5146
Hi @margiki!

I tried to reproduce the behavior you have mentioned but I'm unable to do so with Vault 1.3.0.
I can see that the groups-command is correctly transformed:

[code]

And if I login I get the correct policy attached to my token:
[code]

I'm closing this issue for now but feel free to open a new issue if this is still a problem for you with Vault 1.3.0.

Cheers,
Michel

[2019-12-05 15:24] #5146 closed

[2019-12-05 16:14] yura-shutkin commented on #7949
Found a mistake in vault version. Should be 1.3.0
[code]

[2019-12-05 21:47] gabyfulchic commented on #7942
Hey @noelledaley,

I’m using safari 13.0.1
(14608.2.11.1.11)

Can i give you More informations or is it ok now ?😁

Best Regards,

[2019-12-06 00:58] calvn commented on #7969
Hi @bradbl! Does the panic occur immediately/shortly after server startup, or does it get triggered when making certain requests (e.g. `/sys/auth/:path/tune`)?

[2019-12-06 01:51] bradbl commented on #7969
I can't say definitively, but the crashes were occurring often enough that it would have been triggered by a common path, like login, instead of tune.

[2019-12-06 04:34] calvn commented on #7969
I see, thanks for the info! I brought up tune since that's where the panic stemmed from this in case (`handleAuthTuneRead`).

[2019-12-06 10:44] iusergii opened #7974 "Feature Request: Telemetry for root token"
**Is your feature request related to a problem? Please describe.**
As it mentioned in best practice - we revoked root token. And I'd like to have notification  in case it was generated again.

**Describe the solution you'd like**
Having some metrics for root token would help to set a trigger.

**Describe alternatives you've considered**
- I went over existing [telemetry](https://www.vaultproject.i

[2019-12-06 14:36] jobec commented on #7889
Bumped into the same issue today

[2019-12-06 17:06] mjarmy commented on #3279
The associated PR for this issue, #7887, has been merged, and will be present in the 1.4 release of Vault.

[2019-12-06 17:14] Skaronator commented on #3279
Looks like Christmas came early, thanks!

[2019-12-06 17:23] noelledaley commented on #7942
Hi @gabyfulchic, thanks for the information. We still haven't been able to reproduce this, which is strange. Could disabling your browser extensions or opening the page in a private window? Thanks!

[2019-12-06 18:01] shibumi opened #7978 "vault server -dev runs into a panic"
**Describe the bug**
We are desperately trying to build vault for Arch Linux. The build works fine, but we our binary runs into this issue when invoking: `vault server -dev`:
[code]

**To Reproduce**
We use the following packages to build vault:
* Go 1.13.4 (with PIE enabled)
* git 2.24.0
* yarn 1.21.0
* python 3.8.0
* bower 1.8.8
* nodejs 10.17
* npm 6.12.1
* zip 3.0.
* patch 2.7.6

We apply the

[2019-12-06 18:58] #7863 closed

[2019-12-06 19:01] catsby commented on #7863
Hello! Thanks for reporting this issue. I merged #7865 which should address this, but please let us know if you're still having issues after that.

[2019-12-06 19:17] jefferai commented on #7863
Just a note that these are likely two different problems. The second seems to be an issue with the Go installation being used.

[2019-12-06 19:33] briankassouf commented on #7919
@mterron Thanks for the specific steps! Unfortunately I've still been unable to reproduce this panic:

[code]

 Is there any more information you're able to share that may help to track it down? What OS are you running, what filesystem, are you using SSDs/spinning disks/EBS volumes/etc?

Thanks for helping to track this down!

[2019-12-06 20:13] shibumi commented on #7863
@jefferai actually this is wrong, the error message I've posted was clearly related to this issue. I've applied the patch and vault builds for me now :)

[2019-12-06 21:14] calvn commented on #7969
@bradbl sorry to keep bugging you, but I was not able to repro the panic. Would you be able to give me a bit more detail around this?

- What version of Vault are you running?
- What's the setup that you have (single node, HA cluster, replication?)
- Is the plugin binary removed between restarts, or removed when the cluster is still running and unsealed?

[2019-12-08 17:04] danielmittelman opened #7986 "AWS SDK version is too old to support pod-level permissions in AWS EKS"
**Is your feature request related to a problem? Please describe.**
AWS has released pod-level permissions a few months ago, allowing Vault to be run in EKS without having to give all the neighboring pods the same permissions to the AWS APIs being used.

This feature is support for SDK versions > 1.23.13 ([as described here](https://docs.aws.amazon.com/eks/latest/userguide/iam-roles-for-service-acc

[2019-12-08 17:24] jefferai commented on #7986
Duplicate of #7458

[2019-12-08 17:24] #7986 closed

[2019-12-08 20:37] mterron commented on #7919
I'm running on Docker for Windows, SSD. Nothing too fancy, can try to reproduce on bare metal linux if that helps.

[2019-12-09 00:56] lcgkm opened #7987 "vault agent enforce auto auth token"
**Is your feature request related to a problem? Please describe.**
We have many application based on Spring Vault Cloud 1.1.3. We want to migrate to kubernetes and use Vault Agent Caching as 'sidecar' container.
But as we know:
1. For Spring Vault Cloud, a Vault token is mandatory. We can't set empty token.
2. For Vault agent caching. If the requests already bear a token, this configuration will b

[2019-12-09 01:00] jefferai commented on #7987
It feels like the right solution is to instead patch Spring Vault to allow an empty token.

[2019-12-09 01:41] lcgkm commented on #7987
Hi @jefferai ,
Spring Vault will be coupled with source code. And vault agent is 'sidecar' component.
So, we think patch vault agent is more easier.

PS. In my option, Spring Vault 1.x is too old, nobody will patch it.

[2019-12-09 09:13] gabyfulchic commented on #7942
We've tried without extensions and in a private window, it's the same thing. A strange shape is appearing and safari went in not responding and we have to force quit it !
As you can see on the .gif above. 😁

[2019-12-09 09:35] adongy opened #7988 "Vault Agent: Cannot use auto_auth with template without specifying a sink"
**Is your feature request related to a problem? Please describe.**
I'm trying to use the Vault agent to solve authentication and templating of secrets at the same time.

My current solution is to use Vault agent auto auth and consul-template to do it:

- Vault auth_auth writes to a sink
- consul-template consumes the secret and templates the config file

Vault agent recently provided the `template

[2019-12-09 12:37] MrLuje opened #7989 "Wrong error message with a tls client CA encrypted private key"
**Describe the bug**
Vault incorrectly states "tls: bad certificate" when using an encrypted private key

**To Reproduce**
Steps to reproduce the behavior:
1. Vault is secured behind a reverse-proxy with tls client CA required
2. Run `Vault status -address=https://your_vault_address` -client-cert=... -client-key=...
3. See error : Error checking seal status: Get https://your_vault_address/v1/sys/s

[2019-12-09 14:46] Lasering opened #7990 "ACL to allow revoking certificates issued by a role"
**Is your feature request related to a problem? Please describe.**
I have a PKI secret backend with multiple roles configured. I would like to allow a bot/user to revoke certificates issued by the role A but not by the role B.

Currently there are two ways to revoke a certificate:

1. `vault write pki/revoke serial_number=<a serial number>`
2. Or if the role was configured to issue leases and we s

[2019-12-09 14:55] jefferai commented on #7990
The lease id is constructed partially from the path that issued the lease. So you can do this already via the revoke-prefix API call (https://www.vaultproject.io/api/system/leases.html#revoke-prefix)

[2019-12-09 15:28] Abmun commented on #3429
Here is a post which has great comparison points-

https://www.techmanyu.com/microservices-secrets-management-comparison-of-vault-solutions/

[2019-12-09 16:25] Nagarajuwas commented on #7946
i have found the issue on my test server. this issue is occurred due to syslog audit is enabled on my environment.So after disabling the syslog api explorer is working as expected.

this is the erro message we have got and this issue is related to same request number.

 [ERROR] audit: backend failed to log response:  backend=syslog/ error=write unixgram ->/var/run/log: write: message too long
[ERR

[2019-12-09 17:29] jefferai commented on #7946
There is a known issue about syslog, see the box in the device page: https://www.vaultproject.io/docs/audit/syslog.html

[2019-12-09 17:32] Throckmortra commented on #5962
Hope this gets added to core plugins :)

[2019-12-09 17:49] calvn commented on #7969
I was able to reproduce the panic reported. Currently working on a fix, and will link back to this issue once the PR is out. Thanks for the report!

[2019-12-09 18:56] Lasering commented on #7990
That works to revoke all the certificates issued by a role. However I'm looking to the capability of revoking a single certificate. Or more explicitly to allow revoking any single certificate issued by a specific role.

[2019-12-09 20:09] kbatesrga opened #7992 "Renewing a token with explict 'increment' value is ignored if only the 'default' policy is associated"
**Describe the bug**
If I login to vault with an LDAP account for which there are no additional policies besides 'default' associated, requests to renew my token beyond my default duration of 1h are ignored.

If however, I login to vault with an LDAP account for which there are at least one additional policy associated, my renewal works, and the new duration value and usual renewal response data i

[2019-12-09 20:33] kbatesrga commented on #7992
One update - If I EXPLICILTY map the 'default' policy to a user like:

`vault write auth/ldap/users/user_a policies=default`

My subsequent renewal works.  It's imply the implicit association to 'default' that is broken?

[2019-12-09 23:13] briankassouf commented on #7919
Ah okay, may be a WSL issue. What version of WSL are you running? According to this comment it may be fixed in 18912.

https://github.com/etcd-io/bbolt/issues/144#issuecomment-500552510

[2019-12-10 09:51] michelvocks commented on #7974
Hi @iusergii!

Thank you for opening this feature-request!

You've mentioned that an alternative solution would be to analyze audit logs. I think that is the best approach to watch for such certain events. Telemetry or metrics, in general, should be used to measure the average time spend to fulfill the specific action.

I'm not necessarily against this feature-request but I'm wondering if a metric

[2019-12-10 11:01] yura-shutkin opened #7995 "Docs API kv v2 get secret missed version argument"
**Describe the bug**

Missed optional version argument at official documentation

https://www.vaultproject.io/api/secret/kv/kv-v2.html#read-secret-version

You can get specific version via curl like
[code]
If version is 0 or argument is suppressed latest version will be returned. And specified version of secret will be returned if available.

**To Reproduce**
Steps to reproduce the behavior:
1. la

[2019-12-10 12:48] iusergii commented on #7974
Hi @michelvocks,

Agreed, probably metrics wrong way to solve it.  I've proposed this as people already have alarms base on metrics (alarmmanager) and monitoring of audit logs will add additional source.  Which I'd like to avoid.

I was thinking about counter for amount of root tokens which would also help with observability.

Thank you,
Sergii

[2019-12-10 16:22] gokuatkai commented on #2680
Hi, I also maintain many rabbitmq servers and I am using the secret engine as follow:

[code]
hope it helps meanwhile.

[2019-12-10 18:15] rob-orr commented on #6139
I'm running Vault server and CLI `1.2.2` and am experiencing the same issue as described above.  I'm running an Ubuntu instance in `us-east-1` (but in a different subnet than Vault), and am seeing the same error as above.

[2019-12-10 18:48] #7969 closed

[2019-12-10 22:05] catsby commented on #7663
I've opened https://github.com/hashicorp/vault/pull/7998 to address this, hopefully it gets approved and merged 😄

[2019-12-11 00:02] #7418 closed

[2019-12-11 08:38] Mehralian opened #8002 "Cannot renew token generate by LDAP user login"
**Describe the bug**
I have a Vault server that integrated with my LDAP server, it works fine with my LDAP server and every thing goes well with it, but the only thing is I cannot renew the tokens generated by these logins.

**To Reproduce**
Steps to reproduce the behaviour:
1. Run `vault login -method=ldap username=myusername -renewable=true` and get the token as following:
[code]
2. Login as `ro

[2019-12-11 11:09] astronaut808 opened #8003 "Web UI Overwrite secret without warning in KV v1"
**Describe the bug**
Using Web UI, in KV v1 has the ability to create a secret with a name that already exists. There are no warnings that such a name is already exists. Because of this, it is possible to overwrite the secret and lose the data that was stored in the overwritten secret. Example: if you have many secrets in your KV v1, you may not notice that such a name already exists.

**To Reprod

[2019-12-11 12:27] abhi-dwivedi opened #8004 "Configuring Mongo DB in Vault with kubernetes"
HI All

Can anyone help to configure mongo db application and generate dynamic secrete .

Vault and application deployed on same k8s cluster

[2019-12-11 14:16] macplady opened #8005 "Vault UI does not reveal the value if the secret key contains a ".""
**Describe the bug**
In the Vault UI, when you want to reveal the value of a key in the key/value secrets, it does not display any value if the key has a "." in it. The value stays blank, although there is a value for the key if you switch to json view.

**To Reproduce**
Steps to reproduce the behavior:
1. Log in to Vault UI
2. Navigate to a secret (or create a new one)
3. Press "Edit secret"
4. E

[2019-12-11 15:14] michelvocks commented on #8005
Hi @macplady!

Thank you for your bug report!
This bug is known and has been fixed with #7926. It should be included in the next version.

Thanks again!

Cheers,
Michel

[2019-12-11 15:14] #8005 closed

[2019-12-11 15:16] #5989 closed

[2019-12-11 15:32] #7663 closed

[2019-12-11 15:34] catsby commented on #7663
#7998 was merged, thanks again for reporting this!

[2019-12-11 15:35] webedia-it opened #8006 "secret value is empty after upgrade in 1.3.0"
**Describe the bug**
After upgrade from 1.2.4 to 1.3.0 I have some secrets that appears empty in vault gui.
For information I have tried with 1.2.4 I don't have this problem

**To Reproduce**
Steps to reproduce the behavior:
1. add a secret with on multiple lines (with "\n" in json)
2. upgrade your vault in 1.3.0
3. go in http://host:8200/ui/vault/secrets/
4. value is empty after you click on eye

[2019-12-11 15:48] blakepettersson commented on #7364
How about the approach of a [mutating webhook](https://github.com/banzaicloud/bank-vaults/tree/master/docs/mutating-webhook)? It seems to allow for specifying the K8S secrets as Vault keys, while it defers the fetching of the actual secret until deployment time. I'm probably missing something here so feel free to let me know what that could be...

[2019-12-11 16:11] michelvocks commented on #8004
Hi @abhi-dwivedi!

I recommend having a look at our documentation page: https://www.vaultproject.io/docs/secrets/databases/mongodb.html
If you already had a look, it would be great to get more information about the error that you face or what exactly your problem is.

Please remember that the GitHub issue tracker is reserved for bugs/feature-requests only.
I will close this issue for now but feel

[2019-12-11 16:11] #8004 closed

[2019-12-11 18:40] calvn commented on #8002
Hi @Mehralian, it could be possible that the max TTL is set in the LDAP config. Can you read the config and take a  look at the value for [`token_max_ttl`](https://www.vaultproject.io/api/auth/ldap/index.html#token_max_ttl)?

Just to make sure that it's not being capped by the auth mount, can you also issue a `vault auth list -detailed` and look for the max TTL value for that mount?

[2019-12-11 18:41] joemiller commented on #7364
First, I think this is a good and clever approach. One downside is rotation
of secrets. The mutating webhook only runs when the pod is created. Dynamic
credentials like TLS certs with short expiration would need an additional
mechanism to handle refresh/renewal.

On Wed, Dec 11, 2019 at 7:48 AM Blake Pettersson <notifications@github.com>
wrote:

[2019-12-11 19:59] #7936 closed

[2019-12-11 21:22] #7948 closed

[2019-12-11 21:25] niclarcipretti opened #8009 "Plugin setup problem"
**Describe the bug**
Can't use vault plugins. When I try to execute them, an error occurs.

**To Reproduce**
Steps to reproduce the behavior: (I'll use the oracle plugin as an example)

1. Run vault as a docker container
Dockerfile:

[code]

with the following config.json:

[code]
Docker run cmd:

`docker run -d -e SKIP_CHOWN=true --cap-add IPC_LOCK -p 8200:8200 vault:my_tag`

2. Run `vault login`

[2019-12-11 21:41] ivana-mcconnell commented on #6909
Hi @zipbee - I'm a designer on Vault and I just had a look at this issue. I put together a prototype that I'd like your feedback on. I looked at adding an easy way to potentially drop in pieces of code such as strings, arrays, and objects via a dropdown menu:

![dropdown](https://user-images.githubusercontent.com/2598011/70662607-73294280-1c1b-11ea-9d40-5acf1fbec8d7.jpg)

You can see that this UI

[2019-12-11 22:11] briankassouf commented on #8009
Hi @niclarcipretti,

This error makes me think that the plugin binary isn't being copied to the plugin directory correctly:

`fork/exec /vault/plugins/vault-plugin-database-oracle: no such file or directory`

Can you exec into the docker container and check if the plugin exists on the filesystem?

[2019-12-11 22:17] catsby commented on #8009
Hey @niclarcipretti - I would be interested too if you could reproduce this with the plugin you've built but outside of using Docker, e.g. run vault in dev mode locally and try adding the plugin. Please let us know what you find! Thanks

[2019-12-11 22:18] niclarcipretti commented on #8009
Hi @briankassouf,

Yes, the file exists in the container. And it's permissions are ok too. You can see in my Dockerfile the commands that I used to achieve that.
Any other thoughts?

Thanks

[2019-12-11 22:30] niclarcipretti commented on #8009
Hi @catsby,

I've tried locally (windows and Linux) already. Same result. I'm guessing this error is not related to the plugin itself. It seems to fail when vault calls the OS to execute the plugin's file.

Have you used custom plugins successfully lately? Am I missing some step?

Thanks

[2019-12-11 22:30] briankassouf commented on #8009
Does the plugin have exec permissions? You may need to `chmod +x` it.

[2019-12-11 22:34] niclarcipretti commented on #8009
Sorry @briankassouf, I'm already doing that too, just realized that my Dockerfile up there was not updated. Just did it. Check it out on the description. (in fact, that was my first worry too)

[2019-12-11 22:46] briankassouf commented on #8009
Looks like there may be a few typos on that new line: `vault.vault` -> `vault:vault`, `& &` -> `&&`, and `chmod - R` -> `chmod -R`

[2019-12-11 22:49] niclarcipretti commented on #8009
@briankassouf sorry again. I'm using my phone to reply. The spell checker messed it up.

Cheers

[2019-12-11 23:32] ademariag commented on #6821
Also run into this. It was my main reason to install vault. Hope someone can work on this soon

[2019-12-12 00:13] briankassouf commented on #8009
I see, I wasn't sure if the type was in the docker file that you built. I'm able to get the plugin to execute locally, so i suspect it's something with your docker file/setup. I'd recommend exec'ing into the container and poking around to see if there is anything misconfigured.

[2019-12-12 01:06] niclarcipretti commented on #8009
@briankassouf could you please provide me the steps you took to make it work locally so I can try it again here?

Thanks in advance!

[2019-12-12 07:00] ilatvala commented on #6325
I have been using vault 1.1.3 with LDAP auth and it has worked ok. Was planning to try raft storage backend and wanted to try vault 1.3, but now I get also this "no LDAP groups found in groupDN". Tried with empty upndomain, but that did not help. Any pointers how to troubleshoot this further, or is this really a bug that has appeared after 1.1.3?

[2019-12-12 09:10] michelvocks commented on #8009
Hi @niclarcipretti!

I remember having the same issue in the past.
The real problem is that the Vault Docker image is based on Alpine Linux which is missing a library (I think it was musl) which is required. You should be able to see the issue by running the `ldd <path-to-plugin>` command inside your Docker image.

I never solved that issue but maybe this thread here might help you: https://stacko

[2019-12-12 09:33] ilatvala commented on #6325
Got it to work now in vault 1.3 with a new groupfilter...
groupfilter="(&(uid={{.Username}})(MemberOf=*))"

[2019-12-12 11:18] eghos opened #8012 "server restart and my unseal key does not work anymore"
bash-4.4# vault operator unseal
Unseal Key (will be hidden):
Error unsealing: Error making API request.

URL: PUT http://127.0.0.1:8200/v1/sys/unseal
Code: 400. Errors:

* Unseal failed, invalid key
bash-4.4# vault unseal -reset
WARNING! The "vault unseal" command is deprecated. Please use "vault operator
unseal" instead. This command will be removed in Vault 0.11 (or later).

Key                V

[2019-12-12 11:53] ademariag opened #8013 "Fetch database user credentials in the UI"
**Is your feature request related to a problem? Please describe.**
I would like to give access to the UI to our users(developers) so that they can self-service their own database username/password credentials within the policies associated to them.

While this is possible from the command line, it is not possible from the UI
(database backend is grayed out)

**Describe the solution you'd like**
I

[2019-12-12 14:11] niclarcipretti commented on #8009
Hi @michelvocks,

I was suspicious that Alpine could be the culprit too. So, I've invested some time to build my own vault base image, based on oracle's client image.

After some back and forths, I managed to get it running, and now, the error seems to be more comprehensive:

[code]

I'll try to recompile the plugin as suggested.

Some further thoughts:
If some 3rd party plugins can't work properl

[2019-12-12 14:16] maxadamo commented on #1690
same problem with Consul backend.

[2019-12-12 14:22] maxadamo opened #8014 "Can't delete secret directories (using any kind of backend)"
#1690 is not solved but it has been closed.
It is not true that it happens with file storage backend only.
Please read the comments in the original ticket.

[2019-12-12 15:26] michelvocks commented on #8013
Hi @ademariag!

Thank you for your feature-request.
I will close this issue in favor of #6821 but let me know if you think this issue should stay open.

Cheers,
Michel

[2019-12-12 15:26] #8013 closed

[2019-12-12 15:30] michelvocks commented on #8012
Hi @eghos!

Could you elaborate a bit more on your issue here?
Are you sure that your unseal key is correct? I see that you use an old version of Vault. Have you tried to upgrade to the latest Vault version (1.3.0)?

Cheers,
Michel

[2019-12-12 15:46] eghos commented on #8012
Thanks Michael for coming back very quickly. Our ci/cd pipeline is configured to grab some credentials from vault. However, two weeks ago , we had power issue and all servers were restarted. And the pipeline got broken. From the error message, pipeline is not able to access vault anymore. So I tried manually on the GUI, says unseal key is incorrect, and I logged into vault server and CLI says the

[2019-12-12 16:01] michelvocks commented on #8012
By default, Vault generates 5 unseal keys during initialization and you need at least 3 different keys to unseal Vault. Apparently, your colleague changed that to one unseal key (you can see that by the unseal progress information `Unseal Progress 0/1`).

Unfortunately, that is the only information I can provide. Without the correct unseal key you will not be able to unseal Vault. That is also one

[2019-12-12 17:06] ordith commented on #7502
We are experiencing this same issue on Vault 1.2.3 running on Ubuntu 16.04 with Consul backend for HA.

[2019-12-12 17:52] niclarcipretti commented on #8009
Well, just recompiled the plugin and the result didn't change. I asked the folks from the plugin repo if they tested it against vault's latest version, no answer yet.

I'm running out of ideas here, any help would be appreciated :(

[2019-12-12 18:09] briankassouf commented on #8009
@niclarcipretti Make sure your vault server has trace logging enabled, it should output errors when starting the plugin. I suspect it can't find the dynamic libs

[2019-12-12 18:11] briankassouf commented on #8009
And if that is the issue, try setting `export $LD_LIBRARY_PATH=/vault/oracle/instantclient_19_5`

[2019-12-12 18:21] niclarcipretti commented on #8009
@briankassouf how can I enable the trace logging? A richer log would be very helpful indeed!

Just to update you: I've created my own vault docker base image based on oracle's client image, here it is:

[code]
So, I'm guessing all configuration of oracle's client should be ok. Even ldded the plugin to make sure:

[code]
I've used this image to recompile the plugin too (installed go, pkg-config, bl

[2019-12-12 18:25] briankassouf commented on #8009
You can add log level to your vault config: https://www.vaultproject.io/docs/configuration/index.html#log_level

And yes, I was able to get it to run yesterday with the latest version of vault

Let's see what the trace logs output

[2019-12-12 19:16] emilymye commented on #6872
whoops, I totally missed this! yup, we are looking into something that would allow for a "static" account endpoint that automatically rotates the returned secret - it might be better to refile this at https://github.com/hashicorp/vault-plugin-secrets-gcp

[2019-12-12 19:22] niclarcipretti commented on #8009
@briankassouf did it, here's what I found out with trace loggin enabled when I ran the already built plugin (downloaded from vault-oracle-plugin repo):

[code]
Figures! I'm using oracle client 12 in this new image.

So, I've tried with my custom built plugin (built with the right oracle cli/sdk version) , and trace log showed nothing this time.

Sorry to bother you again with this, but, could you

[2019-12-12 19:38] briankassouf commented on #8009
Yeah the API addr needs to be set so plugins know how to call back to vault to get the TLS config https://www.vaultproject.io/docs/configuration/index.html#api_addr

[2019-12-12 19:39] briankassouf commented on #8009
But if you've gotten that far it seems the binary was able to find the correct shared libraries, and was executed successfully!

[2019-12-12 22:05] estahn commented on #7364
@blakepettersson @joehillen

We had a fair amount of negative experience and drama with the mutating webhook. Just a reminder, the mutating webhook will mutate any created pod. While in theory, it's great to have every pod with its own credentials it wasn't scalable for us, because:

1. The different secret backends need to be able to provide the throughput, e.g. AWS Aurora and AWS Redshift failed

[2019-12-12 22:14] catsby commented on #1690
Reopening this issue

[2019-12-12 22:14] catsby commented on #8014
I've reopened the original issue, thanks!

[2019-12-12 22:14] #8014 closed

[2019-12-12 23:31] joehillen commented on #7364
@estahn wrong joe

[2019-12-13 07:07] ademariag commented on #8013
hi @michelvocks ,

I did see #6821 but there the requirement seems to be more on allowing *configuration* of the database backend.

This feature I am asking is about *using* the backend, which I would imagine it being much quicker to implement, and also honestly deliver a much better value.

Feel free to keep it close, but as it stand #6821 has a slightly different objective.

[2019-12-13 13:20] get2arun opened #8019 "Error authenticating: error looking up token: Get vault-myproject.192.168.42.199.nip.io/v1/auth/token/lookup-self: unsupported protocol scheme """
I have vault deployed in minishift and vault is running. I could login to vault in the console using root token.

I have problem login to vault from commandline.

What is this error? how to fix this inorder to login to vault from commandline.

[code]

here is the logs,

[2019-12-13 13:24] get2arun commented on #8019
figured out the issue, please close this issue.

The VAULT_ADDR was not set with "https".

[2019-12-13 13:28] niclarcipretti commented on #8009
Yes @briankassouf! Your're right! I successfuly executed the plugin. I've created an issue in the plugin's repo and asked if they could improve their docs. I'll reference this issue here for historic purpose only: https://github.com/hashicorp/vault-plugin-database-oracle/issues/24

I guess we could improve Vault's docs too, informing that it's docker image is Alpine based and may not work with som

[2019-12-13 13:28] michelvocks commented on #8013
Hi @ademariag!

That is exactly what has been asked in #6821 even tho the issue title does not reflect that.
I also think that both functionalities will be shipped together even if they are not really related to each other.

Cheers,
Michel

[2019-12-13 13:47] #8019 closed

[2019-12-13 14:28] ademariag commented on #8013
Thank you @michelvocks . Do you have any ETA on #6821 or at least an idea if somebody is going to work on it?

[2019-12-13 15:13] nmnellis opened #8020 "vault approle secret_id_accessor expires before secret_id"
**Describe the bug**
we default the `secret_id_ttl=129600m` on our approles but after a month ( 32 days[768h]) we are no longer able to login with the secret_id `{"errors":["invalid secret id"]}`, when looking at the secret_id_accessor we noticed that it expires around this time.

[code]

**To Reproduce**
Steps to reproduce the behavior:
1. Run
[code]
2. Run
[code]
3. wait 32 days,

[code]
Respons

[2019-12-13 16:55] catsby commented on #8020
Hello! You've hit the system/mount max ttl:

- https://www.vaultproject.io/docs/concepts/tokens.html#token-time-to-live-periodic-tokens-and-explicit-max-ttls

Specifically (emphasis mine):

You can see your current max/default TTLs for the AppRole backend with the `/sys/mounts` endpoint:

- https://www.vaultproject.io/api/system/mounts.html#read-mount-configuration

You should be able to tune this

[2019-12-13 17:09] catsby commented on #4006
Hello - thank you for submitting this feature request. At this point this issue is almost 2 years old with no movement, so I'm going to go ahead and close this. We may consider a pull request that implements this feature, however as mentioned above, it's not something the Vault team will be implementing at this time. Thanks again!

[2019-12-13 17:09] #4006 closed

[2019-12-13 17:54] cidrick commented on #7988
A separate, but similar, use case for me is to leverage the vault agent for its auto-auth and caching capabilities only, with no need to share the vault token via a shared volume. Writing the token to the container's filesystem exposes the token to anyone who can obtain a shell in the container.

Since we have no need for a file-based sink at all, it'd be more secure to just keep the token in-memo

[2019-12-13 19:55] mdasilva commented on #5878
I'm facing the same issue. Is this a confirmed bug?

[2019-12-13 23:01] noelledaley commented on #7946
@Nagarajuwas Oh good, glad you were able to locate the problem. Thanks for updating us!

[2019-12-13 23:30] noelledaley commented on #7942
A-ha! I think we found the culprit. Sounds like this is an issue with Safari on Mojave. We had the [same problem](https://github.com/hashicorp/atlas/pull/8149) in Terraform Cloud. Thanks for bringing this to our attention -- I'm working on a fix! 🔧

[2019-12-14 00:49] tydomitrovich opened #8024 "AWS sercrets backend config shows incorrect values for Lease TTL"
**Describe the bug**
When viewing the "Configuration" tab for an AWS secrets backend in the Vault UI, the values for the fields 'Default Lease TLL' and 'Max Lease TTL' do not reflect the values the secrets backend is actually configured with. Note that if you click 'Configure' then click 'Leases', the values that are actually configured for the backend are correctly displayed.

**To Reproduce**
St

[2019-12-14 07:59] Mehralian commented on #8002
Hi @calvn ,
Thank you for your response, according to my config the max TTL is set to one day, this config prevents token renewing?!
[code]

[2019-12-15 17:02] sudhir6199 commented on #3958
100% this link will resolve your issue :
https://www.techmanyu.com/hashicorp-vault-setup-on-linux/

[2019-12-16 07:34] michelvocks commented on #8013
Hi @ademariag!

Someone will for sure work on that but I can't give an ETA yet.

Cheers,
Michel

[2019-12-16 08:34] #5540 closed

[2019-12-16 08:35] #7995 closed

[2019-12-16 09:44] gabyfulchic commented on #7942
Thank you for your time @noelledaley and good luck !

[2019-12-16 10:17] gondaz commented on #8006
I confirm the same behavior for me after upgrade to 1.3.0 (etcd storage backend). Moreover, using this version (1.3.0) I create a new secret, and then revealing the secret by clicking on the eye button I see an empty string, but it happens occasionally, not every time.

[2019-12-16 10:26] michelvocks commented on #8006
Hi @webedia-it & @gondaz!

I think this issue is a duplicate of https://github.com/hashicorp/vault/pull/7926.
Could you please confirm that this issue only occurs when the secret has a dot "." included?

Cheers,
Michel

[2019-12-16 11:30] gondaz commented on #8006
Hi @michelvocks !
Thanks for the quick response. I checked that on my environment and I can confidently confirm the bug appears only when there is a dot among the key field.

Will that mentioned PR/fix be included in the next Vault release?

[2019-12-16 11:42] michelvocks commented on #8006
Yes. It will be available with Vault 1.3.1.

[2019-12-16 16:47] briankassouf commented on #7978
Closing for now since #7865 was merged. Please let us know if this is still an issue for you and we can re-open!

[2019-12-16 17:19] anthraxx commented on #7978
The comment states #7865 was applied before building, don't see how it would solve an issue that is still present when it already was applied.

[2019-12-16 17:21] jefferai commented on #7978
The Vault 1.3 branch uses Go 1.12 (1.4 will be standardized on Go 1.13). Go 1.12 has different behavior with respect to that Apache thrift replace directive. If you are going to build with Go 1.13 you will need to patch it yourself.

[2019-12-16 18:32] #7946 closed

[2019-12-16 19:58] john-mensel-peoplefluent commented on #2253
You can also accomplish this by copying your CA cert into the OS's certificate store. For example, copying the CA cert into `/etc/ssl/certs/` on ubuntu will allow the cli to recognize it as a valid CA.

[2019-12-16 20:14] raimsten commented on #4506
+1

[2019-12-16 21:30] #7942 closed

[2019-12-16 22:37] noelledaley commented on #7942
Thanks @gabyfulchic! This is fixed and will be included in our 1.3.1 release. :)

[2019-12-16 23:14] infa-bsurber opened #8033 "add TuneAuth() function to Vault client package"
**Is your feature request related to a problem? Please describe.**
Right now I can access mount tuning via the TuneMount function, which is hardcoded to use sys/mounts/:path/tune, but there is no option to tune auth backends.

**Describe the solution you'd like**
Add a function to enable tuning auth backends called TuneAuth that makes use of this API endpoint: https://www.vaultproject.io/api/syste

[2019-12-17 04:19] xntrik opened #8034 "Headless ui tests crash"
**Describe the bug**
When running `yarn run test:oss` in the `ui` folder this is meant to run the ember test suite in a headless chrome. Instead it errors out with:
[code]

**To Reproduce**
Steps to reproduce the behavior:
1. Run `cd ui`
2. Run `yarn`
3. Run `yarn run test:oss`
4. See error above

**Expected behavior**
The headless ember tests should run and result in:
[code]

**Environment:**
* V

[2019-12-17 15:09] adongy commented on #7915
Coming back to this, I have an extra use-case:

Consider a templated policy:

[code]

This will not work, since `@` is not accepted. Furthermore, since templating does not support calling functions (such as replace), I cannot find an easy way to allow a specific user to a list of roles using templates.

[2019-12-17 16:30] salrashid123 opened #8039 "Support CSEK for GCS Storage Backend"
Support setting a CSEK key for GCS as a Storage Backend.
Vault will use provided [Customer Supplied Encryption Key](https://cloud.google.com/security/encryption-at-rest/customer-supplied-encryption-keys/) to encode the files it uses on Google Cloud Storage.

I'm unsure how to provide the unseal CSEK key _to_ Vault to bootstrap the connection but as a small POC,  here is a copy of the GCS backend w

[2019-12-17 20:12] higonetr opened #8045 "SHA1 Padding on KeyType_RSA (Transit Key)"
Hi!

We import a key that we alredy have in production to the vault. Tweaking a little the backup file from a key, We succeded import our key.

But that key is being used for some payments devices that encrypt the data with a SHA1 padding. So we can't not be able to use decrypt function from the vault in our application.
So we need to change the source code from the vault, in \sdk\helper\keysutil\

[2019-12-17 21:12] shibumi commented on #7978
@jefferai We *did* patch it ourselves. The build worked, I have a binary. But `vault server -dev` fails with the error above. I don't think this has anything to do with the Apache thrift replace directive.

[2019-12-17 23:02] paolodr commented on #3776
Hi I see this problem closed, but I have a similar situation with version 1.3

After changing the server configuration from HTTP to HTTPS I'm not able to install the plugin.

**[root@vault1 ~]# vault write sys/plugins/catalog/secrets-gen \

Error writing data to sys/plugins/catalog/secrets-gen: Error making API request.

URL: PUT https://<HOSTNAME>:8200/v1/sys/plugins/catalog/secrets-gen
Code: 500

[2019-12-18 02:19] 2994186010 opened #8050 "How to control the password generated by ad secret engine?"
The password generated by ad secret engine is too long. I want to control the generation process in ad secret engine.

[2019-12-18 09:00] michelvocks commented on #8050
Hi @2994186010!

You can set the password length via the `length` config parameter: https://www.vaultproject.io/api/secret/ad/index.html#length

Cheers,
Michel

[2019-12-18 09:31] #8050 closed

[2019-12-18 10:22] #7923 closed

[2019-12-18 12:16] 2994186010 opened #8053 "When I request the password of account in active directory from vault, the password is rotated continuously."
My version of vault is v1.3.0. The rotation mechanism in ad secret engine is that passwords are rotated "lazily". Now the passwords will be rotated even though they are not over their TTL. The rotation behavior in vault v1.3.0 is not same as the rotation behavior in vault v1.1.3.

[2019-12-18 14:36] michelvocks commented on #7295
Hi @casz!

Sorry for the late reply!
I tried to reproduce your issue but I'm unable to do so. I used the following test java program:
[code]

Even if I run the program in a Docker container I'm not able to reproduce it.
Could you provide any additional information on how to reproduce this? I'm not able to get your tests working.

Cheers,
Michel

[2019-12-18 15:41] casz commented on #7295
@michelvocks you should be able to use the testcontainers-java project to create a vault container that you can execute commands against and reproduce the bug that way.

[2019-12-18 15:43] casz commented on #7295
if you'd like I can see if I can create a repro 😓

[2019-12-18 16:02] horstpablo commented on #4506
+1

[2019-12-18 16:32] TomHowarth commented on #5878
this is my code sanitized for here.

my vault is running and showing as initialized.

When I run the above code it is successful.

however when I run the following:  vault read /aws/creds/my-role
I receive the following error

[2019-12-18 20:06] Cry0k commented on #7387
hi team,
any updates regarding this issue?

[2019-12-18 20:43] catsby commented on #8045
Hello - could you provide a bit more detail on how you're importing your key, and the workflow you're using to encrypt and decrypt things? An example of the steps to reproduce this would be helpful, especially if you can share parts of the error messages if you are getting any.

Thanks!

[2019-12-18 20:49] catsby commented on #8045
Just to be clear, you're requesting we use `sha1.New()` in place of `sha256.New()` as the first parameter of the function call on this line:

https://github.com/hashicorp/vault/blob/c5ae51e59762102d7a07701d785d3f84475855db/sdk/helper/keysutil/policy.go#L904

If I understand correctly then it's very unlikely that change would be a good idea, as [crypto/sha1][sha1] is documented to be "cryptographic

[2019-12-18 21:52] tyrannosaurus-becks commented on #8053
Hi! Happy to take a look at this. Can you provide the following information so we can attempt to reproduce it?

- `$ vault read ad/config`
- `$ vault read ad/roles/my-application` (for a role that's being used for login and is experiencing this issue)
- `$ vault read ad/creds/my-application` (please don't include valuable service account names or passwords, I just want to see the rest of what it s

[2019-12-18 23:21] tyrannosaurus-becks commented on #6139
Hi @playersons ! Question, what would happen if you tried `vault login -method=aws header_value=FQDN_of_vault_server role=some-role region=eu-central-1`? Am I right in assuming that the client machine is also located in that region, or is it elsewhere?

[2019-12-19 06:21] excalq commented on #5939
Unfortunately the role's parameter `db_name` is a bit misleading. The value needs to match a `database/config/` entry, not an actual database name per se. The GRANT statement itself is where the database name is relevant, the db_name is just a reference to the config name, which may or may not match the database name. (In my case, the configs have other data such as environment prefixing the DB na

[2019-12-19 08:47] michelvocks commented on #7295
Would you mind to share how I do that?

[2019-12-19 09:02] casz commented on #7295
I'll try and fit a repro in this evening 😅

[2019-12-19 09:05] michelvocks commented on #7214
Hi @wneessen!

I'm closing this due to inactivity. Feel free to open a new issue if this is still a thing for you!

Cheers,
Michel

[2019-12-19 09:05] #7214 closed

[2019-12-19 14:16] tomasbackman commented on #6658
@albertoal I ran into this as well by following: https://learn.hashicorp.com/vault/operations/ops-rekeying-and-rotating

adding -target-recovery fixed it.
So the link above should be updated with that info (at least it should be mentioned)

[2019-12-19 14:19] webedia-it commented on #8006
Hi @michelvocks I confirm it's a duplicate issue. I close this one.
Thank you

[2019-12-19 14:19] #8006 closed

[2019-12-19 15:02] raimsten commented on #8045
We are not getting any error when we import the key. We did it correctly.

We've some devices that not supported another RSA-OAEP padding than SHA1. So for be enable to use all functionality of Transit Vault Keys we tuned the source code.
But how the SHA padding is the first parameter of EncryptOAEP DecryptOAEP functions, it's not dificult to add that option to transit key settings.
It's easier ch

[2019-12-19 15:10] michelvocks commented on #7196
Hi @robert-gomes!

Thank you for your bug report and sorry for the late reply.
I've tried to reproduce your mentioned bug but I was unable to do so.
Is there anything else that you've configured/could be important to reproduce this?

Cheers,
Michel

[2019-12-19 15:18] usmansiddiqui1 opened #8055 "Could not renew certificate"
Our vault enterprise which is running version 1.1.2+pro and running on OpenShift version 3.11 using boostport project as can be seen in below GitHub link, became unavailable and started giving certificate and token expiry errors on Friday. We had to renew the cert manually to make it working again. The intermediate cert which was there and expired, had validity of 5 years and was not expiring befo

[2019-12-19 16:17] Monkeychip commented on #8034
This has been fixed in 1.4.0, see PR here: [#8035](https://github.com/hashicorp/vault/pull/8035)

Thank you for the ticket and the fix!

[2019-12-19 16:17] #8034 closed

[2019-12-19 16:51] michelvocks commented on #6977
Hi @bratacco & @EPaola!

Thanks for submitting this bug report and sorry for the late reply.
I do have a few questions:

- Does the standby Vault instance respond to your requests after this message has been printed to the logs? If not, what amount of time passes by until it is available again?
[code]
- Could you elaborate a bit more on your setup e.g. do you use Consul Agent Clients on the Vault

[2019-12-19 16:57] michelvocks commented on #6842
Hi @Obito93!

Thank you for submitting this bug report and sorry for the late reply.
Would you mind to provide the command used to register the plugin at the plugin-catalog?

Cheers,
Michel

[2019-12-19 17:04] michelvocks commented on #6752
I'm going to close this issue since this has been fixed with #7089.

[2019-12-19 17:04] #6752 closed

[2019-12-19 17:39] Obito93 commented on #6842
Hello @michelvocks,
Unfortunately my internship is finished and I am no longer part of the project that worked with the vault. I worked around the bug by setting up a linux server on which I installed vault and tested our custom plugin there, which worked fine. I know that I used the same commands on both systems.

Sorry for not being able to give you any more help!
Merry holidays and kind regards

[2019-12-19 19:12] tyrannosaurus-becks commented on #7924
In this PR I've replaced all deprecated instantiations of the AWS client with supported one, including some for the `ec2` service, which ensures the new code will be picked up and used. The code I'm referring to is where the ec2 client gets a token from the instance metadata service v2. That PR's here: https://github.com/hashicorp/vault/pull/8060.

I'm thinking the only other places that need upda

[2019-12-19 19:25] jweissig commented on #7364
FYI - We just announce a new Vault + Kubernetes integration that enables applications with no native HashiCorp Vault logic built-in to leverage static and dynamic secrets sourced from Vault. Suspect this will be of interest to folks in here since there was chat about init, sidecar, service accounts, etc.

Blog: https://hashicorp.com/blog/injecting-vault-secrets-into-kubernetes-pods-via-a-sidecar
D

[2019-12-19 20:04] Monkeychip commented on #8024
Hi @tydomitrovich,

The "Default Lease TTL" and "Max Lease TTL" you see on the Configuration page (`aws/configuration` ) reflect the default values for AWS secrets engine.  These values can be different from the values you set on `config/lease` page.

To set the "Default Lease TTL" or "Max Lease TTL" on the Configuration page, you can use the mount-tune api,  which tunes configuration parameters f

[2019-12-19 20:04] #8024 closed

[2019-12-19 20:33] casz commented on #7295
https://github.com/casz/vault-cli-docker-repro here you go, even with ci and log output, so you don't even have to run it locally 😆

The issue definitely exist: https://github.com/casz/vault-cli-docker-repro/commit/370f607bfdb0d5f60d38e7e9aac665662524668b/checks?check_suite_id=367394523#step:4:708

I seen it worse locally:

[code]

[code]

[2019-12-19 21:38] Nagarajuwas opened #8061 "Custom message alert on Vault UI during maintenance time"
**Is your feature request related to a problem? Please describe.**
During vault server rebuild or maintenance time we don't have any options to set banner message to our consumers on Vault UI console

**Describe the solution you'd like**
Is there  any solution or option to display banner message on Vault UI console during maintenance time. we have this option on jenkin servers and we can set any c

[2019-12-20 01:22] excalq opened #8063 "Customizing Usernames in Database Dynamic Credentials"
**Is your feature request related to a problem? Please describe.**
We're starting to use Vault's excellent Dynamic Credentials capability for managing database users and supplying temporary login credentials. A stakeholder has requested that the usernames include the LDAP username which is used by Vault to authenticate, so that database audit logs display a username that can be mapped back to an i

[2019-12-20 03:05] Mrono opened #8064 "When loading the login page, it defaults to the "Other" drop down instead of the shown methods"
I've 'hidden' all authentication methods other than userpass, running 1.2.2 it would default to the userpass method that was shown when loading the login page.  Now it defaults to Other and I have an extra click to get back to userpass method to authenticate.

Using docker container vault:1.3.1

[2019-12-20 03:06] Mrono commented on #8064
https://i.imgur.com/KJZkvyL.png

[2019-12-20 03:07] Mrono commented on #8064
Duplicate of https://github.com/hashicorp/vault/issues/7949

[2019-12-20 03:07] #8064 closed

[2019-12-20 03:10] Mrono commented on #7949
I'm unable to upgrade to 1.3.x as well due to this

[2019-12-20 08:55] michelvocks commented on #6842
Hi @Obito93!

Thank you for the quick reply.
I will close this issue for now since I'm not able to reproduce this. Feel free to open a new issue if you experience the same issue again.

Cheers,
Michel

[2019-12-20 08:55] #6842 closed

[2019-12-20 10:34] michelvocks commented on #7295
Hi @casz!

Thank you for providing the example. I was able to reproduce it locally.
I don't think this is a problem related to Vault. You can see from my test that the execution & output inside a Docker container works without any issues. I also noticed that you use docker-java to run the command and retrieve the output which I think is the cause of the issue.

I recommend opening an issue at dock

[2019-12-20 16:54] v6 commented on #1664
// , Went down this rabbit hole a bit last night. Would be nice if the CLI had a heuristic to tell whether it's getting binary.

Does the CLI have a pre-shared list of which endpoints are raw?

If not, would you be interested in reviewing a PR for same?

[2019-12-20 16:57] v6 commented on #1664
// , I'm not sure if this violates the design of Vault's API, but IMO a CLI being "aware" of the expected data format of the API it's expected to consume could have some very positive pragmatic advantages for technical users.

[2019-12-20 17:05] catsby commented on #8055
Hello - Apologies, but support for enterprise customers needs to go through our enterprise support portal. Reporting through our enterprise support portal ensures that we can comply with contractually obligated SLAs around customer support requests, and that a support engineer or technical account manager can track the issue from report to resolution.

I see too that this issue has been reported o

[2019-12-20 17:05] #8055 closed

[2019-12-20 17:13] aantono commented on #7987
Looking at Spring Vault codebase, it would be a very difficult patch given that the internal notion of `VaultToken` is being carried all throughout the code, so adding a multitude of checks for `if vaultToken == null` would be a bit rough. ;)
It also does not help with any other frameworks which might, or might not, also have the same expectation of always expecting a vault token to be present.

L

[2019-12-20 19:00] mjtice opened #8066 "Add username_length and rolename_length back into database secrets engine"
**Is your feature request related to a problem? Please describe.**
The problem I'm having is similar to https://github.com/hashicorp/vault/issues/1605.

**Describe the solution you'd like**
https://github.com/hashicorp/vault/pull/1604 addressed the problem in issue 1605 - however, that was for the legacy mysql engine and it doesn't appear that the enhancement was moved to the newer database secret

[2019-12-20 19:34] tyrannosaurus-becks commented on #8066
Note for whoever ends up working on this, I found that the lengths are hard-coded [here](https://github.com/hashicorp/vault/blob/ca83be21b401b0ff35f41ae5b75f4650e5319770/plugins/database/mysql/mysql.go#L86-L90).

[2019-12-20 20:03] Monkeychip commented on #6562
Hi @mterron,

This issue appears to have been fixed in the more recent versions of Firefox.  However, we are also adding a `min-height` css property to help prevent it from happening in the case where the items in the box get bigger, due to things like a longer title name.  That fix will be released in version 1.3.2.

Thank you for the ticket!

[2019-12-20 20:03] #6562 closed

[2019-12-20 23:38] tyrannosaurus-becks commented on #247
Hi! Is this solved by the Vault agent config file? https://www.vaultproject.io/docs/agent/index.html. The agent is an automated Vault client that pushes a token out to somewhere easy for you to consume from another application. Currently it pushes tokens out to a file.

[2019-12-21 08:11] Mehralian commented on #8002
@calvn
Any update in this regard?

[2019-12-22 03:26] 2994186010 commented on #8053
**$ vault read ad/config**
Key                             Value
---                             -----
binddn                          Administrator@nwdc.dc
certificate                     -----BEGIN CERTIFICATE-----
MIIGBDCCBOygAwIBAgITGgAAAAILvoNGMz3b9QAAAAAAAjANBgkqhkiG9w0BAQsF
ADBMMRIwEAYKCZImiZPyLGQBGRYCZGMxFDASBgoJkiaJk/IsZAEZFgRud2RjMSAw
HgYDVQQDExdud2RjLVdJTi1ETzgwVVJWRElPMi1DQTAeFw0xOTA4M

[2019-12-22 20:50] kaizen1 commented on #3377
+1 for this. This is how de

Seems like the whole point is to be able to revoke, regardless of TTL. People go rogue in milliseconds, not minutes or hours. Seems like a gaping hole.

[2019-12-22 21:32] jefferai commented on #3377
You can't revoke access with Vault, because unlike the internet PKI, SSH KRLs have no distribution mechanism -- there's nothing like CRL Distribution Points. Given that you must perform all distribution yourself _and_ that no signature is used for KRLs there's little for Vault to do here.

Listing issued certificates could maybe be added although it's not a super trivial lift. I'm going to close t

[2019-12-22 21:32] #3377 closed

[2019-12-22 23:41] albertoal commented on #6658
Hey @tomasbackman thanks for the note and good catch. Looks like the above learning guide was missed when I submitted a PR to enrich the docs. Looks like learning guides are also an open source resource hosted in GitHub (looks like that page is [here](https://github.com/hashicorp/vault/blob/master/website/source/guides/operations/rekeying-and-rotating.html.md)) so I encourage you to open a PR sinc

[2019-12-23 08:15] cvuillemez commented on #5475
+1.
I had some crazy apps, requesting ~10 tokens / sec, without setting TTL (default is 32 days on my hosts).
Consequently, Vault stored 3 millions leases... and invoked OOM killer. Consul backend consume lots of space on disk too.
Adding a limit on number of credentials would be very helpful.

[2019-12-23 12:58] Mehralian commented on #8002
I tested token renewal process with `userpass` and `token` auth method, both of them worked successfully, but `ldap` method still doesn't work, is it related to my ldap server config or integration config?

[2019-12-23 16:18] Mehralian commented on #8002
You can use this sample free LDAP server config. to reproduce the situation:
[code]
login using: `vault login -method=ldap username=tesla` and `password` as password and then try to renew the generated token.

[2019-12-23 17:37] obourdon opened #8070 "Error in blog on HashiCorp main site leads to error using external ca bundle"
**Describe the bug**
On  [https://www.hashicorp.com/blog/certificate-management-with-vault/](https://www.hashicorp.com/blog/certificate-management-with-vault/) it is stated

`vault write pki/config/ca pem_bundle=@pem_bundle.json `

but this corresponds to the curl version of the command.

The pem_bundle.json parameter should be replaced by pem_bundle.pem which is a strict concatenation of cert+pri

[2019-12-23 20:24] calvn commented on #8002
@Mehralian thanks for getting back to me with the info! I was able to reproduce the issue, and opened a PR to address it.

[2019-12-24 16:39] binlab commented on #4950
@remilapeyre nice work!

[2019-12-26 16:59] philipsu522 opened #8074 "Speed up migrating backend storage by multithreading"
**Is your feature request related to a problem? Please describe.**
While using the operator migrate command from Consul to Azure, I'm noticing that I have a lot of certificates under the path `2019-12-23T17:57:04.553Z [INFO] copied key: path=logical/294bba60-c16b-2f47-1682-b7bf37d84d1d/certs/03-6f-20-cf-ac-42-7a-bd-15-c9-b6-08-be-a1-a3-82-aa-d4-9a-f3`. This results in the migration possibly taking

[2019-12-28 00:36] silverbp commented on #712
I updated that bash script to be the following:

[code]

This handles scenarios of when you try piping the output to something like jq. Docker returns carriage returns, so it detects if you're piping it and removes the carriage returns and runs it through cat for formatting.

[2019-12-30 21:18] tsarna opened #8078 "Error initializing storage of type raft: failed to create fsm: timeout"
**Describe the bug**
I've been playing with the raft storage in 1.3.1. In a 3 node cluster, after restarting the original node (to which the other two were joined), it started logging:

Error initializing storage of type raft: failed to create fsm: timeout

All nodes seem functional however, and in "vault operator raft configuration" doesn't show anything different about this node.

**To Reproduce

[2019-12-31 12:21] yashLadha opened #8079 "Addition of `nvmrc` for node version"
**Is your feature request related to a problem? Please describe.**
When setting up the project, I faced the error with the node version for building the static assets. I am using `nvm` as my version manager for node. So to implicitly pick the node version that is needed by the project, having an `nvmrc` helps.

**Describe the solution you'd like**
Adding a `.nvmrc` for nvm, so that it automaticall

[2020-01-02 09:40] #7176 closed

[2020-01-02 13:40] Robert-Stam opened #8082 "Support: User-assigned Identity (MSI) login for Azure"
**Feature I would like**
Currently for Azure (login) MSI is supported.
X-Ref: https://www.vaultproject.io/docs/auth/azure.html

However this supports system-assigned identities are only, it would be great if user-assigned identities are supported as well.

**Details**
We are running kubernetes in Azure using the AKS service, where Managed Identity (which is currently in-preview) switched on, see h

[2020-01-02 15:37] nlewo commented on #7952
I'm hitting the same issue with the `transit` autounseal method.
My configuration is:
[code]

And when I try to migrate, i get:
[code]

[2020-01-02 16:40] yashLadha commented on #8079
Adding a symlink from `UI` directory to root, will make it possible to detect the nvm in project root itself for the make commands. @michelvocks @chrishoffman your views?

[2020-01-02 16:46] chrishoffman commented on #8079
Our website uses some node too and those version can diverge so I don't think putting it in the root is the right solution.

[2020-01-02 16:51] yashLadha commented on #8079
Okay, got it. However, adding this detail in readme can be done to guide. What do you think?

[2020-01-02 17:36] tyrannosaurus-becks commented on #8053
Hi! Thanks for providing that information, it's very helpful.

I spun up our server and did an identical test on version 1.3 of Vault. With the same configuration, if I wait 10 seconds between requesting the credentials, I still get the same password as expected. So, I'm unable to duplicate it.

This means there's a difference in our test environments. The most likely issues are:

- Your Active Di

[2020-01-02 18:53] #4930 closed

[2020-01-03 06:10] benbendemo commented on #7523
Could you please tell me which value should I assign to `VAULT_CACERT`, `VAULT_CLIENT_CERT`, `VAULT_CLIENT_KEY` on my macOS? I have Vault macOS version installed, can't found out how to setup these parameters.

[2020-01-03 06:13] benbendemo commented on #2634
Could you please tell me which value should I assign to `VAULT_CACERT`, `VAULT_CLIENT_CERT`, `VAULT_CLIENT_KEY` on my macOS? I have Vault macOS version installed, can't found out how to setup these parameters.

[2020-01-03 09:54] michelvocks commented on #7785
Closing this due to inactivity. Feel free to open a new issue if you are still experiencing this issue.

[2020-01-03 09:54] #7785 closed

[2020-01-03 09:54] michelvocks commented on #6630
Closing this due to inactivity. Feel free to open a new issue if you are still experiencing this issue.

[2020-01-03 09:54] #6630 closed

[2020-01-03 09:55] michelvocks commented on #6720
Closing this due to inactivity. Feel free to open a new issue if you are still experiencing this issue.

[2020-01-03 09:55] #6720 closed

[2020-01-03 09:55] michelvocks commented on #6831
Closing this due to inactivity. Feel free to open a new issue if you are still experiencing this issue.

[2020-01-03 09:55] #6831 closed

[2020-01-03 09:56] michelvocks commented on #6881
Closing this due to inactivity. Feel free to open a new issue if you are still experiencing this issue.

[2020-01-03 09:56] #6881 closed

[2020-01-03 09:57] michelvocks commented on #7111
Closing this due to inactivity. Feel free to open a new issue if you are still experiencing this issue.

[2020-01-03 09:57] #7111 closed

[2020-01-03 09:58] michelvocks commented on #7248
Closing this due to inactivity. Feel free to open a new issue if you are still experiencing this issue.

[2020-01-03 09:58] #7248 closed

[2020-01-03 09:58] michelvocks commented on #7355
Closing this due to inactivity. Feel free to open a new issue if you are still experiencing this issue.

[2020-01-03 09:58] #7355 closed

[2020-01-03 09:59] michelvocks commented on #7388
Closing this due to inactivity. Feel free to open a new issue if you are still experiencing this issue.

[2020-01-03 09:59] #7388 closed

[2020-01-03 09:59] michelvocks commented on #7724
Closing this due to inactivity. Feel free to open a new issue if you are still experiencing this issue.

[2020-01-03 09:59] #7724 closed

[2020-01-03 10:01] michelvocks commented on #7784
Closing this due to inactivity. Feel free to open a new issue if you are still experiencing this issue.

[2020-01-03 10:01] #7784 closed

[2020-01-03 10:04] michelvocks commented on #7288
Hi @tormath1!

What error message would you expect to see? I personally think the current error message explicitly defines the problem, doesn't it?

Cheers,
Michel

[2020-01-03 10:18] michelvocks commented on #7930
Closing this due to inactivity. Feel free to open a new issue if you are still experiencing this issue.

[2020-01-03 10:18] #7930 closed

[2020-01-03 10:18] michelvocks commented on #7957
Closing this due to inactivity. Feel free to open a new issue if you are still experiencing this issue.

[2020-01-03 10:18] #7957 closed

[2020-01-03 10:18] michelvocks commented on #3821
Closing this due to inactivity. Feel free to open a new issue if you are still experiencing this issue.

[2020-01-03 10:18] #3821 closed

[2020-01-03 10:19] michelvocks commented on #3863
Closing this due to inactivity. Feel free to open a new issue if you are still experiencing this issue.

[2020-01-03 10:19] #3863 closed

[2020-01-03 10:20] michelvocks commented on #5389
Closing this due to inactivity. Feel free to open a new issue if you are still experiencing this issue.

[2020-01-03 10:20] #5389 closed

[2020-01-03 10:30] michelvocks commented on #7974
Hi @iusergii!

Sorry for the late reply.

I recommend to always monitor both channels (metrics & audit logs) in production environments. Both channels are similarly important to watch for especially for security reasons.

I think that could be helpful, indeed.

Cheers,
Michel

[2020-01-03 10:31] michelvocks commented on #8012
Closing this due to inactivity. Feel free to open a new issue if you are still experiencing this issue.

[2020-01-03 10:31] #8012 closed

[2020-01-03 10:39] michelvocks commented on #8009
Hi @niclarcipretti!

I'm going to close this issue since I saw you've opened a separate PR at https://github.com/hashicorp/vault-plugin-database-oracle/pull/25.

Cheers,
Michel

[2020-01-03 10:39] #8009 closed

[2020-01-03 12:05] michelvocks commented on #7725
Hi @bardagadvergur!

Sorry for the late reply.
I've tried to reproduce your issue but was unable to do so.
Have you tried to play a bit with the maximum number of open connections from the MSSQL database plugin? https://www.vaultproject.io/api/secret/databases/mssql.html#max_open_connections
I noticed that you also use an MSSQL database as your Vault storage backend. Is this the same physical data

[2020-01-03 13:44] kbroughton commented on #3790
I don't think this statement is true: "If the external IDs were stored in vault itself, once entered, the vault would be the only place in that account able to make STS calls to other accounts."

As per AWS docs at https://docs.aws.amazon.com/IAM/latest/UserGuide/id_roles_create_for-user_externalid.html "ExternalID is not treated as a secret". If successful, the externalID shows up in CloudTrail l

[2020-01-03 15:09] kevinpgrant commented on #5767
I've been reading this post a few times, whilst trying to solve a different issue, but then I read something that finally clicked - you have used source_profile in ~/.aws/credentials but according to the docs, it can only be used in the CLI config file ~/.aws/config

Example configuration using source_profile:

[code]
see [https://docs.aws.amazon.com/cli/latest/topic/config-vars.html](https://docs

[2020-01-03 17:21] tr1ck3r opened #8090 "Handling of external plugins causes undesirable warnings to be logged"
**Is your feature request related to a problem? Please describe.**
We (Venafi) have developed 2 secrets engine plugins for Vault (https://github.com/Venafi/vault-pki-backend-venafi and https://github.com/Venafi/vault-pki-monitor-venafi).  Both are working properly in terms of their functionality but we're seeing warnings like the following being logged repeatedly which is concern both to us and ou

[2020-01-03 20:08] vvitayau opened #8091 "HCL adversely auto lower case docker tag to impact expression of Host rule"
**Describe the bug**

I am unable to explicit set the docker tag in `/etc/vault.d/vault.hcl` to configure the router Host rule per https://docs.traefik.io/routing/routers/  because the docker tag gets lowered case. As a result it unable to properly evaluate the `Host` rule expression.

**To Reproduce**
Steps to reproduce the behavior:

1. Edit `vault.hcl` and restart
[code]

2. See error

**Expect

[2020-01-05 16:28] fullkomnun opened #8092 "Unclear failure when trying to init dev vault with invalid token ('s.' prefix)"
**Describe the bug**
Trying to initialise vault server in DEV mode with a user provided token formatted like the ones vault generates results in a generic error. Apparently, custom (user defined) vault tokens cannot have a 's.' prefix (e.g. 's.6w3CpXn5vChbnpLtBlCJCUxs'). The error is not-so-helpful and i haven't seen this mentioned in the official documentation.

**To Reproduce**
Steps to reproduc

[2020-01-05 22:13] anthosz commented on #3689
+1

[2020-01-06 04:18] mister2d commented on #7079
@jefferai How are people retrieving known certificates? Keeping the serial numbers stored in an external database?

[2020-01-06 05:59] memrekaraaslan opened #8093 "How can I connect to mysql database with GoLang"
Hello guys.

I am new in golang and i try to write secret in mysql database with go language. But I don't know where to start. I think this source code is the wrapper for mysql : https://github.com/hashicorp/vault/tree/master/plugins/database/mysql

And I guess I should use to methods of mysql.go
How should I follow a road map. I couldn't find any examples and I'm stuck here. I would be glad if yo

[2020-01-06 06:52] martinssipenko opened #8094 "Link to changelog broken"
**Describe the bug**
On Vault website, the download page points to outdated Changelog. Even tho the website uses correct tag (latest) when I open the link I get outdated changelog.md.

**To Reproduce**
Steps to reproduce the behavior:
1. Go to https://www.vaultproject.io/downloads.html
2. Open chengelog https://github.com/hashicorp/vault/blob/v1.3.1/CHANGELOG.md
3. See that link is for 1.3.1 but c

[2020-01-06 08:02] KnicKnic opened #8095 "Feature Request: Automatic un-sealing with Microsoft Windows Failover Cluster"
**Is your feature request related to a problem? Please describe.**
Would like to implement the ability to auto unseal against a [Microsoft Windows Failover Cluster](https://docs.microsoft.com/en-us/windows-server/failover-clustering/failover-clustering-overview)

**Describe the solution you'd like**
When running vault in Failover Cluster, would like to be able to auto unseal the database regardles

[2020-01-06 09:19] DrMagPie opened #8097 "Standby node produces empty snapshot"
**Environment:**
* Vault Version:
[code]
* Operating System/Architecture:
[code]

**Vault Config File:**
[code]

**Startup Log Output:**
[code]

**Expected Behavior:**
StandBy node should produce snapshot with data.
Or produce error message

**Actual Behavior:**
When running `vault operator raft snapshot save raft.snap` on standby node vault creates empty snapshot file.
[code]

**Steps to Reproduc

[2020-01-06 12:08] AlexeyDmitriev commented on #3892
For me it seems logical that inside one policy best match is chosen(as documented), but if you have several policies, then it should be union of policies.

[2020-01-06 12:38] #8053 closed

[2020-01-06 15:29] sebastianzillessen commented on #4273
Any updates on this?
We would like to introduce vault to our production environment, currently using docker swarm and local deployments (secrets are stored on the swarm manager in the file system).

Our setup:
- We would like to introduce remote deployments from a CD (Jenkins)
- The CD should never have access to the secrets stored in Vault.
- The Developer deploying from the CD should not have ac

[2020-01-06 16:23] CharlieStokes opened #8099 "Vault server - failed to read lease entry"
Issue
We are running a clustered vault environment consisting of 2 AWS EC2 instances connecting to an RDS database. Periodically the vault servers are sealing themselves, prompting me to enter key to unseal - upon unsealing they often immediately reseal.

Reviewing /var/log/messages show the following trace:

Jan  6 10:31:51 sec vault: 2020-01-06T10:31:51.209Z [INFO]  core.cluster-listener: starti

[2020-01-06 18:25] iusergii commented on #7974
Got it, thank you for you feedback @michelvocks.

[2020-01-06 20:29] manish-panwar opened #8100 "Vault(1.3.0) not emitting telemetry"
My Vault installation(1.3.0) isn’t emitting metrics.

**To Reproduce**
Steps to reproduce the behavior:
1. Deploy Vault 1.3.0 on Host and run as Lunux service
2. Enable Telemetry by creating config under /etc/vault.d/telemetry.json

**Expected behavior**
Vault should emit telemetry and send it to StatsD process running on 8125

**Environment:**
* Vault Server Version 1.3.0
* Vault CLI Version v1.3

[2020-01-06 21:57] catsby commented on #5834
Hello -

I apologize for the delay in getting around to this issue. Unfortunately after review I don't believe the mentioned options are viable.

Looking through [RFC 5280][x509], I believe the current behavior is correct; certificates should
not be allowed to expire after their CA expires. If I read the Vault code correctly, the only exception we make is when creating intermediaries.

I'm going t

[2020-01-06 22:11] manish-panwar commented on #8100
So I was able to figure it out. Seems like Vault is somehow not detecting a separate telemetry config file. If we put telemetry config in vault's main HCL config file then I see metrics being emitted (of course I had to fix the port as well).

We were using telemetry.json, I converted it into HCL format and didn't work either. So, for now I will make change in Vault main config file itself and get

[2020-01-07 01:09] b-odonoghue opened #8104 "Invalid Yaml in configmap injection"
Hello,

It looks like there is an error in the in the configmap example documentaion which can be found [here](https://github.com/hashicorp/vault/blob/HEAD@%7B2020-01-07T01:09:29Z%7D/website/source/docs/platform/k8s/injector/examples.html.md#configmap-example)

There is a block that currently shows
[code]

But that is clearly invalid yaml, though I am honestly not sure what the correct form is.

A

[2020-01-07 11:43] klemens-u commented on #7385
I have the same problem. localStorage.clear() fix worked, but quite annoying. Pls fix.

[2020-01-07 14:46] mennlo commented on #6590
Doesn't this give you permissions to update any user's password? I think this would be a security risk, considering you could update an admin's password and login using their account/ permissions.

[2020-01-07 15:51] #7834 closed

[2020-01-07 15:52] #7222 closed

[2020-01-07 19:26] mikegreen commented on #6001
Supporting all Consul retry params would be great - enabled, attempts, backoff, max_backoff (from https://github.com/hashicorp/consul-template#templating-language)

[2020-01-07 20:39] atheiman commented on #3410
@jefferai We're seeing this too, is there a number of tries vault will make to delete the database user before it gives up and forgets about the user in the database?

[2020-01-07 21:27] catsby commented on #8099
Hey @CharlieStokes  - this looks like you're consuming all the available connections to your RDS database. The default is `128`, you may want to adjust by changing the `max_parallel` setting here:

- https://www.vaultproject.io/docs/configuration/storage/mysql.html#max_parallel

The number of open connections depends on the side of your RDS instance, and you'd want to check with RDS to find out fo

[2020-01-07 21:38] chrishoffman commented on #8003
This is expected behavior because there are time where you have permissions to write without the appropriate read permissions.  Since this requires a read before write, there is no way for the API to make this determination.

[2020-01-07 21:38] #8003 closed

[2020-01-07 22:00] catsby commented on #7914
Hello @dunkelbunt1  - Support for enterprise customers needs to go through our enterprise support portal. Reporting through our enterprise support portal ensures that we can comply with contractually obligated SLAs around customer support requests, and that a support engineer or technical account manager can track the issue from report to resolution. As you mention using Sentinel policies I assume

[2020-01-07 22:00] #7914 closed

[2020-01-07 22:03] catsby commented on #8091
Hello - this appears to be a duplicate of https://github.com/hashicorp/vault/issues/6427, so I'm going to close this. Please follow #6427 for any updates.

[2020-01-07 22:03] #8091 closed

[2020-01-07 22:13] catsby commented on #8100
Hey @manish-panwar - Vault will only read the entire directory for configuration files if the `-config` value given when invoking `server` is a directory. Can you share how you're invoking `vault server`?

[2020-01-08 02:50] wongkafai opened #8115 "vault pki Revoke"
1. How to setup pki revocation time

1. problem for with Vault write pki / tidy tidy_cert_store = true tidy_revoked_certs = true ??

        WARNING! The following warnings were returned from Vault:
        * Tidy operation successfully started. Any information from the operation
         will be printed to Vault's server logs.

{"time":"2020-01-08T02:31:18.345564346Z",
"type":"response",
"auth":{

[2020-01-08 09:23] bardagadvergur commented on #7725
Hi @michelvocks ... I haven't seen this parameter before, I did try every possible setting for the max_parallel parameter though. Do you have a recomended setting for the max_open_connections?

Vault has it's own physical database but resides on the same SQL server.

Cheers,
Gulli

[2020-01-08 11:22] michelvocks commented on #8100
#5860 probably related

[2020-01-08 11:27] bardagadvergur commented on #7725
I've tried a few settings. Right now it's like this:
`connection_details - map[connection_url:sqlserver://{{username}}:{{password}}@sql max_open_connections:1 max_parallel:2 username:user]
`

The errors are still rampant (see attachment)
![image](https://user-images.githubusercontent.com/16955820/71974448-693e3380-3209-11ea-8086-71f6ece47c7b.png)

[2020-01-08 13:23] Garath620 commented on #7952
same issue for me too

[2020-01-08 14:54] atheiman opened #8117 "approle "expiration: revoked lease" stderr logs"
We are running vault 1.0.3 community version. 3 Vault nodes on EC2 running in HA mode backed by 5 Consul EC2 instances.

Our vault stderr contains logs like this at an incredibly high rate, roughly 114,000 times in the last 4 hours:

[code]

We tried disabling the "dev" approle auth method with plans to re-enable it, but this operation would time out. So then we restored consul to a snapshot from

[2020-01-08 15:08] ncabatoff commented on #8117
It sounds like you were generating leases faster than you can revoke them.  To prevent this in future, consider increasing TTLs.  For now, assuming the messages you cite are representative (i.e. they're mostly about auth/approle/dev), given that you've deleted the roles it should sort itself out on its own.  You should be able to monitor the situation using the metric `vault.expire.num_leases` (se

[2020-01-08 15:44] bigman3 commented on #4368
@jefferai just to confirm,  required_parameters, allowed_parameters and denied_parameters are not supported on  kv-v2, correct?

[2020-01-08 15:52] ppestinger commented on #8117
@ncabatoff is there a good way to link the leases we're seeing to a specific approle? Even though we've deleted all the roles from the approle auth method in question (auth/approle/dev), we're still seeing the revoked lease messages this morning, almost a full day later.

Basically, can we link a lease id like "lease_id=auth/approle/dev/login/h9d7dea14c17ded56097bf4203ce6c6a7179213851c06f9395c43d3

[2020-01-08 16:01] ppestinger commented on #8117
We were able to check the vault.expire.num_leases metric and it is... enlightening! Here's our output:

[2020-01-08 09:55:20 -0600 CST][G] 'vault.expire.num_leases': 448155.000
[2020-01-08 09:55:30 -0600 CST][G] 'vault.expire.num_leases': 448151.000
[2020-01-08 09:55:40 -0600 CST][G] 'vault.expire.num_leases': 448151.000
[2020-01-08 09:55:50 -0600 CST][G] 'vault.expire.num_leases': 448147.000
[202

[2020-01-08 17:23] ncabatoff commented on #8117
You could try a prefix-based revoke: https://www.vaultproject.io/docs/commands/lease/revoke.html

[2020-01-08 19:48] atheiman commented on #8117
@ncabatoff  does that work for approle leases (in an auth method) rather than in a secrets engine lease?

[2020-01-08 20:16] calvn commented on #8117
If you have audit logs enabled, looking that requests against auth/approle/dev/login would get you a step closer in that direction. The process might be a bit tedious since the secret ID value will be hashed, but you could correlate it by listing the IDs for a role via https://www.vaultproject.io/api/auth/approle/index.html#list-secret-id-accessors and then calculating hash of those by using https

[2020-01-08 21:11] dippynark commented on #5834
@catsby I don't see why capping the end date of the certificate to the end of the CA isn't an option? The problem for a user is that without that functionality they have to manually calculate the amount of time remaining and request appropriately.

[2020-01-08 21:22] ncabatoff commented on #8117
Yes it does.

[2020-01-08 21:27] andrejvanderzee commented on #5834
@catsby where in the RFC does it say that capping a certificate or CSR to the CAs expiry date is not compliant? I understand issuing beyond CAs expiry date is non-compliant, but capping should be OK.

[2020-01-08 22:40] jboero commented on #110
I know this is closed but I've done this. Repo here:
https://github.com/jboero/hashifuse

[2020-01-08 23:39] cheyngoodman commented on #6590
@lrbnew, allowed_parameters would work, but @jefferai mentioned it could be fragile.

@mennlo if you follow the steps I've outlined. The "testuser" will only have access to change it's own password. I've tested creating a second "testuser2" and the original "testuser" could not modify the second users password.

After the original 8 steps:
[code]

[2020-01-09 03:38] hbwheat commented on #6104
I found a solution to this bug. I added two pieces to vault/physical/mssql/mssql.go file:

[Snippet 1](https://github.com/hbwheat/vault/blob/9d2dd6ed996ef092ff1f5eeb0674e600445c0194/physical/mssql/mssql.go#L97-L101)

[Snippet 2](https://github.com/hbwheat/vault/blob/9d2dd6ed996ef092ff1f5eeb0674e600445c0194/physical/mssql/mssql.go#L116-L119)

My config.hcl file now looks like:
[code]

I'd love to d

[2020-01-09 07:13] AndrewSav commented on #8104
There are also unescaped quotes in the same yaml at:

[code]

[2020-01-09 13:45] mhenniges commented on #7606
@paul-mesnilgrente , The way I try to deal with this sort of tracking today is by using the --forward-session-name feature of aws-iam-authenticater, passing in the email address of the user. We just have this setup as standard in our kubeconfigs, picking up the email via an environment variable from the shell profile. The value passed to --forward-session-name is what is used to identify the user

[2020-01-09 13:57] hbwheat commented on #6104
To add, the much easier solution with connecting to an Azure SQL is to add the database connection string the end of the server parameter. This doesn't require changing the underlying Go code at all.

1) Create a db in Azure SQL
2) Append "server" with a database string

ie:

[2020-01-09 14:54] jboero commented on #7893
Closing this as it no longer seems to happen after an update and 1.3.1.  No idea why.

[2020-01-09 14:54] #7893 closed

[2020-01-09 15:01] mennlo commented on #6590
@cheyngoodman Thanks I realized I was getting auth/* permissions from a different policy.

[2020-01-09 16:16] kalafut commented on #6104
@hbwheat Thanks for digging into this and finding a workaround!  My preference would be to keep the configuration simple and update our code to handle both cases gracefully, if possible. I've not looked in the details of what that might be (maybe the object_id approach, or something else), and would welcome a PR. Do you have access to both a normal SQL server as well as Azure's version to try it o

[2020-01-09 16:18] mennlo commented on #6590
I'm having an issue getting this to work, still getting permission denied.

[vault@vault-0 ~]$ userpass_accessor="$(vault auth list | awk '/^userpass/ {print $3}')"
[vault@vault-0 ~]$ cat > userpass.hcl << EOF

[vault@vault-0 ~]$ vault policy write userpass userpass.hcl
Success! Uploaded policy: userpass
[vault@vault-0 ~]$ vault write auth/userpass/users/testuser password=test policies=userpass
Su

[2020-01-09 16:21] mennlo commented on #6590
I'm having an issue getting this to work, still getting permission denied.
[code]

[code]

Can anyone help me diagnose my issue?

[2020-01-09 17:14] hbwheat commented on #6104
@kalafut
That’s certainly more preferable than a work around. I was able to replicate the error from queries in SQL Management Studio run on the master database.

Unfortunately I’m not much of a DB Admin, and I only have access to Azure AQL at the moment.

 From what I can tell, it’s an inherit limitation in Azure SQL and the way it allows connections. The Go module connects to the master by defau

[2020-01-09 20:54] mikegreen commented on #7988
@cidrick a workaround to not write the sink requires a dummy listener, but here is that syntax for the config in case someone else needs this functionality prior to it being released:
[code]

[2020-01-09 21:59] monokal commented on #7905
I'd also be interested in the ability to store custom metadata attached to a specific secret.

[2020-01-09 22:00] monokal commented on #1893
I'd also be interested in the ability to store custom metadata attached to a specific secret.

[2020-01-09 22:05] monokal commented on #111
Unless I'm mistaken, this has now been implemented: https://www.vaultproject.io/docs/commands/list.html

[2020-01-10 07:50] lcgkm opened #8128 "Add approle metadata to identity alias"
Could we allows for writing identity token templates that include attribute:[role_name]?
(And including this attribute in path templates)
If Vault can add AppRole's role name to entity alias metadata, and then we can reference Entity metadata in our ACL templates directly.

Reference:
https://github.com/hashicorp/vault/pull/7985
https://github.com/hashicorp/vault/pull/2985
https://github.com/hashi

[2020-01-10 09:05] chethan-msj opened #8129 "getting Unsuppoted protocal in Hashicorp vault"
please advice to fix this issue

2020-01-10T11:32:53.427+0530 [WARN]  core.cluster-listener: no TLS config found for ALPN: ALPN=[]
2020-01-10T11:32:53.428+0530 [DEBUG] core.cluster-listener: error handshaking cluster connection: error="unsupported protocol"
2020-01-10T11:32:53.798+0530 [WARN]  core.cluster-listener: no TLS config found for ALPN: ALPN=[]
2020-01-10T11:32:53.798+0530 [DEBUG] core.cl

[2020-01-10 12:02] MaroonedMind commented on #5943
Hello, @meirish ! Is it possible to lookup an entity by alias-name and mount-accessor via CLI (in UI)?

[2020-01-10 12:17] dryvenn commented on #7889
Same here: `VAULT_CACERT`, `VAULT_CLIENT_CERT` and `VAULT_CLIENT_KEY` are okay to obtain a token from Vault using an Agent Method, but not to obtain a secret using an Agent Template.

However if they are defined in the `vault{ }` stanza of the agent config file it does seem to work.

[2020-01-10 12:20] dryvenn commented on #7889
Problem seems to come from here: https://github.com/hashicorp/vault/blob/7ebb303571a239476b13d77ceaa438107bd0f934/command/agent/template/template.go#L195

[2020-01-10 13:51] ncabatoff commented on #8129
My hunch is that you're connecting to the wrong port, e.g. 8201 instead of 8200.  Can you post your listener config and how you're connecting to vault?

[2020-01-10 15:01] sebinjohn opened #8131 "Ability to specify fields to be masked in database/config output."
**Is your feature request related to a problem? Please describe.**
In a database plugin if root credential can't be specified in password field, it will not be masked in the output of `vault read database/config/:name`
More context:
My organization has internally developed a database plugin to create [Artifactory](https://jfrog.com/artifactory/) token as a dynamic secret in Vault. Due to organizat

[2020-01-10 17:34] tyrannosaurus-becks commented on #7924
All PRs needed to add support for this have been merged into master and will go out with the 1.4 beta. Thanks everyone!

[2020-01-10 17:34] #7924 closed

[2020-01-10 21:18] arminm opened #8134 "Pass Context to http requests"
I'm having a hard time using APM with OpenTracing with this client, because there's no way for me to pass a context (e.g. HTTP requests' `req.Context()`) to the functions that make an HTTP call (i.e. the `Logical` module which does `Read`, `ReadWithData`, `List`, etc with HTTP calls to the backend).

I would like to ask for allowing for context to be passed to the Logical client's functions so peo

[2020-01-12 11:37] mukgupta commented on #7450
Any update on this? We too need IRSA support.

[2020-01-13 08:52] lijie-advantech opened #8138 "If the path in the created secret has /, the path cannot be deleted."
**Describe the bug**
If the path in the created secret has /, the path cannot be deleted.

**To Reproduce**
Steps to reproduce the behavior:
1. Call api / secret / data /: path to create a secret, the path is aa / bb
2. Delete this secret
3. The path aa cannot be deleted

**Expected behavior**
There is no secret under the aa path. I hope to provide a API to delete the aa path.

[2020-01-13 10:50] anemptyair opened #8139 "How to use iam_role in "vault write aws/config/root""
Currentlly i config with below command:

-  vault write aws/config/root \
-        access_key=******\
-        secret_key=****** \
-        region=us-east-1

Does it support aws iam_role?

[2020-01-13 11:00] michelvocks commented on #7725
Hi @bardagadvergur!

Thanks for the feedback. I think I have an idea where the problem could be.
I try to reproduce this via a test.

Cheers,
Michel

[2020-01-13 14:50] rckjacobs1 opened #8141 "Vault unable to read Consul storage after implementing TLS Unable to read storage migration status."
**Describe the bug**
A clear and concise description of what the bug is.

**To Reproduce**
Steps to reproduce the behavior:
1. Run `vault write ...`
2. Run `vault login....`
3. See error

**Expected behavior**
A clear and concise description of what you expected to happen.

**Environment:**
* Vault Server Version (retrieve with `vault status`):
* Vault CLI Version (retrieve with `vault version`):

[2020-01-13 14:52] iMartyn opened #8142 "Website/Documentation bug : helm configuration values missing."
**Describe the bug**
Under Platforms -> Kubernetes -> Helm Chart -> Running vault there is a link to "learn about the configuration options" which takes you to a page telling you how to run `helm install`.  Unfortunately, that page does not document any configuration options.

This means there is no way without digging through the templates to understand how to install vault in anything but insecu

[2020-01-13 15:05] DrissiReda commented on #7211
Is this still not implemented? I can't even set the ingress to work at root, I keep getting error 503:
This is my ingress, the rest is similar to yours

[code]

[2020-01-13 15:06] rckjacobs1 commented on #8141
Describe the bug
Once TLS is enabled between Vault and the Consul backend, Vault generates the following
message on startup
 WARNING! Unable to read storage migration status.

To Reproduce
Configure TLS communuication between Vault and Consul
Vault Configuration
{
        "storage": {
                "consul": {
                        "address": "192.168.47.180:8500",
                        "sch

[2020-01-13 15:07] rckjacobs1 commented on #8141
Vault server configuration
{
"storage": {
"consul": {
"address": "192.168.47.180:8500",
"scheme": "https",
"path": "vault/",
"tls_skip_verify": 1,
"cluster_addr": "http://192.168.47.180:8201",
"tls_ca_file": "/etc/vault.d/consul-agent-ca.pem",
"tls_cert_file": "/etc/vault.d/dc1-server-consul-0.pem",
"tls_key_file": "/etc/vault.d/dc1-server-consul-0-key.pem"
}
},
"listener": {
"tcp": {
"address": "

[2020-01-13 15:09] rckjacobs1 commented on #8141
[vault.hcl.txt](https://github.com/hashicorp/vault/files/4054226/vault.hcl.txt)

[2020-01-13 15:11] rckjacobs1 commented on #8141
Is there a working example of vault utilizing consul backend with TLS enabled?

[2020-01-13 16:08] bardagadvergur commented on #7725
That sounds promising. Any more info on what it could potentially be?

[2020-01-13 16:46] catsby commented on #8138
Hello - thanks for reporting this. I believe this is effectively a duplicate of https://github.com/hashicorp/vault/issues/1690, so I'm going to close this for now. Please follow #1690 for any updates, or let me know here if you feel that the issues are different. Thanks!

[2020-01-13 16:46] #8138 closed

[2020-01-13 17:04] catsby commented on #8141
Hello - would it be possible share more information regarding the error? Are there any other parts in the log or around the error that you could share without disclosing any secret information? It would be helpful to see if there are any network related errors in the logs.

The only thing that I see at this time in the configuration you shared is `cluster_addr` is included in the `consul` block, w

[2020-01-13 22:34] catsby commented on #8115
Hello - Are you experiencing an issue here or are you looking for guidance? If you're looking for usage, help, or otherwise guidance you may have more success asking in our user forums:

- https://discuss.hashicorp.com/c/vault/30

I'll try to answer the questions I see:

Revocation time is determined by the `TTL`. Typically root and intermediate certs have longer TTLS, and then the certs generated

[2020-01-13 22:34] #8115 closed

[2020-01-14 01:21] joelthompson commented on #8139
Hi @anemptyair -- currently, the AWS secret engine does not support assuming an IAM role before issuing AWS requests. However, if you run it on an EC2 instance that has an IAM instance profile attached to it, Vault will recognize those credentials automatically.

Can you describe your use case in a bit more detail?

[2020-01-14 01:58] anemptyair commented on #8139
@joelthompson  i want to get aws credentials with "vault read aws/creds/my-role", so firstly i need to add root credentials by "vault write aws/config/root" , but i don't want to add "access_key" and "secret_key",can i just add a field named "iam_role"?

[2020-01-14 02:45] joelthompson commented on #8139
Hi @anemptyair -- you don't need to enter access key and secret key if your Vault server is running on an EC2 instance that has an instance profile associated with it.

If we did add an `iam_role` field that indicated the ARN of an IAM role for Vault to assume before making other API calls, then Vault would need credentials to call AssumeRole to get credentials for that IAM role, and now you're ba

[2020-01-14 05:21] anemptyair commented on #8139
Got it , thank u very much.

[2020-01-14 05:22] #8139 closed

[2020-01-14 05:47] RavindraSingh12 commented on #7211
@Marusyk @DrissiReda I am facing the same issue. Few changes in the service of vault can make it work but it doesn't work with subpathing.

I am considering you are using nginx ingress controller.

edit your service to listen at port 80.
kubectl edit svc vault-ui

then in ingress.yaml
disable rewrite-redirect
- backend:
      serviceName: vault-ui
      servicePort: 80
   path: /

Since vault-ui s

[2020-01-14 11:23] manjeetsorout opened #8148 "Connection refused while Configure the AWS Secrets Engine"
I'm running the following command :
:~$ vault secrets enable -path=aws aws

And I'm getting the following error:

Error enabling: Post http://127.0.0.1:8200/v1/sys/mounts/aws: dial tcp 127.0.0.1:8200: connect: connection refused

Kindly resolve this issue.

[2020-01-14 11:44] KrisTC commented on #7385
I am having the same issue. Using the authentication method "Username". Using version: Vault 1.3.0. If I login with incognito mode in chrome (or clear my storage) then it is fine I am able to login.

The error log from chrome:
`vendor-1decb7c3f4690ab9d322972e8db32da0.js:2127 Error while processing route: vault.index Cannot read property 'includes' of null TypeError: Cannot read property 'includes'

[2020-01-14 11:46] michelvocks commented on #8148
Hi @manjeetsorout!

This error message indicates that the CLI is unable to contact your remote Vault server.
Please make sure that your Vault instance is listening on http://127.0.0.1:8200.

I also recommend asking these kinds of questions via our [discussion forum](https://discuss.hashicorp.com/c/vault) since the issue tracker is reserved for feature requests and bugs.

Cheers,
Michel

[2020-01-14 11:47] klemens-u commented on #7385
Pls give a higher priority to this issue. Thanks a lot!

[2020-01-14 14:46] michelvocks commented on #7502
Hi @arctiqjacob!

I've tried to reproduce your issue but wasn't able to do so.
I created a three-node raft cluster and used the third (non-leader) node to enable and setup the database plugin. Would you mind to try it again with the latest Vault version?
It would be also helpful to get more information on your setup e.g. how many Vault nodes do you have? Is the connected node a performance seconda

[2020-01-14 14:47] #7974 closed

[2020-01-14 15:01] httpnotonly opened #8150 "Caching problems"
Environment:
- LDAP
- VAULT with LDAP auth
- Fired person

Steps to reproduce:
1. Block user on LDAP
2. Check, that LDAP is giving you an error
3. Go to VAULT page and login with fired employee credentials
4. Profit. Vault doesn't check the answer from LDAP and is giving you all secrets

[2020-01-14 16:30] ncabatoff commented on #8150
Hi @httpnotonly,

Can you elaborate on what you mean by "block user on ldap"?

Which LDAP server are you running?

What version of Vault are you using?

How is your ldap secrets engine configured?

[2020-01-14 17:37] jefferai commented on #8150
@httpnotonly Please responsibly disclose if you believe you have found a security issue. Our email address to do so is at the very top of our Readme -- security@hashicorp.com. Closing this issue, further discussion should happen there.

[2020-01-14 17:37] #8150 closed

[2020-01-14 17:39] jefferai commented on #8150
Note for those getting notifications: deleting as this is basically a zero day disclosure and we don't have enough information to address it so it's an unacceptable risk. We will hopefully get more information soon via the email address.

[2020-01-14 22:42] Aracki opened #8155 "How to debug already sealed Vault pod (1.3.0)"
In my case, 1/3 pods keep getting sealed over time, but the only error I'm getting is:
[code]

Do you know what can be the case of sealing and most importantly how do I debug already sealed pod?

[2020-01-15 10:03] #5619 closed

[2020-01-15 10:13] michelvocks commented on #8155
Hi @Aracki!

I think the most important source to identify failures are the Vault server logs.
Would it be possible to get the complete logs from a sealed Vault instance?

Cheers,
Michel

[2020-01-15 12:33] michelvocks commented on #8093
Hi @memrekaraaslan!

It would be great if you could elaborate a bit more on your use case.
With secret do you mean you want to write a password (for example) via Vault into your MySQL storage engine?
The MySQL secret engine you've linked is mainly used to automatically generate a set of database credentials for your applications via Vault or to rotate credentials for a static account in your datab

[2020-01-15 17:20] catsby commented on #8131
Hello - as a workaround, is it possible to rename the `api_key` to `password` in the custom plugin? I believe that will get the desired effect, at the cost of a slight misnomer.

Long term, this seems like something that can be accomplished as you describe, though I would probably remove the sensitive keys instead of masking them. Adding a `filter_keys` type configuration variable that accepts a c

[2020-01-15 17:46] catsby commented on #7992
Hello -

Could you try running `vault login -format=json -method=ldap username=user_a` and inspect the output? I'm curious if the `renewable` field is `false` there.

Ultimately I don't believe this is a bug, but instead behaving as intended. LDAP renewal has behaved this way since it was added to Vault in https://github.com/hashicorp/vault/pull/151 ; if there are no policies, we simply return wit

[2020-01-15 18:07] ncabatoff commented on #7992
This looks like a dup of #8002, which has a PR opened to fix.  Let's move the discussion there.  Feel free to re-open if you disagree it's a duplicate.

[2020-01-15 18:07] #7992 closed

[2020-01-15 21:27] #7851 closed

[2020-01-15 21:43] Aracki commented on #8155
Apart from the error I've already copied, there were a lot of WARNINGS regarding Consul backend:
[code]

...but I've already opened up the [#6876](https://github.com/hashicorp/consul/issues/6876) in the Consul repo.

[2020-01-16 00:46] rckjacobs1 commented on #8141
WARNING! Unable to read storage migration status.
2020-01-14T21:59:58.064Z [DEBUG] storage.consul: config path set: path=vault/
2020-01-14T21:59:58.064Z [DEBUG] storage.consul: config disable_registration set: disable_registration=false
2020-01-14T21:59:58.064Z [DEBUG] storage.consul: config service set: service=vault
2020-01-14T21:59:58.064Z [DEBUG] storage.consul: config service_tags set: servic

[2020-01-16 00:57] calvn commented on #8141
It also looks like you have TLS enabled for Vault's listener, but the `cluster_addr` is using an `http://...` address instead of `https://...` one.

[2020-01-16 01:03] rckjacobs1 commented on #8141
Forcing the https session to use 8500 in consul config
consul-server.hcl
{
    "datacenter":"vaultdc",
    "data_dir":"/data",
    "encrypt":"zfJ0PyLW8h5hpmuxACIXxw==",
    "log_level":"DEBUG",
    "enable_debug":true,
    "node_name":"RichVault3",
    "advertise_addr":"192.168.0.232",
    "server":true,
    "ui":true,
    "bootstrap":false,
    "start_join": ["192.168.0.92", "192.168.0.41"],

[2020-01-16 05:14] chethan-msj commented on #8129
@michelvocks  ya ..you are right ..i changed port to 8200,and able to connect thanks for your suggetion

[2020-01-16 07:07] memrekaraaslan commented on #8093
Hello @michelvocks

I guess I didn't make the necessary explanations. In summary, I want to keep the text file with an encrypted way in the mysql database (for username: root password: xxx) and read it when needed. In general, I want to keep secrets in the database. So far I have connected to the database with my root credentials and used the following method. And a password with a username return

[2020-01-16 08:47] sebinjohn commented on #8131
@catsby Yes. I will be implementing this workaround.

[2020-01-16 13:44] #8129 closed

[2020-01-16 15:57] spangenberg commented on #7725
Hi @bardagadvergur,

I also tried to reproduce this locally with a SQL Server container, but it worked flawlessly.

Since you have AWS KMS unsealing in your config, I am curious if you might be using RDS as your SQL Server.
If this is the case could you please post your [creation](https://www.vaultproject.io/api/secret/databases/mssql.html#creation_statements) and [revocation](https://www.vaultpro

[2020-01-16 16:06] bardagadvergur commented on #7725
Hi @spangenberg ...

We are not using RDS but a SQL server running in our datacenter (not in a container).
Version info:

Microsoft SQL Server 2017 (RTM-CU17) (KB4515579) - 14.0.3238.1 (X64)   Sep 13 2019 15:49:57   Copyright (C) 2017 Microsoft Corporation  Enterprise Edition: Core-based Licensing (64-bit) on Windows Server 2012 R2 Standard 6.3 <X64> (Build 9600: ) (Hypervisor)

[2020-01-16 17:42] #8002 closed

[2020-01-16 18:11] sebschlue opened #8162 "Vault Cluster implemented as Kubernetes StatefulSet with raft storage engine does not survive node reboot"
**Describe the bug**
Version: Vault 1.3.0
I am currently testing a vault cluster with three members implemented as a StatefulSet in a Kubernetes Cluster with 3 nodes using raft storage engine. Each StatefulSet member has it's own persistent storage (volumeClaimTemplates, PersistentVolumeClaims, PersistentVolumes). I am also testing auto-unseal using a separate Pod with transit secrets engine but I

[2020-01-16 18:40] briankassouf commented on #7919
Going to close this for now, but please let us know if a WSL update doesn't fix this issue.

[2020-01-16 18:40] #7919 closed

[2020-01-16 23:11] rbigeard commented on #7187
Hitting this problem with Vault 1.3.x but not Vault 1.2.x. Could there be a regression?

I have tried the CLI, the Json payload method and the UI, same "failed to decode PEM block in the certificate" error.

The CLI method (vault write auth/ldap/config) worked fine with 1.2.x

[2020-01-17 03:09] rbigeard commented on #7187
I managed to make it work and it looks like the order or parameters when passed to the cli matters.

[2020-01-17 10:32] michelvocks commented on #8155
It looks like this is a duplicate of https://github.com/hashicorp/consul/issues/5439.

Until we figured out what the problem is and come up with a fix I would try to work around this issue with what https://github.com/hashicorp/consul/issues/5439#issuecomment-555535091 has described.

[2020-01-17 10:44] michelvocks commented on #8093
Hi @memrekaraaslan!

Sorry but I still have the feeling that I don't understand the full context here.

The first question I have is why do you use internal Vault code to generate a new set of credentials instead of using Vault? See https://learn.hashicorp.com/vault/secrets-management/sm-dynamic-secrets

What is the exact problem here?

That is the idea of dynamic secrets. Instead of using the sam

[2020-01-17 10:59] memrekaraaslan commented on #8093
#The first question I have is why do you use internal Vault code to generate a new set of credentials instead of using Vault?

Actually, that's what I'm trying to figure out. All I want to do is write a text file to the mysql database via Vault and read it and observe if the text is encrypted. I can't figure out which methods to use to write to the database. I'd appreciate it if you could just tel

[2020-01-17 13:19] michelvocks commented on #8093
Vault does not support this work-flow directly. You can use Vault's Transit secret engine (https://learn.hashicorp.com/vault/encryption-as-a-service/eaas-transit) to encrypt your text file and then manually store the returned encrypted message in your MySQL database.

Another option would be to use your MySQL database as storage backend (https://www.vaultproject.io/docs/configuration/storage/mysql

[2020-01-17 13:45] spangenberg commented on #7989
Hi @MrLuje,

You [explicitly disabled TLS](https://www.vaultproject.io/docs/configuration/listener/tcp.html#tls_disable) in your Vault server config.
Vault is not using either of your private keys at all in this case.
What you might be seeing is that Traefik is not supporting encrypted private keys yet, here is a feature request in their repository: https://github.com/containous/traefik/issues/126

[2020-01-17 14:01] memrekaraaslan commented on #8093
This is what makes the most sense. I think I can solve the work I'm trying to do (write a text file (exp: .pem file) in encrypted form to the mysql database). I will use MySQL as a storage backend and use the KV secrets engine to write to the database in Go code.
Thank you, I will rewrite where I hang.

[2020-01-17 14:02] jasonodonnell commented on #8162
Hi @sebschlue, can you try setting the `VAULT_CLUSTER_ADDR` environment variable on each Vault pod in the statefulset using the following:

[code]

[2020-01-17 14:07] spangenberg commented on #7989
I've tested it myself:

[code]

With an encrypted private key, it fails but with a different message: `failed to find any PEM data in key input`

[2020-01-17 14:22] timp87 opened #8178 "ACL: denied_parameters option doesn't work for read capability"
**Background**
I want to store all my X509 certificates and keys in KV2 storage engine this way:
[code]
I want everybody to be able to see "crt", but not "key".

**Steps to reproduce the behavior**
1. Login to vault with high privileges (root token for example):
[code]
2. Enable KV2 secret engine:
[code]
3. Place a secret into KV2:
[code]
4. Create a policy which would hide "key":
[code]
5. Assign

[2020-01-17 14:38] michelvocks commented on #8093
No problem. Would you mind asking the following questions via our [Discussion Forum](https://discuss.hashicorp.com/c/vault) since the issue tracker is usually reserved for bugs and feature requests? Closing this for now.

[2020-01-17 14:38] #8093 closed

[2020-01-17 14:44] michelvocks commented on #8178
Hi @timp87!

Thanks for opening this issue. It seems to be a duplicate of https://github.com/hashicorp/vault/issues/4368 so I will close this for now. Please let me know if you think this issue is different.

Cheers,
Michel

[2020-01-17 14:44] #8178 closed

[2020-01-17 15:28] timp87 commented on #8178
@michelvocks wow, this is expected and known for almost a year and still not properly documented.
Spend a whole day trying to make this work. =(

[2020-01-17 17:04] sebschlue commented on #8162
Thank you for your reply @jasonodonnell

This sounds like it's the right direction but apparently it comes at a cost.

`$(HOSTNAME)` did not work for me for unknown reasons and I also guess that it would mean the _short_ hostname such as "vault-0" which could not be resolved at the other Pods. But I did the following:

[code]

This sets a proper FQDN like vault-0.vault.vault.svc.cluster.local as V

[2020-01-17 17:19] jasonodonnell commented on #8162
Hi @sebschlue, you can setup readiness probes to work around this!

[code]

This will make Vault return 204 codes if it's sealed, even if its a standby, even if it's not initialized. Give it a shot!

[2020-01-17 19:00] spangenberg commented on #8104
@AndrewSav the unescaped quotes in the `{{- ... -}}` are fine as they only get used in the preprocessor.

[2020-01-17 19:23] AndrewSav commented on #8104
Hello, @spangenberg did you try it, or you just think it should work? Because I tried and it does not. Escaping them does.

[2020-01-17 19:39] sebschlue commented on #8162
Thanks for the reply @jasonodonnell

I am already using a readinessProbe but my specific concern was that with publishNotReadyAddresses the list of Pod IPs contained in the DNS entry of the headless service does not change if a pod becomes unavailable or otherwise dysfunctional. Its IP should be removed from the list but because of publishNotReadyAddresses it isn't removed. What is important durin

[2020-01-17 19:39] #8162 closed

[2020-01-17 19:54] spangenberg commented on #8104
Hi @AndrewSav, thanks for the quick response.
I mistakenly thought it was using go templates and not consul templates.
I'll also address this in my PR.
Thanks again

[2020-01-17 20:44] fewknow commented on #6832
This is currently blocking for us to use "OrgName, Inc."  when creating a role with pki secrets engine.
[code]

[2020-01-17 23:27] vvelikodny commented on #8094
According to the commits, the team supports actual `CHANGELOG.md` in the `master` branch, not version ones. a912eb5f02e8f1683bb507e3f5cab834b10b237d So link on the site should be always to the to the https://github.com/hashicorp/vault/edit/master/CHANGELOG.md

[2020-01-18 06:40] alireza95jalili opened #8188 "There is a problem with displaying passwords in default ui mode"
hi there is a bug that  i cant see password in vault default ui mode, but when i switch to json mode, password will show up.

checkout  this screenShots:
https://www.dropbox.com/s/7iep98ql08p9alx/Screenshot_2020-01-18_09-05-02.png?dl=0
https://www.dropbox.com/s/p08tyg0y03evmvg/Screenshot_2020-01-18_09-05-27.png?dl=0
https://www.dropbox.com/s/p08tyg0y03evmvg/Screenshot_2020-01-18_09-05-27.png?dl=0

[2020-01-18 13:47] #8104 closed

[2020-01-18 15:03] xorhash opened #8189 "Website typo: "Tradidtional""
**Describe the bug**
There is a typo on the front page (https://www.vaultproject.io/); file in this repository: `website/pages/home/index.jsx`. The typo is on line 90.

**To Reproduce**
Steps to reproduce the behavior:
1. Visit https://www.vaultproject.io/
2. Read the “Static Infrastructure” section
3. See “Tradi**d**tional Approach” (emphasis added)

**Expected behavior**
I expected to read “Trad

[2020-01-18 20:44] MrLuje commented on #7989
I disabled TLS on Vault because Traefik 1.7 didn't support TLS passthrough per host and since I had already TLS auth enabled, I tried to use vault cli with TLS termination on traefik

No, sending a curl with the encrypted private key is working fine

My assumption was that Vault CLI would need the passphrase to locally initiate the ssl context, hence it would know if the private key is encrypted o

[2020-01-18 22:57] rayterrill commented on #370
@steven-cuthill-otm I was able to get this working in AzureAD with OIDC, and the ability to assign role-based access in Vault based on AzureAD groups. It's definitely not super well documented IMO (I'll see about maybe adding some info to the docs), but it does indeed work.

[2020-01-18 23:01] rayterrill opened #8191 "Clearer AzureAD Auth/External Group documentation?"
I just set up AzureAD authentication via OIDC, with External Groups, and found the docs somewhat confusing/multiple places to look and pieces of information to pull together.

Would it be worth having a central place for that - maybe adding some additional details to the jwt_oidc_providers page?

I also got the AzureAD piece working with UPN, which is more "standard" for us anyway than email, and

[2020-01-19 04:18] #8189 closed

[2020-01-19 21:37] mencosk commented on #7465
Hi @sidheshdivekar29
I was wondering if you could have done the test using the jwt and role of K8s?

I am having the same problem of not being able to test the connection and obtain data from the vault using the K8s authentication.

I would like to hear or see some sample code of your solution.

Cheers,
Kevin

[2020-01-20 03:16] sidheshdivekar29 commented on #7465
Hi Kevin,

Yes, I had to bringup a local minikube setup to do the testing.
Once the minikube was up I was able to test it.

On Sun, Jan 19, 2020 at 1:38 PM Kevin Mencos <notifications@github.com>
wrote:

--
-Siddhesh.

[2020-01-20 09:43] vvelikodny commented on #8092
@fullkomnun real issue generated here

https://github.com/hashicorp/vault/blob/master/vault/token_store.go#L821

errors mostly suppressed for the command-line output with common `invalid request` error

[2020-01-20 09:53] michelvocks commented on #8188
Hi @alireza95jalili!

Thank you for opening this issue. This issue has been already resolved with https://github.com/hashicorp/vault/pull/7926 and should be available with Vault 1.3.1 onwards.

Cheers,
Michel

[2020-01-20 09:53] #8188 closed

[2020-01-20 14:28] mencosk commented on #7465
Hi  @sidheshdivekar29

Thank you for your help.

Cheers,
Kevin

[2020-01-21 01:25] craigday commented on #3807
I would like to see this as well. Just ran into this when adding IP constraints to an AppRole and was not seeing the client's IP addresses. We use NLB end expose Vault across multiple VPCs using endpoint services.

[2020-01-21 09:25] michelvocks commented on #4066
Hi @sidewinder12s!

Thank you for opening this issue and sorry for the super late reply!
I've tried to reproduce this with the latest Vault version (1.3.2) but was unable to do so.
Would you mind to give it another try with the latest Vault version?

Cheers,
Michel

[2020-01-21 10:46] #7915 closed

[2020-01-21 12:27] Aracki commented on #8155
Sorry @michelvocks, it happened again and I have found logs with related error:
[code]

[2020-01-21 15:34] meirish opened #8198 "Getting started wizard errors on KMIP engine in the UI"
**Describe the bug**
Attempting to enable the KMIP engine when running the welcome wizard results in this error: `Assertion Failed: Could not find component named "wizard/kmip-engine" (no component or template with that name was found)`.

**To Reproduce**

1. Start the wizard and pick "Secrets" (and any others you'd like)
2. Go to enabling secrets, choose KMIP (enterprise binary required for this)

[2020-01-21 18:03] michelvocks commented on #8155
Hi @Aracki!

Have you checked your Consul logs? It looks like Consul had an issue during that time.

Cheers,
Michel

[2020-01-21 18:06] #8142 closed

[2020-01-21 18:20] spangenberg commented on #7888
Hi @dtm,

As you've found out that Vault is creating new entities and aliases for each new AWS Principal your using, this is the expected behavior.
You could, however, switch the [iam_alias](https://www.vaultproject.io/api/auth/aws/index.html#inlinecode-iam_alias) from the default "role_id" to "unique_id" or "full_arn" (be aware of the difference between both).
Doing so allows you to leverage the

[2020-01-21 18:20] #7888 closed

[2020-01-21 20:01] drawks opened #8203 "mysql backend HA lock handling is unsafe"
**Describe the bug**
When using vault with the mysql backend in HA mode if connectivity to the db is lost between a standby node it will cause a panic/crash.

**To Reproduce**
Steps to reproduce the behavior:
1. Configure 2 vault instances in HA with mysql storage backend
Instance 1 vault1.conf:
[code]
Instance 2: vault2.conf
[code]

2. Start Vault instance 1
`vault server -config=/vault1.conf`
3.

[2020-01-21 20:05] PG-TwinsFan commented on #7187
can you share what order you used via the CLI to get this to work?  Seeing the same thing.

[2020-01-21 22:14] drawks opened #8206 "vault crashes on unseal when raft is used as ha_storage"
**Describe the bug**
Vault crashes with a seg fault immediately upon unseal when using `raft` as `ha_sotrage`
**To Reproduce**
Steps to reproduce the behavior:
1. Configure vault with `raft` specified as `ha_storage`
2. Initialize vault
3. Unseal vault
4. Observe crash
[code]

**Expected behavior**
Vault should allow the use of `raft` as a `ha_storage` and operate with normal vault ha semantics
1.

[2020-01-21 22:14] weaseal commented on #494
I just spent hours and hours debugging Vault and found that @VVMichaelSawyer 's hint here solved my issue.  I've been cobbling together a vault instance from a backup and had configured an audit-log-directory prior to the backup's creation, that did not exist on the restore instance.  Even with Vault debugging enabled, the stdout/stderr log contained zero information about leader election issues n

[2020-01-22 02:43] wongkafai opened #8210 "Vault pki certificate tidy cannot delete certificate?"
Vault pki certificate tidy cannot delete certificate?

https://www.vaultproject.io/api/secret/pki/index.html#tidy
1.safety_buffer defaults to 72h??
2.cannot setup tidy

![Capture](https://user-images.githubusercontent.com/8857387/72861175-12098a00-3d04-11ea-9ac5-a7a77739dce1.PNG)

[2020-01-22 14:13] eternalyperplxed opened #8212 "Remove Plain Text LDAP User Passwords from Audit Logs"
**Is your feature request related to a problem? Please describe.**
Audit logs contain plain text user password when doing LDAP authentications

**Describe the solution you'd like**
Obfuscated or complete removal of this field from the logs

**Describe alternatives you've considered**
None

**Explain any additional use-cases**
None

[2020-01-22 14:22] Jamby93 commented on #6325
I solved with a mix of the above configuration:

[code]

Using token groups in our case has the strange effect of getting the groups of the binddn user (vault) instead of the logging-in one.
I struggle to understand how 'memberOf' groupattr with a groupfilter that resemble a user search can even work. I had little to no problem with Vault 1.1.X

[2020-01-22 14:37] ncabatoff commented on #8212
Hi @eternalyperplxed,

Could you provide a (redacted) example please?

[2020-01-22 14:43] eternalyperplxed commented on #8212
Sure, to provide some additional context, we have Vault running in k8s on AWS EKS with logging set for STDOUT.  The following redacted logs are examples....

`{"time":"2020-01-22T14:40:29.355824172Z","type":"request","auth":{"token_type":"default"},"request":{"id":"f2c2805b-73e4-7f37-36b7-74978a15bcd3","operation":"update","namespace":{"id":"root"},"path":"auth/ldap/login/redacted-user","data":{"p

[2020-01-22 15:03] ncabatoff commented on #8212
Is it possible that you've set `log_raw=true` on the audit device?  I would've expected the `error` field to also be HMAC'd.

[2020-01-22 15:05] eternalyperplxed commented on #8212
Just checked the audit settings and it looks like log_raw is set to true.  I'll update the settings and verify that fixes it.

[2020-01-22 15:10] eternalyperplxed commented on #8212
looks like that fixed it! Thanks for the pointer.

[2020-01-22 15:10] #8212 closed

[2020-01-22 15:51] john-mensel-peoplefluent opened #8216 "Vault Agent doesn't honor SIGHUP Signal"
**Describe the bug**
Hi friends!  We've run into an interesting cert renewal problem with the Vault Agent.

We are using TLS certs+client cert in the Vault Agent to connect to our Vault Server. We have created templates that pull updated certs for the Vault Agent from the Vault server so that the Vault Agent can rotate its TLS certificates. Expectation is that if we send a SIGHUP signal to the Vau

[2020-01-22 16:15] catsby commented on #8210
Hello -

The `tidy` endpoint will remove certificates that are expired and past the `safety_buffer` according to the local clock of the server that the command is ran on. The `tidy` endpoint does not return any information on which certificates are being removed, if any, instead that information can be found in the Vault's logs as mentioned.

I'm not sure that this represents any kind of bug. If y

[2020-01-22 18:57] drawks commented on #7428
FWIW, the mysql backend depends on [explicit named lock support. https://dev.mysql.com/doc/refman/5.7/en/locking-functions.html](url) specifically `GET_LOCK` and `IS_USED_LOCK` are called and expected to have the semantics as are present in the current versions of mariadb and mysql.

The short of it is that vault uses a dedicated connection to the configured db host address/ip and attempt to grab

[2020-01-22 21:53] tehmoon commented on #4689
Thanks for the amazing project!
That would be cool to have this because it could reduce friction while login in with client certificate configured in the operating system (this avoid people to have to store their cert in places where they don't remember)

[2020-01-23 03:26] sidewinder12s commented on #4066
@michelvocks I no longer have access to the infrastructure in question.

[2020-01-23 11:01] manjeetsorout opened #8224 "LIST method is returning an error in VERSIONED KV secrets engine at /secret path in vault"
***I'm running the following command:
curl --header "X-Vault-Token: <token_value>" --request LIST http://127.0.0.1:8200/v1/secret/metadata/my-secret

###ERROR i'm getting : {"errors":[]}

required ouput:
{
  "data": {
    "keys": ["foo", "foo/"]
  }
}

kindly resolve this issue

[2020-01-23 12:29] michelvocks commented on #4066
@sidewinder12s Thanks for the quick reply. I will close this issue for now since it is not reproducible. Feel free to open a new issue if you tackle the same issue again in the future.

[2020-01-23 12:29] #4066 closed

[2020-01-23 12:57] ncabatoff commented on #8224
I think given the output you say you're expecting, you should be using a
GET rather than a LIST.

On Thu, Jan 23, 2020 at 6:01 AM manjeetsorout <notifications@github.com>
wrote:

[2020-01-23 17:26] spangenberg commented on #5767
As @kevinpgrant pointed out correctly, that `~/.aws/credentials` should not contain the `source_profile` and/or `role_arn`; instead, it belongs inside the `~/.aws/config`.
Nevertheless, I verified that the bug still exists and needs to be addressed.
@gwilym thanks a lot for the effort you already put in to investigate and come up with a workaround.

[2020-01-23 18:01] briankassouf commented on #8206
Hi @drawks

This isn't currently supported, but we should update the logic so it errors instead of crashes for now. Also we can update the documentation.

I'll leave this issue open to track the actual feature request here, which is supporting raft as an `ha_storage` option.

[2020-01-23 18:05] catsby commented on #8224
Hello - can you share the kv path values were written to?

If the paths are is `secret/my-secret/foo` and another kv entry at `secret/my-secret/foo/:something` , then the `LIST` should return as you describe.

If the paths are actually `secret/metadata/foo` and `secret/my-secret/foo/:something` , then the URL would be `http://127.0.0.1:8200/v1/secret/metadata/metadata/my-secret`

Basically, if the

[2020-01-23 18:38] yermulnik commented on #472
For those who came here looking for logrotate config for vault audit log: do not blindly copy&paste vault logrotate config from the previous comment (link to gist.github.com) — it has some, erm, mistakes (e.g. missing the character separating log name from the extension). But the main issue is that it doesn't fit your needs when vault is configured to relay logs by means of syslog — hence syslog d

[2020-01-23 20:35] catsby commented on #8203
Hello! Thanks for reporting this. I've opened #8229 that should fix this

[2020-01-23 20:36] adityagu0910 commented on #7079
HI @Bitsky
is it possible for you to share helper script that you created and also how you implemented it ?

[2020-01-23 20:48] catsby commented on #8045
Hello - adding an option to choose the hash function given is likely easy enough, sure, however I'm not convinced enabling a "cryptographically broken" configuration setting for users is a good idea.

[2020-01-23 20:51] catsby commented on #7196
Hello! We haven't heard back regarding this issue in over 30 days. In an effort to try and keep our GitHub issues current, we'll be closing this issue in approximately 7 days if we do not hear back regarding this issue. Please let us know if you can still reproduce this issue, and if there is any more information you could share, otherwise we'll be closing this issue around January 30th, 2020

[2020-01-23 20:59] spangenberg commented on #5767
Vault is currently using `github.com/aws/aws-sdk-go@v1.25.41`, support for shared config file was added in [v1.3.0](https://github.com/aws/aws-sdk-go/releases/tag/v1.3.0).

[2020-01-23 21:06] avinson commented on #7288
fyi, this is also an issue with the example token helper script posted on official vault docs: https://www.vaultproject.io/docs/commands/token-helper/#example-token-helper

[2020-01-23 22:25] catsby commented on #7595
Hello - the error you have reported occurs when the KMS key cannot be obtained. A few things can cause this:

- either the `kms_key_id` given is incorrect
- the credentials being used to access the given KMS key do not have sufficient privileges
- the KMS key is no longer available (deleted or disabled, etc)

Unfortunately this is not a bug in Vault and we're not able to help you here. As the user

[2020-01-23 22:25] #7595 closed

[2020-01-23 22:27] drawks commented on #8206
It seems, to me, an odd design decision to not allow the internal raft storage mechanism as `ha_storage`. Is there a specific reason why you'd choose to "fix" this by having an error be raised instead of allowing the raft leadership election to handle the HA component and allowing a different storage backend that may provide for accommodating some other site or business specific cause for selectio

[2020-01-23 22:38] CpuID commented on #6046
@vishalnayak @calvn @jefferai based on community feedback so far above, any chance of this getting some cycles in the near future? :) thanks!

[2020-01-24 02:44] briankassouf commented on #8206
It is something we want to support, but it's a big lift. So in the meantime I want to fix the panic, return an error, and update documentation to improve the UX.

In the longer run we do indeed want to fix this by allowing raft to be used as an `ha_storage` option.

[2020-01-24 08:32] #1996 closed

[2020-01-24 08:32] #3627 closed

[2020-01-24 09:20] doertedev opened #8232 "Website / CSS: Ready to get started buttons look buggy"
**Describe the bug**
Two buttons just above the footer of the Vaultproject.io page look a bit odd. I've attached a screenshot from https://www.vaultproject.io/ taken on 2020-01-24:
![image](https://user-images.githubusercontent.com/1579335/73058042-144e1e80-3e93-11ea-9f3b-c11cd374c454.png)
latest chrome + macos.

[2020-01-24 21:55] azizj1 commented on #7502
What is the max `rotation_period`?

[2020-01-24 22:22] catsby commented on #8206
I've opened #8239 to patch this and document the limitation.

[2020-01-27 07:15] bireckim opened #8242 "Writing new policies over control group with cli and api gives diffrent results"
**Describe the bug**
While control group is added to policies on path:
[code]
There is diffrence behaviour when trying to add new policy with CLI or API call.
With CLI command is always returning Success
With API command is returning wrrapping token and accessor.

**To Reproduce**
Steps to reproduce the behavior:
1. Login with token where control group is added on sys/policies/acl for creating,upd

[2020-01-27 10:25] #8097 closed

[2020-01-27 11:12] michelvocks commented on #8141
Hi @rckjacobs1!

Were the answers above helpful? What errors do you see in your logs?

Cheers,
Michel

[2020-01-27 11:20] michelvocks commented on #5968
Hi @alantang888!

Is this still a thing for you? Have you tried to set the `max_parallel` option to a lower value?

Cheers,
Michel

[2020-01-27 13:27] ncabatoff commented on #8242
Hi bireckim,

Apologies, but support for enterprise customers needs to go through our
enterprise support portal. Reporting through our enterprise support portal
ensures that we can comply with contractually obligated SLAs around
customer support requests, and that a support engineer or technical account
manager can track the issue from report to resolution.

Best regards,
Nick

On Mon, Jan 27, 202

[2020-01-27 13:30] bigman3 commented on #7367
@jefferai is this on the roadmap ?
is there an alternative way to associate a lease with entity or at least to a token it was created by ?

[2020-01-27 15:54] Taranasaur opened #8245 "Vault-Agent not changing injected DB password that is generated hourly by Vault"
Hi, having this issue getting passwords inside a POD to update. I can restart the POD to get the changed passwords but this is not the ideal way forward

**Deployed a POD in Kubernetes using the following annotations in the manifest:**

[code]

**Vault maintains login secrets for Postgres that it changes hourly.**

[code]
<b>I have a Deployment that successfully injects the credentials into the PO