[2019-09-05 05:34] tstoermer commented on #7364
Same requirement for us, each application must have its own vault access ensuring it can only access secrets it is allowed to. This is also very important for the vault auditing identifying secret usage of each application.

Regarding dynamic credentials, I think leasing is the important part, e.g. databases:
As many applications have problems with changing db users during runtime, we make use of

[2019-09-05 09:52] pznamensky commented on #1284
@v6 thanks for the explanation. But let's guess you have hundreds of teams (applications) and more than one shared secret. And that shared secrets are not common for all, but one set of secrets should be available only for one set of apps, another set of secrets for another set of apps and so on. In these setups, it's incredibly hard to manage policies and paths with shared secrets.

[2019-09-05 12:05] fcgravalos commented on #7364
Hey @thefirstofthe300! Glad to see you are open to contribute!

We could check if there's a way a controller can reconcile objects in a given namespace but I am not sure if that would be possible tbh.

[2019-09-05 12:56] hoerup opened #7428 "Elaborate documentation on MySQL and HA"
Documentation for mysql doesn't describe the requirements for HA
Does it only work with single backend node ?
Does it work with async replica/group replica/galera ?

[2019-09-05 15:10] gitirabassi commented on #6606
@calvn I'm trying the differences between what's happening in the vault-agent and what happens with a simple `vault kv get secret/foo`. I don't think the gzip part is the problem in the code itself because it should be handled in the `client.RawRequestWithContext`

In the CLI the code is simple: https://github.com/hashicorp/vault/blob/master/command/kv_helpers.go#L19

In agent, because of the cach

[2019-09-05 15:44] jefferai commented on #6325
Note: I hid a comment above because it's actually a totally separate issue from this one, and has already been resolved.

[2019-09-05 15:46] jefferai commented on #7426
In most places you can use a JSON list in place of comma separated strings. As we build more documentation automatically we hope to surface this in more places as right now it requires manually updating every single API document. If you want it updated here feel free to submit a PR!

[2019-09-05 15:46] #7426 closed

[2019-09-05 15:47] jefferai commented on #7142
The issue here isn't that failing to read the lease entry caused the 503, it's that 503 is being returned by your storage, and Vault is surfacing this to you. Since it can't successfully access storage, it is unable to read leases or its own initialization status.

[2019-09-05 15:47] #7142 closed

[2019-09-05 15:48] jefferai commented on #6986
I'm going to close this as it's not a specific issue to LDAP and the overall problem is already in other issues. For a v2 API, whenever that might come, we are thinking about whether we can enable more patch-like behaviors for places like this where it's harder to keep track of a list. The best approach for now though is to codify the desired configuration such that you can simply make a change to

[2019-09-05 15:48] #6986 closed

[2019-09-05 15:50] jefferai commented on #6720
Is this still an issue with 1.2.2? In 1.2 as parameters for auth methods were standardized a lot of this kind of logic was updated.

[2019-09-05 15:50] jefferai commented on #6166
This landed in 1.2.

[2019-09-05 15:50] #6166 closed

[2019-09-05 16:26] krish7919 commented on #7416
Well, looking at the source there is a parameter to override this called `ha_table` that can be set alongwith `ha_enabled`. This is, however, undocumented in the Vault docs.

So this is only a documentation issue now

[2019-09-05 16:44] tyrannosaurus-becks commented on #7418
Hi @hamishforbes , thanks for opening this issue.

I'm curious if setting `export AWS_REGION=eu-west-1` on your Vault servers, then restarting them would solve the issue for you. In looking [here](https://www.vaultproject.io/api/auth/aws/index.html#configure-client), it suggests that may work. If not, I suspect we'll need to incorporate [this](https://github.com/hashicorp/vault/blob/master/helper/

[2019-09-05 17:47] atheiman opened #7433 "Document mysql and postgres db password policy"
**Is your feature request related to a problem? Please describe.**
Our organization needs to show documentation of generated mysql and postgres database password complexity. I'd like this added to the documentation for these db plugins.

**Describe the solution you'd like**
Documentation of the password policy for generated user passwords. looks like this is controlled here in the code:
- https://

[2019-09-05 18:31] dannyk81 commented on #7364
@thefirstofthe300 unfortunately CRDs are not namespace-local objects, an option to support namespace-local CRDs was discussed here https://github.com/kubernetes/kubernetes/issues/65551 and although there was interest, it was not implemented (perhaps in the future :pray:)

So, although you could install multiple secrets-managers, the CRD objects are still going to be cluster-wide.

@tstoermer, the

[2019-09-05 18:37] james-atwill-hs commented on #7364
I'd much rather something that injects init/sidecars into pods like ( https://github.com/uswitch/vault-creds / https://github.com/hootsuite/vault-ctrl-tool ) than one central controller that has more access than it needs; regardless of namespace scoping.

To be honest, I'd rather investigate a Secrets Provider and Secrets Provider Controller (ala Ingress / Ingress Controller); that's a huge undert

[2019-09-05 18:43] olemarkus commented on #7364
If you install multiple secrets-managers, you can specify per secrets-manager in which namespace to look for SecretDefinition objects. And this can be enforced through RBAC. RBAC would also control in which namespaces a controller could read/write Secret objects.

[2019-09-05 19:13] dannyk81 commented on #7364
@james-atwill-hs a sidecar approach is appealing, together with an admission controller to inject the sidecar to the pods (much like Istio does with proxy sidecar), however you still need to define which secrets your applications (pods) need and where to store them/etc.. so this will need to be a logic in the admission controller I suppose.

Here, I'm confused :smile: since what you are describing

[2019-09-05 19:57] james-atwill-hs commented on #7364
Sort of; my understanding is that secrets-manager has enough access to Vault to provide secrets for multiple pods. If there are different Vault policies in place for service1 vs service2, secrets-manager would need to have access to the superset. This means having a second set of policies in place in secrets-manager to prevent service2 from requesting paths that are only supposed to be accessible

[2019-09-05 21:06] fortman opened #7437 "Patch without read access"
**Is your feature request related to a problem? Please describe.**
Not related to a problem

**Describe the solution you'd like**
We want to be able to have certain groups in our company to have write access to a vault path, but not read access.  This is currently possible, but a write action to that path overwrites the entire json blob.  I would be nice to have the cli patch functionality work wi

[2019-09-05 21:17] fcgravalos commented on #7364
Well, if you use a sidecar, there are two options:

1) inject the secret directly from vault to the pod fs directly. Policies for the sidecars would be really hard to maintain, though

2) creating a secret with k8s API. This does not fix the issue since even when a pod can get compromised and you can only get secrets from that path in Vault, you could probably read from k8s api other secrets in th

[2019-09-06 00:15] luke-clifton commented on #7426
Is there a list of places that it is accepted somewhere? It doesn't seem to work with groups.

[2019-09-06 07:45] lenaing commented on #4166
Just got bitten by this :)
It would be nice indeed to have a backup on init and not only on the subsequent rekeking.

[2019-09-06 09:00] Vince-Chenal commented on #5767
Do you have any update ?
I still have the exact same problem

[2019-09-06 09:25] hamishforbes commented on #7418
Hi, Is that doco just talking about picking up the correct creds and region for the client to authenticate itself to AWS? Which is working, my Vault servers correctly pick up creds via the EC2 instance profile.

Setting the AWS_REGION variable hasn't made a difference to the ARN resolving problem.

[code]

I'm not sure if using `GetOrDefaultRegion` here is the right approach either.
For example if

[2019-09-06 11:48] juliantaylor opened #7440 "vault kv get does not work on approle ids"
Using vault kv get on an approle id gets denied in the preflight check on sys/internal/ui/mounts
vault read does work and the token has an appropriate read policy.

While kv get should probably not be used on approles it is still relevant as the `sys/internal/ui/mounts` can be used by vault api users to determine if one needs the kv version 1 or version 2 api.
So having the `sys/internal/ui/mounts

[2019-09-06 13:52] tmshort commented on #5381
Also for "Create Role:" many issues, many inconsistencies with the actual code:

1. `token_type` does not exist
1. `token_ttl` should actually be `ttl`
1. `token_bound_cidr` should actually be `bound_cidr`
1. `token_policies` should actually be `policies`
1. `token_period` should actually be `period`
and so on, and so on.

[2019-09-06 13:55] tmshort commented on #5381
Event the sample payload under "Create Role" disagrees with the documentation.

[2019-09-06 16:08] ivijaykarani opened #7442 "Individual kv size limit"
The vault kv can accept inputs in the form of json file.
Is there a soft or hard limit on individual kv size? If so what is the size is bytes ?
Are there any data to show the get/put access times from vault when the size of the kv is 1MB or 10MB or 1GB ? Are those sizes reasonable for a single kv entry?

[2019-09-06 22:38] #6793 closed

[2019-09-06 22:40] #6785 closed

[2019-09-06 22:42] kalafut commented on #6785
@drewmullen Thanks for filing these, and sorry they fell off the radar! We're working towards more automated API docs generation which should help avoid these sort of docs errors.

[2019-09-07 04:36] thefirstofthe300 commented on #7364
Right, I may have phrased what I was saying poorly. I understand that the CRD itself can't be namespaced. It's an extension of the API server and consequently isn't easy to isolate the object definition to a namespace since that's not how the API server is designed.

I was referring to namespacing the vault configuration that the controller would use. This would allow the controller to pull secret

[2019-09-07 06:41] fcgravalos commented on #7364
@thefirstofthe300 regarding Vault configuration, I think this is exactly what we do when we deploy secrets-manager. We use a role whose policy rules allow a particular path in Vault.

We have 10+ clusters and every secrets-manager vault's permissions are scoped to its cluster path in Vault.

We can do the same with namespaces we just need to make sure that if múltiple secrets-manager are deployed

[2019-09-07 09:58] krabradosty commented on #7269
I've got the same error. But I use not a self-signed certificate. Instead, I configure Vault nodes with a certificates chain (server certificate + root CA certificate)

[2019-09-07 15:27] mmohaveri opened #7447 "unsealing vault using human readable/memorizable key phrases"
Keys generated using Shamir's algorithm are hard to memorize because they look like random strings of characters.

My suggestion is to add the ability to encrypt key shards using other keys derived from passphrases provided by keyholders and store these encrypted shards on the server.

This way keyholders will use their passphrase to unlock their key shard, and then that key shard will be used to

[2019-09-07 15:49] #7416 closed

[2019-09-07 15:52] krish7919 commented on #7416
Thanks!

[2019-09-07 16:48] #7433 closed

[2019-09-07 17:39] upodroid commented on #7385
Can confirm the same. Site is blank when I login using OIDC but it works fine in other browsers and incognito.

Finding the site here and clearing it seems to work chrome://settings/siteData

Google Chrome is up to date
Version 76.0.3809.132 (Official Build) (64-bit)

Vault is 1.2.2

https;//vault.borg.dev

[2019-09-08 11:10] kwakiutlCS commented on #4217
not exactly what you ask, but one can workaround to copy files without manually generating the OTP
tar czf - folder | vault ssh -role role_name -mode otp user@host tar xzf -

[2019-09-09 00:11] craigday commented on #7385
Primarily using userpass.

[2019-09-09 08:43] bernardd commented on #7418
Hey - I'm hitting this (random region selection) too as a result of adding `sts_endpoint` configuration to deal with the change described in https://github.com/hashicorp/vault/issues/7397 and https://groups.google.com/forum/#!msg/vault-tool/ki0GUEu7FFo/QBulNTDtBwAJ.

Same here - it makes no sense to me, but looks like the only way to work around the change in behaviour as things stand.

[2019-09-09 09:25] krabradosty commented on #7269
Seems like this PR fixes the bug https://github.com/hashicorp/vault/pull/7393/files/81e2f5c310c2623f8af88ba5c93b538d44746e70

[2019-09-09 10:35] beornf opened #7448 "AWS secret engine endpoint to get STS identity"
The AWS secret backend has no way to retrieve the default account ID which is required in the role_arns and policy_arns parameters such as `arn:aws:iam::ACCOUNT-ID-WITHOUT-HYPHENS:role/RoleNameToAssume`.

For my use case I would like to create an AWS assumed role without IAM credentials on the client as these would be fully managed by Vault IAM roles. This means I can't call GetCallerIdentity whic

[2019-09-09 14:25] tomaspinho opened #7450 "Upgrade AWS SDK for Go to support AWS IAM Roles for K8s ServiceAccounts"
**Is your feature request related to a problem? Please describe.**
Yes, the current version of the AWS SDK for Go that ships with Vault (v1.19.39) does not support using a K8s ServiceAccount to authenticate against a a AWS IAM Role when Vault is deployed inside a Kubernetes cluster. See: https://docs.aws.amazon.com/eks/latest/userguide/iam-roles-for-service-accounts-minimum-sdk.html

**Describe th

[2019-09-09 18:35] james-lawrence commented on #4133
documentation is still incorrect, a cursory reading doesn't make it clear that the endpoints are variable. leading to the confusion that generated this issue.

[2019-09-09 19:40] ghost opened #7452 "Azure OIDC Configuration"
**Describe the bug**
I followed this guide:
https://www.vaultproject.io/docs/auth/jwt_oidc_providers.html

This bullet point is not working for me:

"Finally Azure AD group can be referenced by using the groups objectId as the group alias name for the external group."

I retrieved my group's "Object ID" on the Azure portal and used it as group's alias name. Unfortunately, is not working as expecte

[2019-09-09 21:16] bharanin opened #7455 "Mount table corrupted after GCS rate limiting"
**Summary**

Under heavy load, Vault encounters GCS rate limiting on the mount table object (core/mounts) and occasionally corrupts data.  It appears to insert duplicate entries in the table.

**Log Snippet**

[code]

The cluster continues to operate normally after these errors until a leader election needs to take place.  At that time, we see the following:

[code]

Because of this, no instance c

[2019-09-09 21:35] v6 commented on #1284
Why would this be difficult to scale up?

InfoSec teams deal with PAM for shared vs team services all the time.

Perhaps a minimum viable example would help me understand what you mean.

[2019-09-09 22:53] daneharrigan commented on #7364
I was thinking along the same lines as @jogy with SMI (secret management interface). Could Kubernetes Secrets be rewritten with a pluggable store? It defaults to etcd, but optionally with Vault through the SMI.

[2019-09-10 07:11] pufffff opened #7456 "Unable to get credentials from psql"
I dont know if I did something wrong or not.

But here is my configuration.
[code]
then run this command:
[code]

roles configuration:
[code]
then run this command:
[code]

Then created a policy:
[code]

and run this to get the token:
[code]

executed this command to get the values:
[code]

Then I receive this errors:
[code]

Any suggestions will be appreciated, thanks!

[2019-09-10 10:47] ianfox-cognite opened #7457 "Docs: Wrong method for GET /v1/identity/oidc/token"
On https://www.vaultproject.io/api/secret/identity/tokens.html#generate-a-signed-id-token, the listed method for generating an identity token is POST. If you send this request to vault, it returns method not allowed.

Given that a GET works, and the provided sample curl command uses a GET, I believe this method should be listed as GET.

[2019-09-10 13:15] wneessen commented on #7214
Meanwhile I updated to the latest releases of Vault and Consul (1.2.2 and 1.6.0) and also upgraded the OS on all nodes to 12-RELEASE-p10. Still the issue occurs. Any help to get this bug fixed?

[2019-09-10 13:36] pgassmann commented on #7349
@kalafut You responded on other OIDC issues. Can you provide insight here? Is this a configuration issue of our OIDC or can you reproduce this issue with other OIDC installations?

[2019-09-10 13:39] pgassmann commented on #7385
Duplicate of #7349 blank page after Renew Token with OIDC auth. renew-self responds policies: null

[2019-09-10 15:14] joelthompson commented on #7418
This particular issue only comes into play when Vault is trying to determine the AWS account ID corresponding to the credentials it is using. It needs to do this to ensure that the ARNs being bound are actually resolvable. (For example, if you pass a `bound_iam_principal_arn` of `arn:aws:iam::123456789012:role/MyRole` and Vault actually has credentials for account `987654321098`, then you wouldn't

[2019-09-10 16:39] hamishforbes commented on #7418
So having an `sts_signing_region` parameter (or similar) on the auth client to explicitly configure which region is used? Otherwise falling back to environment/metadata?
That sounds fine to me.

If you configure a signing region and an appropriate endpoint then clients in the same region will 'just work'.

But servers outside of `us-east-1` would *have* to configure a matching sts endpoint to work

[2019-09-10 16:51] micahhausler commented on #7450
The way the AWS code in Vault is currently structured, using IAM for Service Accounts on Kubernetes would not fully work with Vault.

There are several places Vault calls out to AWS, (I may be missing others)
* [Auth](https://www.vaultproject.io/docs/auth/aws.html)
* [DynamoDB](https://www.vaultproject.io/docs/configuration/storage/dynamodb.html) and [S3](https://www.vaultproject.io/docs/configura

[2019-09-10 16:57] leventyalcin commented on #7269
Whoa! Nice catch @krabradosty and thanks for the ping. On the PR, it seems tagged for the release 1.2.3 but still not in the CHANGELOG unfortunately. I'm pretty sure will be released with the new version 🤞

[2019-09-10 19:01] joelthompson commented on #7450
Hey @micahhausler -- thanks for the heads up here! I don't see this as a major drawback as the same limitations are true when using Vault on an EC2 instance in an IAM instance profile or an ECS cluster with a task role, and this is also called out in [the documentation](https://www.vaultproject.io/docs/secrets/aws/index.html#sts-federation-tokens):

[2019-09-10 19:21] micahhausler commented on #7450
The other UX issue here is that Web Identity and Assume Role providers use the `role_arn` field, and you can use the SDK to do an Assume Role after a Web Identity cred fetch, so you may want to consider if that is allowed and how that can be specified

[2019-09-10 23:38] joelthompson commented on #7450
Hey @micahhausler -- I submitted a PR to bump the golang SDK in #7458. However, I don't think that will achieve the goals of @tomaspinho.

The only time that the automated k8s credentials (`stscreds.NewWebIdentityCredentials`) will be used, as far as I can see in the SDK, is in `session.assumeWebIdentity`. The only calls to that are from `session.resolveCredentials` and `session.resolveCredsFromPr

[2019-09-11 02:58] joelthompson commented on #4133
Hey @james-lawrence, could you suggest changes to the documentation that you think would help make it clearer that the mount point can be varied?

[2019-09-11 06:40] sidheshdivekar29 opened #7460 "How to configure vault to talk to multiple k8s clusters"
https://learn.hashicorp.com/vault/identity-access-management/vault-agent-k8s
The link below show how to configure one k8s host so that vault can talk to it.

$ vault write auth/kubernetes/config \
        token_reviewer_jwt="$SA_JWT_TOKEN" \
        kubernetes_host="https://$K8S_HOST:8443" \
        kubernetes_ca_cert="$SA_CA_CRT"

We have multiple k8s cluster to whom vault needs to talk.
If I use

[2019-09-11 06:47] kalafut commented on #7349
I’ve been chatting with @meirish and it looks like this affects more than OIDC. We’re still digging into.

[2019-09-11 08:38] DrMagPie commented on #6769
Hello, I have faced same issue but with kv backend in Vault version 1.2.2
here are log messages
[code]

When this issue occurred Vault started to elect leaded and was failing to do so.
Only thing that helped to restore cluster to operating status was restoring older consul snapshot.

[2019-09-11 09:35] pkrolikowski commented on #7460
You need to set `auth` backend per k8s cluster. In order to do that set `-path=<string>` parameter per cluster.

[2019-09-11 09:37] tomaspinho commented on #7450
@joelthompson setting that environment variable is not a problem for us, as long as it works (and is documented for others). Let me know if I can help with anything!

[2019-09-11 11:23] paddie commented on #7385
I was simply testing using the github auth backend, but the issue happened after adding a new kv2 secrets engine through the cli. That made the UI suddenly go blank and display the error in the console that was reported in the initial issue.

[2019-09-11 12:34] sidheshdivekar29 commented on #7460
Cool that made the tricks. Putting down the commands here so that others can have then handy.

  vault auth enable -path=k8s1 kubernetes (enable auth backend for cluster 1)
  vault  auth enable -path=k8s2 kubernetes (enable auth backend for cluster 2)

Configure Vault to talk to Kubernetes cluster k8s1
vault write auth/k8s1/config token_reviewer_jwt="$_JWT_TOKEN"   \    kubernetes_host="https://$K

[2019-09-11 12:34] #7460 closed

[2019-09-11 12:43] michelvocks commented on #7214
Hi @wneessen,

I tried to reproduce your issue, but I wasn't successful.
In my opinion, only two things could be responsible for such a problem to appear:

- Consul is in a bad state. If one instance steppes down, it actually removes a lock (e.g. an entry in Consul) and the first instance which is able to grep the lock again (e.g. create that entry) is the leader. I assume that something went wron

[2019-09-11 12:54] wneessen commented on #7214
Hi @michelvocks,

Nothing in the consul logs. I even set up a fresh consul cluster and a fresh vault instance and only setup the "superuser" policy. Same behaviour. I can log in with the root token, I can log in with my "superuser" but once I perform a "operator step-down", the superuser has no access anymore, the root user still works. Once I log in with the root token again, click on "edit" of t

[2019-09-11 13:12] michelvocks commented on #7214
Could you provide the Vault configuration files from the other instances? Can you verify that the ports are not blocked by a firewall between the hosts? In general, more information about your setup would be helpful e.g. Consul setup (where are the servers, how many etc.), infrastructure setup e.g. connection between hosts.

Cheers,
Michel

[2019-09-11 13:14] wneessen commented on #7214
Absolutely! Is there a secure way I can get those files to you? I'd rather not provide everything in this public  ticket.

[2019-09-11 14:16] michelvocks commented on #7214
You can DM me or send them to me via email: michel@hashicorp.com

[2019-09-11 16:28] joelthompson commented on #7450
Hey @tomaspinho -- I don't have familiarity with running things on k8s. Would you be able to build the code in my PR and test to see if it works, both with and without the environment variable set? Alternatively, if you have a quick script you can share to get Vault up and running on EKS to test it myself, that would also be great.

Agree that this needs documenting, but I want to separate out the

[2019-09-11 16:34] gitirabassi commented on #6606
@kalafut this is the issue I was referring to yesterday

[2019-09-11 16:53] jefferai commented on #6606
Is nginx adding encoding headers as well? If it is I believe it should work. My suspicion is that it's compressing but not adding/modifying headers indicating as such.

[2019-09-11 16:59] tomaspinho commented on #7450
@joelthompson  Yeah, I can definitely help with that. Is there a way to enable debug logs for Vault, especifically for AWS SDK interactions?

[2019-09-11 17:35] joelthompson commented on #7448
Hey @beornf I'm struggling to understand the use case here. The only time you need the role ARN is when you're a Vault operator, and I would expect Vault operators to know the AWS account IDs of the roles they are providing access to. Further, the role to be assumed doesn't even need to be in the same AWS account as the Vault server's "default" credentials as AWS allows cross-account role assumpti

[2019-09-11 17:50] joelthompson commented on #7450
@tomaspinho I'm not sure there's a good way to enable that without more code changes. Probably the easiest way is to just enable the AWS KMS seal and only give access to the KMS key to the Vault pod's service account IAM role.

[2019-09-11 18:33] beornf commented on #7448
The use case is a Vault operator is managing multiple Vault servers in multiple AWS accounts with role credentials. The Vault operator knows the AWS account ID associated with each Vault server I was just thinking it would be nice to inspect this within Vault. Let me know if I'm way off base here.

[2019-09-11 18:49] james-atwill-hs commented on #7364
@fcgravalos writes:

Containers running in a pod can share the same temporary filesystem. This is how the init container and sidecar interact with whatever service container you have. For vault-ctrl-tool, you can specify how you want your secrets outputted: everything from "just write out the vault token and i'll do the rest" to regularly writing ~/.aws/credentials and filling in templated configu

[2019-09-11 19:32] gitirabassi commented on #6606
Wouldn’t this affect the vault CLI as well as the vault-agent?

The weird thing indeed is that with CLI everything works

[2019-09-11 20:08] briandbecker opened #7463 "Vault Agent Cache Auto-Auth SSRF Protection"
**Is your feature request related to a problem? Please describe.**
When Vault Agent is used for [local cache](https://www.vaultproject.io/docs/agent/caching/index.html) with Auto-Auth Token this opens up the potential for exposure to SSRF vulnerabilities in the parent application.

**Describe the solution you'd like**
Parameter to require a request header to be set when interacting with Vault cach

[2019-09-11 21:50] Nmishin opened #7464 "PKI/tokens tidy operation doesn't work if Consul KV size limit exceeded"
**Describe the bug**
High-level issue - Vault restart to the sealed mode after 10-15 minutes that it was unsealed.
In the Vault logs I see the errors:
`Sep 11 14:47:23 vault-0-4dvt vault[25580]: 2019-09-11T14:47:23.050-0500 [ERROR] expiration: failed to revoke lease: lease_id=pki/certs/issue/srv/pc85c22lUTQb1OYZpF4XYHZ2 error="failed to revoke entry: resp: (*logical.Response)(nil) err: error encou

[2019-09-11 22:03] sidheshdivekar29 opened #7465 "UT:- Vault server created using TestCoreUnsealed does not support enabling kubernetes auth backend"
**Describe the bug**
During my UTs am trying to use TestCoreUnsealed test vault server to test my apis.
Looks like kubernetes plugin is not supported & it gives following error.
        	Error:      	Expected nil, but got: &api.ResponseError{HTTPMethod:"POST", URL:"http://127.0.0.1:63330/v1/sys/auth/k8s1", StatusCode:400, RawError:false, Errors:[]string{"plugin not found in the catalog: kubernetes

[2019-09-11 23:06] joelthompson commented on #7418
No. The client already has this parameter. The proposal would be to add this to the server.

No. Servers configured with a custom `sts_endpoint` would need a custom `sts_signing_region` (or somesuch parameter) to work properly. Clients would still need to know what that parameter is.

Maybe? The client signing region would still need to match the server signing region, and the disconnect between t

[2019-09-11 23:08] micahhausler commented on #7450
Yes, `session.New()` is missing the behavior (unless `AWS_SDK_LOAD_CONFIG` is set), it would be worth raising this as a Go SDK bug.

I would lean against manually creating a `stscreds.WebIdentityRoleProvider` and adding that to the chain.

The shortest path to adding support might be just to switch from `session.New` to `session.NewSession`, as the input signatures are the same, and you can just b

[2019-09-11 23:10] joelthompson commented on #7448
Hey @beornf -- I have a separate PR open (#7245) which would return any explicitly configured access key. You could then use the new-ish [sts:GetAccessKeyInfo](https://docs.aws.amazon.com/STS/latest/APIReference/API_GetAccessKeyInfo.html) to find out the account ID that the access key belongs to. And if there is no explicitly configured access key, then you know Vault is getting its credentials fr

[2019-09-12 02:31] beornf commented on #7448
Yes retrieving the configured access key would help with my use case, thanks @joelthompson.

[2019-09-12 02:31] #7448 closed

[2019-09-12 06:25] mrWinston commented on #6092
Hey @jurgenweber
What escaping did you try? We've had the same problem with curly braces `}{` in the password field and vault version 1.1.3.
What did the trick was to urlencode the password.

[2019-09-12 07:31] lz006 commented on #7223
same issue here - Vault Docker Image 1.2.2 and etcd as backend

[2019-09-12 08:47] hamishforbes opened #7466 "AWS Auth Client/Server inconsistency in region configuration"
When using AWS authentication the Vault CLI, with no additional configuration, looks up your local region from environment/metadata and signs the login request with that region.
The Vault server however uses `us-east-1` by default to verify these login requests, regardless of the region the server is located in.

Out of the box without any specific region configuration, any client outside of `us-e

[2019-09-12 10:08] jacobkiers opened #7467 "Slow creation of static DB roles"
**Describe the bug**

We use a script that configures Vault during bootup. One of the things configured, are static DB roles. With many (but not all) of these, there is a slowdown, after which the request is cancelled.

**To Reproduce**

1. `vault write app/db/config/app allowed_roles="s-my-role-1 s-my-role-2"`

The following  command runs in a loop for the different roles:

1. Run `vault write ap

[2019-09-12 12:20] MMollyy opened #7468 "Vault policy syntax seems to not work"
**Describe the bug**
Following these instructions:
https://www.vaultproject.io/docs/concepts/policies.html

I have a policy that says:
[code]
However, in this I see that the key I read from `something2/environment1` works. Yet `something2/environment2` does not work and gives permissions error:
[code]

**To Reproduce**
Steps to reproduce the behavior:
1. Create policy
2. Create token using policy

[2019-09-12 17:59] #7468 closed, assigned to nobody

[2019-09-13 07:08] #7457 closed

[2019-09-13 08:53] forty opened #7471 "Support for AWS NLB "TCP Pings""
**Is your feature request related to a problem? Please describe.**
We are using an AWS Network Load Balancer in front of Vault, which does the LTS termination, then connect to Vault instances using TLS as well, the health check is an HTTPS one on the /v1/sys/health.
Everything works perfectly but our Vault logs are flooded by messages of this type:

After thorough investigations, our best hypothes

[2019-09-13 14:44] pznamensky commented on #1284
@v6 We have the same scenario as in the first message on this issue.
Let's imagine that we have hundreds of applications and the following structure in Vault:
[code]
common-secret1 should be available for app1...app100
common-secret2 should be available for app20...app120
common-secret3 should be available for app80...app90

at the moment we have only two options:
1. Add additional policies for ea

[2019-09-13 17:09] jefferai commented on #1284
[code]
It may not be convenient to have many policies, but it also allows for precise segregation of access control, and if paths do change, you can update a single policy and have it take effect everywhere.

My guess is that you are relying on creating and defining tokens with policies attached. This is indeed very cumbersome. Instead I would suggest defining identity groups, attaching appropriat

[2019-09-13 18:59] albertoal commented on #6810
We were also hit by this when following the steps outlined on https://www.vaultproject.io/docs/concepts/seal.html#seal-migration when migrating our seal to `awskms`

The way we solved it was to run `vault operator unseal -migrate` against one vault server while the others are offline (i.e. vault service not running). Once the primary has been migrated, the others came up fine when starting the ser

[2019-09-13 19:09] jefferai commented on #6810
@albertoal Until the migration is finalized the new data isn't persisted, and until that happens other nodes in the cluster can't read it. We don't have a way to invalidate other cluster members at the moment because the seal is pretty fundamental to getting a node into a running state. So this is expected.

Closing as OP is gone and the other questions have been solved.

[2019-09-13 19:09] #6810 closed

[2019-09-14 02:02] joelthompson commented on #7466
Hey @tyrannosaurus-becks -- I've been mulling this over for the past couple days, and I think the best way to handle this is to just remove the "OrDefault" from the CLI so that it won't pick up the AWS signing region from its ambient configurations. It didn't seem to be a big issue for people before this change, and we've seen a number of questions popping up on the mailing list and in GH issues,

[2019-09-14 06:39] joelthompson commented on #7450
Maybe? Can't hurt to wait a couple days to see how the SDK team reacts. Maybe they make the behavior more consistent, maybe they just document the diff, maybe they do nothing? I think it would be good to see how they react first.

[2019-09-14 10:14] leowmjw opened #7475 "Fail build latest master on go 1.13 (gomod) - "github.com/apache/thrift@v0.12.0 used for two different module paths (git.apache.org/thrift.git and github.com/apache/thrift)""
**Bug**
Unable to build + run latest test; using go 1.13; hitting error for thrift module

**Bug Reproduce**
Steps to reproduce the behavior:
1. Run `make bootstrap`
2. Run `make test`
3. See error
[code]
**Expected behavior**
Able to build + run test

**Environment:**
* OSX
* go 1.13
* go mod enabled (code is outside of zGOPATH)

[2019-09-14 10:28] leowmjw commented on #7475
Solution is to remove the "replace" command in go.mod:

[code]

[2019-09-15 23:49] cheyngoodman commented on #6590
I had similar issues and the documentation didn't hold my hand enough.

Since the accessor string is different per instance, it could be difficult to pre-write this policy. I wonder if it's possible to simply allow all userpass entities to have the access to manage their own password without knowing the specific accessor strings.

This was my workaround, specifically step 4 and getting the specifi

[2019-09-16 00:09] jurgenweber commented on #6092
I don't recall now, it was a long time ago. :\
I must of resolved it somehow since I moved on.

[2019-09-16 01:48] jefferai commented on #6590
Allowed parameters is fragile. You're better off using the endpoint designed for exactly this: https://www.vaultproject.io/api/auth/userpass/index.html#update-password-on-user

[2019-09-16 07:05] Goga74 opened #7476 "Use sessionStorage instead of localStorage for Vault UI"
Vault UI (version 1.1.1 and I believe 1.2 as well) is using localStorage to store the token and other authentication information. The data in localStorage is persisted infinitely and is purged only on demand.

This might lead to leakage of sensitive data.

The proposal is to switch to sessionStorage instead – its lifetime and scope limited to current browser window only.

Theoretically this should

[2019-09-16 10:32] DrMagPie commented on #6769
@jefferai Could you please look into it?
Or should I create new issue?

[2019-09-16 13:04] Constantin07 opened #7477 "Vault agent - regular INFO logs sent to stderr instead of stdout"
**Describe the bug**

When running vault in agent mode - the informational log messages are sent to `stderr` stream instead of `stdout`. Then shipping these logs from vault containers into SumoLogic creates a mess when trying to filter/capture errors of vault agent and other services in a Pod.

I don't understand why informational logs are sent to stderr.
[INFO] - is not an error.

**To Reproduce*

[2019-09-16 14:31] mattmb commented on #6706
@jefferai what do you think about my suggested solution? Would you be happy to accept a PR to add an endpoint as described? If so I could probably work on it or find someone on my team to work on it.

[2019-09-16 16:53] j-martin opened #7479 "Github Auth `token_policies` missing from the issued token."
**Describe the bug**
It seems that `token_policies` on the [GitHub team mapping](https://www.vaultproject.io/docs/auth/github.html) is not working. The issued token only have the default policy. If the GitHub team to policy mapping is done with the deprecated `policy` instead it works fine and the issued token has the right policies.

**To Reproduce**
Steps to reproduce the behavior:
1. Enable Git

[2019-09-16 21:59] cheyngoodman commented on #6590
Thanks for the input, I was able to create the recommended policy:
[code]

Then confirmed users could update their own password via HTTP API:
[code]

This method doesn't seem possible through the vault CLI tool. I'll keep in mind that the HTTP API might have features unavailable to the CLI tool.

[2019-09-16 22:22] mxplusb opened #7481 "Azure Key Vault autounseal failing to find unseal key"
**Describe the bug**

Using Azure Key Vault to autounseal Vault fails to find the unseal key.

**To Reproduce**
Steps to reproduce the behavior:

1. Run Consul locally.
2. Create an Azure Key Vault:

[code]

3. Create an unseal key with all operations enabled:

[code]

4. Create a service principal:

[code]

5. Use this config with values from Azure:

[code]

6. Run `vault server -config <hcl-file

[2019-09-16 22:27] jefferai commented on #6590
It's possible via `vault write`

[2019-09-17 00:32] kalafut commented on #7479
Are you using the Vault Terraform Provider? (ref: https://github.com/terraform-providers/terraform-provider-vault/issues/502)

[2019-09-17 03:17] cheyngoodman commented on #6590
Thanks, this did it:
`vault write auth/userpass/users/testuser/password password=newpass`

[2019-09-17 13:42] Xianic opened #7485 "rekey panic with `pgp-keys` defined but not set"
**Describe the bug**
index out of range when rekeying with zero keys

**To Reproduce**
Steps to reproduce the behavior:
1. Run a single instance of vault locally with a file backend
2. Run initialize the vault with `vault operator init -key-threshold=1 -key-shares=1`
3. Unseal the vault as normal
4. Run `vault operator rekey -init -key-threshold=2 -key-shares=0 -pgp-keys=`

[code]

**Expected beha

[2019-09-17 16:53] tyrannosaurus-becks commented on #7466
@joelthompson I'm open to that approach. I don't see how it would work in practicality, though, can you expand? I'm looking at the code [here](https://github.com/hashicorp/vault/blob/master/helper/awsutil/region.go#L40) and I'm wondering, would it be an edit there? If so, it would also effect the agent's behavior. And, if it's not falling back to "us-east-1", how does it handle error cases?

Anoth

[2019-09-17 20:14] tyrannosaurus-becks commented on #7418
I think we're in decent accord here, and would support a PR to that effect. @joelthompson you're welcome to do it if you'd like. If not, I can take it on at my next opportunity, but I need to deliver some other unrelated items first so it will be at least a month or two before I can start.

[2019-09-17 20:32] tyrannosaurus-becks commented on #7471
I'm suspicious that there's an issue with the way the load balancer is configured to hit the Vault health endpoint. The error doesn't originate from Vault itself, but from one of Go's built-in libraries. There are many posts regarding the issue, [this](https://forum.golangbridge.org/t/tls-handshake-error/6125) for example.

Would you be willing to share a couple more things?

- Your Vault configur

[2019-09-18 13:48] jefferai commented on #7485
It's actually not key-shares=0 that is the problem, it's the empty list at the end of pgp-keys.

[2019-09-18 13:55] jefferai commented on #7479
Note that the API flag is `token_policies`, not `token_policy`.

[2019-09-18 13:55] jefferai commented on #7479
Also there is no `policy` API flag. It would help a lot if you gave the exact configuration inputs/outputs you are using/seeing.

[2019-09-18 14:02] tplive commented on #3070
@Ardun21 I have the opposite problem - even if my user is not a member of an "authorized group", (that is - a group that has a policy assigned to it), I'm granted login and assigned the default policy. I don't want any users that don't belong to a Vault-mapped group to be able to log in. How is this accomplished?

[2019-09-18 14:43] vzabawski opened #7488 "Improve Vault audit log documentation"
It would be really nice to have some guidelines for audit logs. Here's my notes:
1. `syslog` and `socket` audit devices' doc pages contain warnings, so it seems like the most stable and preferable for inexperienced users is `file` audit devise. It would be useful to have a note about the most popular/reliable approach for people who've just started using Vault.
2. `file` audit device has some tips

[2019-09-18 19:27] kalafut commented on #7475
Vault hasn't switched to Go 1.13, and just removing the `replace` breaks CI running on Go 1.12.x. A clean fix involves updating the various dependencies that reference the old thrift URL. That is a fairly large update (number of packages changing) that we'll be looking at in our next dev cycle.

[2019-09-18 21:24] #6606 closed

[2019-09-18 23:04] danieljgraves commented on #5860
I'm also experiencing this issue, and I can't find any posts anywhere to explain how i'm supposed to supply a replacement backend without causing a merge conflict when Vault scans the config directory and doesn't ignore the default storage. My use case is that i'm trying to use S3 as my backend, so I have created a storage-backend.hcl file that just has my S3 configuration, that's it. But I have f

[2019-09-19 01:06] craigday opened #7491 "AWS Secrets Engine Rotate Root IAM Credentials failing"
When attempting to rotate the IAM root credentials for the user that vault is configured to use, the call fails with the following message:

[code]

**Steps to reproduce the behavior**

[code]

**Expected behavior**

IAM token for the vault account would be rotated and the access key returned.

**Environment:**
* Vault Server Version (retrieve with `vault status`): 1.2.2
* Vault CLI Version (retri

[2019-09-19 01:13] craigday commented on #7491
Sorry. Just checked the AWS policy for my vault user and it did not have the iam:GetUser permission. This policy was created based on recommendations in the Vault documentation so it might be worth adding that permission to the recommended policy.

[2019-09-19 01:13] #7491 closed

[2019-09-19 02:39] danieljgraves commented on #5860
What i've done in the mean time to get the expected behavior is INSTEAD of calling the entire configuration /opt/vautl/config/ and load the default.hcl file **and** my storage-backend.hcl file, i'm only running this command: `/usr/local/bin/vault server -config=/opt/vault/config/storage-backend.hcl` and Vault will launch but complain about missing some "default" configurations, but it will generat

[2019-09-19 04:36] craigday commented on #7491
Just a follow-up, you need more than just `iam:GetUser`. Assuming `vault` is your IAM user you need something like this:

[code]

[2019-09-19 08:03] bangle0209 commented on #1714
I also met that error and this is my solution
[code]
You must make sure in your shell session have that environment variable, you can check with
[code]
Because in some of terminal application, e.g iTerm in my case, when you use other tabs or duplicate current profile, the environment variable use the default one, so the VAULT_ADDR=http://127.0.0.1:8200 will not be configured.

[2019-09-19 15:17] tmhdgsn opened #7494 "authenticated metrics endpoint"
Why is the metric endpoint authenticated?

Is there any interest to have an unauthenticated metrics endpoint at all?
/cc @miekg

[2019-09-19 15:25] jefferai commented on #7494
It's authenticated because our customers who originally drove the metrics endpoint creation were concerned about someone being able to glean an understanding about the state of the system using whatever metrics are both there now and might show up in the future.

We've been considering making it possible to mark it as unauthenticated, possible on a per-listener basis.

[2019-09-19 15:54] coffeepac opened #7495 "`vault kv get` redirected to file ignores `-field` flag"
**Describe the bug**
Attempting to redirect the output of `vault kv get -field <key>` to a file.  This causes the entire key to be written to the file and not the sole field selected.

**To Reproduce**
1. store a key with multiple fields in vault, eg `vault kv put /<some>/<key>/<path> fieldA=dataA fieldB=dataB`
2. fetch only one field from that key and redirect to a file, eg `vault kv get -field f

[2019-09-19 17:08] tmhdgsn commented on #7494
personally we consider all of our metrics to be public, ultimately they end accessible by anyone so authentication at scrape time doesn't make sense.

[2019-09-19 18:12] kalafut commented on #7495
Does the non-redirected command return the expected value?  I'm not able to reproduce this on 1.0.1 or 1.2.3:

[code]

[2019-09-19 20:09] andre-taveira opened #7497 "Templated policies for Kubernetes Auth"
**Is your feature request related to a problem? Please describe.**

I have a Kubernetes cluster that I want to share with an Engineering team. I want them to be able to write apps that can read and/or write data to vault using Kubernetes Service account tokens that can be used to authenticate to Vault (Kubernetes Auth enabled). The caveat here is that I'd like to ensure that each app can only chan

[2019-09-19 20:40] j-martin commented on #7479
@kalafut I think this is exactly the issue. I'll close this issue.

For correctness sake, I updated the issue without the misspelled `token_policies` as per @jefferai .

[2019-09-19 20:40] #7479 closed

[2019-09-19 21:40] CpuID commented on #6059
This would be extremely useful in Amazon ECS using AWS Auto Auth, where you cannot use K8s `ConfigMap`'s (custom config files mounted to a path into a container, separate from a Docker image). @iusergii can you just use `ConfigMap`'s to do what you need being you are using K8s?

This forces the need to either use a tool like [dockerize](https://github.com/jwilder/dockerize), [consul-template](http

[2019-09-19 22:21] briankassouf commented on #7497
I believe this is already possible using the identity templates. Entities are automatically created on login so using the entity alias associated with this mount should work. Something like:
[code]
You'll have to replace `<<mount accessor>>` with the actual mount accessor from the `vault secrets list -detailed` output.

[2019-09-19 22:37] seanw2020 commented on #582
Maybe I misunderstood something, but this worked for me in Linux bash:

[code]

Output:
[code]

That matches the [Github contents](https://github.com/ned1313/Getting-Started-Vault/blob/master/m4/devpol.json) of the [Pluralsight course](https://app.pluralsight.com/course-player?clipId=faa208fe-4b8c-4051-a814-08d3ba28f33c) I'm following.

Results:
[code]
After accounting for spacing changes, putting

[2019-09-19 23:03] briankassouf commented on #7463
Hi @briandbecker thanks for the report, this is a good idea. We will try and get it in for the 1.3 release.

[2019-09-19 23:35] #6700 closed

[2019-09-20 04:32] the-maldridge commented on #7475
I'm observing this build fault on go1.12 currently.  Is there a known resolution for this now to build on 1.12.8?

[2019-09-21 14:50] wggit opened #7500 "Enabling https on hashicorp vault"
Hello,

I have a instance of vault running on a single node. I have server certificate from cert authority. Want to make sure my configuration is correct.

 cat config.json
{
"listener": [{
"tcp": {
"address" : "0.0.0.0:7051",
"tls_disable" : 0,
"tls_cert_file" : "/etc/vault/hostname.crt",
"tls_key_file" : "/etc/vault/hostname.key"
}
}],
"api_addr": "https://hostname:7051",
"storage": {
    "file"

[2019-09-22 03:50] razor-1 commented on #6980
I'm encountering this exact same issue and have the same requirement: to be able to easily and programmatically interact with a vault `TestCluster` but be able to use it in a way that's compatible with go modules.

In a non-modules setup, importing `github.com/hashicorp/vault/vault` works great. We can spin test clusters up and down via `NewTestCluster` and do whatever is needed. It works great. W

[2019-09-22 13:39] jefferai commented on #6980
What isn't compatible? What problems do you have?

The main module more or less _is_ Vault. We can't move the cluster logic to `sdk` because `sdk` contains all of the things that a cluster relies on. The point of having `sdk` be separate is for building plugins, so plugins don't need to pull in every other dependency, and `api` is separate for clients. But when you're talking about what's still in

[2019-09-22 13:52] jefferai commented on #6980
Here's a log of using this the way @michelvocks suggested in a new directory:

[code]
As you can see this fine so it's not clear what you mean when you say it's not compatible with go modules.

[2019-09-22 13:54] jefferai commented on #7475
@the-maldridge There's no known resolution because it's not a known problem :-)

All of us are dev'ing against Go 1.12 and our CI builds against it. Are you using some branch or tag of Vault instead of `master`?

[2019-09-22 20:49] razor-1 commented on #6980
Thanks a ton for the details - this comparison helped me track down what's really going on. Our project also uses terraform and consul among other dependencies, and there are conflicting major versions of third party modules such as github.com/Azure/go-autorest. This was breaking `go mod tidy` and could be solved by leveraging `replace` in our go.mod

Thanks again for taking the time to respond so

[2019-09-23 03:29] wongkafai opened #7501 "static-roles error - The first serveral times for using the following commands work perfectly. However, starting from the forth time, the output becomes something does not expected."
The first serveral times for using the following commands work perfectly. However, starting from the forth time, the output becomes something does not expected.

https://learn.hashicorp.com/vault/secrets-management/db-creds-rotation

[root@VAULTM01 ~]# vault secrets enable database
Success! Enabled the database secrets engine at: database/

[root@VAULTM01 ~]# vault write database/config/postgresql

[2019-09-23 12:40] forty commented on #7471
Hello @tyrannosaurus-becks , thanks a lot for your answer. I'm happy to share whatever can help:

My vaut config:

[code]

My LB config (terraform config, which I think is worth many words ;) )

[code]

[2019-09-23 12:50] ncabatoff commented on #7500
Hi @wggit,

If you can load that URL (https://hostname:7051/ui) without your browser complaining, then yes, your listener configuration is correct.

[2019-09-23 12:50] #7500 closed

[2019-09-23 13:02] ngkmh commented on #6590
vault write auth/userpass/users/testuser/password password=newpass

This seems an insecure way of resetting paasword as the password is now available in command history

[2019-09-23 13:16] ncabatoff commented on #6590
There are ways of ensuring a command doesn't appear in command history.  For example, in bash you can set `HISTCONTROL=ignoreboth` and then start your command with a leading space.

[2019-09-23 13:18] ncabatoff commented on #7501
Hi @wongkafai,

Is there anything in your vault log that might explain the timeout?

[2019-09-23 14:41] catsby commented on #7501
Related https://github.com/hashicorp/vault/issues/7467

[2019-09-23 14:54] ngkmh commented on #6590
agreed but vault provides a login mechanism that does not require this workaround - i think password reset security is fundamental to a product that is about the security of secrets - just my 2 cents

[2019-09-23 14:59] remilapeyre commented on #4950
Hi, I'm having the same issue as the author, we would like to use Vault to distribute Let's Encrypt signed certificates to our services. Using Vault's PKI engine means we would need to distribute the root CA to all our users which would be OK for our servers but is pretty inconvenient and difficult to do securely for our users.

While we could use certbot, this would mean we would have to give the

[2019-09-23 14:59] remilapeyre commented on #4950
BTW https://github.com/hashicorp/vault/issues/4362 is related to this and has 46 👍

[2019-09-23 15:00] remilapeyre commented on #4362
Hi @jdelic this is a duplicate of https://github.com/hashicorp/vault/issues/4950 where some discussion has happened, I suggest we close this issue in favor of #4950

[2019-09-23 15:44] arctiqjacob opened #7502 "database static role doesn't rotate password after ttl"
**Describe the bug**
Database Static Role does not rotate credential after TTL expires.

**To Reproduce**
Steps to reproduce the behavior:

1. Create static role
[code]

2. Get password
[code]

**Expected behavior**
Expect the password to rotate once the ttl reaches 0.

**Environment:**
* Database Version:
[code]

* Vault Server Version:
[code]

* Vault CLI Version:
[code]

* Server Operating Syst

[2019-09-23 16:00] ivan85viv commented on #7418
I have the same issue and its really frustrating because in my case I have vault and vault clients in us-west-2 and I have sts endpoint pointing to us-west-2 ... this worked fine but when I upgrade with latest vault 1.2.3 I started to have issues with terraform vault provider complaining for the same error. I tried export AWS_REGION=us-west-2 in my shell before running terraform but the issue stil

[2019-09-23 17:19] john77eipe commented on #3591
I have vault server running on my base Mac and vault client in a docker instance.

But unable to access the server from the client that's in the docker instance.

`# ./vault status -address="https://127.0.0.1:8200"
Error checking seal status: Get https://127.0.0.1:8200/v1/sys/seal-status: dial tcp 127.0.0.1:8200: connect: connection refused`

[2019-09-23 21:47] the-maldridge commented on #7475
@jefferai Good point.  I'm building from release tag 1.2.2 on Go 1.12.8/amd64.  The specific build error I get is:

[code]

Given that a similar error is the subject of this issue I raised my issue here.  I can open a new ticket if you'd like.

[2019-09-23 22:52] the-maldridge commented on #7475
Update, found what was wrong: [git.apache.org is gone](https://status.apache.org).

[2019-09-23 22:53] jefferai commented on #7475
Yes it is, which is why we have the replace statement. Not sure why it isn't working for you.

[2019-09-23 22:57] the-maldridge commented on #7475
Likely because at 1.2.2 that replace did not exist.  I will add it and try again.

[2019-09-24 00:55] jefferai commented on #7475
Ah, in the OP you said you were using latest, which I assumed to mean master since you are building from source.

[2019-09-24 01:52] the-maldridge commented on #7475
Ah fair point, I was building from the latest release, not from master.  I build from source as the provided binaries require glibc.

[2019-09-24 04:35] wongkafai commented on #7501
[messages.txt](https://github.com/hashicorp/vault/files/3645233/messages.txt)

[2019-09-24 04:38] wongkafai commented on #7501
"error":"1 error occurred:\n\t* invalid request\n\n"....

[2019-09-24 07:36] stephenrjohnson commented on #6111
Is there an update/workaround for this?

[2019-09-24 07:44] stephenrjohnson commented on #6670
@AeroNotix did you get this to work?

[2019-09-24 08:06] AeroNotix commented on #6670
Hi,

Kinda sorta.

I can get authentication working with vault and google groups:

* Use stunnel
* Use user principle binds
* Disable verify TLS

This will authenticate users. (If the above doesn't work for you then I can get you my config to make it work). However, it will not allow groups to work. I've tried various configuration to get groups working but when accessing Google LDAP through Stunn

[2019-09-24 14:35] jefferai commented on #7497
Correct, it is not available in that version. There have also been numerous important bug and security fixes -- I strongly recommend upgrading.

[2019-09-24 16:23] tomaspinho commented on #7450
Issue created on AWS's side says it's expected behaviour and that `session.New` is actually deprecated.

[2019-09-24 18:58] Lasering opened #7507 "Delegation of token renewal"
**Is your feature request related to a problem? Please describe.**
I have a Terraform recipe that launches a VM and then provisions it with Chef. The terraform apply is being run in a CI. <sup>[1](#machine-image)</sup>

In Terraform time, before provisioning the VM, I want to write secrets to the kv secret engine so that the chef recipe can read them. To do this I need to give a token to Terraform

[2019-09-25 08:14] bratacco commented on #6977
Hi,
this issue was observed again. with almost the same sequence ov events.

Vault v1.0.1 two instances
Consul v0.9.2 three instances

vault active node (vaultserv-1) is powered off abruptly
After that, the vault passive node (vaultserv-0) tries to become active, but initially the consul cluster refuses the lock acquiring request for 15 secs.
Before that the 15 sec timeout expires, the consul lead

[2019-09-25 08:41] afirth commented on #7364
This proposal would be extremely helpful in the "cluster per service" model which is becoming common now that it's easy to provision clusters on the various cloud providers. Bootstrapping the secrets is currently the most painful part of that process, in my opinion. Of course, there are security tradeoffs for other use cases which might make this approach not viable for them. They can use the othe

[2019-09-25 09:53] rnsc commented on #6325
Is there any fix planned for this?

[2019-09-25 10:24] wongkafai commented on #7501
[messages.txt](https://github.com/hashicorp/vault/files/3651938/messages.txt)

[2019-09-25 12:52] stephenrjohnson commented on #6670
That's a shame the whole reason we paid for google cloud identity was to get vault ldap working with groups in there.

[2019-09-25 12:59] AeroNotix commented on #6670
@stephenrjohnson I am not saying it is impossible - I am saying I couldn't figure out how to do it.

[2019-09-25 13:16] wrighbr opened #7510 "OIDC AzureAD groups claim to support when AD 200 groups"
**Is your feature request related to a problem? Please describe.**
There is a limitation within AAD and OIDC when a user is in more then 200 groups within Azure AD the groups claim will not be sent instead the below is sent
[code]
https://azure.microsoft.com/en-us/resources/samples/active-directory-dotnet-webapp-groupclaims/ see under Groups overage claim

**Describe the solution you'd like**
To h

[2019-09-25 13:53] darrylweaver commented on #3377
Such a shame, we would also have adopted Vault for SSH key management, except that this feature is not available and the only answer given is that your use case is not a valid one and it has been left for 2 years.

But the PKI secrets backend has an automatically generated CRL for that use case and the same mechanism for SSH would have allowed us to adopt it.

[2019-09-25 13:56] kalafut commented on #7510
Interesting... so that’s why (per mailing list thread) one user was getting this unexpected `_claim_sources`.

[2019-09-25 17:18] stuart-c opened #7511 "Azure OIDC fails if using custom signing keys"
**Describe the bug**
Login fails with a failure to verify signature error if Azure is using custom signing keys for the integration. Looking at the Azure documentation the OpenID discovery URL needs to have ?appid=xxx appended to return the correct signing key details. Without this set the custom keys aren't returned and Vault fails to validate the JWT signature (no key found).

Looking at the cod

[2019-09-25 17:59] #6694 closed

[2019-09-25 23:48] igoratencompass commented on #6111
FWIW this worked for me after explicitly setting up `discoverdn=false` in the config.

[2019-09-26 00:07] igoratencompass commented on #4359
FWIW this worked for me after explicitly setting up `discoverdn=false` in the config.

[2019-09-26 00:23] jjrocketship opened #7514 "Error with install of Hashicorp Vault: "command not found" when I search for vault binary after install. Can someone help?"
Please post questions on the mailing list (https://groups.google.com/forum/#!forum/vault-tool) rather than in GitHub issues.
I get:

Jasons-MacBook-Pro:~ jason$ vault
-bash: vault: command not found

[2019-09-26 01:02] impl commented on #96
If anyone happens to stumble across this issue looking for a solution, we implemented this as a plugin: https://github.com/puppetlabs/vault-plugin-secrets-oauthapp

Feel free to give it a try and you're welcome to file GitHub issues if you run into any problems!

[2019-09-26 01:43] wongkafai commented on #7501
[vault_audit.log](https://github.com/hashicorp/vault/files/3655482/vault_audit.log)
![service](https://user-images.githubusercontent.com/8857387/65651801-22ee0b80-e042-11e9-8950-9afc20870c9c.PNG)
[Syslog.txt](https://github.com/hashicorp/vault/files/3655484/Syslog.txt)

[2019-09-26 01:46] wongkafai commented on #7501
No log for timeout

[2019-09-26 09:16] michelvocks commented on #7514
Hi @jjrocketship,

it seems like you didn't install the Vault binary locally or you forgot to add the binary to your PATH environment variable. Please have a look at the install learning guide: https://learn.hashicorp.com/vault/getting-started/install

I will close this issue since this is not a bug. Please use for further questions the mailing list (which you have mentioned).

Cheers,
Michel

[2019-09-26 09:16] #7514 closed

[2019-09-26 11:53] pznamensky commented on #5683
Did anyone find a working solution for creating backups? I feel very uncomfortable without backups on production :slightly_smiling_face:

[2019-09-26 12:15] jefferai commented on #5683
@pznamensky Sure -- take atomic snapshots at the storage level.

Vault doesn't write everything transactionally because we can't rely on having that capability in storage, but instead we write the code such that a failure in the middle of a request can be tolerated. We do this in various ways, via how we order writes, using WALs, etc. We can always improve this, but the idea that Vault will be in

[2019-09-26 12:34] siepkes commented on #5683
@jefferai Thanks for your answer!

So the definitive answer is that making an atomic snapshot of the backend is enough and Vault will work with that?

I'm double checking because what your Hasicorp co-conspirator :wink: @chrishoffman says on the [mailinglist](https://groups.google.com/d/msg/vault-tool/GDhj-KVqtHk/ckYWt6UdDAAJ) seems to be contradictory to what you saying (emphasis mine):

[2019-09-26 15:27] coffeepac commented on #7495
apologies for the slow reply.

yes, when not redirected I receive the expected value.

[2019-09-26 20:48] julioc98 commented on #6589
https://github.com/hashicorp/vault/issues/6589#issuecomment-483703352
@raoofm
See:https://www.vaultproject.io/docs/vs/kms.html

[2019-09-26 20:56] wggit opened #7523 "Adding intermediate CA cert to vault config"
Vault 1.0.2

Hello,
I am trying to configure SSL with vault.  config.json has these 2 entries.

"tls_cert_file" : "/etc/vault/hostname.crt",
"tls_key_file" : "/etc/vault/hostname.key"

however openssl on vault port gives error of missing intermediate CA cert.

openssl s_client -connect hostname:7771 -showcerts
Verify return code: 21 (unable to verify the first certificate)
for intermediate CA cert

[2019-09-26 21:29] QWERTY92009 commented on #5275
Also interested in this kind of feature.

[2019-09-26 21:39] wggit commented on #7523
appended intermediate cert to /etc/vault/hostname.crt and that worked.

[2019-09-26 21:39] #7523 closed

[2019-09-26 22:06] SoheilMazaheri commented on #1893
That would be a great feature if we could add such metadata to tokens issued by other Vault Auth methods as well, i.e. LDAP, RADIUS, etc.

We have a use case that we need to add few metadata to a token issued by LDAP or RADIUS auth methods. As of today, the only way for us to do it is to create a child of the original token to be able to specify the metadata at the creation time of the child token

[2019-09-27 00:51] fernandesnikhil commented on #7450
Any update on what this project intends to do now? We could really use the IAM-Service account auth even if it means setting an extra variable: `AWS_SDK_LOAD_CONFIG`.

[2019-09-27 15:19] aivinog1 opened #7525 "Docs: Go version in the README.md."
**Describe the bug**
In the README.md:
https://github.com/hashicorp/vault/blob/9b05bfd882134f16890f55ac2f50c0c03e679c58/README.md#L63
minimal go version is 1.12.1. But in the build scripts, minimal go version is 1.12.7. Consider #7475 let's create a maximum version of <1.13.

**To Reproduce**
Steps to reproduce the behavior:
1. Use go version of 1.12.1+, but before 1.12.7
2. Run make
3. See an err

[2019-09-27 15:30] #7525 closed

[2019-09-27 15:45] kalafut commented on #7525
Thanks for highlighting this, and I've updated the version numbers in the README (thanks for highlighting that).

Adding a max version to the build process is something that would need some further review. Hard breaks due to using the latest version of Go have been rare, there are usually workarounds, and we get useful feedback from those running with very recent versions.

[2019-09-27 16:56] aivinog1 commented on #7485
@chrishoffman Hello, can I take this issue? I'm new in Go, but this issue is pretty clear for me.

[2019-09-28 16:34] seanw2020 opened #7529 "/ssh/config/ca endpoint has no parameter for a comment"
In openssh, `-C` creates a comment:
[code]

In Vault documentation, the [ssh API](https://www.vaultproject.io/api/secret/ssh/index.html#submit-ca-information) has no equivalent parameter, so a command like the following...
[code]
...results in a public key like this, **without** a comment:
[code]

Without a comment, it's difficult to identify the many public keys in `/etc/ssh/ssh_known_hosts` or `

[2019-09-29 04:49] bincysjames opened #7530 "Vault for generating credentials and using for resource creation in Azure"
Hi Team

I am trying to create resources in Azure using terraform and vault is configured to generate credentials.

my provider.tf

provider "vault" {
  address = "${var.address}"
  token =  "${var.token}"
}
provider "azurerm" {
subscription_id =  "${var.subsciption_id}"
tenant_id = "${var.tenant_id}"
client_secret = "${data.vault_generic_secret.azure_jwt.data["client_secret"]}"
client_id = "${dat

[2019-09-29 23:04] ethindp commented on #7389
Going to bring this issue back briefly to ask exactly how I would go about setting up OIDC. I've set the discovery URL to my okta domain (which was tricky to find since its listed nowhere). I set my client secret and client ID, and then my default role. But OIDC still doesn't work (most likely because the OIDC provider instructions were completely useless). After I save the client secret and Id...

[2019-09-30 06:02] gudeyang1 commented on #4627
facing the sam problems with vault 1.2.2  using vault-helm in AliCloud, only happens with vault CLI, get quick response with REST API calls
[code]

[2019-09-30 10:49] TheImmortalOne commented on #7417
Thanks to @ncabatoff's comment, I've gotten to a point where I can pin each created user to an entity with its name, and then this policy gives them access to 'the personal cubbyhole':

[code]

The issue now, however, is that user is not allow for users to delete the secrets or their versions - what am I doing wrong? A somewhat similar behavior seems to happen for other kv2 paths, where users can

[2019-09-30 12:43] Lasering commented on #4724
Just the subject, issuer, validity and SANs would already be very helpfull

[2019-09-30 12:56] mbreban opened #7531 "Add ability to set PSS salt length for transit/sign endpoint"
By default, the salt length in a PSS signature is computed according to the _PSSSaltLengthAuto_ method.

An other method is available _PSSSaltLengthEqualsHash_ in _pss.go_.

For some reasons, I have no other choice but to use this second method.
The API does not allow user to set the method to be used for the salt length.

What I would like is a new parameter in the transit/sign endpoint to define

[2019-09-30 13:18] ncabatoff commented on #7417
As per the [kv-v2 docs](https://www.vaultproject.io/docs/secrets/kv/kv-v2.html), it should be:

To grant a policy the permissions to delete the latest version of a key:
[code]

To allow the policy to delete any version of a key:
[code]

To allow a policy to permanently remove all versions and metadata for a key:
[code]

[2019-09-30 18:58] jdollard opened #7535 "core.Shutdown() should cause the server command to exit"
**Describe the bug**
I'm running vault server with vault configured in HA mode.  If core.performKeyUpgrades() returns a non-nil error after vault obtains leadership, then vault seals itself but the vault server continues to run.  I'd hope/expect that in this case the vault server command would exit with an error instead.

Note that If core.performKeyUpgrades does return an error then core.Shutdown

[2019-10-01 07:17] wernerb opened #7536 "Docs: prefix in path for /sys/leases/revoke undocumented"
**Describe the bug**
The sys/leases page documents the `/sys/leases/revoke` api endpoint to revoke using a `payload.json` with the lease id in there. (https://github.com/hashicorp/vault/blob/master/website/source/api/system/leases.html.md)

The cli makes use of a variant of the above where the the `lease_id` is specified as a prefix:
`/sys/leases/revoke/<:prefix>`. This is undocumented and should

[2019-10-01 10:21] nickdoikov opened #7537 "during vault certificate-based auth different policy from cert's related policies=[] can be applied"
**Describe the bug**
Cert-basd auth allows to obtain different policies from added to the auth/cert/certs/certname  field  policies=[].
So literally having a client cert and key i can obtain a token for any policy   using --data '{"name": "policy_name"}' instead of only that contain in the cert policies field.

**Environment:**

* Vault Version:  v1.2.3
* Operating System/Architecture: Ubuntu 16.0

[2019-10-01 11:15] LordBurrito opened #7538 "SSH secret engine generates postdated certificates"
**Describe the bug**
The SSH secret engine generates postdated certificates from both API and web UI from 1 hour after the date system.

example:
[code]
JSON from the audit log:
[code]

**To Reproduce**
Just sign any certificate with SSH vault secret engine.

**Expected behavior**
Have a valid signed certificates starting from the current system date

**Environment:**
* Vault Server Version:
[code

[2019-10-01 12:51] jefferai commented on #7536
Hi Werner,

What you're seeing is legacy/deprecated functionality that is there to keep (at this point, very) old workflows working. Putting lease IDs in paths is not generally considered a good idea since lease IDs are at least sensitive (e.g. sharing them could allow someone else to revoke your lease). That's why we've only documented the recommended approach. (We realize that if the intent is t

[2019-10-01 12:51] #7536 closed

[2019-10-01 15:21] fcgravalos commented on #7364
Just in case if it sounds interesting for someone, we added a `watch-namespaces` functionality into `secrets-manager`

https://github.com/tuenti/secrets-manager/pull/39

[2019-10-01 15:23] michelvocks commented on #7538
Hi @LordBurrito!

The reason why the validation times in your certificate are different is that the [Unix time](https://en.wikipedia.org/wiki/Unix_time) is defined using the UTC timezone.
The [OpenSSH certificate specification](https://github.com/openssh/openssh-portable/blob/master/PROTOCOL.certkeys#L184) defines how certificates should look like and that does also include the `ValidBefore` and `

[2019-10-01 16:06] ncabatoff commented on #7537
Hi @nickdoikov,

I'm unable to reproduce this behaviour.  I created two different cert auth roles with two different policies and two different certs.  I can login using either one with its correct name:

[code]

[code]

But if I try to provide a different name:
[code]

Could you share your client2.crt, user.pem, and user2.pem files please?  If you'd rather not post them publicly, you can email th

[2019-10-01 16:50] nickdoikov commented on #7537
@ncabatoff

all this certs is a self-signet test ones, so there are no secrets in them .

here they are:

client2.crt
[code]
privkey2.pem
[code]

user.pem
[code]

user2.pem

[code]

and please let me know if you will find something unusual/wrong in them that can cause such issue.

[2019-10-01 16:59] michelvocks commented on #7538
Yes, you are right. My _assumption_ is that `ssh-keygen` is not aware of DST (daylight saving time) which would result in a wrong conversion.

However, I cannot find any prove for that. Would you mind to share some more information about your setup e.g. SSH role configuration, is Vault running in a docker container? any specific time/date cron jobs are running on the host system?

It is also weird

[2019-10-01 19:20] ncabatoff commented on #7537
Okay, it took some time (and some consulting with the experts) to figure out what's going on here and what should be done differently.

The reason why both of your certs are accepted for either role is twofold: first, they share the same serial number (`1`) and second they're x509v1 rather x509v3 certs.  x509v1 is over 20 years old, and isn't much used these days (I'd never encountered one before

[2019-10-01 20:22] nickdoikov commented on #7537
Thanks ,seems like now it's clear . I can re-generate certs and add them instead of current old-style  to check that everything ok on the same install.

[2019-10-01 20:30] #7280 closed

[2019-10-02 10:25] melkorm commented on #6792
# More details on on this issue.

## Steps to reproduce

Using https://gist.github.com/melkorm/25ce9f0d3840d29caa3491a47129e00f we can reproduce this by running `setup-server.sh` then `setup-db.sh` with correct hostname and password for RDS, after running this commands we can watch for credentials given by vault using `watch.sh`.
After this we can reboot RDS with failover in AWS console and watch

[2019-10-02 10:49] LordBurrito commented on #7538
Hi Michel,

I'm running Vault and Consul on the same VM hosted on VMware.
that's the SSH role:
[code]
I've tried to set the system date to UTC over all the machines I was using for my lab and even if I can see the correct time in UTC and via `ssh-keygen` I still get the same error:
`Oct  2 08:40:13 ubuntu-target sshd[1576]: error: Certificate invalid: not yet valid`

I've tried to downgrade both v

[2019-10-02 12:56] #7538 closed

[2019-10-02 13:37] jwmajors81 commented on #7494
One impact of requiring the metrics endpoint to be authenticated is that it fills up the vault audit logs.  Since we started scraping the metrics endpoint with prometheus an addition 11,000 events have been added to the vault audit log file per day (with the associated response payload), which is causing the logs to get much larger.  It would be ideal if this endpoint was not authenticated.

[2019-10-02 13:42] jefferai commented on #7494
@jwmajors81 We're aware of this, and it's one of the factors of why we're considering allowing it to be marked unauthenticated.

[2019-10-02 13:57] fredrikhgrelland opened #7547 "identity propagation in ssh secrets engine"
**Is your feature request related to a problem? Please describe.**
At the moment it is not possible to enforce identity mapping from vault to ssh login using the ssh secrets engine for CA authentication. When creating a ssh signing role; setting allowed_users to '*' enables anyone attached to this role to impersonate any os user.

**Describe the solution you'd like**
Extending the allowed_users fi

[2019-10-02 14:07] fredrikhgrelland commented on #7547
#7548

[2019-10-02 14:23] jefferai commented on #7535
To be clear, it gracefully quits the Vault core, but the core is being run by something else (the server command).

There actually isn't a right answer here, and we've had requests the other way too, where they don't want Vault to exit because that will mean that it will be auto-restarted and go back into the available pool of potential active nodes, whereas with it sealed then LBs will route arou

[2019-10-02 14:34] jefferai commented on #7547
More or less a duplicate of #6056.

[2019-10-02 14:59] jdollard commented on #7535
Given this would a reasonable approach be to add another command line option for vault server to control this behavior?   Something along the lines of "-exit-on-core-shutdown"?

[2019-10-02 19:37] n17h31sm commented on #7502
@arctiqjacob I was able to reproduce your issue on CentOS 7 with raft. And what I discovered looking in the code is that this issue can occur when you have replicated storage that is part of a cluster.
What happens codewise is that when you try to rotate your credentials it tries to first write a WAL to the storage log, this is where it raises the exception you get, thus vault never actually gets

[2019-10-03 02:52] hmalphettes commented on #3617
@oxlay thanks for your note. I observed the same thing. The fact that the current syslog is only able to send to send the messages on the unixsocket is also mentioned here: https://www.greenreedtech.com/vault-audit-logging/

I have dropped the syslog backend and I am only relying on a file now.
rotatelog is configured in this manner for me: https://github.com/hashicorp/vault/issues/472#issuecommen

[2019-10-03 08:14] tomaspinho commented on #7450
Tested building Vault with the changes in https://github.com/hashicorp/vault/pull/7458 both with and without `AWS_SDK_LOAD_CONFIG` set. Vault doesn't assume the IAM role. An updated `awscli` running inside the same pod assumes it correctly.

[2019-10-03 08:38] n17h31sm commented on #7477
@Constantin07 From what I see this is the intended behaviour. It is due to the structure that is used now for logging, for the agent command the logger is initialised like that:

[code]

[full source here](https://github.com/hashicorp/vault/blob/v1.1.5/command/agent.go)
So it is either everything is going to the Stderr, or to the Stdout, if you have applied the flag.
Then you apply the log level t

[2019-10-03 13:06] jefferai commented on #7477
Like Vault server, Vault agent log messages have always been sent to stderr.

[2019-10-03 15:12] arctiqjacob commented on #7502
@n17h31sm I've checked that the node-id that I'm using is in fact the leader in raft (I'm targeting the 10.128.0.42 Vault node).
[code]

With doing that, I found now that I can force a regeneration with:
[code]

But it still doesn't seem to rotate when the TTL hits 0. I don't see any logs now pointing to a WAL issue. So I'm trying to figure out now why I don't see it. Going to try and dig into it

[2019-10-03 16:35] ncabatoff commented on #7501
Fixed in #7518.

[2019-10-03 16:35] #7501 closed

[2019-10-03 16:36] ncabatoff commented on #7467
Hi @jacobkiers,

Thanks for the bug report.

Fixed in #7518.

[2019-10-03 16:36] #7467 closed

[2019-10-03 17:19] jrdemasi opened #7556 "Vault CLI copy-to-clipboard"
**Is your feature request related to a problem? Please describe.**
I used to use pass (https://www.passwordstore.org/) for both personal and professional purposes, and one of the best features of it (in my opinion) was the ability to copy a password directly to your clipboard for a limited amount of time.  With pass, it was 45 seconds, then it cleared from your clipboard.  Could we get this in the

[2019-10-03 18:42] drewmullen opened #7560 "OAS Spec not accurately reflecting vault object definitions"
**Describe the bug**
I'm one of the maintainers of the [HVAC](https://github.com/hvac/hvac) python client for vault. We're experimenting with rewriting the app based on the OAS spec recently released by Hashi. I've been having some trouble getting (any) proper returns from the auto generated client (swagger-codegen). After a while of troubleshooting, I believe the issue may have to do with the spe

[2019-10-03 18:50] jefferai commented on #7560
@kalafut

[2019-10-03 19:17] Constantin07 commented on #7477
@jefferai The point I'm trying to make is that it's against UNIX philosophy. Sending informational(regular) logs into `stderr` makes life more difficult - e.g. I want to have an alert, triggered when some error/exceptions happen and thus they are written to `stderr`. At the moment that would be difficult to do because they would be messed with pure informational messages.

[2019-10-03 19:24] jdollard commented on #7535
I've created a PR that includes the fix I described

[2019-10-03 19:29] ncabatoff commented on #7477
The UNIX philosophy is rarely clearcut or universally agreed on.  It's true that regular command-line tools generally write normal output to stdout and errors to stderr.  When it comes to daemons there's less consensus - some write to stdout, some to stderr, but it's pretty standard to write all log messages to a single output stream.  I don't think it's likely we'll change that.

[2019-10-03 20:01] jefferai commented on #7477
Right -- we include log levels in the output (text, or JSON key) so that you can easily alert/sort. As @ncabatoff said there's not a lot of agreement, e.g. would warnings be stderr or stdout?

[2019-10-03 21:42] kalafut commented on #7560
Hi @drewmullen. To start with, is the generated OAS being correctly interpreted as OpenAPI 3?  Your link to the definitions section was for a 2.0 document, and that is an element that changed from 2 to 3. I'd like to confirm this aspect of the tooling first because there are significant changes between the spec versions.

I checked the output in https://editor.swagger.io just now and it didn't fla

[2019-10-03 22:44] dgozalo commented on #5540
This one seems to be quite old, but I'm having exactly the same problem, increasing request times dramatically, is there any fix planned for this?

[2019-10-04 04:14] mxplusb commented on #7481
@meirish @kalafut what's the best way to troubleshoot this?

[2019-10-04 05:36] kalafut commented on #7481
Hi @mxplusb. Is this a new Vault instance? If so, that's the log you'll see before you run `vault operator init`

[2019-10-04 07:29] #7494 closed

[2019-10-04 12:22] drewmullen commented on #7560
hi @kalafut thanks for taking a look at this with me. i generated the client via OAS 3.0 spec. thanks for pointing out that the petstore.json blob was 2.0! I looked at [petstore.json 3.0](https://raw.githubusercontent.com/swagger-api/swagger-codegen/3.0.0/modules/swagger-codegen/src/test/resources/3_0_0/petstore.json) and that **does not** have a `definitions` section as you mentioned.

TBH Swagge

[2019-10-04 19:09] Quuxplusone opened #7570 "VAULT_TLS_SKIP_VERIFY should be VAULT_SKIP_VERIFY"
[Line 90 in `docs/configuration/seal/transit.html.md`](https://github.com/hashicorp/vault/blame/51787e4bd40130ee20afdaae4bb757a848a79d44/website/source/docs/configuration/seal/transit.html.md#L90) refers to env var `VAULT_TLS_SKIP_VERIFY`, but the actually respected spelling of this env var seems to be just `VAULT_SKIP_VERIFY`. (Verified by setting each of these variables in my environment and see

[2019-10-04 19:41] GonzalezAndrew opened #7571 "Policy behavior are reflected differently via CLI and web UI"
**Describe the bug**
When using ACL template policies, both the Vault CLI and web UI are showing different behaviors. I am trying to establish a secret shared environment that allows users to create their own secrets but not see any other users secrets or pathing. The Vault CLI correctly illustrates this but the web UI throws a permission denied statement indicating the user does not have the righ

[2019-10-04 19:45] #7570 closed

[2019-10-04 19:45] kalafut commented on #7570
Thanks for the report!

[2019-10-04 20:55] kalafut commented on #7560
@drewmullen While the inputs (parameters and requestBody) are well specified in the generated spec since we can determine them programmatically, the outputs are not, which is why you don't see any output schema definitions. And that health output is sort of an outlier with its multiple response codes.

I'm unfamiliar with the code generators out there so I can't really provide much insight into wh

[2019-10-04 21:52] pangyikhei opened #7574 "Typo in Build Your Own Certificate Authority (CA) guide in Learn"
**Describe the bug**
There is a typo in the Learn site for the Vault guide Build Your Own Certificate Authority (CA).
https://learn.hashicorp.com/vault/security/sm-pki-engine#web-ui-1

In Step 15, it says:

[2019-10-04 22:58] kalafut commented on #7574
@yhyakuna

[2019-10-05 04:27] sithuyeaung opened #7576 "How to Publicly-trusted certificates using Hashicorp PKI and let's encrypt"
In my test Env (Hashicorp PKI) . very nice but i don't know how to do config public trusted certificate using let's encrypt certificate . Please help me .......

[2019-10-05 05:33] blhagadorn commented on #7556
This is an interesting idea, however I would imagine this would be pretty OS-specific.  On Mac OS - `vault kv get -field=excited secret/hello | pbcopy` will copy it to the clipboard (however there is no TTL).  Perhaps this issue on a password manager offers more insight: https://github.com/lastpass/lastpass-cli/issues/59

[2019-10-06 10:50] nickdwix commented on #7537
thanks, everything works fine with the appropriate serial number in a certificate.
if you want to re-tet negative scenario you can use -set_serial 01 flag :)

[2019-10-06 10:51] nickdwix commented on #7537
this ticket can be closed. thanks.

[2019-10-07 03:17] will-quan-bird opened #7581 "Allow '@' in aws secrets engine path regex"
**Is your feature request related to a problem? Please describe.**
The regex doesn't allow '@' (at sign) for email within the vault aws secrets engine path as it is nice to place full emails there.

**Describe the solution you'd like**
The PR has passed all checks and is ready for merging https://github.com/hashicorp/vault/pull/7553/files

[2019-10-07 05:50] xtrusia opened #7582 "Taking around 20mins after loosing leader when one etcd is down intermittently."
**Describe the bug**
etcd 3.3.15 cluster has 3 nodes
vault in HA mode, has 3 nodes

**To Reproduce**
Steps to reproduce the behavior:
1. deploying 3 etcd nodes and 3 vault nodes,
2. confirmed that vault secrets list -detailed is working.
3. shutdown one etcd node(most likely the first one in endpoints list)

then vault command is not working properly with below error
context deadline exceeded
or
l

[2019-10-07 06:34] xtrusia commented on #7582
modified logs
vault 0
https://clbin.com/N9g2c
vault 1
https://clbin.com/kCWNk
vault 2
https://clbin.com/zlx2e

[2019-10-07 11:58] michelvocks commented on #7214
Hi @wneessen!

I tried to reproduce your issue with a fresh FreeBSD 12.0 setup including the configuration you have send to me via E-Mail. Sadly, I still wasn't able to reproduce your mentioned behavior.

I'm a bit clueless on how to proceed here. I assume it has something to do with your network setup or with your used certificates which is hard to reproduce on our side. I don't think this is a F

[2019-10-07 13:30] wernerb commented on #7536
@jefferai Ah this makes sense. It is weird though that the deprecated method is actively used in the CLI.
Just to confirm then. there is no way for people to use policies to lock down a specific prefix without sudo rights, and this is the intended use-case?

The reason i'm asking is that the spring-vault library currently does a revoke on KILL signal on all its leases. It uses the non-path-based r

[2019-10-07 16:08] taleksandrv opened #7588 "Vault panic, invalid memory address or nil pointer dereference"
**Describe the bug**

Vault server output log:

[code]

**To Reproduce**
Vault PKI tidying up procedure https://github.com/hashicorp/vault/blob/1.1.3/website/source/api/secret/pki/index.html.md#tidy

**Expected behavior**
Vault server works without any panic errors.

**Environment:**
* Vault Server Version: 1.1.3

Vault server configuration file(s):

[code]

**Additional context**
Looks like the s

[2019-10-07 16:32] #4561 closed

[2019-10-07 16:33] jefferai commented on #7582
I believe this is a duplicate of #7403

[2019-10-07 20:20] yhyakuna commented on #7574
@pangyikhei  Thanks for catching this!  Fixed.

[2019-10-07 20:20] #7574 closed

[2019-10-07 23:03] kiran2956 commented on #1071
the vault which provisioned using dynamo DB as part of disaster recovery process in HA mode . is not allowing to uneal,

I see vault is initiated automatically when i use the old dynamo DB table in order to restore.

[ec2-user@ip-<**Redacted**>]$ vault operator unseal -tls-skip-verify
Unseal Key (will be hidden):
Error unsealing: Error making API request.

URL: PUT https://1<redacted>:8200/v1/sys/

[2019-10-08 12:06] venky999 opened #7592 "Add a feature to support disable wildcard subdomains"
**Is your feature request related to a problem? Please describe.**
At the moment

VAULT PKI supports wild card subdomains to generated.

like `*.myorg.com` or `*.finance.myorg.com`

Is it possible to add an option to explicitly disable this feature
so that I need to use a specific subdomain when generating cert

like

`test.myorg.com` or `test.finance.myorg.com`

This is useful when using intermed

[2019-10-08 13:24] KristapsT opened #7593 "PostgreSQL storage backend configurable with environment variables"
**Is your feature request related to a problem? Please describe.**
When configuring Vault to run in Kubernetes and use PostgreSQL storage backend, I ran in to an issue where my only option to configure PostgreSQL connection string is to provide it in configurations file - this is a problem to use since we store configurations for deployments in Git and in this case the configuration would contain

[2019-10-08 13:59] jdinel opened #7594 "Mix of http and https URLs in pki-engine.html.md"
Hi, in the `pki-engine.html.md` file, a `-dev` server is started but the documentation switches randomly between `http` and `https` URLs for the remaining examples. All links in this document should be plain `http` as the dev server doesn't start a `https` service.

[2019-10-08 14:28] nickdoikov commented on #7537
everything works with  any certificates version , also  any cert can be generated with -set_serial [SERIAL NUMBER] , so literally it is possible to get v3 certs with same serial.

[2019-10-08 14:28] #7537 closed

[2019-10-08 14:35] jefferai commented on #7537
Certificates are just bytes; you can craft any certificate you want if you have the key to sign it. However, any real usage of Vault should use a conforming CA and any conforming v3 CA will not reuse serial numbers.

We try to prevent errors or mistakes from impacting Vault's security but if you have a non conforming CA that you are trusting you have quite bigger problems than just Vault and there

[2019-10-08 15:58] hello2956 opened #7595 "vault failed to unseal when autounseal enabled during restore process"
In the process of restoration of the vault from the same back-end I have observed the vault is already initiated but in a sealed state, the backend perfectly configured, when I am trying to unseal it using the keys which are collected prior installation of vault I see it is not allowed.

Note: Auto unseal enabled not allowing to change seal to unseal or vice-versa

Expectation: when all the nodes

[2019-10-08 16:13] jrdemasi commented on #7556
Well, there is at least one package for Go that implements this: https://github.com/atotto/clipboard.  It does add optional deps for Linux, but I think that could be handled gracefully?

[2019-10-08 20:20] yhyakuna commented on #7594
[Fixed](https://learn.hashicorp.com/vault/secrets-management/sm-pki-engine) now!

[2019-10-08 20:20] #7594 closed

[2019-10-09 11:49] drewmullen commented on #7560
so it seems like y'all arent looking to support this use case, which is fine. i may continue to plug away at it myself and reopen if i run into something that seems spec specific.

thanks for the info

[2019-10-09 11:49] #7560 closed

[2019-10-09 14:29] chrishoffman commented on #7485
Fixed by #7526

[2019-10-09 14:29] #7485 closed

[2019-10-09 16:33] #7452 closed

[2019-10-09 16:37] devops-rob opened #7603 "Rabbitmq role not picking up the / vhost"
**Describe the bug**
I have enabled and configured the rabbitmq secrets engine with a role which should grant access to the '/' vhosts as per the example in the documentation but somehow vault isn't actually picking up the '/' in the role so the correct permissions do not get assigned when creating a dynamic user.  I was experiencing this in production so i spun up a local dev server in dev mode t

[2019-10-09 18:25] PumpkinSeed opened #7604 "Socket or RPC communication instead of HTTP API"
**Is your feature request related to a problem? Please describe.**
The performance matters for us at my company, and I think the HTTP API is not the best in performance. I looked for it, but this is the only way to communicate with Vault.

**Describe the solution you'd like**
It would be nice to have something like a socket connection or RPC connection next to the HTTP API. It can developed as the

[2019-10-10 02:09] #7250 closed

[2019-10-10 03:01] paul-mesnilgrente opened #7606 "Renew Access/Secret keys instead of creating new users with AWS"
**Is your feature request related to a problem? Please describe.**

We are using:

- a Kubernetes cluster which is using AWS as a provider
- [aws-iam-authenticator](https://github.com/kubernetes-sigs/aws-iam-authenticator/) to authenticate to Kubernetes with AWS.
- Vault to have short-life secrets from AWS.

The problem is that Vault is creating temporary users. So it's hard to know who did what o

[2019-10-10 10:47] DilshanAyeshmantha commented on #6325
Not working with vault version 1.2.3 as well.

WARNING! The following warnings were returned from Vault:

  * no LDAP groups found in groupDN 'ou=groups,dc=example,dc=com';
  only policies from locally-defined groups available

[2019-10-10 11:04] DilshanAyeshmantha commented on #6325
same error . not working with version 1.2.3 as well

[2019-10-10 12:08] mkisielewski opened #7609 "Unable to run Vault agent as a Windows service"
**Describe the bug**
Unable to run Vault agent as a Windows service using builtin mechanism (sc.exe). Vault agent run in background, perform authentication using AppRole and fetch token into the file, but service return error:
[code]

Vault agent can be also started manually using the same command as specified in service definition.

[code]

Probably Vault's Windows exe doesn't report status requi

[2019-10-10 13:10] cpoole opened #7610 "Use of map[string]interface{} for secrets prohibits json struct tags"
**Is your feature request related to a problem? Please describe.**
The call to `Write(path, val)` in `api/logical.go` takes a path and a generic map[string]interface{}

If I have my own struct that I want to write into vault:
[code]
I can certainly do the conversion myself into the proper syntax but that is error prone and I am lazy.

It would be quite nice if we could have a `WriteBytes` method i

[2019-10-10 13:44] cpoole commented on #1973
@jefferai since this is likely outside the scope of core vault could this be implemented as a plugin?

It would basically be an audit plugin that we could run on a separate set of servers and could handle the search queries.

[2019-10-10 13:46] manjeet-thadani opened #7612 "How to register an Endpoint in plugin which can be called without auth token"
I have created a custom plugin to manage user creds. I need to create a health check which checks if plugin is working as expected or not. But Plugin Health Check should not require any auth token.

How to achieve this?

Also, I saw `/sys/health` which returns health check for Vault itself but does not specify anything regarding custom plugin health checks.

[2019-10-10 15:51] antasesha opened #7615 "how to store unseal keys and root token in production"
Hi
I am trying to use hashivault to store some keys .I have below queries
1) Once the vault is started, how do i store the root token and the unseal keys?
2)Also if i lose the unseal keys, how do i unseal the vault for further usage.
3) Also once the keys are put inside, what if i log out, and log again after say 3 days,will my keys still be there in the path i created ? if so,how do i see it?
4)

[2019-10-10 18:17] tyrannosaurus-becks commented on #7606
We have Vault audit logs for this use case. Their docs are [here](https://www.vaultproject.io/docs/audit/#audit-devices), but basically, they log every request and response. The idea is that someone using this engine could search the logs for `vault-user-134` to gain additional context.

[2019-10-11 00:55] paul-mesnilgrente commented on #7606
Ok that sounds to be partially solving the problem. We'll have a look into this.

Is there any security reason for not having the feature to renew the access/secret key of an existing user? I think it would be valuable for many projects using AWS as having short-life keys is one of the security best practices.

[2019-10-11 07:24] shwuandwing opened #7623 "Expose description in the read of sys/auth/:path/tune"
There's an asymmetry between the write vs read of sys/auth/:path/tune -- the write exposes the description field while the read does not return it.

https://www.vaultproject.io/api/system/auth.html#description-1

It makes configuring / updating auth mounts (like via the vault terraform provider) somewhat fragile.

**Describe the solution you'd like**
The read sys/auth/:path/tune should return the

[2019-10-11 08:14] janmasarik commented on #7389
@brucedominguez were you successful in implementing Okta through OIDC? 😅

[2019-10-11 08:42] CpuID commented on #6046
Hit this exact same thought process today:

I was under the exact same impression, then I went to test it and hit the "invalid key" error trying to unseal with the recovery keys. I then found https://groups.google.com/forum/#!msg/vault-tool/-gdDm-KRlxw/4b6t0QnaAgAJ which confirmed a suspicion I had after my testing, which led me here.

I considered this idea, interesting I didn't realise it refere

[2019-10-11 08:47] bbaassssiiee opened #7625 "Circle CI builds are broken since July 9!"
Pull-requests are merged despite broken builds in Circle CI for months. Please add TLC and update the repository settings to mandate passing all tests.

[2019-10-11 08:52] bbaassssiiee commented on #7615
1.You typically distribute the unseal keys over trusted operators (one each). Together they can unseal the vault, but they/you should not be able to do that alone. Therefore encrypt these unseal keys in initializing vault. After you set up authentication you typically destroy the root token.
2. You don't put the unseal keys in vault. You all need to unseal Vault when the machine reboots.

[2019-10-11 12:58] mjarmy commented on #7463
I've created a PR that addresses this issue: #7627

[2019-10-11 13:24] CpuID commented on #6046
@ncabatoff as a followup to comments in https://github.com/hashicorp/vault/pull/7559 - you are right, would need to store the master key encrypted multiple times, in KMS + somewhere else potentially.

personally I'd prefer a way to use unseal shamir shares to do it as one method for recovery, to allow for "break glass" type situations where you take a last known good backup from your storage backe

[2019-10-11 22:57] mjarmy commented on #7463
@briandbecker The PR was approved.  I'll close this issue soon since I believe it will be addressed in 1.3

[2019-10-12 01:11] tj13 commented on #6792
Any update about this issue

[2019-10-12 01:47] evan-chaney commented on #7021
I opened #7638 for RPM builds with a systemd file.

[2019-10-13 19:03] jackkleeman opened #7639 "Asymmetric encryption of request bodies [happy to build this]"
**Is your feature request related to a problem? Please describe.**
One thing that we have found challenging with Vault is getting key material from an airgapped laptop (where we generate the material) to Vault without it passing through an unsafe device. The solution we have come to is a Vault plugin from which we obtain a public key, then pass encrypted KV secrets to, along with a path, and a Vau

[2019-10-13 19:19] jefferai commented on #7639
We've actually been wanting to build this forever. One of the original use cases with the Identity system when thinking about it before 0.8 was for exactly this: that since you wouldn't have to define keys per token but rather have tokens associated with an entity in Identity that you could then put a public key there and actually have it usable. We didn't build it because we had no real demand fr

[2019-10-13 19:24] jackkleeman commented on #7639
What options are available for this that wouldn't require some communication between the airgapped machine and Vault? Sharing public keys beforehand is okay as they persist, but if I have to transport something between the laptop and Vault each time we do an exchange, that isn't ideal. Is it so painful to just encrypt to a 25519 public key directly? I don't think authentication of the sender is re

[2019-10-14 05:27] hushanxue commented on #129
@vaibhavbhanawat01  if you forget to note the Root Token and Unseal Key, how to solve it?

[2019-10-14 05:31] hushanxue opened #7640 "I forget to note the Root Token and Unseal Key, they are lost, how I can use vault again?"
I forget to note the Root Token and Unseal Key, they are lost, how I can use vault again?   I remove some data on disk?

[2019-10-14 08:56] plinski opened #7641 "Undefined: consts.RequestHeaderName"
**Describe the bug**
I get the following error when I try to use `"github.com/hashicorp/vault/api"` in my project:
`# github.com/hashicorp/vault/api
../../github.com/hashicorp/vault/api/client.go:436:17: undefined: consts.RequestHeaderName`.
I can see that the client.go file was changed two days ago. It used to work last Friday.

**To Reproduce**
Import  `"github.com/hashicorp/vault/api"` to your

[2019-10-14 09:17] byo opened #7642 "Transit engine: lock the key so that it can never be exported"
Every key created / imported in the transit engine can be marked as exportable. If an attacker gains access to vault account with enough permission, he can always export such key. Once exported, the key must be revoked which may not be an easy task if it has been used in deployed software.

Even though marking such key as exportable can not be reverted and thus can easily be detected, it can be ea

[2019-10-14 09:50] poolski commented on #7641
✋Same thing happening here. It looks like something broke in a recent release, since there were no issues a couple of weeks ago when pulling the same code.

Running `go get -u github.com/hashicorp/vault/api` vs `go get github.com/hashicorp/vault/api` broke my local environment.

[2019-10-14 10:07] agathver opened #7644 "Vault UI shows all versions as deleted if `delete_version_after` is configured"
In a kv2 storage backend, Vault UI shows all versions to be deleted if `delete_version_after` is configured.

**To Reproduce**
Steps to reproduce the behavior:

1. Configure `delete_version_after`. Run `vault kv metadata put -delete-version-after=300s secret/test`
2. Add some new versions of the secret. Run `vault kv put secret/test message="data1"`
3. Open the secret in the UI

**Expected behavio

[2019-10-14 10:47] allthingsclowd commented on #7641
✋ Same error here on the Travis-CI platform with previously working deployments -
[code]

I noticed that this header was added in this PR - https://github.com/hashicorp/vault/pull/7627

On my mac when I enable go modules it appears to download correctly? I tried this on Travis-CI with no joy.

[code]

[2019-10-14 11:32] briandbecker commented on #7463
@mjarmy looks great! Thanks for the amazing work... :shipit:

[2019-10-14 12:21] Place1 opened #7645 "Policy to allow entity name update doesn't work with "*""
I'm trying to update the name of an entity by id using vault CLI.

Here's the policy i'm using to allow it:

[code]

Here's the command i'm trying to use to do the update:

[code]

The above gives me a standard 403 Permission Denied response.

After checking with `vault token capabilities $(cat ~/.vault-token) identity/entity/id/$the_id` vault says that my token only has "read" access

But interes

[2019-10-14 13:37] MaxCrank commented on #4506
+1 for this feature.

[2019-10-14 13:41] mjarmy commented on #7641
Fixed!  Sorry about that -- we needed a `go mod vender'

[2019-10-14 13:41] #7641 closed

[2019-10-14 16:20] ncsazure commented on #5836
Probably it is a good time to fix this, 11 months in. Data security critical.

[2019-10-14 16:38] jefferai commented on #5836
@ncsazure just to note: we didn't write the Dynamo backend and don't support it -- our documentation is clear that it's unsupported by HashiCorp and community support only. We will be happy to review a PR but this is not something the Vault team is currently planning to address.

[2019-10-14 16:48] tyrannosaurus-becks commented on #7606
Hi @paul-mesnilgrente ,

Well, when you're issued a newly-made username and secret, Vault will get rid of the user and password when the secret's `default_sts_ttl` runs out. If that role was configured to have a `max_sts_ttl` that was longer, it's possible to renew the lease on the secret to delay how long it will be before the username and password are deleted. You'd do that by using `$ vault lea

[2019-10-14 16:56] llamasoft opened #7648 "Azure Documentation - Create Role missing policies?"
In the Azure authentication documentation, the [Create Role](https://www.vaultproject.io/api/auth/azure/index.html#create-role) sample payload includes a "policies" key, but no parameter by that name exists.  Is it supposed to be "token_policies"? Is "policies" is allowed as a convenience?  If so, it may be worth noting that.

[2019-10-14 17:05] kalafut commented on #7648
@llamasoft `policies` is the pre-1.2 parameter which has been deprecated. Thanks for highlighting this. We'll get the docs updated.

[2019-10-14 17:12] #7648 closed

[2019-10-14 17:33] sbutler commented on #5836
My job hasn't given me time to work on a patch for this. And I think since I submitted it DynamoDB has added the on-demand pricing which makes this less critical for people using that backend storage.

Whoever does fix it should come up with a backoff strategy for resubmitting unprocessed items. They shouldn't just immediately try again. That makes the patch a little more difficult to do.

[2019-10-14 19:01] jacobkiers commented on #7467
Hi @ncabatoff, thanks for looking into it. Is there a nightly or something with which I can verify that it is actually solved?

The linked MR seems to address a slightly different issue, updating the _same_ role multiple times. This issue is about _many different_ roles being created in a batch.

I'm not well versed enough in go to evaluate whether the code addresses both.

[2019-10-14 19:47] ncabatoff commented on #7645
The "*" character does match the `:id` segments in API paths.  The problem you're facing is due to (1) non-wildcard policy paths override wildcard policy paths and (2) everyone gets the `default` policy, which includes this:

[code]

So your first rule is being ignored because there's a more specific rule that applies.  Your second rule which uses an explicit id instead of a wildcard works, though

[2019-10-14 20:42] llamasoft opened #7653 "Okta Auth Method Configuration - Misleading documentation?"
The documentation for the Okta auth method's `config` endpoint says that `base_url` has a default of "".
However, the [endpoint handler](https://www.vaultproject.io/api/auth/okta/index.html#create-configuration) says that "When not specified in the configuration, "okta.com" is used."

I'm not exactly sure how to best represent this in the documentation.  On the one hand, the documentation is _tech

[2019-10-14 21:40] Place1 commented on #7645
Oh thanks for the explanation. Not sure how I missed this in the docs because some sort of default rule was on my mind.

[2019-10-14 21:40] #7645 closed

[2019-10-15 00:18] llamasoft opened #7655 "LDAP Documentation - "Required" Parameters"
The documentation for the Active Directory secrets backend says that for the `config` method, the parameters `url`, `binddn`, and `bindpass` are required.  However, the actual validation check is [much less strict](https://github.com/hashicorp/vault/blob/7932afafe2a1c2c5ac9c7fc03c0c7f15c427f9fb/sdk/helper/ldaputil/config.go#L375-L377).  The following commands all report a success, despite violatin

[2019-10-15 05:15] ibogomazov commented on #7588
@jefferai can this please be backported to v1.1.3?

[2019-10-15 13:10] #7463 closed

[2019-10-15 13:15] jefferai commented on #7639
In that they don't support encryption, yes :-)

But you don't need to transfer over and over. You're thinking of curve25519 as it's classically used, to protect ephemeral symmetric keys. But in that scenario you're generating a new public/private key pair for each conversation, because the same set of public/private keys maps to the same symmetric key. If you re-use the same key pair, the symmetri

[2019-10-15 13:26] jefferai commented on #7639
Oh one thing to point out about that scheme is unlike the RSA case the client must also be able to store a private key, to compute the shared secret. The problem is that RSA is more or less deprecated at this point by NIST as it's entirely quantum-unsafe.

Normally I'd say you could store this private key in Vault, using Identity to gate access to it, but the point for you is that the laptop is ai

[2019-10-15 13:55] #7588 closed

[2019-10-15 14:29] chrishoffman commented on #7588
@ibogomazov Sorry we don't backport these patches to older releases.  This should be a pretty easy patch to integrate yourself, if necessary.

[2019-10-15 14:37] devops-rob commented on #7603
@jefferai or anyone else working on Vault, When you have a moment, are you able to take a quick look at this please?  Thanks

[2019-10-15 15:11] devops-rob commented on #6325
I'm also getting the same error in version 1.2.3.  It's definitely a blocker for us here.  Glancing through the comments, i agree with @jefferai re moving the updomain condition up as it should always honour that if set (in theory).

[2019-10-15 15:16] kalafut commented on #7397
Fixed in #7622 and #7632

[2019-10-15 15:16] #7397 closed

[2019-10-15 15:16] kalafut commented on #7418
Fixed in #7622 and #7632

[2019-10-15 15:17] kalafut commented on #7466
Fixed in #7622 and #7632

[2019-10-15 15:17] #7466 closed

[2019-10-15 16:30] byo opened #7663 "When restoring a key in transit engine, path is not correctly validated"
Steps to reproduce the behavior:
1. `vault write /transit/keys/test-key type=rsa-2048 exportable=true allow_plaintext_backup=true`
2. `vault read --field=backup /transit/backup/test-key | vault write /transit/restore/sub/path/test-key2 backup=-`
3. A key with incorrect path has been created, `sub` is listed as a sub-path in `/transit/keys/` but one can not list that sub-path nor do any operation r

[2019-10-15 18:16] andelhie opened #7665 "LDAP error when trying to bind"
**Describe the bug**
Unable to auth with LDAP after setting up auth backend.
Error states LDAP the bindpass is wrong.

**To Reproduce**
Steps to reproduce the behavior:
1. Run

[code]

2. Run
[code]
3. See error
CLI
[code]
Log errors
[code]

**Expected behavior**
Able to log in with LDAP

**Environment:**
* Vault Server Version (retrieve with `vault status`): Version         1.2.3
* Vault CLI Vers

[2019-10-15 18:46] ncabatoff commented on #7665
Are you sure that escaping is doing what you think it is?  With bash:

[code]

[2019-10-15 19:53] andelhie commented on #7665
So I just ran the lines above and I got the same outputs as you did and

[code]

So are you saying I need to use the single quotes?

[2019-10-15 19:56] andelhie commented on #7665
And there we got that worked.

[code]

[2019-10-15 19:56] #7665 closed

[2019-10-15 22:21] gwsampso opened #7668 "How to minimize deadlocks in MSSQL when using GUNICORN and dynamic login credentials"
I'm getting random deadlock errors in my application on sometimes the simplest of stored procedures.

The application environment where I'm experiencing the error uses the GUNICORN server in production connecting to SQL Server 2012 via pyodbc and ODBCDriver 17.

The application environment utilizes [HashiCrop Vault][1], which generates database credentials dynamically based on configured roles for

[2019-10-16 00:11] kalafut commented on #7418
Reopening since the linked issues only improve the login issues, not role creation.

[2019-10-16 06:15] brucedominguez commented on #7389
No luck so far. I had to park the project.

[2019-10-16 06:59] avinashgundlapally opened #7671 "sys/mfa/method/okta/my_okta --- unsupported path"
root@ip-xxxxxx:/home/ubuntu/config# vault write sys/mfa/method/okta/my_okta mount_accessor=auth_userpass_xxxx org_name="dev-xxxxx" api_token="007.......rXlnl2x"
Error writing data to sys/mfa/method/okta/my_okta: Error making API request.

URL: PUT http://127.0.0.1:8200/v1/sys/mfa/method/okta/my_okta
Code: 404. Errors:

* 1 error occurred:
        * unsupported path

I have launched vault dev serve

[2019-10-16 07:47] xtrusia commented on #7582
I picked some code from vault and made test code[1],
It works just fine.
It is not losing leader basically, even if it lose leader, it is restored as a leader soon(in 5 seconds)

I'm not sure yet why vault can't be restored from down.

It uses proper dependency etcd client..

[1] https://clbin.com/SgRsJ

[2019-10-16 14:22] chrishoffman commented on #7625
We do still have some flakiness in our testing infrastructure.  We have had successful runs since July 9th but we know they are still inconsistent.  I am going to close this ticket but we appreciate the concern and will continue to work to make improvements to the stability and consistency of our testing infrastructure.

[2019-10-16 14:22] #7625 closed

[2019-10-16 15:19] dunkelbunt1 commented on #6325
Have the same error in version 1.2.2 and 1.2.3. The error doesn't occur in version 1.2.1

As a workaround you can remove the **upndomain** or leave it blank.

[2019-10-16 16:38] nouseforaname commented on #7497
Hi,

we updated the vault instances. Unfortunately we still cannot make it work. The above config still applies

[2019-10-16 17:03] Ernest0x commented on #1973
@cpoole while brainstorming on implementation ideas is surely a good thing and I have personally offered some of my own ideas before (perhaps nothing that Vault engineers could not think of themselves), I do not think that HashiCorp will change its priorities based on requests coming from the open source community users. What we actually need is a good push from enterprise customers. In fact, I am

[2019-10-16 18:24] tyrannosaurus-becks commented on #5589
This appears to be related to https://github.com/netlify/build-image/issues/177.

[2019-10-16 18:29] tyrannosaurus-becks commented on #5589
The issue here is that when our `make website` script attempts to mount the volumes, at `/opt/buildhome/repo` and `/opt/buildhome/cache`, the resulting folders have a group of "1000" instead of "nogroup", and they have an owner of "1000" instead of "buildbot". The rest of the script within the "build" command attempts to run as buildbot and doesn't have permission to make the directories needed fo

[2019-10-16 18:44] calvn commented on #7671
The `sys/mfa/*` endpoints are only available in Vault Enterprise. Is that the type of binary that you're using?

[2019-10-16 19:13] marcosnils commented on #5589
Thx for the update @tyrannosaurus-becks . I'm wondering what's the purpose of the makefile and that target if it fails for everyone that's trying to run it :confused:

[2019-10-16 21:15] mholt commented on #4950
May I recommend using [CertMagic](https://github.com/mholt/certmagic) for this?

It's the same well-vetted library used by the [Caddy Web Server](https://caddyserver.com), and it is the most mature ACME client implementation in Go that is available.

It also supports pluggable storage, so you could have CertMagic store certificates directly in Vault.

It also coordinates certificate management in

[2019-10-16 21:16] mholt commented on #4362
@remilapeyre This issue was created first, and I think this one has more actionable material.

[2019-10-16 21:32] mattlandis opened #7681 "Add the CLA details to the CONTRIBUTING.md"
The contributing guidelines to not mention the CLA.  Some companies have different guidelines for contributing to opensource projects and require additional steps if a CLA is required.  Having these documented upfront would make the contribution process smoother.

[2019-10-16 21:32] paul-mesnilgrente commented on #7606
Hi @tyrannosaurus-becks , thanks for you help. We try to have short-life credentials so renewing the lease is not a solution for us really :/ Do you have any insights on how easy it would be to implement the rotate keys for chosen users?

[2019-10-16 21:42] #7681 closed

[2019-10-17 01:23] marcosnils commented on #5589
@tyrannosaurus-becks I've fixed it here https://github.com/hashicorp/vault/compare/master...marcosnils:patch-1. As stated in the commit, it took a lot of time for me to download dependencies and start the site in the container. I feel like this could be drastically improved.

[2019-10-17 02:50] lrbnew commented on #6590
I tried in my server, the policy works when it  wrote like:
path "auth/userpass/users/{{identity.entity.aliases.${userpass_accessor}.name}}/password" {
  capabilities = [ "update" ]
}

And it would not work if the policy like :
path "auth/userpass/users/{{identity.entity.aliases.${userpass_accessor}.name}}" {
  capabilities = [ "update" ]
  allowed_parameters = {
    "password" = []
  }
}

For me,

[2019-10-17 06:43] alevy4 opened #7686 "Support for Windows Remoting Certificate Access"
Hi, it would be great if Vault would support issue of certificates to support certificate authentication on WinRM.

It would mean that cert issue alt_names would need to support OID 1.3.6.1.4.1.311.20.2.3. (UPN), required by Windows to be embedded in the v3 extension.

The only other alternative is to use openssl to generate the certs.

[2019-10-17 09:30] avoidik commented on #6769
@DrMagPie no new issue is required, since the original issue related to all mounts except auth-N

[2019-10-17 10:10] volenbovsky opened #7687 "Some hyperlinks in Reference architecture document are broken"
**Describe the bug**
In 'table of contents on page https://learn.hashicorp.com/vault/operations/ops-reference-architecture
The broken hyperlinks end with hyphen (-) and they are 'second level' hyperlinks
For example https://learn.hashicorp.com/vault/operations/ops-reference-architecture#single-region-deployment-enterprise-
instead of https://learn.hashicorp.com/vault/operations/ops-reference-archi

[2019-10-17 11:13] devops-rob commented on #7603
UPDATE: I've just been experimenting and it seems it's not adding any specified vhost to the role.

using the following payload on my API request:

[code]

and running the following to implement this:

[code]
When i read the role, i still get the following response:

[code]
The plugin has no use if it can't pick up the specified vhosts as it will create dynamic users but not assign it the specifie

[2019-10-17 12:50] #7392 closed

[2019-10-17 13:05] devops-rob commented on #7603
Figured out this issue is down to a typo in the docs online.  The payload parameter should be "vhosts" rather than "vhost".  I've submitted a PR to rectify this so that anyone else looking for guidance in using this secrets engine doesn't get caught out the same way I did

[2019-10-17 16:51] tyrannosaurus-becks commented on #5589
@marcosnils it's a step in the right direction! Thank you! I will test that PR today, and I'm going to recruit a colleague with a Mac to make sure it still works for them (I assume it would but a test never hurts), and assuming all is well we'll get it merged.

[2019-10-17 21:17] #5589 closed

[2019-10-17 21:23] tyrannosaurus-becks commented on #7606
Gotcha. Sounds like even with what we have in place, that doesn't solve it for you. I'll leave this open, then, for our team to assess and prioritize as a feature request.

[2019-10-17 23:24] kalafut commented on #7389
The "Issuer URI" is shown in the main list of "Authorization Servers" in Okta and is what you'd use for the `oidc_discovery_url`.  On the Vault side you'll need to set up some other parameters. I'd refer to the main [OIDC docs](https://www.vaultproject.io/docs/auth/jwt.html) and [tutorial](https://learn.hashicorp.com/vault/identity-access-management/oidc-auth) (which uses Auth0, but many concepts

[2019-10-18 00:50] ethindp commented on #7389
I can't even get it to work. I set up the issuer and creds, then try
to log in. The vault immediately denies me claiming that an OIDC role
is not allowed. When I try without a role and without a default role,
it complains that no default role is available.

On 10/17/19, Jim Kalafut <notifications@github.com> wrote:

--
Signed,
Ethin D. Probst

[2019-10-18 05:02] kalafut commented on #7389
Are you setting up a Vault role, similar to: https://learn.hashicorp.com/vault/identity-access-management/oidc-auth#cli-command-1 (step 3)? Also, it would be helpful if you'd paste commands and error messages.

[2019-10-18 05:22] 219liangyi opened #7696 "https://www.vaultproject.io/ cannot be accessed"
Is the API document offline? The official website cannot be accessed.

[2019-10-18 09:38] danlsgiga commented on #6326
Just hit this same issue in a hard way. Any plans of a fix soon? Any workarounds?

[2019-10-18 10:08] devops-rob commented on #7603
Closing as PR has been merged to master

[2019-10-18 10:08] #7603 closed

[2019-10-18 12:26] yura-shutkin commented on #7640
Good day, sir.
I'm not a member of HashiCorp, but I can bet that you can ask this question at https://discuss.hashicorp.com/c/vault

Btw. It is not possible to unseal vault if you lost required count of unseal keys. It's builtin feature of vault called barrier.

I lost 2 previous instances of vault and now I have vault auto-unseal. You can generate PGP key and use it's public part for generating u

[2019-10-18 12:30] yura-shutkin commented on #7615
Good day,
You can use public part of you PGP key for generating encrypted unseal keys which you can store at VCS, like git.
And as @bbaassssiiee already told. You should not use root token it production. You can create service account with minimal and only necessary rights for managing vault configurations like auth backends, users, secret engines, etc

[2019-10-18 14:08] bheiskell-datto commented on #5620
Just note, we've seen this without a load balancer in front of etcd. Etcd version 3.3.13 and Vault 1.1.1.

[2019-10-18 14:59] mms11 opened #7697 "Replication/HA Issues beteween datacentres"
I've two vault clusters and I'm using consul storage as a storage for each one enabling High Availabilty beteween then.

Per cluster:
2 Vault Server Version: 1.0.0
3 Consul Server Version: 1.3.0
Configured consul-replicate v0.4.0 to send data from DC1 to DC2.

I'm using token authentication for kubernetes.

Sometimes users are able to generate a token to authenticate and grab KV secrets and normal

[2019-10-18 15:21] devops-rob commented on #6325
hmmm...i'm missing something then because leaving the upndomain blank didn't work for me.  I removed it completely and it wouldn't let me log in at all.  Are any of you able to share your configuration (with sensitive values omitted of course) as a pointer please @sdeoras @dunkelbunt1 ?

[2019-10-18 15:41] kalafut commented on #7696
I've not observed nor heard reports of any outages with the Vault sites.

Closing as there is no action needed.

[2019-10-18 15:41] #7696 closed

[2019-10-19 15:09] charlieegan3 commented on #7481
FWIW, I ran into this issue and was able to fix it with the command above. Specifically

[code]

As far as I can tell, the only place this is documented right now (for the chart) is in the intro blog (https://www.hashicorp.com/blog/announcing-the-vault-helm-chart)

[2019-10-19 17:54] dunkelbunt1 commented on #6325
@devops-rob have a look.
I am using Terraform to configure Vault. See below for an example.

resource "vault_ldap_auth_backend" "ldap" {
  path                 = "ldap"
  url                  = "ldap://domain.com"
  starttls             = false
  insecure_tls         = false
  discoverdn           = false
  deny_null_bind       = true
  userattr             = "sAMAccountName"
  binddn

[2019-10-20 13:39] shibumi opened #7701 "building vault 1.2.3 from source fails while generating static assets"
**Describe the bug**
I try to build vault 1.2.3 for the official Arch Linux repositories. Doing this results to an error while generating static assets

**To Reproduce**
Steps to reproduce the behavior:
We use the following software for building:
* go with enabled PIE (1.13.1)
* git 2.23.0
* yarn 1.19.1
* python2 2.7.16
* bower 1.8.8
* nodejs-lts-dubnium (nodejs 10.16.3)
* npm 6.12.0
* zip 3.0

Fu

[2019-10-20 13:41] shibumi commented on #7701
HINT: The last lines of the build log show the error. My guess is our go-bindata is either too new or too old.

[2019-10-20 15:21] csquire commented on #4162
@jefferai This is still a problem.  Vault needs to search with pagination and set the page size to a high value as well.

This search appears to need updated: https://github.com/hashicorp/vault/blob/master/sdk/helper/ldaputil/client.go#L120-L125

Should use something like this:

[code]

[2019-10-20 15:56] csquire opened #7702 "LDAP search failed: Result Code 4 "Size Limit Exceeded""
**Describe the bug**
LDAP queries that return a large number of results are still erroring with the fix for #4162 . When an LDAP server is setup to only return 1000 results a group query which returns more than that will fail.

**To Reproduce**
Steps to reproduce the behavior:
1. Setup LDAP auth with a group filter that will return more than 1000 groups
2. Attempt to login
3. Login fails with `LDA

[2019-10-21 10:41] bandesz commented on #6792
lib/pq does not handle query timeouts correctly and it can hang for a long time during an AZ failover. Here is the related issue: https://github.com/lib/pq/issues/450.

[2019-10-21 11:23] melkorm commented on #6792
@bandesz thanks for the link to related issue ! I've discovered this myself and wanted to create similar issue but it's great that it exists already, although after some research it looks like Vault doesn't provide credentials concurrently which causes that application is not able to recover from this error and vault is in broken state - can't serve credentials for this db.

Vault could handle it

[2019-10-21 15:12] p3lim commented on #4950
I'm currently developing a secrets plugin for Vault using [lego](https://github.com/go-acme/lego), which certmagic depends on. In my brief overview of certmagic I found that the pluggable storage adds unnecessary complexity to the logic (write variables to Vault using the SDK), and it seems like it's just a wrapper for lego for web developers (no offense intended, it looks like a great project, ju

[2019-10-21 15:16] mholt commented on #4950
@p3lim Lego is a raw ACME client library -- it simply facilitates the ACME protocol for you. It has methods like `Register()` and `Obtain()`. The difference is that CertMagic is all about keeping certificates renewed in the long run: while your server/process is running, ensure certificates stay renewed and that your TLS config can always serve the current certificates, without downtime.

So for a

[2019-10-21 15:57] danlsgiga commented on #6326
Just for context... I hit this issue once I tried to upgrade our Vault Agents from 1.1.2 to 1.2.3

[2019-10-21 16:17] jefferai commented on #7702
Any chance you're willing to PR that? :-)

[2019-10-21 16:19] csquire commented on #7702
sure, I can try to make some time

[2019-10-21 16:20] jefferai commented on #7701
Sounds like it's too old. We're using https://github.com/hashicorp/go-bindata which is one of the hard forks after the original repo went away (although I think it got restored, just in archive mode).

You could pull that into your path as part of your build script.

[2019-10-21 16:21] jefferai commented on #7701
Closing as it's not really a Vault issue, but rather a third party binary that just needs a newer version.

[2019-10-21 16:21] #7701 closed

[2019-10-21 16:25] mxplusb commented on #7481
After working through this for several days, I reached the same conclusion @charlieegan3 did, you still have to manually run the `vault operator init` command, and the helm chart doesn't run it for you.

[2019-10-21 17:56] csquire commented on #7702
We were able to work around this for now by changing our group filter.

[2019-10-21 18:29] shibumi commented on #7701
@jefferai sorry to bother you again. But we use hashicorp/go-bindata, as stated above in the issue, we do the following to retrieve the current go-bindata from hashicorp:
`govendor fetch github.com/hashicorp/go-bindata/go-bindata`

[2019-10-21 19:50] tyrannosaurus-becks commented on #6326
We just merged a fix into master for this, and it's pending release in Vault's next patch release. #7674 , #7632 , #7622 .

[2019-10-21 19:50] #6326 closed

[2019-10-21 20:17] jefferai commented on #7701
We don't use govendor, and I have no idea if that command will build the binary or not or where it will place it. A normal `go get -u github.com/hashicorp/go-bindata/go-bindata` should work.

[2019-10-21 20:21] ncabatoff commented on #7701
I think the `-modtime` option is actually part of `go-bindata-assetfs`.

[2019-10-21 20:26] jefferai commented on #7701
It's not. :-)

[2019-10-21 22:45] 0xdecaf commented on #4506
+1 as well, this should be a first class construct for the implementation.  I also disagree with any argument suggesting encryption and verification should be done locally due to requiring a separate data store and/or code path depending on where the key resides.

[2019-10-21 23:40] evitalis commented on #7021
Looks like the associated PR was closed without clear reason. @chrishoffman can you share some more info on this issue please?

[2019-10-22 00:09] tonglil commented on #6822
When following the instructions at https://learn.hashicorp.com/vault/developer/plugin-backends#compile-plugin, the binary doesn't actually run because it's not a main package.

The error you'll get is:
[code]

I think the page needs to be updated to say to use your own plugin, or give a working example.

[2019-10-22 07:00] xtrusia commented on #7582
I tried this code https://github.com/xtrusia/vault-etcd-test/blob/master/t4.go
which is similar to vault itself. but it works fine.
As you can see, this test program has similar structure as vault's. except something includes barrier.
I suspect that with "barrier", it is not working well. I haven't tested and analyzed it fully yet.
I'm going to post after testing.

[2019-10-22 07:31] wongkafai opened #7708 "rotate-root in mongodb"
Does the feature of rotate-root support mongodb
Is there an example?
Use version 1.2.3

[2019-10-22 07:48] wongkafai commented on #7708
![rotate-root in mongodb](https://user-images.githubusercontent.com/8857387/67266672-55751200-f4e3-11e9-827e-ae4dba025155.PNG)

[2019-10-22 11:30] banks opened #7709 "/pki/root/sign-self-issued doesn't allow cross-signing CA roots with different key type"
**Describe the bug**

In Consul Connect we use `sign-self-issued` to cross-sign another CA root when transitioning between CAs. If the Vault root is using a different Key type to the new CA root it's cross signing, this endpoint will not allow the signing to take place.

Example response body:

[code]

I _think_ this is a bug in that it makes this legitimate operation impossible as far as I can se

[2019-10-22 17:29] yhyakuna commented on #6822
@tonglil  I'll look into this.  Thx.

[2019-10-22 22:45] #7644 closed

[2019-10-23 09:08] sischkg opened #7716 "Feature Request: output the client source port to audit devices."
**Is your feature request related to a problem? Please describe.**

Vault outputs the source address of its client as "remote_address" to audit devices.
However, since the source port of the client are not contained in Vault audit logs,
it is difficult to specify the client behind NAT(NAPT) or proxies.

[RFC 6302: Logging Recommendations for Internet-Facing Servers](https://tools.ietf.org/html/rfc

[2019-10-23 13:12] pschulz1 opened #7717 "Timing issue when using dynamic secrets with Vault using "vault_generic_secret" for "azurerm" Terraform provider"
**Versions**
Terraform 0.12.10
provider.azurerm v1.35.0
provider.vault v2.0.0

**Description**
I'm trying to use dynamic secrets, generated by Vault via the Azure Secret Engine, to log into Azure. However, it seems there is a timing issue, in a way that the newly generated secrets are not ready for all Azure services, which causes Terraform to run into either on of the following error messages.

T

[2019-10-23 15:03] #3018 closed

[2019-10-23 16:05] yhyakuna commented on #6822
@tonglil  The [guide](https://learn.hashicorp.com/vault/developer/plugin-backends) has been updated.  Special thanks to @hasheddan for his contribution!

[2019-10-23 17:15] bardagadvergur commented on #5968
@toadjaune where did you set the max_parallel parameter? I have the same exact issue but with a MSSQL backend and changing that parameter does not seem to have any effect.

[2019-10-23 20:18] noph commented on #3978
I would like to see the default vault address be changed to either a non tls default endpoint ( http://127.0.0.1:8200 ) or an endpoint that is relatively common to have a trusted cert for like the hostname ( https://<hostname>:8200 )

Either one of those will work well out of the box and make the default ux much smoother.

[2019-10-23 21:43] richard-mauri commented on #3689
+1 on adding sealed and leader info added to vault telemetry

[2019-10-24 02:08] jeremie0 commented on #7389
@brucedominguez not sure if you've fixed this part of your config yet, but you have double http:// in  your url, allowed_redirect_uris, post_logout_redirect_uris,   login_uri etc.

You also need to setup the claim on the okta side to include the groups.  That can be done with okta_auth_server_claim at the auth server level (See https://github.com/articulate/terraform-provider-okta/blob/master/webs

[2019-10-24 03:03] meadowhuhu opened #7722 "vault temporary account in mysql"
I have a problem about vault account .
Each call to the vault will generate three temporary account in mysql user table.With the operation,the account will become more and more.
I wonder if there are some ways to block the temporary account or delete those account by modifying the configuration file.
![image](https://user-images.githubusercontent.com/39788833/67449618-575ae480-f64d-11e9-99ba-01e1a

[2019-10-24 06:04] stevegore opened #7723 "OIDC auth method should support setting the entity name to something recognisable"
**Is your feature request related to a problem? Please describe.**
Having just set up using OIDC Auth with Google, the newly recreated entities are shown as a list of number. There's no way of knowing which entity relates to which user.

**Describe the solution you'd like**
Ideally the entity name would could be taken from a configurable field. Perhaps the email address by default.

**Describe alt

[2019-10-24 09:55] dgozalo commented on #7450
From AWS side they already confirmed that this is the expected behavior. Is a decision being made to move this forward? I guess this would be solved by changing `New` to `NewSession` in the code base.

It would be incredibly beneficial for us to use IRSA, so I would gladly help with it.

[2019-10-24 12:07] wombat opened #7724 "auth backend with witespace cannot be disabled"
**Describe the bug**
I accidentally created an auth backend with a leading whitespace and I am not able to disable it.

**To Reproduce**
Steps to reproduce the behavior:
1. Create an auth backend with a leading whitespace
2. Run `vault auth list` -> auth backend is shown without a leading whitespace
3. Check auth backend in the UI -> In the overview it shows it without a whitespace, but in the det

[2019-10-24 13:05] bardagadvergur opened #7725 "Unable to revoke database credentials using MSSQL"
With only a handful of database credentials, vault is unable to revoke them if they should be revoked at the same time. The first few will go through with:
`2019-10-24T12:45:45.090Z [INFO]  expiration: revoked lease: lease_id=database/creds/Tenant_9/BcJXZkijxH7eesX5d00KCA83`

followed by a mix of:
`2019-10-24T12:45:47.548Z [ERROR] expiration: failed to revoke lease: lease_id=database/creds/Tenant_

[2019-10-24 13:15] kalafut commented on #7723
Hi. You can configure which claim (e.g. `"email"`) is used for the alias name with the [user_claim](https://www.vaultproject.io/api/auth/jwt/index.html#user_claim) parameter.

[2019-10-24 13:20] get2arun opened #7726 "How to deploy vault without persistent storage(pv) in openshift"
Use-case and scenario for setting up the vault server in openshift
In the openshift platform, as a normal user, I am trying to deploy the vault server. Followed the url https://github.com/openlab-red/hashicorp-vault-for-openshift to create vault server in the openshift cluster. In the vault.yaml file, there is persistent volume claim that is not avaialbe in my setup.

Describe the solution you'd l

[2019-10-24 19:21] shibumi commented on #7701
@jefferai so, I have cleaned up our pkgbuild (thats the shell script that describes the build process for the official arch linux repository).

Now the error looks like this:

[code]

any idea?

[2019-10-24 23:01] stevegore commented on #7723
Thanks so much!
For future readers, I also had to ensure I add the `profile` OIDC scope to get that information. Settled on `name` claim in the end.

[code]

[2019-10-24 23:28] kalafut commented on #7723
Glad you got it working!

[2019-10-24 23:28] #7723 closed

[2019-10-25 02:52] jefferai commented on #7701
None, sorry. It may help for debugging to get an environment working outside the pkgbuild context.

[2019-10-25 06:04] 13567436138 opened #7735 "how to login on the website?"
![image](https://user-images.githubusercontent.com/31508490/67546949-37502180-f730-11e9-94b9-d6da404e9f27.png)
where to find the username and password?

[2019-10-25 12:28] shibumi commented on #7701
Do you know if `gox` is really necessary to build vault for amd64? I tried decreasing the dependencies.

Now I have the following dependencies:
[code]

and what I do is:

[code]

[2019-10-25 13:21] dgozalo commented on #7450
So I've been testing a solution for this and I managed to make it assume the role locally ( but it should work in a Pod, too ).

The problem that I've seen is that Vault is creating its own CredentialsChain, this overrides the default behavior of the sdk and it ends up not adding the WebIdentityProvider so it never attempts to assume the role.

I also tried creating a NewWebIdentityProvider and wh

[2019-10-25 17:30] dgozalo commented on #7450
I managed to get this to work running in a Pod, it's assuming a role created by IRSA.

I tried it by creating a WebIdentityProvider to the existing CredentialsChain and reading the env variables, otherwise it would never even attempt to use this Provider as Vault is overriding them.

Next I found this issue: https://github.com/kubernetes/kubernetes/issues/82573 which basically doesn't allow non-ro

[2019-10-25 22:27] chrishoffman commented on #7735
Whoever is the administrator for your Vault cluster will give you the methods to how to log in.  Vault provides multiple, pluggable auth methods to accomplish logins but this is up to how your administrator configured your instance.

[2019-10-25 22:27] #7735 closed

[2019-10-26 11:53] zhecksum commented on #2973
On the newest version of Mongo (4.2), vault will not return an EOF error but will instead return "not master".

You've done some great work on fixing this issue (@jefferai and @calvn) and it would be awesome if you could add "not master" to the switch case statement. That will make the plugin work with 4.2 as well.

`case err == io.EOF, strings.Contains(err.Error(), "EOF"):`

to

case err == io.EO

[2019-10-26 12:53] zhecksum opened #7742 "[Mongo plugin] vault read database/creds/<role> throws "not master" error after primary step down"
**Describe the bug**

Mongo version 4.0+ returns a **"not master"** error instead of an **EOF error** when Vault tries to connect after a step down of the replica set primary.

/plugins/database/mongodb/mongodb.go:

`case err == io.EOF, strings.Contains(err.Error(), "EOF")`:

needs to be changed to

`case err == io.EOF, strings.Contains(err.Error(), "EOF"), strings.Contains(err.Error(), "not maste

[2019-10-26 12:54] jefferai commented on #7742
Given that you know the exact code change necessary, any chance you would PR it? :-)

[2019-10-26 13:01] zhecksum commented on #7742
@jefferai sure thing! I'll submit a request right away!

[2019-10-26 14:51] zhecksum commented on #7742
Digged a little bit deeper into this, and it turns out that I was wrong.

MongoDB version 4.0 works as expected.

It is only version 4.2 that does not work.

The reason for this is in the [MongoDB docs:](https://docs.mongodb.com/manual/reference/method/rs.stepDown/)

`Starting in MongoDB 4.2, rs.stepDown() method no longer closes all client connections.`

To support version 4.2, we will need to cl

[2019-10-26 21:43] remilapeyre commented on #4950
Hi everybody, I published my current implementation for this at https://github.com/remilapeyre/vault-acme.

It does most of what was asked for in this thread and we've been using it for some days and it seems to work fine.

Regarding CertMagic, I'm not sure I see what it may add to Lego that we need. One thing I needed from Lego that is not implemented is the ability to update an ACME account but

[2019-10-26 22:17] mholt commented on #4950
@remilapeyre Great, I am looking forward to taking a closer look when I have a chance.

A few points of initial feedback:

- I'm glad to see you're using lego at least, that's definitely the best low-level ACME implementation in Go.

- I'd highly recommend reading this draft of an upcoming document which advises best practices for ACME clients: https://github.com/https-dev/docs/blob/master/acme-op

[2019-10-27 08:52] Osamakhamaiseh opened #7744 "Unable to configure Vault with the proper plugin and connection information"
**Describe the bug**
When writing to vault's database engine the plugin exists with code 400.

**To Reproduce**
When following the Oracle Database Secrets Engine found [here](https://www.vaultproject.io/docs/secrets/databases/oracle.html), I get the following error log:
[code]

This error appears after running the following command:
`vault write database/config/my-oracle \
plugin_name=oracle-datab

[2019-10-27 19:33] pescobar commented on #3377
After reading the comments in this issue I guess the answer is NO but I will ask just in case....is there any way to implement something like this using hashicorp vault? or any plan to add this feature?

https://github.com/nsheridan/cashier#revoking-certificates

[2019-10-27 19:45] jefferai commented on #3377
@pescobar it's not currently on the internal roadmap to add this but it might at some point. An interested community member could maybe work with someone on the Vault team to implement this. However I don't think that this backend currently stores issued certs. If not we don't have any current way of knowing any cert details.

One really key thing here is that for an X509 certificate a crl must be

[2019-10-27 20:54] jackkleeman commented on #7639
I think I was interpreting what you were saying as something more like diffie hellman. If its a shared key based on the partners public key only, that sounds better. I'm not completely averse to the airgapped laptop having some kind of persistent identity, although I think we had intended to start wiping these laptops on every use.

It's cool to encrypt the response too, although I suspect for mos

[2019-10-28 02:25] hushanxue commented on #7640
Hi, yura-shutkin.
Thanks a lot for your advice. I feel grateful.

[2019-10-28 10:42] pschulz1 commented on #7717
Closing this one here and moved it to #580 terraform-providers/terraform-provider-vault.

[2019-10-28 10:42] #7717 closed

[2019-10-28 16:31] #6571 closed

[2019-10-28 17:24] charlesknipe opened #7748 "Support renewing tokens by token accessor"
**Is your feature request related to a problem? Please describe.**
I am building an application that manages the lifecycle of vault tokens (acquire, renew, revoke) on behalf of applications that consume vault secrets but are not, themselves, vault aware.  I'd like my service to be able to renew the tokens as long as the consuming application needs access to the secrets, and revoke them on exit.  I

[2019-10-28 20:16] robinpercy commented on #7112
Agreed, the docs don't call out the TTL consideration clearly enough.

FWIW, I've tested 2 workarounds, based on using vault-agent with consul-template, as per: https://learn.hashicorp.com/vault/identity-access-management/vault-agent-k8s

1. Make vault-init a sidecar instead of init container, and set ```exit_after_auth=false``` in its config, that will keep the agent alive and able to renew the t

[2019-10-28 23:03] mitchellmaler commented on #1563
@jefferai This is something we just ran into today as well. We are leveraging creating multiple ldap groups and adding ldap users to them but it's difficult to list what users are related to each group.
Guess we will have to loop through each ldap user and compile a list for now.

[2019-10-28 23:55] #7323 closed

[2019-10-29 01:45] ausfestivus opened #7750 "Azure Storage Backend caveat"
**Describe the bug**

The documentation for the [Azure Storage Backend](https://www.vaultproject.io/docs/configuration/storage/azure.html) should make it clear that the Storage Account (SA) that the Storage Container is created in must use the `Standard` performance tier.

`Premium` performance tier SAs will not work with the Azure Storage Backend. When you do your `vault operator init` it will re

[2019-10-29 12:42] sithuyeaung opened #7753 "Hashicorp vault PKI with global external CA or signed global certificate"
Hello,
Self signed certificate rotation is very nice using hashicorp with consul-template . But may I know few thing .
Possible uses for vault:
1. External global Root CA or Signed certificate (Let'encrypted or Godaddy) import to vault PKI ?
2. How to rotate Signed global certificate (Let'encrypted or Godaddy certificate ) using Hashicrop PKI?

[2019-10-29 20:29] chrishoffman commented on #7722
Vault will not generate 3 accounts for each operation and only creates one.  I would check the calling application to see if there is a problem there that is not being handled correctly.

[2019-10-29 20:29] #7722 closed

[2019-10-30 13:48] s3lph opened #7764 "AppRole role creation API field `token_policies` actually called `policies`."
**Describe the bug**

When creating a new AppRole role through the [`POST /auth/approle/role/:role_name`][api] endpoint, the resulting token policies list is always `["default"]`, no matter what policies are actually submitted to the creation request.

When using `"policies": [...]` instead of [`"token_policies": [...]`][field], the request works as intended, though.

**To Reproduce**
Steps to rep

[2019-10-30 16:54] s3lph opened #7765 "TLS Certificate & Key not reloaded on SIGHUP"
Vault 1.1.2 does not reload TLS certificate and key on `SIGHUP`. The new certificate is only presented after a restart.

**To Reproduce**
Steps to reproduce the behavior:
1. Replace Vault TLS certificate and key
2. `pkill -HUP vault`
3. See `==> Vault reload triggered` in the log
4. `curl -v https://vault:8200/v1/sys/init`, look at the certificate information
5. See that the old certificate is sti

[2019-10-30 17:37] calvn commented on #7764
The change to have `policies` and `period` include the `token_` prefix was introduced in Vault 1.2.0 ([changelog](https://github.com/hashicorp/vault/blob/master/CHANGELOG.md#120-july-30th-2019)), which is why you're seeing the behavior of `token_policies` being ignored if provided but not with `policies`. Similarly, the `token_no_default_policy` parameter was also introduced in 1.2.0.

The documen

[2019-10-30 21:17] Conan-Kudo opened #7770 "Please release source tarballs with JS code pre-generated and bundled in"
**Is your feature request related to a problem? Please describe.**
I'm trying to package Vault for [Fedora](https://getfedora.org/) and CentOS, and one of the challenges with doing so is that the JavaScript dependencies aren't vendored in the source tree like the Go dependencies are. It is especially challenging, given the special tools used to integrate the JS with the Go code for the UI.

**Desc

[2019-10-30 23:08] remilapeyre commented on #4950
Thanks @mholt, I will update my secret backend based on your feedbacks.

Here's what will need to be changed to match the recommendations:

- *Upon obtaining a certificate, immediately write it to persistent storage.*
  Currently each client requesting a certificate for `foo.com` will get a new one. This is the usual behavior for Vault secrets backends and this mean I didn't need to save the certi

[2019-10-31 09:15] gites opened #7771 "Setting the callbackhost for OIDC is not working in 1.3.0-beta1"
**Describe the bug**
I'm trying to test feature introduced in JWT-71 and use different callback host then `localhost` but the `callbackhost` flag is ignored.

**To Reproduce**
Steps to reproduce the behavior:
1. Use vault `1.3.0-beta1`
2. Run `vault login -method=oidc role=woop callbackhost=callback.example.com`
3. Redirect URI is still set to "`lolcahost`

`redirect_uri=http%3A%2F%2Flocalhost%3A8

[2019-10-31 12:49] s3lph commented on #7764
Thanks for the clarification.

[2019-10-31 12:49] #7764 closed

[2019-10-31 15:03] asaintsever commented on #7364
[Talend Vault Sidecar Injector](https://github.com/Talend/vault-sidecar-injector) supports this use case (disclaimer: I am the author of this component).
We inject both vault agent+consul template as sidecars (not init containers) thus vault token is continuously refreshed for you underneath.

[2019-10-31 15:39] yannrouillard commented on #6111
I am also hit it by this bug.
Weirdly on the Google LDAP side I see this in the logs (from more recent to oldest):

|                                Event Description                                 |    Event Name     |   User    |
| :------------------------------------------------------------------------------: | :---------------: | :-------: |
| LDAP search with (&(objectClass=inetOrgPerson)(u

[2019-10-31 17:15] Lynty opened #7772 "OIDC URL encoding bug in `allowed_redirect_uris` with nested namespaces"
**Describe the bug**
When configuring the OIDC role, `allowed_redirect_uris` must have url encoding for the appended namespace(s) when using nested namespaces.

**To Reproduce**
Steps to reproduce the behavior:
1. Create namespace1
2. Create namespace2 that is nested under namespace1
3. Enable and configure OIDC auth
4. Run
[code]

**Expected behavior**
Able to log in to nested namespace using OID

[2019-10-31 17:55] ljagiello commented on #7771
It looks like there is a wrong version of plugin in go.mod (https://github.com/hashicorp/vault/blob/master/go.mod#L76) it should be fa5d6cc (next merge).

[2019-10-31 18:45] asaintsever commented on #7364
Oh great. Thanks for pointing that. Will then be able to only inject one sidecar to do all the work!

[2019-10-31 19:16] kalafut commented on #7771
@ljagiello @gites Thanks for catching this (and thanks for the PR, which I'll accept next). The usual workaround until the next release is to build the plugin from master and register it with Vault. In this case it's a little different, since the issues of interest (JWT-71 and JWT-77) are both in the CLI integration with Vault. This means you need to build Vault (after I merge the PR) to see the c

[2019-10-31 19:17] #7771 closed

[2019-10-31 21:16] mholt commented on #4950
I see, so this essentially acts as liaison between Vault clients and an ACME service, establishing 1:1 functions for Obtain() and Renew() (etc).

In other words, it is up to the client to take care of certificate management, and this tool only provides the functions to do ACME transactions. (Correct?)

If so, then hopefully, whatever clients use this tool will abide the best practices. :)

Any way

[2019-11-01 03:54] yannrouillard commented on #6111
FYI, I was also able to workaround the bug using the solution given by @ajholyoake
https://github.com/yannrouillard/vault/commit/a51690dfceb3493a95f635f0b2e3da08b03ef3c3

[2019-11-01 16:22] iusergii opened #7778 "Feature request: POST request for generating creds against Databases secret engines."
**Is your feature request related to a problem? Please describe.**

We have a Multi-tenant database architecture. And for each tenant we need to create a dedicated DB role with permission to dedicated sql database.
So my **creation_statements** for MS SQL Server for Role for **tenant_a** looks like:
[code]
And at the end we have bunch of DB endpoints which we need to create:

- database/creds/teta

[2019-11-01 16:23] csolo65 opened #7779 "Secret contains tab character (%09) and cannot be deleted"
**Describe the bug**
Somehow we have a secret path that contains a tab (%09) character.  I have no idea how or when this particular secret was created, but it is there and causing some errors.

Listing the area shows:

vault kv list secret/MYPATH/
\-\-\-\-
Keys
10.125.127.143	/                <\-\-\-\-  Tab character is on this line before the /
Keys

The item is visible in the UI and hovering ove

[2019-11-01 17:02] kalafut commented on #7779
If you just want to delete it, you can remove it from storage directly. In Vault's storage location it will be under `logical/<uuid of kv mount>/<your path>/...`. The name of the secret isn't encrypted. The secret isn't indexed or referenced in other structures and can simply be deleted.

[2019-11-01 19:10] kalafut commented on #7724
Try:
`curl -X DELETE -H "X-Vault-Token: $(vault print token)" "http://127.0.0.1:8200/v1/sys/auth/%20myauth"`

[2019-11-01 19:48] csolo65 commented on #7779
Thanks you.  I did not realize I could do that. Issue solved for me.

[2019-11-01 20:09] #7779 closed

[2019-11-02 05:23] alvolkov opened #7784 "Vault HA: vault instance in standby mode forwards requests to itself"
listener "tcp" {
  address = "0.0.0.0:8200"
  tls_cert_file = "/etc/vault/certs/vault.pem"
  tls_key_file = "/etc/vault/certs/vault-key.pem"
  tls_min_version = "tls12"
  cluster_address  = "172.30.38.210:8201"
}
listener "tcp" {
  address = "0.0.0.0:8210"
  tls_disable = "true"
}
storage "dynamodb" {
  ha_enabled = "true"
  region     = "us-west-2"
  access_key = ""
  secret_key = ""
  table = "v

[2019-11-04 04:04] abhishekpadadale opened #7785 "Getting Errors running go get github.com/hashicorp/vault/command"
I have not had any errors get/install the package below up until 30/10/2019. Was something committed that caused it? How can i fix it? Thanks!

**Command:**
go get github.com/hashicorp/vault/command

**Error:**
`# github.com/hashicorp/vault/builtin/logical/rabbitmq
/go/src/github.com/hashicorp/vault/builtin/logical/rabbitmq/path_role_create.go:100:23: client.UpdateTopicPermissionsIn undefined (typ

[2019-11-04 08:52] michelvocks commented on #7784
Hi @alvolkov!

I think the problem is that both Vault instances use the same `api_addr` which points to the same Vault Kubernetes service. This leads to a redirect look which has been also described here: https://www.vaultproject.io/docs/concepts/ha.html#behind-load-balancers

I recommend having a look at the [official Vault Helm chart](https://github.com/hashicorp/vault-helm) which does all the w

[2019-11-04 14:56] remilapeyre commented on #4950
This is the idea yes.

The Vault operator can still enforce some of those at the server level and I added cache support in https://github.com/remilapeyre/vault-acme/commit/bd9589152a15d2642df8a4573724ccbb97518d3b

I don't  think so, a huge advantage of having the plugin generate the cert is that it is `mlock`-ed and only speak to Vault through a secure channel with temporary credentials only usabl

[2019-11-04 15:13] s3lph commented on #7765
The issue was caused by wrongly created TLS certificates. With the proper certificates, reloading works.

[2019-11-04 15:13] #7765 closed

[2019-11-04 23:17] catsby commented on #2090
Hello - this is a rather old issue at this point, and Vault now offers a `log_level` configuration flag as well as live configuration reloading with `SIGHUP` signals, so I'm going to close this. Thanks!

- https://www.vaultproject.io/docs/configuration/index.html
- https://www.vaultproject.io/guides/operations/plugin-backends#setup-vault

[2019-11-04 23:17] #2090 closed

[2019-11-05 10:44] michelvocks commented on #7744
Hi @Osamakhamaiseh!

It would be helpful to see the Vault log messages from your Vault instance when you create the database role since they should indicate why Vault was unable to start the plugin.

Cheers,
Michel

[2019-11-05 10:53] michelvocks commented on #7726
Hi @get2arun!

You don't necessarily need a persistent storage volume for Vault itself. We support multiple storage backends (https://www.vaultproject.io/docs/configuration/storage/index.html) which can be deployed outside of your Openshift cluster. If you want to deploy the storage backend for Vault also inside your Openshift cluster, you probably want to have a persistent storage volume otherwis

[2019-11-05 10:54] andydawkins commented on #7107
Was there ever a solution to this?
I have the same problem.

[2019-11-05 11:12] michelvocks commented on #7697
Hi @mms11!

The scenario you described above is not supported by Vault. The problem is that both clusters have an active primary Vault node that writes to the storage and since there is no active locking behavior enabled, unpredictable writes can occur.

I highly recommend having a look at [Vault enterprise](https://www.hashicorp.com/products/vault/enterprise) if you really need Multi-datacenter r

[2019-11-05 11:12] #7697 closed

[2019-11-05 11:25] #7640 closed

[2019-11-05 11:31] jefferai commented on #7107
The TLS error isn't causing the shutdown. That message is printed when the server command's shutdown channel is called (https://github.com/hashicorp/vault/blob/master/command/server.go#L659), and the shutdown channel is tied to SIGINT and SIGTERM (https://github.com/hashicorp/vault/blob/master/command/commands.go#L658).

Something is sending your container or the process in the container one of th

[2019-11-05 12:03] Aracki commented on #1973
There is [vaku](https://github.com/Lingrino/vaku). With `vaku folder search` you can do the similar thing.

[2019-11-05 12:24] michelvocks commented on #7581
https://github.com/hashicorp/vault/pull/7553 has been merged.

[2019-11-05 12:24] #7581 closed

[2019-11-05 12:26] michelvocks commented on #7576
Duplicate of https://github.com/hashicorp/vault/issues/4950

[2019-11-05 12:26] #7576 closed

[2019-11-05 12:39] michelvocks commented on #7547
Closing this in favor of #6056

[2019-11-05 12:39] #7547 closed

[2019-11-05 12:48] michelvocks commented on #7530
Hi @bincysjames!

I can see that this issue is related to the [terraform-vault provider](https://github.com/terraform-providers/terraform-provider-vault) which has its own GitHub repository. Would you mind to re-open this issue over there?

I will close this issue for now since it seems to be not related to Vault itself.

Cheers,
Michel

[2019-11-05 12:48] #7530 closed

[2019-11-05 12:55] michelvocks commented on #7748
Duplicate of https://github.com/hashicorp/vault/issues/7507

[2019-11-05 12:55] #7748 closed

[2019-11-05 13:23] michelvocks commented on #7465
Hi @sidheshdivekar29!

You have to explicitly enable the K8S auth backend for your tests.
As an example:
https://github.com/hashicorp/vault/blob/900915c68ea1001008e5681d8a74c24fc2bf55c4/vault/external_tests/router/router_ext_test.go#L21-L33

I will close this issue for now since it is more a question (which should be asked via the discussion forum/mailing list) and not a real issue related to Vaul

[2019-11-05 13:23] #7465 closed

[2019-11-05 13:30] michelvocks commented on #7456
Hi @pufffff!

Your configured connection URL indicates that your existing database schema is called "test-app".
Apparently, this database schema does not exist in your PostgreSQL database.

Cheers,
Michel

[2019-11-05 13:51] gitirabassi opened #7790 "vault agent with templates doesn't work with `missing client token`"
[code]

Also vault agent doesn't exit with `CTRL+C` when templating is on

[2019-11-05 13:54] gitirabassi commented on #7790
probably related to https://github.com/hashicorp/vault/pull/7739

[2019-11-05 14:45] mms11 commented on #7697
Hi @michelvocks.

I was investigating the issue and the problem is an unpredictable writes as you said.

All the tokens/KV that are write in the DC2 are deleted when the consul-replicator runs.

Cheers,
Marco

[2019-11-05 15:04] andydawkins commented on #7107
Thanks @jefferai

For anybody else suffering the same problem, we believe that the issue was that we were bumping up against the hard memory limit for the Docker Container.
We had set it to only 900Mb and when it was hitting this limit it would stop responding and the Load Balancer would fail health checks and kill the container.

The simple solution was to raise the hard limit on memory to nearer

[2019-11-05 15:07] ggabor82 commented on #3392
I ran to the same issue on Debian 8 using latest Vault (v1.2.3)
Finally I've tried it on Debian 9 and CentOS 7, works out of the box on both using:
```ssh -i signed-cert.pub -i ~/.ssh/id_rsa root@host```

[2019-11-05 15:32] catsby commented on #2500
Related to https://github.com/hashicorp/vault/issues/2275

[2019-11-05 15:50] catsby commented on #2636
Closing this because the follow-up PR was also closed https://github.com/hashicorp/vault/pull/2637#issuecomment-423574985

[2019-11-05 15:50] #2636 closed

[2019-11-05 16:10] nocode99 commented on #7107
We found out it's because we had busy neighbors on our ECS clusters no matter how much resources we gave Vault. We ended up moving back to dedicated instances and don't run into this issue anymore.

[2019-11-05 16:45] asaintsever opened #7791 "Crash loop using Vault Agent Template"
**Describe the bug**
I previously used Vault Agent+Consul Template to connect and fetch secrets from a Vault server. I am trying to leverage new Vault Agent Template feature (beta) to only have to deal with one sidecar container and achieve same result.
Using basic configuration and template that worked with Consul Template I notice infinite stop and restart of Vault Agent container due to a crash

[2019-11-05 16:49] yhyakuna commented on #7687
Thank you for reporting this.  I fixed those last week, so the links should work now.

[2019-11-05 16:49] #7687 closed

[2019-11-05 18:07] jefferai commented on #7507
I don't think I follow the whole problem, but why not use Vault Agent to perform the authentication and keep the token renewed, and reauth when necessary?

[2019-11-05 18:07] jefferai commented on #7507
(Note: removing the labels as for years we have decided not to do this, so it is unlikely we will change that opinion now. But we may.)

[2019-11-05 21:00] catsby commented on #2769
Hello - I'm going to close this old issue for now

[2019-11-05 21:00] #2769 closed

[2019-11-05 21:08] catsby commented on #2926
Hello - this issue is quite stale with no follow-up, so I'm going to close for now. If you're still having this issue and have more information, please let us know!

[2019-11-05 21:08] #2926 closed

[2019-11-05 21:40] #3051 closed

[2019-11-05 21:45] catsby commented on #3150
Closing as a duplicate of https://github.com/hashicorp/vault/issues/3148

[2019-11-05 21:45] #3150 closed

[2019-11-05 21:48] Lasering commented on #7507
1. These are regular tokens created using the [create token api](https://www.vaultproject.io/api/auth/token/index.html#create-token). Vault agent does not support renewing these tokens because 1) they were not created via the agent 2) the agent auto-auth does not support regular tokens.
2. I want to renew **multiple tokens**. If vault agent supported auto-auth using tokens I would need multiple ag

[2019-11-05 21:54] ianferguson opened #7801 "Automated PKI Tidying"
**Is your feature request related to a problem? Please describe.**

Operating our Vault clusters that utilize PKI backends requires also orchestrating processes to periodically call the [PKI tidy](https://www.vaultproject.io/api/secret/pki/index.html#tidy) endpoint to minimize how many expired certificates we accrue in our storage backends.

**Describe the solution you'd like**

Ideally, expired c

[2019-11-05 22:40] catsby commented on #7791
Hello - thank you for the detailed write up! I was able to reproduce the issue you described with the beta. I then ran the setup against a complied version of vault that included the changes and fixes to Agent Templating in https://github.com/hashicorp/vault/pull/7739 and confirmed that I could no longer reproduce the crash in that version.

I'll leave this open for now, but assume this to be fixe

[2019-11-05 22:45] catsby commented on #7790
Hello - thanks for the logs. Can you share more about the template you're trying to render? I'm curious about the error shown here and it's relation to templating:

[code]

The Agent uses the token generated from the auto-auth, so it's possible that the token lacks permissions? Seeing more of the configuration would likely help, if you can do so without exposing any secret information.

Thanks!

[2019-11-05 23:48] pocorschi commented on #4046
I'm guessing there's still no plugin available for neo4j correct @aoighost ?

[2019-11-06 06:18] ausfestivus commented on #7750
Or you know, support the Performance backend as well? :-p

[2019-11-06 06:25] #5838 closed

[2019-11-06 09:37] islishude opened #7803 "demo.vaultproject.io is not available"
https://demo.vaultproject.io/

![屏幕快照 2019-11-06 下午5 37 09](https://user-images.githubusercontent.com/24730006/68286446-15558800-00bc-11ea-8d5b-9abc150e2824.png)

[2019-11-06 10:42] gitirabassi commented on #7790
At first this was the case, but now I have it configured with `consul-template` directly and it works perfectly

[2019-11-06 11:10] asaintsever opened #7804 "Logs from template runner in Vault Agent Template not filtered correctly"
**Describe the bug**
If you look at template runner logs using new Vault Agent Template feature, you'll notice all the [DEBUG] info that should not be there when you start Vault Agent with flag `-log-level=info`.

It seems that what Consul Template did to init its logger is missing here (in particular log filter stuff found at https://github.com/hashicorp/consul-template/blob/46ddb4781e657a109ecd7

[2019-11-06 11:50] michelvocks commented on #7407
Hi @2994186010!

This seems to be a question instead of an issue of Vault itself. Questions should be asked via the [Discussion forum](https://discuss.hashicorp.com/c/vault) or the [mailing list](https://groups.google.com/forum/#!forum/vault-tool). I will close this issue for now but feel free to ask this question again via the mentioned community channels.

Cheers,
Michel

[2019-11-06 11:50] #7407 closed

[2019-11-06 11:56] michelvocks commented on #7406
Hi @2994186010!

To revoke a lease, the API endpoint `sys/leases/revoke` should be used. Your described ACL policy only provides access to `sys/leases` but not `sys/leases/revoke`. It should work when you change your policy to the following:

[code]

You can also replace `revoke` with an asterisk `*` to allow all API endpoints below `sys/leases`.

Cheers,
Michel

[2019-11-06 12:40] michelvocks commented on #7770
Closing this duplicate in favor of https://github.com/hashicorp/vault/issues/7350

[2019-11-06 12:40] #7770 closed

[2019-11-06 12:46] Conan-Kudo commented on #7350
This is also valuable for me for packaging for Fedora and CentOS, as JS dependencies are difficult to get right...

[2019-11-06 12:47] michelvocks commented on #7320
Closing since this doesn't seem to be a bug in Vault itself. @robgolebiowski feel free to open a new issue if this is still a thing.

[2019-11-06 12:47] #7320 closed

[2019-11-06 13:08] Osamakhamaiseh commented on #7744
Turned out to be an issue with the oracle instant client installation.
Thanks!

[2019-11-06 13:08] #7744 closed

[2019-11-06 13:17] michelvocks commented on #7269
Closing this since #7393 has been merged.

[2019-11-06 13:17] #7269 closed

[2019-11-06 13:35] bardagadvergur commented on #7725
My SQL deadlock shows me that the user revocation is deadlocking with it self. Hashicorp basically tries to revoke too many users at the same time.

[2019-11-06 13:49] gitirabassi commented on #7790
I’ll try again after that PR gets merged. Do you have an eta on merging that

On 5 Nov 2019, at 23:46, Clint <notifications@github.com> wrote:

[2019-11-06 14:29] rafaelfonte opened #7807 "Support Auto Unseal through AWS KMS by assuming an AWS EC2 instance role"
**Is your feature request related to a problem? Please describe.**
AWS user access keys should be using sparingly as those can be revoked/rotated every so often due to security policies, incurring in changes everywhere where they are used. Today, Vault only supports auto unseal in AWS by defining AWS access keys in its configuration file.

**Describe the solution you'd like**
It would be interesti

[2019-11-06 14:42] jefferai commented on #7807
Defining access keys is only if you want to use static keys. We use the normal AWS credential chain so if no static keys are defined we fall back to env var, credential file, instance creds.

[2019-11-06 14:42] #7807 closed

[2019-11-06 14:45] ndobbs commented on #7187
I just ran into this issue as well, using the CLI worked for me.

![image](https://user-images.githubusercontent.com/3474164/68307990-19f94c80-007a-11ea-8cfe-239f91b6d153.png)

[2019-11-06 15:00] michelvocks commented on #7103
Closing this since it appears to me that the openapi package has been moved into the SDK package.

[2019-11-06 15:00] #7103 closed

[2019-11-06 15:25] michelvocks commented on #7004
Since we are about to re-label all existing issues I will close this in favor of #944

[2019-11-06 15:25] #7004 closed

[2019-11-06 16:02] rafaelfonte commented on #7807
@jefferai is this defined in the documentation?

[2019-11-06 18:21] TopherGopher commented on #1973
Yup - that implements the functionality I've had to implement myself in our own project and the same logic that others on this thread have had to implement. If you check out the search code: https://github.com/lingrino/vaku/blob/master/vaku/folder_search.go#L94

Basically - loop over every secret - load it all into unencrypted memory client-side - and look for matches. The advantage behind having

[2019-11-06 18:58] kalafut commented on #7750
@ausfestivus Thanks for highlighting this. The docs will definitely be updated in some way, though I do want to review the current state of Azure storage offerings and the storage backend's API usage.

[2019-11-06 19:25] kalafut commented on #7750
@ausfestivus Though General Purpose V2 accounts don't work with premium performance, BlockBlobStorage accounts do (https://azure.microsoft.com/en-us/blog/azure-premium-block-blob-storage-is-now-generally-available/ , and I tried it).

[2019-11-06 21:12] mdgreenfield commented on #6852
This looks to be the same issue I'm seeing with updating an `entity` using the `identity/entity/name/:name` endpoint. The documentation shows a response body being returned with create/update but it appears that it is only returned on creation of new entities.

A create/POST returns a `200` while an update/POST returns a 204 "No Content". Both `identity/entity/name/:name` and `identity/entity/id/:

[2019-11-06 21:24] #7750 closed

[2019-11-06 23:03] catsby commented on #7804
Hello! Thank you for reporting this issue. You are indeed correct that Vault Agent was not properly/completely setting up Consul Templates logger, thanks for pointing me in the right direction. I've opened https://github.com/hashicorp/vault/pull/7822 to address this, but that PR relies on https://github.com/hashicorp/vault/pull/7739 to be merged first. Hopefully both can get merged this week, if n

[2019-11-06 23:36] #3378 closed

[2019-11-07 09:52] #7803 closed

[2019-11-07 11:46] michelvocks commented on #6980
Closing this due to inactivity.

@nikogura feel free to open a new issue if you still encounter the same issue.

[2019-11-07 11:46] #6980 closed

[2019-11-07 11:55] michelvocks commented on #6923
Hi @venkat1981!

Yes. This is possible. Please have a look at our token documentation page which describes how to do that: https://www.vaultproject.io/docs/concepts/tokens.html#token-time-to-live-periodic-tokens-and-explicit-max-ttls

I will close this issue for now since it seems that this is not an issue related to Vault itself. Please feel free to ask further questions via our [Discussion forum

[2019-11-07 11:55] #6923 closed

[2019-11-07 12:03] michelvocks commented on #6901
Closing this since #7094 has been merged.
@trolleksii Please open a new issue if you still encounter the same issue. Thanks!

[2019-11-07 12:03] #6901 closed

[2019-11-07 12:14] michelvocks commented on #6881
Hi @jaybe78!

The problem is that your `api_addr` points to your load balancer whereas it should actually point to the current node its own instance address. This is required for the high availability mode to allow standby nodes to route incoming traffic to the current active node. Please have a look at our documentation for more information: https://www.vaultproject.io/docs/concepts/ha.html#behin

[2019-11-07 13:05] michelvocks commented on #6881
Reopening this because apparently the configuration is correct due to the fact that clients should not have access to Vault instances directly if they are behind an ELB.

By default, Vault should not return redirect responses except when the `X-Vault-No-Request-Forwarding` header is set to a non-empty value. Is it possible that something else (e.g. Kubernetes ingress, ELB ...) returns these redire

[2019-11-07 13:13] michelvocks commented on #6869
@yhyakuna If I remember correctly, this has been already fixed. Would be great to get your input here. 😄

[2019-11-07 13:37] michelvocks commented on #6831
Hi @rifaterdemsahin!

It would be helpful to get more information about your setup to get a better understanding of the issue.

- Vault version
- Your Vault setup (how many nodes etc.)
- What has been done already? Maybe steps to reproduce?
- What is the exact error message?
- Any errors printed in the Vault instance logs?

I also recommend having a look at the Vault AWS learning: https://learn.ha

[2019-11-07 13:56] michelvocks commented on #6794
Hi @rifaterdemsahin!

I will close this since this doesn't seem to be an issue for Vault itself but more a question around Vault's High Availability mode. Please use the [Discussion Forum](https://discuss.hashicorp.com/c/vault) for further questions.

Cheers,
Michel

[2019-11-07 13:56] #6794 closed

[2019-11-07 14:00] michelvocks commented on #6792
Hi @zenathar & @melkorm!

#5732 has been merged recently which looks like a solution for this issue.
I will close this issue for now but please let me know if the issue is still present.

Cheers,
Michel

[2019-11-07 14:02] michelvocks commented on #6774
Closing this now due to inactivity. @mygithubthrowaway Feel free to open a new issue if the issue is still present.

[2019-11-07 14:02] #6774 closed

[2019-11-07 14:09] jaybe78 commented on #6881
Thanks for your time @michelvocks.
It's been a while I haven't look at that issue. So far I've made it work by leaving 2 of my vault instances sealed and only one unsealed.(as explained in my first comment)
Looking at the documentation I could not see what is wrong in my configuration.
Yes I'm using a network LB instead of classic one. Do you think that matters ?

[2019-11-07 14:13] michelvocks commented on #6753
Closing this due to inactivity. @jaybe78 Feel free to reopen a new issue if this is still an issue.

[2019-11-07 14:13] #6753 closed

[2019-11-07 14:19] bandesz commented on #6792
@michelvocks that seems to be an unrelated issue, can you please link the correct one?

[2019-11-07 15:07] michelvocks commented on #6682
Closing this due to inactivity. @guhcampos Please open a new issue if this still a problem for you.

[2019-11-07 15:07] #6682 closed

[2019-11-07 18:08] jefferai commented on #6881
It would be good if you can confirm that your clients are getting 307s. If so it suggests that something is not behaving correctly with the request forwarding mechanism -- information on that should then appear in the logs.

[2019-11-07 18:08] jefferai commented on #6881
(Removing the core/replication label as HA/request forwarding is not a part of replication)

[2019-11-07 20:06] tomwganem commented on #6594
Hello,

I've gone ahead and made a more official golang library in https://github.com/IBM/keyprotect-go

[2019-11-07 20:29] yhyakuna commented on #6869
It shows up fine now, so I'm closing this.
![](https://education-yh.s3-us-west-2.amazonaws.com/GH/GettingStarted.png)

[2019-11-07 20:29] #6869 closed

[2019-11-07 21:05] catsby commented on #3554
Hello - I'm going to close this issue/question for now.

[2019-11-07 21:05] #3554 closed

[2019-11-07 21:09] catsby commented on #3615
Hello - I'm going to close this issue for now; it does not seem to be an issue with Vault itself. If you have new information or feel strongly otherwise, please let us know by replying here. Thanks!

[2019-11-07 21:09] #3615 closed

[2019-11-07 21:27] ak-beep-boop opened #7834 "MySQL RDS Plugin Error with Password Special Characters"
**Describe the bug**
When using the CLI or cURL to establish a new set of root database credentials, the remote authorization fails when there is an exclamation point in the password. The character cannot be escaped or URL-encoded successfully. An identical password without the exclamation point works without issues.

**To Reproduce**
Both CLI and cURL clients fail with a 1045 error:

[code]

[cod

[2019-11-07 21:33] dnascimento commented on #7641
@mjarmy when will Hashicorp release a new version of the SDK with this issue addressed?

[2019-11-07 21:34] catsby commented on #3651
Hello - I'm going to close this issue for now, as it didn't seem to be an issue with Vault itself. Please let me know if you have more information for us to reconsider. Thanks!

[2019-11-07 21:34] #3651 closed

[2019-11-07 21:40] catsby commented on #3705
Hello - I'm going to close this issue for now, as we never heard back. If you have more information to share please let us know and we can take a look. Thanks!

[2019-11-07 21:40] #3705 closed

[2019-11-07 21:57] catsby commented on #3755
Hello - I'm going to close this issue for now, thank you for participating in the discussion. HashiCorp has recently released a Helm chart for Vault, you can find more details on that here:

- https://www.vaultproject.io/docs/platform/k8s/index.html

Thanks!

[2019-11-07 21:57] #3755 closed

[2019-11-07 22:01] catsby commented on #3784
Hello -

I would imagine that only php files that directly interact with Vault would then reach out to vault on request. Depending on how you structure your application of course...

I apologize that it's been so long before you received any reply. If this is still something you're interested in figuring out, or perhaps you have and would like to share, then I encourage you to do so on our communi

[2019-11-07 22:01] #3784 closed

[2019-11-07 22:07] catsby commented on #3794
Hey @DaniGuardiola  - I apologize for the very, _very_, late reply. Unfortunately reviewing external repositories is not something we have the bandwidth to lend at this time. We do appreciate the work you've done to maintain an external client for interacting with Vault, and apologize again for not getting back to you sooner.

Cheers!

[2019-11-07 22:07] #3794 closed

[2019-11-07 22:39] catsby commented on #4047
Hello - I apologize for the very, _very_ late reply. I'm going to close this issue however, as we no longer use TravisCI with this repository. Thanks!

[2019-11-07 22:39] #4047 closed

[2019-11-08 01:33] Crizstian commented on #944
I have done the following and still no luck

[code]

[2019-11-08 01:54] #7610 closed

[2019-11-08 03:23] vickysy84 commented on #6588
Hi @raoofm I'm new to Vault. I am new to Vault and am looking at the audit logs but I don't see the update log similar to what you pasted above. Where can I find this?

[2019-11-08 08:28] michelvocks commented on #6792
@bandesz Sorry. It was #5731.

[2019-11-08 09:11] michelvocks commented on #7834
#6752 seems to be related.

[2019-11-08 11:13] mccurdyc commented on #7593
I'd love to pick this one up.

Is there a reason why we wouldn't want to do it similar to how it is done in [DynamoDB](https://github.com/hashicorp/vault/blob/master/physical/dynamodb/dynamodb.go#L121-L184, [Manta](https://github.com/hashicorp/vault/blob/master/physical/manta/manta.go#L35-L57) or [S3](https://github.com/hashicorp/vault/blob/master/physical/s3/s3.go#L48-L83)?

I did notice that [S3

[2019-11-08 12:52] mccurdyc opened #7843 "[docs/website/dynamic-secrets]: minor typo in multi-line cli command for configuring postgres as a secrets engine"
**Describe the bug**
A clear and concise description of what the bug is.

On [this page of the docs for dynamic secrets managment](https://learn.hashicorp.com/vault/secrets-management/sm-dynamic-secrets), specifically, [here](https://learn.hashicorp.com/vault/secrets-management/sm-dynamic-secrets#cli-command-1), there is a missing `\`. I just did a cross-codebase grep and found the same issue [her

[2019-11-08 12:53] mccurdyc commented on #7843
I've opened this PR to fix this - https://github.com/hashicorp/vault/pull/7842

[2019-11-08 12:56] michelvocks commented on #6641
I'm closing this issue due to inactivity and appears to me that all questions has been answered.
Please open a new issue if this is still a problem that needs to be addressed.

[2019-11-08 12:56] #6641 closed

[2019-11-08 12:59] michelvocks commented on #6630
Hi @olx-shashank-singh!

The error message indicates that Vault is unable to talk to the Kubernetes API endpoint on port 6443. Could you please verify that the host of your Vault instance is able to query your Kubernetes API endpoint?

Cheers,
Michel

[2019-11-08 13:06] michelvocks commented on #6607
Hi @tsahoo!

I will close this issue for now since it doesn't seem to be a bug in Vault itself.
Questions should be asked via [Vault's Discussion Forum](https://discuss.hashicorp.com/c/vault) or via [Vault's Mailing List](https://groups.google.com/forum/#!forum/vault-tool).

Cheers,
Michel

[2019-11-08 13:06] #6607 closed

[2019-11-08 13:10] michelvocks commented on #6587
Closing this since https://github.com/hashicorp/go-plugin/pull/111 has been merged.

[2019-11-08 13:10] #6587 closed

[2019-11-08 13:20] michelvocks commented on #6509
I will close this issue for now due to inactivity. @infa-svijayak Feel free to open a new issue if this problem still occurs for you.

[2019-11-08 13:20] #6509 closed

[2019-11-08 13:27] chris-vest commented on #6641
@michelvocks Might be useful to keep this around to track when golang/go#29308 has been fixed and the fix consequently merged into Vault?

[2019-11-08 13:35] tsaarni opened #7844 "Upgrade the go compiler version in Docker build"
**Is your feature request related to a problem? Please describe.**

The Go compiler version in [scripts/cross/Dockerfile](https://github.com/hashicorp/vault/blob/master/scripts/cross/Dockerfile) is not in sync with the compiler version used in CI.

**Describe the solution you'd like**

I'd like the compiler version to be stepped to the same version as used in CI (as of today: go1.12.12).

**Descri

[2019-11-08 15:07] michelvocks commented on #6341
Hi @illectronic!

Would you mind to share the error message you mentioned?

Cheers,
Michel

[2019-11-08 15:27] ak-beep-boop commented on #7834
@michelvocks #6752 did seem related, but the solution to that thread (url encoding) did not seem to work. Perhaps I am doing the encoding wrong, could you provide an example?

It occurred to me that it may also be possible to use base64 encoding for these values. Does Vault support base64 for transport? Can it auto-detect and decode on the back end?

[2019-11-08 15:31] michelvocks commented on #6275
Closing this since #7652 has been merged which addresses this issue.

[2019-11-08 15:31] #6275 closed

[2019-11-08 15:41] catsby commented on #7593
Hello -

We would certainly welcome and review a pull request that allows the Postgres storage backend to read the connection url from the environment. I would probably start by requiring the full connection string as opposed to accepting the individual parts (username, password, url, port, so on...). I admit off-hand I'm not sure if other storage backends accept both (full vs piecemeal) so maybe

[2019-11-08 15:41] michelvocks commented on #6656
Closing this in favor of #6215

[2019-11-08 15:41] #6656 closed

[2019-11-08 15:56] michelvocks commented on #6147
Closing this due to inactivity. @ahladh Feel free to open a new issue if this issue is still present for you.

[2019-11-08 15:56] #6147 closed

[2019-11-08 16:46] catsby commented on #4342
Hello - I'm going to close this issue for now; we tag and push source to GitHub and provide release binaries on https://releases.hashicorp.com

Cheers!

[2019-11-08 16:46] #4342 closed

[2019-11-08 16:55] catsby commented on #4507
Hello! I apologize for the delay in response here. I'm going to close this issue however, as it was pointed out that the `-detailed` flag will show this information.

Thanks!

[2019-11-08 16:55] #4507 closed

[2019-11-08 17:10] catsby commented on #4529
Hello - I apologize for the delay in following up here. I'm going to close this issue for now assuming it was addressed in #4469 as stated. Please let us know if you feel otherwise. Thanks!

[2019-11-08 17:10] #4529 closed

[2019-11-08 17:18] catsby commented on #4639
Hello - after a long delay, I'm closing this issue as it was implemented in #5325. Thanks!

[2019-11-08 17:18] #4639 closed

[2019-11-08 17:20] catsby commented on #4713
Hello -

I'm closing this issue now, as Jeff pointed out that Vault can be configured with `cluster_address` without using the default `+1` to the listener address.

- https://www.vaultproject.io/docs/configuration/listener/tcp.html

Thanks!

[2019-11-08 17:20] #4713 closed

[2019-11-08 17:35] catsby commented on #5223
Hello! I'm going to close this issue now as #5308 was merged. Thank you!

[2019-11-08 17:35] #5223 closed

[2019-11-08 20:02] raoofm commented on #5408
@mitchellmaler isn't this normally achieved via a service/LB in front of n nodes in the cluster?

[2019-11-08 21:23] v6 commented on #1148
I guess what you're saying is that Vault will _not_ trust a client certificate that does not have this EKU?

[2019-11-09 05:30] bradbl opened #7848 "api go module results in ambiguous import error"
The go modules [document](https://github.com/golang/go/wiki/Modules#is-it-possible-to-add-a-module-to-a-multi-module-repository) describes a procedure for "carving out" modules from a parent module in a multi-module repository. To prevent ambiguous imports at compile-time, the new module should depend upon the parent.

From other closed issues, I understand the Vault team's guidance is to only imp

[2019-11-09 05:50] jefferai commented on #7848
There's nothing for us to do here...if you are seeing this problem, please ask the other project to update their dependencies. We've been exposing go modules in a released version for nearly four months and in master for several months longer.

[2019-11-09 05:50] #7848 closed

[2019-11-09 08:54] jeiman opened #7849 "First time setting up Vault Service restarting too often and failing eventually"
Hi there,

I am trying to setup the Vault service on a simple DigitalOcean droplet.

I have followed the steps here: [DigitalOcean Docs](https://www.digitalocean.com/community/tutorials/how-to-securely-manage-secrets-with-hashicorp-vault-on-ubuntu-16-04) while also updating the system init file with the latest configuration from HashiCorp Vault's documentation here: [Vault Docs](https://learn.hash

[2019-11-09 10:24] jeiman commented on #7849
Update: When I run vault command: `vault server -config=/etc/vault.hcl`, the server works.
[code]

Something must be wrong with the system unit configuration I suppose.

[2019-11-09 15:29] mccurdyc commented on #7593
Hi @catsby @KristapsT

**TL;DR** - After thinking about this a bit, I don't know that "hiding" these configuration options in environment variables is a good idea. Terraform with the [vault provider](https://www.terraform.io/docs/providers/vault/index.html) --- [here is an example](https://www.terraform.io/docs/providers/vault/r/database_secret_backend_connection.html#example-usage) --- and terraf

[2019-11-09 16:02] #7406 closed

[2019-11-09 16:13] jefferai commented on #4179
No response after a year, closing.

[2019-11-09 16:13] #4179 closed

[2019-11-10 01:56] jeiman commented on #7849
Update: I have fixed this by using an unorthodox, hacky step.
1. I modified the system unit configuration syntax, particularly `Restart=on-failure` to `Restart=on-abnormal` to see if there are any error messages being thrown.
2. It turns out to be a Permissions issue with Vault reading the SSL PEM files that LetsEncrypt had generated for me.
3. Fixed the issue and reverted back the changes to `Res

[2019-11-10 02:22] #7849 closed

[2019-11-10 11:44] kuppuram commented on #3958
try adding parameter disable_mlock = false in the config file.

[2019-11-11 15:50] Kasama opened #7851 "[UI] OIDC authentication not working with Stylus extension installed"
**Describe the bug**
When trying to authenticate with Google OIDC while having the [Stylus](https://github.com/openstyles/stylus) extension installed, the popup window stays frozen for a couple of seconds (like in the image) then redirects to the `/ui/vault/auth` page again (second image), while the original one keeps waiting for the callback.

![frozen](https://user-images.githubusercontent.com/1

[2019-11-11 21:07] DI-DaveGoodine commented on #6287
In my case, I got this error when I had a ~/.vault-token set that was valid on a different vault server.

[2019-11-11 23:31] briankassouf commented on #7791
Closing since this is fixed by #7739

[2019-11-11 23:31] #7791 closed

[2019-11-12 08:37] dch opened #7863 "v.1.2.4 fails to build from source on FreeBSD"
**Describe the bug**

On FreeBSD vault is compiled from source, using build instructions from hashicorp repo.
Currently this fails during `static-assets` step due to missing `pkg/web_ui` dir

[code]

**To Reproduce**

Steps to reproduce the behavior:

[code]

* Server Operating System/Architecture:

- FreeBSD 12.1R with Go 1.13.4 compiler

**Additional context**

This presumably is broken for anyb

[2019-11-12 10:45] michelvocks commented on #6110
Closing this due to inactivity. @ahladh Feel free to open a new issue if you still have issues with this.

[2019-11-12 10:45] #6110 closed

[2019-11-12 11:01] michelvocks commented on #6101
Closing this due to inactivity. @UlaganathanNamachivayam Feel free to open a new issue if this is still a problem for you.

[2019-11-12 11:01] #6101 closed

[2019-11-12 12:43] michelvocks commented on #5969
Closing this since https://github.com/hashicorp/vault/pull/7617 has been merged and will be released with Vault 1.3.

[2019-11-12 12:43] #5969 closed

[2019-11-12 12:59] michelvocks commented on #5922
Apparently, this issue is not related to Vault. I will close this for now but feel free to open a new issue if this is still a problem.

[2019-11-12 12:59] #5922 closed

[2019-11-12 13:41] martinssipenko commented on #7418
@tyrannosaurus-becks any updates on this? This is a blocker as it's impossible to use custom STS endpoint (creating a role fails because signatures don't match).

[2019-11-12 13:53] krish7919 commented on #5968
I am facing a similar issue and I updated the `max_parallel` from `32` to `4`; will keep this under observation and update..

[2019-11-12 14:19] bardagadvergur commented on #5968
@krish7919 Where did you set this? How does the rest of the config look like?

[2019-11-12 14:24] krish7919 commented on #5968
I use a postgres backend, documented [here](https://www.vaultproject.io/docs/configuration/storage/postgresql.html#max_parallel).

[2019-11-12 14:24] bardagadvergur commented on #5968
Thanks. I am using mssql. `max_parallel` had no effect.

[2019-11-12 19:29] #7804 closed

[2019-11-12 20:46] catsby commented on #5540
Related issue: https://github.com/hashicorp/vault/issues/5525

[2019-11-12 21:09] catsby commented on #7507
Hello - I believe this was implemented in https://github.com/hashicorp/vault/pull/7817 "Add ability to renew by accessor". I'm going to close this issue for now, but if you feel it's not addressed by #7817 please let us know. Thanks!

[2019-11-12 21:09] #7507 closed

[2019-11-12 22:11] erickufrin opened #7871 "OpenID-Connect docs are unusable"
**Is your feature request related to a problem? Please describe.**
Inability to understand documentation which is too generic. Lack of detail around "ROLE"

Specific section of issue is:
default_role = default role the user will be using when connecting.

There is no detail on how to properly configure a role for an environment such as Okta.

**Describe the solution you'd like**
Fully built-out do

[2019-11-12 23:08] Lasering commented on #7507
@jefferai I cannot thank you enough for implementing this feature. :tada: :+1: :1st_place_medal: :clap:

[2019-11-13 07:43] #7843 closed

[2019-11-13 10:22] samsalisbury commented on #7844
Hi @tsaarni, we no longer use this image to produce releases, and it will soon be deprecated completely, but for now while it exists it's better to keep it updated, which is done, thanks for the report, see https://github.com/hashicorp/vault/commit/0e6c4a428b77c348c37e6c2eca31a965a53e7197

[2019-11-13 10:22] #7844 closed

[2019-11-13 10:29] tsaarni commented on #7844
@samsalisbury Thank you!
Do you have tips on alternative way(s) to reproduce the release builds as closely as possible?

[2019-11-13 10:41] samsalisbury commented on #7844
Right now we don't have any good alternatives, however we are currently working on moving most of the build logic out of CI config and into local Makefiles, so you'll be able to run the exact same build locally as we run to produce releases. Keep an eye out for this in future release changelogs.

[2019-11-13 11:55] filintod commented on #4800
I have not tested but looking at https://github.com/hashicorp/vault/blob/278bdd1f4e3ca4653f4a11d8591ecebeafb196bd/builtin/logical/consul/client.go and with previous experiences with consul I have found that setting the CONSUL_CACERT, CONSUL_CLIENT_CERT and CONSUL_CLIENT_KEY is enough to so when the NewClient method is called these values are use as default.  Nomad has similar vars NOMAD_CACERT, NO

[2019-11-13 13:16] AndreasFolz opened #7874 "AWS IAM Authentication without region set in config defaults to us-east-1"
**Describe the bug**
Usage of Vault container version 1.2.4 breaks communication, because the identified region is `us-east-1`.

**To Reproduce**
Steps to reproduce the behavior:
1. Setup a vault docker container that should use a config file without region identified. See below for the config file
2. Try to boot the container, assuming you have already access set up for this IAM role to vault.
3.

[2019-11-13 13:52] michelvocks commented on #7785
Hi @abhishekpadadale!

This works for me without any issues.
It might be possible that old versioned modules are still existing in your `pkg/` folder. I recommend to remove all existing data in the `pkg/<os>/github.com/vault` folder and try it again.

Cheers,
Michel

[2019-11-13 14:19] michelvocks commented on #7495
Hi @coffeepac!

I'm also not able to reproduce this. I also tried it on CentOS 7 with no luck.
Is there anything else you do / any other information you can provide to help us reproduce this issue?

Cheers,
Michel

[2019-11-13 15:24] yuanmwang-wf commented on #7871
I recently set up OIDC authentication with Okta in my company. Not sure if you've seen this, but I followed the steps outlined in this article and I found it to be quite useful: https://learn.hashicorp.com/vault/operations/oidc-auth

There are some Okta specific setups needed too: https://www.vaultproject.io/docs/auth/jwt_oidc_providers.html#okta

In your oidc role, make sure to set oidc_scopes to

[2019-11-13 17:56] kalafut commented on #7874
@AndreasFolz The auto detection of region based on environment has been a source of confusion and a number of Github issues, especially in multi-region environments, since it was introduced. User who didn't configure `sts_endpoint` were running into CLI and Agent errors when they spanned regions, and while the CLI issues could be worked around with the `region` parameter, Agent was more challengin

[2019-11-13 17:58] coffeepac commented on #7495
unfortunately, no.  I've given up trying to use the `-field` flag and am just dumping the whole key in json and parsing locally with `jq`.

[2019-11-13 18:01] jefferai commented on #7495
Try a newer CLI version. Maybe it's been fixed, which is why nobody can repro.

[2019-11-13 19:00] AndreasFolz commented on #7874
@kalafut I understand why this was done, but this now removes all possibility to set the AWS_REGION as an environment variable and forces all users to add the region parameter to their file.
This is especially annoying, since it does not allow us to use the same docker image of vaultagent across multiple regions and we always have to add this in our bootstrap as opposed to just use an environment